.lmo-one-column-layout
  %main.verify-stances-page.lmo-row
    .verify-stances-page__main-content.lmo-flex.lmo-card.lmo-relative{layout: "column"}
      .lmo-blank{ng-if: "stances().length > 0"}
        %h1.lmo-h1-medium{translate: "verify_stances.title"}
        %p.lmo-hint-text{translate: "verify_stances.description"}
        .verify-stances-page__stance{ng-repeat: "stance in stances() track by stance.id"}
          {{stance.poll().title}}
          %poll_common_directive{name: "stance_choice", stance_choice: "choice", ng-if: "choice.score > 0", ng-repeat: "choice in stance.stanceChoices() | orderBy: 'rank'"}
          %p {{stance.reason}}
          %md-button.verify-stances-page__verify{ng-click: "verify(stance)", translate: "verify_stances.verify"}
          %md-button.verify-stances-page__remove{ng-click: "remove(stance)", translate: "verify_stances.remove"}
      %p{translate: "verify_stances.all_done", ng-if: "stances().length == 0"}
