.lmo-one-column-layout
  %main.verify-stances-page.lmo-row
    .verify-stances-page__main-content.lmo-flex.lmo-card.lmo-relative{layout: "column"}
      %h1.lmo-h1-medium{translate: "verify_stances.title"}
      %p.lmo-hint-text{translate: "verify_stances.description"}
      .verify-stances-page__stance{ng-repeat: "stance in stances() track by stance.id"}
        {{stance.poll().title}}
        %poll_common_stance_choice{stance_choice: "choice", ng-if: "choice.score > 0", ng-repeat: "choice in stance.stanceChoices()"}
        %p {{stance.reason}}
        %md-button{ng-click: "verify(stance)", translate: "verify_stances.verify"}
        %md-button{ng-click: "remove(stance)", translate: "verify_stances.remove"}
