.contact-user-form
  .lmo-disabled-form{ng-if: "isDisabled"}
  %md-input-container.md-block
    %label{translate: "contact_request_form.message_placeholder"}
    %textarea.contact-request-form__message.lmo-primary-form-input{ng-model: "contactRequest.message", md-maxlength: "500"}
    %validation_errors{subject: "contactRequest", field: "message"}

  .lmo-md-actions
    %p.lmo-textarea__helptext.lmo-flex__grow{translate: "contact_request_form.helptext", translate-value-name: "{{user.firstName()}}"}
    %md-button.md-primary.md-raised.contact-request-form__submit{ng-click: "submit()", translate: "common.action.send"}
