.auth-email-form {
  margin-bottom: 16px;
}
.auth-email-form__or-enter-email {
  text-align: center;
}
.auth-email-form__email {
  margin-top: 24px;
  margin-bottom: 0px;
}
.auth-email-form__email input {
  margin-bottom: 0px;
}
