*, *:before, *:after { box-sizing: border-box; }

body {
  background-color: $background-color;
}

header {
  min-height: $navbar-height;
  z-index: 70;
}

h1, h2, h3, h4 {
  // color: $primary-text-color;
  text-transform: none;
  @include fontMedium;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input, select, textarea{
  margin-bottom: 10px;
}

input[type="file"] { display: none; }

a {
  color: $link-color;
  text-decoration: none;
}
