.lmo-btn-link--blue {
  @include lmoBtnLink;
  color: $link-color;
}

.lmo-dropdown-menu .md-button {
  min-width: 48px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
