%section#contents
  %h1#help-header Need more information?
  .row
    .col-sm-3
      %ul
        %li.top-level <a href="#getting-started">Getting started</a>
        %li <a href="#starting-new-group">When you want to start a new Loomio group</a>
        %li <a href="#invited-into-group">When you are invited into a Loomio group</a>
        %li <a href="#joining-existing-group">When you want to join an existing Loomio group</a>
        %li <a href="#single-sign-on">Single sign-on</a>
      %ul
        %li.top-level <a href="#group-settings">Group settings</a>
        %li <a href="#group-profile">Group profile</a>
        %li <a href="#group-privacy">Group privacy</a>
        %li <a href="#group-permissions">Group permissions</a>
      %ul
        %li.top-level <a href="#coordination">Coordinating your group</a>
        %li <a href="#adding-cover-photo">Adding a cover photo</a>
        %li <a href="#manage-membership">Managing membership</a>
        %li <a href="#deactivating-groups">Deactivating/archiving a group</a>
    .col-sm-3
      %ul
        %li.top-level <a href="#inviting-members">Inviting new members</a>
        %li <a href="#importing-contacts">Importing contacts</a>
        %li <a href="#pending-invitations">Pending invitations</a>
      %ul
        %li.top-level <a href="#discussion-threads">Discussion threads</a>
        %li <a href="#starting-discussions">Starting a discussion</a>
        %li <a href="#providing-context">Providing context</a>
        %li <a href="#discussion-privacy">Discussion privacy</a>
        %li <a href="#editing-discussions">Editing a discussion</a>
        %li <a href="#moving-discussions">Moving a discussion</a>
        %li <a href="#deleting-discussions">Deleting a discussion</a>
      %ul
        %li.top-level <a href="#comments">Comments</a>
        %li <a href="#posting-comments">Posting a comment</a>
        %li <a href="#attaching-files">Attaching files</a>
        %li <a href="#mentioning">@mentioning group members</a>
        %li <a href="#editing-comments">Editing a comment</a>
        %li <a href="#liking-comments">Liking a comment</a>
        %li <a href="#deleting-comments">Deleting a comment</a>
    .col-sm-3
      %ul
        %li.top-level <a href="#proposals">Proposals</a>
        %li <a href="#starting-proposals">Starting a proposal</a>
        %li <a href="#editing-proposals">Editing a proposal</a>
        %li <a href="#stating-positions">Stating your position</a>
        %li <a href="#changing-positions">Changing your position</a>
        %li <a href="#setting-outcome">Setting a proposal outcome</a>
        %li <a href="#closing-proposals">Closing a proposal</a>
        %li <a href="#previous-decisions">Closed proposals/previous decisions</a>
      %ul
        %li.top-level <a href="#subgroups">Sub-groups</a>
        %li <a href="#subgroup-privacy">Sub-group privacy
      %p.single-item <a href="#dashboard">Your dashboard</a>
      %ul
        %li.top-level <a href="#keeping-up-to-date">Keeping up to date</a>
        %li <a href="#volume">Volume</a>
        %li <a href="#yesterday-on-loomio">"Yesterday on Loomio"
        %li <a href="#email-settings">Email settings</a>
    .col-sm-3
      %ul
        %li.top-level <a href="#user-profile">Your user profile</a>
        %li <a href="#language-settings">Language settings</a>
        %li <a href="#usernames">Usernames</a>
        %li <a href="#updating-personal-settings">Updating your personal settings</a>
        %li <a href="#profile-photo">Uploading a profile photo</a>
        %li <a href="#changing-passwords">Changing your password</a>
        %li <a href="#account-deactivation">Deactivating your account</a>
        %li <a href="#account-reactivation">Reactivating your account</a>
      %p.single-item <a href="#leaving-groups">Leaving a group</a>
      %p.single-item <a href="#translation">Translation</a>
      %p.single-item <a href="#security">Privacy and security</a>
      %p.single-item <a href="#contributing">Contributing to Loomio</a>
      %p.single-item <a href="#loomio-community">The Loomio Community</a>
      %p.single-item <a href="#loomio-development">Keeping up with Loomio development</a>
      %p.single-item <a href="#faq">FAQ</a>
