%section#contributing
  %h1 Contributing to Loomio
  %p There are currently several avenues through which people can make direct contributions to Loomio:
  %ul#how-to-contribute
    %li <strong>Open-source development</strong>
    %p If you're interested in contributing to the Loomio codebase, the first place to start is to take a look at our <a href="https://github.com/loomio/loomio">Github repository</a>. We use <a href="https://github.com/loomio/loomio/issues">Github's issue tracker</a> to track tasks, enhancements and bugs, and we're always delighted to support external contributors! There is an installation guide to get you started on our <a href="https://github.com/loomio/loomio/wiki">Github wiki</a> and a public <a href="https://www.loomio.org/g/C7I2YAPN/loomio-community-installing-loomio">Loomio Community sub-group dedicated to installation support and assistance</a>, in which you can ask any questions that might arise along the way.
    %li <strong><a href="#translation">Translation</a></strong>
    %li <strong><a href="#loomio-community">The Loomio Community</a></strong>
  .row#bottom-links
    %a.back-to-top{:href => "#contents"} ^ Back to top