%section#coordination
  %h1 Coordinating your group
  %p As a coordinator of a Loomio group you're responsible for guiding your group through the process of learning how to use a new piece of software, as well as learning new processes for collaborating more effectively and making good decisions together. The tasks outlined below are tasks only the coordinators of your group have permission to perform.
  .row
    .col-sm-8
      %h3.anchor#adding-cover-photo Adding a cover photo
      %p When your group is up and running you can add your cover photo. Your cover photo can be changed at any time. This is an easy way of helping your group members feel a little more at home on Loomio. When you hover over the grey area at the top of your Loomio group a pencil icon will appear in the top right hand corner. Click it and you will be able to select an image to upload. The best size for cover photos is 970 x 200 pixels.
    .col-sm-4
      =image_tag "cover-photo-upload.png", class: "screenshot"
  %h3.anchor#manage-membership Managing membership
  .row
    .col-sm-8
      %p On your Loomio group page, there’s an <strong>“Options”</strong> button, which will let you choose <strong>“Manage members”</strong> if you are a group coordinator, or if the <a href="#group-permissions">group permissions</a> are set to <strong>“Members of the group can invite other people to the group”</strong>.
    .col-sm-4
      =image_tag "manage-members.png", class: "screenshot"
  %h4 Accepting/ignoring membership requests
  %p If your <a href="#group-privacy">group privacy settings</a> allow people to join your group <strong>“By request”</strong>, a coordinator will need to approve each membership request. Coordinators will receive an email each time there is a request to approve. They can choose to ignore a request if they don’t want to approve someone.
  =image_tag "pending-request.png", class: "screenshot"
  %h4 Emailing group members
  .row
    .col-sm-8
      %p If you want to send an email to all members of your group, you can do so within the <strong>“Members”</strong> page, which is accessed by selecting <strong>“Manage members”</strong> from the <strong>"Options"</strong> menu. Clicking the <strong>"Email group members"</strong> button at top right of the page will let you compose and send a message to everyone in your group.
    .col-sm-4
      =image_tag "email-group-members.png", class: "screenshot"
  %h4 Adding/removing coordinators
  %p Only coordinators can add and remove coordinators. If you wish to add or remove a coordinator, you can do so from the <strong>“Members”</strong> page which is accessed by selecting <strong>“Manage members”</strong> from the <strong>"Options"</strong> menu. Next to every member who is not already a coordinator, there will be a <strong>“Make coordinator”</strong> button. Clicking this will give the corresponding member coordinator permissions. Next to every coordinator there will be a <strong>“Remove coordinator”</strong> button. Clicking this removes the coordinator permissions for the corresponding coordinator.
  =image_tag "add-remove-coordinator.png", class: "screenshot"
  %h4 Adding/removing group members
  %p Only coordinators can remove group members. If you are a coordinator and you wish to remove a group member, you can do so from the <strong>“Members”</strong> page which is accessed by selecting <strong>“Manage members”</strong> from the <strong>"Options"</strong> menu. Next to every group member there will be a <strong>“Remove”</strong> button. Clicking this button removes them from your group.
  %h3.anchor#deactivating-groups Deactivating/archiving a group
  .row
    .col-sm-8
      %p Deactivating your group means that your group members will no longer be able to access your group. If you are a group coordinator and you wish to deactivate your group you can do so by selecting <strong>“De-activate group”</strong> from the <strong>“Options”</strong> menu on the group page. Deactivated groups can be restored by a member of the Loomio team. To reactivate your deactivated group, contact the Loomio team by sending an email to <a href="mailto:contact@loomio.org">contact@loomio.org</a>.
    .col-sm-4
      =image_tag "deactivate-group.png", class: "screenshot"
  %h3.anchor#coordinator-tips Tips for engaging your group
  %h4 <a href="#customising-invitations">Customise your invitation message</a>
  %h4 Create an engaging first proposal:
  %p People will be excited to jump in and start participating when there’s an engaging proposal on the table. A good proposal contains a plan of action for the group, so that it’s immediately obvious what it means to agree or disagree. Think about how you can identify discussions/decisions the group is currently undertaking in person or by email that would be easier if they were on Loomio. Alternatively, if your group wants to get accustomed to using the tool before using it to address real decisions, you could start a light-hearted decision to give everyone a chance to play with the tool and see the decision-making process in action.
  %h4 Encourage <a href="#mentioning">@mentioning</a>:
  %p Another simple way to encourage people to engage in a discussion is to use the @mention feature to prompt specific people; this will send them an email to tell them they’ve been mentioned in a comment.
  .row#back-to-top
    .col-sm-12
      %a{:href => "#contents"} ^ Back to top
