.row-fluid
  %h1= t :"help.coordinating"
.row-fluid
  .span8.extra-margin
    %p= t :"help.coordinating_details"
.row-fluid#writing-a-great-invitation
  .span8
    = t :"help.invitation_html"
.row-fluid#tips-for-engaging-your-group
  .span8
    = t :"help.engaging_html"
