%section{"role" => "region", "aria-labelledby" => "dashboard"}
  %h2#dashboard= t :"new_help.dashboard.title"
  %p= t :"new_help.dashboard.body"
  =image_tag "dashboard-screenshot.png", class: "screenshot"
  = render 'help/help_links'
