%section#dashboard
  %h1 Your dashboard
  %p Your dashboard is your home page. It gives you an overview of what is happening in your groups. It is the page you see when you first log in to Loomio. Your dashboard displays content from your groups in a prioritised list. Open proposals are at the top, followed by all of the discussion threads from all of the groups you are a member of, sorted by most recent activity.
  =image_tag "dashboard-screenshot.png", class: "screenshot"
  .row#back-to-top
    .col-sm-12
      %a{:href => "#contents"} ^ Back to top
