%section#dashboard
  %h1 Your dashboard
  %p Your dashboard is your home page. It gives you an overview of what is happening in your groups. It is the page you see when you first log in to Loomio. Your dashboard displays content from your groups in a prioritised list. Open proposals are at the top, followed by all of the discussion threads from all of the groups you are a member of, sorted by most recent activity. If a discussion or proposal title is grey then new activity has taken place since you last viewed that particular thread. Numbers above a comment icon reflect how many new comments have been posted since you last viewed the corresponding page. A pie graph is a reflection of the state of the pie graph in the corresponding proposal. If you have stated your position on a particular proposal, you will see an icon that represents your position in front of the corresponding proposal title.
  =image_tag "dashboard-screenshot.png", class: "screenshot"
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"} ^ Back to top
    .col-sm-6
      %a.feedback-discussion-link{:href => "https://www.loomio.org/d/Yl5D3EC0/new-help-documentation-we-want-your-feedback"} Think this explanation could be clearer? Give us your feedback >
