%section#faq
  %h1 FAQ
  .row
    .col-sm-12
      %h3 Where is my confirmation email?
      %p If you don’t receive an email confirming your group registration, you might need to check your spam or junk mail folder – sometimes they end up in there.
      %h3 I have approved membership requests for people who wanted to join my group but they haven’t shown up as members, what’s going on?
      %p If the people who have requested membership to your group do not have existing Loomio accounts then they will need to create accounts before they become group members. After you approve their membership requests, they will receive a confirmation email and following the link in this email will prompt them to create a Loomio account. When their accounts have been created they will show up as members of your group.
      %h3 I’ve forgotten my password, what do I do?
      %p If you’ve forgotten your password click the <strong>“Forgot your password?”</strong> link on the <a href="http://www.loomio.org/users/sign_in">Log in page</a>. You will be asked to enter the email address associated with your Loomio account and password reset instructions will be sent to this email address.
      %h3 Do I need a Loomio account to participate in discussions?
      %p Yes. Even though there are different levels of group privacy, everyone who wishes to participate in a Loomio group is required to have a Loomio account.
      %h3 Can I sign in with Google or Facebook?
      %p Yes, see the segment on “Single sign-on” in the <a href="#getting-started">Getting started</a> section.
      %h3 What if I have a feature to suggest?
      %p You might be interested in taking a look at our <a href="http://www.loomio.org/roadmap">public roadmap</a>, which documents what’s coming up in the development pipeline. We also have an open Loomio Community subgroup dedicated to <a href="https://www.loomio.org/g/GN7EFQTK/loomio-community-feature-ideas">Feature Ideas</a>. If you don’t see the feature you wish to suggest on our public roadmap, and you are interested in participating in discussions around the development of Loomio, you might want to consider joining this group.
      %h3 What’s coming up in the Loomio development pipeline?
      %p To find out what our developers are working on and what’s coming up in the development pipeline, take a look at our <a href="https://www.loomio.org/roadmap">public roadmap</a>. You can vote for the ideas you want to see prioritised, and comment with your feedback.
      %h3 What is the maximum number of members I can have in a group?
      %p Currently maximum group size is 1000 members. If you need to increase this for any reason, contact us - <a href=mailto:contact@loomio.org>contact@loomio.org</a>.
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"} ^ Back to top
    .col-sm-6
      %a.feedback-discussion-link{:href => "https://www.loomio.org/d/Yl5D3EC0/new-help-documentation-we-want-your-feedback"} Have we missed something? Give us your feedback >
