.row
  %h1= t :"help.get_in_touch"
.row
  .col-md-8
    %p.extra-margin= t :"help.get_in_touch_description_html", link: contact_path
.row#join-the-community
  %h1= t :"help.join_the_community"
.row
  .col-md-8
    %p.extra-margin= t :"help.join_the_community_description_html"
