.row-fluid
  %h1= t :"help.get_in_touch"
.row-fluid
  .span8
    %p.extra-margin= t :"help.get_in_touch_description_html"
.row-fluid#join-the-community
  %h1= t :"help.join_the_community"
.row-fluid
  .span8
    %p.extra-margin= t :"help.join_the_community_description_html"
