%section#feedback
  .inner-container
    .row-fluid
      .span6
        %h2= t :"help.get_in_touch"
      .span6
        %p= t("help.get_in_touch_description_html")
    .row-fluid
      .span6
        %h2= t :"help.join_the_community"
      .span6
        %p= t("help.join_the_community_description_html")
