%section#getting-started
  %h1 Getting started
  %p When you first get into Loomio, you might join in a few ways. Here's some information about each entry point:
  %h3.anchor#starting-new-group When you want to start a new Loomio group
  .row
    .col-sm-8
      %p If you do not have a Loomio account you can start a new group from the Loomio front page by clicking the <strong>“Try out Loomio beta”</strong> button. You will be guided through the steps to start your own group. As part of the group setup process, you will need to determine how you want your group to function by customising your group settings. Click <a href="#group-settings">here</a> to read more about group settings.
    .col-sm-4
      =image_tag "try-loomio-beta.png", class: "screenshot"
  %h3.anchor#invited-into-group When you are invited into a Loomio group
  %p When you receive an invitation to join an existing Loomio group, the email you receive will include a unique invitation link. When you follow this link, if do not have an existing Loomio user account you will be prompted to create an account with your email address and a password. If you already have a Loomio account you will be taken straight to the group.
  %h3.anchor#joining-existing-group When you want to join an existing Loomio group (the <a href="http://loomio.org/explore">Explore page</a>)
  =image_tag "explore-link-footer.png", class: "screenshot"
  %p The <a href="https://www.loomio.org/explore">Explore page</a> shows you public groups active on Loomio. It is accessible throughout the Loomio app via the <strong>“Public groups”</strong> link in the footer. From the <a href="https://www.loomio.org/explore">Explore page</a> you can search for a group by name or keyword, or by category, and click on a group to see its public content. A group’s privacy settings determine how you can become a member.
  .row
    .col-sm-8
      %p Some public groups are <strong>open to join</strong>, in which case you will see a <strong>"Join group"</strong> button on the group page. If you have a Loomio account, clicking the <strong>"Join group"</strong> button adds you to the group. If you do not have a Loomio account you will be prompted to set one up.
    .col-sm-4
      =image_tag "join-group.png", class: "screenshot"
  .row
    .col-sm-8
      %p Other groups are accessible <strong>by request only</strong>, meaning that coordinators are required to approve (or ignore) membership requests. When this is the case you will see an <strong>"Ask to join group"</strong> button on the page. Upon clicking the <strong>"Ask to join group"</strong> button you will be prompted to provide an introduction, after which your membership request is sent and the group coordinators notified.
    .col-sm-4
      =image_tag "ask-to-join-group.png", class: "screenshot"
  %p Some public groups allow new members <strong>by invitation only</strong>, in which case you will be able to see the group but there will be no button and no way to join from the group page.
  %h3.anchor#single-sign-on Single sign-on
  .row
    .col-sm-7
      %p Loomio allows sign-up with Facebook, Google or Persona. If you do not have a Loomio account you can sign up using any of these third-party services by clicking the corresponding button on the <a href="http://loomio.org/sign_in">Log in page</a>. If you are currently logged in to Google, Facebook or Persona, this existing account will be detected. Otherwise you will be prompted to sign in. When Loomio recognises your existing third-party account, you will be required to follow the prompts to create your Loomio account.
      %p You may also associate an existing Google, Facebook or Persona account with an existing Loomio account. Ensure you are logged out, visit the <a href="https://www.loomio.org/users/sign_in">Log in page</a> and select your preferred platform. Loomio will ask you if you want to create a new account with your existing account on your chosen platform, or link it to your existing Loomio account.
    .col-sm-5
      =image_tag "login-page.png", class: "screenshot"
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"} ^ Back to top
    .col-sm-6
      %a.feedback-discussion-link{:href => "https://www.loomio.org/d/Yl5D3EC0/new-help-documentation-we-want-your-feedback"} Think this explanation could be clearer? Give us your feedback >
