.row#help-links
  .col-sm-6
    %a.back-to-top{:href => "#contents"}= t :"new_help.back_to_top"
  .col-sm-6
    %a.feedback-discussion-link{:href => "https://www.loomio.org/d/Yl5D3EC0/new-help-documentation-we-want-your-feedback"}= t :"new_help.faq.feedback_link"