%section#how-to
  %h1 How do I get started?
  %ul#get-started
    %li <strong>Start a group</strong> to collaborate with people on Loomio
    %li <strong>Invite people</strong> into your group
    %li <strong>Start a discussion</strong> on any topic
    %li <strong>Make a proposal</strong> to see how everyone feels about a particular course of action
    %li <strong>Decide together:</strong> anyone can agree, abstain, disagree, or block – so you can see how everyone feels about the proposal.
  %h2= t :"help.how_it_works"
  %p= t :"help.video_tutorial_description"
  <iframe width='356px' height='267px' src="//www.youtube.com/embed/eu6A1IQar0g" frameborder="0" allowfullscreen></iframe>