%section#how-to
  %h1 How do I get started?
  %ul#get-started
    %li <strong><a href="#starting-new-group">Start a group</a></strong> to collaborate with people on Loomio
    %li <strong><a href="#inviting-members">Invite people</a></strong> into your group
    %li <strong><a href="#starting-discussions">Start a discussion</a></strong> on any topic
    %li <strong><a href="#starting-proposals">Make a proposal</a></strong> to see how everyone feels about a particular course of action
    %li <strong><a href="#stating-positions">Decide together:</a></strong> anyone can agree, abstain, disagree, or block – so you can see how everyone feels about the proposal.
  %h2= t :"help.how_it_works"
  %p= t :"help.video_tutorial_description"
  <iframe width='356px' height='267px' src="//www.youtube.com/embed/eu6A1IQar0g" frameborder="0" allowfullscreen></iframe>