%section#inviting-members
  %h1 Inviting new members
  .row
    .col-sm-8
      %p Depending on your <a href="#group-settings">group settings</a>, new members can be invited either by everyone in the group, or by coordinators only. The <strong>Invitations</strong> page is accessed by clicking the <strong>"Invite people"</strong> button on your group page.
    .col-sm-4
      =image_tag "invite-people-button.png", class: "screenshot"
  .row
    .col-sm-7
      %p To invite new people into your group, enter their email addresses, separated by commas. You can choose to use Loomio's default message, or create a custom message. 
      %p.anchor#customising-invitations Customising the invitation message can be a great opportunity to engage new members from the outset. The first question every new member will have is <strong><i>"what is this group for?"</i></strong>.   Think about the simplest way you can describe the group: <strong><i>What do you want to achieve together? What types of decisions will you be making? Who will be involved?</i></strong> People will want to know why they’ve been invited, what’s expected of them, and why it’s worth their time to learn how to use a new tool.
      %p When you submit the invitations form an email will be sent to each of the email addresses you supplied, containing your message, and a unique invitation link:
      =image_tag "invitation-email.png", class: "screenshot"
    .col-sm-5
      =image_tag "invitation-form.png", class: "screenshot"
  %h3.anchor#importing-contacts Importing contacts
  %p Importing your Google contacts into Loomio makes it a lot easier to add people to your groups. Once your contacts have been imported you don’t need to fill in individual email addresses; you can just start typing names and suggestions will pop up. You can import your Google contacts from the <strong>"Invite people"</strong> page.
  .row
    .col-sm-6
      %p Click the <strong>“Import your contacts from Google”</strong> link under the email addresses field. You will be prompted to grant Loomio permission to see your contact list. Loomio will use this information for no other purpose than helping you select people to add to your group.
    .col-sm-6
      =image_tag "import-contacts-link.png", class: "screenshot"
      =image_tag "import-contacts-permission.png", class: "screenshot"
  %h3.anchor#pending-invitations Pending invitations
  %p You can see a list of people who have been invited to join your group but have not yet accepted the invitation in a <strong>"Pending invitations"</strong> panel at the bottom of the <strong>"Members"</strong> index page. To access the <strong>"Members"</strong> page and view the pending invitations, click the <strong>"More..."</strong> link in the <strong>"Members"</strong> panel on the left-hand side of your group page.
  =image_tag "pending-invitation.png", class: "screenshot"
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"} ^ Back to top
    .col-sm-6
      %a.feedback-discussion-link{:href => "https://www.loomio.org/d/Yl5D3EC0/new-help-documentation-we-want-your-feedback"} Think this explanation could be clearer? Give us your feedback >
