%section#keeping-up-to-date
  %h1 Keeping up to date
  %p You can determine how much information you want to receive about Loomio groups you are participating in.
  %h3.anchor#email-settings Email settings
  .row
    .col-sm-9
      %p You can choose which group activity to receive email notifications about. Visit your email preferences page by clicking your name at the top right of the page, then <strong>“Email settings”</strong>.
    .col-sm-3
      =image_tag "email-settings.png", class: "screenshot"
  .row
    .col-sm-6
      %h3.anchor#yesterday-on-loomio "Yesterday on Loomio"
      %p The <strong>“Yesterday on Loomio”</strong> email is a daily summary of content you haven’t read from the previous day. The email contains the content from all of the groups you are a member of. You can turn this on or off from the <strong><a href="#email-settings">"Email preferences"</a></strong> page.
    .col-sm-6
      =image_tag "email-preferences.png", class: "screenshot"
  %h3.anchor#following-unfollowing Following and unfollowing
  %P Following makes it easier to keep up to date with the content you care about the most. When there are new comments in discussions you are following, you’ll receive them immediately via email.
  .row
    .col-sm-9
      %p You are automatically following a discussion when you <a href="#starting-discussions">start the discussion</a>, when you’re <a href="#mentioning">@mentioned</a>, or when you actively participate by posting a <a href="#posting-comments">comment</a>, <a href="#stating-positions">state your position</a>, <strong><a href="#liking-comments">“Like”</a></strong> a comment or <a href="#editing-discussions">edit the discussion context</a>. You can also opt in and out of following individual discussions by clicking <strong>"Following"</strong> or <strong>"Not following"</strong> on the right-hand side of the discussion page. If you want to follow all new content from a particular group, click the <strong>“Following”</strong> button on the right hand side of the group page.
    .col-sm-3
      =image_tag "following.png", class: "screenshot"
      =image_tag "not-following.png", class: "screenshot"
  .row
    .col-sm-6
      %p You can reply to any new comments you receive directly by email and your replies will be posted in the relevant Loomio discussion. Alternatively you can choose to view the comment as part of the discussion on Loomio by clicking the <strong>“view it on Loomio”</strong> link in the footer of the email.
    .col-sm-6
      =image_tag "email-footer.png", class: "screenshot"
  .row
    .col-sm-8
      %p You can filter the content on your <a href="#dashboard">dashboard</a> using the <strong>“Unread”</strong> and <strong>“Following”</strong> buttons. The <strong>“Unread”</strong> filter will show you only content you have not yet seen from groups you are a member of. The <strong>“Following”</strong> filter will show only content you are following.
      %p If you don’t want to be emailed each time a new comment appears in a discussion you are following then you can disable the email notifications by unchecking that option in your <strong><a href="#email-settings">“Email settings”</a></strong>.
    .col-sm-4
      =image_tag "filters.png", class: "screenshot"
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"} ^ Back to top
    .col-sm-6
      %a.feedback-discussion-link{:href => "https://www.loomio.org/d/Yl5D3EC0/new-help-documentation-we-want-your-feedback"} Think this explanation could be clearer? Give us your feedback >
