%section{"role" => "region", "aria-labelledby" => "leaving-groups"}
  %h2#leaving-groups= t :"new_help.leaving_groups.title"
  .row
    .col-sm-8
      %p= t :"new_help.leaving_groups.body_html"
    .col-sm-4
      =image_tag "leave-group.png", class: "screenshot"
  = render 'help/help_links'
