%section#leaving-groups
  %h1 Leaving a group
  .row
    .col-sm-8
      %p If you wish to leave your group then you must ensure that you are not the only group coordinator. If you are the sole coordinator of your group, you must either appoint another coordinator or deactivate the group. If you are not the sole coordinator of a group then you can leave the group by selecting the <strong>"Leave group"</strong> option from the <strong>"Options"</strong> menu on the group page.
    .col-sm-4
      =image_tag "leave-group.png", class: "screenshot"
  .row#back-to-top
    .col-sm-12
      %a{:href => "#contents"} ^ Back to top
