%section#loomio-community
  %h1 The Loomio Community
  =image_tag "loomio-community.png", class: "screenshot"
  %p The <a href="https://www.loomio.org/g/WmPCB3IR/loomio-community">Loomio Community</a> is a public group for the whole community of Loomio users and supporters to get together, discuss the development of Loomio and collaborate. Anyone can join, simply request membership from the <a href="https://www.loomio.org/g/WmPCB3IR/loomio-community">group page</a> and a coordinator will approve your request.
  %p There are a number of public Loomio Community sub-groups dedicated to different strands of the community ecosystem. These groups are open for anyone to join; whether you're interested in contributing, or just curious about Loomio. There is a <a href="https://www.loomio.org/g/cpaM3Hsv/loomio-community-translation">translation sub-group</a>, a <a href="https://www.loomio.org/g/GN7EFQTK/loomio-community-feature-ideas">Feature ideas sub-group</a>, an <a href="https://www.loomio.org/g/C7I2YAPN/loomio-community-installing-loomio">Installing Loomio sub-group</a> for support and assistance with local installations, and a sub-group for <a href="https://www.loomio.org/g/7jWVDr04/loomio-community-group-coordinators">Loomio group coordinators</a> to share faciliation tips and tricks, so we can collectively grow our knowledge and build shared resources around the best ways to use Loomio together.
  %p You can find out more about how the Loomio Community works <a href="https://www.loomio.org/discussions/5200">here</a>.
  .row#bottom-links
    %a.back-to-top{:href => "#contents"} ^ Back to top
