%section#loomio-development
  %h1 Keeping up with Loomio Development
  %p There are several ways to keep track of Loomio progress:
  %ul#progress-resources
    %li <strong><a href="https://github.com/loomio/loomio">The main Loomio development repository</a></strong>
    %li <strong><a href="https://github.com/loomio/loomio/issues">Loomio issue tracker on Github</a></strong>
    %li <strong><a href="https://loomio.org/angular">Loomio 1.0-beta in action</a></strong>
    %li <strong><a href="https://trello.com/b/tM6QGCLH/loomio-roadmap">The public roadmap</a></strong>
    %li <strong><a href="https://twitter.com/loomio">Loomio on Twitter</a></strong>
    %li <strong><a href="https://codeclimate.com/github/loomio/loomio">Loomio’s Code Climate</a></strong>
  .row#bottom-links
    %a.back-to-top{:href => "#contents"} ^ Back to top
