%section{"role" => "region", "aria-labelledby" => "loomio-community"}
  %h2#loomio-community= t :"new_help.loomio_community.title"
  =image_tag "loomio-community.png", alt: "loomio community group page", class: "screenshot"
  = t :"new_help.loomio_community.body_html"
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"}= t :"new_help.back_to_top"
