%section#proposals
  %h1 Proposals
  %p Proposals take place in a <a href="#discussion-threads">discussion thread</a>, which encompasses both the discussion and the proposal. There can only be one active proposal in a single discussion thread. Loomio encourages groups to use an initial discussion to consider multiple options. A proposal is one proposed course of action that naturally emerges when it looks like a one idea is gaining traction.
  %h3.anchor#starting-proposals Starting a proposal
  .row
    .col-sm-9
      %p When the group is ready to make a decision, you can raise a proposal by clicking the <strong>"Create a proposal"</strong> button on the right-hand side of the discussion page.
    .col-sm-3
      =image_tag "create-proposal-button.png", class: "screenshot"
  .row
    .col-sm-6
      %p When you create a new proposal you will be required to provide a <strong>title</strong>, a <strong>closing date</strong> and any relevant <strong>details</strong>. It’s a good idea to use a short title indicating a clear course of action so that people immediately know exactly what it means to agree or disagree. The <strong>“Details”</strong> field can be used to provide any background information so everyone has the context required to make an informed decision.
      %p Keep in mind that it’s not the end of the world if a proposal doesn’t get clear agreement immediately. If the group doesn’t love the first proposal, a new proposal can be started to address the concerns raised, and keep the process moving forward. The deadline on a proposal can also be extended if it looks like the decision needs some more space.
      %p Everyone will get an email notification 24 hours before a proposal closes.
      %h3.anchor#editing-proposals Editing a proposal
      %p Group coordinators and the proposal author can edit the proposal details until a group member states their position. However, the closing time for the proposal can be changed by a group coordinator or the proposal author at any time over the course of the proposal. A proposal can also be closed before its scheduled closing time if it becomes clear that it is not meeting the needs of the group.
    .col-sm-6
      =image_tag "new-proposal-form.png", class: "screenshot"
  .row
    .col-sm-6
      %p The <strong>"Edit proposal"</strong> page is accessed via the <strong>"Edit"</strong> link inside the <strong>"Current decision"</strong> panel on the right-hand side of the page.
    .col-sm-6
      =image_tag "proposal-screenshot.png"
  %h3.anchor#stating-positions Stating your position
  .row
    .col-sm-4
      %p When you’re ready to have your say, click one of the four decision buttons under the proposal:
    .col-sm-8
      .positions
        =image_tag("hand-yes.png", class: "pull-left")
        %p= t(:"help.positions_agree_description").html_safe
        =image_tag("hand-abstain.png", class: "pull-left", style: "clear: both")
        %p= t(:"help.positions_abstain_description").html_safe
        =image_tag("hand-no.png", class: "pull-left")
        %p= t(:"help.positions_disagree_description").html_safe
        =image_tag("hand-block.png", class: "pull-left")
        %p= t(:"help.positions_block_description").html_safe
  .row
    .col-sm-6
      %p When you’ve selected your position, you will be prompted to give a brief explanation as to why you feel this way.
      %p Underneath the pie graph, you can see what everyone else thinks. This makes it easy to catch up with the discussion. As new information comes to light, you can change your position at any time over the course of the proposal.
    .col-sm-6
      =image_tag "position-statements.png", class: "screenshot"
  %h3.anchor#changing-positions Changing your position
  .row
    .col-sm-6
      %p If you wish to change your position you can do so by clicking <strong>“edit”</strong> next to your position statement in the <strong>“Current decision”</strong> panel on the right-hand side of the page.
    .col-sm-6
      =image_tag "edit-position.png", class: "screenshot"
  %h3.anchor#setting-outcome Setting a proposal outcome
  .row
    .col-sm-6
      %p When a proposal ends, it will remain on the right-hand side of the discussion page, inside a <strong>“Previous decisions”</strong> panel. An editable outcome statement field will appear underneath the proposal title, and the person who raised the proposal will be prompted via email to provide an outcome statement for their proposal. Proposal outcomes can only be set by the person who started the proposal or the coordinators of the group. Setting a proposal outcome is a good opportunity to get all group members up to speed, so everyone understands what the implications of the proposal are, and they are aware of any next steps. When the proposal outcome statement is submitted everyone in the group will receive an email notifying them of the outcome.
    .col-sm-6
      =image_tag "outcome-statement.png", class: "screenshot"
  %h3.anchor#closing-proposals Closing a proposal
  .row
    .col-sm-6
      %p Only the group member who started the proposal and the coordinators of the group can close an active proposal. If you want to close a proposal early and you have the correct permissions, click <strong>“Edit”</strong> on the right-hand side of the <strong>“Current decision”</strong> panel. At the bottom of the <strong>“Edit proposal”</strong> form on the subsequent page there will be an option to close the proposal early. When a proposal is closed early it will remain on the right-hand side of the discussion page in a <strong>“Previous decisions”</strong> panel, but participants will no longer be able to submit their positions.
    .col-sm-6
      =image_tag "proposal-screenshot.png", class: "screenshot"
      =image_tag "close-proposal.png", class: "screenshot"
  %h3.anchor#previous-decisions Closed proposals/previous decisions
  .row
    .col-sm-6
      %p When a new proposal is started, any previous proposals will be reduced to a summary (showing proposal title, the decision pie and your position) in a <strong>“Previous decisions”</strong> panel beneath the <strong>“Current decision”</strong> panel.
    .col-sm-6
      =image_tag "previous-decisions.png", class: "screenshot"
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"} ^ Back to top
    .col-sm-6
      %a.feedback-discussion-link{:href => "https://www.loomio.org/d/Yl5D3EC0/new-help-documentation-we-want-your-feedback"} Think this explanation could be clearer? Give us your feedback >
