%section{"role" => "region", "aria-labelledby" => "security"}
  %h2#security= t :"new_help.security.title"
  = t :"new_help.security.body_html"
  .row#back-to-top
    .col-sm-6
      %a{:href => "#contents"}= t :"new_help.back_to_top"
