%section#security
  .row
    .col-sm-12
      %h1 Privacy and security
      %p You can view our Privacy policy at <a href="https://www.loomio.org/privacy">www.loomio.org/privacy</a>
      %p If you have specific security concerns, we recommend you install your own version of Loomio. You can find out more about hosting your own version on the wiki: <a href="https://github.com/loomio/loomio/wiki">github.com/loomio/loomio/wiki</a>
  .row#back-to-top
    .col-sm-12
      %a{:href => "#contents"} ^ Back to top
