%section#subgroups
  %h1 Sub-groups
  %p Often you will have a need for multiple Loomio groups that are all related to one organisation, but you may find that each group has different needs for membership, privacy and permissions. This is where sub-groups are useful.
  %h3.anchor#subgroup-privacy Sub-group privacy
  .row
    .col-sm-9
      %p If you wish to create a sub-group within a group and you have the <a href="#group-permissions">correct permissions</a>, you can do so by clicking the <strong>“Create a sub-group”</strong> link in the <strong>“Sub-groups”</strong> panel on the right-hand side of your group page.
    .col-sm-3
      =image_tag "create-subgroup.png", class: "screenshot"
  .row
    .col-sm-7
      %p Sub-group settings are same as <a href="#group-settings">group settings</a>, but with slightly different privacy options relating to sub-group visibility relative to the parent group.
      %p The options underneath <strong>“Who can find this group?”</strong> (in the <strong>“Privacy”</strong> section of the new sub-group form) determine whether people in the parent group can see the sub-group. When the <strong>“People in [parent group]”</strong> option is selected then the group will be visible in the <strong>"Sub-groups"</strong> panel on the parent group page, or when members of the parent navigate to the sub-group page, even if they are not members of the sub-group.
      %p There is also a privacy option relating to the sub-group's discussion privacy. If you decide that your group should be visible to members of the parent but not public, then in the <strong>“Who can see discussions?”</strong> segment of the <strong>“Privacy”</strong> settings, you can choose whether you want discussions to be visible to members of the parent, or to members of the sub-group only. If you choose to make discussions visible to sub-group members only, then members of the parent will be able to view the sub-group's page, but not see any of the sub-group's discussions threads.
      %p When the <strong>“People in [parent group]”</strong> option is deselected, only members of the sub-group will be able to find it.
    .col-sm-5
      =image_tag "subgroup-settings.png", class: "screenshot"
  .row
    .col-sm-9
      %p To change a sub-group’s settings, click <strong>“Options”</strong> on the right-hand side of the sub-group home page, and then select <strong>“Edit group settings”</strong> from the dropdown menu.
    .col-sm-3
      =image_tag "edit-subgroup.png", class: "screenshot"
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"} ^ Back to top
    .col-sm-6
      %a.feedback-discussion-link{:href => "https://www.loomio.org/d/Yl5D3EC0/new-help-documentation-we-want-your-feedback"} Think this explanation could be clearer? Give us your feedback >
