%section{"role" => "region", "aria-labelledby" => "translation"}
  %h2#translation= t :"new_help.translation.title"
  = t :"new_help.translation.body_html"
  .row#back-to-top
    .col-sm-6
      %a{:href => "#contents"}= t :"new_help.back_to_top"
