%section#translation
  %h1 Translation
  %p The translation of Loomio is done by an amazing community of generous volunteers, using a tool called <a href="https://www.transifex.com">Transifex</a>. If you’re interested in taking part in the translation process a good place to start is reading our <a href="https://github.com/loomio/loomio/wiki/Translation">Translation guide</a> and joining our <a href="https://www.loomio.org/g/cpaM3Hsv/loomio-community-translation">Community Translation sub-group</a>. You can request membership from the group page and your request will be approved by group coordinator. You can introduce yourself and get a sense of who is in the wider translation community in <a href="https://www.loomio.org/g/cpaM3Hsv/loomio-community-translation">this introductory discussion</a>.
  %p If you have any questions about the translation process contact <a href="mailto:mix@loomio.org">mix@loomio.org</a>.
  .row#back-to-top
    .col-sm-12
      %a{:href => "#contents"} ^ Back to top
