%section{"role" => "region", "aria-labelledby" => "what-is-loomio"}
  %h2#what-is-loomio= t :"help.what_is_loomio"
  %p= t :"help.what_is_loomio_description_html"
  .row#bottom-links
    .col-sm-6
      %a.back-to-top{:href => "#contents"}= t :"new_help.back_to_top"
