.group-privacy-button i {
  margin-right: 4px;
  font-size: 18px;
}

.group-privacy-button__tooltip {
  max-width: 200px;
  text-align: center;
  @include fontSmall;
  font-style: italic;
  padding: 8px;
  margin-top: 4px !important;
  white-space: normal;
  height: auto;
  line-height: 20px;
}
