.install-slack-invite-preview.lmo-flex{layout: "row"}
  .install-slack-invite-preview__avatar
    %img{ng-src: "https://s3-us-west-2.amazonaws.com/slack-files2/bot_icons/2017-03-29/161925077303_48.png"}
  .install-slack-invite-preview__content
    .install-slack-invite-preview__title
      %strong.install-slack-invite-preview__loomio-bot> Loomio Bot
      %span.install-slack-invite-preview__app> APP
      %span.install-slack-invite-preview__title-timestamp> {{ timestamp() }}
    .install-slack-invite-preview__published
    .install-slack-invite-preview__message{translate: "install_slack.invite.group_published_preview", translate-value-author: "{{ userName }}", translate-value-name: "{{group.name}}"}
    .install-slack-invite-preview__attachment.lmo-flex{layout: "row"}
      .install-slack-invite-preview__bar
      .install-slack-invite-preview__poll
        .install-slack-invite-preview__author {{ userName }}
        .install-slack-invite-preview__poll-title {{ group.name }}
        .install-slack-invite-preview__poll-details{ng-if: "poll.details"} {{ group.description | truncate }}
        .install-slack-invite-preview__view-it{translate: "poll_common_publish_slack_preview.view_it_on_loomio"}
        .install-slack-invite-preview__timestamp{translate: "poll_common_publish_slack_preview.timestamp", translate-value-timestamp: "{{timestamp()}}"}
