%form.proposal-form{ng-submit: "submit()", ng-disabled: "proposal.processing"}
  .lmo-disabled-form{ng-show: "isDisabled"}
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1{ng-if: "!hasOutcome", translate: "proposal_outcome_form.set_outcome"}
    %h1.lmo-h1{ng-if: "hasOutcome", translate: "proposal_outcome_form.update_outcome"}

  .modal-body

    %form_errors{record: "proposal"}

    %fieldset
      .lmo-form-group
        %label{for: "proposal-outcome-field", translate: "proposal_outcome_form.outcome_label"}
        %textarea.lmo-textarea.proposal-form__outcome-field.form-control#proposal-outcome-field{placeholder: "{{ 'proposal_outcome_form.outcome_placeholder' | translate }}", ng-model: "proposal.outcome", ng-required: "true"}

  .modal-footer
    %button.lmo-btn--submit.proposal-outcome-form__publish-outcome-btn{type: "submit", translate: "proposal_outcome_form.publish_outcome"}
    %button.lmo-btn--cancel.proposal-outcome-form__cancel-btn{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
