%form.proposal-form{ng-submit: "submit()", ng-disabled: "proposal.processing"}
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{ng-if: "!hasOutcome", translate: "proposal_outcome_form.set_outcome"}
      %h1.lmo-h1{ng-if: "hasOutcome", translate: "proposal_outcome_form.update_outcome"}
      %material_modal_header_cancel_button
  .md-dialog-content.md-body-1
    %form_errors{record: "proposal"}

    %fieldset
      .lmo-form-group
        %label{for: "proposal-outcome-field", translate: "proposal_outcome_form.outcome_label"}
        .lmo-relative
          %textarea.lmo-textarea.proposal-form__outcome-field.form-control#proposal-outcome-field{placeholder: "{{ 'proposal_outcome_form.outcome_placeholder' | translate }}", ng-model: "proposal.outcome", ng-required: "true", mention-field: "true"}
          %emoji_picker.lmo-action-dock{target-selector: "outcomeSelector"}

    .lmo-md-actions
      %md-button.proposal-outcome-form__cancel-btn{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
      %md-button.md-raised.md-primary.proposal-outcome-form__publish-outcome-btn{type: "submit", translate: "proposal_outcome_form.publish_outcome"}
