.poll-common-closing-at-field
  .poll-common-closing-at-field__inputs
    %md-input-container
      %label{translate: "poll_common_closing_at_field.closing"}
      %md-datepicker{ng-model: "closingDate", ng-min-date: "dateToday", md-hide-icons: "calendar"}>
      %timeago{timestamp: "poll.closingAt"}>
    %md-input-container
      %md-select{ng-model: "closingHour", aria-label: "{{ 'poll_common_closing_at_field.closing_hour' | translate }}"}
        %md-option{ng-repeat: "hour in hours", ng-value: "hour", ng-selected: "hour == closingHour"}
          {{ times[hour] }}
      %span.closing-at-field__zone
        {{ timeZone }}
  %validation_errors{subject: "poll", field: "closingAt"}
