.document-management {
  margin-bottom: 16px;
}

.document-management__caption {
  color: $grey-on-white;
}

.document-management__icon {
  font-size: 24px;
}

.document-management__column-row {
  min-height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
