.pie-with-position {
  @include boxMedium;
  position: relative;
}

.pie-with-position__pie-canvas {
  @include boxMedium;
}

.pie-with-position__position-icon-container {
  @include boxTiny;
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 2px 1px rgba(0,0,0,.15);
}

.pie-with-position__position-icon {
  background-repeat: no-repeat;
  height: 18px;
  margin: 1px 0 0 1px;
  width: 18px;
}

.pie-with-position__position-icon--yes {
  background-image: url(/img/agree.svg);
}

.pie-with-position__position-icon--no {
  background-image: url(/img/disagree.svg);
}


.pie-with-position__position-icon--abstain {
  background-image: url(/img/abstain.svg);
}

.pie-with-position__undecided-icon {
  font-size: 16px;
  margin-top: 0px;
  text-align: center;
}
