%a.selector-list-item-link{ng-href: '{{event.link()}}'}
  .media-left
    %user_avatar{user: "actor"}
  .media-body
    %span{translate: 'notifications.motion_outcome_updated', translate-value-name: '{{actor.name}}', translate-value-proposal: '{{event.proposal().title}}' }
