%md-dialog.deactivate-user-form
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "deactivate_user_form.title"}
      %dismiss_modal_button{ng-if: "!preventClose"}
  .md-dialog-content
    %md-input-container.md-block
      %label{translate: "deactivate_user_form.question"}
      %textarea.lmo-textarea{ng-model: "user.deactivationResponse", placeholder: "{{ 'deactivate_user_form.placeholder' | translate }}"}
    .lmo-md-actions
      %md-button{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
      %md-button.md-raised.md-warn.deactivate-user-form__submit{ng-click: "submit()", translate: "deactivate_user_form.submit"}
