.invitation-form__custom-message {
  min-height: 100px;
}

.invitation-form__group-select,
.invitation-form__shareable-link-field,
.invitation-form__email-addresses {
  margin-bottom: 20px;
}

.invitation-form__shareable-link-field {
  width: 100%;
  margin-right: 10px;
}

.invitation-form__shareable-link-explanation, .invitation-form__email-explanation{
  padding-right: 10px;
  margin-bottom: 20px;
}
