%md-dialog
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1.modal-title{translate: "invitation_form.invite_people"}
      %material_modal_header_cancel_button
  .md-dialog-content.md-body-1
    %label{for: "group-select", translate: "invitation_form.group"}
    %select.invitation-form__group-select.form-control#group-select{ng-model: "form.groupId", ng-required: true, ng-options: "group.id as group.fullName for group in availableGroups() | orderBy: 'fullName'", ng-change: "restoreRemoteDraft(); fetchShareableInvitation()"}
      %option{value: "", translate: "invitation_form.group_placeholder"}

    %label{translate: "invitation_form.shareable_link"}
    .lmo-flex.lmo-flex__baseline
      %input.invitation-form__shareable-link-field.form-control{value: "{{invitationLink()}}", readonly: "readonly"}
      %md-button.invitation-form__copy-button.md-raised.md-primary{type: "button", clipboard: "true", text: "invitationLink()", on-copied: "copied()"}
        {{ 'invitation_form.copy_link' | translate}}

    .invitation-form__shareable-link-explanation{translate: "invitation_form.shareable_link_explanation"}
    .invitation-form__email-explanation{translate: "invitation_form.email_explanation"}

    %label{for: "email-addresses", translate: "invitation_form.email_addresses"}
    %textarea.lmo-textarea.invitation-form__email-addresses.form-control#email-addresses{ng-model: "form.emails", ng-required: true, msd-elastic: "true", rows: 1, placeholder: "{{ 'invitation_form.email_addresses_placeholder' | translate }}" }
    %validation_errors.invitation-form__validation-errors{subject: "form", field: "emails"}
    .invitation-form__no-invitations.lmo-validation-error{ng-show: "noInvitations", translate: "invitation_form.messages.no_invitations"}
    .invitation-form__max-invitations.lmo-validation-error{ng-show: "maxInvitations()", translate: "invitation_form.messages.max_invitations"}
    -# %p{ng-if: "!showCustomMessageField()"}
    -#   %span{translate: "invitation_form.add_custom_message"}>
    -#   %button.invitation-form__add-custom-message-link.lmo-btn-link--blue{translate: "invitation_form.add_custom_message_link", ng-click: "addCustomMessage()"}>
    -# .blank{ng-if: "showCustomMessageField()"}
    -#   %label{for: "custom-message", translate: "invitation_form.custom_message"}
    -#   %textarea.lmo-textarea.invitation-form__custom-message.form-control#custom-message{ng-model: "form.message", msd-elastic: "true", placeholder: "{{ 'invitation_form.custom_message_placeholder' | translate }}"}
    %p{ng-if: "form.group().isSubgroup()"}
      %button.invitation-form__add-members.lmo-btn-link--blue{translate: "invitation_form.add_members", ng-click: "addMembers()"}>
      %span{translate: "invitation_form.from_parent_group", translate-values: "{name: form.group().parentName()}"}

    .md-dialog-actions.lmo-md-action
      -# .lmo-flex.lmo-flex__space-between
      -# %md-button{ng-click: "$close()", translate: "common.action.cancel"}
      %md-button.invitation-form__submit.md-raised.md-primary{ng-click: "submit()", translate: "{{submitText()}}", translate-value-count: "{{invitationsCount()}}", ng-disabled: "invalidEmail()"}
