.invitation-form__flex {
  @include displayFlex;
}

.invitation-form__flex md-input-container {
  flex-grow: 1;
}

.invitation-form__group-select,
.invitation-form__email-addresses {
  margin-bottom: 20px;
}

.invitation-form__shareable-link {
  margin-bottom: 0;
}

.invitation-form__copy-button {
  height: 12px;
  margin-top: 16px;
}

.invitation-form__shareable-link-explanation,
.invitation-form__email-explanation{
  padding-right: 10px;
  margin-bottom: 20px;
}
