.invitation-form
  .lmo-disabled-form{ng-show: "isDisabled"}
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1.modal-title{translate: "invitation_form.invite_people"}
  .modal-body
    %label{for: "group-select", translate: "invitation_form.group"}
    %select.invitation-form__group-select.form-control#group-select{ng-model: "group", ng-required: true, ng-options: "group as group.fullName for group in availableGroups() | orderBy: 'fullName'"}
    %label{for: "email-addresses", translate: "invitation_form.email_addresses"}
    %textarea.invitation-form__email-addresses.form-control#email-addresses{ng-model: "form.emailAddresses", ng-required: true, msd-elastic: "true", rows: 1, placeholder: "{{ 'invitation_form.email_addresses_placeholder' | translate }}" }
    .invitation-form__no-invitations.lmo-validation-error{ng-show: "noInvitations", translate: "invitation_form.messages.no_invitations"}
    .invitation-form__max-invitations.lmo-validation-error{ng-show: "maxInvitations()", translate: "invitation_form.messages.max_invitations"}
    %p{ng-if: "!showCustomMessageField"}
      %span{translate: "invitation_form.add_custom_message"}>
      %button.invitation-form__add-custom-message-link.lmo-btn-link--blue{translate: "invitation_form.add_custom_message_link", ng-click: "addCustomMessage()"}>
    .blank{ng-if: "showCustomMessageField"}
      %label{for: "custom-message", translate: "invitation_form.custom_message"}
      %textarea.lmo-textarea.invitation-form__custom-message.form-control#custom-message{ng-model: "form.message", msd-elastic: "true", placeholder: "{{ 'invitation_form.custom_message_placeholder' | translate }}"}
    %p
      %span{translate: "invitation_form.team_invitation_message"}>
      %button.invitation-form__get-team-link.lmo-btn-link--blue{translate: "invitation_form.team_invitation_link", ng-click: "getTeamLink()"}>
    %p{ng-if: "group.isSubgroup()"}
      %button.invitation-form__add-members.lmo-btn-link--blue{translate: "invitation_form.add_members", ng-click: "addMembers()"}>
      %span{translate: "invitation_form.from_parent_group", translate-values: "{name: group.parentName()}"}

  .modal-footer
    %button.invitation-form__submit.lmo-btn--submit{ng-click: "submit()", ng-disabled: "isDisabled", translate: "invitation_form.send", translate-value-count: "{{invitationsCount()}}"}
    %button.lmo-btn--cancel{ng-click: "$close()", translate: "common.action.cancel"}
