.star-toggle
  %input.sr-only{type: "checkbox", id: "star-thread-{{thread.id}}", ng-change: "thread.saveStar()", ng-model: "thread.starred"}
  %label.fa{for: "star-thread-{{thread.id}}"}
    %span.sr-only{translate: "star_toggle.star"}
