.poll-common-manage-card.lmo-card
  %h3{translate: "poll_common_manage_card.loomio_group"}

  %h3{translate: "poll_common_manage_card.share_a_link"}

  %h3{translate: "poll_common_manage_card.send_emails"}

  %h3{translate: "poll_common_manage_card.connect_community"}
