.poll-common-manage-card.lmo-card

  %md-input-container.md-block{ng-if: "hasAvailableGroups()"}
    %label{translate: "poll_common_manage_card.loomio_group_placeholder"}
    %md-select.md-no-underline{ng-model: "poll.groupId", ng-change: "setGroup()", aria-label: "{{ 'poll_common_manage_card.loomio_group_select' | translate }}"}
      %md-option{ng-repeat: "group in groupOptions()", ng-value: "group.id"}
        {{group.fullName}}

  %h3{translate: "poll_common_manage_card.share_a_link"}
  %md-list.md-block
    %md-list-item.lmo-flex
      %p{translate: "poll_common_manage_card.anyone_can_participate"}
      %md-checkbox{ng-model: "poll.anyoneCanParticipate", ng-change: "setAnyoneCanParticipate()"}
  %md-input-container.md-block{ng-if: "poll.anyoneCanParticipate"}
    %label{translate: "poll_common_manage_card.shareable_link"}
    .lmo-flex
      %input.lmo-primary-form-input{disabled: "true", type: "text", ng-model: "shareableLink"}
      %button.lmo-btn--nude.registered-app-page__btn--copy{type: "button", title: "{{ 'common.copy' | translate }}", clipboard: "true", text: "shareableLink", on-copied: "copied()"}
        %i.fa.fa-copy>

  .poll-common-manage-card__existing-emails
    %h3{translate: "poll_common_manage_card.existing_emails"}
    .poll-common-manage-card__visitor.lmo-flex{ng-repeat: "visitor in poll.visitors()"}
      .poll-common-manage-card__email.lmo-flex__grow {{visitor.email}}
      %md-button.lmo-inline-action{ng-click: "remind(visitor)", ng-if: "!visitor.reminded && !visitor.reminding"}
        %i.material-icons redo
      %loading{ng-if: "visitor.reminding"}
      %span{ng-if: "visitor.reminded", translate: "poll_common_manage_card.reminded"}
      %md-button.lmo-inline-action{ng-click: "revoke(visitor)"}
        %i.material-icons clear

  .poll-common-manage-card__new-emails{ng-if: "hasNewEmails()"}
    %h3{translate: "poll_common_manage_card.new_emails"}
    .poll-common-manage-card__new-visitor.lmo-flex{ng-repeat: "email in newEmails"}
      .poll-common-manage-card__email.lmo-flex__grow {{email}}
      %md-button.lmo-inline-action{ng-click: "remove(email)"}
        %i.material-icons clear

  %form
    %md-list
      %md-list-item{ng-repeat: "email in poll.newEmails track by $index"}
        %span.lmo-flex__grow {{email}}
        %md-button.lmo-flex{ng-click: "removeOption(email)", aria-label: "{{ 'poll_common_manage_card.remove_email' | translate }}"}
          %i.material-icons.poll-common-manage-card__option-icon clear
      %md-list-item.poll-common-manage-card__add-option{flex: "true", layout: "row"}
        %md-input-container.lmo-flex__grow{md-no-float: "true"}
          %input.poll-common-manage-card__add-option-input{type: "text", placeholder: "{{translations.addEmailPlaceholder}}", ng-model: "newEmail"}
        %div
          %md-button.poll-common-manage-card__option-button.lmo-inline-action{ng-click: "addEmail()", aria-label: "{{ 'poll_common_manage_card.add_email_placeholder' | translate }}"}
            %i.material-icons.poll-common-manage-card__option-icon add
      %md-button.md-primary.md-raised{translate: "poll_common_manage_card.send_emails", ng-click: "invite()"}

  %h3{translate: "poll_common_manage_card.connect_community", ng-if: "false"}
