.emoji-picker__toggle {
  opacity: .7;
  &:hover { opacity: 1; }
  font-size: 20px;
  padding: 0;
  background-color: transparent;
  padding: 0 5px;
  border: 0;
}

.emoji-picker__menu {
  @include card;
  min-width: 190px;
  width: 190px;
  padding: 6px;
  position: absolute;
  right: 0;
  bottom: 30px;
}

.emoji-picker__hr {
  margin: 10px 0;
}

.emoji-picker__hovered-name {
  display: inline-block;
  max-width: 145px;
  word-break: normal;
  overflow: hidden;
  vertical-align: middle;
}

.emoji-picker__selector {
  display: inline-block;
  &:hover {
    background: lighten($link-color, 50%);
    border-radius: 100%;
    cursor: pointer;
  }
}

.emoji-picker__selector img.emojione {
  width: 35px;
  height: 35px;
  padding: 5px;
}

.emoji-picker__search {
  margin-bottom: 0;
}

.emoji-picker__none-found {
  @include fontSmall;
  padding: 5px 0 10px;
  color: $grey-on-white;
  text-align: center;
}
