.auth-form
  .lmo-disabled-form{ng-show: "isDisabled"}
  .auth-form__logging-in{ng-if: "!loginComplete()"}
    .auth-form__email-not-set{ng-if: "!user.email_status"}
      %auth_provider_form{user: "user"}
      %auth_email_form{user: "user"}
    .auth-form__email-set{ng-if: "user.email_status"}
      %auth_signin_form{ng-if:   "user.email_status == 'active'",   user: "user"}
      %auth_signup_form{ng-if:   "user.email_status == 'unused'",   user: "user"}
      %auth_inactive_form{ng-if: "user.email_status == 'inactive'", user: "user"}
  %auth_complete{ng-if: "loginComplete()", user: "user"}
