.auth-form
  .auth-form__no-email-set{ng-if: "!session.email"}
    %auth_provider_form{session: "session"}
    %auth_email_form{session: "session"}
  .auth-form__email-set{ng-if: "session.email"}
    %auth_signin_form{ng-if:   "session.emailStatus == 'active'",   session: "session"}
    %auth_signup_form{ng-if:   "session.emailStatus == 'unused'",   session: "session"}
    %auth_inactive_form{ng-if: "session.emailStatus == 'inactive'", session: "session"}
