.auth-form
  .auth-form__no-email-set{ng-if: "!user.email"}
    %auth_provider_form
    %auth_email_form{user: "user", prevent-close: "preventClose"}
  .auth-form__email-set{ng-if: "user.email"}
    %auth_signin_form{ng-if:   "user.emailStatus == 'active'",   user: "user"}
    %auth_signup_form{ng-if:   "user.emailStatus == 'unused'",   user: "user"}
    %auth_inactive_form{ng-if: "user.emailStatus == 'inactive'", user: "user"}
