%md-dialog.poll-common-modal
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi{class: "{{icon()}}"}
      %h1.lmo-h1{ng-if: "stance.isNew()", translate: "poll_common.your_response"}
      %h1.lmo-h1{ng-if: "!stance.isNew()", translate: "poll_common.change_your_response"}
      %material_modal_header_cancel_button

  %md-dialog-content
    .lmo-disabled-form{ng-if: "isDisabled"}
    %poll_common_directive{name: "vote_form", stance: "stance"}
