%md-dialog.poll-common-modal
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi{class: "{{icon()}}"}
      %h1.lmo-h1{ng-if: "stance.isNew()", translate: "poll_common.your_response"}
      %h1.lmo-h1{ng-if: "!stance.isNew()", translate: "poll_common.change_your_response"}
      %dismiss_modal_button

  %md-dialog-content{ng-if: "!isEditing"}
    .lmo-disabled-form{ng-if: "isDisabled"}
    %poll_common_directive{name: "vote_form", stance: "stance"}

  %md-dialog-content{ng-if: "isEditing"}
    .lmo-flex.lmo-flex__space-between.lmo-flex__align-top
      %poll_common_directive{stance_choice: "choice", name: "stance_choice", ng-if: "choice.id && choice.score > 0", ng-repeat: "choice in stance.stanceChoices() | orderBy: 'rank'"}
      %md-button.md-accent{ng-click: "toggleCreation()", translate: "poll_common.change_vote"}
    .poll-common-stance-reason
      %lmo_textarea.poll-common-vote-form__reason{model: "stance", field: "reason", label: "'poll_common.reason' | translate", placeholder: "'poll_common.reason_placeholder' | translate", maxlength: "500"}
      %md-button.md-primary.md-raised{ng-click: "submit()", translate: "poll_common.save_changes"}
