.poll-mailer-ranked-choice-responses
  %table
    - poll.stances.latest.each do |stance|
      %tr
        %td
          %table
            %td= render 'discussions/avatar', user: stance.participant_for_client(user: poll.user), size: 'small'
            %td.poll-mailer-common-responses__reason
              %strong
                #{stance.participant_for_client(user: poll.user).name}:
      %tr
        %td= render_rich_text(stance.reason, stance.reason_format)
      %tr
        %td= render 'discussions/polls/ranked_choice/stance_chart', stance: stance
