.edit-group-form
  %form{ng-submit: 'submit()',  ng-disabled: 'group.processing', name: 'groupForm' }
    .lmo-disabled-form{ng-show: 'isDisabled'}
    .modal-header
      %modal_header_cancel_button
      %h1.lmo-h1{translate: 'edit_group_form.title', ng-if: 'group.isParent()'}
      %h1.lmo-h1{translate: 'edit_group_form.subgroup_title', ng-if: 'group.isSubgroup()'}

    .modal-body
      .edit-group-form__basic
        .edit-group-form__name
          %label{for: 'group-name', translate: 'edit_group_form.name'}
          %input.form-control#group-name{ng-required: true, ng-model: 'group.name', maxlength: '255'}
          %validation_errors{subject: 'group', field: 'name'}

        .edit-group-form__description
          %label{for: 'group-description', translate: 'edit_group_form.description'}
          %textarea.form-control#group-description{msd-elastic: 'true', ng-model: 'group.description'}

        .edit-group-form__privacy-statement
          {{privacyStatement()}}

        .edit-group-form__privacy.lmo-form-group
          %label{translate: 'edit_group_form.group_privacy', ng-if: 'group.isParent()'}
          %label{translate: 'edit_group_form.subgroup_privacy', ng-if: 'group.isSubgroup()'}

          %label.lmo-form-labelled-input{ng-if: '!group.isSubgroupOfHiddenParent'}
            %input{type: 'radio', ng-model: 'group.groupPrivacy', value: 'open', name: 'groupPrivacy'}
            %span
              %strong{translate: 'common.privacy.open'}
              %span.seperator
              {{ privacyStringFor("open") }}

          %label.lmo-form-labelled-input
            %input{type: 'radio', ng-model: 'group.groupPrivacy', value: 'closed', name: 'groupPrivacy'}
            %span
              %strong{translate: 'common.privacy.closed'}
              %span.seperator
              {{ privacyStringFor("closed") }}

          %label.lmo-form-labelled-input
            %input{type: 'radio', ng-model: 'group.groupPrivacy', value: 'secret', name: 'groupPrivacy'}
            %span
              %strong{translate: 'common.privacy.secret'}
              %span.seperator
              {{ privacyStringFor("secret") }}

      %button.lmo-link.edit-group-form__advanced-link{type: 'button', ng-show: '!expanded', ng-click: 'expandForm()', translate: 'edit_group_form.advanced_settings'}

      .edit-group-form__advanced{ng-show: 'expanded'}
        .edit-group-form__joining.lmo-form-group{ng-if: 'group.privacyIsOpen()'}
          %label{translate: 'edit_group_form.how_do_people_join'}

          %label.lmo-form-labelled-input
            %input{type: 'radio', ng-model: 'group.membershipGrantedUpon', value: 'request', name: 'membership-granted-upon'}
            %span{translate: 'edit_group_form.membership_granted_upon_request'}

          %label.lmo-form-labelled-input
            %input{type: 'radio', ng-model: 'group.membershipGrantedUpon', value: 'approval', name: 'membership-granted-upon'}
            %span{translate: 'edit_group_form.membership_granted_upon_approval'}

        .edit-group-form__permissions.lmo-form-group
          %label{translate: 'edit_group_form.permissions'}

          %label.lmo-form-labelled-input{ng-if: 'group.privacyIsClosed() && !group.isSubgroupOfHiddenParent'}
            %input.edit-group-form__allow-public-threads{type: 'checkbox', ng-model: 'buh.allowPublicThreads', ng-change: 'allowPublicThreadsClicked()'}
            %span{translate: 'edit_group_form.allow_public_threads'}

          %label.lmo-form-labelled-input{ng-if: 'group.isSubgroup() && !group.privacyIsSecret()'}
            %input.edit-group-form__visible-to-parent-members{type: 'checkbox', ng-model: 'group.parentMembersCanSeeDiscussions'}
            %span{translate: 'edit_group_form.parent_members_can_see_discussions', translate-value-parent: '{{group.parent().name}}'}

          %label.lmo-form-labelled-input
            %input.edit-group-form__members-can-add-members{type: 'checkbox', ng-model: 'group.membersCanAddMembers'}
            %span{translate: 'edit_group_form.members_can_add_members'}

          %label.lmo-form-labelled-input{ng-if: 'group.isParent()'}
            %input.edit-group-form__members-can-create-subgroups{type: 'checkbox', ng-model: 'group.membersCanCreateSubgroups'}
            %span{translate: 'edit_group_form.members_can_create_subgroups'}

          %label.lmo-form-labelled-input
            %input.edit-group-form__members-can-start-discussions{type: 'checkbox', ng-model: 'group.membersCanStartDiscussions'}
            %span{translate: 'edit_group_form.members_can_start_discussions'}

          %label.lmo-form-labelled-input
            %input.edit-group-form__members-can-edit-discussions{type: 'checkbox', ng-model: 'group.membersCanEditDiscussions'}
            %span{translate: 'edit_group_form.members_can_edit_discussions'}

          %label.lmo-form-labelled-input
            %input.edit-group-form__members-can-edit-comments{type: 'checkbox', ng-model: 'group.membersCanEditComments'}
            %span{translate: 'edit_group_form.members_can_edit_comments'}

          %label.lmo-form-labelled-input
            %input.edit-group-form__members-can-raise-motions{type: 'checkbox', ng-model: 'group.membersCanRaiseProposals'}
            %span{translate: 'edit_group_form.members_can_raise_motions'}

          %label.lmo-form-labelled-input
            %input.edit-group-form__members-can-vote{type: 'checkbox', ng-model: 'group.membersCanVote'}
            %span{translate: 'edit_group_form.members_can_vote'}

    .modal-footer
      %button.lmo-btn--submit.edit-group-form__submit-button{type: 'submit', translate: 'edit_group_form.submit'}
      %button.lmo-btn--cancel{ng-click: '$close()', type: 'button', translate: 'common.action.cancel'}
