.loading-wrapper.lmo-one-column-layout
  %loading{ng-if: "!tagsPage.tag.group()"}
  %main.tags-page{ng-if: "tagsPage.tag.group()"}
    .tags-page__group-theme-padding
    %tag_fetcher{group: "group"}
    %group_theme{group: "tagsPage.tag.group()"}
    %h2.pull-left.tags-page__header.lmo-font--small{translate: "loomio_tags.tags_marked", translate-value-name: "{{tagsPage.tag.name}}", translate-value-group-name: "{{tagsPage.tag.group().name}}"}
    .clearfix
    .tags-page__no-threads{ng-if: "!tagsPage.view.any()"}
      %span{translate: "loomio_tags.no_tags_present"}>
    .tags-page__thread-container.lmo-card--no-padding{ng-if: "tagsPage.view.any()"}
      %section.thread-preview-collection__container
        %thread_preview_collection.thread-previews-container{query: "tagsPage.view"}
