
%md-dialog.poll-common-modal
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi{class: "{{icon()}}"}
      %h1.lmo-h1{translate: "poll_common_reopen_form.title"}
      %dismiss_modal_button
  %md-dialog-content
    %div.lmo-slide-animation{ng-switch: "currentStep"}
      %poll_common_reopen_form.animated{poll: "poll"}
    %dialog_scroll_indicator
  %md-dialog-actions.lmo-slide-animation{ng-switch: "currentStep"}
    %poll_common_reopen_form_actions.animated{poll: "poll"}
