.poll-meeting-chart-legend.lmo-flex--row.lmo-flex--center
  %poll_meeting_stance_icon{score:2}
  %span{translate: "poll_meeting_chart_legend.can_attend"}
  %poll_meeting_stance_icon{score:1}
  %span{translate: "poll_meeting_chart_legend.maybe_attend"}
