.poll-proposal-action-panel
  %section{ng-if: "!poll.closedAt && !userHasVoted()"}
    %md-list.md-block
      %h3.lmo-card-subheading{translate: "poll_common.your_response"}
  %section{ng-if: "poll.closedAt"}
    %md-list.md-block{ng-if: "!poll.outcome().statement"}
      %h3.lmo-card-subheading{translate: "poll_common.set_outcome_title"}
      %p.lmo-poll-helptext{translate: "poll_common.set_outcome_text"}
      %md-button.md-primary{ng-click: "openOutcomeForm()", translate: "poll_common.set_outcome"}
    %md-list.md-block{ng-if: "poll.outcome().statement"}
      %h3.lmo-card-subheading{translate: "poll_common.outcome"}
      %p {{poll.outcome().statement}}
      %md-button.md-primary{ng-click: "openOutcomeForm()", translate: "poll_common.update_outcome"}
