%md-dialog.change-volume-form
  %form{ng-submit: "submit()"}
    .lmo-disabled-form{ng-show: "isDisabled"}
    %md-toolbar
      .md-toolbar-tools.lmo-flex__space-between
        %h1.lmo-h1.change-volume-form__title{translate: "{{translateKey()}}.title", translate-value-title: "{{model.title || model.groupName()}}"}
        %dismiss_modal_button
    .md-dialog-content
      %md-radio-group.md-body-1{ng-model: "buh.volume"}
        %md-radio-button.md-checkbox--with-summary{ng-repeat: "level in volumeLevels", ng-value: "level", id: "volume-{{level}}"}
          %strong{translate: "change_volume_form.{{level}}_label"}
          .change-volume-form__description{translate: "{{translateKey()}}.{{level}}_description"}
        %md-checkbox.change-volume-form__apply-to-all#apply-to-all{ng-model: "applyToAll"}
          %label.change-volume-form__apply-to-all-label{for: "apply-to-all", translate: "{{translateKey()}}.apply_to_all"}
      .lmo-md-actions
        %md-button.change-volume-form__cancel{type: "button", translate: "common.action.cancel", ng-click: "$close()"}
        %md-button.md-raised.md-primary.change-volume-form__submit{type: "submit", ng-disabled: "isDisabled", translate: "common.action.update"}
