.position-buttons-panel {
  margin-bottom: 5px;
}

.position-buttons-panel input {
  opacity: 0;
  margin-left: -13px;
}

.position-button {
  @include lmoBtn;
  margin-right: 10px;
  background-size: 60px;
  display: inline-block;
  width: 55px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
}

.position_buttons_panel__buttons {
  margin-top: 10px;
}

.position-button:hover {
  margin-top: -1px;
}

.position-button--dimmed{
  opacity: 0.3;
}
.position-button--yes{
  background-color: $agree-color;
  border-color: darken($agree-color, 15%);
  background-position-x: calc(50% + 1px);
}

.position-button--no {
  background-color: $disagree-color;
  border-color: darken($disagree-color, 20%);
}

.position-button--abstain {
  background-color: $abstain-color;
  border-color: darken($abstain-color, 15%);
}

.position-button--block {
  background-color: $block-color;
  border-color: darken($block-color, 15%);
  background-position-x: calc(50% - 1px);
}
