.container#main
  .row
    .col-xs-12
      .thread-container
        .thread-actions.pull-right
          .dropdown.thread-notification-level
            %a.dropdown-toggle.fat-finger{href:''}
              %i.fa.fa-lg.fa-volume-down>
            .dropdown-menu.dropdown-menu-with-labels.dropdown-menu-right
              %h3.dropdown-heading{translate: 'notifications.header'}
              %ul.dropdown-menu-items
                %li.dropdown-menu-item
                  .dropdown-menu-item-label
                    %i.fa.fa-lg.fa-envelope>
                    %span{translate: 'common.notifications.email'}
                  .dropdown-menu-item-details
                    %span{translate: 'discussion.notifications.email'}
                %li.dropdown-menu-item
                  .dropdown-menu-item-label
                    %i.fa.fa-lg.fa-volume-down>
                    %span{translate: 'common.notifications.normal'}
                    %i.fa.fa-lg.fa-check
                  .dropdown-menu-item-details
                    %span{translate: 'discussion.notifications.normal'}
                %li.dropdown-menu-item
                  .dropdown-menu-item-label
                    %i.fa.fa-lg.fa-volume-off>
                    %span{translate: 'common.notifications.mute'}
                  .dropdown-menu-item-details
                    %span{translate: 'discussion.notifications.mute'}

          .dropdown{ng-if: 'showContextMenu()'}
            %a.dropdown-toggle{href:''}
              %i.fa.fa-chevron-down
            %ul.dropdown-menu.dropdown-menu-right
              %li
                %a{href: '', ng-click: 'editDiscussion()', translate: 'common.action.edit', ng-if: 'canEditDiscussion($scope.discussion)'}
        .thread-discussion
          %h1 {{discussion.title}}
          .media.thread-origin
            .media-left.thread-origin-icon
              %img.thread-origin-group-logo{src: "{{discussion.group().logoUrlSmall}}"}
            .media-body.thread-origin-details
              %a{href: '/g/{{discussion.group().key}}'} {{discussion.group().fullName()}}
              %br
              %span{translate: 'discussion.started_by', translate-value-name: '{{::discussion.authorName()}}'}
              %timeago.nowrap{timestamp: '::discussion.createdAt' }>
              ·
              %span.nowrap.discussion-privacy__is-private{ng-show: 'discussion.private'}>
                %i.fa.fa-lock>
                %span{translate: 'common.privacy.private'}
              %span.nowrap.discussion-privacy__is-public{ng-show: '!discussion.private'}>
                %i.fa.fa-globe>
                %span{translate: 'common.privacy.public'}

          .thread-discussion-description{btf-markdown: 'discussion.description' }

        %proposals_card{discussion: 'discussion'}
        %thread_card{discussion: 'discussion'}
        %comment_form{discussion: 'discussion'}

      .thread-container{ng_controller: 'StartProposalCardController', ng-if: 'canStartProposals()'}
        .thread-start-proposal-card
          %h3.first Ready to make a decision?
          %a{href: '#', ng_click: 'openForm()'}
            Create a proposal
