.time-zone-select
  .time-zone-select__change
    <md-select placeholder="Choose Timezone" ng-model="zone" style="min-width: 10em;" ng-change="selectChanged()">
      <md-option ng-value="name" ng-repeat="name in names()">{{name}}</md-option>
    </md-select>
      %md-item-template
        %span {{name}}
