.group-page {
  max-width: $large-max-width;
  margin: 0 auto;
  padding-top: 48px;
  /* over-riding bootstrap */
  .media:first-child{
    margin-top: 10px;
  }
}

.group-theme__cover{
  position: absolute;
  top: $navbar-height;
  left: 0;
  width: 100%;
  height: 320px;
  background: url('http://placehold.it/640x160') no-repeat center center #f5f5f5;
  background-size: cover;
  z-index: 0;
}

.group-theme__header{
  width: 100%;
  position: relative;
  min-height: 335px;
}

.group-theme__header .btn{
  @include fontSmall;
}

.group-theme__header--compact {
  margin: 215px 0 15px;
}

.group-theme__header--compact img {
  @include smallIcon;
  border-radius: 3px 0 0 3px;
}

.group-theme__logo{
  position: relative;
  top: 215px;
  width: 108px;
  height: 108px;
  background: url('http://placehold.it/100x100') no-repeat top center white;
  border: 4px solid #fff;
}

.group-theme__logo--compact {
  display: table-cell;
}

.group-theme__name-and-actions{
  margin-top: 175px;
}

.group-theme__nonmember-actions { float: right; }
.group-theme__member-actions .btn { @include fontHelveticaBold; }

.group-theme__name {
  float: left;
  max-width: 50%;
  margin-left: 108px + 15px;
  a{color: $primary-text-color;}
}

.group-theme__name--compact {
  display: table-cell;
  vertical-align: middle;
  background: rgba(0,0,0,.5);
  color: white;
  padding: 0 10px;
  border-radius: 0 3px 3px 0;
}

.group-theme__name--compact a {
  color: white;
  font-weight: bold;
}

.group-theme__privacy{
  float: left;
  margin-left: 15px;
}

.group-theme__upload-photo {
  position: relative;
  left: 5px;
  top: 5px;
  cursor: pointer;
}

.group-theme__upload-photo i {
  color: white;
  text-shadow: 1px 1px 4px $grey-on-grey;
}
