.group-theme.lmo-row
  .group-theme__cover{ng-style:'coverStyle()'}
    .group-theme__upload-photo{ng-mouseover: 'themeHoverIn()', ng-mouseleave: 'themeHoverOut()'}
      %button.lmo-btn-link-no-underline{ng-click: 'openUploadCoverForm()', ng-if: 'canUploadPhotos()'}
        %i.fa.fa-lg.fa-camera
        %span.group-theme__upload-help-text{ng-show: 'themeHover'} new photo


  %section.group-theme__header--compact{ng-if: 'compact', aria-label: "{{ 'thread_group.aria_label | translate'}}"}
    .group-theme__logo--compact{aria-hidden: 'true'}
      %a{lmo-href-for: 'group'}
        %img{ng-src: "{{group.logoUrl()}}"}
    .group-theme__name--compact
      %a{ng-if: 'group.isSubgroup()', lmo-href-for: 'group.parent()'}
        {{group.parentName()}}
      %span{ng-if: 'group.isSubgroup()'}> \-
      %a{lmo-href-for: 'group'}
        {{group.name}}

  %section.group-theme__header{ng-if: '!compact', aria-label: "{{ 'group_page.header.aria_label' | translate }}"}
    .group-theme__logo{ng-style:'logoStyle()', alt: "{{ 'group_page.group_logo' | translate }}"}
      .group-theme__upload-photo{ng-mouseover: 'logoHoverIn()', ng-mouseleave: 'logoHoverOut()'}
        %button.lmo-btn-link-no-underline{ng-click: 'openUploadLogoForm()', ng-if: 'canUploadPhotos()'}
          %i.fa.fa-lg.fa-camera
          %span.group-theme__upload-help-text{ng-show: 'logoHover'} new photo

    .group-theme__name-and-actions
      .group-theme__name
        %h1.lmo-h1
          %a{ng-if: 'group.isSubgroup()', lmo-href-for: 'group.parent()'}
            {{group.parentName()}}
          %span{ng-if: 'group.isSubgroup()'}> \-
          %a{lmo-href-for: 'group'}
            {{group.name}}
      .group-theme__actions{ng-if: 'homePage'}
        .group-theme__member-actions.lmo-btn-group.lmo-btn-group-right{ng-if: 'isMember()'}
          .lmo-btn-wrapper
            %group_actions_dropdown{group: 'group'}
          .lmo-btn-wrapper
            %group_privacy_dropdown{group: 'group'}
        %join_group_button{group: 'group'}
      .clearfix
