%md-dialog.poll-common-modal.lmo-modal__narrow
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{ng-switch: "currentStep"}
        %span{ng-switch-when: "close", translate: "poll_common_close_form.close_{{poll.pollType}}"}
        %span{ng-switch-when: "outcome", translate: "poll_common_outcome_form.new_title"}
        %span{ng-switch-when: "announce", translate: "announcement.form.outcome_announced.title"}
      %dismiss_modal_button

  %md-dialog-content.lmo-slide-animation{ng-switch: "currentStep"}
    %poll_common_close_form.animated{poll: "poll", ng-switch-when: "close"}
    %poll_common_outcome_form.animated{outcome: "outcome", ng-switch-when: "outcome"}
    %announcement_form.animated{announcement: "announcement", ng-switch-when: "announce"}

  %md-dialog-actions.lmp-slide-animation{ng-switch: "currentStep"}
    %poll_common_close_form_actions.animated{poll: "poll", ng-switch-when: "close"}
    %poll_common_outcome_form_actions.animated{outcome: "outcome", ng-switch-when: "outcome"}
