%img.poll-common-stance-icon__svg{ng-if: "iconType() == 'svg'", ng-src: "/img/{{stance.pollOption().name}}.svg"}
%user_avatar{ng-if: "iconType() == 'avatar'", user: "stance.participant()", size: "small"}
