.poll-common-stance-icon
  %img.poll-common-stance-icon__svg{ng-if: "useOptionIcon", ng-src: "/img/{{stanceChoice.pollOption().name}}.svg"}
  .poll-common-stance-icon__chip{ng-if: "!useOptionIcon", ng-style: "{'border-color': '{{stanceChoice.pollOption().color}}'}"}
