%form{ng-submit: 'submit()'}
  .modal-header
    %button{type: 'button', class: 'close', ng-click: '$close()'}
      %span{aria-hidden: true} &times;
      %span.sr-only{translate: 'common.action.cancel'}
    %h1.lmo-h1{translate: 'profile_page.change_password.title'}

  .modal-body
    %div{translate: 'profile_page.change_password.helptext'}

    %label{for: 'user-current-password-field', translate: 'profile_page.change_password.current_password_label'}
    %input.form-control.profile-page__password-input{type: 'password', ng-model: 'user.currentPassword'}
    %validation_errors{subject: 'user', field: 'currentPassword'}

    %label{for: 'user-password-field', translate: 'profile_page.change_password.new_password_label'}
    %input.form-control.profile-page__password-input{type: 'password', ng-model: 'user.password'}
    %validation_errors{subject: 'user', field: 'password'}

    %label{for: 'user-password-confirmation-field', translate: 'profile_page.change_password.password_confirmation_label'}
    %input.form-control.profile-page__password-confirmation-input{type: 'password', ng-model: 'user.passwordConfirmation'}
    %validation_errors{subject: 'user', field: 'confirmPassword'}

  .modal-footer
    %button.btn.btn-primary{type: 'submit', translate: 'profile_page.change_password.submit'}
    %button.btn.btn-warning{ng-click: '$close()', type: 'button', translate: 'common.action.cancel'}
