.invitation-form
  %md-input-container.md-block{ng-if: "!invitationForm.groupId"}
    %label{for: "group-select", translate: "invitation_form.group"}
    %md-select#group-select{ng-model: "invitationForm.groupId", ng-required: true, ng-change: "fetchShareableInvitation()"}
      %md-option{value: "undefined", translate: "invitation_form.group_placeholder"}
      %md-option{ng-repeat: "group in availableGroups() | orderBy: 'fullName' track by group.id", ng-value: "group.id"}
        {{group.fullName}}

  .invitation-form__fields{ng-if: "invitationForm.groupId"}
    .lmo-flex
      %label{translate: "invitation_form.shareable_link"}
      %help_bubble{helptext: "invitation_form.shareable_link_explanation"}
    %md-input-container.lmo-flex.lmo-flex__baseline
      %input.invitation-form__shareable-link{value: "{{invitationLink()}}", ng-disabled: "true"}
      %md-button.md-raised.md-primary{type: "button", clipboard: "true", text: "invitationLink()", on-copied: "copied()"}
        {{ 'invitation_form.copy_link' | translate}}

    .lmo-flex
      %label{for: "email-addresses", translate: "invitation_form.email_addresses"}
      %help_bubble{helptext: "invitation_form.email_explanation"}
    %md-input-container.md-block{md-no-float: "true"}
      %textarea.invitation-form__email-addresses#email-addresses{ng-model: "invitationForm.emails", ng-required: true, rows: 1, placeholder: "{{ 'invitation_form.email_addresses_placeholder' | translate }}" }
      %validation_errors.invitation-form__validation-errors{subject: "invitationForm", field: "emails"}
      .invitation-form__no-invitations.lmo-validation-error{ng-if: "noInvitations", translate: "invitation_form.messages.no_invitations"}
      .invitation-form__max-invitations.lmo-validation-error{ng-if: "maxInvitations()", translate: "invitation_form.messages.max_invitations"}

    %p{ng-if: "invitationForm.group().isSubgroup()"}
      %button.invitation-form__add-members.lmo-btn-link--blue{translate: "invitation_form.add_members", ng-click: "addMembers()"}>
      %span{translate: "invitation_form.from_parent_group", translate-values: "{name: invitationForm.group().parentName()}"}
