.md-dialog .md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 10000000 !important;
}

.time-zone-select__change-button {
  // text-transform: none !important;
}

.time-zone-select {
  width: 100%;
}
.time-zone-select__selected {
  @include displayFlex;
  align-items: baseline;
  justify-content: flex-end;
}
.poll-meeting-form .time-zone-select__change {
  padding: 0 0 0 16px;
}
