.time-zone-select
  .time-zone-select__selected{ng-show: "!isOpen"}
    %md-button.time-zone-select__change-button{ng-click: "open()", aria-label:"Change time zone"}
      {{name}}
  .time-zone-select__change{ng-show: "isOpen"}
    %md-autocomplete{md-search-text: "q", md-selected-item: "name", md-selected-item-change: "change()", md-items: "name in names()", placeholder: "Enter time zone"}
      %md-item-template
        %span {{name}}
