%ul.button-list
  %li= icon_button('#new-discussion', 'Start a discussion', '/assets/topic-18.png', 'start-new-discussion', true)
  %li= icon_button(request_new_group_path, 'Request new group', '/assets/group-18.png', 'request-new-group')
  %li= icon_button('#', 'See previous decisions', '/assets/pie-18.png', 'show-closed-motions')

