- group = GroupDecorator.decorate(group)
- group_link_class = "group-link"
- if current_user && (!current_user.groups.include?(group))
  - group_link_class = "group-link disabled"
- if can? :show, group
  %span{class: group_link_class}= group.link
