#dashboard-home
  - if @groups.present?
    .row
      %section.span5
        %nav.side-panel
          %h1
            Your groups
          %ul#group-list
            - @groups.each do |group|
              %li
                = render 'group_link', group: group
                %ul
                  - group.subgroups.each do |subgroup|
                    - if current_user.groups.include? subgroup
                      %li
                        = render 'group_link', group: subgroup
          = link_to "Create new group", new_group_path, :class => 'btn primary small'

      %section.span11
        %h1.title-row Discussions
        #discussions
          - current_user.discussions.each do |discussion|
            =render discussion
  - else
    = link_to 'Create a group', new_group_path
    or wait until you are invited to one.
