#dashboard-home
  - if @groups.present?
    %section.center-content
      .selector-panel
        %h1 Discussions
        %ul
          - current_user.discussions_sorted.each do |discussion|
            %li= render '/discussions/discussion_preview', discussion: discussion, this_group: nil
  - else
    = link_to 'Create a group', new_group_path
    or wait until you are invited to one.
