- if user_signed_in? && (not current_user.has_read_dashboard_notice?)
  - message = "Welcome to Loomio!\n This is the Home page, where you can see a list of the discussions "
  - message += "going on in all of your groups. To the right is a list of the groups you are a member of. "
  - message += "You can start a discussion on a new topic by clicking on the “Start a discussion” button.\n\n"
  - message += "If you have any questions or feedback we’d love to hear from you: "
  - message += "#{link_to "contact@loom.io", 'mailto:contact@loom.io', :target =>'_blank'}\n\n"
  =render '/application/helper_info', message: message, path: dismiss_dashboard_notice_for_user_path

- if @groups.present?
  -#=render '/application/loomio_process_flow'
  =render '/groups/title', group: nil

  .row.main-content
    %section.span8
      %ul.group-activity-list
        #all-discussions-loading
          %li.selector-item.loading Loading...
        - @groups.each do |group|
          = render 'group_summary', group: group
          - group.subgroups.each do |subgroup|
            = render 'group_summary', group: subgroup
    %section.span4
      =render 'buttons'
    =render '/application/closed_motions', user: current_user, group: nil
    =render '/discussions/new', discussion: @discussion
- else
  = link_to 'Create a group', new_group_path
  or wait until you are invited to one.
