.trial-card {
  @include card;
  p { color: $grey-on-white; }
}

.trial-card__choose-plan-button {
  color: #fff;
  background-color: #4185DE;
  color: #fff;
  i.fa { color: #fff; }
  &:hover { color: #fff; }
  &:focus { color: #fff; }
}
