%table.lmo-calendar
  %thead
    %tr
      %td{colspan: "2"}
        %md-button.md-button--tiny.lmo-calendar__button{ng-disabled:"today.isSame(current, 'month')", ng-click: "changeMonth(-1)"}
          %i.mdi.mdi-chevron-left.mdi-24px
      %td{colspan: "3"}
        %span {{current.format('MMMM YYYY')}}
      %td{colspan: "2"}
        %md-button.md-button--tiny.lmo-calendar__button.lmo-calendar__button--next{ng-click: "changeMonth(1)"}
          %i.mdi.mdi-chevron-right.mdi-24px
    %tr
      %th{ng-repeat: "day in dayNames"} {{day}}
  %tbody
    %tr{ng-repeat: "week in weeks track by $index"}
      %td{ng-repeat: "day in week track by $index"}
        %md-button.md-button--tiny.lmo-calendar__button{ng-click: "selectDate(day)", ng-disabled: "enablePast || day.isBefore(today) || day.month() != current.month()", md-colors: "styleFor(day)"}
          {{day.date()}}
