.closing-at-field
  %fieldset
  .form-group
    %label{for: 'proposal-close-date-field', translate: 'proposal_form.closes_at_label'}
    .input-group
      %input.form-control{type: 'date', min: "{{dateToday}}", ng-model: 'closingDate'}
      .closing-at-field__time-select
        %select
          %option{ng-repeat: 'hour in hours', value: '{{hour}}', ng-selected: 'hour == closingHour'}
            {{(hour > 12) ? (hour - 12): hour }}
            &nbsp;
            {{(hour > 12) ? ('common.time.pm' | translate ) : ('common.time.am' | translate ) }}
    .closing-at-time-in-words
      {{ timeZone }} - 
      %timeago{timestamp: 'proposal.closingAt'}>
