.closing-at-field__time-select {
  /*padding: 6px 12px;*/
  /*font-size: 14px;*/
  font-weight: normal;
  line-height: 1;
  /*color: #555555;*/
  text-align: center;
  /*background-color: #eeeeee;*/
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}
