.previous-polls-card
  .lmo-card--no-padding
    %h2.lmo-card-heading.lmo-card-heading-padding{translate: "poll_common_accordion.title"}
    %poll_common_accordion{poll_collection: "pollCollection", selected_poll_id: "selectedPollId"}
