@import 'variables';
@mixin md-caption {
 font-size:12px;
 letter-spacing:.020em
}

@mixin md-body-1 {
 font-size:14px;
 letter-spacing:.010em;
 font-weight:400;
 line-height:20px
}

@mixin md-body-2 {
 font-size:14px;
 letter-spacing:.010em;
 font-weight:500;
 line-height:24px
}

@mixin md-subhead {
  font-size:16px;
  font-weight:400;
  letter-spacing:.010em;
  line-height:24px
}

@mixin md-title {
  font-size:20px;
  font-weight:500;
  letter-spacing:.005em
}

@mixin md-headline {
  font-size:34px;
  font-weight:400;
  line-height:40px
}

@mixin md-display-1 {
  font-size:34px;
  font-weight:400;
  line-height:40px
}

@mixin md-display-2 {
   font-size:45px;
   font-weight:400;
   line-height:64px
}

@mixin md-display-3 {
  font-size:56px;
  font-weight:400;
  letter-spacing:-.005em;
  line-height:56px
}

@mixin md-display-4 {
  font-size:112px;
  font-weight:300;
  letter-spacing:-.010em;
  line-height:112px
}


@mixin fontSmall { @include md-body-1; }
@mixin fontTiny { @include md-caption; }
@mixin fontMedium { @include md-body-1(); }
@mixin fontMedLarge { @include md-subhead(); }
@mixin fontLarge { @include md-title(); }
@mixin fontGrande { @include md-headline(); }


.md-caption   { @include md-caption; }
.md-body-1    { @include md-body-1; }
.md-body-2    { @include md-body-2; }
.md-subhead   { @include md-subhead; }
.md-title     { @include md-title; }
.md-headline  { @include md-headline; }
.md-display-1 { @include md-display-1; }
.md-display-2 { @include md-display-2; }
.md-display-3 { @include md-display-3; }
.md-display-4 { @include md-display-4; }


@mixin truncateText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin lmoH1{
  @include fontGrande;
  display: inline-block;
  padding: 0;
  margin: 0;
  outline: 0;
}

@mixin lmoBtnLink {
  background: none;
  border: none;
  padding: 0;
  &:hover{ text-decoration: underline; }
}

@mixin lmoRow {
  @media (min-width: $tiny-max-px){
    /* outer padding on all but tiny screens */
    padding-left: 16px;
    padding-right: 16px;
  }
}

@mixin listTransition {
  transition: 0.25s background-color ease-in-out;
  color: $primary-text-color;
  &:hover {
    background: $background-color;
    text-decoration: none;
  }
}


@mixin roundedCorners {
  border-radius: 2px;
}
