.membership-form
  %p.lmo-hint-text.membership-form__helptext{translate: "membership_form.title_helptext.{{membership.target().constructor.singular}}", translate-value-poll-type: "{{membership.target().pollType}}", translate-value-name: "{{membership.user().name}}"}
  %md-input-container.md-block.md-no-errors
    %label{for: "membership-title", translate: "membership_form.title_label"}
    .lmo-relative
      %input.membership-form__title-input.lmo-primary-form-input#membership-title{placeholder: "{{ 'membership_form.title_placeholder' | translate }}", md-autofocus: "true", ng-model: "membership.title", maxlength: "255"}
    %validation_errors{subject: "membership", field: "title"}
