@import 'sass-bootstrap/lib/buttons';

.btn {
  border-radius: 2px;
}

.btn-primary {
  @extend .btn;
  background-color: $teal;
  border: 1px solid $teal;
  color: #fff;
  &:hover {
    background-color: $dark-teal;
    border: 1px solid $dark-teal;
  }
}
