.card {
  margin-bottom: 6px;
  padding: 18px;
  background: #FFF;
  border: 1px solid #eaeaea;
  max-width: 600px;
  @include screen-size(medium-up) {
    margin-left: 440px;
  }
}

.card-header { font-size: 2em; }

.card-btn { min-width: 80px; }

.card-details {
  color: #aaa;
  font-size: 0.8em;
}

.card-img {
  @include screen-size(medium-up) {
    position: absolute;
    top: 1px;
    left: -90px;
  }
}