@import 'sass-bootstrap/lib/navs';
@import 'sass-bootstrap/lib/navbar';

.navbar {
  background-color: $white;
  margin-bottom: 6px;
}
.navbar-user { float: right; }
.navbar-toggle {
  border: none;
  margin-top: 10px;
}