$chip-height: 40px;

.announcement-form {
  margin: 24px 0;
}

.announcement-form__label {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.38) !important;
}

.announcement-form__menu-content {
  padding: 0;
}

.announcement-form__chips md-chip {
  height: $chip-height;
  padding: 4px;
  padding-right: 28px !important;
}

.announcement-form input {
  height: $chip-height;
  margin-bottom: 0;
  padding: 4px !important;
  &::placeholder {
    @include truncateText;
    font-size: 14px;
  }
}
