.poll-count-vote-form__options {
  text-align: center;
}

.poll-count-vote-form__option {
  min-width: 75px;
  width: 75px;
  height: 75px;
  border-radius: 8px;
  color: white;
  margin: 0 24px;
  border: 2px solid white;
}

.poll-count-vote-form__option .material-icons {
  font-size: 60px;
  line-height: 75px;
}
