.poll-common-stance-choice.poll-common-stance-choice--proposal
  %poll_common_stance_icon{stance_choice: "stanceChoice"}
  %span.poll-common-stance-choice__option-name{translate: "poll_{{stanceChoice.poll().pollType}}_options.{{stanceChoice.pollOption().name}}"}
