.attachment-preview {
  position: relative;
  &:hover .attachment-preview__file--image { opacity: 1; }
}

.attachment-preview__image {
  text-align: center;
  background: $background-color;
  background: lighten($background-color, 5%);
  @include roundedCorners;
  img {
    max-width: 100%;
    max-height: 320px;
    margin-bottom: -5px; // wtf
    border: 1px solid $border-color;
    @include roundedCorners;
  }
}

.attachment-preview__file--thread {
  min-height: 32px;

  .mdi {
    font-size: 20px;
    padding: 0 4px;
  }

  .attachment-preview__filename {
    @include truncateText;
    padding: 0 4px;
  }

  .attachment-preview__filesize {
    white-space: nowrap;
    padding: 0 4px;
  }
}

.attachment-preview--thumb {
  width: 100px;
  height: 100px;
  background: $background-color;
  @include roundedCorners;
  margin: 5px 5px 5px;
  float: left;
}

.attachment-preview--thread {
  margin: 10px 40px 10px 0;
  position: relative;
}

.attachment-preview__link:hover {
  text-decoration: none;
  cursor: pointer;
}

.attachment-preview__file {
  @include roundedCorners;
  display: flex;
  background: $background-color;
  color: $grey-on-grey;
}

.attachment-preview__file--thumb {
  width: 100px;
  height: 100px;
  .mdi { font-size: 30px; }
}

.attachment-preview__file--image {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 3px 3px;
  background: $background-transparent-color;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.attachment-preview__destroy {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 20px;
  opacity: .8;
}
