.blank
  %a.attachment-preview__link{lmo-href: "{{attachment.original}}", target: "_blank"}>

    .attachment-preview{class: "attachment-preview--{{mode}}", ng-if: "displayMode()"}
      .attachment-preview__image{ng-if: "attachment.isAnImage"}
        %img{ng-src: "{{location()}}", alt: "{{ 'activity_card.attachment_display.image_alt' | translate }}"}
      .attachment-preview__file.attachment-preview__file--thread{ng-class: "{'attachment-preview__file--image': attachment.isAnImage}"}
        %i.fa.fa-lg.fa-paperclip>
        %span> {{attachment.filename}}
        %span {{attachment.formattedFilesize()}}

    .attachment-preview.attachment-preview--thumb{ng-if: "mode == 'thumb'", title: "{{attachment.filename}}"}
      %img.attachment-preview__image{ng-if: "attachment.isAnImage", ng-src: "{{location()}}", alt: "{{ 'activity_card.attachment_display.image_alt' | translate }}"}
      .attachment-preview__file.attachment-preview__file--thumb{ng-if: "!attachment.isAnImage"}
        %i.fa.fa-lg.fa-paperclip
      %button.close.attachment-preview__destroy{ng-if: "!attachment.commentId", ng-click: "destroy($event)", title: "{{ 'comment_form.attachments.remove_attachment' | translate }}"}
        %span{aria-hidden: "true"}&times;
