%li.selector-list-item{ng-class: "{'lmo-active': !notification.viewed}"}
  %a.notification{class: "navbar-notifications__{{notification.kind}}", href: "{{notification.url}}", ng-click: "broadcastThreadEvent(notification)"}
    .notification__avatar
      %user_avatar{ng-if: "actor", user: "actor", size: "small"}
      .thread-item__proposal-icon{ng-if: "showProposalPie()"}
    .notification__content
      %span{ng-bind-html: "notification.content()"}>
      %timeago{timestamp: "notification.createdAt" }>
      .notifications__publish-outcome{ng-if: "notification.translationValues.publish_outcome", translate: "notifications.publish_outcome"}
