%meta{property: 'og:site_name',    content: @appConfig[:siteName]}
%meta{property: 'og:locale',       content: @appConfig[:currentUserLocale]}
%meta{property: 'og:url',          content: @appConfig[:currentUrl]}
%meta{property: 'fb:app_id',       content: ENV['FB_APP_ID_META']}

%meta{name: 'twitter:card',        content: :summary}
%meta{name: 'twitter:site',        content: @appConfig[:siteName]}
%meta{name: 'twitter:url',         content: @appConfig[:currentUrl]}

- if @metadata
  %meta{property: 'og:title',        content: @metadata[:title]}
  %meta{property: 'og:description',  content: @metadata[:description]}
  %meta{property: 'og:image',        content: @metadata[:image_url]}

  %meta{name: 'twitter:title',       content: @metadata[:title]}
  %meta{name: 'twitter:description', content: @metadata[:description]}
  %meta{name: 'twitter:image',       content: @metadata[:image_url]}
