- render 'angular/third_party/loomio'
- render 'angular/third_party/google_analytics' if Rails.application.secrets.google_analytics_id
- render 'angular/third_party/intercom'         if Rails.application.secrets.intercom_app_id
- render 'angular/third_party/faye'             if Rails.application.secrets.faye_url
- render 'angular/third_party/piwik'            if Rails.application.secrets.hosted_by_loomio
= javascript_include_tag 'angular_ahoy'         if Rails.application.secrets.hosted_by_loomio
