html {
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F5FAFF;
  color: rgba(0,0,0,0.9);
  margin: 1em auto;
  line-height: 1.5;
}

header {
  text-align: center;
  padding:  1em;
  img {
    max-height: 100px;
    max-width: 100%;
    margin: auto;
  }
}

h1, h2, h3 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

footer {
  margin: 1em;
  padding: 1em;
  color: #888;
  a {
    color: #888;
  }
}

main {
  background-color: #fff;
  padding: 1em;
  margin: 1em auto;
  border: 1px solid #E8E8E8;
  border-radius: 12px;
  box-shadow: none;
  max-width: 800px;
}

a{
  text-decoration: none;
}

ul {
  margin-bottom: 2em;
}
.header-text {
  font-family: "Roboto", sans-serif;
  font-size: 2.0rem;
  color: #0070E0;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.3;
  /*margin-top: 0.2em;*/
  /*margin-bottom: 0.5em;*/
}
.header-text span {
  /*display: block;*/
}
