.install-slack-tableau
  %img.install-slack-tableau__logo.install-slack-tableau__loomio-logo{ng-if: "group()", ng-src: "{{group().logoUrl()}}"}
  %img.install-slack-tableau__logo.install-slack-tableau__loomio-logo{ng-if: "!group()", src: "/img/mascot.png"}
  %img.install-slack-tableau__logo.install-slack-tableau__third-party-logo{src: "/img/slack-icon.svg"}
