.vote-form-and-your-position
  .vote-form{ng-show: 'proposal.isActive() && (!lastVote() || editing)', ng-disabled: 'vote.processing'}
    %h4{translate: 'vote_form.have_your_say'}
    .position-buttons
      .position-button.position-button-yes{ng-click: 'selectPosition("yes")'}
      .position-button.position-button-abstain{ng-click: 'selectPosition("abstain")'}
      .position-button.position-button-no{ng-click: 'selectPosition("no")'}
      .position-button.position-button-block{ng-click: 'selectPosition("block")'}

    %form{ng-submit: 'submit()', ng-show: 'vote.position', ng-disabled: 'vote.processing' }
      %form_errors{record: 'vote'}

      %fieldset
        .form-group
          %label.label-with-details{for: 'vote-statement-field'}
            %span.label-with-details-label{ng-show: 'vote.position'}
              {{ 'vote_form.i_'+ vote.positionVerb() | translate }}
            %span.label-with-details-details{ng-show: 'vote.position'}>
              {{ 'vote_form.i_'+ vote.positionVerb() +'_details' | translate }}
            %span{translate: 'vote_form.select_position', ng-show: '!vote.position'}
          %textarea#vote-statement-field.form-control{ng-model: 'vote.statement', placeholder: '{{ "vote_form.statement_placeholder" | translate }}'}
          .chars-left.pull-right{ng-class: '{ overlimit: vote.overCharLimit() }' }
            {{ vote.charsLeft() }}
      %button.btn.btn-primary.cuke-submit-position{type: 'submit', translate: 'vote_form.submit_position'}>

      %button.btn.btn-default{ng-click: 'cancel($event)', type: 'button', translate: 'common.action.cancel'}>

  .your-position{ng-show: 'lastVote() && !editing'}
    %h4{translate: 'proposal_expanded.your_position'}

    %a.cuke-edit-position-btn.pull-right{ng-show: 'proposal.isActive()', ng-click: 'edit()', href: '#'}
      %span{translate: 'common.action.edit'}>
      %i.fa.fa-pencil

    .current-position.media
      .media-left
        .your-position-icon{class: 'your-position-icon-{{lastVote().position}}'}
      .media-body
        %span.author-statement
          {{ lastVote().statement }}
