.decision-tools-card__poll-types {
  margin: 0;
  padding: 0;
}

.decision-tools-card__poll-type {
  // line-height: 24px;
  list-style-type: none;
  height: 56px;
}

.decision-tools-card__poll-type-link {
  @include displayFlex;
  cursor: pointer;
  // padding: 15px 0;
  text-decoration: none;
  &:hover { text-decoration: none; }
}

.decision-tools-card__poll-type-link i {
  padding: 10px 10px 10px 0;
}

// .decision-tools-card__poll-type-subtitle {
//   line-height: 20px;
// }

.decision-tools-card__icon {
  margin-left: -16px;
}
.decision-tools-card__content {
  margin-left: 16px;
  line-height: 24px;
}
