.decision-tools-card.lmo-card.lmo-no-print
  %h2.lmo-card-heading.decision-tools-card__title{translate: "decision_tools_card.title"}
  %md-list.decision-tools-card__poll-types
    %md-list-item.decision-tools-card__poll-type{ng-click: "startPoll(pollType)", ng-repeat: "pollType in pollTypes() track by $index"}
      %i.material-icons.decision-tools-card__icon {{fieldFromTemplate(pollType, 'material_icon')}}
      .decision-tools-card__content{class: "decision-tools-card__poll-type--{{pollType}}"}
        .decision-tools-card__poll-type-title.md-body-1{translate: "poll_types.{{pollType}}"}
        .decision-tools-card__poll-type-subtitle.md-caption{translate: "poll_{{pollType}}_form.tool_tip_collapsed"}
