%form{ng-submit: "submit()"}
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1{translate: "profile_page.change_password.title"}

  .modal-body
    %div{translate: "profile_page.change_password.helptext"}

    %label{for: "user-current-password-field", translate: "profile_page.change_password.current_password_label"}
    %input.profile-page__current-password-input.form-control#user-current-password-field{type: "password", ng-model: "user.currentPassword"}
    %validation_errors{subject: "user", field: "currentPassword"}

    %label{for: "user-new-password-field", translate: "profile_page.change_password.new_password_label"}
    %input.profile-page__new-password-input.form-control#user-new-password-field{type: "password", ng-model: "user.password"}
    %validation_errors{subject: "user", field: "password"}

    %label{for: "user-password-confirmation-field", translate: "profile_page.change_password.password_confirmation_label"}
    %input.profile-page__password-confirmation-input.form-control#user-password-confirmation-field{type: "password", ng-model: "user.passwordConfirmation"}
    %validation_errors{subject: "user", field: "confirmPassword"}

  .modal-footer
    %button.lmo-btn--submit{type: "submit", translate: "profile_page.change_password.submit"}
    %button.lmo-btn--cancel{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
