%md-dialog.change-password-form
  .lmo-disabled-form{ng-show: "processing"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "change_password_form.title"}
      %material_modal_header_cancel_button

  .md-dialog-content
    .lmo-blank{ng-if: "!user.sentPasswordLink"}
      %p{translate: "change_password_form.helptext"}

      .lmo-md-actions
        %md-button.md-primary.md-raised.change-password-form__submit{ng-click: "submit()", translate: "change_password_form.reset_my_password"}
    %auth_complete{user: "user", ng-if: "user.sentPasswordLink"}
