.document-list-edit
  %md-menu.lmo-pointer{md-prevent-menu-close: "true"}
    %md-button.md-button--tiny{md-menu-origin: "true", ng-click: "$broadcast('initializeDocument', document, $mdMenu)", md-prevent-menu-close: "true"}
      %i.mdi.mdi-pencil
    %md-menu-content
      %document_form.lmo-textarea__document-form
