.profile-page {
  max-width: $main-max-width;
  margin: 0px auto;
}

.profile-page-card {
  position: relative;
  @include card;
}

.img-profile {
  width: 200px;
}

.profile-group {
  padding: 5px 0;
}

.profile-subgroup {
  padding-left: 20px;
}
