.revision-history-modal__thread-details {
  @include fontSmall;
  color: $grey-on-white;
  margin: 10px 0;
}

.revision-history-modal__revision {
  border-bottom: 1px solid $border-color;
}

.revision-history-modal__revision-body {
  margin-bottom: 20px;
}

.modal-body.revision-history-modal__body {
  padding: 15px 15px 0 15px;
}

.revision-history-modal__nav {
  span { 
    color: $grey-on-white;
    margin:auto;
  }
}
