.revision-history-modal.lmo-modal__narrow
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1.modal-title{translate:"revision_history_modal.{{model.constructor.singular}}_header"}
      %dismiss_modal_button{aria-hidden: "true"}
  .md-dialog-content.revision-history-modal__body{ng-if: "!loadExecuting"}
    %loading{ng-if: "loadExecuting"}
    .lmo-flex.lmo-flex--row.lmo-flex__space-between
      .revision_history_modal__user-display.lmo-flex--row
        %user_avatar.lmo-margin-right{user:"version.author()" , size:"small"}
        %h2.lmo-h2 {{version.author().name}}
      .revision-history-modal__nav.lmo-flex.lmo-flex--row
        %md-button.md-button--tiny{ng-if:"!isOldest()", ng-click:"setOldestRevision()"}
          %i.mdi.mdi-arrow-collapse-left
        %md-button.md-button--tiny{ng-if:"!isOldest()", ng-click:"setPreviousRevision()"}
          %i.mdi.mdi-arrow-left
        %span{ng-if:"!isOldest() && !isNewest()", replace:"true"}
          %span {{currentIndex + 1}}
          %span \/
          %span {{model.versionsCount}}
        %span{ng-if:"isOldest()", translate:"revision_history_modal.original_text "}
        %span{ng-if:"isNewest()", translate:"revision_history_modal.current_revision"}
        %md-button.md-button--tiny{ng-if:"!isNewest()", ng-click:"setNextRevision()"}
          %i.mdi.mdi-arrow-right
        %md-button.md-button--tiny{ng-if:"!isNewest()", ng-click:"setLatestRevision()"}
          %i.mdi.mdi-arrow-collapse-right
    %revision_history_content{ng-if:"version", model: "model", version:"version"}
    %loading{ng-if:"!version"}
