.document-remove-form
  %p.lmo-hint-text{translate: "documents_page.confirm_remove_helptext"}
  .lmo-md-action
    %md-button.md-primary.md-raised{ng-click: "submit()", translate: "common.action.ok"}
