- time_zone = (@recipient || poll).time_zone

%table.poll-meeting-chart.pb-2{cellspacing: 0}
  %thead
    %tr
      %td= time_zone
      %td= t(:'poll_common.votes')
      - poll.decided_voters.each do |user|
        %td=render 'base_mailer/avatar', user: user, size: 24
  %tbody
    - poll.poll_options.each do |poll_option|
      %tr
        %td.poll-meeting-chart__meeting-time
          = option_name(poll_option.name, poll.poll_option_name_format, time_zone)
        %td.total.text-center
          %strong=((poll_option.total_score.to_f)/2).to_s.gsub('.0','')
        - poll.decided_voters.each do |user|
          %td
            - score = poll_option.voter_scores.fetch(user.id.to_s, 0)
            - class_for_score = 'poll-meeting-chart__cell--yes' if score == 2
            - class_for_score = 'poll-meeting-chart__cell--maybe' if score == 1
            - class_for_score = 'poll-meeting-chart__cell--no' if score == 0
            .poll-meeting-chart__cell{class: class_for_score}
              %span &nbsp;
