.slack-tableau
  %img.slack-tableau__logo.slack-tableau__loomio-logo{ng-if: "group", ng-src: "{{group.logoUrl()}}"}
  %img.slack-tableau__logo.slack-tableau__loomio-logo{ng-if: "!group", src: "/img/mascot.png"}
  %img.slack-tableau__logo.slack-tableau__third-party-logo{src: "/img/slack-icon.svg"}
