- @user.inbox_groups.each do |group|
  - next unless @discussions_by_group.has_key?(group)
  %h3=link_to group.full_name, group_url(group, @utm_hash)
  %ul
    - @discussions_by_group[group].each do |discussion|
      %li=DiscussionHeadline.new(discussion, @time_frame).render.html_safe
