- @groups.each do |group|
  - next unless @discussions_by_group.has_key?(group)
  = group.full_name + ":"
  = group_url(group, @utm_hash).html_safe
  \
  \
  \--------------------
  - @discussions_by_group[group].each do |discussion|
    = discussion.title + ":"
    = discussion_url(discussion).html_safe
\-------------------------------------------------
