- colours = [ "90D490", "F0BB67", "D49090", "dd0000", 'cccccc'].join('|')
%img{src: URI.escape("https://chart.googleapis.com/chart?cht=p&chma=0,0,0,0|0,0&chs=50x50&chd=t:#{motion_sparkline(motion)}&chco=#{colours}")}
