- discussion = item.eventable
%table
  %tr
    %td.icon
      = render "avatar", user: item.actor
    %td.content
      %i= t(:"discussion_mailer.discussion_edited", actor: item.actor.name)
      %p= render_plain_text(item.recipient_message, 'md')
