- discussion = item.eventable
%table
  %tr
    %td{valign: 'top'}
      = render "avatar", user: item.actor
    %td
      = t(:"discussion_mailer.discussion_edited.inline", actor: item.actor.name)
      .font-italic= render_plain_text(item.recipient_message, 'md')
