.thread-mailer__footer
  - if @recipient.is_logged_in?
    %img.thread-mailer__footer-image{src: email_actions_mark_discussion_as_read_url(discussion_id: @discussion.id,
                                          event_id: @event.id,
                                          unsubscribe_token: @recipient.unsubscribe_token,
                                          format: 'gif'), alt: '', width: 1, height: 1}

  %p.thread-mailer__footer-links
    &mdash;
    %br
    = t(:'discussion_mailer.reply_or_view_online_html', url: @link, hostname: AppConfig.theme[:site_name])
    %br
    - if @following && action_name == "new_comment"
      = t :'discussion_mailer.turn_off_notifications_html', url: email_actions_unfollow_discussion_url(@utm_hash.merge(unsubscribe_token: @recipient.unsubscribe_token, discussion_id: @discussion.id))

    = t :"discussion_mailer.change_email_preferences_html", email_preferences_url: email_preferences_url(@utm_hash.merge(unsubscribe_token: @recipient.unsubscribe_token))
  = image_tag AppConfig.theme[:email_footer_logo_src], alt: "Logo", class: "thread-mailer__footer-logo"
