= render "discussion_mailer/header", event: @event, action_name: @action_name, recipient: @recipient
= render "discussion_mailer/body", discussion: @event.eventable.discussion, eventable: @event.eventable
= render "discussion_mailer/footer", recipient: @recipient, event: @event, action_name: @action_name
