%md-dialog.install-slack-modal.lmo-modal__narrow
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "install_slack.modal_title"}
      %dismiss_modal_button{ng-if: "!preventClose"}
  %md-dialog-content
    %install_slack_form{ng-if: "hasIdentity", group: "group"}
    .install-slack-form__redirect{ng-click: "redirect()", ng-if: "!hasIdentity"}
      %auth_avatar
      %p.lmo-hint-text{translate: "install_slack.modal_helptext"}
      .lmo-md-action
        %md-button.md-primary.md-raised{ng-click: "redirect()", translate: "install_slack.login_to_slack"}
