.loading-wrapper.container.main-container
  %loading{ng-if: '!threadPage.discussion'}
  %main.thread-page{ng-if: 'threadPage.discussion'}

    %section.media.thread-group{aria-label: "{{ 'thread_group.aria_label' | translate }}"}
      .media-left.thread-group__icon{aria-hidden: 'true'}
        %img.thread-group-logo{ng-src: "{{threadPage.group.logoUrl()}}"}
      .media-body.thread-group__name
        %a{ng_show: 'threadPage.group.parentId', lmo-href-for: 'threadPage.group.parent()'}
          {{threadPage.group.parentName()}}
        %span{ng_show: 'threadPage.group.parentId', aria-label: '-'}> >
        %a{lmo-href-for: 'threadPage.group'}
          {{threadPage.group.name}}

    %section.thread-context{aria-label: "{{ 'thread_context.aria_label' | translate }}"}
      %h2.lmo-card-heading{aria-hidden: 'true', translate: 'context_card.heading'}
      .thread-actions.lmo-btn-group.pull-right
        .thread-notification-level.lmo-btn-wrapper
          %notification_volume_dropdown{translate-root: 'discussion', discussion: 'threadPage.discussion'}
        %star_toggle{thread: 'threadPage.discussion'}
        %span.lmo-btn-wrapper{dropdown: '',  ng-if: 'threadPage.showContextMenu()'}
          %button.thread-context__dropdown-button.btn.lmo-btn-nude{dropdown-toggle: ''}
            .sr-only{translate: 'thread_context.thread_options'}
            %i.fa.fa-fw.fa-chevron-down{aria-hidden: 'true'}
          .dropdown-menu.dropdown-menu-right
            %ul.dropdown-menu-items
              %li.dropdown-menu-item{ng-if: 'threadPage.canEditDiscussion()'}
                %a.thread-context__dropdown-options-edit.dropdown-menu-item-label{href: '', ng-click: 'threadPage.editDiscussion()', translate: 'thread_context.edit_thread'}
              %li.dropdown-menu-item{ng-if: 'threadPage.canDeleteDiscussion()'}
                %a.thread-context__dropdown-options-delete.dropdown-menu-item-label{href: '', ng-click: 'threadPage.deleteDiscussion()', translate: 'thread_context.delete_thread'}
      .clearfix
      %h1.lmo-h1#thread-context__heading{in-view: 'threadPage.showLintel(!$inview)'}
        {{threadPage.discussion.title}}
      .thread-context__details
        %span{translate: 'discussion.started_by', translate-value-name: '{{::threadPage.discussion.authorName()}}'}
        %timeago.nowrap{timestamp: '::threadPage.discussion.createdAt' }>
        %span{aria-hidden: 'true'}·
        %span.nowrap.discussion-privacy__is-private{ng-show: 'threadPage.discussion.private'}>
          %i.fa.fa-lock{aria-hidden: 'true'}>
          %span{translate: 'common.privacy.private'}
        %span.nowrap.discussion-privacy__is-public{ng-show: '!threadPage.discussion.private'}>
          %i.fa.fa-globe{aria-hidden: 'true'}>
          %span{translate: 'common.privacy.public'}

      .thread-context__description.lmo-markdown-wrapper{marked: 'threadPage.discussion.description', aria-label: "{{ 'thread_context.aria_label' | translate }}" }

    %section.start-proposal-card{in-view: 'threadPage.proposalButtonInView($inview)', in-view-options: '{debounce: 200}', ng-if: 'threadPage.canStartProposal()', aria-label: '{{ "start_proposal_card.title" | translate }}'}
      %h2.lmo-card-heading{translate: 'common.models.proposal'}
      %start_proposal_button.table-cell.thread-start-proposal-button{discussion: 'threadPage.discussion'}
      %span.lmo-placeholder.lmo-hint-text.table-cell{translate: 'start_proposal_card.helptext'}

    %current_proposal_card{in-view: 'threadPage.proposalInView($inview)', in-view-options: '{debounce: 200}', ng-if: 'threadPage.discussion.hasActiveProposal()', proposal: 'threadPage.discussion.activeProposal()'}

    %previous_proposals_card{ng-if: 'threadPage.discussion.anyClosedProposals()', discussion: 'threadPage.discussion'}

    %activity_card{discussion: 'threadPage.discussion'}
    %comment_form{comment: 'threadPage.comment'}

    %thread_lintel
