.thread-actions{
  margin-right: -10px;
}

.thread-actions .star-toggle {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  a {
    min-width: 30px;
    text-align: center;
  }
}

.thread-notification-level {
  display: inline-block;
}

.thread-group{
  margin: 14px 22px;
  padding-top: 10px;
}

.thread-group__name a{
  font-weight: bold;
  color: $grey-on-grey;
  line-height: 30px;
}

.thread-group__icon img{
  @include smallIcon;
}

.thread-context{
  @include card;
  .lmo-card-heading {
    margin-top: 7px;
  }
}

.thread-context__details{
  @include fontSmall;
  color: $grey-on-white;
  margin-bottom: 15px;
}

.thread-context__description p:last-of-type{
  margin-bottom: 0;
}

.thread-container .lmo-dropdown-menu-right{
  right: -16px;
}

.attachments {
  margin: 0 10px;
}

.attachment-new {
  width: 34px;
  height: 34px;
  border: 1px solid $border-color;
  @include roundedCorners;
}

.attachment-new input {
  width: 34px;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.cover-file-upload {
  pointer-events: none;
  position: relative;
  bottom: 38px;
  padding: 0px;
  left: 4px;
}

.progress.active {
  float: left;
}

.start-proposal-card {
  @include card;
  i { color: white; }
}

.start-proposal-card__start-proposal-button {
  margin-top: 10px;
}

.thread-start-proposal-button {
  vertical-align: middle;
  padding-right: 10px;
}
