.loading-wrapper.container.main-container
  .loading{ng-if: 'threadPage.loading'}
    Loading..

  .thread-page{ng-if: '!threadPage.loading'}
    .thread-actions.pull-right
      .dropdown.thread-notification-level
        %notification_volume_dropdown{translate-root: 'discussion', discussion: 'threadPage.discussion'}
      .dropdown{ng-if: 'threadPage.showContextMenu()'}
        %a.fat-finger.dropdown-toggle{href:''}
          %i.fa.fa-fw.fa-chevron-down.pull-right
        %ul.dropdown-menu.dropdown-menu-right
          %li
            %a{href: '', ng-click: 'threadPage.editDiscussion()', translate: 'common.action.edit', ng-if: 'threadPage.canEditDiscussion()'}

    .thread-discussion
      %h1{in-view: 'threadPage.showLintel(!$inview)'}
        {{threadPage.discussion.title}}
      .media.thread-origin
        .media-left.thread-origin-icon
          %img.thread-origin-group-logo{src: "{{threadPage.group.logoUrl()}}"}
        .media-body.thread-origin-details
          %a.cuke-group-parent-name{ng_show: 'threadPage.group.parentId', href: '/g/{{threadPage.group.parent().key}}'}
            {{threadPage.group.parentName()}}
          %span{ng_show: 'threadPage.group.parentId'}> >
          %a.cuke-group-name{href: '/g/{{threadPage.group.key}}'}
            {{threadPage.group.name}}
          %br
          %span{translate: 'discussion.started_by', translate-value-name: '{{::threadPage.discussion.authorName()}}'}
          %timeago.nowrap{timestamp: '::threadPage.discussion.createdAt' }>
          ·
          %span.nowrap.discussion-privacy__is-private{ng-show: 'threadPage.discussion.private'}>
            %i.fa.fa-lock>
            %span{translate: 'common.privacy.private'}
          %span.nowrap.discussion-privacy__is-public{ng-show: '!threadPage.discussion.private'}>
            %i.fa.fa-globe>
            %span{translate: 'common.privacy.public'}

      .thread-discussion-description{btf-markdown: 'threadPage.discussion.description' }

    %proposals_card{discussion: 'threadPage.discussion'}
    %activity_card{discussion: 'threadPage.discussion'}
    %comment_form{discussion: 'threadPage.discussion'}

    .thread-container{ng_controller: 'StartProposalCardController', ng-if: 'threadPage.canStartProposals()'}
      .thread-start-proposal-card
        %h3.first Ready to make a decision?
        %a{href: '#', ng_click: 'threadPage.openForm()'}
          Create a proposal
