.thread-page {
  margin: 0px auto;
  max-width: $main-max-width;
}

.thread-group{
  margin: 16px 22px;
}

.thread-group__name a{
  font-weight: bold;
  color: $kinda-dark-grey;
  line-height: 30px;
}

.thread-group__icon img{
  width: 30px;
  height: 30px;
}

.thread-context{
  @include card;
}

.thread-context__title{
  margin: 2px 0 9px 0;
}

.thread-context__details{
  @include metaText;
  margin-bottom: 15px;
}

.thread-context__description p:last-of-type{
  margin-bottom: 0;
}

.thread-container .dropdown-menu-right{
  right: -16px;
}

.thread-container img {
  max-width: 100%;
}

.thread-item {
  margin-bottom: 25px;
}

.thread-item-header {
  strong {
    color: $text-color;
    @include fontHelveticaBold;
  }
  color: $meta-text-color;
  margin-bottom: 5px;
  .media-body, .media-left{
    vertical-align: middle;
  }
}

.thread-item-body {
  margin-bottom: 10px;
}

.thread-item-footer {
  @include fontSmall();
  color: $meta-text-color;
}

.thread-actions-and-meta {
  margin-bottom: 5px;
}

.thread-item-vote-icon {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
}

.thread-item-proposal-icon{
  width: 30px;
  height: 30px;
  background-image: url(/img/proposal_icon_30.png);
}

.thread-item-vote-icon-yes {
  background-image: url(/img/green_thumb_22.png);
}

.thread-item-vote-icon-abstain {
  background-image: url(/img/yellow_thumb_22.png);
}

.thread-item-vote-icon-no {
  background-image: url(/img/pink_thumb_22.png);
}

.thread-item-vote-icon-block {
  background-image: url(/img/red_flag_22.png);
}


.attachments {
  margin: 0 10px;
}

.attachment-new {
  width: 34px;
  height: 34px;
  border: 1px solid $border-color;
}

.attachment-new input {
  width: 34px;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.cover-file-upload {
  pointer-events: none;
  position: relative;
  bottom: 38px;
  padding: 0px;
  left: 4px;
}

.progress.active {
  float: left;
}

