.loading-wrapper.container.main-container
  .loading{ng-if: '!threadPage.discussion'}
    Loading..
  .thread-page{ng-if: 'threadPage.discussion'}

    .media.thread-group
      .media-left.thread-group__icon
        %img.thread-group-logo{src: "{{threadPage.group.logoUrl()}}"}
      .media-body.thread-group__name
        %a{ng_show: 'threadPage.group.parentId', href: '/g/{{threadPage.group.parent().key}}'}
          {{threadPage.group.parentName()}}
        %span{ng_show: 'threadPage.group.parentId'}> >
        %a{href: '/g/{{threadPage.group.key}}'}
          {{threadPage.group.name}}

    .thread-context
      .thread-actions.pull-right
        .dropdown.thread-notification-level
          %notification_volume_dropdown{translate-root: 'discussion', discussion: 'threadPage.discussion'}
        .dropdown{ng-if: 'threadPage.showContextMenu()'}
          %a.fat-finger.dropdown-toggle{href:''}
            %i.fa.fa-fw.fa-chevron-down.pull-right
          %ul.dropdown-menu.dropdown-menu-right
            %li
              %a{href: '', ng-click: 'threadPage.editDiscussion()', translate: 'common.action.edit', ng-if: 'threadPage.canEditDiscussion()'}

      %h1.thread-context__title{in-view: 'threadPage.showLintel(!$inview)'}
        {{threadPage.discussion.title}}
      .thread-context__details
        %span{translate: 'discussion.started_by', translate-value-name: '{{::threadPage.discussion.authorName()}}'}
        %timeago.nowrap{timestamp: '::threadPage.discussion.createdAt' }>
        ·
        %span.nowrap.discussion-privacy__is-private{ng-show: 'threadPage.discussion.private'}>
          %i.fa.fa-lock>
          %span{translate: 'common.privacy.private'}
        %span.nowrap.discussion-privacy__is-public{ng-show: '!threadPage.discussion.private'}>
          %i.fa.fa-globe>
          %span{translate: 'common.privacy.public'}


      .thread-context__description{btf-markdown: 'threadPage.discussion.description' }

    %proposals_card{discussion: 'threadPage.discussion'}
    %activity_card{discussion: 'threadPage.discussion'}
    %comment_form{discussion: 'threadPage.discussion'}

