.active-polls-card
  .active-polls-card.lmo-card{ng-repeat: "poll in discussion.polls() track by poll.id"}
    %section.poll-proposal-card
      %poll_common_summary_panel{poll: "poll"}

      -# Here's our poll type switch statement. I've made it very explicit for now; we can be cute with this later if we feel the need to.
      .poll-proposal-panel{ng-if: "poll.pollType == 'proposal'"}
        %poll_proposal_action_panel{poll: "poll"}
        %poll_proposal_results_panel{poll: "poll"}
        %poll_proposal_votes_panel{poll: "poll"}

      .poll-engagement-panel{ng-if: "poll.pollType == 'engagement'"}
        %poll_engagement_action_panel{poll: "poll"}
        %poll_engagement_results_panel{poll: "poll"}
        %poll_engagement_votes_panel{poll: "poll"}
