.activity-card
  %h3.activity-card__title Activity
  %a.activity-card__load-backwards{translate: 'activity_card.load_previous', translate-value-count: '{{beforeCount()}}', ng-show: 'canLoadBackwards()', ng-click: 'loadEventsBackwards()'}
  .activity-card__loading.page-loading{ng-show: 'loadingBackward'}
    %i.fa.fa-lg.fa-spin.fa-circle-o-notch
  %div{ng_repeat: 'event in discussion.events() track by event.id', ng_include: "'generated/components/thread_page/activity_card/'+ event.kind+ '.html'", in-view: '($inview&&threadItemVisible(event)) || (!$inview&&threadItemHidden(event))', in-view-options: '{debounce: 100}'}
  .activity-card__loading.page-loading{ng-show: 'loadingForward'}
    %i.fa.fa-lg.fa-spin.fa-circle-o-notch
