.activity-card{
  @include card;
}

.activity-card__load-backwards{
  @include fontSmall;
  color: $grey-on-white;
  line-height: 30px;
  span{text-decoration: underline;}
}

.activity-card__last-read-activity {
  visibility: hidden; /* can't display none because scrolling won't work */
  line-height: 0px;
  margin: -10px 0;
}

.activity-card__new-activity {
  visibility: visible;
  margin: 10px 0;
  padding-bottom: 0;
  border-bottom: 1px solid $loomio-orange;
  text-align: right;
  @include fontTiny;
  line-height: 9px;
  color: $loomio-orange;
}

.activity-card__activity-list{
  list-style: none;
  padding: 0;
}