.thread-item{ng-controller: 'DiscussionEditedItemController'}
  .thread-item__header.media
    .media-left
      %user_avatar{user: 'event.actor()', size: 'small'}
    .media-body
      %h3.thread-item__title{id: 'event-{{event.id}}', translate: "discussion_edited_item.{{translationKey}}", translate-values: '{actor: actorName, title: title}'}
  .thread-item__footer
    .thread-item__actions
      %timeago{timestamp: 'event.createdAt'}
