.thread-item
  .thread-item__header.media
    .media-left
      %user_avatar{user: "event.actor()", size: 'small'}
    .media-body
      %h3.thread-item__title{id: 'event-{{event.id}}'}
        %span{translate: "new_proposal_item.author_created_proposal", translate-values: '{actor: event.actorName(), title: event.proposal().name}'}
        %timeago.timeago--inline{timestamp: 'event.createdAt'}
