%article.thread-item{ng-controller: 'NewProposalItemController', aria-labelledby: 'proposal-{{proposal.id}}'}
  .thread-item__header.media
    .media-left
      .thread-item__proposal-icon
    .media-body
      %h3.thread-item__title{id: 'proposal-{{proposal.id}}', translate: "new_proposal_item.author_created_proposal", translate-value-actor: '{{proposal.authorName()}}'}
  .thread-item__body
    {{proposal.name}}
  .thread-item__footer
    .thread-item__actions
      %timeago{timestamp: 'proposal.createdAt'}
