.thread-item.thread-item--comment{ng_controller: 'NewCommentItemController', id: 'comment-{{comment.id}}' }
  .pull-right{dropdown: '', ng-if: 'showContextMenu()'}
    %button.thread-item__dropdown-button.btn.lmo-btn-nude{dropdown-toggle: '', type: 'button'}
      %i.fa.fa-chevron-down
      .sr-only{translate: 'new_comment_item.context_menu.aria_label'}
    .dropdown-menu.dropdown-menu-right
      %ul.dropdown-menu-items
        %li.dropdown-menu-item{ng-if: '::canEditComment()'}
          %a.dropdown-menu-item-label.thread-item__edit-link{href: '', ng-click: 'editComment()', translate: 'new_comment_item.context_menu.edit_comment'}
        %li.dropdown-menu-item{ng-if: '::canDeleteComment()'}
          %a.dropdown-menu-item-label.thread-item__delete-link{href: '', ng-click: 'deleteComment()', translate: 'new_comment_item.context_menu.delete_comment'}

  .thread-item__header.media
    .media-left
      %user_avatar{user: "comment.author()", size: 'small'}
    .media-body
      %h3.new-comment__in-reply-to{ng-if: 'comment.parentId', id: 'event-{{event.id}}', translate: 'new_comment_item.in_reply_to', translate-values: '{author: comment.authorName(), recipient: comment.parentAuthorName}'}
      %h3.new-comment__author-name{ng-if: '!comment.parentId'} {{ ::comment.authorName() }}
      .sr-only{ng-if: '!comment.parentId', id: 'event-{{event.id}}', translate: 'new_comment_item.aria_label', translate-value-author: '{{comment.authorName()}}'}

  .thread-item__body.lmo-markdown-wrapper{marked: 'comment.body' }

  .thread-item__attachments
    .thread-item__attachment{ng-repeat: 'attachment in comment.attachments() track by attachment.id'}
      %attachment{attachment: 'attachment'}

  .thread-item__footer
    .thread-item__actions{ng-if: 'showCommentActions()'}
      %button.thread-item__action--like.lmo-btn-link{type: 'button', translate: 'common.action.like', ng-show: '!currentUserLikesIt()', ng_click: 'like()'}>
      %button.lmo-btn-link{type: 'button', translate: 'common.action.unlike', ng_click: 'unlike()', ng-show: 'currentUserLikesIt()'}>
      %span{aria-hidden: 'true'}·
      %button.thread-item__action--reply.lmo-btn-link{translate: 'common.action.reply', type: 'button', ng_click: 'reply()'}>
    .thread-item__timestamp
      %span{aria-hidden: 'true'}·
      %timeago{timestamp: 'comment.createdAt' }>

    .thread-item__liked-by{ng_show: 'anybodyLikesIt()'}
      {{ likedBySentence }}
