.thread-item
  .thread-item__header.media
    .media-left
      .thread-item__proposal-icon
    .media-body
      %h3.thread-item__title{id: 'event-{{event.id}}', translate: "new_proposal_item.author_created_proposal", translate-values: '{actor: event.actorName(), title: event.proposal().name}'}
  .thread-item__footer
    .thread-item__actions
      %timeago{timestamp: 'proposal.createdAt'}
