.thread-item {
  margin-bottom: 25px;
}

.thread-item__header {
  strong {
    color: $primary-text-color;
    @include fontHelveticaBold;
  }
  span {
    color: $primary-text-color;
  }
  .media-body, .media-left{
    vertical-align: middle;
  }
}

.thread-item__title {
  color: $grey-on-white;
}

.thread-item__body {
  margin: 0 0 10px 40px;
}

.thread-item__footer {
  @include fontSmall();
  color: $grey-on-white;
  margin-left: 40px;
}

.thread-item__actions {
  margin-right: 3px;
  display: inline-block;
}

.thread-item__timestamp {
  display: inline-block;
}

.thread-item__vote-icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.thread-item__proposal-icon{
  @include smallIcon;
  background-image: url(/img/proposal_icon_30.png);
  background-repeat: no-repeat;
}

.thread-item__vote-icon--yes {
  background-image: url(/img/green_thumb_22.png);
  background-position: 6px 2px;
}

.thread-item__vote-icon--abstain {
  background-image: url(/img/yellow_thumb_22.png);
  background-position: 4px 6px;
}

.thread-item__vote-icon--no {
  background-image: url(/img/pink_thumb_22.png);
  background-position: 5px 8px;
}

.thread-item__vote-icon--block {
  background-image: url(/img/red_flag_22.png);
  background-position: 5px 7px;
}
