.document-card__documents {
  flex-wrap: wrap;
}

.document-card__document {
  word-break: break-all;
  flex-basis: 50%;
  max-width: 120px;
  min-height: 80px;
  background: $background-color;
  color: $primary-text-color;
  @include roundedCorners;
  border: 1px solid $border-color;
  margin: 8px 8px 8px 0;
  padding: 8px;
}

.document-card__chip {
  position: absolute;
  right: -1px;
  bottom: -1px;
  height: 0;
  width: 0;
  border-right: 8px solid $card-background-color !important;
  border-bottom: 8px solid $card-background-color !important;
  border-top: 8px solid;
  border-left: 8px solid;
}

.document-card__document-doctype {
  color: $grey-on-grey;
  @include fontTiny;
}
