%section.document-card.lmo-card.lmo-no-print
  %h2#documents-card-title.lmo-card-heading{translate: "document.card.title"}
  .lmo-hint-text.document-card__helptext{translate: "document.card.helptext", ng-if: "model.documents().length < 3"}
  .document-card__documents.lmo-flex{layout: "row"}
    %a.document-card__document.lmo-pointer.lmo-relative{href: "{{document.url}}", target: "_blank", ng-repeat: "document in model.documents() track by document.id"}
      {{ document.title }}
      %span.document-card__chip{ng-style: "{'border-color': document.color}"}
  .lmo-md-action{ng-if: "canAddDocuments()"}
    %md-button.md-raised.md-primary{ng-click: "addDocument()", translate: "document.card.add_document"}
