%div.user-avatar__initials{md-colors: "mdColors()", class: "lmo-box--{{size}}  user-avatar__initials--{{size}}", , aria-hidden: "true", ng-if: "user.avatarKind == 'initials'"} {{user.avatarInitials}}
%img.user-avatar__img{md-colors: "mdColors()", class: "lmo-box--{{size}}", ng-if: "user.avatarKind == 'gravatar'", gravatar-src-once: "user.emailHash", gravatar-size: "{{gravatarSize()}}", alt: "{{::user.name}}"}
%img.user-avatar__img{md-colors: "mdColors()", class: "lmo-box--{{size}}", ng-if: "user.avatarKind == 'uploaded'", alt: "{{user.name}}", ng-src: "{{uploadedAvatarUrl()}}"}
