.poll-meeting-chart-panel {
  overflow-x: scroll;
}

.poll-meeting-chart-panel__cell {
  padding: 0 5px;
  text-align: center;
}

.poll-meeting-chart-panel .lmo-h3 {
  margin-bottom: 0;
}

.poll-meeting-chart-panel__cell--no-padding {
  padding: 0;
}

.poll-meeting-chart-panel__participant-name {
  padding-right: 16px;
}

.poll-meeting-chart-panel__total-icon {
  margin: 0 8px 0 4px;
}

.poll-meeting-chart-panel__bold {
  font-weight: bold;
}
