.poll-meeting-chart-panel
  %table
    %thead
      %tr
        %td
          %time_zone_select
        %td.poll-meeting-chart-panel__cell{ng-repeat: "option in poll.pollOptions() | orderBy:'name' track by option.id"}
          %poll_meeting_time.lmo-flex--column{name: "option.name", zone: "zone"}
    %tbody
      %tr.poll-meeting-chart-panel__bold
        %td
          %h3.lmo-h3{translate: "poll_common.totals"}
      %tr
        %td.poll-meeting-chart-panel__cell.poll-meeting-chart-panel__cell--no-padding.poll-meeting-chart-panel--active.lmo-flex--row.lmo-flex__center
          %poll_meeting_stance_icon.lmo-margin-right{ score: 2}
          %span{translate:"poll_meeting_vote_form.can_attend"}
        %td.poll-meeting-chart-panel__cell.poll-meeting-chart-panel--active{ng-repeat: "option in poll.pollOptions() | orderBy:'name' track by option.id"}
          {{ totalFor(option)[2]}}
      %tr{ng-if:"poll.canRespondMaybe"  }
        %td.poll-meeting-chart-panel__cell.poll-meeting-chart-panel__cell--no-padding.lmo-flex--row.lmo-flex__center
          %poll_meeting_stance_icon.lmo-margin-right{ score: 1}
          %span{translate:"poll_meeting_vote_form.if_need_be"}
        %td.poll-meeting-chart-panel__cell.poll-meeting-chart-panel--maybe{ng-repeat: "option in poll.pollOptions() | orderBy:'name' track by option.id"}
          {{ totalFor(option)[1]}}
      %tr.poll-meeting-chart-panel__bold
        %td
          %h3.lmo-h3{translate: "poll_common.responses"}
      %tr{ng-repeat: "stance in poll.latestStances() track by stance.id"}
        %td.lmo-flex.lmo-flex__center.poll-meeting-chart-panel__participant-name
          %user_avatar.lmo-margin-right--small{size: "small", user: "stance.participant()"}
          .lmo-truncate {{ stance.participant().name }}
        %td.poll-meeting-chart-panel__cell{ng-repeat: "option in poll.pollOptions() | orderBy: 'name' track by option.id", ng-class: "{'poll-meeting-chart-panel--yes': stance.scoreFor(option)==2, 'poll-meeting-chart-panel--no': stance.scoreFor(option)==0,  'poll-meeting-chart-panel--maybe': stance.scoreFor(option)==1}"}
          %poll_meeting_stance_icon{ score: "stance.scoreFor(option)"}
