.poll-meeting-chart-panel
  %table
    %thead
      %tr
        %td
          %time_zone_select
        %td.poll-meeting-chart-panel__cell{ng-repeat: "option in poll.pollOptions() | orderBy:'name' track by option.id"}
          %poll_meeting_time{name: "option.name", zone: "zone"}
    %tbody
      %tr.poll-meeting-chart-panel__bold
        %td
          %h3.lmo-h3{translate: "poll_common.responses"}
      %tr{ng-repeat: "stance in poll.latestStances() track by stance.id"}
        %td.lmo-flex.lmo-flex__center.poll-meeting-chart-panel__participant-name.poll-meeting-chart-panel__bold
          %user_avatar.lmo-margin-right--small{size: "small", user: "stance.participant()"}
          .lmo-truncate {{ stance.participant().name }}
        %td.poll-meeting-chart-panel__cell{ng-switch: "stance.scoreFor(option)", ng-class: "{'poll-meeting-chart-panel--yes': stance.scoreFor(option)==2, 'poll-meeting-chart-panel--no': stance.scoreFor(option)==0,  'poll-meeting-chart-panel--maybe': stance.scoreFor(option)==1}", ng-repeat: "option in poll.pollOptions() | orderBy: 'name' track by option.id"}
          %img.poll-common-form__icon{ng-switch-when: "0", ng-src: "/img/disagree.svg"}
          %img.poll-common-form__icon{ng-switch-when: "1", ng-src: "/img/abstain.svg"}
          %img.poll-common-form__icon{ng-switch-when: "2", ng-src: "/img/agree.svg"}
      %tr.poll-meeting-chart-panel__bold
        %td
          %h3.lmo-h3{translate: "poll_common.totals"}
      %tr.poll-meeting-chart-panel__bold
        %td.poll-meeting-chart-panel__cell.poll-meeting-chart-panel__cell--no-padding.poll-meeting-chart-panel--active.lmo-flex--row.lmo-flex__center
          %img.poll-common-form__icon.poll-meeting-chart-panel__total-icon{ng-src: "/img/agree.svg"}
          %span{translate:"poll_meeting_chart_legend.can_attend"}
        %td.poll-meeting-chart-panel__cell.poll-meeting-chart-panel--active{ng-repeat: "option in poll.pollOptions() | orderBy:'name' track by option.id"}
          {{ totalFor(option)[2]}}
     %tr.poll-meeting-chart-panel__bold{ng-if:"hasMaybeVotes()"  }
       %td.poll-meeting-chart-panel__cell.poll-meeting-chart-panel__cell--no-padding.lmo-flex--row.lmo-flex__center
         %img.poll-common-form__icon.poll-meeting-chart-panel__total-icon{ng-src: "/img/abstain.svg"}
         %span{translate:"poll_meeting_chart_legend.maybe_attend"}
       %td.poll-meeting-chart-panel__cell.poll-meeting-chart-panel--maybe{ng-repeat: "option in poll.pollOptions() | orderBy:'name' track by option.id"}
         {{ totalFor(option)[1]}}
