.poll-meeting-chart-panel
  %table
    %thead
      %tr
        %td
          %time_zone_select
        %td.poll-meeting-chart-panel__cell{ng-repeat: "option in poll.pollOptions() | orderBy:'name' track by option.id"}
          %poll_meeting_time{name: "option.name", zone: "zone"}
    %tbody
      %tr{ng-repeat: "stance in poll.latestStances() track by stance.id"}
        %td.poll-meeting-chart-panel__participant-name {{ stance.participant().name }}
        %td.poll-meeting-chart-panel__cell{ng-class: "{'poll-meeting-chart-panel--active': stance.scoreFor(option)==2, 'poll-meeting-chart-panel--inactive': stance.scoreFor(option)==0,  'poll-meeting-chart-panel--maybe': stance.scoreFor(option)==1}", ng-repeat: "option in poll.pollOptions() | orderBy: 'name' track by option.id"}
          %i.mdi.mdi-check{ng-if: "stance.scoreFor(option)==2"}
          %i.mdi.mdi-minus{ng-if: "stance.scoreFor(option)==1"}
      %tr.poll-meeting-chart-panel__bold
        %td.poll-meeting-chart-panel__cell.poll-meeting-chart-panel--active.lmo-flex--row.lmo-flex__center.lmo-flex__space-around
          %span{translate:"poll_meeting_chart_legend.can_attend"}
          %i.mdi.mdi-check
        %td.poll-meeting-chart-panel__cell.poll-meeting-chart-panel--active{ng-repeat: "option in poll.pollOptions() | orderBy:'name' track by option.id"}
          {{ totalFor(option)[2]}}
     %tr.poll-meeting-chart-panel__bold{ng-if:"hasMaybeVotes()"  }
       %td.poll-meeting-chart-panel__cell.poll-meeting-chart-panel--maybe.lmo-flex--row.lmo-flex__center.lmo-flex__space-around
         %span{translate:"poll_meeting_chart_legend.maybe_attend"}
         %i.mdi.mdi-minus
       %td.poll-meeting-chart-panel__cell.poll-meeting-chart-panel--maybe{ng-repeat: "option in poll.pollOptions() | orderBy:'name' track by option.id"}
         {{ totalFor(option)[1]}}
