.poll-meeting-chart-panel
  %poll_meeting_chart_legend{ng-if:"hasMaybeVotes()"}
  %table
    %thead
      %tr
        %td
          %time_zone_select
        %td.poll-meeting-chart-panel__cell{ng-repeat: "option in poll.pollOptions() | orderBy:'name' track by option.id"}
          %poll_meeting_time{name: "option.name", zone: "zone"}
    %tbody
      %tr{ng-repeat: "stance in poll.latestStances() track by stance.id"}
        %td.poll-meeting-chart-panel__participant-name {{ stance.participant().name }}
        %td.poll-meeting-chart-panel__cell{ng-class: "{'poll-meeting-chart-panel--active': stance.scoreFor(option)==2, 'poll-meeting-chart-panel--inactive': stance.scoreFor(option)==0,  'poll-meeting-chart-panel--maybe': stance.scoreFor(option)==1}", ng-repeat: "option in poll.pollOptions() | orderBy: 'name' track by option.id"}
          %i.mdi.mdi-check{ng-if: "stance.scoreFor(option)==2"}
          %i.mdi.mdi-minus{ng-if: "stance.scoreFor(option)==1"}
      %tr.poll-meeting-chart-panel__bold
        %td{translate: "poll_meeting_chart_panel.total"}
        %td.poll-meeting-chart-panel__cell{ng-repeat: "option in poll.pollOptions() | orderBy:'name' track by option.id"}
          {{ totalFor(option)[2] }}
          %span{ng-if:"totalFor(option)[1] > 0"}
            ({{totalFor(option)[1]}})
