%form{ng-submit: "submit()"}
  .lmo-disabled-form{ng-show: "isDisabled"}
  .move-thread-form
    .modal-header
      %modal_header_cancel_button{aria-hidden: "true"}
      %h1.lmo-h1{translate: "move_thread_form.title"}

    .modal-body
      %label{for: "group-dropdown", translate: "move_thread_form.body"}
      %select.move-thread-form__group-dropdown.form-control#group-dropdown{ng-model: "discussion.groupId", ng-required: true, ng-options: "group.id as group.fullName for group in availableGroups() | orderBy: 'fullName'", ng-change: "updateTarget()"}

    .modal-footer
      %button.lmo-btn--submit.move-thread-form__submit{type: "button", translate: "move_thread_form.confirm", ng-click: "moveThread()"}
      %button.lmo-btn--cancel{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
