.powered-by
  %a{href: "https://www.loomio.org/?frontpage",   translate: "powered_by.powered_by_loomio", target: "_blank", }>
  %span{ng-show: "privacyUrl"}
    ·
    %a{href: "{{privacyUrl}}", translate: "powered_by.privacy_policy", target: "_blank"}>
  %span{ng-show: "termsUrl"}
    ·
    %a{href: "{{termsUrl}}",   translate: "powered_by.terms_of_service", target: "_blank"}>
  %span{ng-show: "showFrontPage"}
    ·
    %a{href: "{{frontPageUrl}}", translate: "powered_by.front_page", target: "_blank"}>
