- if resource.attachments.any?
  %h4= t :'common.attachments'
  %ul
    - resource.files.each do |file|
      - download_url = Rails.application.routes.url_helpers.rails_blob_url(file, only_path: false, host: ENV['CANONICAL_HOST'])
      %li
        %span 📎
        %a{href: download_url, target: '_blank'}= file.blob.filename.base
