- url = local_assigns.fetch(:url, polymorphic_url(event.eventable))
- message = local_assigns.fetch(:message, event.recipient_message)
- title = link_to(event.eventable.title, url)
- poll_type = @poll ? t("poll_types.#{@poll.poll_type}") : nil
- with_title = local_assigns.fetch(:with_title, false) ? "with_title" : "without_title"
- key = "notifications.#{with_title}.#{event.kind}"

%p=raw t(key, actor: event.user.name, title: title, poll_type: poll_type, site_name: AppConfig.theme[:site_name])
- if message.present?
  %i=raw render_plain_text(message)
