= render "chatbot/matrix/notification", event: @event
= render "chatbot/matrix/title", eventable: @event.eventable
= render "chatbot/matrix/body", eventable: @event.eventable
= render "chatbot/matrix/discussion_undecided", eventable: @event.eventable