.poll-meeting-form-options.lmo-drop-animation
  %lmo_calendar{selected: "poll.meetingDates"}

  %md-list{ng-if: "!addTimes"}
    %md-list-item{ng-repeat: "date in poll.meetingDates"}
      {{displayDayDate(date)}}
  %md-button.md-button--tiny.animated{ng-show: "!addTimes && poll.meetingDates.length > 0", ng-click: "showAddTimes()"}
    Add times
  %div.animated{ng-show: "addTimes"}
    %md-button.md-button--tiny{ng-click: "sameForAllDays = true"}
      Same times for each day
    %md-button.md-button--tiny{ng-click: "differentDays = true"}
      Different times per day

    %md-list{ng-if: "sameForAllDays"}
      %lmo-timepicker
    %md-list{ng-if: "differentDays"}
      %md-list-item{ng-repeat: "date in poll.meetingDates"}
        %lmo-timepicker{date: "date"}
