tmp/*
log/*
cache/*
.git/*
storage/*
**/.git
vue/node_modules/*
vue/dist/*
vue/logs/*
vue/tests/reports/*
vue/tests/screenshots/*
public/assets/*
public/client3/*
public/docs/*
public/system/*
config/deploy.yml
