.bundle
db/*.sqlite3
config/database.yml
config/newrelic.yml
tmp/
.sass-cache/
*.swp
.rvmrc
.ruby-gemset
*.tmproj
*.DS_Store
coverage
public/assets
public/system
.project
Session.vim
*.sql
*.dump
*.log
screenshots/
.idea
.env
bin/
/public/uploads
/lineman/node_modules
/lineman/dist
/lineman/generated
/lineman/vendor/bower_components
.powenv
/lineman/app/css/modules.scss
/lineman/app/components.scss
