.bundle
db/*.sqlite3
config/database.yml
config/newrelic.yml
tmp/
.sass-cache/
*.swp
.rvmrc
.ruby-gemset
*.tmproj
*.DS_Store
coverage
.project
Session.vim
*.sql
*.dump
*.log
.idea
.env
bin/
.powenv
.byebug_history

public/client
public/system
public/uploads
public/service-worker.js

/disabled_plugins/
/dev_plugins/
/fetched_plugins/
/plugins/*
!/plugins/core/

dump.rdb

vue/node_modules
vue/tests/reports

.DS_Store
node_modules
/vue/dist
storage/

vue/tests/reports/
!vue/tests/reports/generate_screenshots_index.rb
!vue/tests/reports/rename_screenshots.rb

selenium-debug.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
