.bundle
db/*.sqlite3
config/database.yml
config/newrelic.yml
tmp/
.sass-cache/
*.swp
.rvmrc
.ruby-gemset
*.tmproj
*.DS_Store
coverage
.project
Session.vim
*.sql
*.dump
*.log
screenshots/
.idea
.env
bin/
.powenv
.byebug_history

public/client
public/system
public/uploads

disabled_plugins/
plugins/

# NB: To reveal a plugin to hack on it locally, add a line here telling .gitignore to reveal it:
# !plugins/my_awesome_plugin

angular/node_modules
angular/tasks/config/plugins.yml
