env:
  - DB=postgresql

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install imagemagick libmagickwand-dev -qq -y
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  - bundle install --path vendor/bundle
  - cd lineman
  - npm install -g bower
  - npm install -g protractor
  - npm install
  - bower install
  - webdriver-manager update
  - cd ..

branches:
  only:
    - 'master'
    - 'production'
    - /^[0-9]+\.[0-9]+$/
rvm:
  - 2.2.0

before_script:
  - nohup bash -c "webdriver-manager start 2>&1 &"
  - cp config/database.yml.$DB config/database.yml
  - bundle exec rake db:setup RAILS_ENV=test
  - RAILS_ENV=test bundle exec rails server & sleep 15

script:
  - bundle exec rake travis
  - cd lineman && lineman spec-ci
  - lineman run & sleep 10
  - lineman grunt spec-e2e

addons:
  postgresql: "9.4"
  code_climate:
    repo_token:
      secure: "RQcqTqhx9hhcWO97ib8s8I8m/ufPbBuKRfEEh4RHNIsBEMpqekaPNHtK+T2ym2pfbCpD+L+0bZ+nMlSCrYz0gklfNnYJlPH4/g1f0SX2OEdq2eUCi9xlRObi9ayXsz7Ujtk14mncNGx+e02TnAtEjtFBT8uyvxn8Ql4djvOTsCg="
