language: ruby
rvm:
  - 2.6.3

dist: trusty
sudo: required

group: edge

cache:
  bundler: true
  directories:
    - vendor/bundle
    - client/node_modules

addons:
  firefox: "65.0"
  postgresql: "9.6"
  chrome: stable

env:
  global:
    - DB=postgresql
    - DISPLAY=:99.0
    - PATH=$PATH:$TRAVIS_BUILD_DIR/bin
    - RAILS_ENV=test
    - PUMA_WORKERS=1
    - MIN_THREADS=3
    - MAX_THREADS=3
    - CC_TEST_REPORTER_ID=9fbffa5d3f717f4adb3cd49ab4742701ae7c604f3c3afea23fd04aed5cb88ce0
  matrix:
    # - TASK=e2e
    - TASK=rspec
    - TASK=plugins
    - TASK=vue

before_install:
  - /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16
  - gem update --system
  - gem --version
  - gem install bundler
  - nvm install 10.11.0
  - nvm use 10.11.0
  - npm install -g gulp

install:
  - bundle install --without development --deployment --jobs=3 --retry=3
  - gem install s3_uploader
  - cd client; npm install; cd ..

before_script:
  - cp config/database.yml.$DB config/database.yml
  - createdb loomio_test
  - bundle exec rake db:setup
  - if [ "$TASK" = "plugins" ]; then bundle exec rake plugins:fetch plugins:install; fi
  - bundle exec rails server -b 0.0.0.0 > /dev/null &

script:
  - if [ "$TASK" = "rspec" ];   then bundle exec rspec; fi
  - if [ "$TASK" = "e2e" ];     then bundle exec rake travis:e2e; fi
  - if [ "$TASK" = "plugins" ]; then bundle exec rspec plugins; fi
  - if [ "$TASK" = "plugins" ]; then bundle exec rake travis:plugins; fi
  - if [ "$TASK" = "vue" ];     then bundle exec rake travis:vue; fi

after_script:
  - bundle exec rake travis:cleanup
