language: ruby
rvm:
  - 2.7.3

dist: focal
sudo: required

group: edge

cache:
  bundler: true
  directories:
    - vendor/bundle
    - vue/node_modules

addons:
  chrome: stable
  postgresql: "9.6"
  artifacts:
    paths:
      - vue/tests/reports/
      - log/
    target_paths:
      - ${SCREENSHOTS_PATH}

services:
  - redis
  - postgresql

env:
  global:
    - DB=postgresql
    - DISPLAY=:99.0
    - PATH=$PATH:$TRAVIS_BUILD_DIR/bin
    - RAILS_ENV=test
    - PUMA_WORKERS=2
    - MIN_THREADS=3
    - MAX_THREADS=3
    - SCREENSHOTS_PATH=/`date "+%Y-%m-%d_%H-%M"`/${TRAVIS_REPO_SLUG}/
    - FEATURES_GROUP_SSO=1
  matrix:
    - TASK=rspec
    - TASK=vue

before_install:
  - /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16
  - gem install bundler
  - nvm install node && nvm use node


install:
  - bundle install --without development --deployment --jobs=3 --retry=3
  - cd vue; npm install; cd ..
  - git clone https://github.com/loomio/loomio_channel_server.git
  - cd loomio_channel_server
  - npm install
  - npm run start > ../log/channel_server.log &
  - cd ..

before_script:
  - cp config/database.yml.$DB config/database.yml
  - createdb loomio_test
  - bundle exec rake db:setup
  - if [ "$TASK" = "vue" ]; then bundle exec rails server -b 0.0.0.0 > log/server.log & fi
  - cd vue && npm run build && cd ..
  - if [ "$TASK" = "vue" ]; then wget http://localhost:3000/; fi

script:
  - if [ "$TASK" = "rspec" ];   then bundle exec rspec; fi
  - if [ "$TASK" = "vue" ];     then cd vue && npm run test:e2e:standalone && cd .. ;  fi

after_script:
  - if [ "$TASK" = "vue" ];     then cd ${TRAVIS_BUILD_DIR}/vue/tests/reports && bundle exec ruby rename_screenshots.rb && bundle exec ruby generate_screenshots_index.rb && cd.. ; fi
