language: ruby
rvm:
  - 2.3.1

dist: trusty
sudo: required

group: edge

cache:
  bundler: true
  yarn: true
  directories:
    - vendor/bundle
    - angular/node_modules

addons:
  firefox: "53.0"
  postgresql: "9.5"
  apt:
    sources:
      - heroku
      - ubuntu-toolchain-r-test
    packages:
      - expect
      - heroku-toolbelt
      - g++-4.8

env:
  global:
    - DB=postgresql
    - DISPLAY=:99.0
    - PATH=$PATH:$TRAVIS_BUILD_DIR/bin
    - RAILS_ENV=test
  matrix:
    - TASK=protractor
    - TASK=rspec
    - TASK=plugins

before_install:
  - sh -e /etc/init.d/xvfb start
  - nvm install 7.4.0
  - nvm use 7.4.0
  - npm install -g yarn gulp

install:
  - bundle install --without development --deployment --jobs=3 --retry=3
  - gem install s3_uploader
  - cd angular; yarn; cd ..
  - angular/node_modules/webdriver-manager/bin/webdriver-manager update
  - mkdir $TRAVIS_BUILD_DIR/bin
  - ln -s $TRAVIS_BUILD_DIR/angular/node_modules/webdriver-manager/selenium/geckodriver-v0.17.0 $TRAVIS_BUILD_DIR/bin/geckodriver
  - ln -s fetched_plugins plugins

before_script:
  - cp config/database.yml.$DB config/database.yml
  - bundle exec rake db:setup
  - if [ "$TASK" = "plugins" ]; then bundle exec rake plugins:fetch plugins:install; fi
  - bundle exec rake travis:prepare
  - bundle exec rails server > /dev/null &

script:
  - if [ "$TASK" = "rspec" ]; then bundle exec rake travis:rspec travis:cucumber; fi
  - if [ "$TASK" = "protractor" ]; then bundle exec rake travis:protractor; fi
  - if [ "$TASK" = "plugins" ]; then bundle exec rake travis:plugins; fi

after_script:
  - s3uploader -r us-east-1 -k $ARTIFACTS_KEY -s $ARTIFACTS_SECRET -d `date "+%Y%m%d%H%M%S"` angular/screenshots $ARTIFACTS_BUCKET
