language: ruby
rvm:
  - 2.5.1

dist: trusty
sudo: required

group: edge

cache:
  bundler: true
  yarn: true
  directories:
    - vendor/bundle
    - client/node_modules

addons:
  firefox: "62.0"
  postgresql: "9.4"
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - expect
      - g++-4.8

env:
  global:
    - DB=postgresql
    - DISPLAY=:99.0
    - PATH=$PATH:$TRAVIS_BUILD_DIR/bin
    - RAILS_ENV=test
    - PUMA_WORKERS=2
    - MIN_THREADS=3
    - MAX_THREADS=3
    - CC_TEST_REPORTER_ID=9fbffa5d3f717f4adb3cd49ab4742701ae7c604f3c3afea23fd04aed5cb88ce0
  matrix:
    - TASK=e2e
    - TASK=rspec
    - TASK=plugins

before_install:
  - /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16
  - gem update --system
  - gem --version
  - gem install bundler
  - nvm install 8.4.0
  - nvm use 8.4.0
  - npm install -g yarn gulp

install:
  - bundle install --without development --deployment --jobs=3 --retry=3
  - gem install s3_uploader
  - cd client; yarn; cd ..

before_script:
  - cp config/database.yml.$DB config/database.yml
  - bundle exec rake db:setup
  - if [ "$TASK" = "plugins" ]; then bundle exec rake plugins:fetch plugins:install; fi
  - bundle exec rake travis:build_client
  - bundle exec rake travis:cc_reporter
  - bundle exec rails server -b 0.0.0.0 > /dev/null &

script:
  - if [ "$TASK" = "rspec" ];   then bundle exec rspec ; fi
  - if [ "$TASK" = "e2e" ];     then bundle exec rake travis:e2e; fi
  - if [ "$TASK" = "plugins" ]; then bundle exec rspec plugins; fi
  - if [ "$TASK" = "plugins" ]; then bundle exec rake travis:plugins; fi

after_script:
  - bundle exec rake travis:cleanup
