.add-slack-community-form

  %h3{translate: "add_slack_community_form.currently_signed_in_as"}
  .add-community-form__header.lmo-flex
    %img.add-community-form__logo{ng-src: "{{community.identity().customFields.slack_team_logo}}"}>
    .add-community-form__name> {{ community.identity().customFields.slack_team_name}}
    %a{href: "#", ng-click: "fetchAccessToken()"}
      %span{translate: "add_slack_community_form.another_team"}

  .poll-common-helptext{translate: "add_slack_community_form.helptext"}

  %md-input-container.lmo-search-container{md-no-float: "true"}
    %i.material-icons search
    %input{ng-model: "slack.fragment", placeholder: "{{add_slack_community_form.fragment_placeholder}}", ng-model-options: "{debounce: 250}"}

  .add-community-form__options
    %loading{ng-if: "fetchSlackChannelsExecuting"}
    %md-radio-group{ng-if: "!fetchSlackChannelsExecuting", ng-model: "community.customFields.slack_channel_id"}
      %md-radio-button.add-community-form__radio-button{ng-repeat: "channel in slackChannels()", ng-value: "channel.id", aria-label: "{{channel.name}}"}
        {{ channel.name }}

  .poll-common__actions.lmo-flex
    %md-button{ng-click: "back()"}
      %span{translate: "common.action.back"}
    %md-button.md-raised.md-primary{ng-click: "submit()"}
      %span{translate: "common.action.ok"}
