.add-slack-community-form__channels {
  height: 300px;
  overflow: auto;
}

.add-slack-community-form__header {
  align-items: center;
  margin-bottom: 20px;
}

.add-slack-community-form__logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.add-slack-community-form__name {
  font-weight: bold;
  margin-right: 10px;
}
