%md-menu.lmo-dropdown-menu.poll-actions-dropdown.pull-right.lmo-no-print{md-position-mode: "target-right target"}
  %md-button.poll-actions-dropdown__button{ng-click: "$mdMenu.open()"}
    .sr-only{translate: "group_page.options_label"}
    %i.mdi.mdi-24px.mdi-chevron-down
  %md-menu-content
    %md-menu-item.poll-actions-dropdown__subscribe
      %md-button{ng-click: "toggleSubscription()"}
        %span{translate: "common.action.unsubscribe", ng-if: "poll.subscribed"}
        %span{translate: "common.action.subscribe", ng-if: "!poll.subscribed"}
    %md-menu-item.poll-actions-dropdown__edit{ng-if: "canEditPoll()"}
      %md-button{ng-click: "editPoll()", translate: "common.action.edit"}
    %md-menu-item.poll-actions-dropdown__close{ng-if: "canClosePoll()"}
      %md-button{ng-click: "closePoll()", translate: "poll_common.close_poll_type", translate-value-poll-type: "{{poll.translatedPollType()}}"}
    %md-menu-item.poll-actions-dropdown__reopen{ng-if: "canReopenPoll()"}
      %md-button{ng-click: "reopenPoll()", translate: "common.action.reopen"}
    %md-menu-item.poll-actions-dropdown__export{ng-if: "canExportPoll()"}
      %md-button{ng-click: "exportPoll()", translate: "common.action.export"}
    %md-menu-item.poll-actions-dropdown__delete{ng-if: "canDeletePoll()"}
      %md-button{ng-click: "deletePoll()", translate: "common.action.delete"}
