%md-dialog.leave-group-form
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "slack_added_modal.title"}
      %material_modal_header_cancel_button
  .md-dialog-content
    %slack_tableau{group: "group"}
    %p{translate: "slack_added_modal.helptext", translate-value-name: "{{group.name}}"}
    .lmo-md-actions
      %md-button{ng-click: "$close()", type: "button", translate: "common.ok_got_it"}
      %md-button.md-primary.md-raised{translate: "slack_added_modal.start_poll_now", ng-click: "submit()"}
