%nav.navbar.navbar-default.navbar-static-top.loomio-nav{role: "navigation"}
  .modifier
    -if controller_name == 'inbox'
      %i.icon-drag
    -else
      %i.icon-ios7-arrow-left
    =link_to image_tag("logo.png", class: "navbar__logo"), next_inbox_path
  .nav-buttons
    .search
      %input
      .icon-container
        %i.icon-ios7-search-strong
    %i.icon-chatboxes
    %i.icon-ios7-bell
