%a.selector-list-item-link{ng-href: '{{::notification.event().link()}}'}
  -#requestor: {{ notification.event().membershipRequest().requestor() }}
    -#user by that id?: {{ notification.event().membershipRequest().requestorId }}
  -#.a{ng-if: "!notification.event().membershipRequest().requestorId"}
    -#anon request: {{notification.event().membershipRequest().name}}
  -#{{ ::notification.event().membershipRequest().actor() }}
  .media-left
    %user_avatar{user: "::notification.event().membershipRequest().actor()", ng-if: "notification.event().membershipRequest().byExistingUser()"}
  .media-body
    %span> {{ ::notification.event().membershipRequest().actor().name }}
    %span{translate:  "notifications.membership_requested" }>
    %span> {{ ::notification.event().membershipRequest().group().fullName() }}

