%a.selector-list-item-link{ng-href: '{{notification.event().link()}}'}
  .media-left
    %user_avatar{user: "notification.event().actor()"}
  .media-body
    %span> {{ notification.event().actor().name }}
    %span{translate:  "notifications.new_discussion" }>
    %span> {{ notification.event().discussion().title }}
