  .poll-common-undecided-panel
    %md-button.md-accent.poll-common-undecided-panel__button{ng-if: "canShowUndecided()", ng-click: "showUndecided()", translate: "poll_common_undecided_panel.show_undecided", translate-value-count: "{{poll.undecidedCount}}"}
    .poll-common-undecided-panel__panel.poll-common-undecided-panel__users{ng-if: "showingUndecided"}
      %h3.lmo-card-subheading{translate: "poll_common_undecided_panel.undecided_users", translate-value-count: "{{poll.undecidedCount}}"}
      %poll_common_undecided_user{user: "user", poll: "poll", ng-repeat: "user in poll.undecided()"}

      %p{ng-if: "!canEditPoll()"}
        %span.lmo-hint-text{ng-if: "poll.guestGroup().pendingInvitationsCount == 1", translate: "poll_common_undecided_panel.invitation_count_singular"}
        %span.lmo-hint-text{ng-if: "poll.guestGroup().pendingInvitationsCount > 1", translate: "poll_common_undecided_panel.invitation_count_plural", translate-value-count: "{{poll.guestGroup().pendingInvitationsCount}}"}

      %div{ng-if: "moreMembershipsToLoad()"}
        %md-button.md-accent{translate: "common.action.load_more", aria-label: "common.action.load_more", ng-click: "loadMemberships()"}
      %div{ng-if: "!moreMembershipsToLoad() && moreInvitationsToLoad() && canEditPoll()"}
        %md-button.md-accent.poll-common-undecided-panel__show-invitations{"loaders.invitations.numLoaded == 0", translate: "poll_common_undecided_panel.show_invitations", aria-label: "common.action.load_more", ng-click: "showUndecided()"}
        %md-button.md-accent{ng-if: "loaders.invitations.numLoaded > 0", translate: "common.action.load_more", aria-label: "common.action.load_more", ng-click: "loadInvitations()"}
