.thread-item.new_vote{ng_controller: 'NewVoteItemController'}
  .thread-item-vote-icon.pull-left
    -#.vote-icon{class: vote.position_verb}

  .thread-item-activity-description
    %span{translate: "new_vote_item.user_agreed", translate_values: '{name: vote.author_name()}'}
    hi
  .thread-item-body.thread-item-vote-statement
    {{ vote.statement }}
