.thread-item.new_vote{ng_controller: 'NewVoteItemController'}
  {{vote.author_name()}}
  .thread-item-vote-icon.pull-left
    -#.vote-icon{class: vote.position_verb}

  .thread-item-activity-description
    -#{{ 'new_vote.user_abstained_on_proposal' | translate: voteTranslations }}

  .thread-item-body.thread-item-vote-statement
    {{ vote.statement }}
