.thread-item{ng_controller: 'NewCommentItemController'}
  .thread-item-header
    .card-options-menu.pull-right
      %i.fa.fa-chevron-down

    .thread-item-author
      .card-left
        .card-author-photo
          %img{ng-src: "{{comment.author_avatar()}}"}
      .card-right
        .author-name-only
          .author-name
            {{comment.author_name()}}
  .thread-item-body
    {{ comment.body }}

  .thread-item-footer
    .like-reply-age
      %a.cuke-like-comment-btn{ng_show: '!currentUserLikesIt()', href: '#', ng_click: 'like()'}
        Like

      %a.cuke-unlike-comment-btn{href: '#', ng_click: 'unlike()', ng_show: 'currentUserLikesIt()'}
        Unlike

      %a.bump.cuke-reply-to-comment-btn{href: '#', ng_click: 'reply()'}
        Reply
      %abbr.timeago
        {{comment.created_at | timeFromNowInWords}}
    .liked-by.cuke-liked-by-names{ng_show: 'anybodyLikesIt()'}
      Liked by {{ comment.liker_names().join(', ') }}
