-#%span{translate: "new_vote_item.user_agreed", translate_values: '{name: vote.author_name()}'}
.thread-event.thread-vote{ng-controller: 'NewVoteItemController'}
  .media
    .pull-left.vote-icon{ng-class: 'vote-icon-{{vote.position}}'}
    .thread-vote-author-action
      %span.author-name {{vote.authorName()}}
      %span.author-statement voted on the proposal
  .thread-item-body{ng_show: 'vote.statement'}
    {{vote.statement}}
  .thread-item-footer
    %abbr.timeago
      {{vote.created_at | timeFromNowInWords}}
