.thread-event.thread-vote{ng-controller: 'NewProposalItemController'}
  .thread-event-header.media
    .media-left
      .thread-event-proposal-icon
    .media-body
      %span{translate: "new_proposal_item.author_created_proposal", translate-value-name: '{{proposal.authorName()}}'}
  .thread-event-body
    {{proposal.name}}

  .thread-event-footer
    .thread-actions-and-meta
      %timeago{timestamp: 'proposal.createdAt'}

