
%p
  This page describes Loomio's handling of your personal data, with a particular attention paid to the requirements of the
  %a{href: "https://www.eugdpr.org/"} EU GDPR.

%section.under-development
  %h2 under development and seeking input from experts and users
  Please contact rob@loomio.org if you wish to have input on our efforts in this area.

  %h2 Key references used when putting this together
  %ul
    %li
      %a{href: "http://www.dataprotectionpeople.com/what-is-personal-data/"}
        http://www.dataprotectionpeople.com/what-is-personal-data/
    %li
      %a{href: "https://www.eugdpr.org/"} https://www.eugdpr.org/
    %li
      %a{href: "https://sendgrid.com/blog/the-gdpr-is-coming-how-to-prepare/"} https://sendgrid.com/blog/the-gdpr-is-coming-how-to-prepare/
    %li
      %a{href: "https://techblog.bozho.net/gdpr-practical-guide-developers/"} https://techblog.bozho.net/gdpr-practical-guide-developers/

%section.intro-gdpr
  %h2 Key principles of GDPR.
  %ul
    %li Personal data collected needs to be processed in a fair, legal, and transparent way. It should not be used in any way that a person would not reasonably expect.
    %li Personal data should only be collected to fulfill a specific purpose and not further used in a manner that is incompatible with those purposes. Organizations must specify why they need the personal data when they collect it.
    %li Personal data held needs to be kept up to date and accurate. It should be held no longer than necessary to fulfill its purpose.
    %li EU citizens have the right to access their own personal data. They can also request a copy of their data, and that their data be updated, deleted, restricted, or moved to another organization without hinderance.
    %li All personal data needs to be kept safe and secure, and companies undertaking certain types of activities are required to appoint a data protection officer.

  %h2 User rights under the GDPR
  %p The rights of the user/client (referred to as “data subject” in the regulation) that are relevant for developers are:
  %ul
    %li the right to erasure (the right to be forgotten/deleted from the system),
    %li right to restriction of processing (you still keep the data, but mark it as “restricted” and don’t touch it without further consent by the user),
    %li the right to data portability (the ability to export one’s data in a machine-readable format),
    %li the right to rectification (the ability to get personal data fixed),
    %li the right to be informed (getting human-readable information, rather than long terms and conditions),
    %li the right of access (the user should be able to see all the data you have about them).

  %h2 What is Personal Data?
  %p Basically, it’s every piece of data that can be used to uniquely identify a person or data that is about an already identified person. It’s data that the user has explicitly provided, but also data that you have collected about them from either 3rd parties or based on their activities on the site (what they’ve been looking at, what they’ve purchased, etc.)
  %p Personal data is any form of data which can be used to identify an individual, natural person.
  %p In data protection and privacy law, including the GDPR, it is defined beyond the popular usage in which the term personal data can de facto apply to several types of data which make it able to single out or identify a natural person. In the scope of the GDPR, for instance, it includes data which can lead to the direct or indirect identification of a natural person.
  %p ‘personal data’ means any information relating to an identified or identifiable natural person (‘data subject’); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person;

%section.intro-loomio
  %h2 About Loomio
  %h3 Loomio the software
  %p
    Loomio is software for people to have discussions and to make decisions together.
    The application is
    %a{href: "https://github.com/loomio/loomio"} free software

    %a{href: "https://github.com/loomio/loomio/blob/master/LICENSE.txt"} licenced under the AGPL

    developed by the
    %a{href: "/about"} Loomio Cooperative.

  %h3 Loomio.org (An instance of Loomio)
  %p
    Loomio.org is an instance of Loomio, running upon Heroku, a Salesforce company. Heroku's platform runs on top of Amazon Web Services. Heroku & Amazon are the data processors for Loomio.org

  %h3 Loomio private managed hosts
  %p
    Loomio offers a private managed host service to customers. With this
    service Loomio will setup and manage a Loomio install on the customer's
    choice of domain name and hosting provider.

  %p Each instance of Loomio is separate. Signing up to one instance does not sign you up to another, following this rule, you will need to consent per Loomio instance that you wish to use and you will need to withdraw consent per instance that you no longer wish to have process your personal data.

%section
  %h2 Your personal data and rights

  %p What we collect, and why..

  %p By operating Loomio.org and our managed private hosts we collect personal data so that we can securely enable users to access the service and to enable groups of people to communicate to each other.

  %p Under the EU GDPR we are requred to ask for your consent to process your personal data. You may withdraw your consent (per loomio instance) at anytime via the
  %a{href: "/profile"}> user profile page
  within a given instance of Loomio.

  Our personal data page neds to explain.
  Why was the data gathered in the first place? What is its purpose?
  Upon what legal basis are you justifying holding that data? Consent or legal requirements?
  Who has access to that data?
  How are you protecting that data from breaches?
  What else is that data being used for?

%section
  %h2 Breach reporting

%section
  %h2 Data Protection Officer
  companies that have "regular and systematic monitoring" of individuals at a large scale or process a lot of sensitive personal data have to employ a data protection officer (DPO).

%h1 Personal data on Loomio
Link to personal_data/index to see what personal data we have for you and why.

%section
%h2 your personal data in partner databases
intercom, chargify

%h2 your personal data on partner services.
-# chargify personal data. what else?
-# intercom
-# facebook, google, slack - we access this but don't give them any

%section
