
.translate-button {
  display: inline-block;
  background: none;
  border: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.translate-button button {
  @include lmoBtnLink;
  color: $link-color;
  background: none;
}

.translate-button__loading {
  display: inline-block;
}

.translate-button__loading i {
  font-size: 12px;
}
