
.proposal-pie-chart {
}

.proposal-pie-chart__legend{
  @include fontSmall;
  color: $grey-on-white;
  padding-top: 16px;
  padding-left: 20px;
  td {
    padding-bottom: 10px;
  }
}

.proposal-pie-chart__label{
  padding-left: 10px;
}

.proposal-pie-chart__icon{
  width: 18px;
  height: 18px;
  border-width: 1px;
  border-style: solid;
  @include roundedCorners;
}

.proposal-pie-chart__icon--yes{
  background-color: $agree-color;
  border-color: $agree-border-color;
}

.proposal-pie-chart__icon--abstain{
  background-color: $abstain-color;
  border-color: $abstain-border-color;
}

.proposal-pie-chart__icon--no{
  background-color: $disagree-color;
  border-color: $disagree-border-color;
}

.proposal-pie-chart__icon--block{
  background-color: $block-color;
  border-color: $block-border-color;
}

.proposal-pie-chart__participation-statement {
  margin-top: 10px;
  @include fontSmall;
  color: $grey-on-white;
}

@media (min-width: $medium-max-width) and (max-width: $large-max-width) {
  .proposal-pie-chart__legend{
    display: block;
  }
}
