.loading-wrapper.lmo-two-column-layout
  %loading{ng-if: "!threadPage.discussion"}
  %main.thread-page.lmo-row{ng-if: "threadPage.discussion"}
    %group_theme{group: "threadPage.discussion.group()", compact: "true"}
    .thread-page__main-content
      %outlet.before-column-right.lmo-column-right{name: "before-thread-page-column-right", ng-if: "threadPage.eventsLoaded", model: "threadPage.discussion"}
      %poll_common_card.lmo-card--no-padding.lmo-column-right{poll: "poll", ng-repeat: "poll in threadPage.discussion.activePolls() track by poll.id"}
      %decision_tools_card.decision-tools-card.lmo-column-right{discussion: "threadPage.discussion"}
      %members_card{model: "threadPage.discussion"}
      %poll_common_index_card.lmo-column-right{model: "threadPage.discussion"}
      %outlet.after-column-right.lmo-column-right{name: "thread-page-column-right"}
      %thread_card.lmo-column-left{discussion: "threadPage.discussion"}

    %thread_lintel
