.thread-page {
  margin-top: $cardPaddingSize;
}

.thread-page__forking .action-dock {
  visibility: hidden;
}

@media (min-width: $small-max-px) {
  .lmo-column-left {
    display: inline-block;
    width: 52%;
  }

  .lmo-column-right {
    float: right;
    clear: right;
    width: calc(48% - 10px);
  }
}

@media (min-width: $medium-max-px) {
  .lmo-column-left {
    display: inline-block;
    width: 60%;
  }

  .lmo-column-right {
    float: right;
    clear: right;
    width: calc(40% - 10px);
  }
}

@media (max-width: $small-max-px) {
  .thread-page__main-content {
    display: flex;
    flex-direction: column;
  }
  .context-panel           { order: 10; }

  .poll-common-card        { order: 20; }
  .activity-card           { order: 30; }

  .comment-form            { order: 40; }
  membership_card          { order: 45; }
  .decision-tools-card     { order: 50; }
  .poll-common-index-card  { order: 60; }
  .document-card           { order: 75; }
  .before-column-right     { order: 80; }
  .after-column-right      { order: 90; }
}
