.loading-wrapper.lmo-two-column-layout
  %loading{ng-if: "!threadPage.discussion"}
  %main.thread-page.lmo-row{ng-if: "threadPage.discussion"}
    %discussion_fork_actions{discussion: "threadPage.discussion", ng-show: "threadPage.discussion.isForking()"}
    %group_theme{group: "threadPage.discussion.group()", compact: "true"}
    .thread-page__main-content{ng-class: "{'thread-page__forking': threadPage.discussion.isForking()}"}
      %outlet.before-column-right.lmo-column-right{name: "before-thread-page-column-right", model: "threadPage.discussion"}
      %vue-component{name: "PollCommonCardRepeater", v-props-discussion: "threadPage.discussion"}
      %vue-component.decision-tools-card.lmo-column-right{name: "DecisionToolsCard", v-props-discussion: "threadPage.discussion"}
      %vue-component.lmo-column-right{name: "MembershipCard", v-props-group: "threadPage.discussion.guestGroup()"}
      %vue-component.lmo-column-right{name: "MembershipCard", v-props-group: "threadPage.discussion.guestGroup()", v-props-pending: "true"}
      %vue-component.lmo-column-right{name: "PollCommonIndexCard", v-props-model: "threadPage.discussion"}
      %outlet.after-column-right.lmo-column-right{name: "thread-page-column-right"}
      %vue-component.lmo-column-left{name: "ThreadCard", v-props-discussion: "threadPage.discussion"}
