=simple_form_for(@user, url: user_registration_path, :defaults => {:required => false}) do |f|
  =f.error_notification
  = @user.errors.messages unless @user.errors.messages.empty?
  =f.input :name
  =f.input :email
  -unless omniauth_authenticated_and_waiting?
    =f.input :password
    =f.input :password_confirmation
  =f.input :honeypot, as: :string, placeholder: t(:leave_this_field_blank), label: false
  -sign_up = t(:'devise.registrations.sign_up')
  =f.submit sign_up, class: "btn btn-default btn-info btn-lg btn-block", id: 'create-account', :data => {:disable_with => sign_up}
