.container
  %section.first
    .inner-container
      .row
        .span6.offset3
          %h2 Sign up
          = render "devise/registrations/form"
      .row
        .span6.offset3
          %h3= t :"or_sign_in_html", link: user_session_path
