.auth-provider-form
  .auth-provider-form__providers
    %button.md-button.md-raised{type: "button", class: "{{provider.name}}", ng-click: "select(provider)", ng-repeat: "provider in providers"}
      %i.mdi.mdi-24px{class: "mdi-{{provider.name}}"}
      %span{translate: "auth_form.continue_with_provider", translate-value-provider: "{{capitalize(provider.name)}}"}>
      %span
