.auth-provider-form__providers {
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

.auth-provider-form__provider .md-button.md-raised { color: white; }
.auth-provider-form__provider .email.md-button.md-raised { color: black; }
.auth-provider-form__provider span { padding: 0 4px; }

.auth-provider-form__icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.auth-provider-form__provider .facebook { background: #3b5998; }
.auth-provider-form__provider .google   { background: #dd4b39; }
.auth-provider-form__provider .slack    { background: #e9a820; }
.auth-provider-form__provider .saml     { background: #000040; }

.auth-provider-form__provider .facebook:hover { background: lighten(#3b5998, 20%) !important; }
.auth-provider-form__provider .google:hover   { background: lighten(#dd4b39, 20%) !important; }
.auth-provider-form__provider .slack:hover    { background: lighten(#e9a820, 20%) !important; }
.auth-provider-form__provider .saml:hover     { background: lighten(#000040, 20%) !important; }
