.blank
  %section.gift-card{ng-if: "show()"}
    %h2.lmo-card-heading{translate: "gift_card.heading"}
    %p{translate: "gift_card.body", translate-value-name: "{{group.name}}"}
    %button.gift-card__confirm-button{ng-click: "makeDonation()"}
      %i.fa.fa-lg.fa-gift>
      %span{translate: "gift_card.make_a_contribution"}
