.members-card{
  @include card;
}

.members-card__list {
  display: flex;
  flex-wrap: wrap;
}

.members-card__avatar-link {
  color: $primary-text-color;
  &:hover {
    color: $primary-text-color;
    text-decoration: none;
  }
}

.members-card__avatar{
  // float: left;
  margin: 0 2px 2px 0;
}

.members-card__manage-members {
  @include cardMinorAction;
}
