%section.members-card.lmo-no-print{aria-labelledby: "members-card-title"}
  %h2#members-card-title.lmo-card-heading{ translate: "group_page.members"}
  .members-card__list
    .members-card__avatar{ng-if: "group.memberships().length > 1", ng-repeat: "membership in group.memberships() | orderBy: '-admin' | limitTo:10"}
      %a.members-card__avatar-link{lmo-href-for: "membership.user()"}
        %user_avatar{user: "membership.user()", coordinator: "membership.admin", size: "medium"}
    .lmo-placeholder{translate: "group_page.members_placeholder", ng-if: "showMembersPlaceholder()" }
  .lmo-flex.lmo-flex__space-between
    %a.members-card__manage-members{lmo-href-for: "group", lmo-href-action: "memberships"}
      %span{translate: "group_page.see_all_members", translate-value-count: "{{group.membershipsCount}}"}>
      %span{ng-if: "group.pendingInvitationsCount", translate: "group_page.pending_invitations", translate-value-count: "{{group.pendingInvitationsCount}}"}
    .members-card__invite-members{ng-if: "canAddMembers()"}
      %md-button.md-primary.md-raised.members-card__invite-members-btn{ng_click: "invitePeople()"}
        %span{translate: "group_page.invite_people" }
