.announcement-list
  %h3.lmo-h3{ng-switch: "model.announcementRecipients().length"}
    %span{ng-switch-when: "1", translate: "announcement.list.title_singular"}
    %span{ng-switch-default: "true", translate: "announcement.list.title", translate-value-count: "{{model.announcementRecipients().length}}"}
  %md-list.announcement-list__users.lmo-flex--column
    %md-list-item.announcement-list__user.lmo-flex__center{ng-repeat: "user in model.announcementUsers() | orderBy: 'name' track by user.id"}
      %user_avatar.lmo-margin-right{user: "user", size: "small"}
      .lmo-flex__grow {{ user.name || user.email }}
      %timeago.md-caption{timestamp: "model.announcedAtFor(user)"}
    %md-list-item.announcement-list__invitation.lmo-flex__center{ng-repeat: "invitation in model.announcementInvitations() | orderBy: 'email' track by invitation.id"}
      .announcement-list__email.lmo-flex.lmo-flex__center.lmo-flex__horizontal-center.lmo-margin-right
        %i.mdi.mdi-24px.mdi-email-outline
      .lmo-flex__grow {{ invitation.email }}
      %timeago.md-caption.lmo-flex__horizontal-center{timestamp: "model.announcedAtFor(invitation)"}
