.announcement-member-list-item {
  padding: 8px 0;
}

.announcement-member-list-item--indented {
  margin-left: 16px;
}

.announcement-member-list-item__icon {
  width: 32px;
  margin: 4px;
  color: $grey-on-white;
}

.announcement-member-list-item__not-notified {
  text-align: right;
}
