.announcement-member-list-item.lmo-flex.lmo-flex__center{ng-class: "{'announcement-member-list-item--indented': indented}"}
  .announcement-member-list-item__icon{ng-if: "member.logoType == 'icon'"}
    %i.mdi.mdi-24px{class: "mdi-{{member.logoUrl}}"}
  %user_avatar.lmo-margin-right{ng-if: "member.logoType != 'icon'", user: "member", size: "small", no-link: "true"}
  .lmo-flex__grow
    %div {{ member.title }}
    .md-caption{ng-if: "member.subtitle"} {{ member.subtitle }}
  %timeago.md-caption.nowrap{ng-if: "member.lastNotifiedAt", timestamp: "member.lastNotifiedAt"}
  %p.md-caption.announcement-member-list-item__not-notified.nowrap{ng-if: "!member.lastNotifiedAt && member.type != 'Public'", translate: "announcement.members_list.not_notified"}
