.plus-button.lmo-flex.lmo-flex__center.lmo-pointer{ng-click: "click()"}
  %user_avatar.lmo-margin-right{user: "plusUser", no-link: "true", size: "medium", colors: "{borderColor: 'accent-500', color: 'accent-500'}"}
  %span{translate: "{{message}}"}
