- # recipient is always an unverified user
- if  User.verified.exists?(email: @info.recipient.email)
  was this you? claim the vote with just one click.
- else
  please verify your email now, or we will not email you about this poll ever again.
