- name = @info.recipient.name || @info.recipient.email

- if User.verified.exists?(email: @info.recipient.email)
  %p= t :"poll_mailer.common.verify_stance_for_verified_user", title: @info.poll.title
  %p= link_to t(:"email.login.login", name: name), login_token_url(@info.login_token(redirect_path: verify_stances_url).token, @utm_hash), class: 'base-mailer__button base-mailer__button--accent'
- else
  %p= t :"poll_mailer.common.verify_stance_for_unverified_user", title: @info.poll.title
  %p= link_to t(:"email.login.login", name: name), login_token_url(@info.login_token.token, @utm_hash), class: 'base-mailer__button base-mailer__button--accent'
