- # recipient is always an unverified user
- name = @info.recipient.name || @info.recipient.email
- login_url = login_token_url(@info.login_token.token, @utm_hash)

- if User.verified.exists?(email: @info.recipient.email)
  was this you? claim the vote with just one click.
  = link_to t(:"email.login.login", name: name), login_url
- else
  please verify your email now, or we will not email you about this poll ever again.
  = link_to t(:"email.login.login", name: name), login_url
