%section.discussions-card{aria-labelledby: "threads-card-title"}
  .discussions-card__header
    %h2#threads-card-title.lmo-card-heading{ translate: "group_page.discussions"}
    %md-button.md-primary.md-raised.discussions-card__new-thread-button{ng-if: "canStartThread()", ng_click: "openDiscussionModal()", title: "{{ 'navbar.start_thread' | translate }}"}
      %span{translate: "navbar.start_thread"}
    %md-select.md-no-underline{ng-model: "filter", ng-change: "init(filter)"}
      %md-option{value: "show_open",   translate: "common.privacy.open"}
      %md-option{value: "show_closed", translate: "common.privacy.closed"}

  .discussions-card__placeholder
    .lmo-placeholder{translate: "group_page.discussions_placeholder", ng-if: "showThreadsPlaceholder()" }

  .discussions-card__list--empty{ng-if: "!loadMoreExecuting && !(discussions.any() || pinned.any())"}
    .discussions-card__list-empty-reason{translate: "group_page.thread_list.empty.{{whyImEmpty()}}"}
    .discussions-card__how-to-gain-access{ng-if: "howToGainAccess()"}
      %span{translate: "group_page.thread_list.empty.{{howToGainAccess()}}"}

  .discussions-card__list
    %section.thread-preview-collection__container{ng-if: "discussions.any() || pinned.any()"}
      %thread_preview_collection.thread-previews-container--pinned{ng-if: "pinned.any()", query: "pinned", limit: "threadLimit"}
      %thread_preview_collection.thread-previews-container--unpinned{ng-if: "discussions.any()", query: "discussions", limit: "threadLimit"}
    .lmo-show-more{ng-if: "canLoadMoreDiscussions()"}
      %button.discussions-card__show-more{ng-hide: "loadMoreExecuting", ng-click: "discussions.loadMore()", translate: "common.action.show_more"}
    %loading{ng-show: "loadMoreExecuting"}
