.discussions-card{
  @include cardNoPadding;
}

.discussions-card__header{
  padding: $cardPaddingSize $cardPaddingSize 0 $cardPaddingSize;
  display: flex;
  justify-content: space-between;
}

.discussions-card__placeholder {
  margin: 0 $cardPaddingSize;
}

.discussions-card__new-thread-button{
  @include cardButton;
}

.discussions-card__list--empty {
  margin: 0 17px 10px 17px;
  padding: 20px 0;
  text-align: center;
}

.discussions-card__list{
  clear: both;
}

.discussions-card__show-more {
  @include cardMinorAction;
  @include lmoBtnLink;
}
