%section.discussions-card{aria-labelledby: "threads-card-title"}
  .discussions-card__header
    %h2#threads-card-title.lmo-card-heading{ translate: "group_page.discussions"}
    %md-button.md-primary.md-raised.discussions-card__new-thread-button{ng-if: "canStartThread()", ng_click: "openDiscussionForm()", title: "{{ 'navbar.start_thread' | translate }}"}
      %span{translate: "navbar.start_thread"}

  .discussions-card__placeholder
    .lmo-placeholder{translate: "group_page.discussions_placeholder", ng-if: "showThreadsPlaceholder()" }

  .discussions-card__list--empty{ng-if: "!loadMoreExecuting && !discussions.any()"}
    .discussions-card__list-empty-reason{translate: "group_page.thread_list.empty.{{whyImEmpty()}}"}
    .discussions-card__how-to-gain-access{ng-if: "howToGainAccess()"}
      %span{translate: "group_page.thread_list.empty.{{howToGainAccess()}}"}

  .discussions-card__list
    %section.thread-preview-collection__container{ng-if: "discussions.any()"}
      %thread_preview_collection.thread-previews-container{query: "discussions", limit: "threadLimit"}
    .lmo-show-more{ng-if: "canLoadMoreDiscussions()"}
      %button.discussions-card__show-more{ng-hide: "loadMoreExecuting", ng-click: "loadMore()", translate: "common.action.show_more"}
    %loading{ng-show: "loadMoreExecuting"}
