.only-coordinator-modal
  .modal-header
    %modal_header_cancel_button{aria-hidden: "true"}
    %h1.lmo-h1{translate: "deactivate_user_form.title"}

  .modal-body
    %p{translate: "only_coordinator_modal.explanation"}
    %ul.only-coordinator-modal__list
      %li.only-coordinator-modal__list-item{ng-repeat: "group in groups()"}
        %a.lmo-link{ng-click: "redirectToGroup(group)"}
          {{group.fullName}}
    %p{translate: "only_coordinator_modal.instructions"}
  .modal-footer
    %button.only-coordinator-modal__list__button.lmo-btn--cancel{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
