.action-dock.lmo-flex.lmo-no-print{layout: "row"}
  .action-dock__action{ng-class: "{'action-dock__action--active': action.active()}", ng-repeat: "action in actions", ng-if: "action.canPerform()"}
    %reactions_input{class: "action-dock__button--react", model: "model", ng-if: "action.name == 'react'"}
    %md-button.md-button--tiny{class: "action-dock__button--{{action.name}}", ng-if: "action.name != 'react'", ng-click: "action.perform()"}
      %i.mdi{class: "{{ action.icon }}"}
      %md-tooltip{md-delay: "500"}
        %div{translate: "action_dock.{{ action.name }}"}
        %div{translate: "action_dock.{{ action.name }}_active", ng-if: "action.active()"}
