.reactions-display {
  .page-loading { padding: 0; }
  .emoji-picker__menu { left: 0; }
  .reaction__emoji > p { margin: 0; }
  height: 36px;
}

.reaction {
  display: inline-block;
  position: relative;
  transition: opacity ease-in-out 0.25s;
  opacity: 1;
  margin-left: -3px;

  &:nth-child(0) { margin-left: 0; }

  &.emoji-picker { top: 3px; }

  &--inactive { opacity: 0.3; }
  .mdi { color: $grey-on-white; }
  img.emojione { top: 1px; }
  .lmo-helper-icon {
    position: absolute;
    font-size: 15px;
    right: -4px;
    top: -4px;
  }
}

.reaction__emoji {
  pointer-events: none;
}

.reactions-display__emojis {
  // compensate for emoji squishing
  padding-left: 4px;
}
.reactions-display__name {
  line-height: 24px;
}
.reactions-display__names {
  margin-left: 4px;
  color: $grey-on-white;
  @include md-caption;
}
.reactions-display__count {
  position: relative;
  bottom: 1px;
}
