.poll-common-example-card.lmo-card.lmo-flex
  .lmo-hint-text
    %span{translate: "poll_common_example_card.what_is_this", translate-value-type: "{{type()}}"}>
    %span{translate: "poll_common_example_card.helptext_before"}
    %a.lmo-pointer{lmo-href: "/p/new/{{poll.pollType}}"}>
      %span{translate: "poll_common_example_card.helptext_link", translate-value-type: "{{type()}}"}
    %span{translate: "poll_common_example_card.helptext_after"}
