.lmo-one-column-layout
  %main.start-poll-page.lmo-row
    .start-poll-page__main-content.lmo-flex.lmo-card.lmo-relative{layout: "column"}
      .lmo-disabled-form{ng-if: "isDisabled"}
      .poll-common-start-poll__header.lmo-flex{ng-if: "!startPollPage.poll.pollType"}
        %h2.lmo-card-heading{translate: "poll_common.start_poll"}
      .poll-common-start-poll__header.lmo-flex{ng-if: "startPollPage.poll.pollType"}
        %i.mdi{class: "{{ startPollPage.icon() }}"}
        %h2.lmo-card-heading.poll-common-card-header__poll-type{translate: "poll_types.{{startPollPage.poll.pollType}}"}
      %poll_common_start_poll.lmo-flex__grow{poll: "startPollPage.poll"}
