%br
%h1 Oops! Looks like something went wrong.

%p For some reason your payment couldn't be processed.
%p Please send us an email at <a href="mailto:accounts@loomio.org">accounts@loomio.org</a> and we'll help you out.