<!DOCTYPE html>
<html lang="en">
  <body>
    <h1><%= t('forward_mailer.bounce.subject') %></h1>
    <p><%= t('forward_mailer.bounce.reason') %></p>
    <p><%= t('forward_mailer.bounce.recommendation') %></p>
  </body>
</html>
