%ul#activity-list
  .top-pagination
    = link_to_previous_page items, "Show earlier comments"

  -marked_first_unread = false
  - items.each do |event|
    - next if event.kind == 'new_discussion'
    -unless @discussion_reader.first_read?
      - unless marked_first_unread
        - unless @discussion_reader.has_read?(event)
          - unless event.belongs_to? current_user_or_visitor
            - marked_first_unread = true
            .shifted_anchor#latest-activity
            .dog-ear#js-dog-ear
              &nbsp;
            .new-activity-divider

    %li.activity-item-container
      - if event.kind == 'new_comment'
        = render event.eventable
      - else
        - discussion_item = DiscussionItem.new(event)
        = render 'discussion_item', :item => discussion_item
