%ul#activity-list
  .top-pagination
    = link_to_previous_page items, "Show earlier comments"

  -marked_first_unread = false
  - items.each do |event|
    - next if event.kind == 'new_discussion'
    - if user_has_not_read_event?(event) and not marked_first_unread
      - marked_first_unread = true
      .shifted_anchor#latest-activity
      .dog-ear
        &nbsp;
      .new-activity-divider

    %li.activity-item-container
      - if event.kind == 'new_comment'
        = render event.eventable
      - else
        - discussion_item = DiscussionItem.new(event)
        = render 'discussion_item', :item => discussion_item
