%ul.activity-list#activity-list
  %li.divider
  - if discussion.activity.count == 0
    %li.selector-item.empty-list-message
      There isn't any activity in this discussion yet.
  - else
    - discussion.activity.each do |event|
      - if event.kind == 'new_comment'
        %li= render event.eventable
      - else
        - discussion_item = DiscussionItem.new (event)
        %li.activity-item-container= render 'discussion_item', :item => discussion_item