.description-container
  .description-body
    .long-description
      = render_rich_text(description, description_markdown_setting)
    .translation-spacer.translated
    .translated-description.translated
      = t(:loading_translation)
    - if can?(:edit, discussion)
      = link_to t(:'edit'), edit_discussion_path(discussion), class: "edit-description edit-discussion-description bottom-panel-link"
    - if TranslationService.can_translate? discussion
      = translate_link_for discussion
