%div{ class: css_class_for(discussion, current_user) }
  %a{ href: discussion_path(discussion) }
    %span
      .discussion-title= truncate(discussion.title, :length => 70, :separator => ' ')
      .notification-info
        .latest-comment-time.utc-time= discussion.latest_history_time
        .discussion-icon-container{ class: enabled_icon_class_for(discussion, current_user) }
          - if activity_count_for(discussion, current_user) > 0
            .activity-count.span.label.label-important
              = activity_count_for(discussion, current_user)

      .group-name= DiscussionDecorator.new(discussion).display_group_name(this_group)
