.row
  .span8
    =render 'description', discussion: @discussion, description: @discussion.description, description_markdown_setting: @discussion.uses_markdown
  .span3.right-context
    .helper-text.discussion-description-helper-text.hidden
      =render "application/hint", text: t(:"hint.context"), anchor: 'starting-an-engaging-discussion'

    .discussion-additional-info
      = t("discussion_context.started_when", when: time_ago_in_words(@discussion.created_at))
      .started-by
        = t :by
        = " "
        =link_to @discussion.author.name, user_path(@discussion.author), class: "user-name"
      -if defined? @last_collaborator
        .last-edited-by
          = t("discussion_context.last_edited", when: time_ago_in_words(@discussion.last_versioned_at))
          =link_to @last_collaborator.name, user_path(@last_collaborator), class: "user-name"
        .see-revision-history
          %i.icon-time
          =link_to t("discussion_context.see_revision_history"), show_description_history_discussion_path(@discussion), :method => :post, :class => "see-description-history", :remote => true
#description-revision-history.modal.hidden
