:javascript
  $('body').on('click', '.vote-buttons', function(e) {
    e.preventDefault();
    $(this).find('.popover').hide();
    $('#prompt-user-to-join-or-authenticate').modal('show');
    }
  );
