#new-discussion.modal.hidden
  .modal-header
    %button.close{"data-dismiss" => "modal"}×
    %h2 Start new discussion
  = render "/discussions/form", :discussion => discussion, :user_groups => user_groups
