- if current_motion
  - motion_reader = current_motion.as_read_by(current_user)
  - motion_activity = motion_reader.unread_activity_count
  .icon.shim{:id => "graph_#{current_motion.id}"}
    .motion-sparkline
      -values = current_motion.vote_counts.values
      -if values.sum == 0
        0,0,0,0,1
      -else
        =values.join(',')
    - if current_motion.voting? && motion_activity > 0
      %span.activity-count.label.label-info
        = motion_activity
- else
  .large-icon.pie-icon.activity-icon
