.large-icon.discussion-icon.activity-icon{ class: enabled_icon_class_for(discussion, user) }
  - discussion_activity = discussion_activity_count_for(discussion, user)
  - if discussion_activity > 0
    %span.activity-count.label.label-info
      = discussion_activity
