.modal#prompt-user-to-join-or-authenticate
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"}×
        %h3= t :"prompt_visitor_to_authenticate.header"
      .modal-body
        %p= t :"prompt_visitor_to_authenticate.body"
        %p= t :"prompt_user_to_join.body"
      .modal-footer
        .row
          .col-md-6=link_to t(:log_in), new_user_session_path, class: "btn btn-block btn-success"
          .col-md-6=join_group_button(@group, id: "align-button")

= render 'discussions/js_prompt_user_to_join_or_authenticate'
