.modal#prompt-user-to-join-or-authenticate
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"} ×
        %h3= t :"prompt_user_to_join.header"
      .modal-body
        %p= t :"prompt_user_to_join.body"
      .modal-footer
        =join_group_button(@group, class: "btn btn-lg btn-primary", id: "align-button")

= render 'discussions/js_prompt_user_to_join_or_authenticate'
