- items.order("created_at desc").each do |item|
  - if item.kind == 'new_comment'
    %b= item.eventable.author.name + ", " + item.eventable.created_at.to_formatted_s
    %p= render_rich_text(item.eventable.body, item.eventable.body_format)

  - if item.kind == 'poll_created'
    = render "poll_created", item: item
