$("#new-comment").val('');
$("ul#activity-list").append("<li class='activity-item-container'><%= j render @comment %></li>");
$(".empty-list-message").remove()
$('.attachment-success').remove()
$('#new-comment-form').find("input[name='attachments[]']").remove()
ClientsideMarkdown.render($('.activity-item-container').last())
