$("#wmd-input-comment").val('');
$("ul#activity-list").prepend("<li class='activity-item-container new-comment'><%=j render @comment %></li>");

$('.attachment-success').remove()
$('#new-comment-form').find("input[name='attachments[]']").remove()
MarkdownSetup.render_markdown(".new-comment")
