$("#new-comment").val('');
$("ul#activity-list").append("<li class='activity-item-container'><%=escape_javascript(render @comment)%></li>");

$('.attachment-success').remove()
$('#new-comment-form').find("input[name='attachments[]']").remove()
