.page-container
  = render '/groups/title', group: @discussion.group, discussion: @discussion
  %h2= t "discussion_form.edit.header"
  = render "/discussions/form", :discussion => @discussion, :user_groups => @user_groups
