%ul.selector-list
  - if @discussions.empty?
    %li.selector-item.no-discussions= "There are no discussions for this group"
  - else
    - @discussions.each do |discussion|
      %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: @group
= paginate @discussions, :window => 3, :remote => :true
