%ul.selector-list
  #discussion-list
    - if @discussions.exists?
      - @discussions.each do |discussion|
        %li.selector-item= render '/discussions/discussion_preview', discussion: discussion, this_group: @group
  #discussions-loading
    %li.selector-item.loading Loading...
= paginate @discussions, :window => 3, :remote => :true
- current_user.update_group_last_viewed_at(@group) if current_user && params[:group_id]
