%ul
  - if @discussions
    - @discussions.each do |discussion|
      %li= render '/discussions/discussion_preview', discussion: discussion, this_group: @group
  - else
    %li.no-discussions= "There are no discussions for this group"
= paginate @discussions, :window => 3, :remote => :true
