= '---------------------------------------------------------------------------'

= t("email.unsubscribe")
= email_preferences_url( @utm_hash.merge(unsubscribe_token: @recipient.unsubscribe_token)).html_safe
