%html#activity_summary
  %table.main
    %tr
      %td
        %table.with-font-and-width
          %tr
            %td.header-cell
              %h1= t('email.activity_summary.heading')
          %tr
            %td.last-read-cell
              %div.sub-title= t('email.activity_summary.sub_header', since_time: @last_summary_at.strftime('%B %-d, %Y'))
        - @inbox.items_by_group do |group, items|
          %table.with-font-and-width.group
            %tr
              %td
                %h2= group.full_name
          - items.each do |item|
            -if item.is_a? Discussion
              =render 'activity_item_discussion', discussion: item, last_summary_at: @last_summary_at

        %table.with-font-and-width.footer
          %tr
            %td
              = render 'unsubscribe_link'