= render '/application/mailer_doctype'
%html
  %h1 Your Loomio Activity
  %p Showing you what’s been happening in your Loomio groups in the last 24 hours

  -@groups.each do |group|
    -next unless @activity[group.full_name].present?
    - @motions = @activity[group.full_name][:motions]
    - @discussions = @activity[group.full_name][:discussions]

    %h2=group.full_name
    -if @motions.present?
      %h4 Decisions
      %p
        -@motions.each do |motion|
          =link_to(motion.name, motion_url(motion))
          -if motion.close_date.present?
            \- closes in #{time_ago_in_words(motion.close_date)}
          %br

    -if @discussions.present?
      %h4 Discussions
      %p
        -@discussions.each do |discussion|
          =link_to(discussion.title, discussion_url(discussion))
          - num_new_comments = discussion.number_of_comments_since(@since_time)
          - if num_new_comments > 0
            \- #{pluralize(num_new_comments, "new comment", "new comments")}
          - else
            \- new discussion
          %br

  = render 'unsubscribe_link'
