<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
%h4="Hi, #{@user.email}"
%p="Your request for access to #{@group.name} has been approved."
%p
  You can now create, and vote on motions at:
  =link_to('Tautoko', group_url(@group))
%br
%p Thanks!
</body>
</html>


