%p.user-mailer__context= t(:"email.login.intro", name: @user.first_name || @user.email)
%p.user-mailer__message-container
  = link_to t(:"email.login.login", name: @user.name || @user.email), login_token_url(@token.token, @utm_hash), class: "invite-people-mailer__button"
%p.user-mailer__resend
  %span= t(:"email.login.resend", expires_at: @token.expires_at.strftime('%l:%m %P'))
