%p.user-mailer__context= t(:"email.login.intro", name: (@user.name || @user.email), site_name: AppConfig.theme[:site_name])
%p.user-mailer__message-container
  = link_to t(:"email.login.login", name: (@user.name || @user.email), site_name: AppConfig.theme[:site_name]), login_token_url(@token.token, @utm_hash), class: "invite-people-mailer__button"
%p.user-mailer__resend
  %span= t(:"email.login.resend")
