%p.user-mailer__context= t(:"email.login.intro", name: (@user.name || @user.email), site_name: AppConfig.theme[:site_name])
%p.user-mailer__message-container
  = link_to t(:"email.login.login", name: (@user.name || @user.email), site_name: AppConfig.theme[:site_name]),
    login_token_url(@token.token, @utm_hash),
    data: { "skip-click": true },
    class: "base-mailer__button base-mailer__button--accent"
%p.user-mailer__resend
  %span= t(:"email.login.resend")
