.invite-people-mailer__context
  = t(:"email.user_added_to_group.content_html", which_group: @group.full_name, who: @inviter.name)
.invite-people-mailer__message-container
  = link_to t(:"email.view_group"), group_url(@group, @utm_hash), class: "base-mailer__button base-mailer__button--accent"
.invite-people-mailer__value-proposition
  = t(:"email.value_proposition", site_name: AppConfig.theme[:site_name])
