= t("email.user_added_to_group.content", which_group: @group.full_name, who: @inviter.name)
\
= t("email.user_added_to_group.link_help")
\
= link_to group_url(@group), group_url(@group, @utm_hash)
\
= @message
