%button.lmo-btn-link.new-comment__truncation{ng-show: "commentIsLong()", ng-click: "toggleComment()", aria-hidden: "true"}
  .new-comment__gradient{ng-show: "commentCollapsed"}
  .new-comment__show-more.lmo-font--small{ng-show: "commentCollapsed", translate: "truncate_comment.show_more"}
