- @comment.versions.each do |version|
  - next unless comment = version.reify
  .version-header= comment.updated_at.strftime("%I:%M%p %d %B %Y")
  ~ render_rich_text(comment.body, comment.uses_markdown?).html_safe

.version-header= @comment.updated_at.strftime("%I:%M%p %d %B %Y")
~ render_rich_text(@comment.body, @comment.uses_markdown?).html_safe
