- @comment.versions.each do |version|
  - next unless comment = version.reify
  %strong= comment.updated_at.strftime("%I:%M%p %d %B %Y")
  = simple_format comment.body


%strong= @comment.updated_at.strftime("%I:%M%p %d %B %Y")
= simple_format @comment.body