- likes = comment.likes
%div.comment{id: "comment-#{comment.id}"}
  .comment-avatar.medium-user-avatar.avatar-canvas
    - if comment.user.avatar_url
      = image_tag comment.user.avatar_url(:medium)
    - else
      %span.medium-user-initials.initials-decoration
        = comment.user.avatar_initials
  .comment-container.with-avatar
    .comment-username
      =link_to comment.user_name, "#", "title" => comment.user_name,
        "data-content" => "#{render 'users/name_popover', user: comment.user, group: comment.group}",
        class: "user-name-link"
    .comment-body~ markdown(comment.body.to_s.force_encoding("UTF-8"))
    .comment-time-and-likes
      =render 'comments/comment_likes', comment: comment, likes: likes
