.row
  .col-md-6
    %h1= t :"edit_comment.comment_changes"
    = render 'changes'
    = link_to t("common.back_to_discussion"), discussion_path(@comment.discussion, anchor: "comment-#{@comment.id}"), class: "btn btn-info"