a.proposal-collapsed{
  display: block;
  color: $primary-text-color;
  margin: 0 -17px;
  padding: 15px 17px;
  border-bottom: 1px solid $border-color;
}
a.proposal-collapsed:hover{
  background-color: $list-hover-color;
  text-decoration: none;
}
.proposal-collapsed-outcome{
  color: $grey-on-white;
}
.proposal-collapsed-expand{
  clear: both;
  margin-top: 1em;
  @include fontSmall;
  color: $grey-on-white;
  text-decoration: underline;
}
