%a.proposal-collapsed.media{href: '', id: 'proposal-{{proposal.key}}'}
  .sr-only
    {{proposal.name}}.
    %proposal_closing_time{proposal: 'proposal'}.
  .screen-only{aria-hidden: 'true'}
    %proposal_closing_time.pull-right{proposal: 'proposal'}.
    .proposal-collapsed-expand.pull-right{translate: 'proposal_collapsed.expand'}
    .media-left
      %pie_chart.lmo-box--medium{votes: 'proposal.voteCounts'}
    .proposal-collapsed-body.media-body
      .proposal-collapsed-title
        {{proposal.name}}
    .clearfix
