%section.context-panel{aria-label: "{{ 'thread_context.aria_label' | translate }}"}
  .context-panel__top
    .context-panel__h1.lmo-flex__grow
      %h1.lmo-h1.context-panel__heading{in-view: "showLintel(!$inview)"}
        {{discussion.title}}
      %h1{ng-if: "translation"}
        %translation{translation: "translation", field: "title"}

    .context-panel__thread-actions.pull-right.lmo-no-print
      %outlet{name: "before-thread-actions", model: "discussion"}
      -# %star_toggle{thread: "discussion"}
      %span{uib-dropdown: "true",  ng-if: "showContextMenu()"}
        %button.context-panel__dropdown-button.lmo-btn--nude{uib-dropdown-toggle: "true"}
          .sr-only{translate: "thread_context.thread_options"}
          %i.fa.fa-fw.fa-chevron-down
        .context-panel__dropdown.uib-dropdown-menu.lmo-dropdown-menu
          %ul.lmo-dropdown-menu-items
            %li.lmo-dropdown-menu-item{ng-if: "canChangeVolume()"}
              %a.context-panel__dropdown-options--email-settings.lmo-dropdown-menu-item-label{href: "", ng-click: "openChangeVolumeForm()", translate: "thread_context.email_settings"}
            %li.lmo-dropdown-menu-item{ng-if: "canEditThread()"}
              %a.context-panel__dropdown-options--edit.lmo-dropdown-menu-item-label{href: "", ng-click: "editThread()", translate: "thread_context.edit"}
            %li.lmo-dropdown-menu-item{ng-show: "!discussion.isMuted()"}
              %a.context-panel__dropdown-options--mute.lmo-dropdown-menu-item-label{href: "", ng-click: "muteThread()", translate: "volume_levels.mute"}
            %li.lmo-dropdown-menu-item{ng-show: "discussion.isMuted()"}
              %a.context-panel__dropdown-options--unmute.lmo-dropdown-menu-item-label{href: "", ng-click: "unmuteThread()", translate: "volume_levels.unmute"}
            %li.lmo-dropdown-menu-item{ng-if: "canMoveThread()"}
              %a.context-panel__dropdown-options--move.lmo-dropdown-menu-item-label{href: "", ng-click: "moveThread()", translate: "thread_context.move_thread"}
            %li.lmo-dropdown-menu-item
              %a.context-panel__dropdown-options--print{ng-click: "requestPagePrinted()"}
                %span{translate: "thread_context.print_thread"}
            %li.lmo-dropdown-menu-item{ng-if: "canDeleteThread()"}
              %a.context-panel__dropdown-options--delete.lmo-dropdown-menu-item-label{href: "", ng-click: "deleteThread()", translate: "thread_context.delete_thread"}

  .context-panel__details.md-body-1
    %span{translate: "discussion.started_by", translate-value-name: "{{::discussion.authorName()}}"}
    %timeago.nowrap{timestamp: "::discussion.createdAt" }>
    %translate_button.lmo-card-minor-action{model: "discussion", showdot: "true"}>
    %span{aria-hidden: "true"}·
    %span{ng-if: "discussion.edited()"}
      %button.context-panel__edited.lmo-btn-link{ng-click: "showRevisionHistory()", translate: "discussion.edited"}>
      %span{aria-hidden: "true"}·
    %span.nowrap.context-panel__discussion-privacy--private{ng-show: "discussion.private"}>
      %i.fa.fa-lock>
      %span{translate: "common.privacy.private"}
    %span.nowrap.context-panel__discussion-privacy--public{ng-show: "!discussion.private"}>
      %i.fa.fa-globe>
      %span{translate: "common.privacy.public"}
    %outlet{name: "after-thread-title", model: "discussion"}

  .context-panel__description.lmo-markdown-wrapper{marked: "discussion.cookedDescription()", aria-label: "{{ 'thread_context.aria_label' | translate }}" }
  %translation{ng-if: "translation && discussion.description", translation: "translation", field: "description"}

  .context-panel__attachments{ng-if: "discussion.hasAttachments()"}
    .context-panel__attachment{ng-repeat: "attachment in discussion.attachments() | orderBy:'createdAt' track by attachment.id"}
      %attachment_preview{attachment: "attachment", mode: "context"}

  .context-panel__actions
    %md-button.md-accent.context-panel__add-comment.lmo-no-print{ng-click: "scrollToCommentForm()", translate: "thread_context.add_comment", ng-if: "canAddComment()"}
    %md-button.md-accent.context-panel__edit.lmo-no-print{ng-click: "editThread()", translate: "thread_context.edit_thread", ng-if: "canEditThread()"}
