.context-panel {
  @include card;
  .lmo-card-heading { margin-top: 7px; }
}

.context-panel__top {
  display: flex;
}

.context-panel__pin {
  font-size: 20px;
  line-height: 34px;
  margin-right: 8px;
}

.context-panel__before-thread-actions {
  order: 1;
}

.context-panel__thread-actions {
  margin-right: -10px;
  display: flex;
  flex-direction: column;
}

.context-panel__discussion-privacy i {
  position: relative;
  font-size: 14px;
  top: 2px;
}

.context-panel__thread-actions .star-toggle {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  a {
    min-width: 30px;
    text-align: center;
  }
}

.context-panel__details {
  color: $grey-on-white;
  margin-bottom: 15px;
}

.context-panel__description {
  margin-bottom: 16px;
  p:last-of-type { margin-bottom: 0; }
}

@media (min-width: $medium-max-px) {
  .context-panel__before-thread-actions {
    order: 0;
  }

  .context-panel__thread-actions {
    flex-direction: row;
  }
}
