.context-panel {
  @include card;
  .lmo-card-heading { margin-top: 7px; }
}
.context-panel__top {
  @include displayFlex;
}

.context-panel__thread-actions {
  margin-right: -10px;
}

.context-panel__thread-actions .star-toggle {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  a {
    min-width: 30px;
    text-align: center;
  }
}

.context-panel__details {
  color: $grey-on-white;
  margin-bottom: 15px;
}

.context-panel__description p:last-of-type{
  margin-bottom: 0;
}

.context-panel__attachments {
  margin: 16px 0;
}

.context-panel__attachment {
  margin-top: 16px;
}

.context-panel__actions {
  @include displayFlex;
  justify-content: flex-start;
  margin-top: 16px;
}

.context-panel__edit,
.context-panel__add-comment {
  margin: 16px 16px 0 0;
}
