.poll-poll-form
  %poll_common_form_fields{poll: "poll"}
  %poll_common_form_options{poll: "poll"}
  %poll_common_closing_at_field.md-input-compensate.md-block{poll: "poll"}

  %poll_common_notify_group{model: "poll", notify-action: "{{poll.notifyAction()}}"}
  %poll_common_settings{poll: "poll"}
