.new-comment{id: "comment-{{eventable.id}}"}
  .thread-item__body.new-comment__body.lmo-markdown-wrapper{ng-if: "!eventable.translation", marked: "eventable.cookedBody()"}
  %translation.thread-item__body{ng-if: "eventable.translation", model: "eventable", field: "body"}

  %outlet{name: "after-comment-body", model: "eventable"}

  %document_list{model: "eventable", skip-fetch: "true"}

  .lmo-md-actions
    %reactions_display{model: "eventable"}
    %action_dock{model: "eventable", actions: "actions"}

  %outlet{name: "after-comment-event", model: "eventable"}
