.outcome-created
  %p.thread-item__body.lmo-markdown-wrapper{ng-if: "!eventable.translation", richtext: "eventable.statement", format: "eventable.statementFormat"}
  %translation.thread-item__body{ng-if: "eventable.translation", model: "eventable", field: "statement"}

  .lmo-md-actions
    %reactions_display{model: "eventable"}
    %action_dock{model: "eventable", actions: "actions"}
