.thread-item{md-colors: "mdColors()", ng-class: "{'thread-item--indent': indent(), 'thread-item--unread': isUnread()}", in-view: "$inview&&event.markAsRead()", in-view-options: "{throttle: 200}"}
  .lmo-flex.lmo-relative.lmo-action-dock-wrapper{layout: "row", id: "sequence-{{event.sequenceId}}"}
    .lmo-disabled-form{ng-show: "isDisabled"}
    .thread-item__avatar.lmo-margin-right
      %user_avatar{ng-if: "!event.isForkable() && event.actor()", user: "event.actor()", size: "small"}
      %md-checkbox{ng-if: "event.isForkable()", ng-disabled: "!event.canFork()", ng-click: "event.toggleFromFork()", ng-checked: "event.isForking()"}
    .thread-item__body.lmo-flex.lmo-flex__horizontal-center{layout: "column"}
      .thread-item__headline.lmo-flex.lmo-flex--row.lmo-flex__center.lmo-flex__grow.lmo-flex__space-between
        %h3.thread-item__title{id: "event-{{event.id}}"}
          %div{ng-if: "debug()"}
            id: {{event.id}}
            cpid: {{event.comment().parentId}}
            pid: {{event.parentId}}
            sid: {{event.sequenceId}}
            position: {{event.position}}
            depth: {{event.depth}}
            unread: {{isUnread()}}
            cc: {{event.childCount}}
          %span{ng-bind-html: "::headline()"}
          %span{aria-hidden: "true"}>·
          %a.thread-item__link.lmo-pointer{href: "{{::link()}}"}
            %timeago.timeago--inline{timestamp: "event.createdAt"}
        %md-button.md-button--tiny{ng-if: "canRemoveEvent()", ng-click: "removeEvent()"}
          %i.mdi.mdi-delete
      %thread_item_directive.thread-item__directive{event: "event"}
