.header {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #efefef;
  border-bottom: 2px solid #dcdcdc;
  padding: 0 2rem;
}

.header__menu {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
}

@media (max-width: 600px) {
  .header {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .header__menu {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    display: none;
    position: absolute;
    top: 57px;
    right: -10;
    background-color: #efefef;
    padding: 10px;
    width: 100%;
    margin: auto;
  }

  .header__item {
    width: 100%;
    text-align: center;
  }

  .header__item-block-link {
    display: block;
    width: 100%;
    margin: 10px 0;
    line-height: 2.4em;
  }

  .header__item--start-button {
    margin: 10px 0 15px 0;
  }

  .header__menu-collapsed-button {
    display: flex;
    cursor: pointer;
    &:active, &:hover, &:focus {
      background-color: #fff !important;
    }
  }

  .header__logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__resources-dropdown {
    text-align: center;
    margin: 10px 0;
    width: 100%;
  }
  .header__resources-dropdown-menu {
    text-align: center;
    padding: 20px 0px 12px 0 !important;
    border-bottom: 1px solid #dcdcdc;
  }
}

.header__menu-collapsed-button {
  cursor: pointer;
  height: 36px;
  margin: 0;
  background-color: #fff;
  color: black !important;
  border: 1px solid #dcdcdc;
  font-size: 24px;
  padding: 5px;
}

@media (min-width: 600px) {
  .header {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .header__menu-collapsed-button { display: none; }
  .header__menu {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .header__item { padding: 0 10px; }
  .header__resources-dropdown-menu {
    position: absolute;
    text-align: left;
    li { margin-bottom: 10px; }
  }
}

@media (min-width: 960px) {
  .header__item { padding: 0 20px; }
}


.header__item {
  list-style-type: none;
  white-space: nowrap;
  &:hover { color: black; }
  a {
    text-decoration: none;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}

.header__item-icon {
  font-size: 12px;
}

.header__logo {
  width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__resources-dropdown {
  display: inline-block;
  color: #4076D4;
  &:hover { cursor: pointer; }
}

.header__resources-dropdown-menu {
  top: 50px;
  display: none;
  list-style-type: none;
  margin-left: 0;
  background-color: #efefef;
  padding: 20px 12px 0px 12px;
  li { line-height: 2.4rem; }
  z-index: 100;
}

.header__resources-dropdown:hover .header__resources-dropdown-menu {
  display: block;
}

.header__button {
  background-color: #3B94E8;
  max-height: 40px;
  padding: 0px 10px;
  line-height: 40px;
  &:active, &:hover, &:focus {
    background-color: #3B94E8 !important;
  }
}
