body {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  body { height: 100% }
  .lmo-wrap__body {
    -webkit-flex: 1;
    flex: 1;
    overflow-y: scroll;
  }
}

.lmo-flash-container {
  background-color: #dff0d8;
  color: #3c763d;
  text-align: center;
  .alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
  }
}
