.email-settings-page {
  @include lmoRow;
}

.email-settings-page__email-settings {
  @include card;
}

.email-settings-page__specific-group-settings {
  margin-top: 40px;
}

.email-settings-page__groups {
  list-style: none;
  margin-top: 20px;
  padding-left: 0px;
  max-width: 500px;
}

.email-settings-page__group {
  @include displayFlex;
  margin-bottom: 20px;
}

.email-settings-page__edit {
  margin-left: 20px;
  width: $boxMediumSize;
}

.email-settings-page__learn-more-link {
  @include cardMinorAction;
}
