.lmo-one-column-layout
  %main.email-settings-page{ng-if: "emailSettingsPage.user"}
    .lmo-page-heading
      %h1.lmo-h1-medium{translate: "email_settings_page.header"}
    .email-settings-page__email-settings
      .email-settings-page__global-settings
        %h3.lmo-h3{translate: "email_settings_page.all_groups"}

        %form{ng-submit: "emailSettingsPage.submit()"}
          .email-settings-page__global-email-settings-options
            .email-settings-page__field
              %input.email-settings-page__daily-summary#daily-summary-email{type: "checkbox", ng-model: "emailSettingsPage.user.emailMissedYesterday"}
              %label{for: "daily-summary-email", translate: "email_settings_page.daily_summary_label"}
              .email-settings-page__input-description{translate: "email_settings_page.daily_summary_description"}

            .email-settings-page__field
              %input.email-settings-page__on-participation#on-participation-email{type: "checkbox", ng-model: "emailSettingsPage.user.emailOnParticipation"}
              %label{for: "on-participation-email", translate: "email_settings_page.on_participation_label"}
              .email-settings-page__input-description{translate: "email_settings_page.on_participation_description"}

            .email-settings-page__field
              %input.email-settings-page__mentioned#mentioned-email{type: "checkbox", ng-model: "emailSettingsPage.user.emailWhenMentioned"}
              %label{for: "mentioned-email", translate: "email_settings_page.mentioned_label"}
              .email-settings-page__input-description{translate: "email_settings_page.mentioned_description"}

          %button.email-settings-page__update-button{type: "submit", ng-disabled: "isDisabled", translate: "email_settings_page.update_settings"}

      .email-settings-page__specific-group-settings
        %h3.lmo-h3{translate: "email_settings_page.specific_groups"}
        .email-settings-page__default-description{translate: "{{emailSettingsPage.defaultSettingsDescription()}}"}
        %button.email-settings-page__change-default-link.lmo-btn-link{ng-click: "emailSettingsPage.changeDefaultMembershipVolume()", translate: "email_settings_page.change_default"}
        %ul.email-settings-page__groups
          %li.email-settings-page__group{ng-repeat: "group in emailSettingsPage.user.groups() track by group.id"}
            %group_avatar{group: "group", size: "medium"}
            .email-settings-page__group-details
              %strong.email-settings-page__group-name
                %span{ng-if: "group.isSubgroup()"}>
                  {{group.parentName()}} -
                %span {{group.name}}
              %p.email-settings-page__membership-volume{translate: "change_volume_form.{{emailSettingsPage.groupVolume(group)}}_label"}
            .email-settings-page__edit
              %button.email-settings-page__edit-membership-volume-link.lmo-btn-link{ng-click: "emailSettingsPage.editSpecificGroupVolume(group)", translate: "email_settings_page.edit"}
        %a.email-settings-page__learn-more-link{href: "https://loomio.gitbooks.io/manual/content/en/keeping_up_to_date.html", target: "_blank", translate: "Learn more about email settings..."}
