.cover-photo-form
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "cover_photo_form.heading"}
      %material_modal_header_cancel_button
  .md-dialog-content.md-body-1
    %button.lmo-btn-link{ng-click: "selectFile()"}
      .lmo-box--small.lmo-float--left
        .user-avatar__initials--small
          %i.fa.fa-lg.fa-camera
      %span.lmo-option-text{translate: "cover_photo_form.upload_link"}
    .lmo-clearfix
    %input.hidden.cover-photo-form__file-input{type: "file", ng-model: "files", ng-file-select: "upload(files)"}
    %p{translate: "cover_photo_form.image_size_helptext"}
