poll_common_manage_card {
  flex-grow: 1;
}

.poll-common-share-form .md-list-item-inner{
  padding: 0;
}
.poll-common-share-form md-list-item{
  padding: 0;
}

.poll-common-share-form__form {
  display: block;
  margin-bottom: 40px;
}

.poll-common-share-form__icon {
  margin-right: 5px;
  line-height: 20px !important;
}

.poll-common-share-form__shareable-link {
  flex-direction: row;
  width: 100%;
}

.poll-common-share-form__add-option {
  align-items: flex-start;
  margin-bottom: -50px;
}

.poll-common-share-form__add-button {
  margin: 8px 0 0 0;
  padding: 8px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poll-common-share-form__group-select {
  min-width: 0;
}

.poll-common-share-form__option-icon {
  margin: auto;
}

.poll-common-share-form__visitor {
  justify-content: space-between;
  width: 100%;
  pointer-events: auto;
}

.poll-common-share-form__loomio-group {
  margin-top: -50px;
  flex-direction: column;
  align-items: flex-start;
}

.poll-common-share-form__emails {
  margin-top: -50px;
  pointer-events: none;
}

.poll-common-share-form__email {
  line-height: 48px;
}

.poll-common-share-form__reminded {
  line-height: 48px;
  font-size: 12px;
}

.poll-common-share-form__send-emails {
  margin-top: -40px;
  line-height: 24px;
  min-height: 24px;
  padding: 5px;
}

.poll-common-share-form__button {
  line-height: 24px;
  min-height: 24px;
  height: 40px;
  min-width: 125px;
  order: 10;
  i { color: rgba(255,255,255,0.87); }
}

.poll-common-share-form__add-button {
  min-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 0 0;
  padding: 8px;
}

.poll-common-share-form__community {
  align-items: center;
  width: 100%;
}

.poll-common-share-form__community-icon {
  width: 48px;
  height: 48px;
}

.poll-common-share-form__community-icon--slack {
  padding: 5px;
}

.poll-common-share-form__community-icon--facebook {
  padding: 10px;
}

.poll-common-share-form__h3 {
  margin-top: 0;
}
