-unless omniauth_authenticated_and_waiting?
  %a{ href: 'user_omniauth_authorize_path(:facebook)', class: '' }
    = image_tag('login-facebook.png', title: 'Log in with Facebook')
  %a{ href: 'user_omniauth_authorize_path(:google)', class: 'login' }
    = image_tag('login-google.png', title: 'Log in with Google')
  %a{ href: '#', class: 'login', id: 'persona-login-btn', onclick: 'PersonaLogin(); return false' }
    = image_tag('login-persona.png', title: 'Log in with Persona')

:javascript
  function PersonaLogin() {
    if (navigator.id) {
      navigator.id.get(function(assertion) {
        if (assertion) {
          $('input[name=assertion]').val(assertion);
          $('#persona_form').submit();
        } else {
          window.location = "#{new_user_session_url}"
        }
      });
    }
  }

%form#persona_form{action: user_omniauth_callback_path(:browser_id)}
  %input{type: 'hidden', name: 'assertion'}
