.loading-wrapper.lmo-one-column-layout
  %loading{ng-if: "!profilePage.user"}
  %main.profile-page{ng-if: "profilePage.user"}
    .lmo-page-heading
      %h1.lmo-h1-medium{translate: "profile_page.profile"}
    .profile-page-card
      .lmo-disabled-form{ng-show: "profilePage.isDisabled"}
      %h3.lmo-h3{translate: "profile_page.edit_profile"}

      .profile-page__profile-fieldset
        %user_avatar{user: "profilePage.user", size: "featured"}
        %md-button.md-accent.md-button--no-h-margin.profile-page__change-picture{ng-click: "profilePage.changePicture()", translate: "profile_page.change_picture_link"}

      .profile-page__profile-fieldset
        %md-input-container.md-block
          %label{for: "user-name-field", translate: "profile_page.name_label"}
          %input.profile-page__name-input#user-name-field{ng-required: true, ng-model: "profilePage.user.name"}
          %validation_errors{subject: "profilePage.user", field: "name"}

        %md-input-container.md-block
          %label{for: "user-username-field", translate: "profile_page.username_label"}
          %input.profile-page__username-input#user-username-field{ng-required: true, ng-model: "profilePage.user.username"}
          .md-caption{translate: "profile_page.username_helptext"}
          %validation_errors{subject: "profilePage.user", field: "username"}

        %md-input-container.md-block
          %label{for: "user-email-field", translate: "profile_page.email_label"}
          %input.profile-page__email-input#user-email-field{ng-required: true, ng-model: "profilePage.user.email"}
          %validation_errors{subject: "profilePage.user", field: "email"}

        %md-input-container.md-block
          %label{for: "user-short-bio-field", translate: "profile_page.short_bio_label"}
          %textarea.profile-page__short-bio-input#user-short-bio-field{ng-model: "profilePage.user.shortBio", placeholder: "{{'profile_page.short_bio_placeholder' | translate}}"}
          %validation_errors{subject: "profilePage.user", field: "shortBio"}

        %md-input-container.md-block
          %label{for: "user-location-field", translate: "profile_page.location_label"}
          %input.profile-page__location-input#user-location-field{ng-model: "profilePage.user.location", placeholder: "{{'profile_page.location_placeholder' | translate}}"}

        %md-input-container.md-block
          %label{for: "user-locale-field", translate: "profile_page.locale_label"}
          %md-select.profile-page__language-input#user-locale-field{ng-model: "profilePage.user.selectedLocale", ng-required: "true"}
            %md-option{ng-repeat: "locale in profilePage.availableLocales()", ng-value: "locale.key"}
              {{locale.name}}
          %validation_errors{subject: "profilePage.user", field: "selectedLocale"}

        %p{ng-if: "profilePage.showHelpTranslate()"}
          %a.md-caption{translate: "profile_page.help_translate", href: "https://www.loomio.org/g/cpaM3Hsv/loomio-community-translation", target: "_blank"}

      .profile-page__update-account.lmo-flex.lmo-flex__space-between
        %md-button.md-accent.profile-page__change-password{ng-click: "profilePage.changePassword()", translate: "profile_page.change_password_link"}
        %md-button.md-primary.md-raised.profile-page__update-button{ng-click: "profilePage.submit()", ng-disabled: "isDisabled", translate: "profile_page.update_profile"}

    .profile-page-card
      %h3.lmo-h3{translate: "profile_page.deactivate_account"}
      %md-button.md-warn.md-button--no-h-margin.profile-page__deactivate{ng-click: "profilePage.deactivateUser()", translate: "profile_page.deactivate_account"}
      %h3.lmo-h3{translate: "profile_page.delete_account"}
      %md-button.md-warn.md-button--no-h-margin.profile-page__delete{ng-click: "profilePage.deleteUser()", translate: "profile_page.delete_user_link"}
