.announcement-group-form
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "notify_group.modal_title"}
      %material_modal_header_cancel_button
  .announcement-group-form__content
    %loading{ng-if: "initExecuting"}
    %p.lmo-hint-text{translate: "notify_group.modal_error", ng-if: "!initExecuting && !group"}
    .announcement-group-form__content{ng-if: "group"}
      .announcement-group-form__filter.lmo-flex
        %md-input-container.polls-page__search.md-block{md-no-float: "true"}
          %i.material-icons search
          %input{ng-model: "search.fragment", ng-change: "updateVisible()", ng-model-options: "{debounce: 300}", placeholder: "{{'notify_group.search_placeholder' | translate}}"}

      %md-list.announcement-group-form__members
        %md-list-item.announcement-group-form__member.lmo-flex.lmo-flex__center.lmo-flex__space-between{ng-if: "!userIsMe(user)", ng-show: "user.showInNotifyGroup", layout: "row", ng-repeat: "user in group.members() | orderBy: 'name' track by user.id"}
          %user_avatar.lmo-margin-right{user: "user", size: "small"}
          .lmo-flex__grow.lmo-flex{layout: "column"}
            .announcement-group-form__name {{ ::user.name }}
            .md-caption @{{ ::user.username }}
          .announcement-group-form__checkbox
            %md-checkbox{ng-disabled: "::loudOrMute(user)", ng-model: "userIds[user.id]"}
            %md-tooltip.help-bubble__tooltip{ng-if: "::user.membershipFor(group).volume == 'loud'", md-z-index: 1000}
              %span{translate: "notify_group.user_is_loud"}
            %md-tooltip.help-bubble__tooltip{ng-if: "::user.membershipFor(group).volume == 'mute'", md-z-index: 1000}
              %span{translate: "notify_group.user_is_muted"}

      .lmo-md-actions
        %p.lmo-hint-text{translate: "notify_group.members_count", translate-value-count: "{{selectedUserIds().length}}"}
        %md-button.md-primary.md-raised.announcement-group-form__submit{ng-click: "submit()", translate: "common.action.done"}
