.poll-common-participant-form{ng-if: "!isLoggedIn()"}
  %md-input-container.md-block
    %label{translate: "poll_common.participant_name"}
    %input.lmo-primary-form-input{type: "text", placeholder: "{{translations.namePlaceholder}}", ng-model: "stance.visitorAttributes.name"}
    %validation_errors{subject: "stance", field: "participant_name"}
  %md-input-container.md-block
    %label{translate: "poll_common.participant_email"}
    %input.lmo-primary-form-input{type: "text", placeholder: "{{translations.emailPlaceholder}}", ng-model: "stance.visitorAttributes.email"}
    %validation_errors{subject: "stance", field: "participant_email"}
