#email-submitted-container
  -if current_user
    %img(src="/assets/loomio-orange.png")
  %h1 Thank you!
  %p
  %p We will notify you as soon as the issue has been resolved.
  %p= link_to 'Return to home page', root_path
