.poll-proposal__chart
  %h3= t(:"poll_mailer.common.results")
  %img.poll-proposal__chart-image{src: URI.escape("https://chart.googleapis.com/chart?cht=p&chma=0,0,0,0|0,0&chs=200x200&chd=t:#{proposal_sparkline(@info.poll)}&chco=#{proposal_color_values}")}
