%h1= t(:'beta_features.heading')
= simple_form_for current_user, url: beta_features_path, method: :post do |f|
  = f.input :beta_features, as: :check_boxes, collection: BETA_FEATURE_NAMES, label: false
  = f.submit value: t(:'beta_features.submit'), class: 'btn btn-info'
