-kind ||= user.avatar_kind
-#-cache user do
%div{ class: "#{size}-user-avatar #{kind}-user-avatar avatar-canvas", id: id }
  - if kind == 'initials'
    = user.avatar_initials
  - else
    = image_tag user.avatar_url(size, kind)
