-id ||= nil
-kind ||= user.avatar_kind
-size ||= "medium"
-show_title = ( show_title.nil? ? false : show_title )
-name = user.name
-title = ( show_title ? name : nil )

%div{ class: "#{size}-user-avatar #{kind}-user-avatar avatar-canvas", id: id, title: title }
  - unless user.is_logged_in?
    %h2
      %i.fa.fa-user
  -else
    - if kind == 'initials'
      = user.avatar_initials
    - else
      = image_tag user.avatar_url(size)
