%form.extend-proposal-form{ng-submit: "submit()", ng-disabled: "proposal.processing"}
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1{translate: "extend_proposal_form.title"}

  .modal-body
    %closing_at_field{proposal: "proposal"}

  .modal-footer
    %button.lmo-btn--submit.cuke-extend-proposal-btn{type: "submit", translate: "extend_proposal_form.submit"}
    %button.lmo-btn--cancel{type: "button", ng-click: "cancel($event)", translate: "common.action.cancel"}
