.reactions-input
  %emoji_picker.lmo-relative.md-button.md-button--tiny{model: "discussion", reaction: "true"}
  %md-tooltip{md-delay: "500"}
    %span{translate: "reactions_input.add_your_reaction"}
