.media-left
  %user_avatar{user: "notification.actor()", size: "small"}
.media-body
  %span{translate: "notifications.comment_replied_to", translate-value-name: "{{notification.actor().name}}", translate-value-discussion: "{{notification.discussion().title}}" }
  %timeago{timestamp: "notification.createdAt" }>
