.media-left
  %user_avatar{user: "notification.actor()", size: "small"}
.media-body
  %span{translate: "notifications.membership_request_approved", translate-value-name: "{{notification.actor().name}}", translate-value-group: "{{notification.group().fullName}}" }
  %timeago{timestamp: "notification.createdAt" }>
