.media{ng-if: "notification.model().byExistingUser()"}
  .media-left
    %user_avatar{user: "notification.event().membershipRequest().actor()", size: "small"}
  .media-body
    %span{translate: "notifications.membership_requested", translate-value-name: "{{notification.event().membershipRequest().actor().name}}", translate-value-group: "{{notification.model().group().fullName}}" }

.media{ng-if: "!notification.model().byExistingUser()"}
  .media-left
    %img.lmo-box--small.lmo-rounded-corners{ng-src: "{{notification.model().group().logoUrl()}}", aria-hidden: "true"}
  .media-body
    %span{translate: "notifications.membership_requested", translate-value-name: "{{notification.model().name}}", translate-value-group: "{{notification.model().group().fullName}}" }
    %timeago{timestamp: "notification.createdAt" }>
