.media-left
  .thread-item__proposal-icon
.media-body
  %span{translate: "notifications.motion_closing_soon", translate-value-proposal: "{{notification.model().name}}" }
  %timeago{timestamp: "notification.createdAt" }>
