.media-left
  %user_avatar{user: "notification.actor()", size: "small"}
.media-body
  %span{translate: "notifications.motion_closed", translate-value-proposal: "{{notification.relevantRecord().name}}" }
  %timeago{timestamp: "notification.createdAt" }>
  %blank{translate: "notifications.set_motion_outcome"}