.media-left
  %user_avatar{user: "notification.actor()", size: "small"}
.media-body
  %span{translate: "notifications.motion_closed", translate-value-proposal: "{{notification.model().name}}" }
  %timeago{timestamp: "notification.createdAt" }>
  .notifications__publish-outcome{translate: "notifications.publish_outcome"}
