.media-left
  %user_avatar{user: "notification.actor()", size: "small"}
.media-body
  %span
    %strong
      %a.notifications__link{lmo-href-for: "notification.actor()"} {{notification.actor().name}}
  %span{translate: "notifications.new_coordinator"}
  %span
    %strong
      %a.notifications__link{lmo-href-for: "notification.group()"} {{notification.group().name}}
  %timeago{timestamp: "notification.createdAt" }>
