.notifications__button {
  i { font-size: 24px; }
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
}

.notifications__menu-content {
  max-width: $tiny-max-px;
  max-height: calc(100vh - 48px);
  padding: 0;
  @include fontMedium;
  a { color: $primary-text-color; outline: 0 }
  a:active, a:link, a:visited { text-decoration: none !important}
  li { list-style-type: none; }
}

.notifications__activity {
  padding: 5px;
  color: $card-background-color !important;
  font-size: 10px;
  position: absolute;
  left: 12px;
  top: 0;
  background: $notification-color !important;
  border-radius: 10px;
  border: 2px solid $card-background-color;
  line-height: 5px;
}
