.notifications__button {
  position: relative;
  i { font-size: 20px; }
}

.notifications__activity {
  font-size: 0.5em;
  color: white;
  padding: 2px;
  position: absolute;
  left: 18px;
  top: 4px;
}

.notifications__link {
  color: $primary-text-color;
}
