%span{ng-if: "notification.event().membership().inviter() == null"}
  %span{translate: "notifications.user_added_to_group_no_inviter", translate-value-group: "{{notification.event().membership().group().fullName}}" }

.lmo-wrap{ng-if: "notification.event().membership().inviter()"}
  .media-left
    %user_avatar{user: "notification.event().membership().inviter()", size: "small"}
  .media-body
    %span{translate: "notifications.user_added_to_group", translate-value-name: "{{notification.event().membership().inviter().name}}", translate-value-group: "{{notification.event().membership().group().fullName}}" }
    %timeago{timestamp: "notification.createdAt" }>
