.poll-proposal-options-panel
  %md-list.md-block{ng-if: "currentUserStance"}
    %h3{translate: "poll_proposal_options_panel.change_your_stance_title"}
    %p{translate: "poll_proposal_options_panel.change_your_stance_text"}
    %md-button.md-primary{ng-click: "openVoteForm(currentUserStance.pollOption())", translate: "poll_proposal_options_panel.change_your_stance"}
  %md-list.md-block{ng-if: "!currentUserStance"}
    %label{translate: "poll_common.your_response"}
    %md-list-item{ng-click: "openVoteForm(option)", ng-repeat: "option in poll.pollOptions() track by option.id"}
      %img.poll-proposal-form__icon{src: "/img/{{option.name}}.svg"}
      {{option.name}}
