.announcement-member-list
  .announcement-member-list__headers.lmo-md-actions
    %h3.lmo-h3{translate: "announcement.members_list.title"}
    %h3.lmo-h3{translate: "announcement.members_list.last_notified"}
  .announcement-member-list__content
    %md-list.lmo-flex--column
      %loading{ng-if: "initExecuting"}
      %p.lmo-hint-text.align-center{ng-if: "!initExecuting && !members.length", translate: "announcement.members_list.no_members"}
      %md-list-item.announcement-member-list__member{ng-switch: "member.type", ng-repeat: "member in members | orderBy: '-priority' track by member.key"}
        %announcement_member_list_item.announcement-member-list__member{ng-switch-default: "true", member: "member"}
        .announcement-member-list__member.lmo-flex--column{ng-switch-when: "Group"}
          %announcement_member_list_item.lmo-pointer{ng-click: "toggle(member)", member: "member"}
          %announcement_member_list_item{ng-if: "member.expanded", ng-repeat: "submember in member.submembers track by submember.key", member: "submember", indented: "true"}
          %loading{ng-if: "member.loading"}
