.announcement-member-list {
  margin-top: 16px;
}

.announcement-member-list__users {
  overflow: auto;
  max-height: 300px;
}

.announcement-member-list__icon {
  width: 32px;
  margin: 4px;
  color: $grey-on-white;
}

.announcement-member-list__email {
  border: 1px solid $border-color;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}

.announcement-member-list__user {
  padding: 0 !important;
}

.announcement-member-list__not-notified {
  text-align: right;
}
