%md-dialog.poll-common-modal
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi{class: "{{icon()}}"}
      %h1.lmo-h1{translate: "poll_{{poll.pollType}}_form.edit_header"}
      %material_modal_header_cancel_button
  %md-dialog-content
    %div{ng-switch: "currentStep"}
      %poll_common_directive{poll: "poll", name: "form", ng-switch-when: "save"}
      %announcement_form{announcement: "announcement", name: "form", ng-switch-when: "announce"}
    %dialog_scroll_indicator
  %md-dialog-actions{ng-switch: "currentStep"}
    %poll_common_form_actions{poll: "poll", ng-switch-when: "save"}
    %announcement_form_actions{announcement: "announcement", ng-switch-when: "announce"}
