.pull-right
  %ul.nav.nav-pills
    %li= link_to t(:'networks.threads'), network_path(@network)
    %li= link_to t(:'networks.groups'), groups_network_path(@network)
    - if current_user.is_organisation_coordinator?
      %li= link_to t(:'networks.join'), new_network_membership_request_path(@network)
    - if current_user.can? :manage_membership_requests, @network
      - count = @network.membership_requests.pending.count
      %li
        = link_to t(:'networks.manage', count: count), network_membership_requests_path(@network)
