.poll-common-tool-tip {
  min-width: 100%;
  width: 0;
  margin: 16px 0 48px 0;
}

.poll-common-tool-tip__expanded {
}

.poll-common-tool-tip__learn-more {
  margin-left: 8px;
  text-decoration: underline;
}
.poll-common-tool-tip__collapsed{
  font-style: italic;
}

.poll-common-tool-tip__divider {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.12);
}
