- if names.any?
  Liked by
  - names[0..-3].each_with_index do |name|
    = succeed ',' do
      %strong= name
  - if names[-2].present?
    %strong= names[-2]
    and
  - if names[-1].present?
    %strong= names[-1]
