.document-title-form
  .document-form__helptext.lmo-hint-text{translate: "document.form.title_helptext"}

  %md-input-container.md-block.md-no-errors
    %label{translate: "document.form.title_label"}
    %input.lmo-primary-form-input#document_title{ng-model: "document.title", placeholder: "{{'document.form.title_placeholder' | translate }}"}
    %validation_errors{subject: "document", field: "title"}

  .lmo-md-actions
    %md-button.md-accent{ng-click: "$emit('backFromTitle')", translate: "common.action.back"}
    %md-button.md-primary.md-raised{ng-click: "submit()", translate: "common.action.save"}
