%abbr.closing-in>
  %span{ng-if: 'time.isAfter(moment())', translate: 'common.closing_in', translate-value-time: '{{time | timeFromNowInWords}}', ng-attr-title: '{{time | exactDateWithTime}}'}
  %span{ng-if: 'time.isBefore(moment())', translate: 'common.closed_ago', translate-value-time: '{{time | timeFromNowInWords}}', ng-attr-title: '{{time | exactDateWithTime}}'}
