.poll-ranked-choice-form__add-option-field,
.poll-ranked-choice-form__option-text {
  flex-grow: 1;
  width: 100%;
  @include truncateText;
}

.poll-ranked-choice-form__option-button {
  display: flex;
  min-width: 24px;
  margin: 0 16px;
}

.poll-ranked-choice-form__option-icon {
  margin: auto;
}
