%section.current-proposal-card{role: 'region', aria-labelledby: 'current-proposal-card-heading'}
  %h2.card-title#current-proposal-card-heading{translate: 'current_proposal_card.heading'}
  %proposal_expanded{proposal: 'proposal'}
