%section.current-proposal-card{aria-labelledby: 'current-proposal-card-heading'}
  %h2.lmo-card-heading#current-proposal-card-heading{translate: 'common.models.proposal'}
  %proposal_expanded{proposal: 'proposal'}
