.md-sidenav-left {
  background: #ebebeb;
  min-height: 100%;
  display: block !important;
  width: 250px;
  border-top: 1px solid rgba(0,0,0,.14);
}

.sidebar__list-subhead {
  @include md-caption;
  margin: 0px 0 16px 16px;
  color: $grey-on-white;
}

.sidebar__list-item-button {
  width: 100%;
  margin: 0;
  padding: 0 15px;
  display: flex;
  align-items: center;
  text-align: left;
  border-radius: 4px;
  text-transform: none;
  @include md-body-1;
  white-space: normal;
}
.sidebar__list-item-button--group{
  font-weight: 500;
}
.sidebar__list-item-button--subgroup {
  display: flex;
  width: 100%;
  margin: 0;
  text-transform: none;
  border-radius: 4px;
  text-align: left;
  padding-left: 53px;
  @include md-body-1;
}

.sidebar__list-item-icon {
  width: 20px;
  margin-right: 16px;
  font-size: 22px;
  color: $grey-on-white;
}

.sidebar__list-item-group-logo {
  margin-right: 16px;
}

.sidebar__divider {
  border-top: 1px solid #ddd;
  margin-bottom: 12px;
}

.sidebar__list-item--selected {
  background-color: #ddd;
  font-weight: 500;
}

.sidebar__list-item--selected {
  color: black;
}

@media (min-width: $tiny-max-px) {
  .md-sidenav-left {
    transition: 0.3s all;
  }
}
