.help-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.help-overlay__highlight {
  position: relative;
  background: white;
  border-radius: 4px;
}

.help-overlay__tooltip {
  height: auto;
  position: absolute;
  pointer-events: auto;
  background-color: $background-color;
  color: $primary-text-color;
  overflow: visible;
  padding: 16px;
  right: 16px;
  border-radius: 4px;
  top: calc(100% + 24px);

  &:before {
    content: "";
    height: 12px;
    width: 12px;
    z-index: 10000;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: -6px;
    right: 16px;
    background: $background-color;
  }
}

.help-overlay__tooltip .md-button {
  cursor: pointer;
  margin: 0;
}

.help-overlay__tooltip p {
  margin: 0 0 10px 0;
}

.help-overlay__close {
  float: right;
}

.md-panel-outer-wrapper {
  pointer-events: auto !important;
  z-index: 10000 !important;
}
