.poll-common-stance-choice
  %poll_common_stance_icon{stance_choice: "stanceChoice"}
  %span{ng-if: "translateOptionName", translate: "poll_proposal_options.{{stanceChoice.pollOption().name}}"}
  %span{ng-if: "!translateOptionName"} {{stanceChoice.pollOption().name}}
