
.poll-meeting-stance-icon {
  display:flex;
  align-items: center;
  justify-content: center;

  img {
    margin: auto;
    width: 30px;
  }
}

.poll-meeting-stance-icon--thread-item {
  margin-right: 12px;
  img {
    max-width:20px;
  }
}
