.poll-meeting-stance-icon.lmo-margin-right{ng-class:"{'poll-meeting-stance-icon--yes': score==2, 'poll-meeting-stance-icon--maybe': score==1}"}
  %i.mdi{ng-class:"{'mdi-minus': score==1,'mdi-check': score==2}"}
