.poll-meeting-stance-icon{ng-switch: "score"}
  %img.poll-common-form__icon{ng-src: "/img/abstain.svg", ng-switch-when: "1"}
  %img.poll-common-form__icon{ng-src: "/img/agree.svg", ng-switch-when: "2"}
