.notifications
  %md-menu{id: "notifications", md-position-mode: "target target", md-offset: "0 48"}
    %md-button.notifications__button.lmo-flex{ng-click: "toggle($mdMenu)"}
      .sr-only{translate: "navbar.notifications"}
      %i.mdi.mdi-bell{ng-if: "hasUnread()"}
      %i.mdi.mdi-bell-outline{ng-if: "!hasUnread()"}
      %span.badge.notifications__activity{ng-if: "hasUnread()"} {{unreadCount()}}
    %md-menu-content.notifications__menu-content.notifications__dropdown
      %notification{notification: "notification", ng-repeat: "notification in notifications() | orderBy: '-createdAt' track by notification.id"}
      %li{ng-if: "notifications().length == 0"}
        %span.notification{translate: "notifications.no_notifications"}
