.notifications__button {
  min-width: 36px;
  i { font-size: 24px; }
}

.notifications__menu-content {
  max-width: $tiny-max-px;
  max-height: calc(100vh - 48px);
  padding: 0;
  @include fontMedium;
  a { color: $primary-text-color; outline: 0 }
  a:active, a:link, a:visited { text-decoration: none !important}
  li { list-style-type: none; }
}

.notifications__activity {
  min-width: 10px;
  padding: 5px 5px;
  color: #fff!important;
  vertical-align: middle;
  font-size: 10px;
  position: absolute;
  left: 12px;
  top: 0;
  background: #4A90E2!important;
  border-radius: 10px;
  border: 2px solid #fff;
  line-height: 5px;
}

.notifications__link {
  color: $primary-text-color;
}

.navbar-notifications__blank-message {
  text-align: center;
  margin: 10px 0;
}
