.add-members-modal__list {
  @include roundedCorners;
  background-color: white;
  border: 1px solid $border-color;
  padding-top: 10px;
}

label.add-members-modal__list-item {
  font-weight: normal;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  md-checkbox { margin: 0 16px; }
}
