%md-dialog.lmo-blank
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1.modal-title{translate: "add_members_modal.heading", translate-values: "{name: group.parentName()}"}
      %material_modal_header_cancel_button
  %md-dialog-content
    %loading{ng-if: "loadExecuting"}
    .add-members-modal__content{ng-if: "!loadExecuting"}
      .add-members-modal__empty-list{ng-if: "!canAddMembers()"}
        %p{translate: "add_members_modal.no_members_to_add", translate-value-parent: "{{group.parentName()}}"}
      %md-list.add-members-modal__list.lmo-flex{layout: "column", ng-if: "canAddMembers()"}
        %md-list-item.add-members-modal__list-item{ng-repeat: "member in members() | orderBy: 'username' track by member.id"}
          %md-checkbox{ng-checked: "isSelected(member)", ng-click: "select(member)"}
            .lmo-flex.lmo-flex__center{layout: "row"}
              %user_avatar.lmo-margin-right{user: "member", size: "small"}
              %strong {{member.name}}
              &nbsp;
              (@{{member.username}})
    %dialog_scroll_indicator
  %md-dialog-actions.lmo-md-actions
    %md-button{type: "button", ng-click: "reopenInvitationsForm()", translate: "common.action.back"}
    %md-button.md-primary.md-raised.add-members-modal__submit{type: "button", ng-click: "submit()", translate: "add_members_modal.add_members", ng-if: "canAddMembers()"}
