.loading-wrapper.lmo-one-column-layout
  %loading{ng-if: "!pollsPage.loaded"}
  %main.polls-page{ng-if: "pollsPage.loaded"}
    .lmo-flex.lmo-flex__space-between.lmo-flex__baseline
      %h1.lmo-h1.dashboard-page__heading{translate: "polls_page.heading"}
      .buh
        %md-button.md-primary.md-raised{ng-click: "pollsPage.startNewPoll()"}
          %span{translate: "polls_page.start_new_poll"}
    .lmo-card
      %md-input-container.previous-polls-page__search.lmo-search-container.md-whiteframe-z1{md-no-float: "true"}
        %i.material-icons search
        %input{ng-model: "pollsPage.fragment", placeholder: "{{'polls_page.search_placeholder' | translate}}", ng-change: "pollsPage.searchPolls()", ng-model-options: "{debounce: 250}"}
      %poll_common_preview{ng-repeat: "poll in pollsPage.pollCollection.polls() | orderBy:pollsPage.pollImportance track by poll.id", poll: "poll"}
      %loading{ng-if: "pollsPage.searchPollsExecuting || pollsPage.loadMoreExecuting"}
      .previous-polls-page__count{translate: "polls_page.polls_count", translate-value-count: "{{pollsPage.loadedCount()}}", translate-value-total: "{{pollsPage.pollsCount}}"}
      .previous-polls-page__load-more
        %md-button.md-primary{translate: "poll_common.load_more", ng-click: "pollsPage.loadMore()", ng-if: "pollsPage.canLoadMore()"}
