%form.vote-form{ng-submit: "submit()",  ng-disabled: "vote.processing", name: "voteForm" }
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1.modal-title{translate: "vote_form.heading"}
      %material_modal_header_cancel_button
  .md-dialog-content
    %form_errors{record: "vote"}
    %select.form-control{ng-model: "vote.position", class: "vote-form__select-position"}
      %option{value: "yes", translate: "vote_form.i_agree"}
      %option{value: "abstain", translate: "vote_form.i_abstain"}
      %option{value: "no", translate: "vote_form.i_disagree"}
      %option{value: "block", translate: "vote_form.i_block"}
    %fieldset
      .lmo-form-group
        .lmo-relative
          %textarea.lmo-textarea.vote-form__statement-field.form-control.lmo-primary-form-input{ng-model: "vote.statement", placeholder: "{{ 'vote_form.statement_placeholder' | translate }}", autofocus: "true"}
          %emoji_picker.lmo-action-dock{target-selector: "statementSelector"}
        .chars-left.pull-right{ng-class: "{ overlimit: vote.overCharLimit() }"}
          {{ vote.charsLeft() }}
        .vote-form__statement-over-limit.lmo-validation-error{ng-if: "vote.overCharLimit()", translate: "vote_form.statement_over_limit"}
    .lmo-md-action
      %md-button.md-primary.md-raised.vote-form__submit-btn{type: "submit", ng-disabled: "vote.overCharLimit()", translate: "vote_form.submit_position"}>
