%a{href: "/"}
  .header
.content
  %p
    Opps! It seems the browser you are running is too old and unable to run our service properly.
  %p
    Any new version of the browsers listed below should work fine, they are free and easy to download/install.
  %p
    We are sorry for this inconvenience.
  %ul#browser-icons
    %a{href: "http://www.mozilla.org/en-US/firefox/new/"}
      %li
        =image_tag '/assets/firefox.png'
        %p.browser-title
          Firefox
        %p.browser-description
          “Your online security is Firefox's top priority. Firefox is free, and made to help you get the most out of the web.”
        %p.visit-site
          Visit website for more info
    %a{href: "https://www.google.com/chrome"}
      %li
        =image_tag '/assets/chrome.png'
        %p.browser-title
          Google Chrome
        %p.browser-description
          “A fast new browser from Google. Try it now!”
        %p.visit-site
          Visit website for more info
    %a{href: "http://www.apple.com/safari/"}
      %li
        =image_tag '/assets/safari.png'
        %p.browser-title
          Safari
        %p.browser-description
          “Safari for Mac and Windows from Apple, the world’s most innovative browser.”
        %p.visit-site
          Visit website for more info
    %a{href: "http://www.opera.com/"}
      %li
        =image_tag '/assets/opera.png'
        %p.browser-title
          Opera
        %p.browser-description
          “The fastest browser on Earth—secure, powerful and easy to use, with excellent privacy protection. And it is free.”
        %p.visit-site
          Visit website for more info
    %a{href: "http://windows.microsoft.com/en-US/internet-explorer/products/ie/home"}
      %li
        =image_tag '/assets/ie.png'
        %p.browser-title
          Internet Explorer
        %p.browser-description
          “Designed to help you take control of your privacy and browse with confidence. Free from Microsoft.”
        %p.visit-site
          Visit website for more info