.header
.content#demo-container
  #demo-head
    %h1
      Demo Page
    %p
      Last published by Ben Knight on 04/27/2012 in All Network
  #demo-content
    %h2
      Looking for a snapshot of how Loomio works now? You've come to the right page.
    %p
      The best way to see how Loomio works right now is to have a look at how we're using it. We've made our Loomio Development group public so that you can see how we use the tool to discuss and make decisions about how to build the tool. Have a look here:
    %a{:href => "http://loom.io/groups/3",
       :class => "demo-link"}Loomio Development Group
    %p
      Keep in mind that Loomio is in the early alpha phase - that means we're constantly changing it, experimenting, and sometimes breaking it. We still have some work to do before our basic vision of the tool will be realized, but we're adding new features all the time. 
    %p
      Our immediate goal is to get Loomio to the stage where we can release it to a wider user base and nurture a community whose feedback will decide the future of development, using Loomio itself to make decisions about itself.
    %p
      You can also view the Loomio group for "19 Tory Street", an open-source community gallery project based in Wellington, New Zealand that has been an early tester of Loomio.
    %a{:href => "http://loom.io/groups/25",
       :class => "demo-link"}19 Tory Street Loomio Group
    %p
      If you would like to get in touch, you can reach us at
      %a{:href => "#"}contact@loom.io
      ,
      %a{:href => "http://www.facebook.com/LoomioProject"}facebook
      , and
      %a{:href => "http://twitter.com/#!/loomioproject"}twitter.