%section
  .lmo-flex
    %h3.lmo-h3{translate: "poll_common_share_form.share_a_link"}
    %help_bubble{helptext: "poll_common_share_form.share_a_link_helptext"}

  %md-list.md-block
    .lmo-flex
      %md-list-item.lmo-flex__grow.lmo-flex.lmo-flex__center
        %md-checkbox{ng-model: "poll.anyoneCanParticipate", ng-change: "setAnyoneCanParticipate()"}
        %p{translate: "poll_common_share_form.anyone_can_participate"}
      %md-button.md-primary.md-raised.poll-common-share-form__button{type: "button", title: "{{ 'common.copy' | translate }}", clipboard: "true", text: "shareableLink", on-copied: "copied()", ng-disabled: "!poll.anyoneCanParticipate"}
        %span{translate: "poll_common_share_form.get_link"}
