.form-card
  %h1
    %a{href:'/g/{{membershipsPage.group.key}}'} {{membershipsPage.group.name}}
  %h2{translate: 'memberships_page.members'}

  .row
    .memberships-page-table-row.col-xs-1
    .memberships-page-table-row{ng-class: '{"col-xs-10": !membershipsPage.userIsAdmin(), "col-xs-4": membershipsPage.userIsAdmin()}', translate: 'memberships_page.name_label'}
    .memberships-page-table-row.col-xs-3{ng-show: 'membershipsPage.userIsAdmin()', translate: 'memberships_page.email_label'}
    .memberships-page-table-row.col-xs-2{ng-show: 'membershipsPage.userIsAdmin()', translate: 'memberships_page.coordinator_label'}
    .memberships-page-table-row.col-xs-2{ng-show: 'membershipsPage.userIsAdmin()', translate: 'memberships_page.remove_member_label'}
  .row{ng-show: 'membershipsPage.loadMoreExecuting'}
    %loading
  .row{ng-hide: 'membershipsPage.loadMoreExecuting', ng-repeat: 'membership in membershipsPage.group.memberships()'}
    .memberships-page-table-row.col-xs-1
    .memberships-page-table-row{ng-class: '{"col-xs-10": !membershipsPage.userIsAdmin(), "col-xs-4": membershipsPage.userIsAdmin()}'}
      {{membership.user().name}}
    .memberships-page-table-row.col-xs-3{ng-show: 'membershipsPage.userIsAdmin()'}
      {{membership.user().email}}
    .memberships-page-table-row.col-xs-2{ng-show: 'membershipsPage.userIsAdmin()'}
      %button.btn.btn-default{ng-show: '!membership.admin', translate: 'memberships_page.add_coordinator', ng-click: 'membershipsPage.toggleMembershipAdmin(membership)'}
      %button.btn.btn-alert{ng-show: 'membership.admin', translate: 'memberships_page.remove_coordinator', ng-click: 'membershipsPage.toggleMembershipAdmin(membership)'}
    .memberships-page-table-row.col-xs-2{ng-show: 'membershipsPage.userIsAdmin()'}
      %button.btn.btn-danger{translate: 'memberships_page.remove_member', ng-click: 'membership.destroy()'}
  .row{translaete: 'memberships_page.show_more_members'}
