.loading-wrapper.container.main-container
  %loading{ng-if: '!membershipsPage.group'}
  %main.memberships-page{ng-if: 'membershipsPage.group'}
  %main.container.main-container
    .group-page__cover{style:'background-image:url({{membershipsPage.group.coverUrl()}})'}
    %section.group-page__header{aria-label: "{{ 'group_page.header.aria_label' | translate }}"}
      .group-page__logo{style:'background-image:url({{membershipsPage.group.logoUrl()}})', alt: "{{ 'group_page.group_logo' | translate }}"}
      .group-page__name-and-actions
        .group-page__name
          %h1.lmo-h1
            %a{ng_show: 'membershipsPage.group.parentId', href: '/g/{{membershipsPage.group.parent().key}}'}
              {{membershipsPage.group.parentName()}}
            %span{ng_show: 'membershipsPage.group.parentId'}> \-
            %a{href: '/g/{{membershipsPage.group.key}}'}
              {{membershipsPage.group.name}}
      .memberships-page__memberships
        %h2.lmo-h2{translate: 'memberships_page.members'}
        .row
          .memberships-page-table-row.memberships-page-table-header.col-xs-1
          .memberships-page-table-row.memberships-page-table-header{ng-class: '{"col-xs-11": !membershipsPage.canAdministerGroup(), "col-xs-6": membershipsPage.canAdministerGroup()}', translate: 'memberships_page.name_label'}
          .memberships-page-table-row.memberships-page-table-header.col-xs-3{ng-show: 'membershipsPage.canAdministerGroup()'}
          .memberships-page-table-row.memberships-page-table-header.col-xs-2{ng-show: 'membershipsPage.canAdministerGroup()'}
        .row{ng-repeat: 'membership in membershipsPage.group.memberships() | limitTo:membershipsPage.loadedCount'}
          .memberships-page-table-row.col-xs-1
            %user_avatar{user: 'membership.user()'}
          .memberships-page-table-row{ng-class: '{"col-xs-11": !membershipsPage.canAdministerGroup(), "col-xs-6": membershipsPage.canAdministerGroup()}'}
            {{membership.user().name}}
          .memberships-page-table-row.col-xs-3{ng-show: 'membershipsPage.canAdministerGroup()'}
            %button.btn.btn-default{ng-show: '!membership.admin', translate: 'memberships_page.add_coordinator', ng-click: 'membershipsPage.toggleMembershipAdmin(membership)'}
            %button.btn.btn-alert{ng-show: 'membership.admin', translate: 'memberships_page.remove_coordinator', ng-click: 'membershipsPage.toggleMembershipAdmin(membership)'}
          .memberships-page-table-row.col-xs-2{ng-show: 'membershipsPage.canAdministerGroup()'}
            %button.btn.btn-danger{translate: 'memberships_page.remove_member', ng-click: 'membership.destroy()'}
        .row
          .members-card__invite-members{ng-if: 'canAddMembers()'}
            %a.btn.btn-success.btn-block.lmo-btn-icon{href: '', ng_click: 'invitePeople()'}
              %i.fa.fa-lg.fa-plus>
              %span{translate: 'group_page.invite_people' }
