.memberships-page {
  margin: 0px auto;
  max-width: $main-max-width;
}

.memberships-page__memberships {
  @include card;
  position: relative;
  top: 50px;
}

.memberships-page-table-header {
  font-weight: bold;
}