%section.group-previous-polls-card.lmo-card--no-padding{aria-labelledby: "group-previous-polls-card__title"}
  %h2#group-previous-polls-card__title.lmo-card-heading.lmo-card-heading-padding{translate: "group_previous_polls_card.heading"}
  %poll_common_accordion{poll_collection: "pollCollection"}
  %a.group-previous-polls-card__link.lmo-card-minor-action.lmo-card-padding{lmo-href-for: "group", lmo-href-action: "previous_polls"}
    %span{translate: "group_previous_polls_card.see_more", translate-value-count: "{{group.closedPollsCount}}"}
