.form-card
  .col-xs-12#help-content
    %section#how-it-works
      .inner-container
        .row
          .subhead
            %h1.lmo-h1{translate: "help_page.how_it_works"}
        .row#video-tutorial
          .col-sm-12
            %h2.lmo-h2{translate: "help_page.video_tutorial"}
          .col-md-12
            %p{translate: "help_page.video_tutorial_description"}
          .col-md-12
            <iframe width='356px' height='267px' src="//www.youtube.com/embed/eu6A1IQar0g" frameborder="0" allowfullscreen></iframe>
        .row#getting-started
          .col-sm-12
            %h2.lmo-h2{translate: "help_page.getting_started"}
          .col-sm-8
            %p{translate: "help_page.getting_started_description"}
        .row#have-a-discussion
          .col-sm-12
            %h2.lmo-h2{translate: "help_page.have_a_discussion"}
          .col-sm-8
            %p{translate: "help_page.have_a_discussion_description"}
        .row#make-a-decision
          .col-sm-12
            %h2.lmo-h2{translate: "help_page.make_a_decision"}
          .col-sm-8
            %p{translate: "help_page.make_a_decision_description"}
        .row#have-your-say
          .col-sm-12
            %h2.lmo-h2{translate: "help_page.have_your_say"}
          .col-sm-6{translate: "help_page.have_your_say_details_html"}
          .col-sm-6
            .positions
              %p{translate: "help_page.positions_agree_description"}
              %p{translate: "help_page.positions_abstain_description"}
              %p{translate: "help_page.positions_disagree_description"}
              %p{translate: "help_page.positions_block_description"}
        .row#prompt-people
          .col-md-10
            %h2.lmo-h2{translate: "help_page.prompt_people_html"}
        .row
          .col-md-8
            %p{translate: "help_page.prompt_people_details"}
        .row#keep-up-to-date
          .col-md-8
            %h2.lmo-h2{translate: "help_page.keep_up_to_date"}
              %a{lmo-href: "/email"}
                %span{translate: "help_page.keep_up_to_date_html"}
        .row#images-and-text-formatting
          .col-md-8
            %h2.lmo-h2{translate: "help_page.images_and_text_formatting"}
            %span{translate: "help_page.images_and_text_formatting_html"}
    %section#getting-the-most-out-of-Loomio
      .inner-container
        .row
          %h1.lmo-h1{translate: "help_page.getting_the_most"}
        .row#starting-an-engaging-discussion
          .col-md-10
            %h2.lmo-h2{translate: "help_page.start_discussion"}
        .row
          .col-md-8{translate: "help_page.start_discussion_html"}
        .row#writing-a-clear-proposal
          .col-md-8
            %h2.lmo-h2{translate: "help_page.start_proposal"}
            %span{translate: "help_page.start_proposal_html"}
        .row#different-ways-to-use-Loomio
          .col-md-9
            %h2.lmo-h2{translate: "help_page.different_ways"}
        .row
          .col-md-8
            .example{translate: "help_page.example1_html"}
            .example{translate: "help_page.example2_html"}
    %section#coordinating-your-Loomio-group
      .inner-container
        .row
          %h1.lmo-h1{translate: "help_page.coordinating"}
        .row
          .col-md-8.extra-margin
            %p{translate: "help_page.coordinating_details"}
        .row#writing-a-great-invitation
          .col-md-8{translate: "help_page.invitation_html"}
        .row#tips-for-engaging-your-group
          .col-md-8{translate: "help_page.engaging_html"}
    %section#get-in-touch
      .inner-container
        .row
          %h1.lmo-h1{translate: "help_page.get_in_touch"}
        .row
          .col-md-8
            %a{lmo-href: "/contact"}
              %p.extra-margin{translate: "help_page.get_in_touch_description_html"}
        .row#join-the-community
          %h1.lmo-h1{translate: "help_page.join_the_community"}
        .row
          .col-md-8
            %p.extra-margin{translate: "help_page.join_the_community_description_html"}
  .clearfix
