%form.poll-score-vote-form{ng-submit: "submit()"}
  %h3.lmo-card-subheading{translate: "poll_common.your_response"}
  %md-list.poll-score-vote-form__options
    %div.poll-score-vote-form__option{ng-repeat: "choice in stanceChoices track by choice.poll_option_id"}
      .poll-score-vote-form__option-label-container
        .poll-score-vote-form__option-label
          {{ optionFor(choice).name }}
      %md-slider-container.poll-score-vote-form__input-container
        %md-slider.poll-score-vote-form__score-slider{min: "0", max: "9", ng-model: "choice.score", aria-label: "score"}
        %input.poll-score-vote-form__score-input{type: "number", ng-model: "choice.score", aria-label: "score", aria-controls: "score-slider"}
  %validation_errors{subject: "stance", field: "stanceChoices"}
  %poll_common_add_option_button{poll: "stance.poll()"}
  %poll_common_stance_reason{stance: "stance"}

  .poll-common-form-actions.lmo-flex.lmo-flex__space-between
    %show_results_button{ng-if: "stance.isNew()"}
    %div{ng-if: "!stance.isNew()"}
    %md-button.md-primary.md-raised.poll-common-vote-form__submit{type: "submit", translate: "poll_common.vote", aria-label: "{{ 'poll_poll_vote_form.vote' | translate }}"}
