.proposal-positions-panel__list {
  margin-top: 10px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.proposal-positions-panel__change-your-vote{
  @include fontSmall;
  @include lmoBtnLink;
  color: $link-color;
  span{ text-decoration: underline; }
}

.proposal-positions-panel__pie-chart {
  width: 200px;
  height: 200px;
}

.proposal-positions-panel__vote-statement {
  display: inline-block;
}

.proposal-positions-panel__vote-statement img {
  vertical-align: bottom;
}

.proposal-positions-panel__separator {
  margin-right: 3px;
}
