.change-picture-form
  .lmo-disabled-form{ng-show: "isDisabled"}
  .modal-header
    %modal_header_cancel_button{aria-hidden: "true"}
    %h1.lmo-h1{translate: "change_picture_form.title"}

  .modal-body
    .change-picture-form__helptext{translate: "change_picture_form.helptext"}
    %ul.change-picture-form__options-list
      %li.change-picture-form__option
        %button.lmo-btn-link{ng-click: "submit('initials')"}
          .user-avatar.lmo-box--small.option-icon.lmo-float--left
            .user-avatar__initials--small
              {{user.avatarInitials}}
          %span.lmo-option-text{translate: "change_picture_form.use_initials"}
      %li.change-picture-form__option
        %button.lmo-btn-link{ng-click: "submit('gravatar')"}
          .user-avatar.lmo-box--small.option-icon.lmo-float--left
            %img.user-avatar__image--small{gravatar-src-once: "user.gravatarMd5", alt: "{{::user.name}}"}
          %span.lmo-option-text{translate: "change_picture_form.use_gravatar"}
      %li.change-picture-form__option
        %button.lmo-btn-link.change-picture-form__upload-button{ng-click: "selectFile()"}
          .user-avatar.lmo-box--small.option-icon.lmo-float--left
            .user-avatar__initials--small
              %i.fa.fa-lg.fa-camera
          %span.lmo-option-text{translate: "change_picture_form.use_uploaded"}
        %input.hidden.change-picture-form__file-input{type: "file", ng-model: "files", ng-file-select: "upload(files)"}
  .modal-footer
    %button.lmo-btn--cancel{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
