.event-children
  %div{ng-if: "debug()"}
    event-children
    parentId: {{eventWindow.parentEvent.id}}
    cc: {{eventWindow.parentEvent.childCount}}
    min: {{eventWindow.min}}
    max: {{eventWindow.max}}
    first: {{eventWindow.firstLoaded()}}
    last: {{eventWindow.lastLoaded()}}
    anyPrevious: {{eventWindow.anyPrevious()}}
    anyNext: {{eventWindow.anyNext()}}
  %a.activity-card__load-more.lmo-no-print.thread-item--indent-margin{href: "", ng-show: "eventWindow.anyPrevious() && !eventWindow.loader.loadingPrevious", ng-click: "eventWindow.showPrevious()"}
    %i.mdi.mdi-autorenew>
    %span{translate: "activity_card.n_previous", translate-value-count: "{{eventWindow.numPrevious()}}"}
  %loading.activity-card__loading.page-loading{ng-show: "eventWindow.loader.loadingPrevious"}
  %thread-item{ng-repeat: "event in eventWindow.windowedEvents() track by event.id", event-window: "eventWindow", event: "event"}
  %a.activity-card__load-more.lmo-no-print.thread-item--indent-margin{href: "", ng-show: "eventWindow.anyNext() && !eventWindow.loader.loadingMore", ng-click: "eventWindow.showNext()"}
    %i.mdi.mdi-autorenew>
    %span{translate: "activity_card.n_more", translate-value-count: "{{eventWindow.numNext()}}"}
  %loading.activity-card__loading.page-loading{ng-show: "eventWindow.loader.loadingMore"}
