
.thread-lintel__wrapper {
  @include lmoRow;
  @include fontMedium;
  position: fixed;
  top: $navbar-height;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1120px;
}

// Account for lintel with sidebar locked open
.md-locked-open + .lmo-main-content .thread-lintel__wrapper {
  transform: translateX(125px);
  -webkit-transform: translateX(125px);
}

.thread-lintel__content {
  @include box_shadow(1);
  border: 1px solid $border-color;
  background-color: $card-background-color;
  clear: both;
  overflow: hidden;
}

.thread-lintel__left {
  float: left;
  padding: 7px 0 7px 15px;
}

.thread-lintel__right {
  float: right;
  padding: 7px 15px 7px 0px;
}

.thread-lintel__title {
  @include md-body-2;
  line-height: 30px;
  cursor: pointer;
}

.thread-lintel__proposal {
  font-weight: 400;
  cursor: pointer;
}

.thread-lintel__proposal-pie-chart {
  float: left;
  margin-right: 5px;
}

.thread-lintel__progress {
  width: 100%;
  height: 2px;
}

.thread-lintel__progress-wrap {
  margin: 0 0;
  overflow: hidden;
  position: relative;
}

.thread-lintel__progress-bar {
  @include transition(width, 0.5s, ease-in-out);
  width: 0%;
  background: $progress-bar-color;
  left: 0;
  position: absolute;
  top: 0;
}
