.thread-lintel__wrapper.lmo-no-print{ng-if: "show()"}
  .thread-lintel__content
    .thread-lintel__left{ng-class: "{'lmo-width-75': !proposalButtonInView}"}
      .lmo-truncate.thread-lintel__title{ng-click: "scrollToThread()"} {{ discussion.title }}

    .thread-lintel__progress-wrap.thread-lintel__progress
      .thread-lintel__progress-bar.thread-lintel__progress{style: "width: {{positionPercent}}%"}
