.poll-actions-dropdown.pull-right.lmo-no-print{uib-dropdown: "true"}
  %button.lmo-btn--nude.proposal-actions-dropdown__btn{uib-dropdown-toggle: "true"}
    %i.fa.fa-chevron-down
  .uib-dropdown-menu.lmo-dropdown-menu{role: "menu"}
    %ul.lmo-dropdown-menu-items
      %li.lmo-dropdown-menu-item{ng-if: "canSharePoll()"}
        %a.lmo-dropdown-menu-item-label.poll-actions-dropdown__share{href: "#", ng-click: "sharePoll()"}
          %span{translate: "common.action.share"}
      %li.lmo-dropdown-menu-item{ng-if: "canEditPoll()"}
        %a.lmo-dropdown-menu-item-label.poll-actions-dropdown__edit{href: "#", ng-click: "editPoll()"}
          %span{translate: "common.action.edit"}
      %li.lmo-dropdown-menu-item{ng-if: "canClosePoll()"}
        %a.lmo-dropdown-menu-item-label.poll-actions-dropdown__close{href: "#", ng-click: "closePoll()"}
          %span{translate: "common.action.close"}
