%md-menu.lmo-dropdown-menu.poll-actions-dropdown.pull-right.lmo-no-print{md-position-mode: "target-right target"}
  %md-button{ng-click: "$mdMenu.open()"}
    %i.material-icons expand_more
  %md-menu-content
    %md-menu-item
      %md-button{ng-click: "toggleSubscription()"}
        %span{translate: "common.action.unsubscribe", ng-if: "poll.subscribed"}
        %span{translate: "common.action.subscribe", ng-if: "!poll.subscribed"}
    %md-menu-item{ng-if: "canSharePoll()"}
      %md-button{ng-click: "sharePoll()", translate: "common.action.share"}
    %md-menu-item{ng-if: "canEditPoll()"}
      %md-button{ng-click: "editPoll()", translate: "common.action.edit"}
    %md-menu-item.poll-actions-dropdown__close{ng-if: "canClosePoll()"}
      %md-button{ng-click: "closePoll()", translate: "common.action.close"}
    %md-menu-item{ng-if: "canDeletePoll()"}
      %md-button{ng-click: "deletePoll()", translate: "common.action.delete"}
