%table
  %thead
    %tr
      %td
      - @info.poll_options.each do |option|
        %td.poll-mailer-meeting__cell= option.display_name(zone: @info.time_zone)
  %tbody
    %tr
      %td= t(:"poll_mailer.meeting.total")
      - @info.poll.stance_counts.each do |count|
        %td.poll-mailer-meeting__cell= count
    - @info.poll.stances.latest.each do |stance|
      %tr
        %td.poll-mailer-meeting__participant-name= stance.participant.name
        - @info.poll_options.each do |option|
          - if stance.poll_options.include?(option)
            %td.poll-mailer-meeting__check-cell.poll-mailer-meeting__cell--active ✓
          - else
            %td.poll-mailer-meeting__check-cell.poll-mailer-meeting__cell--inactive
