- stances_by_user_id = {}
- poll.stances.latest.each { |stance| stances_by_user_id[stance.participant_id] = stance }
- time_zone = (recipient || poll).time_zone

.poll-meeting-chart.pb-2
  %table.poll-meeting-chart-table
    %thead
      %tr
        %td= time_zone
        - poll.participants.each do |user|
          %td=render 'base_mailer/avatar', user: user, size: 'small'
        %td= t(:'poll.export.total')
    %tbody
      - poll.poll_options.order(:name).each do |poll_option|
        %tr
          %td.poll-meeting-chart__meeting-time
            = poll_option.display_name(zone: time_zone)

          - poll.participants.each do |user|
            %td
              - score = (stances_by_user_id[user.id] && stances_by_user_id[user.id].score_for(poll_option)) || 0
              - class_for_score = 'poll-meeting-chart__cell--yes' if score == 2
              - class_for_score = 'poll-meeting-chart__cell--maybe' if score == 1
              - class_for_score = 'poll-meeting-chart__cell--no' if score == 0

              .poll-meeting-chart__cell{class: class_for_score}
                %span &nbsp;

          %td.total
            %strong=poll_option.total_score/2
