.auth-provider-form
  .lmo-hint-text{translate: "auth_form.choose_an_account", ng-if: "providers.length > 0"}
  .auth-provider-form__providers.lmo-flex{layout: "row"}
    .auth-provider-form__provider{ng-repeat: "provider in providers"}
      %button.md-button.md-raised{type: "button", class: "{{provider.name}}", ng-click: "select(provider)"}
        -# the slack icon makes our site look broken..
        -# %img.auth-provider-form__icon{src: "/img/{{provider.name}}-icon.svg", alt: "{{provider.name}}"}
        %span> {{provider.name}}
