.poll-dot-vote-form
  %poll_common_form_fields{poll: "poll"}
  %poll_common_form_options{poll: "poll"}
  %poll_common_closing_at_field.md-input-compensate.md-block{poll: "poll"}

  .md-input-compensate
    %md-input-container.lmo-flex.lmo-flex__center{layout: "row"}
      .poll-common-checkbox-option__text.md-list-item-text.lmo-flex__grow
        .lmo-flex--row
          %h3{translate: "poll_dot_vote_form.dots_per_person"}
          %help_bubble{helptext: "poll_dot_vote_form.dots_per_person_helptext"}
        %validation_errors{subject: "poll", field: "dotsPerPerson"}
      %input.lmo-number-input{type: "number", min: "1", ng-model: "poll.customFields.dots_per_person"}
    %poll_common_settings{poll: "poll"}
