html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f7f7ed;
  color: rgba(0,0,0,0.9);
  margin: 1em auto;
  line-height: 1.5;
}

h1,h2 {
  margin: 1em 0;
}
h3 {
  margin: 0.5em 0;
}

table {
  width: 100%
}
table td {
  padding: 0.2em
}

pre {
  border-radius: 4px;
  padding: 1em;
  background: #eee;
  word-wrap: normal;
  white-space: pre-wrap;
}

header {
  text-align: center;
  img {
    max-height: 100px;
    max-width: 100%;
    margin: 1em auto;
  }
}

footer {
  margin: 1em;
  padding: 1em;
  color: #888;
  a {
    color: #888;
  }
}

main {
  background-color: #fff;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}
