- if can? :close, motion
  = link_to "Close proposal", "#", 'data-title' => "Close proposal", 'data-body' => "Are you sure you want to close this proposal?", 'data-confirm-path' => close_motion_path(motion), class: 'btn btn-small confirm-dialog', id: 'close-voting'
- if can? :edit_close_date, motion
  = link_to "Change close date", '#edit-close-date', "data-toggle" => "modal", class: 'btn btn-small', id: 'change-close-date'
