.control-group.motion-closing-inputs
  = form.input :close_at_date, as: :date_picker, input_html: { class: 'motion-close-at-date validate-presence' }
  = form.input :close_at_time, as: :select, collection: populate_time_select, include_blank: false, label: false, input_html: { class: 'motion-close-at-time' }
  = form.time_zone_select :close_at_time_zone, nil, { default: user.time_zone }, class: 'motion-close-at-time-zone'
  .inline-help= t("group_setup_form.errors.motion_closing_inputs")