-if @motion.can_be_edited_by?(current_user)
  -if @motion.closed?
    =link_to "Open Voting", open_motion_voting_path, class: 'btn small', method: :post,
      confirm: "Are you sure you want to re-open this motion?", method: :post
  -elsif @motion.voting?
    =link_to "Close Voting", close_motion_voting_path, class: 'btn small',
      confirm: "Are you sure you want to close this motion?", method: :post
  =link_to "Edit", edit_motion_path(@motion), class: 'btn small'
  =link_to "Delete", @motion, method: :delete,
    confirm: "Are you sure you want to delete this motion?", class: 'btn small'
  -#-if @motion.closed?
    -#-link_route = open_motion_voting_path
    -#-link_confirm = false
    -#-link_title = "Open Voting"
  -#-elsif @motion.voting?
    -#-link_route = close_motion_voting_path
    -#-link_confirm = "Are you sure you want to close this motion?"
    -#-link_title = "Close Voting"
  -#=link_to link_title, link_route, class: 'btn small',
    -#confirm: link_confirm,
    -#method: :post
  -#=link_to "Edit", edit_motion_path(@motion), class: 'btn small'
  -#=link_to "Delete", @motion, method: :delete,
    -#confirm: "Are you sure you want to delete this motion?",
    -#class: 'btn small'
