-if motion.can_be_edited_by?(current_user)
  .edit-delete-buttons
    -if motion.voting?
      =link_to "Close Voting", close_motion_voting_path(motion), class: 'btn btn-mini',
        id: "close-voting", confirm: "Are you sure you want to close this motion?",
        method: :post
      =link_to "Edit", edit_motion_path(motion), class: 'btn btn-mini'
