:javascript
  var ctx = document.getElementById("graph_#{motion.id}").getContext("2d");

  var votes = #{motion.votes_for_graph.to_json}
  var data = [
    {
      value: votes[0][1],
      color: "#90D490",
      label: "Yes"
    },
    {
      value: votes[1][1],
      color: "#F0BB67",
      label: "Abstain"
    },
    {
      value: votes[2][1],
      color:"#D49090",
      label: "No"
    },
    {
      value: votes[3][1],
      color: "#dd0000",
      label: "Block"
    }
  ]

  var options = { showTooltips: false, animation: false }

  var myPieChart = new Chart(ctx).Pie(data, options);
