:javascript
  var ctx = document.getElementById("graph_#{motion.id}").getContext("2d");

  var votes = #{motion.vote_counts.to_json}
  var total_votes = #{motion.total_votes_count}
  if (total_votes == 0){
    var data = [
      {
        value: 1,
        color: "#cccccc"
      }
    ]
  }else{
    var data = [
      {
        value: votes.yes,
        color: "#90D490"
      },
      {
        value: votes.abstain,
        color: "#F0BB67"
      },
      {
        value: votes.no,
        color:"#D49090"
      },
      {
        value: votes.block,
        color: "#dd0000"
      }
    ]
  }
  var options = { showTooltips: false, animation: false }

  var myPieChart = new Chart(ctx).Pie(data, options);
