-if @motion.votes.size > 0
  %table.zebra-striped
    %th
    %th user
    %th statement
    %th
    -@motion.votes.each do |vote|
      %tr
        -if vote.position == "yes"
          -icon_name = "hand-yes.png"
        -if vote.position == "no"
          -icon_name = "hand-no.png"
        -if vote.position == "abstain"
          -icon_name = "hand-abstain.png"
        -if vote.position == "block"
          -icon_name = "hand-block.png"
        %td
          =image_tag(icon_name, height:'20', width:'20', alt:vote.position + ' image')
        %td=vote.user_name
        %td.vote-statement=vote.statement
        -if vote.can_be_edited_by?(current_user)
          %td
            -if @motion.phase == 'voting'
              =link_to "edit", edit_motion_vote_path(@motion, vote)
              |
              =link_to "delete", motion_vote_path(@motion, vote), method: :delete,
                confirm: "Are you sure you want to delete your vote?"
-else
  #no-votes-msg
    No votes presently cast
