%ul
  - if @closed_motions
    - @closed_motions.each do |motion|
      %li= render '/motions/motion_preview', motion: motion, this_group: @group
  - else
    %li.no-proposals= "There are no closed proposals"
= paginate @closed_motions, :window => 3, :remote => :true
