- set_title @group.name, t(:new_proposal)
= render '/groups/title', group: @group

%h2= t "motion_form.header_new"
= render 'motions/form', submit_btn_text: t('motion_form.submit_create'), disable_btn_text: t('motion_form.submit_create')
