#new-motion
  .row
    .span16
      %h4.group-title= link_to @motion.group.name, group_path(@motion.group), title: "group"
      %h2 New motion
      =render 'motions/form', form_args: [@motion, {url: motions_path(group_id: @motion.group)}]
