#new-motion
  = render '/groups/title', group: @group
  %h1 New proposal
  = render 'motions/form', form_args: [@motion, {url: motions_path(group_id: @motion.group)}],
    submit_text: "Create proposal", disable_with: "Creating proposal"
