#new-motion
  .group-title
    %span
      %h2
        = link_to @motion.group.parent.name, group_path(@motion.group.parent), title: "group" unless @motion.group.parent.nil?
        = " - " unless @motion.group.parent.nil?
        = link_to @motion.group.name, group_path(@motion.group), title: "group"
    %h1.discussion-title= "New proposal"
  =render 'motions/form', form_args: [@motion, {url: motions_path(group_id: @motion.group)}]
