#motion
  =link_to @group.name, group_path(@group)
  %p#name
    %strong Motion:
    =@motion.name
  %p#facilitator
    %strong Facilitator:
    =@motion.facilitator.email
  %p#description
    %strong Description:
    =@motion.description
