#motion
  %h2
    =link_to @motion.group.name, group_path(@motion.group)
    > 
    =@motion.name
  %div#name.info
    %strong Name:
    =@motion.name
  -unless @motion.discussion_url.empty?
    %div#discussion-url
      %strong Discussion link:
      %a{href: @motion.discussion_url}
        =@motion.discussion_url
  %div#author.info
    %strong Proposed by:
    =@motion.author.email
    on
    =@motion.created_at.to_formatted_s(:short)
    -if @motion.updated_at != @motion.created_at
      ="(last edited: " + @motion.updated_at.to_formatted_s(:short) + ")"
  %div#facilitator.info
    %strong Facilitator:
    =@motion.facilitator.email
  %div#description.info
    %strong Description:
    =simple_format(@motion.description)
  -if (@motion.author == current_user || @motion.facilitator == current_user)
    %div#edit.info=link_to "Edit this motion", edit_motion_path(@motion)
  %div#votes.info
    %strong Votes
    %table
      %th position
      %th user
      %th statement
      %th 
      -@motion.votes.each do |vote|
        %tr
          %td=vote.position
          %td=vote.user.email
          %td=vote.statement
          -if vote.user == current_user
            %td
              =link_to "edit", edit_vote_path(vote)
              |
              =link_to "delete", vote, method: :delete, 
                confirm: "Are you sure you want to delete your vote?"
    -if !@user_already_voted
      %div.info=link_to "Cast your vote", new_vote_path({motion_id: @motion.id}), method: :get
