#motion
  %h2
    =link_to @motion.group.name, group_path(@motion.group)
    > 
    =@motion.name
  %p#name
    %strong Motion:
    =@motion.name
  %p#facilitator
    %strong Facilitator:
    =@motion.facilitator.email
  %p#description
    %strong Description:
    =@motion.description
  %p#votes
    %strong Votes
    %table
      -@motion.votes.each do |vote|
        %tr
          %td=vote.position
          %td=vote.user.email
          -if vote.user == current_user
            %td
              =link_to "edit", edit_vote_path(vote)
              |
              =link_to "delete", vote, method: :delete, 
                confirm: "Are you sure you want to delete your vote?"
    -if !@user_already_voted
      %p=link_to "Cast your vote", new_vote_path({motion_id: @motion.id}), method: :get
