#motion
  .row
    #description.span16
      .row
        %h2.span10
          =@motion.name
        .span3
          -if (@motion.author == current_user || @motion.facilitator == current_user)
            -if @motion.phase == 'discussion'
              -phase_style = "color:blue"
              =link_to ("[discussion]"), open_motion_voting_path,
                title: "open voting",
                style: "color: blue",
                method: :post
            -if @motion.phase.closed?
              -phase_style = "color:red"
              =link_to ("[voting closed]"), open_motion_voting_path, 
                title: "open voting",
                style: "color: red",
                method: :post
            -if @motion.phase.voting?
              -phase_style = "color:green"
              =link_to ("[voting open]"), close_motion_voting_path,
                confirm: "Are you sure you want to close this motion?",
                title: "close voting",
                style: "color: green",
                method: :post
        .buttons.span3
          -if @motion.can_be_edited_by?(current_user)
            -if @motion.voting?
              =link_to ("Close voting"), close_motion_voting_path, confirm: "Are you sure you want to close this motion?", method: :post, class: 'btn small'
          -if @motion.can_be_deleted_by?(current_user)
            =link_to "Delete", @motion, method: :delete,
              confirm: "Are you sure you want to delete this motion?",
              class: 'btn small'
      -if @motion.discussion_url.present?
        %h5
          Discussion:
          =link_to @motion.discussion_url, @motion.discussion_url, target: "_blank"
      %h6
        Proposed by:
        %span
          =@motion.author_email
          ="#{time_ago_in_words(@motion.created_at)} ago"
          -if @motion.updated_at != @motion.created_at
            ="(edited: #{time_ago_in_words(@motion.updated_at)} ago)"
        %span.facilitator=", Facilitator: #{@motion.facilitator_email}"
      #description_text
        =simple_format(@motion.description)
      .row
        .span9
          %h3 Cast votes
          #votes-table
            -if @motion.votes.size > 0
              %table.zebra-striped
                %th position
                %th user
                %th statement
                %th
                -@motion.votes.each do |vote|
                  %tr
                    %td=vote.position
                    %td=vote.user_name
                    %td=vote.statement
                    -if vote.can_be_edited_by?(current_user)
                      %td
                        -if @motion.phase == 'voting'
                          =link_to "edit", edit_motion_vote_path(@motion, vote)
                          |
                          =link_to "delete", motion_vote_path(@motion, vote), method: :delete,
                            confirm: "Are you sure you want to delete your vote?"
            -else
              #no-votes-msg
                No votes presently cast
        .span7
          #stats
            #graph.pie
            #votes
              -if @motion.voting?
                -if (!@user_already_voted || @motion.phase == 'discussion')
                  #cast-votes-title
                    %h3 Cast your vote
                  #vote-buttons
                    =link_to image_tag("vote-yes.png", height:'50', width:'50', title:'yes', alt:'yes image'), '#',
                      class: 'btn vote', onclick: "$('#vote_position').val('yes'); $('#new_vote').submit();"
                    =link_to image_tag("vote-abstain.png", height:'50', width:'50', title:'abstain', alt:'abstain image'), '#',
                      class: 'btn vote', onclick: "$('#vote_position').val('abstain'); $('#new_vote').submit();"
                    =link_to image_tag("vote-no.png", height:'50', width:'50', title:'no', alt:'no image'), '#',
                      class: 'btn vote', onclick: "$('#vote_position').val('no'); $('#new_vote').submit();"
                    =link_to image_tag("vote-block.png", height:'50', width:'50',title:'block', alt:'block image'), '#',
                      class: 'btn vote', onclick: "$('#vote_position').val('block'); $('#new_vote').submit();"
                  #vote-form
                    =semantic_form_for([@motion, @vote], html:{class:'form-stacked'}) do |f|
                      =f.hidden_field :position
                      =f.input :statement, label: false, placeholder: "Give a reason for your vote"

:coffeescript
  jQuery ->
    @pie_graph_view = new Tautoko.Views.Utils.GraphView
      el: '#graph.pie'
      id_string: 'graph'
      legend: true
      data: #{@votes_for_graph.to_json.html_safe}
      type: 'pie'
      tooltip_selector: '#tooltip'
