#motion
  %h2
    =link_to @motion.group.name, group_path(@motion.group)
    > 
    =@motion.name
  %p#name
    %strong Motion:
    =@motion.name
  %p#facilitator
    %strong Facilitator:
    =@motion.facilitator.email
  %p#description
    %strong Description:
    =@motion.description
  %p#votes
    %strong Votes
    %table
    -@motion.votes.each do |vote|
      %tr
        %td=vote.user.email
        %td=vote.position
    %p=link_to "Cast your vote", new_vote_path#(vote: {motion_id: @motion.id}), method: :put
