#motion
  %ul.breadcrumb
    %li
      =link_to @motion.group.name, group_path(@motion.group)
      %span.divider >
    %li 
      =@motion.name
  .row
    #description.span7
      %h2=@motion.name
      -if (@motion.author == current_user || @motion.facilitator == current_user)
        =link_to "Edit this motion", edit_motion_path(@motion), :class => 'btn small'
      %h6
        Proposed by:
        %span
          =@motion.author.email
          on
          =@motion.created_at.to_formatted_s(:short)
          -if @motion.updated_at != @motion.created_at
            ="(last edited: " + @motion.updated_at.to_formatted_s(:short) + ")"
      %h6 
        Facilitator:
        %span=@motion.facilitator.email
      -unless @motion.discussion_url.empty?
        %h6 
          Discussion:
          =link_to @motion.discussion_url, @motion.discussion_url
      %p=simple_format(@motion.description)
    #stats.span8
      %p="#{@motion.votes.size} / #{@motion.group.memberships.size} votes in."
      #graph.pie
      #chartpseudotooltip
  #votes
    %h2
      Votes
    -if !@user_already_voted
      =link_to "Cast your vote", new_motion_vote_path(@motion), :class => 'btn primary'
    %table.zebra-striped
      %th position
      %th user
      %th statement
      %th 
      -@motion.votes.each do |vote|
        %tr
          %td=vote.position
          %td=vote.user.email
          %td=vote.statement
          -if vote.user == current_user
            %td
              =link_to "edit", edit_motion_vote_path(@motion, vote)
              |
              =link_to "delete", motion_vote_path(@motion, vote), method: :delete, 
                confirm: "Are you sure you want to delete your vote?"
:coffeescript
  jQuery ->
    @pie_graph_view = new Tautoko.Views.Utils.GraphView
      el: '#graph.pie'
      data: #{@votes_for_graph.to_json.html_safe}
      type: 'pie'
