- user_is_group_admin = @motion.group.admins.include?(current_user)
#motion
  .row
    #description.span16
      .row
        %h2.span13=@motion.name
        .buttons.span3
          -if (@motion.author == current_user || @motion.facilitator == current_user)
            =link_to "Edit", edit_motion_path(@motion), class: 'btn small'
          -if (@motion.author == current_user || user_is_group_admin)
            =link_to "Delete", @motion, method: :delete,
              confirm: "Are you sure you want to delete this motion?", 
              class: 'btn small'
      -unless @motion.discussion_url.empty?
        %h5 
          Discussion:
          =link_to @motion.discussion_url, @motion.discussion_url, target: "_blank"
      %h6
        Proposed by:
        %span
          =@motion.author.email
          ="#{time_ago_in_words(@motion.created_at)} ago"
          -if @motion.updated_at != @motion.created_at
            ="(edited: #{time_ago_in_words(@motion.updated_at)} ago)"
        %span.facilitator=", Facilitator: #{@motion.facilitator.email}"
      .row
        #description_text.span16
          #stats
            #graph.pie
          =simple_format(@motion.description)
  #votes
    -if !@user_already_voted
      =link_to "Cast your vote", new_motion_vote_path(@motion), class: 'btn primary'
    -if @motion.votes.size > 0
      %h3 Cast votes
      %table.zebra-striped
        %th position
        %th user
        %th statement
        %th 
        -@motion.votes.each do |vote|
          %tr
            %td=vote.position
            %td=vote.user.name
            %td=vote.statement
            -if vote.user == current_user
              %td
                =link_to "edit", edit_motion_vote_path(@motion, vote)
                |
                =link_to "delete", motion_vote_path(@motion, vote), method: :delete, 
                  confirm: "Are you sure you want to delete your vote?"
:coffeescript
  jQuery ->
    @pie_graph_view = new Tautoko.Views.Utils.GraphView
      el: '#graph.pie'
      id_string: 'graph'
      legend: true
      data: #{@votes_for_graph.to_json.html_safe}
      type: 'pie'
      tooltip_selector: '#tooltip'
