.install-slack-decide-form
  %h2.lmo-h2{translate: "install_slack.decide.heading"}
  %p.lmo-hint-text{translate: "install_slack.decide.helptext", ng-if: "!poll.pollType"}
  .poll-common-start-poll{ng-switch: "currentStep"}
    %poll_common_choose_type.animated{ng-switch-when: "choose", poll: "poll"}
    %poll_common_directive.animated{ng-switch-when: "save", poll: "poll", name: "form"}
    %poll_common_form_actions.animated{ng-switch-when: "save", poll: "poll"}
    %announcement_form.animated{ng-switch-when: "announce", announcement: "announcement"}
  .lmo-flex.install-slack-form__actions{ng-switch: "currentStep"}
    %md-button{ng-if: "currentStep == 'choose'", ng-click: "$emit('$close')", translate: "install_slack.common.do_it_later"}
