.poll-common-school-link
  %i.mdi import_contacts
  %p
    %span{translate: "poll_common_school_link.learn_about"}>
    %a{lmo-href: "{{href}}", target: "_blank"}
      %span{translate: "{{translation}}"}
