.event-children
  %md-button.event-children__load-previous.thread-item--indent-margin{ng-if: "sw.anyPrevious()", ng-click: "sw.loadPrevious()", translate: "activity_card.n_previous", translate-values: "{count: sw.previousCount()}"}
  %thread-item{ng-repeat: "event in sw.events() | orderBy: threadWindow.orderBy track by event.id", thread-window: "threadWindow", event: "event", root: "false"}
  %md-button.event-children__load-next.thread-item--indent-margin{ng-if: "sw.anyNext()", ng-click: "sw.loadMore()", translate: "activity_card.n_more", translate-values: "{count: sw.nextCount()}"}
  %add_reply_panel
