.event-children.event-children__indent
  -# %div
  -#   parent_id: {{parent.id}}
  -#   children.length: {{events().length}}
  -#   parent.childCount: {{parent.childCount}}
  -#   lastPos: {{lastPos()}}
  -#   showMore: {{showMore}}
  %md-button.event-children__load-previous{ng-if: "sw.anyPrevious()", ng-click: "sw.loadPrevious()", translate: "activity_card.n_previous", translate-value-count: "sw.previousCount()"}
  %thread-item{ng-repeat: "event in sw.events() | orderBy: threadWindow.orderBy track by event.id", thread-window: "threadWindow", event: "event", root: "false"}
  %md-button.event-children__load-next{ng-if: "sw.anyNext()", ng-click: "sw.loadMore()", translate: "activity_card.n_more", translate-value-count: "sw.nextCount()"}
  %add_reply_panel
