.event-children
  -# %span
    event-children
    parentId: {{eventWindow.parentEvent.id}}
    cc: {{eventWindow.parentEvent.childCount}}
    min: {{eventWindow.min}}
    max: {{eventWindow.max}}
    first: {{eventWindow.firstLoaded()}}
    last: {{eventWindow.lastLoaded()}}
    anyPrevious: {{eventWindow.anyPrevious()}}
    anyNext: {{eventWindow.anyNext()}}

  %md-button.event-children__load-previous.thread-item--indent-margin{ng-if: "eventWindow.anyPrevious()", ng-click: "eventWindow.loadPrevious()", translate: "activity_card.n_previous", translate-values: "{count: eventWindow.numPrevious()}"}
  %thread-item{ng-repeat: "event in eventWindow.events() | orderBy: threadWindow.orderBy track by event.id", event-window: "eventWindow", event: "event"}
  %md-button.event-children__load-next.thread-item--indent-margin{ng-if: "eventWindow.anyNext()", ng-click: "eventWindow.loadNext()", translate: "activity_card.n_more", translate-values: "{count: eventWindow.numNext()}"}
