%li.dropdown-menu-item{ng_click: "changeVolume()"}
  .dropdown-menu-item-label
    %i.fa.fa-lg.fa-envelope{    aria-hidden: 'true', ng-show: 'volume == "loud"'}
    %i.fa.fa-lg.fa-volume-up{   aria-hidden: 'true', ng-show: 'volume == "normal"'}>
    %i.fa.fa-lg.fa-volume-down{ aria-hidden: 'true', ng-show: 'volume == "quiet"'}>
    %i.fa.fa-lg.fa-volume-off{  aria-hidden: 'true', ng-show: 'volume == "mute"'}>
    %span{translate: "common.volume.{{volume}}"}
    .sr-only{ng-show: "model.volume == '{{volume}}'", translate: 'common.selected'}
    %i.fa.fa-lg.fa-check{aria-hidden: 'true', ng-show: "model.volume == '{{volume}}'"}
  .dropdown-menu-item-details
    %span{translate: "{{translateRoot}}.volume.{{volume}}"}
