.notification-volume.dropdown
  %button.btn.lmo-btn-nude.notification-volume__button.dropdown-toggle{href: '#'}
    .screen-only{aria-hidden: 'true'}
      %i.fa.fa-lg.fa-fw{ng-class: 'iconClassForLevel(model.volume)'}>
      %span{translate: 'volume_levels.loud', ng-show: 'model.volume == "loud"'}
      %span{translate: 'volume_levels.normal', ng-show: 'model.volume == "normal"'}
      %span{translate: 'volume_levels.quiet', ng-show: 'model.volume == "quiet"'}
      %span{translate: 'volume_levels.mute', ng-show: 'model.volume == "mute"'}
    .sr-only
      %span{translate: "{{translateRoot}}.volume.loud_aria_description", ng-show: 'model.volume == "loud"'}
      %span{translate: "{{translateRoot}}.volume.normal_aria_description", ng-show: 'model.volume == "normal"'}
      %span{translate: "{{translateRoot}}.volume.quiet_aria_description", ng-show: 'model.volume == "quiet"'}
      %span{translate: "{{translateRoot}}.volume.mute_aria_description", ng-show: 'model.volume == "mute"'}

  .dropdown-menu.dropdown-menu-with-labels.dropdown-menu-right{role: 'menu'}
    .dropdown-heading{translate: "common.notification_volume", role: 'heading'}
    %form{novalidate: ''}
      %ul.dropdown-menu-items
        %li.dropdown-menu-item{ng-repeat: 'level in volumeLevels'}
          %label{for: 'volume.{{level}}'}
            .dropdown-menu-item-label
              %i.fa.fa-lg{ng-class: "iconClassForLevel(level)", aria-hidden: 'true'}>
              %input.sr-only{id: 'volume.{{level}}', type: 'radio', ng-model: 'model.volume', name: 'volume', value: '{{level}}', ng-change: 'saveVolume()'}
              %span{translate: 'volume_levels.{{level}}'}
              .sr-only .
              %i.fa.fa-lg.fa-check{aria-hidden: 'true', ng-show: "level == model.volume"}

            .dropdown-menu-item-details{translate: "{{translateRoot}}.volume.{{level}}"}
