.blank
  %section.membership-requests-card{ng-if: "canManageMembershipRequests() && group.hasPendingMembershipRequests()"}
    %h2.lmo-card-heading{translate: "membership_requests_card.heading"}
    %ul.membership-requests-card__pending-requests
      %li.media{ng-repeat: "membershipRequest in group.pendingMembershipRequests() | orderBy: '-createdAt' | limitTo: 5 track by membershipRequest.id"}
        %a{lmo-href-for: "group", lmo-href-action: "membership_requests", title: "{{ 'membership_requests_card.manage_requests' | translate }}"}
          .media-left
            %user_avatar{user: "membershipRequest.actor()", size: "medium"}
          .media-body
            %span.membership-requests-card__requestor-name {{membershipRequest.actor().name}}
            .lmo-truncate.membership-requests-card__requestor-introduction {{membershipRequest.introduction}}
    %a.membership-requests-card__link.lmo-card-minor-action{lmo-href-for: "group", lmo-href-action: "membership_requests"}
      %span{translate: "membership_requests_card.manage_requests_with_count", translate-value-count: "{{group.pendingMembershipRequests().length}}"}
