%md-dialog.destroy-tag-modal.lmo-modal__narrow
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi.mdi-tag.mdi-24px
      %h1.lmo-h1{translate: "loomio_tags.modal_destroy_title"}
      %dismiss_modal_button
  .md-dialog-content
    %p.poll-common-helptext{translate: "loomio_tags.destroy_helptext"}
    .lmo-flex.lmo-flex__space-between
      %md-button{ng-click: "$close()", aria-label: "{{'common.action.cancel' | translate}}", translate: "common.action.cancel"}
      %md-button.md-primary.md-raised{ng-click: "submit()", aria-label: "{{'loomio_tags.destroy_tag' | translate}}", translate: "loomio_tags.destroy_tag"}
