.poll-common-summary-panel
  %h3.poll-common-summary-panel__title{ng-if: "!translation"} {{poll.title}}
  %h3.lmo-h1.poll-common-summary-panel__title{ng-if: "translation"}
    %translation{translation: "translation", field: "title"}
  %poll_common_outcome_panel{poll: "poll"}
  %h3.lmo-card-subheading{translate: "poll_common.details", ng-if: "poll.outcome()"}
  .poll-common-summary-panel__started-by
    %span{translate: "poll_card.started_by", translate-value-name: "{{poll.author().name}}"}
    %span{aria-hidden: "true"}>·
    %poll_common_closing_at{poll: "poll"}
    %translate_button.lmo-card-minor-action{model: "poll", showdot: "true"}>

  .poll-common-summary-panel__details.lmo-markdown-wrapper{ng-if: "!translation", marked: "poll.cookedDetails()"}
  .poll-common-summary-panel__details{ng-if: "translation"}
    %translation.lmo-markdown-wrapper{translation: "translation", field: "details"}

  .poll-common-summary-panel__attachments{ng-if: "poll.hasAttachments()"}
    .poll-common-summary-panel__attachment{ng-repeat: "attachment in poll.attachments() | orderBy:'createdAt' track by attachment.id"}
      %attachment_preview{attachment: "attachment", mode: "context"}
