.poll-common-summary-panel {
  margin-bottom: 24px;
}
.poll-common-summary-panel__title {
  @include md-title;
  margin-bottom: 0.4em;
}

.poll-common-summary-panel__started-by {
  @include fontSmall;
  color: $grey-on-white;
}

.poll-common-summary-panel__details {
  margin-top: 10px;
}
