.blank
  .start-proposal-button{ng-show: "canStartProposal()"}
    %md-button.md-raised.md-primary.start-proposal-button__button{type: "button", ng-click: "startProposal()"}
      %span{translate: "proposal_form.start_proposal"}
