.group-theme{
  @include lmoRow;
}

.group-theme__cover{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 320px;
  z-index: 0;
}

.group-theme__header{
  width: 100%;
  position: relative;
  min-height: 335px;
}

.group-theme__member-actions button{
  @include md-body-2;
}

.group-theme__header--compact {
  position: relative;
  margin: 215px 0 15px;
}

.group-theme__header--compact img {
  @include smallIcon;
  border-radius: 3px 0 0 3px;
}

.group-theme__logo{
  position: relative;
  top: 215px;
  width: 108px;
  height: 108px;
  background: url('http://placehold.it/100x100') no-repeat top center white;
  border: 4px solid #fff;
}

.group-theme__logo--compact {
  display: table-cell;
  img { background: white; }
}

.group-theme__name-and-actions{
  margin-top: 175px;
}

.group-theme__member-actions{
  float: right;
}
.group-theme__nonmember-actions { float: right; }

.group-theme__name {
  float: left;
  max-width: 50%;
  margin-left: 108px + 15px;
  margin-right: 10px;
  a{color: $primary-text-color;}
}

.group-theme__name--compact {
  display: table-cell;
  vertical-align: middle;
  background: rgba(0,0,0,.5);
  color: white;
  padding: 0 10px;
  border-radius: 0 3px 3px 0;
}

.group-theme__name--compact a {
  @include fontWeightMedium;
  color: white;
}

.group-theme__upload-photo {
  position: relative;
  cursor: pointer;
  top: 2px;
  left: 2px;
  width: 95px;
  height: 30px;
  i {
    margin: 8px 5px 5px 5px;
  }
  &:hover {
    background-color: $list-hover-color;
  }
}

.group-theme__upload-photo i {
  color: white;
  text-shadow: 1px 1px 4px $grey-on-grey;
}

.group-theme__upload-help-text {
  @include fontTiny;
  color: $primary-text-color;
}
