.group-theme
  .group-theme__cover.lmo-no-print
    .group-theme__upload-photo{ng-mouseover: "themeHoverIn()", ng-mouseleave: "themeHoverOut()", ng-if: "canUploadPhotos()"}
      %button.lmo-btn-link{ng-click: "openUploadCoverForm()", title: "{{ 'group_page.new_cover_photo' | translate }}"}
        %i.fa.fa-lg.fa-camera
        %span.group-theme__upload-help-text{ng-show: "themeHover", translate: "group_page.new_photo"}
  .group-theme__header--compact{ng-if: "compact"}
    .group-theme__logo--compact{aria-hidden: "true"}
      %a{lmo-href-for: "group"}
        %img{ng-src: "{{group.logoUrl()}}"}
    .group-theme__name--compact{aria-label: "breadcrumb", role: "navigation"}
      %a{ng-if: "group.isSubgroup()", lmo-href-for: "group.parent()", aria-level: "1"}>
        {{group.parentName()}}
      %span{ng-if: "group.isSubgroup()"}> \-
      %a{lmo-href-for: "group", aria-level: "2"}>
        {{group.name}}
      %span{ng-if: "discussion"}> \-
      %a{ng-if: "discussion", lmo-href-for: "discussion", aria-level: "3"}
        {{discussion.title}}

  .group-theme__header{ng-if: "!compact"}
    .group-theme__logo{ng-style: "logoStyle()", alt: "{{ 'group_page.group_logo' | translate }}"}
      .group-theme__upload-photo{ng-mouseover: "logoHoverIn()", ng-mouseleave: "logoHoverOut()", ng-if: "canUploadPhotos()"}
        %button.lmo-btn-link{ng-click: "openUploadLogoForm()", title: "{{ 'group_page.new_group_logo' | translate }}"}
          %i.fa.fa-lg.fa-camera
          %span.group-theme__upload-help-text{ng-show: "logoHover", translate: "group_page.new_photo"}

    .group-theme__name-and-actions
      %h1.lmo-h1.group-theme__name{aria-label: "breadcrumb", role: "navigation"}
        %a{ng-if: "group.isSubgroup()", lmo-href-for: "group.parent()", aria-level: "1"}
          {{group.parentName()}}
        %span{ng-if: "group.isSubgroup()"}> \-
        %a{lmo-href-for: "group", aria-level: "2"}
          {{group.name}}
      .group-theme__actions{ng-if: "homePage"}
        .group-theme__member-actions{ng-if: "isMember()"}
          .pull-right
            %group_actions_dropdown{group: "group"}
          .pull-right
            %outlet{name: "before-group-actions", model: "group"}
          %group_privacy_button{group: "group"}
        %join_group_button{group: "group"}
      .clearfix
