%html
  %head
    %title=@discussion.title
  %body
    .container.mx-4
      %h1 Share a template: #{@discussion.title}
      %p Loomio templates let you start a new decision with a couple of clicks, by copying an existing process.
      %p 
        Take a look at
        %a{href: "https://help.loomio.com/", target: "_blank"} Loomio Help
        if you'd like to see some examples.

      %p This page provides snippets you can use to easily embed templates within your own documentation.

    %main
      = raw @html

      %a{href: "https://www.loomio.com/d/new?#{request.original_url}"} Use this recipe on Loomio.com