.polls-page {
  margin-top: 16px;
}

.polls-page__heading a {
  color: $primary-text-color;
}

.polls-page__filters {
  align-items: center;
}

.polls-page__status-filter {
  margin-left: 30px;
  margin-right: 30px;
}

.polls-page__group-filter {
  min-width: 200px;
}

.polls-page__icon {
  vertical-align: middle;
  margin-bottom: 4px;
}

.polls-page__count {
  font-weight: bold;
  margin-top: 16px;
}

.polls-page__load-more {
  margin-bottom: 16px;
}

.polls-page__search {
  flex-grow: 1;
  margin: 16px 0 -10px;
  i {
    position: absolute;
    right: 0;
    color: $grey-on-white;
  }
}

@media (max-width: $small-max-px) {
  .polls-page__filters { flex-direction: column; }
  .polls-page__search { width: 100%; }
  .polls-page__status-filter,
  .polls-page__group-filter {
    width: 100%;
  }
}
