.loading-wrapper.lmo-one-column-layout
  %main.polls-page
    .lmo-flex.lmo-flex__space-between.lmo-flex__baseline
      %h1.lmo-h1.dashboard-page__heading.polls-page__heading{ng-if: "pollsPage.group"}
        %a{lmo-href-for: "pollsPage.group"}
          %span{translate: "polls_page.heading_with_group", translate-value-name: "{{pollsPage.group.fullName}}"}
      %h1.lmo-h1.dashboard-page__heading.polls-page__heading{ng-if: "!pollsPage.group", translate: "polls_page.heading"}
      -# .buh
        %md-button.md-primary.md-raised{ng-click: "pollsPage.startNewPoll()"}
          %span{translate: "polls_page.start_new_poll"}
    .lmo-card
      .polls-page__filters.lmo-flex
        %md-input-container.polls-page__search.md-block{md-no-float: "true"}
          %i.mdi.mdi-magnify.mdi-18px
          %input{ng-model: "pollsPage.fragment", placeholder: "{{'polls_page.search_placeholder' | translate}}", ng-change: "pollsPage.searchPolls()", ng-model-options: "{debounce: 250}"}
        %md-select.polls-page__status-filter{ng-model: "pollsPage.statusFilter", placeholder: "{{ 'polls_page.filter_placeholder' | translate }}", ng-change: "pollsPage.fetchRecords()"}
          %md-option{ng-value: "null"}
            {{ 'polls_page.filter_placeholder' | translate }}
          %md-option{ng-repeat: "filter in pollsPage.statusFilters track by filter.value", ng-value: "filter.value"}
            {{filter.name}}
        %md-select.polls-page__group-filter{ng-model: "pollsPage.groupFilter", placeholder: "{{ 'polls_page.groups_placeholder' | translate }}", ng-change: "pollsPage.fetchRecords()"}
          %md-option{ng-value: "null"}
            {{ 'polls_page.groups_placeholder' | translate }}
          %md-option{ng-repeat: "filter in pollsPage.groupFilters track by filter.value", ng-value: "filter.value"}
            {{filter.name}}
      %loading{ng-if: "pollsPage.fetchRecordsExecuting"}
      .polls-page__polls{ng-if: "!pollsPage.fetchRecordsExecuting"}
        %poll_common_preview{ng-repeat: "poll in pollsPage.pollCollection.polls() | orderBy:pollsPage.pollImportance track by poll.id", poll: "poll", display-group-name: "!pollsPage.group"}
        %loading{ng-if: "pollsPage.loadMoreExecuting"}
        .polls-page__count{translate: "polls_page.polls_count", translate-value-count: "{{pollsPage.loadedCount()}}", translate-value-total: "{{pollsPage.pollsCount}}"}
        .polls-page__load-more{ng-if: "pollsPage.canLoadMore()"}
          %md-button.md-primary{translate: "poll_common.load_more", ng-click: "pollsPage.loadMore()"}
