.attachment-display
  .attachment-header
    %i.fa.fa-paperclip
    %a{ng-href: '{{attachment.location}}', target: '_blank'}>
      {{attachment.filename }}
    %span {{attachment.formattedFilesize()}}
  .attachment-content{ng-if: 'attachment.isAnImage'}
    %img{src: '{{::attachment.location}}'}  }
