.user-avatar{aria-hidden: 'true', class: '{{size}}'}
  .avatar.avatar-initials{ng-if: '::(user.avatarKind == "initials")', ng-class: '{ coordinator: coordinator }'}
    {{::user.avatarInitials}}
  .avatar-image{ng-if: '::(user.avatarKind == "gravatar")'}
    %img.avatar{gravatar-src-once: 'user.gravatarMd5', alt: "{{::user.name}}", ng-class: '{ coordinator: coordinator }'}
  .avatar-image{ng-if: '::(user.avatarKind == "uploaded")'}
    %img.avatar{alt: "{{::user.name}}", ng-src: '{{::user.avatarUrl}}', ng-class: '{ coordinator: coordinator }'}
