.avatar-initials{
  @include smallIcon;
  background: $border-color;
  border: 1px solid #aaa;
  text-align: center;
  line-height: 30px;
}

.avatar.coordinator {
  border: 3px solid $loomio-orange;
}

.avatar-image img{
  @include smallIcon;
}

.sm .avatar-image img, .sm .avatar-initials {
  @include roundedCorners;
  width: 25px;
  height: 25px;
  @include fontMedium;
  line-height: 25px;
}

.lg .avatar-image img, .lg .avatar-initials{
  @include roundedCorners;
  width: 80px;
  height: 80px;
  font-size: 40px;
  line-height: 80px;
}
