.user-avatar--coordinator {
  border: 2px solid $loomio-orange !important;
}

.user-avatar{
  @include roundedCorners;
  background: $border-color;
  border: 1px solid #aaa;
  text-align: center;
}

.user-avatar--large {
  height: 82px;
  width: 82px;
}

.user-avatar--small {
  width: 32px;
  height: 32px;
}

.user-avatar__image--large{
  @include roundedCorners;
  height: 80px;
  width: 80px;
}

.user-avatar__image--small{
  @include roundedCorners;
  width: 30px;
  height: 30px;
}

.user-avatar__initials--large{
  font-size: 32px;
  line-height: 80px;
}

.user-avatar__initials--small{
  font-size: 12px;
  line-height: 30px;
}
