.md-sidenav-left {
  padding-top: 50px;
  background-color: #fff;
  max-width: 250px;
}

.please-scroll-y{
  overflow-y: scroll;
}

.md-closed {
  width: 0px;
  display: none;
}

.sidebar__threads, .sidebar__user {
  flex-basis: content;
}

.sidebar__list-item {
  color: $grey-on-grey;
  border-radius: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 5px 0px 5px 10px;
  text-align: left;
  text-transform: inherit;
  display: block;
}

.sidebar__groups {
  overflow: auto;
  flex-shrink: 5;
  max-height: 275px;
}

.side-bar__sign-out {
  padding-right: 130px;
}

.sidebar__list-item-icon {
  margin-right: 20px;
}

.sidebar__list-item-group-logo {
  margin-right: 15px;
}

.fa-envelope-o {
  font-size: 16px;
}

.sidebar__divider {
  border-top: 1px solid #eee;
}
