.sidebar{layout: "row"}
  %md_sidenav.md-sidenav-left.md-whiteframe-z2{md-component-id: "left", md-is-locked-open: "lockOpen"}
    %md_content.sidebar__content{flex: "", role: "navigation", layout: "column"}
      %md_list.sidebar__threads{layout: "column"}
        %md_list_item.md-2-line
          %md_button.sidebar__list-item{href: "/dashboard"}
            %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-clock-o
            %span.sidebar__list-item-label
              %strong Recent
        %md_list_item.md-2-line
          %md_button.sidebar__list-item{href: "/inbox"}
            %md_avatar_icon.sidebar__list-item-icon.i.fa.fa-lg.fa-inbox
            %span.sidebar__list-item-label
              %strong Unread
        %md_list_item.md-2-line
          %md_button.sidebar__list-item{href: "/inbox"}
            %md_avatar_icon.sidebar__list-item-icon.i.fa.fa-lg.fa-times-circle
            %span.sidebar__list-item-label
              %strong Muted
      %md_divider.sidebar__divider
      %md_list.sidebar__groups{layout: "column"}
        %md_list_item.md-2-line{ng-repeat: "group in groups()"}
          %md_button.sidebar__list-item{href: "{{groupUrl(group)}}"}
            %img.md-avatar.lmo-box--tiny.sidebar__list-item-group-logo{ng-src: "{{group.logoUrl()}}"}
            %span.sidebar__list-item-label
              %strong {{group.name}}
      %md_divider.sidebar__divider
      %md_list.sidebar__user{layout: "column"}
        %md_list_item.md-2-line
          %md_button.sidebar__list-item{href: "/profile"}
            %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-cog
            %span.sidebar__list-item-label
              %strong Edit profile
        %md_list_item.md-2-line
          %md_button.sidebar__list-item{href: "/email_preferences"}
            %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-envelope-o
            %span.sidebar__list-item-label
              %strong Email settings
        %md_list_item.md-2-line
          %md_button.sidebar__list-item.side-bar__sign-out{ng-click: "signOut()"}
            %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-sign-out
            %span.sidebar__list-item-label
              %strong Sign out
        %md_list_item.md-2-line
          %md_button.sidebar__list-item{href: "/help"}
            %md_avatar_icon.sidebar__list-item-icon.fa.fa-lg.fa-info-circle
            %span.sidebar__list-item-label
              %strong Help
