.sidebar {
  margin-top: 45px;
  height: 100%;
  position: fixed;
}

.sidebar__content {
  max-height: 100%;
}

.sidebar__threads, .sidebar__user {
  flex-basis: content;
}

.md-sidenav-left {
  background-color: #fff;
  width: 250px;
}

.sidebar__list-item {
  color: $grey-on-grey;
  border-radius: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 5px 0px 5px 10px;
  text-align: left;
  text-transform: inherit;
  display: block;
}

.sidebar__groups {
  overflow: auto;
  flex-shrink: 5;
}

.side-bar__sign-out {
  padding-right: 130px;
}

.sidebar__list-item-icon {
  margin-right: 20px;
}

.sidebar__list-item-group-logo {
  margin-right: 15px;
}

.fa-envelope-o {
  font-size: 16px;
}

.sidebar__horizontal-rule {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid #eee;
}
