.md-sidenav-left {
  background: #ebebeb;
  min-height: 100%;
  display: block !important;
  width: 250px;
  border-top: 1px solid rgba(0,0,0,.14);
}

.sidebar__content {
  // margin: 8px;
}

.sidebar__list-subhead {
  @include md-caption;
  margin: 0px 0 16px 16px;
  color: $navbar-default-color;
}

.sidebar__list-item-button {
  width: 100%;
  margin: 0;
  padding: 0 15px;
  @include displayFlex;
  align-items: center;
  text-align: left;
  border-radius: 4px;
  text-transform: none;
  // font-size: 13px;
  @include md-body-1;
  @include truncateText;
}

.sidebar__list-item-button--subgroup {
  width: 100%;
  margin: 0;
  text-transform: none;
  display: block;
  border-radius: 4px;
  text-align: left;
  padding-left: 53px;
  font-size: 13px;
}

.sidebar__list-item-icon {
  width: 20px;
  margin-right: 16px;
  font-size: 22px;
  color: $navbar-default-color;
}

.fa-envelope-o {
  font-size: 20px;
}

.fa-inbox {
  color: $brand-success;
}

.fa-clock-o {
  color: $brand-primary;
}

.sidebar__list-item-group-logo {
  margin-right: 16px;
}

.sidebar__divider {
  border-top: 1px solid #ddd;
  margin-bottom: 12px;
}

.sidebar__list-item--selected {
  background-color: #ddd;
  font-weight: 600;
}

.sidebar__list-item--selected {
  color: black;
}

.sidebar__user-panel {
  @include displayFlex;
  align-items: center;
  margin: 16px;
}

.sidebar__user-icon-container {
  height: 48px;
  width: 48px;
  background-color: #AAA;
  border-radius: 50%;
  color: $primary-text-color;
  cursor: pointer;
}

.sidebar__user-icon {
  font-size: 32px;
  position: absolute;
  left: 28px;
  top: 28px;
}

.sidebar__user-details {
  margin-left: 16px;
}

.sidebar__user-name {
  font-weight: 600;
}

@media (min-width: $tiny-max-px) {
  .md-sidenav-left {
    transition: 0.3s all;
  }
}
