%md-dialog.poll-common-modal
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi.mdi-email-outline
      %h1.lmo-h1{translate: "poll_common_unsubscribe_form.title"}
      %dismiss_modal_button
  .md-dialog-content
    %poll_common_unsubscribe_form{poll: "poll"}
