.auth-inactive-form
  %p.lmo-hint-text{translate: "auth_form.account_inactive", translate-value-email: "{{user.email}}"}
  %md-button.md-raised.md-primary.auth-inactive-form__submit.auth-inactive-form__reactivate{ng-click: "reactivateUser()", translate: "auth_form.reactivate"}
