.poll-common-helptext {
  @include fontSmall;
  font-style: italic;
}

.poll-common-modal-header {
  @include displayFlex;
}

.poll-common-modal-header h1 {
  flex-grow: 10;
  margin: -5px 0 0 10px;
}

.poll-common-modal {
  max-width: 400px;
}
