.proposal-positions__list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.proposal-positions-panel__name-and-position {
  a { color: $primary-text-color; }
}

.proposal-positions-panel__change-your-vote {
  margin-left: 5px;
}
