%form.proposal-form{ng-submit: 'submit()', ng-disabled: 'proposal.processing'}
  .lmo-disabled-form{ng-show: 'isDisabled'}
  .modal-header
    %button{type: 'button', class: 'close', ng-click: '$close()'}
      %span{aria-hidden: true} &times;
      %span.sr-only{translate: 'common.action.cancel'}
    %h1.lmo-h1{ng-if: '!hasOutcome', translate: 'proposal_outcome_form.set_outcome'}
    %h1.lmo-h1{ng-if: 'hasOutcome', translate: 'proposal_outcome_form.update_outcome'}

  .modal-body

    %form_errors{record: 'proposal'}

    %fieldset
      .form-group
        %label{for: 'proposal-outcome-field', translate: 'proposal_outcome_form.outcome_label'}
        %textarea.form-control.proposal-form__outcome-field{placeholder: "{{ 'proposal_outcome_form.outcome_placeholder' | translate }}", ng-model: 'proposal.outcome', ng-required: 'true'}

  .modal-footer
    %button.btn.btn-primary.proposal-outcome-form__publish-outcome-btn{type: 'submit', translate: 'proposal_outcome_form.publish_outcome'}
    %button.btn.btn-warning.proposal-outcome-form__cancel-btn{ng-click: '$close()', type: 'button', translate: 'common.action.cancel'}
