%md-dialog.poll-common-modal
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi.mdi-thumbs-up-down
      %h1.lmo-h1{ng-if: "outcome.isNew()", translate: "poll_common_outcome_form.new_title"}
      %h1.lmo-h1{ng-if: "!outcome.isNew()", translate: "poll_common_outcome_form.update_title"}
      %material_modal_header_cancel_button

  %md-dialog-content
    .md-dialog-content
      %poll_common_directive{name: "outcome_form", outcome: "outcome"}
