.media-form.lmo-slide-animation{ng-switch: "currentStep"}
  %media_method_form.animated{ng-switch-when: "choose"}
  %media_record_form.animated{ng-switch-when: "record", document: "document"}
  %media_upload_form.animated{ng-switch-when: "upload", document: "document"}
