.poll-common-action-panel
  %section{ng-if: "!poll.closedAt"}
    .md-block{ng-if: "userHasVoted()"}
      .poll-common-action-panel__change-your-vote
        %h3.lmo-card-subheading{translate: "poll_common.change_your_stance_title"}
        %p.poll-common-helptext{translate: "poll_common.change_your_stance_text"}
        .md-actions.lmo-md-actions
          %md-button.md-accent{ng-click: "openStanceForm()", translate: "poll_common.change_your_stance", aria-label: "{{ 'poll_common.change_your_stance' | translate }}"}
    .md-block{ng-if: "!userHasVoted()"}
      %poll_common_directive{stance: "stance", name: "vote_form"}
