.poll-common-action-panel
  %section{ng-if: "!poll.closedAt"}
    %md-list.md-block{ng-if: "userHasVoted() && stanceForm()"}
      %h3.lmo-card-subheading{translate: "poll_common.change_your_stance_title"}
      %p.poll-common-helptext{translate: "poll_common.change_your_stance_text"}
      %md-button.md-primary{ng-click: "openStanceForm()", translate: "poll_common.change_your_stance", aria-label: "{{ 'poll_common.change_your_stance' | translate }}"}
    %md-list.md-block{ng-if: "!userHasVoted()"}
      %poll_common_directive{stance: "stance", name: "vote_form"}
