.flash-root{aria-live: "{{ariaLive()}}", role: "alert"}
  .flash-root__container.animated{ng-if: "display()", ng-animate: "'enter'", class: "alert-{{flash.level}}"}
    .flash-root__message
      %loading.flash-root__loading{ng-if: "loading()"}
      {{ flash.message | translate:flash.options }}
    .flash-root__action{ng-if: "flash.actionFn"}
      %a{ng-click: "flash.actionFn()", translate: "{{flash.action}}"}
