.flash-root {
  bottom: 20px;
  left: 20px;
  min-width: 220px;
  position: fixed;
  z-index: 2000;
}

.flash-root__container {
  background-color: $primary-text-color;
  color: white;
  font-size: 15px;
  line-height: 20px;
  padding: 15px;
  width: 100%;
  border-radius: 6px;
  position: relative;
  @include displayFlex;
}

.flash-root__container.ng-enter {
  animation: 0.2s dropIn ease-in;
}

.flash-root__container.ng-leave {
  animation: 0.25s dropOut ease-out;
}

@keyframes dropIn {
  from {
    width:   110%;
    bottom:  15px;
    right:   5%;
    opacity: 0;
  }
  to {
    width:   100%;
    bottom:  0;
    right:   0;
    opacity: 1;
  }
}

@keyframes dropOut {
  from {
    width:   100%;
    top:     0;
    left:    0;
    opacity: 1;
  }
  to {
    width:   80%;
    top:     15px;
    left:    5%;
    opacity: 0;
  }
}

.flash-root__message {
  padding-right: 10px;
}

.flash-root__action {
  padding-left: 10px;
  border-left: 2px solid white;
  font-weight: bold;
  text-transform: uppercase;
  word-break: keep-all;
}

.flash-root__action a {
  color: white;
  cursor: pointer;
}

.flash-root__loading.page-loading {
  padding: 0 12px 0 0;
  display: inline-block;
  color: white;
}

.flash-root__container.ng-hide-add    { animation:0.7s fadeOut ease-in; }
.flash-root__container.ng-hide-remove { animation:0.2s fadeIn ease-in; }
