%md-dialog.dismiss-explanation-modal.lmo-modal__narrow
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "dismiss_explanation_modal.dismiss_thread"}
      %material_modal_header_cancel_button
  .md-dialog-content
    .dismiss-explanation-modal__dismiss-explanation{translate: "dismiss_explanation_modal.body_html"}
    .lmo-md-actions
      %md-button{type: "button", ng-click: "$close()", translate: "common.action.cancel"}
      %md-button.md-primary.md-raised{ng-click: "dismiss()", translate: "dismiss_explanation_modal.dismiss_thread"}
