.memberships-panel
  .memberships-panel__membership.lmo-flex.lmo-flex__center{ng-repeat: "membership in group.memberships() | orderBy: '-admin' track by membership.id", data-username: "{{membership.user().username}}"}
    %user_avatar{user: "membership.user()", size: "medium", coordinator: "membership.admin"}
    .memberships-panel__user.lmo-flex.lmo-flex__grow{layout: "column"}
      %a{lmo-href-for: "membership.user()"} {{::membership.user().name}} (@{{::membership.user().username}})
      %outlet{name: "after-membership-user", model: "membership"}
      .md-caption
        %div{translate: "user_page.location_field", translate-value-value: "{{::membership.user().location}}", ng-if: "::membership.user().location"}
        %div{translate: "user_page.online_field", translate-value-value: "{{::membership.user().lastSeenAt | timeFromNowInWords}}", ng-if: "::membership.user().lastSeenAt"}
    .memberships-page__actions{ng-if: "canAdministerGroup()", layout: "row"}
      %md-button.memberships-panel__toggle-coordinator{translate: "memberships_panel.remove_coordinator", ng-if: "membership.admin", ng-click: "toggleAdmin(membership)", ng-disabled: "!canToggleAdmin(membership)"}
      %md-button.md-primary.memberships-panel__toggle-coordinator{translate: "memberships_panel.add_coordinator", ng-if: "!membership.admin", ng-click: "toggleAdmin(membership)"}
      %md-button.md-warn.memberships-panel__remove{translate: "common.action.remove", ng-disabled: "!canRemoveMembership(membership)", ng-click: "openRemoveForm(membership)"}
