.pending-email-form__emails {
  margin-top: -50px;
  pointer-events: none;
}

.pending-email-form__email {
  pointer-events: auto;
  width: 100%;
  display: flex;
}

.pending-email-form__add-button {
  min-width: 24px;
  padding: 8px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0 0 0;
}

.pending-email-form__add-option {
  margin-bottom: -26px;
}
