.change-volume-form__list {
  padding: 0;
}

.change-volume-form__option {
  list-style: none;
}

.change-volume-form__input {
  float: left;
}

.change-volume-form__label {
  max-width: 90%;
  margin-left: 10px;
}

.change-volume-form__description {
  font-weight: normal;
}

.change-volume-form__apply-to-all-label {
  font-weight: normal;
  margin-left: 10px;
}

.change-volume-form__help {
  margin-right: 20px;
}
