.document-method-form
  %p.lmo-hint-text{translate: "document.method_form.helptext"}
  .document-method-form__buttons.lmo-flex{layout: "row"}
    %md-button.document-method-form__button{ng-click: "$emit('nextStep', 'url')", md-prevent-menu-close: "true"}
      %i.mdi.mdi-link.mdi-24px
      %p.lmo-hint-text{translate: "document.method_form.url_helptext"}
    %md-button.document-method-form__button{ng-click: "$emit('nextStep', 'file')", md-prevent-menu-close: "true"}
      %i.mdi.mdi-file.mdi-24px
      %p.lmo-hint-text{translate: "document.method_form.file_helptext"}
