.group-welcome-modal
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1.modal-title{translate: "group_welcome_modal.heading"}

  .modal-body
    %p{translate: "group_welcome_modal.first_step"}
    .group-welcome-model__video-wrapper{ng-if: "showVideo"}
      %iframe.group-welcome-modal__video{ng-src: "{{helpVideo()}}", frameborder: "0", allowfullscreen=''}
    %p{translate: "group_welcome_modal.second_step"}

  .modal-footer.lmo-clearfix
    %button.lmo-btn--primary.group-welcome-modal__close-button{type: "button", ng-click: "$close()", translate: "group_welcome_modal.ok_got_it"}
