.group-welcome-modal
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1.modal-title{translate: "group_welcome_modal.heading"}

  .modal-body
    %p{translate: "group_welcome_modal.first_step"}
    .lmo-blank{ng-if: "showVideo"}
      %iframe.group-welcome-modal__video{src: "https://www.youtube.com/embed/pF-wpXo8Rdw?showinfo=0&nologo=1", frameborder: "0", allowfullscreen=''}
    %p{translate: "group_welcome_modal.second_step"}

  .modal-footer.lmo-clearfix
    %button.lmo-btn--primary.group-welcome-modal__close-button{type: "button", ng-click: "$close()", translate: "group_welcome_modal.ok_got_it"}
