.group-welcome-model__video-wrapper {
	text-align: center;
}

.group-welcome-modal__video {
	width: 100%;
	max-width: 600px;
	min-height: 300px;
}


.group-welcome-modal__mascot {
  float: left;
  height: 150px;
  padding: 0 25px 25px 0;
}
