.modal-dialog.modal-group-welcome-modal {
	max-width: 430px;
}

.group-weclome-modal__video {
	width: 398px;
    height: 223px;
    @media (max-width: 450px) { width: 100%; }
}


.group-welcome-modal__mascot {
  float: left;
  height: 150px;
  padding: 0 25px 25px 0;
}
