.auth-avatar__avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid $border-color;
  box-shadow: -1px 1px 2px $border-color;
  margin: auto;
  background: white;
}

.auth-avatar__avatar img {
  height: 80px;
}
