.poll-common-choose-type__poll-types {
  margin: 0;
  padding: 0;
}

.poll-common-choose-type__poll-type {
  list-style-type: none;
  height: 64px;
}

.poll-common-choose-type__poll-type-link {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  &:hover { text-decoration: none; }
}

.poll-common-choose-type__poll-type-link i {
  padding: 10px 10px 10px 0;
}

.poll-common-choose-type__icon {
  margin-left: -16px;
}

.poll-common-choose-type__content {
  margin-left: 16px;
  line-height: 24px;
}
