%md-dialog.lmo-modal__narrow
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex.lmo-flex__space-between
      %i.mdi.mdi-forum
      %h1.lmo-h1.modal-title{translate: "discussion_form.new_discussion_title", ng-if: "discussion.isNew()"}
      %h1.lmo-h1.modal-title{translate: "discussion_form.edit_discussion_title", ng-if: "!discussion.isNew()"}
      %material_modal_header_cancel_button{aria-hidden: "true"}
  %md-dialog-content.md-body-1
    %discussion_form{discussion: "discussion", modal: "true"}
  %md-dialog-actions
    %discussion_form_actions{discussion: "discussion"}
