.add-facebook-community-form
  FACEBOOK COMMUNITY FORM

  .poll-common__actions.lmo-flex
    %md-button{ng-click: "cancel()"}
      %span{translate: "common.action.back"}
    %md-button.md-raised.md-primary{ng-click: "submit()"}
      %span{translate: "common.action.ok"}
