.md-block.poll-common-notify-on-participate.poll-common-checkbox-option
  .poll-common-checkbox-option__text.md-list-item-text
    %h3{translate: "poll_common_notify_on_participate.notify_on_participate"}
    %p.md-caption{ng-if: "poll.notifyOnParticipate", translate: "poll_common_notify_on_participate.helptext_on"}
    %p.md-caption{ng-if: "!poll.notifyOnParticipate", translate: "poll_common_notify_on_participate.helptext_off"}
  %md-checkbox{ng-model: "poll.notifyOnParticipate"}
