.link-explanation-form
  .link-explanation-form__link-explanation{translate: "link_explanation_form.body_html"}
  .link-explanation-form__shareable-link-image
    %img{src: "/img/copy-shareable-link.png", alt: "{{ 'link_explanation_form.image_alt' | translate }}"}
