.poll-mailer-common-results
	- poll = event.eventable.poll
	- if poll.poll_type == "meeting"
		= render "event_mailer/poll/results/meeting", poll: poll, event: event
	- else
		= render "event_mailer/poll/results/simple", poll: poll, event: event
