- nom = poll.decided_voters_count
- dnom = poll.voters_count
- pct = dnom > 0 ? (nom.to_f / dnom.to_f * 100).to_i : 0
%p.text-subtitle-2= t('poll_mailer.common.people_have_voted', nom: nom, dnom: dnom , pct: pct)
