%md-dialog.poll-common-modal
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi.mdi-lightbulb-on-outline
      %h1.lmo-h1{translate: "poll_common_add_option.modal.title"}
      %material_modal_header_cancel_button
  .md-dialog-content
    .lmo-disabled-form{ng-show: "isDisabled"}
    %poll_common_add_option_form{poll: "poll"}
