.card-row
  .card
    .card-row#fake-input{'ng-show' => '!isExpanded'}
      %input.form-control{placeholder: "Write a comment...", 'ng-focus' => 'expand()'}

    .card-row#real-input{'ng-show' => 'isExpanded'}
      .left
        %textarea#expanded-input.form-control{rows: 5, placeholder: "Say something...", 'ng-blur' => 'collapse()'}
      .right
        %button.btn.btn-default.btn-block.submit Post
