%section.description-card.lmo-card{aria-labelledby: "description-card-title"}
  %h2.description-card__title.lmo-card-heading{translate: "description_card.title"}
  .description-card__placeholder.lmo-hint-text{translate: "description_card.placeholder", ng-if: "!group.description"}
  .description-card__text.lmo-markdown-wrapper{marked: "group.description"}
  %document_list{model: "group", placeholder: "document.list.no_group_documents"}

  .lmo-md-action
    %action_dock{model: "group", actions: "actions"}
