html, body { height: 100%; }

body {
  background-color: #F7F7ED;
  color: #666;
  font-family: arial, sans-serif;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

h1 {
  font-size: 100%;
  line-height: 1.5em;
}

.errors__return-home {
  height: 64px;
  display: block;
  margin-bottom: 8px;
  background-image: url('/theme/logo_128h.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.errors__content {
  padding: 20px;
  background-color: #FFF;
  margin-bottom: 144px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  box-shadow: 1px 1px 4px #999999;
  -webkit-box-shadow: 1px 1px 4px #999999;
  -moz-box-shadow: 1px 1px 4px #999999;
}
