body {
  background-color: #F7F7ED;
  color: #666;
  font-family: arial, sans-serif;
}

h1 {
  font-size: 100%;
  line-height: 1.5em;
}

#error-head{
  background-color: #292929;
}

#header {
    background-image: url("/theme/logo_128h.png");
    background-repeat: no-repeat;
    height: 64px;
}

.content {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  box-shadow: 1px 1px 4px #999999;
  -webkit-box-shadow: 1px 1px 4px #999999;
  -moz-box-shadow: 0px 0px 4px #999999;
}

#error-container{
  width: 960px;
  margin:0px auto;
}
