.dialog-scroll-indicator__indicator {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  z-index: $z-low;
  left: 0;
  bottom: 48px;
  height: 48px;
  padding: 4px;
  background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0));
  color: $grey-on-white;
}
