.row#inbox-head
  .col-xs-6.col-sm-2
    %h1= t :'inbox.title'
  .col-sm-7#inbox-description.hidden-xs
    %i.fa.fa-star
    = t :what_you_have_not_read_yet
  .col-xs-6.col-sm-3.inbox-preferences

    =link_to inbox_preferences_path, class: 'preferences-link' do
      =image_tag 'options-cog.png'
      %span= t :'common.settings'

.inbox-container
  - @inbox.items_by_group do |group, items|
    .inbox-group
      .row
        .col-xs-10
          %h3= link_to group.full_name, group
        .col-xs-2.mark-all-as-read
          - discussion_ids = items.select{|i| i.is_a? Discussion }.map(&:id)
          - motion_ids = items.select{|i| i.is_a? Motion }.map(&:id)
          =link_to t(:'inbox.clear'),
            inbox_mark_as_read_path(discussion_ids: discussion_ids.join('x'),
                                    motion_ids: motion_ids.join('x')),
            class: 'mark-all-as-read-btn', remote: true
      %ul.inbox-list
        - items.each do |item|
          -if item.is_a? Discussion
            =render 'discussion_line_item', item: item
          -if item.is_a? Motion
            =render 'motion_line_item', item: item


- if @inbox.empty?
  =t(:'inbox.empty')
- else
  .inbox-empty-msg{style: 'display: none'}
    =t(:'inbox.empty')


