%h2= t :'inbox.preferences'
%p= t :'inbox.preferences_instructions_html'


=simple_form_for @inbox_preferences_form,
  url: inbox_update_preferences_path,
  method: :put do |f|
  .form-group.ui-sortable.checkboxes
    -@inbox_preferences_form.all_memberships.each do |membership|
      - group = membership.group
      - next if group.nil?
      .checkbox
        =label_tag "group_#{group.id}" do
          =check_box_tag 'groups[]', group.id, membership.inbox_position.present?, id: "group_#{group.id}"
          =group.full_name
  =f.submit 'Save', class: 'btn btn-info', :data => {:disable_with => "Save"}


