.membership-invite-button.lmo-flex.lmo-flex__center.lmo-pointer{ng-click: "invite()"}
  %user_avatar.lmo-margin-right{user: "plusUser", no-link: "true", size: "medium", colors: "{borderColor: 'accent-500', color: 'accent-500'}"}
  %span{translate: "membership_card.invite_to_{{group.targetModel().constructor.singular}}"}
