%form.poll-meeting-vote-form{ng-submit: "submit()"}
  %poll_common_participant_form{stance: "stance"}
  %h3.lmo-card-subheading.lmo-flex__grow{translate: "poll_meeting_vote_form.your_response"}
  %md-list.poll-common-vote-form__options
    %md-list-item.lmo-flex--row.lmo-flex__horizontal-center.lmo-flex__center
      %span.poll-meeting-vote-form--box{translate: "poll_meeting_vote_form.respond_yes"}
      %span.poll-meeting-vote-form--box{translate: "poll_meeting_vote_form.respond_no"}
      %span.poll-meeting-vote-form--box{translate: "poll_meeting_vote_form.respond_maybe"}
    %md-list-item.lmo-flex--row.lmo-flex__horizontal-center.lmo-flex__center
      %i.mdi.mdi-check.poll-meeting-vote-form--box
      %i.mdi.mdi-close.poll-meeting-vote-form--box
      %i.mdi.mdi-minus.poll-meeting-vote-form--box

    %md-list-item.poll-common-vote-form__option.lmo-flex--row{ng-repeat: "option in stance.poll().pollOptions() | orderBy:'name' track by option.id"}
      %md-radio-group.lmo-flex--row.lmo-flex__center{ng-model: "stanceValuesMap[option.id]"}
        %md-radio-button.poll-meeting-vote-form__radio.poll-meeting-vote-form--box{ng-value:2}
        %md-radio-button.poll-meeting-vote-form__radio.poll-meeting-vote-form--box{ng-value:0}
        %md-radio-button.poll-meeting-vote-form__radio.poll-meeting-vote-form--box{ng-value:1}
      %poll_meeting_time{name: "option.name", zone: "zone"}
  %validation_errors{subject: "stance", field: "stanceChoices"}

  %poll_common_add_option_button{ng-if: "stance.isNew() && stance.poll().voterCanAddOptions", poll: "stance.poll()"}

  %poll_common_stance_reason{stance: "stance"}

  .poll-common-form-actions.lmo-flex.lmo-flex__space-between
    %show_results_button{ng-if: "stance.isNew()"}
    %div{ng-if: "!stance.isNew()"}
    %md-button.md-primary.md-raised.poll-common-vote-form__submit{type: "submit", translate: "poll_common.vote", aria-label: "{{ 'poll_meeting_vote_form.vote' | translate }}"}
