%form.poll-meeting-vote-form{ng-submit: "submit()"}
  %poll_common_participant_form{stance: "stance"}
  %h3.lmo-card-subheading{translate: "poll_meeting_vote_form.your_response"}
  .lmo-flex--row.lmo-flex__space-between
    .lmo-flex
      %time_zone_select
    .lmo-flex--row.lmo-flex__center.poll-meeting-vote-form__helptext{ ng-if:"stance.poll().canRespondMaybe"}
      %span.lmo-helptext.lmo-margin-right--small{translate: "poll_meeting_vote_form.maybe_help_text"}
      %span (
      %i.mdi.mdi-minus-box-outline.lmo-hint-text.mdi-18px.poll-meeting-vote-form__checkbox--legend
      %span )
  %md-list.poll-common-vote-form__options
    %md-list-item.poll-common-vote-form__option{ng-repeat: "option in stance.poll().pollOptions() | orderBy:'name' track by option.id"}
      %p.poll-poll-vote-form__option--name.poll-common-vote-form__border-chip{ng-style: "{'border-color': option.color}"}
        %poll_meeting_time{name: "option.name", zone: "zone"}
      %md-checkbox.md-block.poll-meeting-vote-form__checkbox{ng-click:"click(option.id)", ng-checked:"stanceValuesMap[option.id]==2", md-indeterminate:"stanceValuesMap[option.id] == 1"}
  %validation_errors{subject: "stance", field: "stanceChoices"}

  %poll_common_add_option_button{ng-if: "stance.isNew() && stance.poll().voterCanAddOptions", poll: "stance.poll()"}

  %poll_common_stance_reason{stance: "stance"}

  .poll-common-form-actions.lmo-flex.lmo-flex__space-between
    %show_results_button{ng-if: "stance.isNew()"}
    %div{ng-if: "!stance.isNew()"}
    %md-button.md-primary.md-raised.poll-common-vote-form__submit{type: "submit", translate: "poll_common.vote", aria-label: "{{ 'poll_meeting_vote_form.vote' | translate }}"}
