.poll-poll-vote-form.lmo-drop-animation
  %h3.lmo-card-subheading{translate: "poll_common.your_response"}
  %poll_common_anonymous_helptext{ng-if: "stance.poll().anonymous"}
  .lmo-flex--column
    %md-button.lmo-align-left.poll-common-vote-form__button.poll-common-vote-form__button--block{md-colors: "mdColors(option)", ng-click: "select(option)", ng-repeat: "option in stance.poll().pollOptions() | orderBy: 'priority' track by option.id"}
      .poll-common-stance-icon__chip.lmo-margin-right{ng-style: "{'border-color': '{{option.color}}'}"}
      %span.poll-common-vote-form__option-name {{ option.name }}
  %validation_errors{subject: "stance", field: "stanceChoices"}
  %poll_common_add_option_button{poll: "stance.poll()"}
  %poll_common_stance_reason.animated{stance: "stance", ng-show: "stance.poll().multipleChoice || selectedOptionIds.length", ng-if: "stance"}

  .poll-common-form-actions.lmo-flex.lmo-flex__space-between
    %show_results_button{ng-if: "stance.isNew()"}
    %div{ng-if: "!stance.isNew()"}
    %md-button.md-primary.md-raised.poll-common-vote-form__submit{ng-click: "submit()", translate: "poll_common.vote", aria-label: "{{ 'poll_poll_vote_form.vote' | translate }}"}
