- author_name = notification.discussion.author.name
- group_name = notification.discussion.group.name
- discussion_title = notification.discussion.title
%li.notification-item
  %a{:href => discussion_path(notification.discussion) }
    %span.bold-name= author_name
    created a new discussion
    %span.bold-name= discussion_title
    in
    %span.bold-name= group_name
