%ul
  - if @notifications.empty?
    %li.notifications-placeholder= t :empty_notifications
  = render @notifications
:javascript
  var new_notifications_count = #{@unviewed_notifications.size}
  if (new_notifications_count > 0) {
    $('span#notifications-count').html(new_notifications_count)
  }
