.row
  .span8.offset2
    .clearfix
      %h1.panel-header Notifications
    %ul.selector-list
      - @notifications.each do |notification|
        = render notification
    = paginate @notifications, :window => 3
