.revision-history-modal
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi.mdi-history
      %h1.lmo-h1.modal-title{translate:"revision_history_modal.{{model.constructor.singular}}_header"}
      %dismiss_modal_button{aria-hidden: "true"}
  .md-dialog-content.revision-history-modal__body
    %revision_history_nav{model: "model"}
    %md-divider.revision-history-modal__divider
    %loading{ng-if:"!version"}
    .revision-history-modal__version{ng-if: "version"}
      .revision-history-modal__user.lmo-flex--row.lmo-flex__center.lmo-grey-on-white.md-body-1{ng-if: "!loading"}
        %user_avatar.lmo-margin-right--small{user:"version.author()" , size:"small"}>
        %span
          %strong.lmo-truncate> {{ version.authorName() }}
          %span>·
          %timeago.lmo-margin-right--small{timestamp: "version.createdAt"}
      %revision_history_content{ng-if:"!loading", model: "model", version:"version"}
