.poll-common-closing-at-field {
  margin: 16px 0;
}

.poll-common-closing-at-field__label {
  overflow: visible !important;
  color: rgba(0,0,0,0.38) !important;
}

.poll-common-closing-at-field {
  display: flex;
  flex-direction: column;
}

.poll-common-closing-at-field__zone {
  color: rgba(0,0,0,0.38);
  margin: -40px 0 0 0;
}

.poll-common-closing-at-field__inputs {
  display: flex;
}
