body {
  @include fontHelvetica;
  @include fontMedium;
  background-color: #f1f1f1;
  word-break: break-word;
}

h1 {
  @include fontHelveticaLight;
  @include fontGrande;
  padding: 0;
  margin: 0;
  color: $primary-text-color;
}

h2 {
  @include fontHelveticaLight;
  @include fontLarge;
  margin: 8px 0;
}

h3, h4 {
  @include fontHelveticaMedium;
  @include fontSmall;
  text-transform: uppercase;
  color: $kinda-dark-grey;
  margin-top: 22px;
}

h4{
  text-transform: none;
}

/* use .first if your heading is the first child */
.first{
  margin-top: 0;
}
.last{
  /* utility class to use when you want to fix up
     the margins on your card, e.g. if the last
     element in the card is a paragraph */
  margin-bottom: -10px;
}
.nowrap{
  white-space: nowrap;
}

.btn-icon{
  text-align: left;
}
.btn-success.btn-icon i.fa{ color: #fff; }
.btn-icon i.fa{ padding-right: 2px; }
.btn.btn-icon{ padding: 6px 12px 6px 9px;}
.avatar-initials{
  width: 30px;
  height: 30px;
  background: $thread-border-color;
  border: 1px solid #aaa;
  text-align: center;
  line-height: 30px;
}
.avatar-image img{
  width: 30px;
  height: 30px;
}
.lg .avatar-image img, .lg .avatar-initials{
  width: 50px;
  height: 50px;
}
.timeago{
  @include metaText;
}
.dropdown-menu-with-labels{
  padding: 15px;
  width: 300px;
}
.dropdown-menu-with-labels .fa-check{
  margin-left: 5px;
}
.dropdown-menu-items{
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown-menu-item{
  margin-bottom: 10px;
  cursor: pointer;
}
.disabled .dropdown-menu-item{
  cursor: auto;
}
.dropdown-menu-item.last{
  margin-bottom: 0;
}
li .dropdown-menu-item-label{
  font-weight: bold;
  line-height: 24px;
  i{
    font-weight: normal;
    width: 18px;
    color: $primary-text-color;
  }
}
.disabled .dropdown-menu-item{
  color: $kinda-dark-grey;
}

h3.dropdown-heading{
  margin: 0 0 10px 0;
  border-bottom: 1px solid $thread-border-color;
}
.dropdown-menu-right{
  right: 0;
}

.label-with-details{
  font-weight: bold;
}
.label-with-details-label:after{
  content: ": ";
}
.label-with-details-details{
  font-weight: normal;
}

label.label-with-details{
  margin-left: 5px;
}

.fa-volume-off-padded{margin: 0 6px 0 3px;}

.form-card{
  @include card;
  max-width: 480px;
  margin: 10px auto;
}

.form-group{
  margin-top: 20px;
}
input, select, textarea{
  margin-bottom: 10px;
}
textarea{
  min-height: 100px;
}

input[type="file"]{
  /*This is a hack for now to fix the mobile layout. The file input should be hidden.*/
  max-width: 200px;
}
