.menu-image { padding: 15px; }

#header{
  z-index: 1000;
  background: white;
  height: 48px;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 0 10px #aaa;
  width: 100%;
  position: fixed;
}
.container#main{
  padding-top: 48px;
  z-index: 0;
  min-width: 320px;
}
#sidebar{
  height: 100%;
  overflow: scroll;
  position: fixed;
  width: 320px;
  background: white;
  border: 1px solid $thread-border-color;
  padding-top: 60px;
}
