.unread-threads
  .selector-list-header
    .dropdown.inbox-filter
      %a.action.dropdown-toggle{href: ''}
        %span{translate: 'inbox.unread'}>
        %i.fa.fa-lg.fa-caret-down
      .dropdown-menu.dropdown-menu-with-labels
        %ul.dropdown-menu-items
          %li.dropdown-menu-item
            %span{translate: 'inbox.latest'}
          %li.dropdown-menu-item
            %span{translate: 'inbox.unread'}

  %ul.selector-list
    %li.selector-list-header
      %a.small-action.pull-right{href: '', translate: 'inbox.clear'}
      %h3 Group name

    %li.selector-list-item.is-unread{ng-repeat: 'discussion in currentUser.inboxDiscussions() | orderBy:["activeProposalClosedAt", "-lastActivityAt"]'}
      %a.cuke-inbox-item.selector-list-item-link{href: '/d/{{ discussion.key}}'}
        .selector-list-item-time-and-title
          .pull-right
            .fat-finger
              %i.fa.fa-times
          .selector-list-item-discussion-title
            {{discussion.title}}
            %span.selector-list-item-unread-comment-count 2
        .media.selector-list-item-proposal{ng-if: 'discussion.activeProposal()', ng-init: 'proposal = discussion.activeProposal()'}
          .media-left
            %mini_proposal_pie_chart{proposal: 'proposal'}
          .selector-list-item-proposal-details.media-body
            {{ proposal.name }}
            .time-left
              %span{translate: 'inbox.closing_in'}>
              %timeago{timestamp: 'proposal.closingAt'}>
