%md-dialog.tag-modal
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi.mdi-tag.mdi-24px
      %h1.lmo-h1{ng-if: "tag.isNew()", translate: "loomio_tags.modal_title"}
      %h1.lmo-h1{ng-if: "!tag.isNew()", translate: "loomio_tags.modal_edit_title"}
      %dismiss_modal_button
  .md-dialog-content
    %tag_form{tag: "tag"}
