.proposals-card
  %h3.first Proposal

  %div{ng_repeat: 'proposal in discussion.proposals()'}
    .active-proposal{ng-if: 'isExpanded(proposal)'}
      %proposal_expanded{proposal: 'proposal'}
      %h3{ng-show: "discussion.proposals().length > 1"} Previous proposals

    .inactive-proposal{ng-if: '!isExpanded(proposal)', ng_click: 'selectProposal(proposal)'}
      %proposal_collapsed{proposal: 'proposal'}
