.poll-common-action-panel
  %section{ng-if: "!poll.closedAt"}
    .md-block{ng-if: "userHasVoted()"}
      %poll_common_directive{stance: "stance", name: "change_your_vote"}
    .md-block{ng-show: "!userHasVoted()"}
      %poll_common_directive{ng-if: "userCanParticipate()", stance: "stance", name: "vote_form"}
      .poll-common-unable-to-vote{ng-if: "!userCanParticipate()"}
        %p.lmo-hint-text{translate: "poll_common_action_panel.unable_to_vote"}
        .lmo-md-actions
          %show_results_button
          %div
