.install_slack_progress
  .install-slack-progress__bar
  .install-slack-progress__dot
    %span{translate: "install_slack.install"}
  .install-slack-progress__dot
    %span{translate: "install_slack.invite"}
  .install-slack-progress__dot
    %span{translate: "install_slack.decide"}
