%ul.proposal-accordian
  %li.lmo-wrap{ng-repeat: "proposal in model.closedProposals() | orderBy:'-closedOrClosingAt' | limitTo: limit track by proposal.id", id: "proposal-{{proposal.id}}"}
    .proposal-accordian--expandable{ng-if: "expandable"}
      .active-proposal{ng-if: "selectedProposalId == proposal.id"}
        %outlet{name: "proposal-expanded", model: "proposal"}
      .inactive-proposal{ng-if: "selectedProposalId != proposal.id", ng-click: "selectProposal(proposal)"}
        %outlet{name: "proposal-collapsed", model: "proposal"}

    .proposal-accordian--link{ng-if: "!expandable"}
      %outlet{name: "proposal-preview-large", model: "proposal"}
      %a.proposal-link{ng-if: "!expandable", lmo-href-for: "group", lmo-href-for: "proposal"}
        .group-previous-proposals-card__proposal-title
          {{proposal.name | truncate:100:' ...'}}
