%ul.proposal-accordian
  %li.lmo-wrap{ng-repeat: "proposal in model.closedProposals() | orderBy:'-closedOrClosingAt' | limitTo: limit track by proposal.id", id: "proposal-{{proposal.id}}"}
    .proposal-accordian--expandable{ng-if: "expandable"}
      .active-proposal{ng-if: "selectedProposalId == proposal.id"}
        %outlet{name: "proposal-expanded", model: "proposal"}
      .inactive-proposal{ng-if: "selectedProposalId != proposal.id", ng-click: "selectProposal(proposal)"}
        %a.proposal-collapsed{href: "", id: "proposal-{{proposal.key}}"}
          .sr-only
            {{proposal.name}}.
            %proposal_closing_time{proposal: "proposal"}.
          .screen-only.proposal-collapsed__flex{aria-hidden: "true"}
            %outlet{name: "proposal-preview-large", model: "proposal"}
            .proposal-collapsed__body
              .proposal-collapsed__title
                {{proposal.name}}
                %proposal_closing_time.proposal-collapsed__closed-at{proposal: "proposal"}.
              .proposal-collapsed__outcome{ng-if: "proposal.hasOutcome()"}
                %span{translate: "proposal_collapsed.outcome"}>
                %span{marked: "proposal.outcome"}

    .proposal-accordian--link{ng-if: "!expandable"}
      %outlet{name: "proposal-preview-large", model: "proposal"}
      %a.proposal-link{ng-if: "!expandable", lmo-href-for: "group", lmo-href-for: "proposal"}
        .group-previous-proposals-card__proposal-title
          {{proposal.name | truncate:100:' ...'}}
