.proposal-accordian
  .lmo-wrap.proposal-accordian__proposal{ng-repeat: "proposal in model.closedProposals() | orderBy:'-closedOrClosingAt' track by proposal.id", id: "proposal-{{proposal.id}}"}
    .proposal-accordian__active{ng-if: "selectedProposalId == proposal.id"}
      %proposal_expanded{proposal: "proposal", can_collapse: "true"}

    .proposal-accordian__inactive{ng-if: "selectedProposalId != proposal.id", ng-click: "selectProposal(proposal)"}
      %proposal_collapsed{proposal: "proposal"}
