.decision-tools-card.lmo-card.lmo-no-print{ng-if: "canStartPoll()"}
  .lmo-flex.lmo-flex__space-between
    %h2.lmo-card-heading.decision-tools-card__title{translate: "decision_tools_card.title"}
    .lmo-hint-text{translate: "decision_tools_card.help_text"}
  %poll_common_start_form{discussion: "discussion"}
