%md-dialog.auth-modal.lmo-modal__narrow
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi.mdi-lock-open{ng-if: "!showBackButton()"}
      %a.auth-modal__back{ng-click: "back()", ng-if: "showBackButton()"}
        %i.mdi.mdi-keyboard-backspace
      %h1.lmo-h1{translate: "auth_form.sign_in_to_loomio", translate-values: "{site_name: siteName}"}
      %dismiss_modal_button{ng-if: "!preventClose"}
      %div{ng-if: "preventClose"}
  .md-dialog-content
    %auth_form{user: "user"}
