%form{ng-submit: "submit()"}
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1{translate: "cancel_invitation_form.heading"}

  .modal-body
    %span{translate: "cancel_invitation_form.question"}
  .modal-footer
    %button.lmo-btn--danger.cancel-invitation-form__submit{type: "submit", translate: "cancel_invitation_form.submit"}
    %button.lmo-btn--cancel{ng-click: "$close()", type: "button", translate: "cancel_invitation_form.cancel"}
