.poll-proposal-chart-panel
  %h3.lmo-card-subheading{translate: "poll_common.results"}
  .poll-proposal-chart-panel__chart-container
    %poll_proposal_chart.poll-proposal-chart-panel__chart{stance_counts: "poll.stanceCounts", diameter: "200"}
    %table.poll-proposal-chart-panel__legend{role: "presentation"}
      %tbody
        %tr{ng-repeat: "name in pollOptionNames() track by $index"}
          %td
            .poll-proposal-chart-panel__label{class: "poll-proposal-chart-panel__label--{{name}}"}
              {{ countFor(name) }} {{ translationFor(name) }}
