#add-members
  - if can? :add_members, group
    .clearfix
      - if group.parent.blank?
        =link_to(new_group_invitation_path(group), id: 'invite-people-btn', class: 'btn btn-gery') do
          =image_tag('member-18.png', :class => 'button-icon')
          Invite people
      - else
        = icon_button("#invite-subgroup-members", t(:add_new_member), '/assets/member-18.png', 'group-add-members', true)
        #invite-subgroup-members.modal.hidden
          = render 'subgroup_add_members', group: group
