#button-container
  - if can? :create, @discussion
    = icon_button(href: new_discussion_path(:group_id => @group.id), text: t(:start_a_discussion), icon: '/assets/topic-18.png', id: 'start-new-discussion', class: 'btn-grey')
  - if can?(:add_members, @group)
    = render 'invite_button', group: @group
  = render 'options_dropdown', group: @group
