- if discussions_awaiting_vote.present?
  .proposal-block
    %h3 PROPOSALS AWAITING YOUR DECISION
    .info-help{title: "Proposals awaiting your decision", "data-content"=> "Current discussions containing proposals that you have not yet decided on"}
    - discussions_awaiting_vote.each do |discussion|
      =render discussion, this_group: group
- if discussions_active.present?
  .proposal-block
    %h3 CURRENT DISCUSSIONS
    .info-help{title: "Current discussions", "data-content"=> "Discussions with recent activity (comments/decisions within the last week)"}
    - discussions_active.each do |discussion|
      =render discussion, this_group: group
- if discussions_inactive.present?
  .proposal-block
    %h3 INACTIVE DISCUSSIONS
    .info-help{title: "Inactive discussions", "data-content"=> "Discussions without any recent activity (no comments/decisions within the last week)"}
    - discussions_inactive.each do |discussion|
      =render discussion, this_group: group

:coffeescript
  $ ->
    @infoHelp = new Loomio.Views.Utils.InfoHelp
      el: $(".info-help")
