- title_exists = false
- group.discussions_sorted.each do |discussion|
  - if discussion_display_type(discussion) == type
    - unless title_exists
      %h4
        ="PROPOSALS INVITING YOUR VOTE" if type == 'motion'
        ="CURRENT DISCUSSIONS" if type == 'active'
        ="INACTIVE DISCUSSIONS" if type == 'inactive'
        .info= link_to image_tag("info.png"), "#"
      - title_exists = true
    =render discussion
- title_exists = false
