%h2= name

%table
  %thead
    - fields.each do |field|
      %th= @field_names.fetch(field) { field }
  %tbody
    - records.each do |record|
      %tr
        - fields.each do |field|
          %td= record.send(field)
