#group-form.row
  .span10
    =semantic_form_for(@group) do |f|
      =f.input :name, label: "Group Name:"#, placeholder: "Group Name"
      %hr
      .privacy-settings
        %h3 Privacy Settings
        =f.input :viewable_by, as: :select, collection: [:everyone, :members],
          member_label: Proc.new { |option| group_permissions_label(option) },
          label: "Who can see this group?"
        =f.input :members_invitable_by, as: :select, collection: [:members, :admins],
          member_label: Proc.new { |option| group_permissions_label(option) },
          label: "Who can invite members to this group?"
      =f.commit_button
