.sub-panel
  .membership-count.label
    = @invited_users.count
  %h4= t(:invited_users)
  %ul#invited-users
    - @invited_users.each do |user|
      %li{:id => user.id}
        .clearfix
          = render 'avatar', user: user, size: "small", kind: nil, id: nil
          %span.membership-user-name
            = truncate(user.email, :length => 35, :omission => '...')
