%li{:id => user.id}
  .clearfix
    = render 'avatar', user: user, size: "small", kind: nil, id: nil
    .user-name
      - name_length = (user.is_group_admin?(group) or (can? :edit, group and current_user.is_group_admin?(group))) ? 18 : 35
      %span.membership-user-name
        = link_to truncate(user.name, :length => name_length, :omission => '...'), "#",
          "title" => user.name, "data-content" => "#{render 'users/name_popover',
          user: user, group: group }", class: 'user-name-with-popover'
    .admin-controls
      - if user.is_group_admin?(group)
        = t :group_admin
