%li
  #member-requests
    .user-name
      = truncate(membership_request.user_name, :length => 29, :omission => '...')
    .admin-controls
      =link_to 'Approve', approve_membership_path(membership_request,
        {:membership => {:access_level => 'member'}}),
        :method => :post,
        :confirm => "Are you sure you want to add #{membership_request.user_email} to the group?"
      -confirm = "Are you sure you want to ignore the member "
      -confirm << "request from #{membership_request.user_email}?"
      =link_to "×", membership_path(membership_request), method: :delete, class: 'close',
        :confirm => "Are you sure you want to ignore the member request from #{membership_request.user_email}?"
