- unless group.hide_members && (cannot? :edit, group)
  .sub-panel
    .membership-count.label
      = group.users.count
    %h4= t :members
    = render 'add_members', group: group
    %ul#users-list
      - group.users.each do |user|
        = render 'membership', user: user, group: group
