- unless group.hide_members && (cannot? :edit, group)
  .sub-panel
    %h3 Members
    #membership-count.label
      = group.memberships.count
    = render 'add_members', group: group
    %ul#users-list
      = render :partial => 'membership',
        :collection => group.memberships,
        :locals => { group: group }
