- if group
  %h1
    - if group.is_a_subgroup?
      = link_to group.parent.name, group.parent
      %span.separator &dash;
    = link_to group.name, group
    = render 'groups/privacy', :group => group
