- unless can? :add_members, group
  -if !user_signed_in?
    = icon_button(href: new_group_membership_request_path(group), text: t(:request_membership), icon: '/assets/group.png', id: 'request-membership', class: 'btn-info' )
  -elsif not group.users_include?(current_user)
    - membership_request = group.membership_requests.where(requestor_id: current_user.id, response: nil).first
    - if membership_request.present?
      = icon_button(href: cancel_membership_request_path(membership_request), method: 'delete', text: t(:cancel_membership_request), icon: '/assets/group-dark.png', id: 'membership-requested', class: 'btn-grey', 'data-confirm' => t(:confirm_remove_membership_request))
    - else
      - if group.is_a_parent? || group.user_is_a_parent_member?(current_user)
        = icon_button(href: new_group_membership_request_path(group), text: t(:request_membership), icon: '/assets/group.png', id: 'request-membership', class: 'btn-info' )
