- subgroups = group.subgroups.select{|g| can?(:show, g) }
- if subgroups.any? or can?(:add_subgroup, group)
  .panel.panel-default
    .panel-heading
      %h4= t :subgroups
    .panel-body
      %ul.group-links
        - subgroups.each do |subgroup|
          %li.group-link
            = link_to subgroup.name, group_path(subgroup)
    - if (can? :add_subgroup, group) && group.users.include?(current_user)
      .panel-footer
        = link_to t(:create_a_subgroup), add_subgroup_group_path(group), id: 'subgroup-new'
