#sub-groups
  .sub-panel
    %h3 Sub-groups
    - if (can? :add_members, group) && group.users.include?(current_user)
      = icon_button(add_subgroup_group_path(group), 'Create a sub-group', '/assets/group-18.png', 'request-new-subgroup')
    %ul.group-links
      - subgroups.each do |subgroup|
        %li
          .group-link
            = link_to subgroup.name, group_path(subgroup), :class => 'view_'+subgroup.viewable_by.to_s
            - if user_signed_in?
              = render '/application/group_activity', user: current_user, group: subgroup
