.sub-panel#subscription_prompt
 %h4
  %span.heart-icon ❤
  Pay what you can
 %p Your group has not yet chosen a subscription. You can choose whatever is right for your group, even $0!
 %p
  = link_to "Set up your subscription", group_subscription_path(@group), class: 'bottom-panel-link'
