%h4.title-row Sub-groups
%ul#group-list
  - group.subgroups.each do |subgroup|
    %li
      = render "dashboard/group_link", group: subgroup
- if group.users.include?(current_user)
  = link_to "Create a Sub-group", group_add_subgroup_path(group),
    class: "btn primary small"

