#sub-groups
  .sub-panel
    %h3 Sub-groups
    - if (can? :add_members, group) && group.users.include?(current_user)
      %a#subgroup-new.group-add-members.btn.btn-small.btn-icon{href: add_subgroup_group_path(group)}
        .small-icon.group-icon
        .btn-text Create a sub-group
    %ul
      - subgroups.each do |subgroup|
        %li= render "dashboard/group_link", group: subgroup
