- set_title "", "New Sub-group"
.page-container
  = render '/groups/title', group: GroupDecorator.decorate(@parent)
  #new-subgroup
    %h2 Add a sub-group
    = render 'form', group: @group, parent: @parent, submit_text: "Create sub-group", disable_text: "Creating sub-group"