.page-container
  = render '/groups/title', group: GroupDecorator.decorate(@parent)
  #new-subgroup
    %h2.page-title Add a subgroup to #{@parent.name}
    = render :partial => 'form',
      :locals => { :group => @subgroup, parent: @parent, submit_text: "Create group", :data => { :disable_with => "Creating group" } }