- set_title @group.name, t(:edit_group)
= render '/groups/title', group: @group
= render 'form', group: @group, parent: @parent, submit_text: t(:update_group), disable_text: t(:updating_group), form_title: t(:edit_group)
