- set_title @group.name, t(:edit_group)
= render '/groups/title', group: @group
.row
  .col-md-6
    %h2= t :edit_group
    = render 'form', group: @group, parent: @parent, submit_text: t(:update_group)
