%h2
  =@group.name
=semantic_form_for(@membership) do |f|
  %input{name: "membership[group_id]", type: :hidden, value: @group.id}
  =f.buttons do
    =f.commit_button "request access to this group"
-# =link_to "request membership to this group", memberships_path, {action: :update}, group_id: @group_id #method: :post, membership: {group_id: @group.id}
