%h1=@group.name
-# Commenting out admin name, as it is not terribly useful
-#-@group.admins.each do |a|
  -#=a.email
.row

  %ul{:class => "tabs", :data => {:tabs => "tabs"}}
    %li
      %a{:href => "#motions"} Motions
    -#AC TODO change active to motions tab
    %li{:class => "active"}
      %a{:href => "#users"} Users
    
  .tab-content 
    #motions.span8.tab-pane
      =render :partial => 'motions'
    -#AC TODO change active to motions tab
    #users.span8.tab-pane.active
      =render :partial => 'users'