#group
  .row.header-space
    %h2.group-title
      = @group.name
      = link_to "Edit group", edit_group_path(@group), class: "btn small"
    .span11
      %h4.padding
        Open motions
        #btn-create-motion
          - if @group.users_include? current_user
            = link_to "Create a motion",
            new_motion_path({group_id: @group.id}), :class => 'btn primary small'
      .motions-list
        - @group.motions.voting.each do |motion|
          - motion.open_close_motion
          =render "home/expandable_list", motion: motion
      %h4 Closed motions
      .motions-list
        - @group.motions.closed.each do |motion|
          =render "home/expandable_list", motion: motion
    .span5
      =render 'users', group: @group
