%h1=@group.name
-@group.admins.each do |a|
  =a.email
.row
  #motions.span8
    %h3 Motions:
    %ul.unstyled
      -@group.motions.each do |motion|
        %li=link_to motion.name, motion
    =link_to "Create a motion",
      new_motion_path({group_id: @group.id}), :class => 'btn primary'
  #users.span8
    %h3 Users:
    %ul.unstyled
      =render :partial => 'membership', :collection => @group.memberships
    -if @group.membership_requests.present?
      #user-requests
        %h3 User Requests:
        %ul.unstyled
          =render :partial => 'membership_request', :collection => @group.membership_requests
