#group
  Group
  %p#name
    %strong Name:
    =@group.name

  #motions
    %strong Motions:
    %ul
      -@group.motions.each do |motion|
        %li=link_to motion.name, group_motion_path(motion)

  #users
    %strong Users:
    %ul
      -@group.users.each do |user|
        %li
          -m = user.memberships.find_by_group_id(@group.id)
          =user.email
          -# =m.access_level
          =link_to "edit membership", edit_membership_path(m)
  #user-requests
    %strong User Requests:
    %ul
      -@group.membership_requests.each do |mr|
        %li
          -user = mr.user
          =user.email
          =link_to 'approve', membership_path(mr, 
            {:membership => {:access_level => 'member'}}), 
            :method => :put, 
            :confirm => "Are you sure you want to add #{mr.user.email} to the group?"
          -confirm = "Are you sure you want to ignore the member "
          -confirm << "request from #{mr.user.email}?"
          =link_to "ignore", membership_path(mr), method: :delete, 
            :confirm => "Are you sure you want to ignore the member request from #{mr.user.email}?"
    -# %p
    -#   add user:
    -#   =semantic_form_for(@group, :url => group_path(@group)) do |f|
    -#     =f.input :user, :as => :select, :collection => @group.users

