.fragment.fragment__close-thread
  %p.lmo-hint-text{translate: "close_explanation_modal.body_header"}
  .fragment__img-container
    %img{src: "/img/closing-threads.png", alt: "{{ 'close_explanation_modal.image_alt' | translate }}"}
  %p.lmo-hint-text{translate: "close_explanation_modal.body_footer"}
