.fragment.fragment__deactivate-user-confirmation
  %md-input-container.md-block.md-no-errors
    %label{translate: "deactivate_user_form.question"}
    %textarea.lmo-textarea{ng-model: "user.deactivationResponse", placeholder: "{{ 'deactivate_user_form.placeholder' | translate }}"}
