.fragment.fragment__deactivate-user
  %p{translate: "deactivation_modal.introduction"}
  %ul
    %li{translate: "deactivation_modal.no_longer_group_member"}
    %li{translate: "deactivation_modal.name_removed"}
    %li{translate: "deactivation_modal.no_emails"}
    %li{translate: "deactivation_modal.you_can_reactivate"}
