.fragment.fragment__delete-user
  %p{translate: "delete_user_modal.irreversable"}
  %ul
    %li{translate: "deactivation_modal.no_longer_group_member"}
    %li{translate: "deactivation_modal.name_removed"}
    %li{translate: "deactivation_modal.no_emails"}
    %li{translate: "delete_user_modal.you_will_be_deleted"}
