.fragment.fragment__mute-thread
  %p.lmo-hint-text{translate: "mute_explanation_modal.body_html"}
  .fragment__img-container
    %img{src: "/img/muted-threads-sidebar.png", alt: "{{ 'mute_explanation_modal.image_alt' | translate }}"}
  %p.lmo-hint-text{translate: "mute_explanation_modal.body_html_2"}
