.fragment.fragment__pin-thread
  %p.lmo-hint-text{translate: "pin_thread_modal.helptext"}
  .fragment__img-container
    %img.pin-thread-modal__image{src: "img/pinning.png"}
  %p.lmo-hint-text{translate: "pin_thread_modal.helptext_two"}
