.poll-meeting-form__closing-at {
  margin-top: 24px;
}

.poll-meeting-form__options {
  margin-top: -20px;
}

.poll-meeting-form__poll-option-names {
  padding: 0 0 0 6px !important;
}

.poll-meeting-form__poll-option-names .poll-meeting-form__option-button {
  margin-right: 0;
}

.poll-meeting-form__option-button {
  margin: 0 16px;
  font-size: 24px;
}

.poll-meeting-form__label-and-timezone {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.poll-meeting-form__datepicker input {
  max-width: 100%;
}
