.modal-header
  %modal_header_cancel_button
  %h3.modal-title{translate: "delete_comment_dialog.title"}

.modal-body
  %flash{modal: "true"}
  %span{translate: "delete_comment_dialog.question"}

.modal-footer
  %button.lmo-btn--danger{ng-click: "submit()", translate: "delete_comment_dialog.confirm"}
  %button.lmo-btn--cancel{ng-click: "cancel($event)", translate: "common.action.cancel"}
