.page-container
  -if signed_in?
    =image_tag("loomio-orange.png", :id => "large-logo")
  #new-request
    .row
      %h2.span8.offset2 Thanks for getting in touch!
    .row
      .span6.offset2
        %p &nbsp;
        %p We're taking care to not grow too quickly, so we're manually approving each request. We’ll be in contact soon to let you know what to do next.
      .span2
        =image_tag("mascot-medium-lefthand.gif")
