.page-container
  =image_tag("loomio-orange.png")
  #new-request
    .row
      %h2.span8.offset2 Thanks for getting in touch!
    .row
      .span6.offset2
        %p &nbsp;
        %p Please check your email for a verification link so that we know communication with you is getting through. Make sure to click the link inside the email to finalise your request. Contact us at <a href=mailto:contact@loomio.org>contact@loomio.org</a> if you don't receive an email.
      .span2
        =image_tag("mascot-medium-lefthand.gif")
