.row
  .span8
    %h1 Thanks for your request to use Loomio.
    %h3
      We're trying not to grow too quickly, so we're manually approving each request.
      As soon as we have approved your request,
      we'll send you an email with instructions of what to do next.
