.row
  .offset3.span6
    %h1 Thanks for getting in touch!
    %p We're taking care to not grow too quickly, so we're manually approving each request. We’ll be in contact soon to let you know what to do next.
