.row
  .col-md-6
    #intro
      %h1.beta-header= t(:'group_request.beta_request_header')
      %p.beta-desc= t(:'group_request.beta_request_description')
    = render 'form', submit_label: t(:"common.start_group"), placeholder: t(:'group_request.neighbourhood_support_group')
