.row
  .col-md-6
    #intro
      %h1.beta-header= t(:'group_request.header')
      %p.beta-desc= t(:'group_request.desc')
    = render 'form', placeholder: t(:'group_request.neighbourhood_support_group')
