.row
  .span8.offset1
    #intro
      %h1 Start your group
.row
  .span5.offset1
    = render 'form', submit_label: t(:start_group), placeholder: "e.g. Neighbourhood Support Group"
  .span4
    = render 'groups/payment_model_info'
