.row
  .col-md-5.offset1
    #intro
      %h1 Try Loomio for free
.row
  .col-md-5.offset1
    = render 'form', submit_label: "Start your free trial!", placeholder: "e.g. Jane's Accounting Service"
  .col-md-5
    .info-box#organisation
      = render 'groups/subscriptions/pricing_table'
      %p
        You'll be asked to enter credit card details at the end of your
        %span 30-day free trial.
      %p
        If this fee is outside your means, ask us about a scholarship:
        = mail_to "accounts@loomio.org"
