.page-container
  =image_tag("loomio-orange.png")
  .row
    .span6.offset2
      %h1 Success!

      %p Your request has been received. Our friendly humans will review it and we'll get back to you within 48 hours.

      %br

      %Strong While you're waiting...

      %p Now it's a good time to talk to your group about Loomio. Here's a one-pager about how Loomio works and how what it can offer your group.
