.span2.group-name= group.name
.span3.group-val.btn-group{:id => "ng-"+group.name }
  =link_to "All", set_noise_user_path(user, {:noise => '0', :group => group}), :method => :post, :remote => true, :id => "ng-#{group.name}-0", :class => ((user.get_group_noise_level(group) == 0) ? 'btn active' : 'btn')
  =link_to "On", set_noise_user_path(user, {:noise => '1', :group => group}), :method => :post, :remote => true, :id => "ng-#{group.name}-1", :class => ((user.get_group_noise_level(group) == 1) ? 'btn active' : 'btn')
  =link_to "Off", set_noise_user_path(user, {:noise => '2', :group => group}), :method => :post, :remote => true, :id => "ng-#{group.name}-2", :class => ((user.get_group_noise_level(group) == 2) ? 'btn active' : 'btn')