#user-email-popover
  .clearfix
    .medium-user-avatar.avatar-canvas
      - if user.avatar_url
        = image_tag user.avatar_url(:medium)
      - else
        %span.medium-user-initials.initials-decoration
          = user.avatar_initials
    .user-details
      = mail_to user.email
