#user-email-popover
  .clearfix
    = render 'avatar', user: user, size: "med-large", kind: nil, id: nil
    - if current_user && current_user.is_group_member?(group)
      .user-details
        = mail_to user.email
