%h1 Email Preferences
=simple_form_for(@user) do |f|
  %h2 Daily Activity Summary
  -if params[:unsubscribe_token]
    =hidden_field_tag :unsubscribe_token, params[:unsubscribe_token]
  =f.input :subscribed_to_daily_activity_email, :inline_label => 'Send me a daily activity email summarising what’s been happening in my groups', :label => false

  -#=f.input :subscribed_to_mention_notifications, label: 'When someone mentions your name'
  %h2 Global Notifications
  =f.input :subscribed_to_proposal_closure_notifications, :inline_label => 'Remind me 24 hours before a proposal closes', :label => false
  =f.input :subscribed_to_mention_notifications, :inline_label => 'Email me when someone mentions me in a comment', :label => false

  %h2 Group Activity Notifications
  %p For each group, check the box if you want to be emailed immediately about new discussions and decisions.

  .control-group
    =f.collection_check_boxes :group_email_preferences, @user.memberships.select{|m| m.group }.sort{|a,b| a.group_full_name <=> b.group_full_name}, :id, :group_full_name, {}, {:class => 'checkbox'}{ |input| input.label(:class => 'checkbox') { input.check_box + input.text } }

  =f.submit 'Update preferences', :class => "btn btn-info btn-large"
