#user-profile
  .row
    .span3
      = render 'avatar', user: @user, size: "large", kind: nil, id: 'avatar-preview'
    .span8
      %h1= @user.name
      %p.username= "@" + @user.username
      %p.email= mail_to @user.email
