.blank
  %section.lmo-card.pending-invitations-card{ng-if: "canSeeInvitations() && group.hasPendingInvitations()"}
    %h3.lmo-card-heading{translate: "pending_invitations_card.heading"}
    .pending-invitations-card__pending-invitations
      .lmo-flex.lmo-flex__center.pending-invitations-card__invitation{layout: "row", ng-repeat: "invitation in group.pendingInvitations() track by invitation.id"}
        .lmo-flex__grow.lmo-flex{layout: "column"}
          %span {{invitation.recipientEmail.split('@')[0]}}
          .lmo-hint-text{translate: "pending_invitations_card.sent_at", translate-value-date: "{{invitationCreatedAt(invitation)}}"}
        .memberships-page__actions
          %loading{ng-if: "invitation.resending"}
          %md-button.md-accent{ng-if: "!invitation.resending", ng-click: "resend(invitation)", translate: "common.action.resend"}
          %md-button.md-accent{type: "button", clipboard: "true", text: "invitation.url", on-copied: "copied()"}
            %span{translate: "pending_invitations_card.copy_url"}
          %md-button.md-warn{ng-click: "openCancelForm(invitation)", translate: "pending_invitations_card.revoke_invitation"}
