.blank
  %section.pending-invitations-card{ng-if: "canSeeInvitations() && group.hasPendingInvitations()"}
    %h3.lmo-card-heading{translate: "pending_invitations_card.heading"}
    %table.pending-invitations-card__pending-invitations
      %thead
        %tr
          %td
            %strong{translate: "pending_invitations_card.email"}
          %td.lmo-desktop-only
            %strong{translate: "pending_invitations_card.invitation_link"}
          %td.lmo-desktop-only
            %strong{translate: "pending_invitations_card.sent"}
          %td.align-center
            %strong{translate: "pending_invitations_card.revoke"}
      %tbody
        %tr{ng-repeat: "invitation in group.pendingInvitations() track by invitation.id"}
          %td.pending-invitations-card__email
            %span {{invitation.recipientEmail}}
          %td.lmo-desktop-only
            %span {{baseUrl}}invitations/{{invitation.token}}
          %td.lmo-desktop-only
            %span {{invitationCreatedAt(invitation)}}
          %td.align-center
            %md-button.pending-invitations-card__cancel-link{ng-click: "openCancelForm(invitation)"}
              %i.material-icons clear
