.poll-meeting-form
  %poll_common_tool_tip{poll: "poll"}

  %md-input-container.md-block
    %label{translate: "poll_common_form.title"}
    %input.lmo-primary-form-input.poll-meeting-form__title{type: "text", placeholder: "{{'poll_meeting_form.title_placeholder' | translate}}", ng-model: "poll.title", md-maxlength="250"}
    %validation_errors{subject: "poll", field: "title"}

  %md-input-container.md-block
    %label{translate: "poll_common_form.details"}
    %textarea.lmo-primary-form-input.poll-meeting-form__details{ng-model: "poll.details", placeholder: "{{'poll_meeting_form.details_placeholder' | translate}}", mention-field: "true"}
    %outlet{name: "after-poll-form-textarea", model: "poll"}

  %md-input-container.md-block
    %label{translate: "poll_meeting_form.meeting_duration"}
    %md-select{ng-model: "poll.customFields.meeting_duration"}
      %md-option{ng-repeat: "duration in durations", ng-value: "duration.minutes"}
        {{duration.label}}

  %poll_common_attachment_form{poll: "poll"}

  %poll_common_form_options{poll: "poll"}

  %poll_common_closing_at_field.md-block{poll: "poll"}
  %poll_common_notify_group{model: "poll", notify-action: "{{poll.notifyAction()}}"}
  %poll_common_voter_add_options{poll: "poll"}
  %poll_common_notify_on_participate{poll: "poll"}
  %poll_common_form_actions{poll: "poll", submit: "submit", back: "back"}
