.poll-meeting-form__closing-at {
  margin-top: 24px;
}

.poll-meeting-form__options {
  margin-top: -20px;
}

.poll-meeting-form__label-and-timezone {
  margin-bottom: 16px;
  @include displayFlex;
  justify-content: space-between;
  align-items: baseline;
}
