.poll-common-footer
  = link_to t(:"poll_mailer.common.view_on_loomio"), @info.links[:target]
  %span= t(:"poll.common.or")
  = link_to t(:"poll_mailer.common.unsubscribe"), @info.links[:unsubscribe]
  .poll-common-footer__logo= image_tag "logo.png", alt: "Loomio"
