%p.poll-mailer__text-align-center.poll-mailer__create_outcome
  = link_to t('poll_mailer.common.create_outcome'), target_url(args: {set_outcome: true}, poll: poll, recipient: recipient), class: 'base-mailer__button base-mailer__button--accent'
