%table.poll-mailer-common__discussion-info
  %tr
    %td
      - if logo = discussion.group.logo_or_parent_logo.presence
        %img.poll-mailer-common-avatar__image{src: asset_url(logo.url(:card))}
      - else
        %img.poll-mailer-common-avatar__image{src: asset_url(AppConfig.theme[:default_group_logo_src])}
    %td
      = link_to discussion.group.full_name, group_url(discussion.group)
      %span -
      = link_to discussion.title, discussion_url(discussion)
