%table.poll-mailer-common__discussion-info
  %tr
    %td
      - if logo = discussion.group.logo_or_parent_logo.presence
        %img.poll-mailer-common-avatar__image{src: asset_url(logo.url(:card))}
      - else
        %img.poll-mailer-common-avatar__image{src: asset_url(AppConfig.theme[:icon_src])}
    %td
      = link_to discussion.group.full_name, target_url(args: {back_to: group_url(discussion.group)}, poll: poll, recipient: recipient)
      %span -
      = link_to discussion.title, target_url(args: {back_to: discussion_url(discussion)}, poll: poll, recipient: recipient)
%p= render_rich_text(discussion.body, discussion.body_format)
= render "discussion_mailer/attachments", resource: discussion
