%table.poll-mailer__subject
  %tr
    %td= render "avatar", user: event.user
    %td
      %span=raw t(:"poll_mailer.#{poll.poll_type}.header.#{action_name}", actor: event.user.name, title: poll.title)
