%table.poll-mailer__subject
  %tr
    %td= render "avatar", user: event.user
    %td
      %span=raw t(:"poll_mailer.header.#{action_name}", actor: event.user.name, title: poll.title, poll_type: t("poll_types.#{poll.poll_type}"))
