%table.poll-mailer__subject
  %tr
    %td= render 'vtfy/avatar', user: event.user
    %td
      .text-caption=raw t(:"poll_mailer.header.#{action_name}", actor: event.user.name, title: poll.title, poll_type: t("poll_types.#{poll.poll_type}"))

= render 'base_mailer/recipient_message', event: event
