%table.poll-mailer__subject
  %tr
    %td= render "avatar", user: event.user
    %td
      %span=raw t(:"poll_mailer.header.#{action_name}#{poll.wip? ? "_wip" : ''}", actor: event.user.name, title: poll.title, poll_type: t("poll_types.#{poll.poll_type}"))
  - if event.recipient_message.present?
    %tr
      %td(colspan=2)
        =raw strip_tags(event.recipient_message.to_s).gsub(/(?:\n\r?|\r\n?)/, '<br>')
