-# Sorry mom.
- @info = PollEmailInfo.new(poll: poll, recipient: @recipient, action_name: 'missed_yesterday')

= render "poll_mailer/common/summary"
= render "poll_mailer/#{@info.poll_type}/chart"
= render "poll_mailer/common/vote"
