.poll-mailer-common-option-added
  %table
    - poll.poll_options.where(name: event.custom_fields['poll_option_names']).each do |option|
      %tr= render 'poll_mailer/common/poll_option', poll_option: option, poll: poll, recipient: recipient
