- if poll.undecided.any?
  %h3= t(:"poll_mailer.common.undecided_members", count: poll.undecided.count)
  %table
    - poll.undecided.each do |user|
      %tr
        %td= render 'base_mailer/avatar', user: user
        %td= user.name
    -# - if @info.undecided.count > @info.undecided_max
    -#   %tr
    -#     %td
    -#     %td= t(:"poll_mailer.common.more_undecided", count: @info.undecided.count - @info.undecided_max)
