.poll-ranked-choice-vote-form {
  .poll-common-vote-form__option {
    width: 100%;
    padding-right: 0;
    box-shadow: $whiteframe-shadow-2dp;
    background: $card-background-color;
    &--selected {
      background: $item-highlight-color
    }
  }
  .poll-common-vote-form__border-chip {
    min-height: 36px;
  }
}

.poll-ranked-choice-vote-form__drag-handle {
  color: $border-color;
}

.poll-ranked-choice-vote-form__cutoff {
  padding-bottom: 16px !important;
  border-bottom: 1px solid $border-color
}

.poll-ranked-choice-vote-form__ordinal {
  margin-bottom: 16px;
}
