%a.selector-list-item-link{ng-href: '{{link()}}', ng-controller: 'NotificationController'}
  .media-left
    %user_avatar{user: "actor"}
  .media-body
    %span{translate: 'notifications.comment_replied_to', translate-value-name: '{{actor.name}}', translate-value-discussion: '{{event.discussion().title}}' }
