%a.selector-list-item-link{ng-href: '{{link()}}', ng-controller: 'NotificationController'}
  .media{ng-if: "event.membershipRequest().byExistingUser()"}
    .media-left
      %user_avatar{user: "event.membershipRequest().actor()", size: 'small'}
      %img.lmo-box--small.lmo-rounded-corners{src: "{{group.logoUrl()}}", aria-hidden: 'true'}
    .media-body
      %span{translate: 'notifications.membership_requested', translate-value-name: '{{event.membershipRequest().actor().name}}', translate-value-group: '{{event.membershipRequest().group().fullName()}}' }

  .media{ng-if: "!event.membershipRequest().byExistingUser()"}
    .media-left
      %img.lmo-box--small.lmo-rounded-corners{src: "{{event.membershipRequest().group().logoUrl()}}", aria-hidden: 'true'}
    .media-body
      %span{translate: 'notifications.membership_requested', translate-value-name: '{{event.membershipRequest().name}}', translate-value-group: '{{event.membershipRequest().group().fullName()}}' }
