.notifications__button {
  position: relative;
}

.notifications__dropdown {
}

.notifications__activity {
  font-size: 0.5em;
  color: white;
  padding: 2px;
  position: absolute;
  left: 18px;
  top: 4px;
}
