.dropdown{on-toggle: 'toggled(open)'}
  %button.btn.lmo-btn-nude.lmo-navbar__btn.lmo-navbar__btn--notifications.lmo-navbar__btn-icon.notifications__button.dropdown-toggle.has-badge{href: '#', tabindex: 4}
    .sr-only{translate: 'navbar.notifications'}
    %i.fa.fa-lg.fa-fw{aria-hidden: 'true', ng-class: '{"fa-bell": unread(), "fa-bell-o": !unread()}'}
    %span.badge.notifications__activity{ng-if: 'unread()'}
      {{unreadCount()}}
  .dropdown-menu.dropdown-menu-right.dropdown-menu-with-selector-list.notifications__dropdown{role: 'menu'}
    .navbar-notifications
      %ul.selector-list
        %li.selector-list-header{translate: "notifications.header", role: 'heading'}
        %li.selector-list-item.media{ng_repeat: 'notification in notifications()', ng-include: '"generated/components/notifications/" + notification.event().kind + ".html"'}
