%a.selector-list-item-link{ng-href: '{{link()}}', ng-controller: 'NotificationController'}
  .media-left
    %user_avatar{user: "actor", size: 'small'}
  .media-body
    %span{translate: 'notifications.user_mentioned', translate-value-name: '{{actor.name}}', translate-value-title: '{{event.comment().discussion().title}}' }
