%md-dialog.poll-common-modal
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi{class: "{{icon()}}"}
      %h1.lmo-h1{ng-switch: "currentStep"}
        %span{ng-switch-when: "choose", translate: "poll_common.start_poll"}
        %span{ng-switch-when: "save", translate: "poll_common.start_poll"}
        %span{ng-switch-when: "announce", translate: "announcement.form.poll_announced.title"}
      %dismiss_modal_button
  %md-dialog-content
    .lmo-slide-animation{ng-switch: "currentStep"}
      %poll_common_choose_type.animated{ng-switch-when: "choose", poll: "poll"}
      %poll_common_directive.animated{ng-switch-when: "save", poll: "poll", name: "form", modal: "true"}
      %announcement_form.animated{ng-switch-when: "announce", announcement: "announcement"}
    %dialog_scroll_indicator
  %md-dialog-actions.lmo-slide-animation{ng-if: "currentStep == 'save'"}
    %poll_common_form_actions.animated{poll: "poll"}
