.poll-common-votes-panel__stance {
  margin: 7px 0;
}

.poll-common-votes-panel__stance-icon {
  width: 40px;
  height: 40px;
}

.poll-common-votes-panel__stance-content {
  margin-left: 10px;
}

.poll-common-votes-panel__no-votes {
  color: $grey-on-white;
  font-style: italic;
}
