$baseFontSize: 14px;
$baseLineHeight: 18px;

$font-tinywiny: 0.7em;
$font-tiny: 0.8em;
$font-smaller: 0.85em;
$font-small: 0.9em;
$font-medium: 1em;
$font-medium-large: 1.2em;
$font-large: 1.3em;
$font-xlarge: 1.5em;
$font-xxlarge: 1.7em;
