.modal-dialog.modal-confirm-gift-plan-modal {
  max-width: 450px;
  width: auto;
}

.confirm-gift-plan-modal {
  input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 7px;
  }
}

.confirm-gift-plan-modal__go-back-button {
  @include lmoBtnFeatured;
  float: left;
}

.confirm-gift-plan-modal__submit-button {
  @include lmoBtnOffer;
}

.confirm-gift-plan-modal__label {
  display: flex;
}
