.confirm-gift-plan-modal
  .modal-header
    %h1.lmo-h1.modal-title{translate: "confirm_gift_plan_modal.heading"}

  .modal-body
    .confirm-gift-plan-modal__body
      %p{translate: "confirm_gift_plan_modal.body"}

  .modal-footer.lmo-clearfix
    %button.confirm-gift-plan-modal__submit-button{type: "button", ng-click: "submit()", translate: "confirm_gift_plan_modal.got_it"}
    %button.confirm-gift-plan-modal__go-back-button{type: "button", ng-click: "choosePlan()", translate: "confirm_gift_plan_modal.go_back"}
