.confirm-gift-plan-modal {
  max-width: 500px;
  width: auto;
}

.confirm-gift-plan-modal__go-back-button {
  @include lmoBtnFeatured;
  float: left;
}

.confirm-gift-plan-modal__submit-button {
  @include lmoBtnOffer;
}

.confirm-gift-plan-modal__label {
  display: flex;
}
