.membership-requests-card{
  @include card;
}

.membership-requests-card__pending-requests{
  list-style: none;
  padding-left: 0px;
}

.membership-requests-card__requestor-name{
  font-weight: 600;
  font-size: 12px;
}

.membership-requests-card__requestor-introduction{
  color: $grey-on-white;
  font-size: 12px;
}
