.add-comment.media
  .media-left
    %img{src: 'http://placehold.it/40x40'}
  .media-body
    .card-row.fake{ng-hide: 'isExpanded'}
      %input.form-control{placeholder: "Write a comment...", ng_focus: "expand()", id: 'fake_comment_input'}
    .card-row.real{ng-show: 'isExpanded'}
      %comment_form{comment: 'comment'}

      -#.comment-row.comment-attachments{ng_repeat: 'attachment in comment.attachments()'}
        -#%a.attachment-link{ng_href: '{{attachment.location}}', target: '_blank'}
          -#{{ attachment.filename }}
        -#%span.attachment-filesize
          -#({{ attachment.filesize | fileSize }})
      -#%add_attachment{comment: 'comment'}
