.attachments
  .attachment-new.img-rounded{ng_hide: 'isAttaching'}
    %input{type: 'file', ng_file_select: 'upload($files)'}
    %i.fa.fa-2x.fa-paperclip.cover-file-upload
  .attachment-in-progress{ng_show: 'isAttaching'}
    .attachment-filename {{ uploadingFilename }}
    .progress.active
      %progressbar.progress-striped.active{value: 'percentComplete'}
        {{ percentComplete }} %
      %button.close.cancel-upload{ng_click: 'upload.abort()'} &times;
