.modal-header
  %button{type: 'button', class: 'close', ng-click: 'cancel()'}
    %span{aria-hidden: true} &times;
    %span.sr-only{translate: 'common.action.cancel'}
  %h3.modal-title{translate: 'delete_comment_dialog.title'}

.modal-body
  %span{translate: 'delete_comment_dialog.question'}

.modal-footer
  %button.btn.btn-primary{ng-click: 'ok()', translate: 'delete_comment_dialog.confirm'}
  %button.btn.btn-primary{ng-click: 'cancel()', translate: 'common.action.cancel'}
