#main-content
  .l-row
    .card.l-column
      %h1.card-header
        {{discussion.title}}
        %i.fa.fa-star-o.icon-22
      .card-details
        Started {{discussion.created_at | timeFromNowInWords}} by {{discussion.author.name}}
      .media
        .media-img
          %img{src: '/img/group-icon.jpg'}
        .media-text
          {{discussion.group.name}}
          {{discussion.group.memberships_count}} members
        .media-details
          25 members
      %img{src: '/img/group-users.png'}
        %i.fa.fa-plus
      .card-btn.btn-primary.l-right
        %i.fa.fa-lock.white
        Share

  %proposal{proposal: 'discussion.active_proposal', discussion: 'discussion'}

  .l-row
    .card.l-column
      %div{'ng-repeat' => 'event in discussion.events()', ng_include: "safeEvent(event.kind) && 'generated/templates/discussion_items/'+ event.kind + '.html'"}
      -#-#"discussion_title_edited",
      -#-#"discussion_description_edited",
      -#-#"new_motion",
      -#-#"new_vote",
      -#-#"motion_closed",
      -#-#"motion_close_date_edited",
      -#-#"motion_blocked"]
      -#-#"new_discussion",

  %start_proposal{discussion: 'discussion'}

  %add_comment{discussion: 'discussion'}

