.card-page.discussion
  .card-row
    .card
      .card__content
        %h1.card__title
          {{discussion.title}}
        .media__details
          Started {{discussion.created_at | timeFromNowInWords}} by {{discussion.author.name}}
        .media
          .media__img
            %img{alt: "...", src: '{{author.avatar_path}}'}
          .media_text
            {{discussion.group.name}}
            {{discussion.group.memberships.count}} members
      .card-row
        %img{alt: "...", src: '{{user.avatar_url}}'}
        %img{alt: "...", src: '{{user.avatar_url}}'}
        %img{alt: "...", src: '{{user.avatar_url}}'}
        %img{alt: "...", src: '{{user.avatar_url}}'}

  .card-row
    .card
      .card__header
        .media
          .media__img
            %img{alt: "...", src: '{{author.avatar_path}}'}
          .media__text
            %h4.media__title Context
            .media__details
              Started {{discussion.created_at | timeFromNowInWords}} by {{discussion.author.name}}
      .card__content
        {{discussion.description}}
      %a.edit-content{href: "#"}
        %i.icon-edit
        Edit

  %proposal{proposal: 'discussion.active_proposal', discussion: 'discussion'}

  .card-row{'ng-repeat' => 'event in discussion.events'}
    %div{ng_include: "safeEvent(event.kind) && 'generated/templates/discussion_items/'+ event.kind + '.html'"}
    -#-#"discussion_title_edited",
    -#-#"discussion_description_edited",
    -#-#"new_motion",
    -#-#"new_vote",
    -#-#"motion_closed",
    -#-#"motion_close_date_edited",
    -#-#"motion_blocked"]
    -#-#"new_discussion",

  %start_proposal{discussion: 'discussion'}

  %add_comment{discussion: 'discussion'}

