.container
  .row
    .col-xs-12
      .group-header
        .group-header-title
          %h1
            {{discussion.group_name()}}
      .thread-settings
        .privacy.btn.btn-default
          %i.fa.fa-lock
          Private

      .card.card-thread-context
        .card-content
          .card-content-header
            .card-options-menu.pull-right
              %i.fa.fa-chevron-down
              %h1
                {{discussion.title}}
            .author-name.card-meta-text
              Started by
              %strong
                {{@discussion.author().name}}
            .published-at.card-meta-text
              %abbr.timeago
                30 minutes ago

          .card-content-body
            {{discussion.description}}

      .card.card-thread-items
        .card-meta-header
          %h1 Discussion
        .card-content{ng_repeat: 'event in discussion.events()', ng_include: "safeEvent(event.kind) && 'generated/templates/discussion_items/'+ event.kind + '.html'"}

