.group-page-discussions
  .discussion{ng_repeat: 'discussion in group.discussions()'}
    {{ discussion.title }}
  .discussions-show-more.card-minor-action
    %a{ng-hide: 'lastPage', ng-click: 'getNextPage()', href: '#', translate: 'common.action.show_more'}
  .discussions-new-thread
    .row
      .col-xs-12.col-sm-6
        %a.btn.btn-success.btn-block.btn-icon{ href: '#' }
          %i.fa.fa-lg.fa-plus>
          %span{translate: 'common.action.new_thread' }

