.container
  .row
    .col-xs-12
      .card.card-thread-context
        .card-content.card-content-primary
          .card-content-header
            .card-options-menu.pull-right
              %i.fa.fa-chevron-down
            %h1 {{discussion.title}}
            .author-name.card-meta-text
              Started by
              %strong.bump {{discussion.author().name}}
            .published-at.card-meta-text
              %abbr.timeago
                {{discussion.created_at | timeFromNowInWords}}
          .card-content-body
            {{ discussion.description}}

      .card.card-thread-items
        .card-options-menu.pull-right
          %i.fa.fa-chevron-down
        .card-meta-header
          %h1 Proposal
        .card-content.card-content-primary
          %proposal{proposal: 'discussion.active_proposal()', discussion: 'discussion', currentUser: 'currentUser'}

      .card.card-thread-items
        .card-meta-header
          %h1 Discussion
        .card-content
          %div{ng_repeat: 'event in discussion.events()', ng_include: "safeEvent(event.kind) && 'generated/templates/discussion_items/'+ event.kind + '.html'"}

      %start_proposal{discussion: 'discussion'}
      %add_comment{discussion: 'discussion'}
