.card-page.discussion
  .card-row
    .card#top
      .card__header--standalone
        .media
          .media__img
            %i.icon-group
          %h3.media__title
            %a{'ng-href' => '/group/{{discussion.group_id}}'}
              {{discussion.group_name}}

  .card-row
    .card
      .card__content
        %h1.card__title
          {{discussion.title}}

  .card-row
    .card
      .card__header
        .media
          .media__img
            %img{alt: "...", src: '{{author.avatar_path}}'}
          .media__text
            %h4.media__title Context
            .media__details
              Created {{discussion.created_at | date:'medium'}} by {{discussion.author.name}}
      .card__content
        {{discussion.description}}
      %a.edit-content{href: "#"}
        %i.icon-edit
        Edit

  .card-row{'ng-repeat' => 'event in discussion.events'}
    %div{'ng-include' => "event.kind == 'new_comment' && 'generated/templates/discussion_items/'+ event.kind + '.html'"}
    -#-#["new_comment",
    -#-#"new_discussion",
    -#-#"new_motion",
    -#-#"new_vote",
    -#-#"discussion_description_edited",
    -#-#"motion_closed",
    -#-#"discussion_title_edited",
    -#-#"motion_close_date_edited",
    -#-#"motion_blocked"]

  .card-row#create-a-proposal
    .card
      .card__header
        %h3 Ready to make a decision?
      .card__content
        %a{'ng-href' => '/discussions/{{discussion.id}}/new_proposal'}
          Create a proposal

  %add_comment

