.discussions
  .discussion{ng_repeat: 'discussion in group.discussions()'}
    {{ discussion.title }}
  .discussions-show-more
    %a{ng-hide: 'lastPage', ng-click: 'getNextPage()', href: '#'} {{ 'group.show_more' | translate }}
  .discussions-new-thread
    %a{href: '#', ng_click: 'openForm()'} {{ 'group.new_thread' | translate }}