.modal-header
  %button{type: 'button', class: 'close', ng-click: 'cancel()'}
    %span{aria-hidden: true} &times;
    %span.sr-only{translate: 'common.action.cancel'}
  %h3.modal-title Edit comment
.modal-body
  %comment_form{comment: 'comment'}
