.row
  .col-xs-12
    .group-page-container
      .group-page-header
        .group-page-cover
        .group-page-logo.hidden-xs
        .group-page-buttons.pull-right
          %group_notifications_dropdown{group: 'group'}
          %a.btn.btn-icon.btn-default.btn-block{href: '/groups/{{::group.key}}/edit'}
            %i.fa.fa-lg.fa-cog>
            %span{translate: 'group_page.options_label'}
        .group-page-name-and-privacy
          .group-page-name
            %h1 
              %a{ng_show: 'group.parentId', href: '/groups/{{group.parent().key}}'} 
                {{group.parentName()}} 
              %span{ng_show: 'group.parentId'}> > 
              %a{href: '/groups/{{group.key}}'} 
                {{group.name}}
          %group_privacy_dropdown{group: 'group'}
      .group-page-description
        .context-menu.pull-right
          %i.fa.fa-lg.fa-chevron-down
        %h3.first{ translate: 'group_page.description' }
        .group-description.last{ btf-markdown: 'group.description' }
      .group-page-threads
        %h3.first{ translate: 'group_page.discussions' }
        %discussions{group: 'group'}
      .group-page-members
        .context-menu.pull-right
          %i.fa.fa-lg.fa-chevron-down
        %h3.first{ translate: 'group_page.members' }
        %members{group: 'group'}
      .group-page-subgroups
        %h3.first{ translate: 'group_page.subgroups' }
        %subgroups{group: 'group'}
