.row
  .col-xs-12
    .group-page-container
      .group-page-header
        .group-page-cover
        .group-page-logo.hidden-xs
        .group-page-buttons.pull-right
          %group_notifications_dropdown{group: 'group'}
          %group_options_dropdown{group: 'group'}
        .group-page-name-and-privacy
          .group-page-name
            %h1
              %a{ng_show: 'group.parentId', href: '/groups/{{group.parent().key}}'} 
                {{group.parentName()}} 
              %span{ng_show: 'group.parentId'}> > 
              %a{href: '/groups/{{group.key}}'} 
                {{group.name}}
          %group_privacy_dropdown{group: 'group'}
      .group-page-description
        / eventually this will be edited in an inline form. For now it
        / is okay to just do it on the group edit page
        / .context-menu.pull-right
        /   %i.fa.fa-lg.fa-chevron-down
        %h3.first{ translate: 'group_page.description' }
        .group-description.last{ btf-markdown: 'group.description' }
      %discussions{group: 'group'}
      %members{group: 'group'}
      .group-page-subgroups{ng_show: '!group.parentId'}
        %h3.first{ translate: 'group_page.subgroups' }
        %subgroups{group: 'group'}
