.container#main{ng-class: '{inboxPinned: inboxPinned()}'}
  .row
    .col-xs-12
      .group-page-container
        .group-page-header
          .group-page-cover
          .group-page-logo.hidden-xs
          .group-page-buttons.pull-right
            %group_notifications_dropdown{group: 'group'}
            %group_options_dropdown{group: 'group'}
          .group-page-name-and-privacy
            .group-page-name
              %h1
                %a{ng_show: 'group.parentId', href: '/g/{{group.parent().key}}'} 
                  {{group.parentName()}} 
                %span{ng_show: 'group.parentId'}> > 
                %a{href: '/g/{{group.key}}'} 
                  {{group.name}}
            %group_privacy_dropdown{group: 'group'}
        .group-page-description
          %h3.first{ translate: 'group_page.description' }
          .group-description.last{ btf-markdown: 'group.description' }
        %discussions{group: 'group'}
        %members{group: 'group'}
        %subgroups{group: 'group'}
