%ul.drawer
  %li.drawer-header{ng-click: 'logDiscussions()'}
    %h3{translate: 'inbox.latest_threads'}
  -#%div{infinite-scroll: "getNextPage()", infinite-scroll-distance:"1"}
  / use styling flags: is-read, is-unread, is-active
  %li.drawer-item{ng-repeat: 'discussion in discussions'}
    %a{href: '/discussions/{{ discussion.key}}'}
      .brief-time.pull-right
        .time-ago{timestamp: 'discussion.lastActivityAt'}
      .drawer-item-discussion-title
        {{discussion.title}}
      .media.drawer-item-proposal{ng-if: 'discussion.activeProposal()', ng-init: 'proposal = discussion.activeProposal()'}
        .media-left
          %mini_proposal_pie_chart{proposal: 'proposal'}
        .drawer-item-proposal-details.media-body
          {{ proposal.name }}
          .time-left
            3 hours left
      .pull-right
        .fa.fa-star
      .drawer-item-group-name
        {{::discussion.group().fullName()}}

  %li.drawer-item
    %a{href: '#'}
      Keep this menu open
      / Close this menu
