%form{ng-submit: 'submit()'}
  .modal-header
    %h3 {{ 'invitation.invite_people' | translate }}

  .modal-body
    .alert.alert-success{ng_show: 'showContactImportMessage'}
      %button.close{ng-click: 'dismissContactImportMessage()', type: 'button'} ×
      .contact-flash-header
        %strong {{ 'invitation.import_contacts_header' | translate }}
      .contact-flash-message
        {{ 'invitation.import_contacts_message' | translate }}
    %h4.pull-left {{ 'invitation.find_people' | translate }}
    %a.pull-right{href: '#'} 
      {{ 'invitation.import_contacts' | translate }}
    %input.form-control{ng-model: 'fragment', typeahead: 'invitable for invitable in getInvitables($viewValue)', typeahead-template-url: 'generated/templates/invitable_menu.html', typeahead-on-select: 'addInvitation($item)', typeahead-wait-ms: '300'}
    .invitation-instructions{ng_hide: 'hasInvitations()'}
      {{ 'invitation.instructions' | translate }}
    .current-invitations{ng_show: 'hasInvitations()'}
      %h4 {{ 'invitation.to' | translate }}:
      .current-invitations{ng_repeat: 'invitation in invitations'}
        {{::invitation.name}} ({{::invitation.subtitle}})

      %h4 {{ 'invitation.invitation_message' | translate }}
      %textarea.form-control{ng-model: 'message'}

  .modal-footer
    %button.btn.btn-primary{type: 'submit', translate: 'invitation.send_invite'}
    %button.btn.btn-warning{ng-click: 'cancel($event)', translate: 'common.action.cancel'}
