%form{ng-submit: 'submit()'}
  .modal-header
    Header

  .modal-body
    Body

  .modal-footer
    %button.btn.btn-primary{type: 'submit', translate: 'proposal_form.start_proposal'}
    %button.btn.btn-warning{ng-click: 'cancel($event)', translate: 'common.action.cancel'}
