.user.sessions.new
  %form{ng_submit: 'login()'}
    %input#session-username-field.form-control{ng_model: 'credentials.email', ng_required: 'true'}
    %input#session-password-field.form-control{ng_model: 'credentials.password', ng_required: 'true'}
    %button.btn.btn-primary{type: 'submit', translate: 'sign_in'}
