.members
  .member{ng-repeat: 'member in group.members()'}
    {{ member.name }}
  .members-show-more.show-more
    %a{href: '#'} {{ 'group.show_more' | translate }}
  .members-invite{ng_controller: 'InvitationsController'}
    %a{href: '#', ng_click: 'openForm()'} {{ 'group.invite_members' | translate }}
