.members
  .member{ng-repeat: 'member in group.members()'}
    {{ member.name }}
  .members-show-more.show-more
    %a{href: '#', translate: 'common.action.show_more'}
  .members-invite{ng_controller: 'InvitationsController'}
    .row
      .col-xs-12.col-sm-6
        %a.btn.btn-success.btn-block.btn-icon{href: '#', ng_click: 'openForm()'}
          %i.fa.fa-lg.fa-plus>
          %span{translate: 'group_page.invite_members' }




