%li.pull-right{dropdown: ''}
  %a.dropdown-toggle.loomio-nav-btn{href: '#'}
    %i.fa.fa-lg.fa-fw.fa-navicon
  .loomio-nav-dropdown.dropdown-menu#user-options-dropdown
    %ul.selector-list
      %li.selector-list-item.visible-xs
        New thread
      %li.selector-list-item
        Profile
      %li.selector-list-item
        Email settings
      %li.selector-list-item
        Help
      %li.selector-list-item
        Contact us
      %li.selector-list-item
        Sign out