%li.pull-right{dropdown: ''}
  %a.dropdown-toggle.loomio-nav-btn{href: '#'}
    %i.fa.fa-lg.fa-fw.fa-navicon
  .loomio-nav-dropdown.dropdown-menu#user-options-dropdown
    %ul.selector-list
      %li.media.selector-list-item.visible-xs
        %a{href: '#', ng_click: 'openDiscussionForm()'}
          .media-left
            %i.fa.fa-xlg.fa-plus
          .media-body New thread
      %li.selector-list-item
        %a{href: ''}
          .media-left
            %user_avatar{user: "currentUser()"}
          .media-body
            Profile
      %li.selector-list-item
        %a{href: ''}
          .media-left
            %i.fa.fa-xlg.fa-envelope-o
          .media-body
            Email settings
      %li.selector-list-item
        %a{href: '/help'}
          .media-left
            %i.fa.fa-xlg.fa-info
          .media-body
            Help
      %li.selector-list-item
        %a{href: '/contact'}
          .media-left
            %i.fa.fa-xlg.fa-question-circle
          .media-body
            Contact us
      %li.selector-list-item
        %a{href: ''}
          .media-left
            %i.fa.fa-xlg.fa-sign-out
          .media-body
            Sign out