%header#header
  %nav.loomio-nav{role: 'navigation'}
    %ul.loomio-nav-items
      %li
        %a.loomio-nav-btn{href: '#'}
          .loomio-nav-logo
      %navbar_inbox
      %navbar_search
      %navbar_user_options
      %navbar_notifications
      %navbar_start_discussion
