%header#header
  .container
    %nav.loomio-nav{role: 'navigation'}
      .loomio-nav-logo
      %ul.loomio-nav-items
        %li{dropdown: '', on-toggle: 'toggled(open)'}
          %a.navbar-btn.dropdown-toggle
            %i.fa.fa-lg.fa-fw.fa-inbox
            %span.hide Inbox
          .loomio-nav-dropdown.dropdown-menu{role: 'menu'}
            %inbox{ng-if: 'inboxIsOpen'}
        %li
          %a.navbar-btn
            %i.fa.fa-lg.fa-fw.fa-search
        %li
          %a.navbar-btn
            %i.fa.fa-lg.fa-fw.fa-users
