%header#header
  %nav.loomio-nav{role: 'navigation'}
    %ul.loomio-nav-items
      %li
        %a.loomio-nav-btn{href: '#'}
          .loomio-nav-logo
      %navbar_inbox{ng_controller: 'NavbarController'}
      %navbar_search
      %navbar_user_options{ng_controller: 'NavbarController'}
      %navbar_notifications
      %navbar_start_discussion{ng_controller: 'NavbarController'}
