%li{dropdown: ''}
  %a.loomio-nav-btn.dropdown-toggle{href: '#'}
    %i.fa.fa-lg.fa-fw.fa-search
  .dropdown-menu.loomio-nav-dropdown#search-dropdown{role: 'menu'}
    .navbar-search-input
      %input.form-control{ng_model: 'query', placeholder: "{{ 'navbar.search_placeholder' | translate }}", ng_focus: 'toggleSearch(open)'}
    %ul.selector-list
      %li.selector-list-header
        %h3{translate: "common.groups"}
      %li.selector-list-item.media{ng_repeat: 'group in availableGroups() | filter:query', class: 'is-subgroup-{{group.parentId != null}}'}
        %a.selector-list-item-link{href: '/groups/{{group.key}}'}
          .media-left
            %img.selector-list-item-group-logo{src: "{{group.logoUrlSmall}}"}
          .selector-list-item-group-name.media-body {{group.name}}
