%form{ng-submit: 'submit()'}
  .modal-header
    %button{type: 'button', class: 'close', ng-click: 'cancel($event)'}
      %span{aria-hidden: true} &times;
      %span.sr-only{translate: 'common.action.cancel'}
    %h1{ng-if: 'proposal.isNew()', translate: 'proposal_form.start_a_proposal'}
    %h1{ng-if: '!proposal.isNew()', translate: 'proposal_form.edit_a_proposal', translate-value-proposal-name: '{{::proposal.name}}'}

  .modal-body
    %flash{modal: 'true'}
    %p{ng-if: 'proposal.isNew()', translate: 'proposal_form.what_does_a_proposal_do'}

    %fieldset{ng-disabled: 'isUneditable()'}
      .form-group
        %label{for: 'proposal-title-field', translate: 'proposal_form.title_label'}
        %input#proposal-title-field.form-control{placeholder: "{{ 'proposal_form.title_placeholder' | translate }}", ng-model: 'proposal.name', ng-required: 'false'}

      .form-group
        %label{for: 'proposal-details-field', translate: 'proposal_form.details_label'}
        %textarea#proposal-details-field.form-control{ng-model: 'proposal.description', placeholder: "{{ 'proposal_form.details_placeholder' | translate }}"}

    %fieldset{ng-disabled: 'isDisabled'}
      .form-group{dropdown: '', is-open: 'dropdownIsOpen'}
        %label{for: 'proposal-close-date-field', translate: 'proposal_form.closes_at_label'}
        .input-group.dropdown-toggle
          %input.form-control{ng-model: 'proposal.closingAt', ng-required: 'true'}
          %span.input-group-addon
            %i.fa.fa-calendar
        .dropdown-menu{role: 'menu'}
          %datetimepicker{ng-model: 'proposal.closingAt', data-datetimepicker-config: "{ startView:'day', minView:'hour'}", on-set-time: 'onSetTime()'}

  .modal-footer
    %button.btn.btn-primary{ng-if: 'proposal.isNew()', type: 'submit', translate: 'proposal_form.start_proposal'}
    %button.btn.btn-primary{ng-if: '!proposal.isNew()', type: 'submit', translate: 'proposal_form.edit_proposal'}
    %button.btn.btn-warning{ng-click: 'cancel($event)', translate: 'common.action.cancel'}
