.l-row#cuke-current-proposal{ng_hide: 'proposal == null'}
  .card.l-column
    %h1.card-header
      {{proposal.name}}
      %span.card-details
        %a{ href: '#' }
          {{proposal.closing_at | timeFromNowInWords:true }} left
    .card-details
      Proposed by {{proposal.author.name}} on {{proposal.created_at | timeFromNowInWords:true }}
      .proposal-description
        {{proposal.description}}
      .pie-graph{'pie-chart': true, ng_model: 'proposal'}
      .positions
        .agree{ng_click: 'selectPosition("yes")'}
          %img{src: '/img/yes.png'}
        .abstain{ng_click: 'selectPosition("abstain")'}
          %img{src: '/img/abstain.png'}
        .disagree{ng_click: 'selectPosition("no")'}
          %img{src: '/img/no.png'}
        .block{ng_click: 'selectPosition("block")'}
          %img{src: '/img/block.png'}
      .card-details
        {{proposal.votes_count}} votes
      .agree{ng_click: 'selectPosition("yes")'}

    .l-row.statement-form{ng_show: 'voteFormIsExpanded'}
      %form{ng_submit: 'submitVote()'}
        %fieldset{ng_disable: 'voteFormIsDisabled'}
          .form-group
            %textarea{ng_model: 'newVote.statement'}
            %button.btn.btn-primary{type: 'submit'}
              Vote
