.proposal-card{ng-show: 'proposal'}
  %h2 {{proposal.name}}
  .proposal-card-started-by
    %span{translate: 'proposal_card.started_by', translate-value-name: '{{proposal.authorName()}}'}
    %span.time-ago>
      {{discussion.createdAt | timeFromNowInWords}}

  .proposal-card-description{btf-markdown: 'proposal.description' }

  .proposal-card-closing-at
    %i.fa.fa-clock-o
    %span.bump Closes {{proposal.closingAt | exactDateWithTime }}

  .proposal-card-pie-cart
    hi
    %canvas{tc-chartjs-doughnut: '', chart-data: "pieChartData", chart-options: "pieChartOptions", width: "350", height: "350"}

  %vote_form{proposal: 'proposal'}

  .proposal-card-votes
    %h3 Positions
    .proposal-card-no-votes{ng-show: 'onlyVoterIsYou()', translate: 'proposal_card.only_voter_is_you'}

    .proposal-card-no-votes{ng-show: 'noVotesYet()', translate: 'proposal_card.no_votes_yet'}

    .proposal-card-vote.media{ng_repeat: 'vote in curatedVotes()'}
      .pull-left.thread-event-vote-icon{class: 'thread-event-vote-icon-{{vote.position}}'}
      .media-body
        %strong {{vote.authorName()}}
        %span.author-statement {{ vote.statement }}
