.proposal-card{ng-show: 'proposal'}
  %proposal_card_dropdown{proposal: 'proposal'}
  %h2 {{::proposal.name}}
  .proposal-card-started-by
    %span{translate: 'proposal_card.started_by', translate-values: '::{name: proposal.authorName()}'}
    %span.time-ago>
      {{discussion.createdAt | timeFromNowInWords}}
    ·
    / this should be time from now
    %timeago{timestamp: 'proposal.closingAt' }>
    / %span.time-ago>
    /   {{proposal.closingAt | exactDateWithTime }}
    .badge.pull-right{ng-show: 'proposal.closedAt'} Closed
  .proposal-card-description{btf-markdown: 'proposal.description' }


  .pie-chart.media
    .pie-chart-pie.media-left
      %proposal_pie_chart{proposal: 'proposal'}
    .pie-chart-legend.media-body
      .pie-chart-legend-item{class: 'pie-chart-legend-item-{{position}}', ng-repeat: 'position in proposal.positions'}
        {{ "proposal_position_"+position | translate}} ({{ proposal.voteCounts[position] }})

  %vote_form{proposal: 'proposal'}

  .proposal-card-votes
    %h4 Positions
    .proposal-card-no-votes{ng-show: 'onlyVoterIsYou()', translate: 'proposal_card.only_voter_is_you'}

    .proposal-card-no-votes{ng-show: 'noVotesYet()', translate: 'proposal_card.no_votes_yet'}

    -#.proposal-card-vote.media{ng_repeat: 'vote in curatedVotes()'}
    .proposal-card-vote.media{ng_repeat: 'vote in curatedVotes()'}
      .media-left
        .thread-event-vote-icon{class: 'thread-event-vote-icon-{{vote.position}}'}
      .media-body
        %strong> {{::vote.authorName()}}
        %span.author-statement {{:: vote.statement }}
