.proposal-card{ng-show: 'proposal'}
  %h2 {{proposal.name}}
  .proposal-card-started-by
    %span{translate: 'proposal_card.started_by', translate-value-name: '{{proposal.authorName()}}'}
    %span.time-ago>
      {{discussion.createdAt | timeFromNowInWords}}

  .proposal-card-description{btf-markdown: 'proposal.description' }

  .proposal-card-closing-at
    %i.fa.fa-clock-o
    %span.bump Closes {{proposal.closingAt | exactDateWithTime }}

  .pie-graph-container
    -#{{ pieChartData}}
    -#%canvas.pie-graph{tc-chartjs: '', chart-type: 'pie', chart-data:'pieChartData'}
    -#.col-xs-6.test-me
    -#.col-xs-5.proposal-participation
      -#%a{href: '#'} {{proposal.votesCount}} of X members have participated

  %vote_form{proposal: 'proposal'}

  .card-meta-header
    %h3 Positions
  .proposal-card-votes{ng_repeat: 'vote in curatedVotes()'}
    .proposal-card-vote.media
      .pull-left.thread-event-vote-icon{class: 'thread-event-vote-icon-{{vote.position}}'}
      .media-body
        %strong {{vote.authorName()}}
        %span.author-statement {{ vote.statement }}

  .l-row.statement-form{ng_show: 'voteFormIsExpanded'}
    %form{ng_submit: 'submitVote()'}
      %fieldset{ng_disable: 'voteFormIsDisabled'}
        .form-group
          %textarea{ng_model: 'newVote.statement'}
          %button.btn.btn-primary{type: 'submit'}
            Vote
