%form{ng-submit: 'submit()'}
  .modal-header
    %button{type: 'button', class: 'close', ng-click: 'cancel()'}
      %span{aria-hidden: true} &times;
      %span.sr-only{translate: 'common.action.cancel'}
    %h1{translate: 'proposal_close_form.close_proposal', translate-value-proposal-name: '{{::proposal.name}}'}

  .modal-body
    %span{translate: 'proposal_close_form.helptext'}

  .modal-footer
    %button.btn.btn-primary{type: 'submit', translate: 'proposal_close_form.close_proposal_submit'}
    %button.btn.btn-warning{ng-click: 'cancel($event)', translate: 'common.action.cancel'}
