.proposal-card{ng-show: 'proposal'}
  %h2 {{proposal.name}}
  .proposal-card-started-by
    %span{translate: 'proposal_card.started_by', translate-value-name: '{{proposal.authorName()}}'}
    %span.time-ago>
      {{discussion.createdAt | timeFromNowInWords}}

  .proposal-card-description{btf-markdown: 'proposal.description' }

  .proposal-card-closing-at
    %i.fa.fa-clock-o
    %span.bump Closes {{proposal.closingAt | exactDateWithTime }}

  .pie-graph-container
    -#{{ pieChartData}}
    -#%canvas.pie-graph{tc-chartjs: '', chart-type: 'pie', chart-data:'pieChartData'}
    -#.col-xs-6.test-me
    -#.col-xs-5.proposal-participation
      -#%a{href: '#'} {{proposal.votesCount}} of X members have participated

  .proposal-vote-buttons{ng-hide: 'currentUserHasVoted()'}
    %h3{translate: 'proposal_card.have_your_say'}
    .proposal-card-vote-button.proposal-card-vote-button-yes{ng-click: 'castVote("yes")'}
    .proposal-card-vote-button.proposal-card-vote-button-abstain{ng-click: 'castVote("abstain")'}
    .proposal-card-vote-button.proposal-card-vote-button-no{ng-click: 'castVote("no")'}
    .proposal-card-vote-button.proposal-card-vote-button-block{ng-click: 'castVote("block")'}

  .proposal-card-your-position{ng-show: 'currentUserHasVoted()'}
    %h3{translate: 'proposal_card.your_position'}

    %a.edit-position.pull-right
      %span.bump{translate: 'common.action.edit'}
      %i.fa.fa-pencil

    .current-position.media
      .pull-left.proposal-card-your-position-icon{class: 'proposal-card-your-position-icon-{{lastVoteByCurrentUser().position}}'}
      .media-body
        %span.author-statement
          {{ lastVoteByCurrentUser().statement }}


  .card-meta-header
    %h3 Positions
  .proposal-card-votes{ng_repeat: 'vote in proposal.votes()'}
    .proposal-card-vote.media{ng_hide: 'vote == lastVoteByCurrentUser()'}
      .pull-left.thread-event-vote-icon{class: 'thread-event-vote-icon-{{vote.position}}'}
      .media-body
        %strong {{vote.authorName()}}
        %span.author-statement {{ vote.statement }}

  .l-row.statement-form{ng_show: 'voteFormIsExpanded'}
    %form{ng_submit: 'submitVote()'}
      %fieldset{ng_disable: 'voteFormIsDisabled'}
        .form-group
          %textarea{ng_model: 'newVote.statement'}
          %button.btn.btn-primary{type: 'submit'}
            Vote
