.card-row.expanded-motion.cuke-current-proposal{ng_hide: 'proposal == null'}
  .card
    .card__header
      %h2
        {{proposal.name}}
      .media__details 
        proposed by {{proposal.author.name}}
      .media__details 
        closing in {{proposal.closing_at | timeFromNowInWords:true }}
    .card__content.row
      .proposal-description
        {{proposal.description}}
      .pie-chart
        %div{'pie-chart' => true, ng_model: 'proposal'}
    .clearfix
    .row.decision-buttons
      .agree{ng_click: 'selectPosition("yes")'}
        %i.fa.fa-thumbs-up
      .abstain{ng_click: 'selectPosition("abstain")'}
        %i.fa.fa-meh-o
      .disagree{ng_click: 'selectPosition("no")'}
        %i.fa.fa-thumbs-down
      .block{ng_click: 'selectPosition("block")'}
        %i.fa.fa-warning

    .row.statement-form{ng_show: 'voteFormIsExpanded'}
      %form{ng_submit: 'submitVote()'}
        %fieldset{ng_disable: 'voteFormIsDisabled'}
          .form-group
            %textarea{ng_model: 'newVote.statement'}
            %button.btn.btn-primary{type: :submit}
              Vote

    -#.row.new-position
      -#.agree
        -#%form
          -#.form-group
            -#%label Agree
            -#%textarea.form-control{rows: 3}
          -#%button.btn
            -#Submit
      -#.abstain
        -#%form
          -#.form-group
            -#%label Abstain
            -#%textarea.form-control{rows: 3}
          -#%button.btn
            -#Submit
      -#.disagree
        -#%form
          -#.form-group
            -#%label Disagree
            -#%textarea.form-control{rows: 3}
          -#%button.btn
            -#Submit
      -#.block
        -#%form
          -#.form-group
            -#%label Block
            -#%textarea.form-control{rows: 3}
          -#%button.btn
            -#Submit
    -#.card__show-more
      -#%a View positions

