.subgroups
  .media.subgroup{ng-repeat: 'subgroup in group.subgroups()'}
    .media-left
      .subgroup-logo
    .media-body
      .subgroup-name {{ subgroup.name }}
      / this should be truncated down to a few dozen chars
      .subgroup-description {{ subgroup.description }}
  .subgroups-invite.card-minor-action
    %a{href: '#'}
      %span>+
      %span{ translate: 'common.action.add_subgroup' }
