.subgroups
  .media.subgroup{ng-repeat: 'subgroup in group.subgroups()'}
    .media-left
      .subgroup-logo
    .media-body
      .subgroup-name {{ subgroup.name }}
      .subgroup-description {{ subgroup.description }}
  .subgroups-invite
    %a{href: '#', translate: 'common.action.add_subgroup' }
