.user-avatar
  .avatar-initials{ng-if: 'user.avatarKind == "initials"'}
    {{user.avatarInitials}}
  .avatar-image{ng-if: 'user.avatarKind != "initials"'}
    %img{alt: "...", src: '{{user.avatarUrl}}'}
