.thing
  .vote-form{ng-show: '!lastVote() || editing'}
    %h3{translate: 'proposal_card.have_your_say'}
    .position-buttons
      .position-button.position-button-yes{ng-click: 'selectPosition("yes")'}
      .position-button.position-button-abstain{ng-click: 'selectPosition("abstain")'}
      .position-button.position-button-no{ng-click: 'selectPosition("no")'}
      .position-button.position-button-block{ng-click: 'selectPosition("block")'}

    %form{ng-submit: 'submit()', ng-show: 'newVote.position || editing' }
      %fieldset
        .form-group
          %label{for: 'vote-statement-field'}
            %span{ng-show: 'newVote.position'}
              {{ 'vote_form.i_'+ newVote.positionVerb() | translate }}
            %span{translate: 'vote_form.select_position', ng-show: '!newVote.position'}
          %textarea#vote-statement-field.form-control{ng-model: 'newVote.statement', placeholder: '{{ "vote_form.statement_placeholder" | translate }}'}

      %button.btn.btn-primary{type: 'submit', translate: 'vote_form.submit_position'}>

      %button.btn.btn-default{ng-click: 'cancel($event)', translate: 'common.action.cancel'}>

  .your-position{ng-show: 'lastVote() && !editing'}
    %h3{translate: 'proposal_card.your_position'}

    %a.change-position.pull-right{ng-click: 'changePosition()', href: '#'}
      %span{translate: 'common.action.edit'}>
      %i.fa.fa-pencil

    .current-position.media
      .media-left.your-position-icon{class: 'your-position-icon-{{lastVote().position}}'}
      .media-body
        %span.author-statement
          {{ lastVote().statement }}
