%form{ng-submit: 'submit()'}
  .modal-header
    Votey votey

  .modal-body

    %fieldset
      .form-group
        %label{for: 'vote-statement-field', translate: 'vote_form.i_{{vote.positionVerb()}}'}
        %textarea#vote-statement-field.form-control

  .modal-footer
    %button.btn.btn-primary{type: 'submit', translate: 'vote_form.submit_position'}
    %button.btn.btn-warning{ng-click: 'cancel($event)', translate: 'common.action.cancel'}
