.current-polls-card.lmo-card
  .lmo-flex.lmo-flex__space-between.current-polls-card__title
    %h2.lmo-card-heading.lmo-truncate-text{translate: "current_polls_card.title"}
    %md-button.md-primary.md-raised.current-polls-card__start-poll{ng-click: "startPoll()", translate: "current_polls_card.start_poll"}
  %loading{ng-if: "fetchRecordsExecuting"}
  .current-polls-card__polls{ng-if: "!fetchRecordsExecuting"}
    .current-polls-card__no-polls.lmo-hint-text{ng-if: "!polls().length", translate: "current_polls_card.no_polls"}
    %poll_common_preview{poll: "poll", ng-repeat: "poll in polls() track by poll.id"}
