.explore-page {
  @include cardPadding;
}

.explore-page__search-input-icon {  
  position: absolute;
  top: 10px;
  right: 10px;
  color: $grey-on-white;
}

.explore-page__search-field {
  position: relative;
  background-color: $background-color;
  color: $primary-text-color;
  margin: 20px 0;
}

.explore-page__no-results-found, .explore-page__search-results {
  margin: 20px 0;
  text-align: left;
  color: $grey-on-white;
}

.explore-page__groups {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.explore-page__group {
  width: 365px;
  @include cardNoPadding;
}

.explore-page__group-cover {
  height: 100px;
  background: url('http://placehold.it/640x160') no-repeat center center #f5f5f5;
  background-size: cover;
}

.explore-page__group-details {
  @include cardPadding;
}

.explore-page__group-description {
  margin-bottom: 20px;
}

.explore-page__group-memberships-count,
.explore-page__group-discussions-count {
  display: inline;
  margin-right: 20px;
}

.explore-page__show-more {
  @include cardMinorAction;
  @include lmoBtnLink;
}
