.explore-page {
  @include cardPadding;
}

.explore-page__search-input-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $grey-on-white;
}

.explore-page__search-field {
  position: relative;
  background-color: $background-color;
  color: $primary-text-color;
  margin: 20px 0;
}

.explore-page__no-results-found, .explore-page__search-results {
  margin: 20px 0;
  text-align: left;
  color: $grey-on-white;
}

.explore-page__groups {
  @include displayFlex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.explore-page__group {
  width: 365px;
  @include cardNoPadding;
}

@media (max-width: 768px) {
  .explore-page__group {
    flex-grow: 1;
  }
}

.explore-page__group-cover {
  height: 100px;
  background-size: cover;
}

.explore-page__group-details {
  @include cardPadding;
}

.explore-page__group-description {
  margin-bottom: 20px;
}

.explore-page__group-memberships-count,
.explore-page__group-discussions-count,
.explore-page__group-motions-count {
  color: #D0D0D0;
  display: inline;
  margin-right: 20px;
  i { color: #D0D0D0; }
}

.explore-page__show-more {
  @include cardMinorAction;
  @include lmoBtnLink;
}

.explore-page__group {
  color: $primary-text-color;
}

.explore-page__group:hover {
  text-decoration: none;
  color: $primary-text-color;
}
