%h1 Callback report

Results from service
%table
  - request.env['omnicontacts.contacts'].each do |contact|
    %tr
      %td=contact[:name]
      %td=contact[:email]

Accepted contacts
%table
  - @contacts.each do |contact|
    %tr
      %td=contact.name
      %td=contact.email
      %td=contact.source
