.group-previous-proposals-card {
  @include card;
}

.group-previous-proposals-card__previous_proposals {
  padding: 0px;
}

.group-previous-proposals-card__previous_proposal {
  margin-bottom: 30px;
  list-style-type: none;
  overflow: hidden;
}

.pie-with-position {
	margin-right: 10px;
}

.group-previous-proposals-card__proposal-title {
  color: $primary-text-color;
}
