.group-previous-proposals-card {
  @include card;
}

.group-previous-proposals-card__previous_proposals {
  padding: 0px;
}

.group-previous-proposals-card__previous_proposal {
  display: flex;
  margin-bottom: 10px;
}

.group-previous-proposals-card__proposal-title {
  margin-left: 10px;
  color: $primary-text-color;
}
