.blank
  %section.group-previous-proposals-card{ng-if: "showPreviousProposals()", aria-labelledby: "group-previous-proposals-card__title"}
    %h2#group-previous-proposals-card__title.lmo-card-heading{translate: "group_previous_proposals_card.heading"}
    %ul.group-previous-proposals-card__previous_proposals
      %li.group-previous-proposals-card__previous_proposal{ng-repeat: "proposal in group.closedProposals() | limitTo: 3 track by proposal.id"}
        %pie_with_position.pull-left{proposal: "proposal"}
        %a{lmo-href-for: "group", lmo-href-for: "proposal"}
          .group-previous-proposals-card__proposal-title
            {{proposal.name | truncate:100:' ...'}}
    %a.group-previous-proposals-card__link.lmo-card-minor-action{ng-show: "canShowMore()", lmo-href-for: "group", lmo-href-action: "previous_proposals"}
      %span{translate: "group_previous_proposals_card.see_more"}
