.blank
  %section.group-previous-proposals-card{ng-if: "showPreviousProposals()", aria-labelledby: "group-previous-proposals-card__title"}
    %h2#group-previous-proposals-card__title.lmo-card-heading{translate: "group_previous_proposals_card.heading"}
    %proposal_accordian{model: "group", limit: 3}
    %a.group-previous-proposals-card__link.lmo-card-minor-action{ng-show: "canShowMore()", lmo-href-for: "group", lmo-href-action: "previous_proposals"}
      %span{translate: "group_previous_proposals_card.see_more"}
