.vote-form-and-your-position
  .vote-form{ng-show: 'proposal.isActive() && (!yourLastVote() || editing)', ng-disabled: 'vote.processing'}
    %h4{translate: 'vote_form.have_your_say'}

    %form{ng-submit: 'submit()',  ng-disabled: 'vote.processing' }
      %form_errors{record: 'vote'}
      .position-buttons
        %input#position-yes{type: 'radio', name: 'position', value: 'yes', ng-model: 'vote.position'}
        %label.position-button.position-button--yes{for: 'position-yes'}

        %input#position-abstain{type: 'radio', name: 'position', value: 'abstain', ng-model: 'vote.position'}
        %label.position-button.position-button--abstain{for: 'position-abstain'}

        %input#position-no{type: 'radio', name: 'position', value: 'no', ng-model: 'vote.position'}
        %label.position-button.position-button--no{for: 'position-no'}

        %input#position-block{type: 'radio', name: 'position', value: 'block', ng-model: 'vote.position'}
        %label.position-button.position-button--block{for: 'position-block'}

      %fieldset{ng-show: 'vote.position'}
        .form-group
          %label.label-with-details{for: 'vote-statement-field'}
            %span.label-with-details-label{ng-show: 'vote.position'}
              {{ 'vote_form.i_'+ vote.positionVerb() | translate }}
            %span.label-with-details-details{ng-show: 'vote.position'}>
              {{ 'vote_form.i_'+ vote.positionVerb() +'_details' | translate }}
            %span{translate: 'vote_form.select_position', ng-show: '!vote.position'}
          %textarea#vote-statement-field.form-control{ng-model: 'vote.statement', placeholder: '{{ "vote_form.statement_placeholder" | translate }}'}
          .chars-left.pull-right{ng-class: '{ overlimit: vote.overCharLimit() }' }
            {{ vote.charsLeft() }}
        %button.btn.btn-primary.cuke-submit-position{type: 'submit', translate: 'vote_form.submit_position'}>

        %button.btn.btn-default{ng-click: 'cancel($event)', type: 'button', translate: 'common.action.cancel'}>

  .your-position{ng-show: 'yourLastVote() && !editing'}
    %h4{translate: 'proposal_expanded.your_position'}

    .current-position.media
      .media-left
        .your-position-icon{class: 'your-position-icon-{{yourLastVote().position}}'}
      .media-body
        %span.author-statement
          {{ yourLastVote().statement || 'vote_form.no_statement' | translate }}
        %a.change-your-vote{href: '#', ng-click: 'changeVote()', ng-show: 'proposal.isActive()'}
          %i.fa.fa-exchange{aria-hidden: 'true'}>
          %span{translate: 'vote_form.change_your_vote'}