.lmo-blank
  %loading{ng-if: "loadExecuting"}
  .team-link-modal{ng-if: "!loadExecuting"}
    .modal-header
      %modal_header_cancel_button
      %h1.lmo-h1.modal-title{translate: "team_link_modal.heading"}

    .modal-body
      .lmo-form-group
      %label{translate: "team_link_modal.share_link"}
      .team-link-modal__flex
        %input.team-link-modal__shareable-link.form-control{value: "{{invitationLink()}}"}
        %button.team-link-modal__copy-button.lmo-btn--primary{type: "button", clipboard: "", text: "invitationLink()", on-copied: "copied()"}
          {{ 'team_link_modal.copy_link' | translate}}
      .team-link-modal__caution{translate: "team_link_modal.caution"}

    .modal-footer.lmo-clearfix
      %button.lmo-btn--cancel{type: "button", ng-click: "$close()", translate: "common.action.close"}
