=semantic_form_for [:admin, @email_template] do |f|
  =f.inputs "Email Template" do
    =f.input :name
    =f.input :language, as: :select, :collection => Translation::LANGUAGES
    =f.input :subject
    =f.input :body
    =f.submit
  %h3 available placeholders
  %p=@email_template.substitutions(recipient: current_user, author: current_user, group: Group.last).keys.join('<br>').html_safe
