%md-dialog.lmo-modal__narrow.lmo-no-print
  %md-toolbar.lmo-flex.lmo-flex__center.lmo-flex__horizontal-center
    %h1.lmo-h1{translate: "print_modal.load_discussion"}
  .md-dialog-content
    %p.lmo-hint-text{translate: "print_modal.helptext"}
    %loading
