.revision-history-modal
  .modal-header
    %modal_header_cancel_button{aria-hidden: "true"}
    %h1.lmo-h1{translate: "{{header}}"}
  %loading{ng-if: "loadExecuting"}
  .modal-body.revision-history-modal__body{ng-if: "!loadExecuting"}
    %h2.lmo-h2{ng-if: "commentRevision()"} {{model.authorName()}}
    .lmo-wrap{ng-repeat: "version in model.versions() | orderBy: '-createdAt' track by version.id", id: "version-{{version.id}}"}
      .revision-history-modal__revision
        %h2.lmo-h2{ng-if: "discussionRevision()", translate: "{{threadTitle(version)}}"}
        .revision-history-modal__thread-details
          %span{ng-if: "commentRevision()", translate: "revision_history_modal.posted"}
          %span{ng-if: "discussionRevision()", translate: "{{threadDetails(version)}}", translate-value-name: "{{version.authorOrEditorName()}}"}
          %span> {{versionCreatedAt(version.createdAt)}}
          %span{ng-if: "version.isCurrent(version)"}> (current)
        .revision-history-modal__revision-body.lmo-markdown-wrapper{marked: "revisionBody(version)"}

  .modal-footer
    %button.revision-history-modal__close{type: "button", translate: "common.action.close", ng-click: "$close()"}
