.description-card {
  @include card;
}

.description-card__textarea {
  width: 100%;
}

.description-card__edit {
  padding: 16px 0;
}

.description-card__actions {
  @include displayFlex;
  justify-content: space-between;
}
