.thread-preview {
  @include md-body-1;
  @include listTransition;
  min-height: $boxMediumSize + ($thinPaddingSize * 2);
  border-bottom: 1px solid $border-color;
  &:hover .thread-preview__actions { opacity: 1; }
  &.loading-content { padding: 10px; }
  position: relative;
}

.thread-preview__link {
  display: flex;
  justify-content: space-between;
  padding: $thinPaddingSize;
  color: $primary-text-color;
  text-decoration: none;

  &.thread-preview__link--unread {
    border-left: 2px solid;
    padding-left: $thinPaddingSize - 2px;
  }
}

.thread-preview__status-icon {
  padding: 4px 8px;
}

.thread-preview__pin {
  width: 32px;
  font-size: 20px;
  color: $grey-on-white;
  text-align: center;
}

.thread-preview__actions {
  position: absolute;
  display: flex;
  right: 40px;
  transition: opacity 0.25s ease-in-out;
  top: 0;
  opacity: 0;
  margin: $thinPaddingSize $cardPaddingSize;
  .md-button {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 40px;
    .mdi { font-size: 16px; }
  }
}

.thread-preview__mute,
.thread-preview__unmute { margin-left: 8px }


.thread-preview__link:hover {
  color: $primary-text-color;
  text-decoration: none;
}

.thread-preview__icon .user-avatar {
  pointer-events: none;
}

.thread-preview__text-container{
  display: flex;
}

.thread-preview__details {
  min-width: 0;
  flex-grow: 1;
}

.thread-preview__title{
  @include md-subhead;
  padding-left: $thinPaddingSize;
  vertical-align: top;
  @include truncateText;
}

.thread-preview__group-name{
  @include md-caption;
  @include truncateText;
  padding-left: $thinPaddingSize;
  color: $grey-on-white;
}

.thread-preview__unread-count {
  color: $grey-on-white;
  min-width: 33px;
  padding-left: 5px;
}

.thread-preview--unread {
  font-weight: 500;
}

.thread-preview__position-icon-container {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 15px;
  top: 43px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 2px 1px rgba(0,0,0,.15);
}

.thread-preview__position-icon {
  background-repeat: no-repeat;
  height: 21px;
  margin: 1px 0 0 1px;
  width: 21px;
}

.thread-preview__undecided-icon {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
