.thread-preview
  %a.thread-preview__link{lmo-href-for: "thread"}

    .thread-preview__icon
      %user_avatar{ng-if: "!thread.activePoll()", user: "thread.author()", size: "medium"}
      %poll_common_chart_preview{ng-if: "thread.activePoll()", poll: "thread.activePoll()"}

    .sr-only
      %span {{thread.authorName()}}: {{thread.title}}.
      %span{ng-if: "thread.hasUnreadActivity()", translate: "dashboard_page.aria_thread.unread", translate-value-count: "{{ thread.unreadActivityCount() }}"}

    .thread-preview__screen-only.screen-only{aria-hidden: "true"}
      .thread-preview__text-container
        .thread-preview__title{ng-class: "{'thread-preview--unread': thread.isUnread() }"}
          {{thread.title}}
        .thread-preview__unread-count{ng-if: "thread.hasUnreadActivity()"}
          ({{thread.unreadActivityCount()}})

      .thread-preview__text-container
        .thread-preview__group-name
          {{ thread.group().fullName }} ·
          %smart_time{time: "thread.lastActivityAt"}>

      %outlet{name: "after-thread-preview", model: "thread"}

  .thread-preview__star
    %star_toggle{thread: "thread", aria-hidden: "true"}

  .thread-preview__actions.hidden-xs{ng-if: "thread.discussionReaderId"}
    %button.thread-preview__dismiss{ng-click: "dismiss()", ng-disabled: "!thread.isUnread()", ng-class: "{disabled: !thread.isUnread()}", title: "{{'dashboard_page.dismiss' | translate }}"}>
      %i.fa.fa-check>
    %button.thread-preview__mute{ng-click: "muteThread()", ng-show: "!thread.isMuted()", title: "{{ 'volume_levels.mute' | translate }}", aria-label: "{{ 'volume_levels.mute' | translate }}" }>
      %i.fa.fa-volume-off
      %i.fa.fa-times>
    %button.thread-preview__unmute{ng-click: "unmuteThread()", ng-show: "thread.isMuted()", title: "{{ 'volume_levels.unmute' | translate }}", aria-label: "{{ 'volume_levels.unmute' | translate }}"}>
      %i.fa.fa-volume-down>
