.thread-preview {
  @include md-body-1;
  min-height: $boxMediumSize + ($thinPaddingSize * 2);
  border-bottom: 1px solid $border-color;
  position: relative;
  &.loading-content { padding: 10px; }
  &:hover {
    .thread-preview__actions { display: block; }
    background-color: $list-hover-color;
  }
}

.thread-preview__star{
  position: absolute;
  right: 0;
  top: 0;
  margin-right: $cardPaddingSize;
  margin-top: $thinPaddingSize;
}

.thread-preview__actions{
  position: absolute;
  right: 40px;
  top: -4px;
  display: none;
  margin-right: $thinPaddingSize;
  margin-top: $thinPaddingSize;
}

.thread-preview__dismiss{
  @include lmoBtnDefault;
  @include lmoBtnSm;
}

.thread-preview__mute,
.thread-preview__unmute {
  @include lmoBtnDefault;
  @include lmoBtnSm;
  margin-left: 5px;
  padding: 5px 13px;
  .fa-volume-off{
    padding-right: 9px;
  }
  .fa-times{
    font-size: 70%;
    position: relative;
    right: 10px;
    bottom: 1px;
  }
}

.thread-preview__screen-only {
  overflow: hidden;
}

.thread-preview__link {
  display: block;
  padding: $thinPaddingSize $cardPaddingSize;
  color: $primary-text-color;
  text-decoration: none;
  @include displayFlex;
}

.thread-preview__link:hover {
  color: $primary-text-color;
  text-decoration: none;
}

.thread-preview__icon {
  @include boxMedium;
  .user-avatar {
    pointer-events: none;
  }
}

.thread-preview__pie-canvas {
  @include boxMedium;
}

.thread-preview__text-container{
  @include displayFlex;
  // line-height: 22px;
  margin-right: 17px;
}

.thread-preview__title{
  @include md-subhead;
  padding-left: $thinPaddingSize;
  vertical-align: top;
  @include truncateText;
}

.thread-preview__proposal-name{
  // font-size: 93%;
  padding-left: $thinPaddingSize;
  padding-right: 5px;
  @include truncateText;
}

.thread-preview__group-name{
  @include md-caption;
  @include truncateText;
  padding-left: $thinPaddingSize;
  color: $grey-on-white;
}

.thread-preview__proposal-closing-container {
  min-width: 130px;
}

.thread-preview__unread-count {
  color: $grey-on-white;
  min-width: 33px;
  padding-left: 5px;
}

.thread-preview--unread {
  @include md-body-2;
}

.thread-preview__proposal-closing-at {
  @include md-caption;
  color: $highlight-red;
}

.thread-preview__position-icon-container {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 15px;
  top: 43px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 2px 1px rgba(0,0,0,.15);
}

.thread-preview__position-icon {
  background-repeat: no-repeat;
  height: 21px;
  margin: 1px 0 0 1px;
  width: 21px;
}

.thread-preview__position-icon--yes {
  background-image: url(/img/agree.svg);
}

.thread-preview__position-icon--no {
  background-image: url(/img/disagree.svg);
}

.thread-preview__position-icon--block {
  background-image: url(/img/block.svg);
}

.thread-preview__position-icon--abstain {
  background-image: url(/img/abstain.svg);
}

.thread-preview__undecided-icon {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.thread-preview__actions button {
  width: 40px;
}
