.thread-preview
  %a.thread-preview__link.lmo-flex.lmo-flex__space-between{layout: "row", lmo-href-for: "thread"}
    .sr-only
      %span {{thread.authorName()}}: {{thread.title}}.
      %span{ng-if: "thread.hasUnreadActivity()", translate: "dashboard_page.aria_thread.unread", translate-value-count: "{{ thread.unreadActivityCount() }}"}
      %span{ng-if: "thread.activeProposal()", translate: "dashboard_page.aria_thread.current_proposal", translate-value-name: "{{ thread.activeProposal().name }}"}
      %span{ng-if: "thread.activeProposal() && lastVoteByCurrentUser(thread)", translate: "dashboard_page.aria_thread.you_voted", translate-value-position: " {{lastVoteByCurrentUser(thread).position}} "}

    .thread-preview--left.lmo-flex
      .thread-preview__icon{ng-if: "usePolls()"}
        %user_avatar{ng-if: "!thread.activePoll()", user: "thread.author()", size: "medium"}
        %poll_common_chart_preview{ng-if: "thread.activePoll()", poll: "thread.activePoll()"}

      .thread-preview__screen-only.screen-only{aria-hidden: "true"}
        .thread-preview__text-container
          .thread-preview__title{ng-class: "{'thread-preview--unread': thread.isUnread() }"}
            {{thread.title}}
          .thread-preview__unread-count{ng-if: "thread.hasUnreadActivity()"}
            ({{thread.unreadActivityCount()}})

        .thread-preview__text-container{ng-if: "thread.activeProposal()"}
          .thread-preview__proposal-name> {{ thread.activeProposal().name }}
          .thread-preview__proposal-closing-container{ng-if: "thread.activeProposal().closingSoon()"}
            %proposal_closing_time.thread-preview__proposal-closing-at{proposal: "thread.activeProposal()"}>

        .thread-preview__text-container
          .thread-preview__group-name
            {{ thread.group().fullName }} ·
            %smart_time{time: "thread.lastActivityAt"}>

        %outlet{name: "after-thread-preview", model: "thread"}

    .thread-preview--right.lmo-flex{layout: "row"}
      .thread-preview__pin.thread-preview__status-icon{ng-if: "thread.pinned", title: "{{'dashboard_page.thread_preview.pinned' | translate}}"}
        %i.fa.fa-lg.fa-thumb-tack

  .thread-preview__actions.hidden-xs{ng-if: "thread.discussionReaderId"}
    %button.thread-preview__dismiss{ng-click: "dismiss()", ng-disabled: "!thread.isUnread()", ng-class: "{disabled: !thread.isUnread()}", title: "{{'dashboard_page.dismiss' | translate }}"}>
      %i.fa.fa-check>
    %button.thread-preview__mute{ng-click: "muteThread()", ng-show: "!thread.isMuted()", title: "{{ 'volume_levels.mute' | translate }}", aria-label: "{{ 'volume_levels.mute' | translate }}" }>
      %i.fa.fa-volume-off
      %i.fa.fa-times>
    %button.thread-preview__unmute{ng-click: "unmuteThread()", ng-show: "thread.isMuted()", title: "{{ 'volume_levels.unmute' | translate }}", aria-label: "{{ 'volume_levels.unmute' | translate }}"}>
      %i.fa.fa-volume-down>
