%form.close-proposal-form{ng-submit: "submit()", ng-disabled: "proposal.processing"}
  .lmo-disabled-form{ng-show: "isDisabled"}
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1{translate: "close_proposal_form.close_proposal"}

  .modal-body
    %span{translate: "close_proposal_form.helptext"}

  .modal-footer
    %button.lmo-btn--submit.close-proposal-form__submit-btn{type: "submit", translate: "close_proposal_form.close_proposal_submit"}
    %button.lmo-btn--cancel{type: "button", ng-click: "$close()", translate: "common.action.cancel"}
