!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title jQuery File Upload Example
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => "/assets/jquery-fileupload/vendor/jquery.ui.widget.js"}
    %script{:src => "/assets/jquery-fileupload/jquery.iframe-transport.js"}
    %script{:src => "/assets/jquery-fileupload/jquery.fileupload.js"}
    %script{:src => "/assets/jquery-fileupload/basic.js"}
    %script{:src => '/assets/attachments_clean.js'}
  %body
    = s3_uploader_form post: attachments_url, as: "attachment[location]", redirect_url: iframe_upload_result_attachments_url do
      = file_field_tag :file, multiple: true
      = hidden_field_tag :redirect, 'http://loomio.dev/something'

