%section.poll-common-card.lmo-card
  %poll_common_summary_panel{poll: "poll"}

  -# Here's our poll type switch statement. I've made it very explicit for now; we can be cute with this later if we feel the need to.
  .poll-proposal-panel{ng-if: "poll.pollType == 'proposal'"}
    %poll_proposal_action_panel{poll: "poll"}
    .poll-common-card__results-hidden{ng-if: "!showResults()"}
      %md-button.md-primary{ng-click: "press()", translate: "poll_common_card.show_results"}
    .poll-common-card__results-shown{ng-if: "showResults()"}
      %poll_proposal_chart_panel{poll: "poll"}
      %poll_common_votes_panel{poll: "poll"}

  .poll-engagement-panel{ng-if: "poll.pollType == 'check_in'"}
    %poll_check_in_action_panel{poll: "poll"}
    .poll-common-card__results-hidden{ng-if: "!showResults()"}
      %md-button.md-primary{ng-click: "press()", translate: "poll_common_card.show_results"}
    .poll-common-card__results-shown{ng-if: "showResults()"}
      %poll_check_in_chart_panel{poll: "poll"}
      %poll_common_votes_panel{poll: "poll"}

  .poll-poll-panel{ng-if: "poll.pollType == 'poll'"}
    %poll_poll_action_panel{poll: "poll"}
    .poll-common-card__results-hidden{ng-if: "!showResults()"}
      %md-button.md-primary{ng-click: "press()", translate: "poll_common_card.show_results"}
    .poll-common-card__results-shown{ng-if: "showResults()"}
      %poll_poll_chart_panel{poll: "poll"}
      %poll_common_votes_panel{poll: "poll"}
