- stances_by_user_id = {}
- poll.stances.latest.each { |stance| stances_by_user_id[stance.participant_id] = stance }

.poll-meeting-chart-panel.pb-2
  %table.poll-meeting-chart-table.body-2
    %thead
      %tr
        %td timezone
        - poll.participants.each do |user|
          %td=render 'discussions/avatar', user: user, size: 'small'
        %td= t(:'poll.export.total')
    %tbody
      - poll.poll_options.order(:name).each do |poll_option|
        %tr
          %td.poll-meeting-chart__meeting-time
            = render 'discussions/time_ago', time: Time.parse(poll_option.name).in_time_zone

          - poll.participants.each do |user|
            %td
              - score = (stances_by_user_id[user.id] && stances_by_user_id[user.id].score_for(poll_option)) || 0
              - class_for_score = 'poll-meeting-chart__cell--yes' if score == 2
              - class_for_score = 'poll-meeting-chart__cell--maybe' if score == 1
              - class_for_score = 'poll-meeting-chart__cell--no' if score == 0

              .poll-meeting-chart__cell{class: class_for_score}
                %span &nbsp;

          %td.total
            %strong=poll_option.total_score/2
