%md-dialog.revoke-app-form.lmo-modal__narrow
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "revoke_app_form.title", translate-value-name: "{{application.name}}"}
      %dismiss_modal_button{ng-if: "!preventClose"}
  .md-dialog-content
    %p{translate: "revoke_app_form.question", translate-value-name: "{{application.name}}"}

    .lmo-md-actions
      %md-button{ng-click: "$close()", translate: "common.action.cancel"}
      %md-button.md-raised.md-warn{ng-click: "submit()", translate: "revoke_app_form.submit"}
