.dashboard-container {
  margin: 10px auto;
  max-width: $thread-max-width;
}

.dashboard-options{
  margin-bottom: 16px;
}

.dashboard-page-dropdown-toggle{
  @include fontHelveticaMedium;
  @include fontSmall;
  text-transform: uppercase;
  color: $meta-text-color;
}

.dashboard-page-date-range{
  @include fontSmall;
  color: $meta-text-color;
}

.dashboard-page-threads {
  @include card;
  padding: 0;
  margin-bottom: 26px;
  margin-top: 9px;
}

.dashboard-page-group-name a{
  @include fontHelveticaMedium;
  @include fontCrapName;
  line-height: 30px;
  color: $meta-text-color;
  margin-left: 16px;
  margin-top: 0;
}

.dashboard-page-thread {
  padding: 13px 10px;
  border-bottom: 1px solid $border-color;
}

.dashboard-page-thread-title.is-unread {
  font-weight: bold;
}

.dashboard-page-thread-group-logo{
  float: left;
  img{ width: 32px; height: 32px; }
}

.dashboard-page-unread-count {
  white-space: nowrap;
  width: 38px;
  min-height: 45px;
  float: left;
  @include fontCrapName;
  @include fontHelveticaBold;
  color: $meta-text-color;
  text-align: center;
}
.dashboard-page-pie-chart {
  padding-right: 5px;
  line-height: 18px;
}

.dashboard-page-thread-header {
  @include fontCrapName;
  padding-bottom: 4px;
}
.dashboard-page-thread-info {
  @include metaText;
}
.dashboard-page-show-more{
  padding: 15px 15px 15px 48px;
}
.dashboard-page-show-more a{
  display: block;
  width: 100%;
  height: 100%;
  color: $meta-text-color;
  text-decoration: underline;
}
.dashboard-page-show-more a:hover{color: $primary-text-color;}
.dashboard-page-footer {
  font-size: 0.01em;
  height: 1px;
  position: relative;
  bottom: 200px;
}
