.dashboard-page-thread
  %a.selector-list-item-link{href: '/d/{{discussion.key}}'}
    .dashboard-page-thread-group-logo{ng-hide: 'hideGroupLogo'}
      %img{src: "{{discussion.group().logoUrl()}}"}
    .dashboard-page-unread-count
      %span{ng-if: 'discussion.isUnread()'}
        {{discussion.unreadItemsCount()}}
    .dashboard-page-thread-header
      %tiny_proposal_pie_chart.pull-left.dashboard-page-pie-chart{proposal: 'discussion.activeProposal()', ng-if: 'discussion.activeProposal()'}
      .dashboard-page-thread-title{ng-class: "{'is-unread': discussion.isUnread() }"}
        {{discussion.title}}
    .dashboard-page-thread-info
      %span{ng-show: 'hideGroupLogo && !discussion.group().isParent()'}> {{ discussion.group().name }} ·
      %span{ng-hide: 'hideGroupLogo'}> {{ discussion.group().fullName() }} ·
      %span> {{discussion.lastInboxActivity() | timeFromNowInWords}}

