.dashboard-page-thread
  %a.selector-list-item-link{href: '/d/{{ discussion.key }}'}
    .sr-only
      %span{translate: 'dashboard_page.aria_thread.title', translate-value-title: '{{ discussion.title }}'}
      %span{ng-if: 'discussion.isUnread()', translate: 'dashboard_page.aria_thread.unread', translate-value-count: '{{ discussion.unreadItemsCount() }}'}
      %span{ng-if: 'discussion.activeProposal()', translate: 'dashboard_page.aria_thread.current_proposal', translate-value-name: '{{ discussion.activeProposal().name }}'}
      %span{ng-if: 'discussion.activeProposal() && lastVoteByCurrentUser()', translate: 'dashboard_page.aria_thread.you_voted', translate-value-position: ' {{lastVoteByCurrentUser().position}} '}
    .screen-only{aria-hidden: 'true'}
      .dashboard-page-left
        .dashboard-page-unread-count{ng-if: 'discussion.isUnread()'}
          {{discussion.unreadItemsCount()}}
        .dashboard-page-proposal-vote{ng-if: 'discussion.activeProposal() && lastVoteByCurrentUser()'}
          .thread-item-vote-icon{class: 'thread-item-vote-icon-{{lastVoteByCurrentUser().position}}'}
      .dashboard-page-thread-header
        .dashboard-page-thread-title{ng-class: "{'is-unread': discussion.isUnread() }"}
          {{discussion.title}}
      .dashboard-page-thread-info
        %span.dashboard-page-proposal-info{ng-if: 'discussion.activeProposal()'}
          %tiny_proposal_pie_chart.pull-left.dashboard-page-pie-chart{proposal: 'discussion.activeProposal()', ng-if: 'discussion.activeProposal()'}
          %span> {{ discussion.activeProposal().name }} ·
          %smart_time{time: 'discussion.activeProposal().closingAt'}>
          %span> ·
        %span.dashboard-page-activity-info{ng-if: '!discussion.activeProposal() && discussion.latestEvent()'}
          %span{translate: 'dashboard_page.last_activity.{{discussion.latestEvent().kind}}'}>
          %span> {{ discussion.latestEvent().author }} ·
          %smart_time{time: 'discussion.latestEvent().createdAt'}>
      %span> {{ discussion.group().fullName() }}
        %span> {{ discussion.group().fullName() }}
  -#.dashboard-page-thread-actions
    %a.dashboard-page-thread-action-button{ng-show: 'discussion.volume != "mute"', href: '#', ng-click: 'discussion.reader().changeVolume("mute")'}>
      %i.fa.fa-2x.fa-volume-off
    %a.dashboard-page-thread-action-button{ng-show: 'discussion.isUnread()', href: '#', ng-click: 'discussion.markAsRead()'}>
      %i.fa.fa-2x.fa-check
