%section#motion_panels
  - if @motions
    - if @motions_voting.size > 0
      .group-motion-table
        %h3 Open
        %table
          - @motions.voting.each do |motion|
            - class_name = ""
            - if motion.user_has_voted?(current_user)
              - class_name = "grey-row"
            %tr{class: class_name}
              =render partial: "motions/motion_list", locals: {motion: motion}
        %h3 Closed
        %table
          - @motions.closed.each do |motion|
            %tr.grey-row
              =render partial: "motions/motion_list", locals: {motion: motion}
    - else
      =link_to 'Create a group', new_group_path
      or wait until you are accepted into one.
      or if there are public groups, then wooooooooo.


:coffeescript
  jQuery ->
    $('html, body').bind 'click', ()->
      $('.togglable').hide()
    $('.stop_prop').click (e)->
      e.stopPropagation()

