%section#motion_panels
  -if @motions
    %h3 Pending votes
    .row
      -@motions.each_with_index do |m, index|
        -unless m.user_has_voted?(@user)
          -if index % 3 == 0
            = render :partial => 'motions/motion_list', locals: {motion: m, last_class: 'last'}
          -else
            = render :partial => 'motions/motion_list', locals: {motion: m, last_class: ''}
    %h3 Past votes
    .row
      -@motions.each_with_index do |m, index|
        -if m.user_has_voted?(@user)
          -if index % 3 == 0
            = render :partial => 'motions/motion_list', locals: {motion: m, last_class: 'last'}
          -else
            = render :partial => 'motions/motion_list', locals: {motion: m, last_class: ''}

:coffeescript
  jQuery ->
    $('html, body').bind 'click', ()->
      $('.togglable').hide()
    $('.stop_prop').click (e)->
      e.stopPropagation()
