%section.membership-card.lmo-card.lmo-no-print{aria-labelledby: "membership-card-title", ng-if: "show()", ng-class: "{'membership-card--pending': pending}"}
  .lmo-md-actions
    %h2#membership-card-title.membership-card__title.lmo-truncate.lmo-card-heading.lmo-flex__grow{translate: "{{cardTitle}}", translate-values: "{pollType: '{{group.targetModel().translatedPollType()}}'}", ng-if: "!searchOpen"}
    %md-button.md-button--tiny.membership-card__search-button{ng-click: "toggleSearch()", ng-if: "!searchOpen"}
      %i.mdi.mdi-magnify

    %md-input-container.membership-card__search.md-block.md-no-errors{ng-class: "{'membership-card__search--open': searchOpen}", md-no-float: "true"}
      %input.membership-card__filter{ng-model: "vars.fragment", ng-model-options: "{debounce: 300}", ng-change: "fetchMemberships()", placeholder: "{{'memberships_page.fragment_placeholder' | translate}}"}
      %md-button.md-button--tiny{ng-if: "searchOpen", ng-click: "toggleSearch()"}
        %i.mdi.mdi-close

  %plus_button.membership-card__membership.membership-card__invite{ng-if: "canAddMembers()", click: "invite", message: "membership_card.invite_to_{{group.targetModel().constructor.singular}}"}
  .membership-card__membership.lmo-flex.lmo-flex__center{ng-repeat: "membership in memberships() | orderBy: ['-admin', '-createdAt'] | limitTo: (loader.numRequested || 10) track by membership.id", data-username: "{{membership.user().username}}"}
    %user_avatar.lmo-margin-right{user: "membership.user()", size: "medium", coordinator: "membership.admin", no-link: "!membership.acceptedAt"}
    .membership-card__user.lmo-flex.lmo-flex__grow.lmo-truncate{layout: "column"}
      %span> {{membership.userName() || membership.user().email }}
      %outlet{name: "after-membership-user", model: "membership"}
      .membership-card__last-seen.md-caption{translate: "user_page.online_field", translate-value-value: "{{::membership.user().lastSeenAt | timeFromNowInWords}}", ng-if: "::membership.user().lastSeenAt"}
      .membership-card__last-seen.md-caption{translate: "user_page.invited", translate-value-value: "{{::membership.user().createdAt | timeFromNowInWords}}", ng-if: "!membership.acceptedAt"}
    %membership_dropdown{membership: "membership"}
  %loading{ng-if: "loader.loading"}

  .lmo-md-actions{ng-if: "showLoadMore()"}
    %md-button.md-accent{ng-if: "showLoadMore()", ng-click: "loader.loadMore()", translate: "common.action.load_more"}
    %span
      {{recordsDisplayed()}} / {{recordCount()}}
