%section.membership-card.lmo-card.lmo-no-print{aria-labelledby: "membership-card-title"}
  .lmo-flex--row
    %h2#membership-card-title.membership-card__title.lmo-truncate.lmo-card-heading{translate: "group_page.members", translate-value-count: "{{group.membershipsCount}}", ng-if: "!searchOpen"}
    %md-button.md-button--tiny{ng-click: "toggleSearch()", ng-if: "!searchOpen"}
      %i.mdi.mdi-magnify
    %md-input-container.membership-card__search.md-block.md-no-errors{ng-class: "{'membership-card__search--open': searchOpen}", md-no-float: "true"}
      %input.membership-page__search-filter{ng-model: "fragment", ng-model-options: "{debounce: 300}", ng-change: "fetchMemberships()", placeholder: "{{'memberships_page.fragment_placeholder' | translate}}"}
      %md-button.md-button--tiny{ng-if: "searchOpen", ng-click: "toggleSearch()"}
        %i.mdi.mdi-close

  .membership-card__membership.lmo-flex.lmo-flex__center{ng-if: "canViewMemberships()", ng-repeat: "membership in memberships() | orderBy: '-admin' | limitTo: loader.numLoaded track by membership.id", data-username: "{{membership.user().username}}"}
    %user_avatar.lmo-margin-right{user: "membership.user()", size: "medium", coordinator: "membership.admin"}
    .membership-card__user.lmo-flex.lmo-flex__grow{layout: "column"}
      %span {{::membership.user().name}}
      %outlet{name: "after-membership-user", model: "membership"}
      .membership-card__last-seen.md-caption{translate: "user_page.online_field", translate-value-value: "{{::membership.user().lastSeenAt | timeFromNowInWords}}", ng-if: "::membership.user().lastSeenAt"}
    %membership_dropdown{membership: "membership"}
  .lmo-md-actions
    %div{ng-if: "!showLoadMore() && !loader.loading"}
    %loading{ng-if: "loader.loading"}
    %md-button.md-accent{ng-if: "showLoadMore()", ng-click: "loader.loadMore()", translate: "common.action.load_more"}
    %md-button.md-raised.md-primary{ng-click: "invite()", translate: "common.action.invite"}
