  .lmo-md-actions
    %div{ng-if: "!comment.isNew() || submitIsDisabled"}
    .comment-form__actions--left.lmo-flex{layout: "row", ng-if: "comment.isNew() && !submitIsDisabled"}
      %md-button.comment-form-button{translate: "comment_form.cancel_reply", ng-show: "comment.parentId && !eventWindow.useNesting", ng-click: "comment.parentId = null", tabindex: "-1"}
      %md-button#post-comment-cancel{translate: "common.action.cancel", ng-click: "cancel($event)", ng-if: "!comment.isNew()"}
      %a.comment-form__formatting.md-button.md-accent.lmo-hide-on-xs{lmo-href: "/markdown", ng-if: "!comment.parentId", target: "_blank", title: "{{ 'common.formatting_help.title' | translate }}"}
        %span{translate: "common.formatting_help.label"}
    .comment-form__actions--right.lmo-flex{layout: "row"}
      %outlet{name: "before-comment-submit", model: "comment"}
      %md-button.md-primary.md-raised.comment-form__submit-button{ng-if: "comment.isNew()", ng-click: "submit()", ng-disabled: "submitIsDisabled", translate: "comment_form.submit_button.label"}
      %md-button.md-primary.md-raised.comment-form__submit-button{ng-if: "!comment.isNew()", ng-click: "submit()", ng-disabled: "submitIsDisabled", translate: "common.action.save_changes"}
