.poll-common-publish-facebook-preview {
  padding: 8px;
  background: white;
  border: 1px solid $border-color;
  margin-bottom: 16px;
}

.poll-common-publish-facebook-preview__image {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.poll-common-publish-facebook-preview__link {
  color: #365899;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.poll-common-publish-facebook-preview__abbr {
  color: #90949c;
  font-size: 12px;
  line-height: 14px;
}

.poll-common-publish-facebook-preview__preview {
  border: 1px solid #e6e6e6;
  margin-top: 6px;
  padding: 12px 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .05);
}

.poll-common-publish-facebook-preview__poll-title {
  color: #1d2129;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.poll-common-publish-facebook-preview__message {
  margin: 10px 0;
}

.poll-common-publish-facebook-preview__host {
  margin-top: 10px;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #90949c;
  overflow: hidden;
  text-overflow: ellipsis;
}
