.poll-common-publish-facebook-preview
  .poll-common-publish-facebook-preview__title.lmo-flex{layout: "row"}
    %img.poll-common-publish-facebook-preview__image{ng-src: "{{community.identity().logo}}"}
    %div.lmo-flex{layout: "column"}
      %div
        %span.poll-common-publish-facebook-preview__link> {{community.identity().name}}
        %span{translate: "poll_common_publish_facebook_preview.shared_a"}>
        %span.poll-common-publish-facebook-preview__link{translate: "poll_common_publish_facebook_preview.link"}>
      %div
        %abbr.poll-common-publish-facebook-preview__abbr{translate: "poll_common_publish_facebook_preview.just_now"}>
        %abbr.poll-common-publish-facebook-preview__abbr · Loomio
  .poll-common-publish-facebook-preview__message {{ message }}
  .poll-common-publish-facebook-preview__preview
    .poll-common-publish-facebook-preview__poll-title {{ poll.title }}
    .poll-common-publish-facebook-preview__poll-details {{ poll.details }}
    .poll-common-publish-facebook-preview__host {{ host() }}
