.registered-app-page {
  @include card;
  margin-top: 16px;
  h3 { margin-bottom: 0; }
}

.registered-app-page__app {
  margin: 16px 0;
}

.registered-app-page__title {
  margin-bottom: 16px;
}

.registered-app-page__code {
  background: $background-color;
  padding: 8px;
  @include roundedCorners;
  @include truncateText;
}
