.registered-app-page {
  @include card;
  margin-top: 16px;
  h3 { margin-bottom: 0; }
}

.registered-app-page__app {
  margin: 16px 0;
}

.registered-app-page__title {
  margin-bottom: 16px;
}

.registered-app-page__code {
  background: $background-color;
  padding: 6px 10px;
  border-radius: 5px;
  width: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
