%md-dialog.poll-common-modal
  %form.poll-check-in-form
    .modal-header.poll-common-modal-header
      %i.material-icons thumbs_up_down
      %h1.lmo-h1{ng-if: "poll.isNew()", translate: "poll_check_in_form.new_check_in"}
      %h1.lmo-h1{ng-if: "!poll.isNew()", translate: "poll_check_in_form.update_check_in"}
      %modal_header_cancel_button
    .modal-body
      .poll-check-in__tip
        %p{translate: "poll_check_in_form.tip"}
        %poll_common_school_link{href: "https://loomio.school/beginner/engagements.html", translation: "poll_check_in_form.learn_more"}

      %input{type: "hidden", ng-model: "poll.pollType"}

      %md-input-container.md-block
        %label{translate: "poll_check_in_form.title"}
        %input.lmo-primary-form-input{type: "text", placeholder: "{{translations.titlePlaceholder}}", ng-model: "poll.title", mention-field: "true", md-maxlength="200"}
        %validation_errors{subject: "poll", field: "title"}

      %md-input-container.md-block
        %label{translate: "poll_check_in_form.details"}
        %textarea.lmo-primary-form-input{ng-model: "poll.details", placeholder: "{{translations.detailsPlaceholder}}"}
        %outlet{name: "after-check-in-form-textarea", model: "poll"}

      %poll_closing_at_field.md-block{poll: "poll"}
      %poll_common_notify_group{model: "poll"}

    .modal-footer
      %md-button.md-primary.md-raised{ng-click: "submit()", ng-if: "!poll.isNew()", translate: "poll_check_in_form.update", aria-label: "{{ 'poll_check_in_form.update' | translate }}"}
      %md-button.md-primary.md-raised{ng-click: "submit()", ng-if: "poll.isNew()", translate: "poll_check_in_form.start", aria-label: "{{ 'poll_check_in_form.start' | translate }}"}
