.group-theme{
  @include lmoRow;
  padding-top: 48px;
}

.group-theme__cover{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 320px;
  z-index: $z-zero;
  &:hover .group-theme__upload-photo {
    button { background: $background-transparent-color; }
    .group-theme__upload-help-text { opacity: 1; }
  }
}

.group-theme__header{
  width: 100%;
  position: relative;
  min-height: 335px;
}

.group-theme__member-actions button{
  @include md-body-2;
}

.group-theme__header--compact {
  position: relative;
  margin: 215px 0 15px;
}

.group-theme__header--compact img {
  @include smallIcon;
  border-radius: 3px 0 0 3px;
}

.group-theme__logo{
  position: relative;
  top: 215px;
  width: 108px;
  height: 108px;
  background-size: contain;
  background-color: white;
  background-repeat: no-repeat;
  background-position-y: center;
  border: 4px solid #fff;
  &:hover .group-theme__upload-photo {
    button { background: $background-transparent-color; }
    .group-theme__upload-help-text { opacity: 1; }
  }
}

.group-theme__logo--compact {
  display: table-cell;
  img { background: white; }
}

.group-theme__name-and-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 175px;
}

@media (max-width: $small-max-px){
  .group-theme__name-and-actions{
    flex-direction: column;
    align-items: flex-start;
  }
}


.group-theme__actions {
  display: flex;
  margin-left: auto;
}

.group-theme__member-actions{
  display: flex;
}

.group-theme__name {
  margin-left: 108px + 15px;
  margin-right: 10px;
  a {
    color: $primary-text-color;
    &:hover { text-decoration: underline; }
  }
}

.group-theme__name--compact {
  display: table-cell;
  vertical-align: middle;
  background: rgba(0,0,0,.5);
  color: white;
  padding: 0 10px;
  border-radius: 0 3px 3px 0;
}

.group-theme__name--compact a {
  color: white;
}

.group-theme__upload-photo {
  cursor: pointer;
  width: 100%;
  button {
    transition: 0.25s background-color ease-in-out;
    border: 0;
    padding: 4px;
    border-radius: 4px;
    background: transparent;
  }
  i {
    margin-right: 4px;
    width: 24px;
  }
}

.group-theme__upload-photo i {
  color: white;
  text-shadow: 1px 1px 4px $grey-on-grey;
}

.group-theme__upload-help-text {
  transition: 0.25s opacity ease-in-out;
  opacity: 0;
  @include fontTiny;
  color: $primary-text-color;
}
