.group-theme
  .group-theme__cover.lmo-no-print
    .group-theme__upload-photo{ng-if: "canUploadPhotos()"}
      %button.lmo-flex.lmo-flex__center{ng-click: "openUploadCoverForm()", title: "{{ 'group_page.new_cover_photo' | translate }}"}
        %i.mdi.mdi-camera.mdi-24px
        %span.group-theme__upload-help-text{translate: "group_page.new_photo"}
  .group-theme__header--compact{ng-if: "compact"}
    .group-theme__logo--compact{aria-hidden: "true"}
      %a{lmo-href-for: "group"}
        %img{ng-src: "{{group.logoUrl()}}", alt: "{{ 'group_page.group_logo' | translate }}"}
    .group-theme__name--compact{aria-label: "breadcrumb", role: "navigation"}
      %a{ng-if: "group.isSubgroup()", lmo-href-for: "group.parent()"}>
        {{group.parentName()}}
      %span{ng-if: "group.isSubgroup()"}> \-
      %a{lmo-href-for: "group", aria-current: "page"}>
        {{group.name}}
      %span{ng-if: "discussion"}> \-
      %a{ng-if: "discussion", lmo-href-for: "discussion", aria-current: "page"}
        {{discussion.title}}

  .group-theme__header{ng-if: "!compact"}
    .group-theme__logo{ng-style: "logoStyle()", alt: "{{ 'group_page.group_logo' | translate }}"}
      .group-theme__upload-photo{ng-if: "canUploadPhotos()"}
        %button.lmo-flex.lmo-flex__center{ng-click: "openUploadLogoForm()", title: "{{ 'group_page.new_group_logo' | translate }}"}
          %i.mdi.mdi-camera.mdi-24px
          %span.group-theme__upload-help-text{translate: "group_page.new_photo"}

    .group-theme__name-and-actions
      %h1.lmo-h1.group-theme__name{aria-label: "breadcrumb", role: "navigation"}
        %a{ng-if: "group.isSubgroup()", lmo-href-for: "group.parent()"}
          {{group.parentName()}}
        %span{ng-if: "group.isSubgroup()"}> \-
        %a{lmo-href-for: "group"}
          {{group.name}}
      .group-theme__actions{ng-if: "homePage"}
        %join_group_button{group: "group"}
        %outlet{name: "group-theme-actions", model: "group"}
        .group-theme__member-actions{ng-if: "canPerformActions()"}
          %outlet{name: "group-theme-member-actions", model: "group"}
          %current_plan_button{group: "group"}
          %group_privacy_button{group: "group"}
          %group_actions_dropdown{group: "group"}
