.proposal-expanded{ng-show: 'proposal'}
  %proposal_actions_dropdown{proposal: 'proposal', ng-show: 'showActionsDropdown()'}
  %h2 {{proposal.name}}
  .proposal-expanded-started-by
    %span{translate: 'proposal_expanded.started_by', translate-values: '{name: proposal.authorName()}'}
    %span.time-ago>
      {{discussion.createdAt | timeFromNowInWords}}
    ·
    %timeago{timestamp: 'proposal.closingAt' }>
    .badge.pull-right.cuke-proposal-closed-badge{ng-show: 'proposal.closedAt'} Closed
  .proposal-expanded-description{btf-markdown: 'proposal.description' }

  .pie-chart.media
    .pie-chart-pie.media-left
      %proposal_pie_chart{proposal: 'proposal'}
    .pie-chart-legend.media-body
      .pie-chart-legend-item{class: 'pie-chart-legend-item-{{position}}', ng-repeat: 'position in proposal.positions'}
        {{ "proposal_position_"+position | translate}} ({{ proposal.voteCounts[position] }})

  %vote_form{proposal: 'proposal'}

  .proposal-expanded-votes-trigger{ng-show: 'showVoteToggle()', ng-click: 'applyVoteToggle()'}
    %i.fa.fa-thumbs-up>
    %span.action{translate: 'proposal_expanded.votes_count', translate-values: '{count: {{curatedVotes().length}} }'}
  .proposal-expanded-no-votes{ng-show: 'onlyVoterIsYou()', translate: 'proposal_expanded.only_voter_is_you'}
  .proposal-expanded-no-votes{ng-show: 'noVotesYet()', translate: 'proposal_expanded.no_votes_yet'}

  .proposal-expanded-votes{ng-show: 'showVotes'}
    %h4{translate: 'proposal_expanded.positions'}

    .proposal-expanded-vote.media{ng_repeat: 'vote in curatedVotes()'}
      .media-left
        .thread-item-vote-icon{class: 'thread-event-vote-icon-{{vote.position}}'}
      .media-body
        %strong> {{::vote.authorName()}}
        %span.author-statement {{vote.statement }}
