.proposal-card {
  background-color: #fff;
}

.proposal-card-started-by {
  @include metaText;
  margin-bottom: 5px;
}

.proposal-card-edit {
  position: relative;
}

.pie-chart-pie {
  width: 120px;
  height: 120px;
}
.pie-chart-legend {
  @include metaText;
  padding-top: 36px;
}

.pie-chart-legend-item{
  margin: 5px;
  padding-left: 5px;
  line-height: 15px;
}

.pie-chart-legend-item-yes{
  border-left: 15px solid #90D490;
}

.pie-chart-legend-item-abstain{
  border-left: 15px solid #F0BB67;
}

.pie-chart-legend-item-no{
  border-left: 15px solid #D49090;
}

.pie-chart-legend-item-block{
  border-left: 15px solid #dd0000;
}
