/* let's only use semantic names for our colours */
/* you should not need to use these now we're materialized */
$grey-on-grey:  #666;
$grey-on-white: #767676;
$light-grey-on-white: #999999;
$primary-text-color: #262626;
$border-color: #dcdcdc;
$background-color: #ebebeb;
$background-transparent-color: rgba(235,235,235,0.8);
$card-background-color: #fff;
$modal-background-color: #f6f6f6;
$notification-color: #4A90E2;
$highlight-red: #D0021B;
$link-color: rgb(0,188,212);

$item-highlight-color: #FFFFE8;
$progress-bar-color: rgb(0,188,212);

$loomio-orange: #FFA726;

$agree-color: #00d374;
$abstain-color: #F6A82B;
$disagree-color: #F96168;
$block-color: #CE261B;

.lmo-grey-on-white {
  color: $grey-on-white;
}
