/************
 * Headings
 ************/
// .md-display-4 {
//   font-size: $display-4-font-size-base;
//   font-weight: 300;
//   letter-spacing: -0.010em;
//   line-height: $display-4-font-size-base;
// }
// .md-display-3 {
//   font-size: $display-3-font-size-base;
//   font-weight: 400;
//   letter-spacing: -0.005em;
//   line-height: $display-3-font-size-base;
// }
// .md-display-2 {
//   font-size: $display-2-font-size-base;
//   font-weight: 400;
//   line-height: rem(6.4);
// }
// .md-display-1 {
//   font-size: $display-1-font-size-base;
//   font-weight: 400;
//   line-height: rem(4);
// }
// .md-headline {
//   font-size: $headline-font-size-base;
//   font-weight: 400;
//   line-height: rem(3.2);
// }
// .md-title {
//   @include md-title();
// }
// .md-subhead {
//   @include md-subhead();
// }
//
// /************
//  * Body Copy
//  ************/
// .md-body-1 {
//   @include md-body-1();
// }
// .md-body-2 {
//   @include md-body-2();
// }
// .md-caption {
//   font-size: $caption-font-size-base;
//   letter-spacing: 0.020em;
// }
// .md-button {
//   letter-spacing: 0.010em;
// }
// @mixin md-title() {
//   font-size: $title-font-size-base;
//   font-weight: 500;
//   letter-spacing: 0.005em;
// }
//
// @mixin md-body-1() {
//   font-size: $body-font-size-base;
//   font-weight: 400;
//   letter-spacing: 0.010em;
//   line-height: rem(2);
// }
//
// @mixin md-body-2() {
//   font-size: $body-font-size-base;
//   font-weight: 500;
//   letter-spacing: 0.010em;
//   line-height: rem(2.4);
// }
//
// @mixin md-subhead() {
//   font-size: $subhead-font-size-base;
//   font-weight: 400;
//   letter-spacing: 0.010em;
//   line-height: rem(2.4);
// }
//
// $display-4-font-size-base: rem(11.20) !default;
// $display-3-font-size-base: rem(5.600) !default;
// $display-2-font-size-base: rem(4.500) !default;
// $display-1-font-size-base: rem(3.400) !default;
// $headline-font-size-base:  rem(2.400) !default;
// $title-font-size-base:     rem(2.000) !default;
// $subhead-font-size-base:   rem(1.600) !default;
//
// $body-font-size-base:      rem(1.400) !default;
// $caption-font-size-base:   rem(1.200) !default;


// don't use the mixin's they're just for legacy. Please just include the fontclass
// on the element directly.

@mixin md-headline {
  font-size: $headline-font-size-base;
  font-weight: 400;
  line-height: rem(3.2);
}

@mixin md-caption {
  font-size: $caption-font-size-base;
  letter-spacing: 0.020em;
}


@mixin fontTiny {
  font-size: $caption-font-size-base;
  // font-size: 12px;
  // line-height: 14px;
}

@mixin fontSmall {
  @include md-body-1;
  // font-size: 13px;
  // line-height: 19px;
}

@mixin fontMedium {
  @include md-body-1();
  // font-size: 15px;
  // line-height: 23px;
}

@mixin fontMedLarge {
  @include md-subhead();
  // font-size: 18px;
  // line-height: 25px;
}

@mixin fontLarge {
  @include md-title();
  // font-size: 20px;
  // line-height: 28px;
}


@mixin fontGrande {
  @include md-headline();
  // font-size: 24px;
  // line-height: 32px;
}

@mixin fontWeightBold {
  // font-weight:600;
  // font-stretch:normal;
}

@mixin fontWeightMedium{
  // font-weight:500;
  // font-stretch:normal;
}

@mixin fontWeightLight{
  // font-weight:200;
  // font-stretch:normal;
}


@mixin truncateText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin lmoH1{
  @include fontWeightBold;
  @include fontGrande;
  display: inline-block;
  padding: 0;
  margin: 0;
  outline: 0;
}
