.lmo-fade-animation {

  .animated {
    transition: opacity 1s ease-in;
  }

  .ng-leave { opacity: 1; }
  .ng-enter { opacity: 0; }

  .ng-leave.ng-leave-active { opacity: 0; }
  .ng-enter.ng-enter-active { opacity: 1; }
}
