$navbar-height: 48px;
$tiny-max:      480;
$small-max:     767;
$medium-max:    992;
$tiny-max-px:   $tiny-max   + px;
$small-max-px:  $small-max  + px;
$medium-max-px: $medium-max + px;
$max-container-size: 1120px;

$z-negative: -10;
$z-zero: 0;
$z-low: 10;
$z-medium: 100;
$z-high: 1000;
$z-extreme: 10000;

@mixin card{
  @include cardNoPadding;
  @include cardPadding;
}

@mixin cardNoPadding {
  @include md-body-1;
  @include roundedCorners;
  box-shadow: $whiteframe-shadow-1dp;
  background: #fff;
  margin-bottom: 12px;
  max-width: 100%;
}

@mixin cardHeadingPadding {
  padding: $cardPaddingSize $cardPaddingSize 0 $cardPaddingSize;
}

$thinPaddingSize: 8px;
$cardPaddingSize: 16px;
@mixin cardPadding {
  padding: $cardPaddingSize;
}

@mixin listTransition {
  transition: 0.25s background-color ease-in-out;
  color: $primary-text-color;
  &:hover {
    background: $background-color;
    text-decoration: none;
  }
}

@mixin cardButton {
  position: relative;
  top: -7px;
  right: -9px;
  float: right;
}
