$navbar-height: 48px;
$tiny-max:      480;
$small-max:     768;
$medium-max:    992;
$tiny-max-px:   $tiny-max   + px;
$small-max-px:  $small-max  + px;
$medium-max-px: $medium-max + px;
$max-container-size: 1120px;

$z-negative: -10;
$z-zero: 0;
$z-low: 10;
$z-medium: 100;
$z-high: 1000;
$z-extreme: 10000;

@mixin card{
  @include md-body-1;
  @include cardNoPadding;
  @include cardPadding;
}

@mixin cardNoPadding {
  @include roundedCorners;
  @include dropsShadow;
  border: 1px solid $border-color;
  background: #fff;
  margin-bottom: 10px;
  max-width: 100%;
}

$thinPaddingSize: 8px;
$cardPaddingSize: 16px;
@mixin cardPadding {
  padding: $cardPaddingSize;
}

@mixin thinRoundedBorder {
  border: 1px solid $border-color;
  @include roundedCorners;
}

@mixin listTransition {
  transition: 0.25s background-color ease-in-out;
  color: $primary-text-color;
  &:hover {
    background: $background-color;
    text-decoration: none;
  }
}

@mixin cardButton {
  position: relative;
  top: -7px;
  right: -9px;
  float: right;
}

@mixin dropsShadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
