$navbar-height: 48px;
$tiny-max:      480;
$small-max:     767;
$medium-max:    992;
$tiny-max-px:   $tiny-max   + px;
$small-max-px:  $small-max  + px;
$medium-max-px: $medium-max + px;
$max-container-size: 1120px;

$z-negative: -10;
$z-zero: 0;
$z-low: 10;
$z-medium: 100;
$z-high: 1000;
$z-extreme: 10000;

$thinPaddingSize: 8px;
$cardPaddingSize: 16px;
