$navbar-height: 48px;
$tiny-max:      480;
$small-max:     768;
$medium-max:    992;
$tiny-max-px:   $tiny-max   + px;
$small-max-px:  $small-max  + px;
$medium-max-px: $medium-max + px;
$max-container-size: 1120px;

@mixin card{
  @include md-body-1;
  @include cardNoPadding;
  @include cardPadding;
}

@mixin cardNoPadding {
  @include roundedCorners;
  @include box_shadow(1);
  border: 1px solid $border-color;
  background: #fff;
  margin-bottom: 10px;
  max-width: 100%;
  i.fa{ color: $grey-on-white; }
}

$thinPaddingSize: 8px;
$cardPaddingSize: 16px;
@mixin cardPadding {
  padding: $cardPaddingSize;
}

@mixin thinRoundedBorder {
  border: 1px solid $border-color;
  @include roundedCorners;
}

@mixin box_shadow ($level) {

  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

}
