body {
  background-color: $background-color;
}

header {
  min-height: $navbar-height;
  z-index: 100;
}

h1, h2, h3, h4 {
  color: $primary-text-color;
  text-transform: none;
  @include fontMedium;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input, select, textarea{
  margin-bottom: 10px;
}

input[type="file"]{
  /*This is a hack for now to fix the mobile layout. The file input should be hidden.*/
  max-width: 200px;
}

a {
  color: $link-color;
}
