@mixin lmoRow {
  @media (min-width: $tiny-max-px){
    /* outer padding on all but tiny screens */
    padding-left: 16px;
    padding-right: 16px;
  }
}

body {
  // position: static;
}

.lmo-one-column-layout, .lmo-two-column-layout{
  margin: auto;
  padding-bottom: 25px;
  z-index: 0;
  min-width: 320px;
}

.lmo-one-column-layout{
  max-width: $small-max-px;
}

.lmo-two-column-layout{
  max-width: $max-container-size;
  padding-top: 48px;
}

.lmo-row{
  @include lmoRow;
}

md-dialog {
  min-width: $tiny-max-px;
  max-height: 90%;
}

.lmo-sidebar-and-main-container {
  position: relative;
}

.lmo-main-content{
  overflow-y: scroll;
  position: relative;
}
.lmo-main-background {
  position: absolute;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 320px;
}

.modal-body {
  @include md-body-1;
  max-height: calc(90vh - 125px);
  overflow: auto;
  flex-shrink: 0; // fix for safari and maybe ie11 squishing the modal-body
}

@media (max-width: $tiny-max-px){
  md-dialog {
    min-width: 100%;
    max-height: 100%;
  }

  .modal-body {
    max-height: calc(100vh - 125px);
  }
}

@media (min-width: $tiny-max-px) and (max-width: $small-max-px){
  /* applied to small screens, e.g. portrait tablet */

  .lmo-thread-column-left{
    padding: 0 10px;
  }
  .lmo-thread-column-right{
    padding: 0 10px;
  }
}

@media (min-width: $small-max-px) and (max-width: $medium-max-px){
  /* applied to medium screens, e.g. landscape tablet */

  /*
    We want the right col to be min 320px + 10px padding.
    The left col consumes the rest of the available space.
  */

  $med-right-col-ratio: (320 + 10) / $small-max;
  .lmo-thread-column-right {
    width: percentage($med-right-col-ratio);
  }
  .lmo-thread-column-left {
    width: percentage(1 - $med-right-col-ratio);
  }
}

@media (min-width: $medium-max-px){
  /* applied to large screens, e.g. desktop or laptop*/

  /*
    We want the right col to be min 400px + 10px padding.
    The left col consumes the rest of the available space.
  */

  $large-right-col-ratio: (400 + 10) / $medium-max;
  .lmo-thread-column-right {
    width: percentage($large-right-col-ratio);
  }
  .lmo-thread-column-left {
    width: percentage(1 - $large-right-col-ratio);
  }
}

@media (min-width: $tiny-max-px){
  /* applied to everything bigger than a tiny screen */

}

@media (max-width: $small-max-px){
  /* applied to tiny and small screens: pages collapse to one column; */

}

@media (min-width: $small-max-px){
  /* applied to medium and large screens: pages have two columns; */

  .lmo-group-column-left{
    width: percentage(2/3);
    float: left;
    padding-right: 10px;
  }

  .lmo-group-column-right{
    width: percentage(1/3);
    float: left;
  }

  .lmo-thread-column-right {
    padding: 0 10px 0 0;
    float: right;
    clear: right;
  }
  .lmo-thread-column-left {
    padding: 0 10px 0 10px;
    float: left;
    clear: left;
  }
}

.modal-body {
  flex-shrink: 0;
}

.md-dialog {
  max-width: 400px;
}
