// not used yet.. thinking this is where we put md modifer stuff.
.lmo-md-actions {
  clear: both;
  display: flex;
  justify-content: space-between;
}

.lmo-md-action {
  clear: both;
  display: flex;
  justify-content: flex-end;
}

.md-button--no-h-margin {
  margin-left: 0;
  margin-right: 0;
}

md-dialog {
  min-width: $tiny-max-px;
  max-width: 800px !important;
  max-height: 90%;
}

.md-dialog-content {
  position: relative;
  padding: 24px 16px !important;
}

md-virtual-repeat-container {
  min-width: $tiny-max-px !important;
}

md-progress-circular { margin: auto; }

md-input-container textarea {
  max-height: 400px;
  overflow: auto;
}
