.lmo-md-actions {
  clear: both;
  display: flex;
  justify-content: space-between;
}

.lmo-md-action {
  clear: both;
  display: flex;
  justify-content: flex-end;
}

.md-button--no-h-margin {
  margin-left: 0;
  margin-right: 0;
}

md-dialog {
  min-width: $tiny-max-px;
  max-width: 800px;
  max-height: 90%;
  @media (max-width: $tiny-max-px) { min-width: 100%; }
}

md-menu-content[role="menu"] { max-height: inherit; }

.md-button--nude {
  opacity: .7;
  &:hover { opacity: 1; }
  font-size: 20px;
  padding: 0;
  background-color: transparent;
  padding: 0 4px;
  border: 0;
}

.md-dialog-content {
  position: relative;
  padding: 24px 16px !important;
}

md-virtual-repeat-container {
  min-width: $tiny-max-px !important;
}

md-progress-circular { margin: auto; }

md-input-container textarea {
  max-height: 400px;
  overflow: auto;
}

.md-checkbox--with-summary {
  .md-container {
    top: 2px;
    transform: none;
  }
}

.md-no-errors .md-errors-spacer { display: none; }
.md-datepicker-input { font-size: 16px !important; }

.md-open-menu-container {
  max-height: 90%;
  overflow-y: auto;
}

@media (max-width: $tiny-max-px) {
  .md-open-menu-container {
    left: 0     !important;
    top: 48px   !important;
    width: 100%;
    .md-button { text-align: center; }
  }
}

@media (min-width: $tiny-max-px) {
  .md-open-menu-container { z-index: 1001; }
}
