
.form-card{
  @include card;
  max-width: 480px;
  margin: 10px auto;
}

.lmo-form-disabled {
  color: $grey-on-white;
}

.lmo-form-background-grey {
  background-color: #f6f6f6;
}

.lmo-disabled-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 6px;
  z-index: 10;
  opacity: 0.5;
}

.lmo-textarea-wrapper .md-errors-spacer {
  display: none;
}
