// not used yet.. thinking this is where we put md modifer stuff.
.lmo-md-actions {
  @include displayFlex;
  justify-content: space-between;
}

.lmo-md-action {
  @include displayFlex;
  justify-content: flex-end;
}

md-dialog {
  max-width: 800px !important;
}

md-menu-content[role="menu"] {
  max-height: inherit;
}

.md-dialog-content {
  position: relative;
  padding: 24px 16px !important;
}

@media (max-width: $tiny-max-px) {
  .md-open-menu-container {
    left: 0     !important;
    top: 48px   !important;
    max-height: 90%;
    width: 100%;
    overflow-y: auto;
    .md-button { text-align: center; }
  }
}

@media (min-width: $tiny-max-px) {
  .md-open-menu-container { z-index: 1001; }
}
