
.form-card{
  @include card;
  max-width: 480px;
  margin: 10px auto;
}

.lmo-form-group{
  margin-top: 20px;
}

.lmo-form-disabled {
  color: $grey-on-white;
}

.lmo-form-background-grey {
  background-color: #f6f6f6;
}

.lmo-disabled-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 6px;
  z-index: 10;
  opacity: 0.5;
}

label.lmo-form-labelled-input {
  display: block;
  font-weight: normal;
  > input {
    margin-right: 10px;
  }
  > span {
    > i { width: 15px; }
    > .seperator::after {
      content: '\00a0\2013\00a0'
    }
  }
}
