@mixin cardMinorAction {
  color: $grey-on-white;
  margin: 20px 0 0 0;
  display: block;
  text-decoration: underline;
  clear: both;
}

.lmo-card {
  @include card;
}

.lmo-card-pad-top {
  padding-top: $cardPaddingSize;
}

.lmo-card-pad-sides {
  padding: 0 $cardPaddingSize;
}

.lmo-card-pad-bottom {
  padding-bottom: $cardPaddingSize;
}

.lmo-card-pad-top-n-sides {
  padding: $cardPaddingSize $cardPaddingSize 0 $cardPaddingSize;
}

.lmo-card-minor-action{
  @include cardMinorAction;
}

.lmo-card--no-padding {
  @include cardNoPadding;
}

.lmo-card-padding {
  @include cardPadding;
}

.lmo-card-heading-padding {
  padding: $cardPaddingSize $cardPaddingSize 0 $cardPaddingSize;
}

.lmo-card-left-right-padding {
  padding: 0 $cardPaddingSize 0 $cardPaddingSize;
}

.lmo-card-heading{
  // @include fontWeightMedium;
  // @include fontSmall;
  @include md-subhead;
  color: $grey-on-white;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: .3px;
}

.lmo-card-subheading{
  @include md-subhead;
  // @include fontSmall;
  // @include fontWeightMedium;
  color: $grey-on-white;
  margin-top: 1.5em;
  margin-bottom: .8em;
}
