.lmo-h1{
  @include lmoH1;
}
.lmo-h1-medium{
  @include fontWeightMedium;
  @include fontGrande;
}

.lmo-h1:focus, .lmo-h1-medium:focus{
  outline: none;
}

.lmo-h2 {
  @include md-title;
  // @include fontWeightBold;
  // @include fontLarge;
  margin: 8px 0;
}
.lmo-h3{
  @include fontWeightMedium;
  @include fontSmall;
  color: $grey-on-white;
  font-weight: bold;
  margin-bottom: 10px;
}
.lmo-h4{
  @include fontWeightMedium;
  @include fontSmall;
  color: $grey-on-white;
  margin-top: 22px;
}

.lmo-page-heading {
  padding: $cardPaddingSize;
}
