.lmo-slide-animation {
  position: relative;

  .animated {
    transition: all 0.4s ease-out;
    position: relative;
  }

  .ng-leave {
    opacity: 1;
    right: 0;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .ng-leave.ng-leave-active {
    opacity: 0;
    right: 100%;
  }

  .ng-enter {
    opacity: 0;
    right: -100%;
  }
  .ng-enter.ng-enter-active {
    opacity: 1;
    right: 0;
  }
}
