.lmo-search-container {
  border-radius: 2px;
  width: 100%;
  height: 40px;
  position: relative;
  overflow: visible;
  min-width: 190px;
  background: $card-background-color;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  margin: 0 !important;

  i {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  input {
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: 0;
    background: 0 0;
    width: 100%;
    padding: 0 15px 0 35px;
    line-height: 40px;
    height: 40px;
  }
}
