.lmo-action-dock-wrapper {
  .action-dock { opacity: 0.5; }
  &:hover .action-dock { opacity: 1 }
}

textarea .lmo-textarea {
  resize: none;
  min-height: 100px;
}

.lmo-margin-right {
  margin-right: 12px;
}

.lmo-validation-error {
  color: $highlight-red;
  display: block;
  @include fontSmall;
}

.lmo-inline-action {
  min-width: 40px;
  margin: 0;
  padding: 0;
  line-height: 48px;
}

.lmo-inline-action .mdi {
  line-height: 48px;
  display: block;
}

.nowrap{
  white-space: nowrap;
}

.action{
  color: $grey-on-grey;
  text-decoration: underline;
}

.page-loading {
  color: $grey-on-grey;
  text-align: center;
  padding: 10px;
}

.lmo-link {
  color: $grey-on-white;
  text-decoration: underline;
  background: none;
  border: 0;
}

.lmo-disabled-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 6px;
  z-index: $z-low;
  opacity: 0.5;
}

.lmo-placeholder {
  font-style: italic;
  color: $grey-on-white;
  margin-bottom: 10px;
}

.lmo-hint-text{
  font-style: italic;
  color: $grey-on-white;
}

.lmo-truncate {
  @include truncateText;
}

.lmo-width-75 {
  width: 75%
}

.lmo-markdown-wrapper {
  word-wrap: break-word;

  a { word-break: break-all; }

  p { @include md-body-1; }
  img { max-width: 100%; }
  h1 {
    @include fontLarge;
    margin: 20px 0 10px 0;
  }
  h2 {
    @include fontMedLarge;
    font-weight: bold;
  }
  ul{ padding: 0 0 10px 24px; }
  ul li{ list-style: disc; }
  pre {
    overflow: auto;
    padding: 10px;
    background: $modal-background-color;
  }
  blockquote{ font-size: inherit; }
  table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 10px;
  }
  table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }
  thead td { font-weight: bold; }
}

.lmo-show-more {
  padding: $cardPaddingSize;

  a {
    display: block;
    width: 100%;
    height: 100%;
    color: $grey-on-white;
    text-decoration: underline;
  }
}

.lmo-user-mention {
  color: $link-color;
}

.timeago{
  white-space: nowrap;
}

.align-center {
  text-align: center;
}

.lmo-relative {
  position: relative;
}

.lmo-print-only {
  display: none;
}

.lmo-hidden {
  display: none !important;
}

.lmo-group-theme-padding {
  padding-top: $navbar-height;
}

.lmo-pointer {
  cursor: pointer;
}

.lmo-truncate-text {
  @include truncateText;
}

.lmo-inline-block {
  display: inline-block;
}

.lmo-modal__narrow {
  max-width: $tiny-max-px;
}

.lmo-grey-on-white {
  color: $grey-on-white;
}

img.emojione {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
}

@media (max-width: $tiny-max-px) {
  .md-open-menu-container {
    left: 0     !important;
    top: 48px   !important;
    width: 100%;
    .md-button { text-align: center; }
  }
}

@media (min-width: $tiny-max-px) {
  .md-open-menu-container {
    z-index: 1001;
  }
}

.lmo-number-input {
  width: 35px !important;
  text-align: center;
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type=number] {
    -moz-appearance: textfield;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
