.lmo-loading-screen {
  @media (min-width: 700px) { display: none !important; }
  display: table !important;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  text-align: center;
  background: #F6A82B;
  z-index: 1000;
  transition: all 0.5s ease-in;
}

.lmo-loading-screen__image {
  display: table-cell;
  vertical-align: middle;
}

.lmo-loading-complete {
  top: -100%;
}
