.dashboard-container {
  margin: 10px auto;
  max-width: $thread-max-width;
}

.dashboard-page-threads {
  @include card;
  padding: 0;
}

.dashboard-page-thread {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dashboard-page-pie-chart {
  padding-right: 5px;
}

.dashboard-page-thread-info {
  clear: both;
}