%section.start-proposal-card{aria-label: "{{ 'start_proposal_card.title' | translate }}"}
  %h2.lmo-card-heading{translate: "common.models.proposal"}
  .lmo-placeholder.lmo-hint-text.table-cell{translate: "start_proposal_card.helptext"}
  .start-proposal-card__button-container.lmo-no-print
    %start_proposal_button.table-cell.start-proposal-card__button{discussion: "discussion"}
