%section.start-proposal-card.lmo-no-print{aria-label: "{{ 'start_proposal_card.title' | translate }}"}
  %h2.lmo-card-heading{translate: "common.models.proposal"}
  .lmo-placeholder.lmo-hint-text.table-cell{translate: "start_proposal_card.helptext"}
  .lmo-md-action
    %start_proposal_button.table-cell.start-proposal-card__button{discussion: "discussion"}
