<% cover_url = (root_url.chomp('/') + (group.cover_url(300) || '')) %>
 
<table style="padding: 0" class="container" role="presentation" cellpadding=0 cellspacing=0 border=0 width=600 height=150>
<tr>
    <td class="rounded" valign="bottom" style="background: url(<%=cover_url%>) #B5CFE3; background-size:cover; background-position:center;">
      <!--[if gte mso 9]>
      <v:rect xmlns_v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px; background-color:#B5CFE3;">
        <v:fill type="frame" src="<%=cover_url%>" />
        <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
          <![endif]-->
          <div>
            <!--add your content here-->
            <img style="object-fit: contain; width: 64px; height: 64px" src="<%=group.logo_url(128)%>" height=64 width=64>
          </div>
          <!--[if gte mso 9]>
        </v:textbox>
      </v:rect>
      <![endif]-->
    </td>
</tr>
</table>