%section.current-proposal-card{aria-labelledby: "current-proposal-card-heading"}
  .lmo-card-padding
    %h2.lmo-card-heading#current-proposal-card-heading{translate: "common.models.proposal", tabindex: "0"}
    %loading_content{ng-if: "loading"}
    %proposal_expanded{proposal: "proposal", ng-if: "!loading"}
