.group-header {
  position: relative;
  height: 150px;
  margin: 0 0 10px 0;
}

.group-header-title {
  h1 {
    color: #fff;
    a {
      font-family: HelveticaNeue-Bold;
      font-size: 30px;
      color: #fff;
      line-height: 32px;
      text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
    }
  }

  position: absolute;
  margin: 0 0 0 10px;
  bottom: 0;
}

.thread-settings {
  margin-bottom: 10px;
}
.card-options-menu {
  margin-top: -5px;
}

.card {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
}

.card-options-menu {
  font-size: 18px;
  color: #ddd;
}

.card-meta-header {
  h1 {
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
    color: #888888;
    line-height: 20px;
    margin: 0 0 20px 0;
    padding: 0;
  }
}

.card-content-header {
  margin: 0 0 10px 0;
}

.card-meta-text {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #777777;
  line-height: 20px;
}

.card-thread-context {
  h1 {
    font-family: HelveticaNeue-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 25px;
    margin: 0 0 20px 0;
    /* Implementing the 90-: */
  }
}

.thread-item {
  margin: 0 0 30px 0;
}

.thread-item-activity-description {
  margin-left: 40px;
  margin-bottom: 5px;
  @media (min-width: $screen-sm-min) {
    margin-left: 50px;
    margin-bottom: 4px;
  }
  color: #777;
  strong {
    color: #333;
  }
}

.thread-item-vote-statement {
  clear: left;
  @media (min-width: $screen-sm-min) {
    clear: none;
  }
}

.thread-item-vote-icon {
  width: 30px;
  height: 30px;

  @media (min-width: $screen-sm-min) {
    width: 40px;
    height: 40px;
  }
  .vote-icon {
    width: 100%;
    height: 100%;
    background-size: 100%;
  }

  .agree {
    background-image: image-url('1.0/green_thumb_icon_30.png');

    @media (min-width: $screen-sm-min) {
      background-image: image-url('1.0/green_thumb_icon_40.png');
    }
  }

  .disagree {
    background-image: image-url('1.0/pink_thumb_icon_30.png');

    @media (min-width: $screen-sm-min) {
      background-image: image-url('1.0/pink_thumb_icon_40.png');
    }
  }

  .abstain {
    background-image: image-url('1.0/yellow_thumb_icon_30.png');

    @media (min-width: $screen-sm-min) {
      background-image: image-url('1.0/yellow_thumb_icon_40.png');
    }
  }

  .block {
    background-image: image-url('1.0/red_flag_icon_30.png');

    @media (min-width: $screen-sm-min) {
      background-image: image-url('1.0/red_flag_icon_40.png');
    }
  }
}

.thread-item-header {
  margin-bottom: 15px;


  .media-body {
    margin-left: 10px;
  }
}

.card-start-proposal {
}

.card-pie-graph-icon {
  background-image: image_url('1.0/pie_graph_icon_30.png');
  height: 30px;
  width: 30px;

  @media (min-width: $screen-sm-min) {
    background-image: image_url('1.0/pie_graph_icon_40.png');
    height: 40px;
    width: 40px;
  }

  margin: 0;
  padding: 0;
  border: 0;
}

.card-author-photo {
  .initials {
    background-color: #ccc;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    height: 100%;
  }

  height: 30px;
  width: 30px;
  @media (min-width: $screen-sm-min) {
    height: 40px;
    width: 40px;
  }

  img {
    height: 30px;
    width: 30px;

    @media (min-width: $screen-sm-min) {
      height: 40px;
      width: 40px;
    }

    margin: 0;
    padding: 0;
    border: 0;
  }
}

.thread-item-author {
  .author-details {
    margin-left: 40px;
    margin-bottom: 10px;
    @media (min-width: $screen-sm-min) {
      margin-left: 50px;
      margin-bottom: 4px;
    }
  }

  .author-name {
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
    color: #333333;
    line-height: 13px;
    @media (min-width: $screen-sm-min) {
      line-height: 20px;
      display: inline;
    }
  }

  .author-role {
    font-family: HelveticaNeue;
    font-size: 12px;
    color: #777777;
    line-height: 13px;
    margin-top: 4px;
    @media (min-width: $screen-sm-min) {
      font-size: 14px;
      line-height: 20px;
      margin-top: 0;
      display: inline;
    }
  }
}

.thread-item-body {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #333333;
  line-height: 20px;
  margin-bottom: 10px;
  @media (min-width: $screen-sm-min) {
    margin-left: 50px;
  }
}

.thread-item-footer {
  font-family: HelveticaNeue;
  font-size: 12px;
  color: #777777;
  line-height: 15px;
  @media (min-width: $screen-sm-min) {
    margin-left: 50px;
  }

  .like-reply-age {
    margin-bottom: 5px;
  }
}

.card-add-comment-header {
  font-family: HelveticaNeue-Bold;
  font-size: 14px;
  color: #888888;
  line-height: 20px;
  margin-bottom: 10px;

  i {
    font-size: 22px;
  }
}

.card-add-comment {
  .privacy-hint {
    font-family: HelveticaNeue-Italic;
    font-size: 12px;
    color: #777777;
    line-height: 15px;
    font-style: italic;
  }

  .button-bar {
    margin-bottom: 10px;
  }
  .card-author-photo{
    margin-top: 1px;
  }

  .collapsed {
    input{
      height: 32px;
      padding: 5px 12px;
    }
  }

  textarea {
    margin-bottom: 10px;
  }

  @media (min-width: $screen-sm-min) {
    .card-author-photo{
      margin-top: 0px;
    }
    .collapsed {
      input{
        margin-top: 3px;
        height: 34px;
        padding: 6px 12px;
      }
    }
  }
}
