.inbox-page{
  max-width: $main-max-width;
  margin: 0px auto;
}

.inbox-page__group {
  margin-bottom: $cardPaddingSize * 2;
}

.inbox-page__heading{
  padding: $cardPaddingSize;
}

.inbox-page__no-threads {
  margin-left: $cardPaddingSize;
}

.inbox-page__group-name a{
  @include fontHelveticaMedium;
  @include fontCrapName;
  line-height: 30px;
  color: $grey-on-grey;
  padding-left: $thinPaddingSize;
}

.inbox-page__group-name-container {
  padding: 0 $cardPaddingSize;
}

.inbox-page__show-more{
  padding: $cardPaddingSize;
}

.inbox-page__show-more a{
  display: block;
  width: 100%;
  height: 100%;
  color: $grey-on-white;
  text-decoration: underline;
}
