.poll-common-start-poll__poll-types {
  margin: 0;
  padding: 0;
}

.poll-common-start-poll__poll-type {
  list-style-type: none;
  height: 64px;
}

.poll-common-start-poll__poll-type-link {
  @include displayFlex;
  cursor: pointer;
  text-decoration: none;
  &:hover { text-decoration: none; }
}

.poll-common-start-poll__poll-type-link i {
  padding: 10px 10px 10px 0;
}

.poll-common-start-poll__icon {
  margin-left: -16px;
}

.poll-common-start-poll__content {
  margin-left: 16px;
  line-height: 24px;
}
