%md-dialog.change-picture-form.lmo-modal__narrow
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %div
      %h1.lmo-h1{translate: "change_picture_form.title"}
      %dismiss_modal_button
  .md-dialog-content.md-body-1
    %p.lmo-hint-text{translate: "change_picture_form.helptext"}
    %ul.change-picture-form__options-list
      %li.change-picture-form__option
        %md-button.lmo-flex{ng-click: "submit('initials')"}
          .user-avatar.lmo-box--small.lmo-margin-right
            .user-avatar__initials--small
              {{user.avatarInitials}}
          %span{translate: "change_picture_form.use_initials"}
      %li.change-picture-form__option
        %md-button.lmo-flex{ng-click: "submit('gravatar')"}
          .user-avatar.lmo-box--small.lmo-margin-right
            %img.user-avatar__img.lmo-box--small{gravatar-src-once: "user.emailHash", alt: "{{::user.name}}"}
          %span{translate: "change_picture_form.use_gravatar"}
      %li.change-picture-form__option
        %md-button.lmo-flex.change-picture-form__upload-button{ng-click: "selectFile()"}
          .user-avatar.lmo-box--small.lmo-margin-right
            .user-avatar__initials--small
              %i.mdi.mdi-camera.mdi-24px
          %span{translate: "change_picture_form.use_uploaded"}
        %input.hidden.change-picture-form__file-input{file-select: "upload"}
