.base-mailer__avatar-container
  - if user.avatar_kind == 'initials'
    .base-mailer__avatar-initials
      = user.avatar_initials
  - else
    = image_tag user.avatar_url(:medium), alt: "#{user.name}", class: "base-mailer__avatar-image"
