.base-mailer__avatar-container
  - if author.avatar_kind == 'initials'
    .base-mailer__avatar-initials
      = author.avatar_initials
  - else
    = image_tag author.avatar_url(:"medium"), alt: "#{author.name}", class: "base-mailer__avatar-image"
