.trial-banner{style: "padding:12px 0", v-if: "isTrialing"}
  %span{ng-if:"!isExpired", translate:"current_plan_button.free_trial", translate-values: "{days: daysRemaining}"}
  %span{ng-if:"isExpired", translate:"current_plan_button.trial_expired"}
