%md-dialog.discussion-modal
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex.lmo-flex__space-between
      %i.mdi.mdi-forum
      %h1.lmo-h1.modal-title{ng-switch: "currentStep"}
        %span{translate: "discussion_form.new_discussion_title", ng-switch-when: "save", ng-if: "!discussion.isForking()"}
        %span{translate: "discussion_form.fork_discussion_title", ng-switch-when: "save", ng-if: "discussion.isForking()"}
        %span{translate: "announcement.form.discussion_announced.title", ng-switch-when: "announce"}
      %dismiss_modal_button{aria-hidden: "true"}

  %md-dialog-content.md-body-1.lmo-slide-animation{ng-switch: "currentStep", ng-if: "!maxThreadsReached"}
    %discussion_form.animated{discussion: "discussion", ng-switch-when: "save"}
    %announcement_form{announcement: "announcement", ng-switch-when: "announce"}
  %md-dialog-actions{ng-switch: "currentStep", ng-if: "!maxThreadsReached"}
    %discussion_form_actions{discussion: "discussion", ng-switch-when: "save"}
    %announcement_form_actions{announcement: "announcement", ng-switch-when: "announce"}
  %md-dialog-content.md-body-1{ng-if: "maxThreadsReached"}
    %p{translate: "discussion.max_threads_reached", translate-values: "{upgradeUrl: upgradeUrl}"}
