%section.start-proposal-card{aria-label: '{{ "start_proposal_card.title" | translate }}', ng-show: 'canStartProposal()'}
  %a.start-proposal-card__btn.btn{href: '', translate: 'start_proposal_card.cta', ng_click: 'openForm()'}
