%section.start-proposal-card{role: 'region', aria-label: '{{ "start_proposal_card.title" | translate }}', ng-show: 'startProposalCard.canStartProposal()'}
  %a{href: '#', translate: 'start_proposal_card.cta', ng_click: 'startProposalCard.openForm()'}
