.user-avatar
  .user-avatar-initials{ng_show: 'user.avatarKind == "initials"'}
    {{user.avatarInitials}}
  .user-avatar-image{ng_hide: 'user.avatarKind == "initials"'}
    %img{alt: "...", src: '{{user.avatarUrl}}'}
