%md-dialog.only-coordinator-modal.lmo-modal__narrow
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "deactivate_user_form.title"}
      %dismiss_modal_button{ng-if: "!preventClose"}
  .md-dialog-content
    %p{translate: "only_coordinator_modal.explanation"}
    %ul.only-coordinator-modal__list
      %li.only-coordinator-modal__list-item{ng-repeat: "group in groups()"}
        %a.lmo-link{ng-click: "redirectToGroup(group)"}
          {{group.fullName}}
    %p{translate: "only_coordinator_modal.instructions"}
