.poll-common-tip {
  @include fontSmall;
  font-style: italic;
  margin-bottom: 32px;
}

.poll-common-card__title {
  @include md-title;
  margin-bottom: 8px;
}

.poll-common-modal-header {
  display: flex;
}

.poll-common-modal-header h1 {
  flex-grow: 10;
  margin: -5px 0 0 10px;
}

.poll-common-modal {
  max-width: $small-max-px;
}

.poll-common-vote-form__border-chip {
  border-left: 8px solid;
  padding-left: 8px;
  @include truncateText;
  min-height: 48px;
  display: flex;
  align-items: center;
}

.poll-common-vote-form__tooltip {
  max-width: 200px;
  text-align: center;
  @include fontSmall;
  font-style: italic;
  padding: 8px;
  margin-top: 4px !important;
  white-space: normal;
  height: auto;
  line-height: 20px;
}

.poll-common-vote-form__options .md-list-item-inner {
  padding-left: 0;
  padding-right: 0;
}

.poll-common-vote-form__options md-input-container {
  margin: 0;
}


.poll-common-vote-form__radio-button .md-container {
  // display radio button floated to right of container
  right: 0;
  left: auto;
}

.poll-common-vote-form__option {
  min-height: 48px;
  margin-bottom: 16px;
  padding-right: 20px;
}

.poll-common-vote-form__option-name {
  white-space: normal;
  text-transform: none;
}

.poll-common-vote-form__option .md-no-style {
  width: 100%;
}

.poll-common-vote-form__checkbox {
  margin-right: 0 !important;
}

.poll-common-vote-form__radio-button .md-label {
  margin-left: 0;
  display: flex;
  align-items: center;
  min-height: 48px;
  // padding: 8px 0;
}

.poll-common-vote-form__reason {
  margin-top: 43px;
}

.poll-common-form__list-item{
  padding: 0 2px !important;
}

.poll-common-checkbox-option {
  display: flex;
  margin-bottom: 16px;
  padding-left: 2px;
}

.poll-common-checkbox-option__text{
  margin-right: 16px;
  flex-grow: 1
}


.poll-common-form__label {
  overflow: visible !important;
  color: rgba(0,0,0,0.38) !important;
  font-size: 11px;
}

.md-input-compensate {
  margin-top: -26px;
}
