= render 'next/navbar'
.card-page.new-motion
  .card-row
    .card#top
      .card__header--standalone
        .media
          .media__img
            %i.icon-group
          %h3.media__title= link_to @discussion.group.name, @discussion.group

  .card-row
    .card
      .card__content
        .back-to-discussion
          .back-arrow
            %a{href: next_discussion_path(@discussion)}
              %i.icon-angle-left
          %h3.card__title= @discussion.title
          =link_to "Back to discussion", next_discussion_path(@discussion)

  .card-row
    .card
      .card__header
        %h3 Create a proposal
      .card__body
        %form
          .form-group
            %label Title
            %input.form-control{placeholder: "e.g. \"Let's go to the moon\""}
          .form-group
            %label Close Date
            %input.form-control
          .form-group
            %label Details
            %textarea.form-control{rows: 5, placeholder: 'Give enough information so that everyone knows exactly what it means to agree or disagree.'}
          %button.btn.btn-block Create
