.blank
  .join-group-button{ng-if: "!isMember() && isLoggedIn()"}
    .blank{ng-if: "canJoinGroup()"}
      %button.join-group-button__join-group{translate: "join_group_button.join_group", ng-click: "joinGroup()"}
    .blank{ng-if: "canRequestMembership()"}
      %button.join-group-button__ask-to-join-group{translate: "join_group_button.ask_to_join_group", ng-click: "requestToJoinGroup()"}
