.blank
  .join-group-button{ng-if: "!isMember()"}
    .blank{ng-if: "canJoinGroup()"}
      %button.join-group-button__join-group{ng-class: "{'btn-block': block}", translate: "join_group_button.join_group", ng-click: "joinGroup()"}
    .blank{ng-if: "canRequestMembership()"}
      %button.join-group-button__ask-to-join-group{ng-class: "{'btn-block': block}", ng-disabled: "hasRequestedMembership()", translate: "{{askToJoinText()}}", ng-click: "requestToJoinGroup()"}
