.thread-item{ng-controller: "MotionClosedItemController"}
  .thread-item__header.media
    .media-left
      .thread-item__proposal-icon
    .media-body
      %h3.thread-item__title
        %strong
          %a.thread-item__title-link{lmo-href-for: "event.actor()"}> {{ event.actorName() }}
        %span{id: "event-{{event.id}}", translate: "proposal_closed_by_user_item.proposal_closed_by_user", translate-value-title: "{{proposal.name}}"}
        %timeago.timeago--inline{timestamp: "proposal.createdAt"}
