.thread-item{ng-controller: "MotionClosedItemController"}
  .thread-item__header.media
    .media-left
      .thread-item__proposal-icon
    .media-body
      %h3.thread-item__title{id: "event-{{event.id}}"}
        %span{translate: "proposal_closed_item.proposal_closed", translate-values: "{title: proposal.name}"}
        %timeago.timeago--inline{timestamp: "proposal.closingAt"}
