.thread-item{ng-controller: "MotionEditedItemController"}
  .thread-item__header.media
    .media-left
      .thread-item__proposal-icon
    .media-body
      %h3.thread-item__title{id: "event-{{event.id}}"}
        %strong
          %a.thread-item__title-link{lmo-href-for: "event.actor()"}> {{ event.actorName() }}
        %span{translate: "proposal_edited_item.{{translationKey}}", translate-values: "{time: closingAt, title: title}"}
  .thread-item__footer
    .thread-item__actions
      %timeago{timestamp: "event.createdAt"}
