.new-comment__author-name {
  @include fontHelveticaBold;
  a { color: $primary-text-color; }
}

.new-comment__replied-to {
  a { color: $primary-text-color; }
}

.new-comment__parent-comment {
  color: $link-color;
}
