.thread-item{ng_controller: "NewOutcomeItemController"}
  .thread-item__header.media
    .media-left
      %user_avatar{user: "event.actor()", size: "small"}
    .media-body
      %h3.thread-item__title{id: "event-{{event.id}}"}
        %strong> {{ event.actor().name }}
        %span{translate: "poll_thread_item.new_outcome"}
      %div {{ outcome.statement }}
