.thread-item{ng-controller: "StanceCreatedItemController"}
  .thread-item__header.media
    .media-left
      %user_avatar{user: "stance.participant()", size: "small"}
    .media-body
      %h3.thread-item__title{id: "event-{{event.id}}"}
        %span{translate: "poll_thread_item.{{stance.poll().pollType}}.{{event.kind}}", translate-values: "{author: stance.participant().name}"}>
        %poll_common_stance_choice{ng-repeat: "choice in stance.stanceChoices()", ng-if: "choice.score > 0", stance_choice: "choice"}
        &nbsp;
      %p.lmo-markdown-wrapper{marked: "stance.reason"}
      %timeago.timeago--inline{timestamp: "event.createdAt"}
