.thread-item {
  margin-bottom: 25px;
}

.thread-item__header {
  /* these styles break with BEM but they keep the translations clean*/
  strong {
    color: $primary-text-color;
    @include md-body-2;
  }
  span span {
    color: $primary-text-color;
  }
}

.thread-item__title {
  color: $grey-on-white;
  display: inline-block;
  & > span { padding-right: 5px; }
}

.thread-item__title-link {
  color: $primary-text-color;
}

.thread-item__body {
  margin: 10px 0 10px 0;
  ol { padding-left: 23px; }
}

.thread-item__footer {
  @include fontSmall();
  color: $grey-on-white;
  clear: both;
}

@media (min-width: $tiny-max-px){
  .thread-item__body, .thread-item__footer{
    margin-left: 40px;
  }
  .thread-item__body{
    margin-top: 0;
  }
}

.thread-item__actions {
  margin-right: 3px;
  display: inline-block;
}

.thread-item__action {
  @include lmoBtnLink;
  color: $link-color;
}

.thread-item__action--view-edits {
  @include lmoBtnLink;
  color: $grey-on-white;
}

.thread-item__timestamp {
  display: inline-block;
}

.thread-item__vote-statement {
  color: $primary-text-color;
  display: inline-block;
  vertical-align: top;
}

.thread-item__vote-statement img {
  vertical-align: bottom;
}

.thread-item__proposal-icon{
  @include smallIcon;
  background-image: url(/img/proposal_icon_30.png);
  background-repeat: no-repeat;
}

.thread-item__vote-icon--yes {
  background-image: url(/img/agree.svg);
}

.thread-item__vote-icon--abstain {
  background-image: url(/img/abstain.svg);
}

.thread-item__vote-icon--no {
  background-image: url(/img/disagree.svg);
}

.thread-item__vote-icon--block {
  background-image: url(/img/block.svg);
}
