.group-page-subgroups{ng_show: '!group.parentId'}
  .card-title{ translate: 'group_page.subgroups' }
  .subgroup-list
    .media.subgroup-list-item{ng-repeat: 'subgroup in group.subgroups()'}
      .media-left
        .subgroup-list-item-logo
      .media-body
        .subgroup-list-item-name
          %a{href: '/g/{{subgroup.key}}'} {{ subgroup.name }}
        / this should be truncated down to a few dozen chars
        / do we want to use this? https://github.com/sparkalow/angular-truncate
        .subgroup-list-item-description {{ subgroup.description }}

    .card-minor-action{ng-if: '::canCreateSubgroups()'}
      %a{href: '/g/new?parent_id={{group.key}}'}
        %span>+
        %span{ translate: 'common.action.add_subgroup' }
