%section.subgroups-card{ng_show: '!group.parentId', aria-labelledby: 'subgroups-card__title'}
  %h2#subgroups-card__title.lmo-card-heading{ translate: 'group_page.subgroups'}
  %ul.subgroups-card__list
    %li.subgroups-card__list-item{ng-repeat: 'subgroup in group.subgroups()'}
      .subgroups-card__list-item-logo
      .subgroups-card__list-item-name
        %a{href: '/g/{{subgroup.key}}'} {{ subgroup.name }}
      .subgroups-card__list-item-description {{ subgroup.description | words:10 }}

  .card-minor-action{ng-if: '::canCreateSubgroups()'}
    %a{href: '/g/{{group.key}}/subgroups/new'}
      %span{aria-hidden:'true'}>+
      %span{ translate: 'common.action.add_subgroup' }
