.attachment-form
  %md-button.md-raised{style: "min-width: 48px;", ng-click: "selectFile()", ng-hide: "files", aria-label: "{{ 'comment_form.attachments.add_attachment' | translate }}"}
    %i.fa.fa-lg.fa-paperclip
    %span.attachment-form__label{translate: "comment_form.attachments.add_attachment", ng-if: "showLabel"}
  %input.attachment-form__file-input.hidden{type: "file", ng-model: "files", ng-file-select: "upload(files)"}
  .attachment-form-in-progress{ng-repeat: "file in files"}
    .progress.active.attachment-form-progress-field
      %span.attachment-form-progress-text {{ file.name }}: {{ percentComplete }} %
      %uib-progressbar.attachment-form-progress-bar.progress-striped.active{ng-attr-value: "percentComplete"}
    %button.close.attachment-form-cancel.cancel-upload{type: "button", ng-click: "abort()"} &times;
