%section.comment-form{aria-labelledby: "comment-form-title"}
  %h2.lmo-card-heading#comment-form-title{translate: "comment_form.aria_label"}>
  %form{ng-if: "showCommentForm()", ng-paste: "handlePaste($event)", ng_submit: "submit()"}
    .lmo-disabled-form{ng-show: "isDisabled"}
    %input{type: "hidden", ng-model: "comment.usesMarkdown"}
    %outlet{name: "before-comment-form-textarea", model: "comment"}
    %span.comment-form__in-reply-to{translate: "comment_form.in_reply_to", translate-value-name: "{{comment.parent().authorName()}}", ng-show: "comment.parent().authorName()"}
    .lmo-relative.comment-form__textarea-wrapper
      %textarea.lmo-textarea.form-control.comment-form__comment-field.lmo-primary-form-input{ng-disabled: "isDisabled", msd-elastic: "true", aria-labelledby: "comment-form-title", name: "body", placeholder: "Say something...", ng_model: "comment.body", mentio: true, mentio-trigger-char: "'@'", mentio_items: "mentionables", mentio-template-url: "generated/components/thread_page/comment_form/mentio_menu.html", mentio-search: "fetchByNameFragment(term)", ng-model-options: "{ updateOn: 'default blur', debounce: {'default': 150, 'blur': 0} }"}
      %emoji_picker.lmo-action-dock{target-selector: "bodySelector"}
    %validation_errors{subject: "comment", field: "body"}
    %outlet{name: "after-comment-form-textarea", model: "comment"}
    .comment-form__privacy-notice{ng-if: "threadIsPublic()", translate: "comment_form.public_privacy_notice"}
    .comment-form__privacy-notice{ng-if: "threadIsPrivate()", translate: "comment_form.private_privacy_notice", translate-value-group-name: "{{comment.group().fullName}}"}
    %attachment_preview{attachment: "attachment", mode: "thumb", ng-repeat: "attachment in comment.newAttachments() | orderBy: 'id' track by attachment.id"}
    .thread-comment-form-actions
      %md-button.comment-form-button{translate: "comment_form.cancel_reply", ng-show: "comment.parentId", ng-click: "comment.parentId = null"}
      %outlet{name: "after-comment-form", model: "comment"}
      %attachment_form{model: "comment"}
      %md-button#post-comment-cancel{translate: "common.action.cancel", ng-click: "cancel($event)", ng-hide: "comment.isNew()"}
      %a.md-button.md-accent{lmo-href: "/markdown", target: "_blank", title: "{{ 'common.formatting_help.title' | translate }}"}
        %span{translate: "common.formatting_help.label"}
      %md-button.md-primary.md-raised.comment-form__submit-button{type: "submit", ng-disabled: "submitIsDisabled", translate: "comment_form.submit_button.label"}
    %validation_errors{subject: "comment", field: "file"}
  .comment-form__join-actions{ng-if: "!showCommentForm()"}
    %join_group_button{group: "comment.discussion().group()", ng-if: "isLoggedIn()", block: "true"}
    %button.btn.btn-block.comment-form__sign-in-btn{translate: "comment_form.sign_in", ng-click: "signIn()", ng-if: "!isLoggedIn()"}
