.comment-form.lmo-relative
  %form{ng_submit: "submit()"}
    .lmo-disabled-form{ng-show: "isDisabled"}
    %lmo_textarea{model: "comment", field: "body", placeholder: "commentPlaceholder()", helptext: "commentHelptext()"}
    %comment_form_actions{comment: "comment", submit: "submit"}
    %validation_errors{subject: "comment", field: "file"}
