.comment-form-attachments input {
  display: none;
}

.comment-form {
  @include card;
  position: relative;
}

.comment-form__sign-in-btn {
  @include lmoBtnFeatured;
}

.comment-form-button {
  margin-left: 10px;
  &:hover {
    cursor: pointer;
  }
}

.comment-form-container{
  width: 100%;
}

.comment-form__privacy-notice {
  font-size: 13px;
  color: #767676;
}

.thread-comment-form-actions {
  clear: both;
  padding: 10px 0;
}
