.delete-comment-form
  %form{ng-submit: "submit()",  ng-disabled: "comment.processing", name: "deleteCommentForm" }
    .modal-header
      %modal_header_cancel_button
      %h3.modal-title{translate: "comment_form.delete_comment"}
    .modal-body
      .comment-form-delete-message{translate: "comment_form.confirm_delete_message"}
    .modal-footer
      %button.lmo-btn--danger.delete-comment-form__delete-button{type: "submit", translate: "comment_form.confirm_delete"}
      %button.lmo-btn--cancel{type: "button", ng-click: "$close()", translate: "common.action.cancel"}
