.edit-comment-form
  %form{ng-submit: "submit()",  ng-disabled: "comment.processing", name: "commentForm" }
    %md-toolbar
      .md-toolbar-tools.lmo-flex__space-between
        %h1.lmo-h1.modal-title{translate: "comment_form.edit_comment"}
        %material_modal_header_cancel_button
    .md-dialog-content
      .lmo-relative
        %textarea.lmo-textarea.form-control.edit-comment-form__comment-field{name: "body", msd-elastic: "true", ng_model: "comment.body", mentio: true, mentio-trigger-char: "'@'", mentio_items: "mentionables", mentio-template-url: "generated/components/thread_page/comment_form/mentio_menu.html", mentio-search: "fetchByNameFragment(term)", mentio-id: "comment-field", ng-model-options: "{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0} }"}
        %emoji_picker.lmo-action-dock{target-selector: "bodySelector"}
      .lmo-md-action
        %md-button.md-primary.md-raised.comment-form__submit-btn{type: "submit", translate: "common.action.save_changes"}>
