%md-dialog.edit-comment-form
  .lmo-disabled-form{ng-show: "isDisabled"}
  %form{ng-submit: "submit()",  ng-disabled: "comment.processing", name: "commentForm" }
    %md-toolbar
      .md-toolbar-tools.lmo-flex__space-between
        %h1.lmo-h1.modal-title{translate: "comment_form.edit_comment"}
        %material_modal_header_cancel_button
    .md-dialog-content
      %lmo_textarea{model: "comment", field: "body", placeholder: "'comment_form.say_something' | translate"}
      .lmo-md-action
        %md-button.md-primary.md-raised.comment-form__submit-btn{type: "submit", translate: "common.action.save_changes"}>
