mentio-menu {
  display: none;
  z-index: $over-intercom !important;
}

.mentionable-name {
  @include fontMedium;
  line-height: 16px;
}

.mentionable-username {
  @include fontSmall;
}

.mentionable-content {
  display: table-cell;
}
