.mentio-menu {
  @include box-shadow(1);
  padding: 0;
}

.mentio-menu__item {
  padding: 12px 16px;
  height: auto;
  cursor: pointer;
  &:not(:last-child) { border-bottom: 1px solid $border-color; }
  &:hover { background: $list-hover-color; }
}

.mentio-menu__avatar {
  padding: 0;
}

.mentionable-name {
  @include fontMedium;
  font-weight: bold;
  line-height: 16px;
}

.mentionable-username {
  @include fontSmall;
}

.mentionable-content {
  display: table-cell;
}
