.poll-check-in-chart-panel
  %h3.lmo-card-subheading{translate: "poll_common.results"}
  .poll-check-in-chart-panel__chart-container
    .poll-check-in-chart-panel__progress
      .poll-check-in-chart-panel__incomplete
      .poll-check-in-chart-panel__complete{ng-style: "{'flex-basis': percentComplete(), 'background-color': completeColor}"}
    .poll-check-in-chart-panel__data
      .poll-check-in-chart-panel__numerator {{poll.stancesCount}}
      .poll-check-in-chart-panel__denominator{translate: "poll_check_in_chart_panel.out_of", translate-value-goal: "{{poll.goal()}}"}
