.proposal-expanded{ng-show: 'proposal'}
  %proposal_actions_dropdown{proposal: 'proposal', ng-if: 'showActionsDropdown()'}
  %h3.proposal-expanded__proposal-name {{proposal.name}}

  .proposal-expanded__started-by
    %span{translate: 'proposal_expanded.started_by', translate-values: '{name: proposal.authorName()}'}
    %span.time-ago>
      {{proposal.createdAt | timeFromNowInWords}}
    %span{aria-hidden: 'true'}·
    %closing_in{time: 'proposal.closingAt' }>
    .badge.pull-right.cuke-proposal-closed-badge{ng-show: '!proposal.isActive'} Closed
  .proposal-expanded-description{btf-markdown: 'proposal.description' }

  .pie-chart.media
    .pie-chart-pie.media-left
      %proposal_pie_chart{proposal: 'proposal'}
    .pie-chart-legend.media-body
      %label.sr-only{translate: 'proposal_expanded.current_votes'}
      .pie-chart-legend-item{class: 'pie-chart-legend-item-{{position}}', ng-repeat: 'position in proposal.positions'}
        {{ "proposal_position_"+position | translate}} ({{ proposal.voteCounts[position] }})

  %vote_form{proposal: 'proposal'}

  %a.proposal-expanded__collapse.pull-right{href: '#', ng-click: 'collapse()', translate: 'proposal_expanded.collapse', ng-show: 'canCollapse'}
  .clearfix