.proposal-expanded{ng-show: 'proposal' id: 'proposal-{{proposal.key}}'}
  %proposal_actions_dropdown{proposal: 'proposal', ng-if: 'showActionsDropdown()'}
  %h3.proposal-expanded__proposal-name {{proposal.name}}

  .proposal-expanded__started-by
    %span{translate: 'proposal_expanded.started_by', translate-values: '{name: proposal.authorName()}'}
    %span.time-ago>
      {{proposal.createdAt | timeFromNowInWords}}
    %span{aria-hidden: 'true'}·
    %closing_in{time: 'proposal.closingAt' }>
    .badge.pull-right.cuke-proposal-closed-badge{ng-show: '!proposal.isActive'} Closed
  .proposal-expanded-description{btf-markdown: 'proposal.description' }
  %proposal_outcome_panel{ng-if: 'showOutcomePanel()', proposal: 'proposal'}


  %position_buttons_panel{proposal: 'proposal'}
  %proposal_positions_panel{proposal: 'proposal'}

  %a.proposal-expanded__collapse.pull-right{href: '', ng-click: 'collapse()', translate: 'proposal_expanded.collapse', ng-show: 'canCollapse'}
  .clearfix
