.proposal-expanded__proposal-name-link:hover{
  text-decoration: none !important;
}

.proposal-expanded {
  background-color: #fff;
  border-bottom: 1px solid $border-color;
  padding: 0 15px 15px 15px;
}

.proposal-expanded__proposal-name{
  @include fontLarge;
  @include fontHelveticaBold;
  margin-bottom: 0.4em;
}

.proposal-expanded__collapse{
  @include fontSmall;
  color: $grey-on-white;
  text-decoration: underline;
}

.proposal-expanded__started-by {
  @include fontSmall;
  color: $grey-on-white;
  margin-bottom: 15px;
}

.proposal-expanded-votes {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
