.proposal-expanded {
  background-color: #fff;
}
.proposal-expanded__proposal-name{
  @include fontLarge;
  @include fontHelveticaBold;
  margin-bottom: 0.4em;
}
.previous-proposals-card{
  .proposal-expanded{
    border-bottom: 1px solid $border-color;
    margin: 0 -17px;
    padding: 10px 17px 17px 17px;
  }
}

.proposal-expanded__collapse{
  @include fontSmall;
  color: $grey-on-white;
  text-decoration: underline;
}

.proposal-expanded__started-by {
  @include fontSmall;
  color: $grey-on-white;
  margin-bottom: 15px;
}

.proposal-expanded-votes {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
