.document-list__document {
  width: 100%;
  background: $background-color;
  border: 1px solid $border-color;
  @include roundedCorners;
  padding: 4px;
  margin: 4px 0;
}

.document-list__document-title {
  color: $primary-text-color;
}

.document-list__chip {
  position: absolute;
  right: -1px;
  bottom: -1px;
  height: 0;
  width: 0;
  border-right: 8px solid $card-background-color !important;
  border-bottom: 8px solid $card-background-color !important;
  border-top: 8px solid;
  border-left: 8px solid;
}

.document-list__document-doctype {
  color: $grey-on-grey;
  @include fontTiny;
}
