  .lmo-md-actions
    %md-button.md-accent.group-form__submit-button{ng-click: "$emit('$close')", translate: "common.action.cancel"}
    %md-button.md-primary.md-raised.group-form__submit-button{ng-disabled: "!announcement.notified.length", ng-click: "submit()", translate: "common.action.send"}
