%section.document-card.lmo-card.lmo-no-print
  %h2#document-card-title.lmo-card-heading{translate: "document.list.title"}
  %loading{ng-if: "!model"}
  .document-card__content{ng-if: "model"}
    .lmo-hint-text{translate: "document.card.no_documents", ng-if: "!model.hasDocuments()"}
    %document_list{model: "model", hide-preview: "true", hide-date:"true"}
  .lmo-md-actions
    %a.lmo-card-minor-action{lmo-href-for: "group", lmo-href-action: "documents"}
      %span{translate: "document.card.view_documents"}
    %md-button.md-primary.md-raised{ng-click: "addDocument()"}
      %span{translate: "documents_page.add_document"}
