.loading-wrapper.container.main-container.lmo-one-column-layout
  %loading{ng-if: "!userPage.user"}
  %main.user-page.main-container.lmo-row{ng-if: "userPage.user"}
    .lmo-card.user-page__profile
      .user-page__content.lmo-flex{layout: "row"}
        .user-page__avatar.lmo-margin-right
          %user_avatar{user: "userPage.user", size: "featured"}
          %md-button.md-block.md-primary.md-raised.user-page__contact-user{ng-if: "userPage.canContactUser()", ng-click: "userPage.contactUser()", translate: "user_page.contact_user", translate-value-name: "{{userPage.user.firstName()}}"}
        .user-page__info
          %h1.lmo-h1 {{userPage.user.name}}
          .lmo-hint-text @{{userPage.user.username}}

          %p {{userPage.user.shortBio}}

          %div{translate: "user_page.locale_field", translate-value-value: "{{userPage.user.localeName()}}", ng-if: "userPage.user.localeName()"}
          %div{translate: "user_page.location_field", translate-value-value: "{{userPage.user.location}}", ng-if: "userPage.user.location"}
          %div{translate: "user_page.online_field", translate-value-value: "{{userPage.user.lastSeenAt | timeFromNowInWords}}", ng-if: "userPage.user.lastSeenAt"}

          .user-page__groups
            %h3.lmo-h3.user-page__groups-title{translate: "common.groups"}
            %md-list
              %md-list-item.user-page__group.lmo-flex.lmo-flex__center{ng-repeat: "group in userPage.user.formalGroups() | orderBy: 'fullName' track by group.id"}
                %img.md-avatar.lmo-box--small.lmo-margin-right{ng-src: "{{group.logoUrl()}}"}
                %a{lmo-href-for: "group"} {{group.fullName}}
            %loading{ng-if: "userPage.loadGroupsForExecuting"}
