%section.previous-proposals-card{aria-labelledby: "previous-proposals-card-heading", ng-show: "anyProposals()"}
  .lmo-card-heading-padding
    %h2.lmo-card-heading#previous-proposals-card-heading{translate: "previous_proposals_card.heading"}

  %proposal_accordian{model: "discussion", selected-proposal-id: "selectedProposalId"}
