.navbar-search-discussion
  .media-left
    %mini_proposal_pie_chart{proposal: 'discussion.activeProposal()'}
  .media-body
    .navbar-search-discussion-title
      {{ discussion.title }}
    .navbar-search-discussion-body
      {{ discussion.description | limitTo:100}}
