.navbar-search-proposal
  .media-left
    %mini_proposal_pie_chart{proposal: 'proposal'}
  .selector-list-item-proposal-details.media-body
    {{ proposal.name }}
    .time-left
      %span{translate: 'inbox.closing_in'}>
      %timeago{timestamp: 'proposal.closingAt'}>
