.beta-banner {
  background-color: #FFA500;
  height: 120px;
  text-align: center;
}

.beta-banner__new-loomio {
  font-size: 16px;
  padding: 15px 0;
}

.beta_banner__switch-over-text {
  line-height: 27px;
}

.beta-banner__agree-icon {
  background-image: url(/img/agree.svg);
  background-repeat: no-repeat;
  float: left;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
