// .navbar:before {
//   content: "BEFORE-----------------------------------";
//   width: 100%;
//   background: #008000;
//   display: block;
//   top: 0;
//   right: 0;
// }

.campaign {
  height: 40px;
  background: #ff9000;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 700;
  .close.dismiss-announcement {
    margin-right: 20px;
    color: #000000;
  }

  a {
    color: white;
    text-decoration: underline;
    &:hover { color: #08C4EB; }
  }
  a.close { text-decoration: none; }
}

.toolbar-navigation.js-campaign {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 11000;
}

.navbar-fixed-top.js-campaign {
  top: 40px;
  position: absolute;
}

.main-container.container.js-campaign {
  padding-top: 80px;
}
