body.dashboard {
  &.show {
    .groups-panel .panel-body{
      padding-top: 10px;
    }
    .sub-panel ul {
      a:hover { color: $dark-grey }
      li { line-height: 21px; }
    }
    .group-title{
      margin: 0;
    }
    .primary-action{
      margin-bottom: 17px;
    }
  }
  .no-groups {
    margin-top: 20px;
    .intro-desc {
      color: #686868;
      text-align: center;
      margin-bottom: 40px;
      font-size: 16px;
    }
  }
}
