@import "marketing/media_queries";

.markdown-label {
  font-weight: normal !important;
}

.discussion-iframe {
  margin: 0;
  padding: 0;
  border: 1px solid $mid-grey;
  width: 100%;
  height: 500px;
  overflow: scroll;
}
body.comments.show{
  .version-header{
    padding-top: 1em;
    font-weight: bold;
    border-bottom: 1px solid $lighter-grey;
  }
}

body.discussions.new, body.discussions.create, body.discussions.edit {

  .control-group.radio_buttons { margin-bottom: 1.6em; }

  select#discussion_group_id {
    width: 100%;
  }

  .hidden-group-discussion-privacy {
    margin: 2.6em 0 1em;
    i {
      font-size: 1.2em;
      margin-right: 6px;
      opacity: .6;
    }
    .header {
      font-size: 20px;
      font-weight: 400;
    }
    .subhead { font-size: 16px; }
    .description {
      color: $mid-grey;
      font-size: 14px;
      font-style: italic;
    }
  }

  input[type="submit"] { margin-top: .4em; }

  textarea {
    height: 200px;
  }

  .radio i {
    margin-right: 6px;
    opacity: 0.6;
  }

  .checkbox { margin-bottom: 0px; }

  .group_is_visible_to_parent_members {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 1em 0;
    margin-bottom: 1.8em;
  }

  .disabled { color:#ccc; }
  #group-setup { margin-top: 1.2em; }
  .info-box {
    width: 290px;
    margin-top: 1.1em
  }

  .discussion_private { margin-top: 2.6em; }


  #discussion-markdown-dropdown {
    float: right;
    left: 12px;
    li i {
      display: inline-block;
      width: 15px;
    }
  }
  #discussion-submit {
    float: left;
    position: relative;
  }
  .markdown-setting-dropdown {
    margin-top: 2px;
    margin-left: -10px;
  }
}


body.discussions.show {
  .form-container {
    border: 1px solid #cccccc;
    border-radius: 4px;
    @include box-shadow(0, 1px, 1px, 0, rgba(0, 0, 0, 0.075) inset);
    margin: 10px 12px 0 44px;
  }

  .warn-move { padding: 0 15px 15px; }

  img { max-width: 100%; }

  #options-dropdown {
    font-size: 1.4em;
    color: $mid-grey;
    text-decoration: none;
  }

  #privacy {
    font-size: .8em;
    color: $mid-light-grey;
    text-decoration: none;
  }

  .shifted_anchor {
    position: relative;
    top: -50px;
    margin: 0;
    padding: 0;
    float: left;
  }

  #request-membership, #request-membership-disabled { text-align: center; }

  #attachment-container {
    background: #EBEBEB;
    padding: 0 5px 0 10px;
    font-size: 12px;
    .attachment {
      background: #EBEBEB;
      margin: 0 0 3px 2px;
      padding: 2px 2px 2px 0px;
    }
    .attachment-uploader {
      padding: 4px 0;
      height: 25px;
      .progress {
        height: 10px;
        margin: 3px 0;
        width: 40%;
       }
      .uploading-filename {
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 40%;
      }
    }
    .attachment-success { padding: 4px 0; }
  }
  .comment-attachment {
    font-size: .9em;
    color: $mid-grey;
    padding: 6px;
    background: #EBEBEB;
    margin: 5px 0;
    a { margin-left: 3px; }
    .attachment-image {
      margin-left: 0px;
      padding-top: 6px;
      display: block;
      text-align: center;
    }
    .paperclip { margin-bottom: 2px; }
  }
  .discussion-title-container {
    #discussion-title {
      padding-left: 15px;
      font-size: 22px; 
    }
    .dropdown{
      display: inline;
      float: right;
      margin: -5px 10px 0 0;
    }
    #print-link {
      float: right;
      font-size: 0.8em;
      color: $mid-grey;
      padding: 0 10px;
    }
  }
  .discussion-title-translation {
    padding: 0 15px 10px;
  }
  #discussion-content-container {
    background-color: white;
    border-top: 1px solid $lighter-grey;
    border-bottom: 1px solid $lighter-grey;
    padding-bottom: 20px;
    margin-bottom: 5px;
    #previous-proposals .selector-list { border-top: 1px solid $lighter-grey; }
    .content-proposal-body {
      margin-bottom: 1em;
      margin-left: 40px;
      @media (max-width: 768px) { margin-left: 50px; }

      ul.selector-list {
        li.empty-list-message { padding: 4px; }
        li .motion {
          .close-date {
            color: $mid-grey;
            font-size: $font-tiny;
          }
        }
      }
    }

    #discussion-context {
      border-bottom: 1px solid $lighter-grey;
      min-height: 70px;
      padding: 15px 10px 10px 15px;

      .right-context{
        text-align: right;
      }

      #description-edit-form {
        margin-bottom: 0px;
        #add-description-submit { float: left; }
        #cancel-add-description {
          color: $mid-grey;
          float: left;
          font-size: $font-tiny;
          margin: 0 0 0 10px;
          position: relative;
          text-decoration: underline;
          top: 5px;
        }
        .control-group { margin-bottom: 0px; }
        .description-body {
          color: black;
          margin-bottom: 10px;
        }
        #description-input {
          height: 90px;
          margin-bottom: 5px;
          width: 600px;
        }
      }

      #description-revision-history {
        .revision-content{
          clear:both;
        }
        .revision-title {
          width: 450px;
          float: left;
          p { font-size: 85%; }
        }
        .revision-version {
          float: left;
          a.disabled {
            color: $mid-grey;
            cursor: default;
            &:hover { text-decoration: none; }
          }
          &:after {
            content: ".";
            visibility: hidden;
            clear: both;
          }
        }
      }
      .discussion-additional-info {
        color: $mid-grey;
        font-size: $font-smaller;
        .last-edited-by {
          margin-top: 0.5em;
          padding-top: 0.5em;
          margin-bottom: 1em;
        }
        .user-name { white-space: nowrap; }
      }
      .following-status{
        margin-top: 0.5em;
      }
      #discussion-markdown-dropdown {
        margin-right: 8px;
        padding-right: 0px;
      }
      .long-description { padding-bottom: 10px; }
    }
  }


  #fileupload {
    display: none;
  }

  #content-comments {
    border-right: 1px solid $lighter-grey;
    padding: 10px 10px 10px 15px;
    .comment-anchor {
      padding-top: 50px;
      margin-top: -50px;
      display:block;
    }
    #comment-markdown-dropdown li i {
      display: inline-block;
      width: 15px;
    }
    #discussion-activity-body {
      padding: 0 0 10px 8px;
      .divider {
        border-bottom: 1px solid $lighter-grey;
        margin: 7px 15px 6px 0px;
      }
      .go-to-add-comment {
        margin-left: 47px;
      }
    }
    #discussion-markdown-dropdown li i {
      display: inline-block;
      width: 15px;
    }

    #new-comment-form {
      margin-bottom: 0px;
      padding: 0 0 10px 0;
      img { float:left; }
    }

    .comment-toolbar {
      .markdown-label {
        margin-top: 8px;
      }
      margin-right: 12px;
      .attachment-icon {
        cursor: pointer;
        margin-top: 6px;
      }
    }

    /*.comment-toolbar > * { display: inline-block; }*/

    #comment-markdown-dropdown { margin-right: 11px }
    .markdown-setting-dropdown {
      margin-top: -2px;
    }

    textarea#new-comment {
      width: 100%;
    }
    #new-comment {
      background: none;
      border: 0;
      color: $dark-grey;
      height: 120px;
      margin: 0;
      outline: none;
      /*width: 380px;*/
      padding: 6px;
      &:focus {
        border-color: 0;
        /*@include box-shadow(0, 0, 0, 0);*/
      }
    }
    .add-comment-placeholder #new-comment{
      border: 1px solid $light-grey;
    }
    #align-button{
      margin-top: -4px;
    }

    #post-new-comment {
      margin: 8px 5px 5px 45px;
      width: 160px;
    }

    /** Code block padding (Stops avatars destroying indentation) */
    pre {
      display: block;
      margin: 10px 0px;
      overflow: auto;
      white-space: pre;
      word-wrap: normal;
    }
    ul#activity-list {
      list-style: none;
      margin: 0 15px 3px 0;
      padding-top: 1px;
      li.empty-list-message {
        margin-left: 45px; /*check this still works*/
      }

      .activity-item-text-container { min-height: 1em; }

      .activity-icon {margin-left: -26px;}
      .activity-item-actor{
        font-weight: bold;
        a {color: $dark-grey;}
      }
      .activity-item-avatar {
        height: 35px;
        margin-right: 0px;
        float: left;
      }
      .activity-item-body {
        margin-left: 45px;
        border-bottom: 1px solid $lighter-grey;
        padding-bottom: 8px;
      }
      .activity-item-comment-actor {
        font-weight: bold;
        margin-bottom: 3px;
      }
      .activity-item-container {
        margin-top: 8px;
        width: 100%;
      }
      .activity-item-content{
        color: $mid-grey;
        font-style: italic;
        word-wrap: break-word;
        .see-description-history {
          color: #999;
          font-style: normal;
          font-size: 0.9em;
        }
      }

      .activity-item-header{
        blockquote p {
          font-size: 14px;
          font-weight: inherit;
        }
        blockquote, pre {
          &:first-child {
            clear: left;
            position: relative;
            top: -12px;
            margin-bottom: -4px;
           }
        }
        h1, h2, h3, h4, ol, ul {
          &:first-child {
            clear: left;
            position: relative;
            top: -12px;
            margin-bottom: -12px;
          }
          ul {
            clear: left;
            position: relative;
            top: -12px;
            margin-bottom: -12px;
        }}
        ol, p, ul {
          color: $text-black;
        }
        p:last-child{margin-bottom: 2px;}
      }
      .activity-item-likes{
        color: $dark-grey;
        font-size: $font-tiny;
      }
      .activity-item-time{
        color: $dark-grey;
        font-size: $font-tiny;
        .translate-link { font-size: $font-medium; }
      }
    }
  }

  .header-text {
    color: $mid-grey;
    line-height: 2.0em;
    margin: 0 0 0 10px;
  }

  .selector-panel {
    h2 { margin: 0; }
    background-color: $selector-panel;
    border-radius: 8px;
    border: 1px solid $lighter-grey;
    margin: 0 0 20px 0;
    min-height: 59px;
    .dropdown {
      li {
        background-color: white;
        border: none;
        a {
          text-shadow: none;
        }
      }
    }
  }

  .user-name {
    &:link, &:visited{ color: $dark-grey;}
  }
}


/* Markdown styling */

.activity-item-body .popover h3 { padding: 8px 14px; }
.activity-item-body, .long-description, .motion .description {
  p {
    word-wrap: break-word;
  }
  ul, ol, li {
    margin-left: 10px;
    word-wrap: break-word;
    line-height: 18px;
  }
  ul{
    list-style: disc;
    padding: 0 0 9px 0;
  }
  ol{
    padding: 0 0 9px 0;
  }
  ul ul, ol ul, ul ol, ol ol{
    padding: 2px 0 6px 0;
  }
  h1, h2, h3, h4, h5, h6, h7{
    display: block;
    padding: 4px 0px;
  }
  h1{
    font-size: 1.4em;
  }
  h2{
    font-size: 1.3em;
  }
  h3{
    font-size: 1.2em;
  }
  h4{
    font-size: 1.1em;
  }
  h5{
    font-size: 1.0em;
  }
  hr{
    margin: 1em;
  }
}

/** Code block padding (Stops avatars destroying indentation) */
pre{
  display: block;
  margin: 10px 0px;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}



// group and home pages
#discussion-list {
  margin-bottom: 10px;

  .popover-content { padding-top: 8px; }
  .popover-close-date {
    font-weight: normal;
    display: inline;
    font-size: $font-tiny;
    position: relative;
    left: 5px;
    bottom: 2px;
  }
  .popover-header {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid $light-grey;
  }
  .popover-motion-name {
    color: black;
    font-weight: normal;
      margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid white;
  }
  .popover-engagement { margin-bottom: 8px; }
  .popover-current-position-icon {
    position: relative;
    bottom: 3px;
    display: inline;
  }
  ul.popover-activity-list {
    max-height: 180px;
    overflow-y: auto;
  }
  li.popover-item {
    padding: 5px 0 5px 0;
    border-bottom: 1px solid $light-grey;
    min-height: 40px;
    .vote-time { font-size: $font-tiny; }
  }
}

.discussion-preview {
  background-color: $unhighlighted;
  float: left;
  height: 47px;
  width: 100%;
  &:hover { background-color: $selector ! important; }
  a {
    color: $dark-grey;
    &:hover { text-decoration: none; }
    &.selector-discussion-link {
      float: left;
      width: 100%;
      padding: 6px 5px;
    }
  }
  .vote-icon {
    float: left;
    padding-right: 7px;
    position: relative;
    top: 6px;
    width: 20px;
  }

  .discussion-title {
    display: inline;
    position: relative;
    z-index: 4;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    white-space: nowrap;
  }

  .group-name {
    color: $mid-grey;
    font-size: $font-small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .discussion-date-info {
    display: inline;
    float: right;
    font-size: $font-smaller;
    color: $mid-grey;
    padding: 10px 10px 0 0;
    .latest-comment-time, .proposal-close-date { display: inline; }
  }
  .activity-icon { float: right; }
  .discussion-icon.activity-icon { margin: 8px 10px 0 0; }
  .pie-icon.activity-icon { margin: 6px 0 0 0; }
  .activity-count {
    font-size: $font-tinywiny;
    position: relative;
    bottom: 8px;
    left: 16px;
    color: white;
    background-color: $group-activity;
  }
  .icon.shim {
    display: block;
    float: right;
    margin-top: 6px;
    .activity-count {
      bottom: 32px;
    }
    .motion-sparkline {
      margin-right: 4px;
      position: relative;
    }
  }

  .discussion-link {
    position: relative;
    z-index: 2;
  }

  // color coded urgency labels
  .color-urgent { background-color: #CA3232; }
  .color-warning { background-color: #F89406; }
  .color-ok { background: #016B01; }
}

/** pie chart tweaks **/
div.jqplot-table-legend-swatch-outline {border: none;}

div.jqplot-table-legend-swatch{
  border-top-width: 6px;
  border-bottom-width: 6px;
}

.top-pagination {
  margin-bottom: 1em;
  text-align: center;
  a {
    background: #eee;
    color: $mid-grey;
    display: block;
    width: 100%
  }
}

.new-activity-divider {
  border-bottom: 2px solid #7ec6dc;
  margin-bottom: 0.8em;
  margin-left: -8px;
  @media (min-width: 768px) { margin-right: -26px; }
}

.dog-ear {
  border-left: 16px solid transparent;
  border-right: 0px solid transparent;
  border-top: 14px solid #7ec6dc;
  float: right;
  height: 0;
  @media (min-width: 768px) { margin-right: -26px; }
  @media (max-width: 768px) { margin-right: -12px; }
  width: 0;
}

.translate-link {
  font-size: $font-tiny;
}

.translated {
  display: none;

  &.translation-spacer {
    height: 20px;
  }
}

#group-discussions {
  font-size: 14px;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  @include screen-size(medium-up) {
    padding: 0;
  }
}
