//= depend_on default-cover-photo.png

body.explore {
  .main-container, .container{
    background-color: transparent;

  }
  .page-container {
    /*font-family: 'OpenSans', 'OpenSans', sans-serif;*/
    /*font-weight: 300;*/
    h1 { font-size: 24px; }
    h2 { font-size: 18px; }
    h1, h2 {
      line-height: 1.2;
    }
    a {
      color: #3995DF;
    }
    a:hover {
      &:hover { color: darken(#3995DF, 6%); }
    }
  }
  .card {
    background-color: white;
    margin-bottom: 1.7em;
    padding: 1.5em 1.6em;
  }

  .header {
    .category_select label{
      margin: 5px 5px 0 0;
      float: left;
    }
    input {
      margin-bottom: 0;
      box-sizing: border-box;
      height: 2.2em;
    }
  }

  .category {
    @extend .card;
  }

  .group{
    background-color: white;
    margin-bottom: 1.7em;
  }

  .group-description{
    margin: 14px 20px 0 20px;
    font-size: 90%;
    line-height: 1.4;
    .logo-placeholder {
      float: left;
      width: 84px;
      height: 18px;
    }
  }

  .group-heading{
    background-repeat: none;
    height: 94px;
    padding: 0 1.5em;
    position: relative;
    a { color: white; }
    .group-logo {
      position: absolute;
      top: 45px;
      left: 20px;
      width: 67px;
      height: 67px;
      background: image-url('default-logo-card.png') no-repeat top center white;
      border: 2px solid white;
    }
    .group-title {
      display: inline-block;
      position: absolute;
      bottom: 0px;
      left: 104px;
      margin-right: 10px;
    }
    .group-category{
      position: absolute;
      right: 0px;
      top: 0px;
      text-align: right;
      a{
        color: rgba(255,255,255,0.9);
        background: rgba(0,0,0,0.5);
        padding: 2px 8px;
        display: block;
      }
    }
  }

  .group-content{
    margin: 0 20px;
    padding-bottom: 1px;
    clear: both;
  }

  .groups-row {
    margin-bottom: 2.6em;
    margin-top: 1em;
  }

  ul.discussion-list{
    margin-bottom: 1.1em;
    .col-xs-2{
      text-align: right
    }
    li {
      a {
        color: $dark-grey;
      }
      line-height: 2em;
      padding: .3em 0;

      .title {
        width: 88%;
        margin-left: 1.1em;
        font-size: 1.1em;
        line-height: 1.6;
        padding-top: 7px;
      }
      .discussion-icon{
        text-align: center;
        color: #fff;
        top: 0.2em;
        left: 0.3em;
        background: #7EC6DC;
        border-radius: 0.2em;
        position: relative;
        &:before {
          position:absolute;
          content: "";
          bottom: -0.3em;
          right: 0.4em;
          width:0em;
          height:0em;
          border-bottom:0.4em solid transparent;
          border-left:0.4em solid #7EC6DC;
        }
      }
      .icon {
        position: relative;
        font-size: .9em;
        .motion-sparkline{
          margin: 1px 0 0 .3em;
          line-height: 4em;
        }
        width: 2em;
        margin-top: .4em;
        display: inline-block;
        height: 1.7em;
        .activity-badge{
          color: #fff;
          font-weight: 700;
          bottom: 4px;
          position: relative;
          text-align: center;
        }
        .activity-container {
          width: 2em;
          left: .28em;
          text-shadow: 1px 1px 2px #666;
          /*height: 1.3em;*/
          /*left: 0.68em;*/
          /*top: 0.5em;*/
          /*border-radius: 1000px;*/
          /*background-color: #fff;*/
          font-weight: 700;
          position: absolute;
          text-align: center;
          span {
            color: #fff;
          }
        }
      }

      &:hover {
        background: $even-lighter-grey;
      }

      .time {
        color: $dark-grey;
        span {
          line-height: 0;
        }
        text-align: right;
      }
    }
  }
}
