body.explore {
  .page-container {
    /*font-family: 'OpenSans', 'OpenSans', sans-serif;*/
    /*font-weight: 300;*/
    h1 { font-size: 24px; }
    h2 { font-size: 14px; }
    h1, h2 {
      color: #989898;
      line-height: 1.2;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    a {
      color: #3995DF;
    }
    a:hover {
      &:hover { color: darken(#3995DF, 6%); }
    }
  }
  .card {
    background-color: white;
    padding: 1.5em 1.6em;
    margin-bottom: 1.7em;
  }

  .header {
    @extend .card;
    padding: 2em 1.6em 1.5em;
  }
  .main-container { background-color: $main-background; }


  .category {
    @extend .card;
  }

  .group-container {
    @extend .card;
    margin-bottom: 1em;
    h1 {
      font-size: 22px;
      text-transform: none;
      margin-bottom: 10px;
    }
    .group-link {
      a {
        color: #C0B0AB;
      }
    }
  }

  .groups-row {
    margin-bottom: 2.6em;
  }

  .explore-search-bar {
    text-align: right;
    margin-top: -6px;
    form { margin-bottom: 0; }
    input {
      /*font-family: 'OpenSans-Light', 'OpenSans', sans-serif;*/
      /*font-weight: 300;*/
      /*font-size: 18px;*/
      /*line-height: 1.2;*/
      height: 32px;
      width: 160px;
      @include border-radius(4px);
      box-shadow: 0px 1px 1px 1px #E5E2E1 inset;
      /*margin-top: -6px;*/
    }
  }

  ul.discussion-list{
    margin-bottom: 1.1em;
    li {
      a {
        color: $dark-grey;
      }
      line-height: 2em;
      padding: .5em 0;

      .title {
        width: 88%;
        margin-left: 1.1em;
        font-size: 16px;
      }
      .discussion-icon{
        text-align: center;
        color: #fff;
        top: 0.2em;
        left: 0.3em;
        background: #7EC6DC;
        border-radius: 0.2em;
        position: relative;
        &:before {
          position:absolute;
          content: "";
          bottom: -0.3em;
          right: 0.4em;
          width:0em;
          height:0em;
          border-bottom:0.4em solid transparent;
          border-left:0.4em solid #7EC6DC;
        }
      }
      .icon {
        position: relative;
        font-size: .9em;
        .motion-sparkline{
          margin: 1px 0 0 .3em;
          line-height: 4em;
        }
        width: 2em;
        margin-top: .4em;
        display: inline-block;
        height: 1.7em;
        .activity-badge{
          color: #fff;
          font-weight: 700;
          bottom: 4px;
          position: relative;
          text-align: center;
        }
        .activity-container {
          width: 2em;
          left: .28em;
          text-shadow: 1px 1px 2px #666;
          /*height: 1.3em;*/
          /*left: 0.68em;*/
          /*top: 0.5em;*/
          /*@include border-radius(1000px);*/
          /*background-color: #fff;*/
          font-weight: 700;
          position: absolute;
          text-align: center;
          span {
            color: #fff;
          }
        }
      }

      &:hover {
        background: $even-lighter-grey;
      }

      .time {
        color: $dark-grey;
        span {
          line-height: 0;
        }
        text-align: right;
      }
    }
  }
  .campaign a {
    color: #fff;
    &:hover { color: #fff; }
  }

}

