body.groups {
  &.edit, &.new, &.create, &.update {
    .described-label {
      i {
        font-size: 0.9em;
        color: $mid-grey;
      }
    }
  }
  &.show {
    .discussion-preview .discussion-title { margin-top: 7px; }
    .discussion-preview.showing-group .discussion-title { margin-top: 0; }
    .shadow{
      text-shadow: 0 1px 1px rgba(0,0,0,.8);
      text-rendering: optimizelegibility;
      color: white;
    }
    .group-heading {
      background: image-url('default-cover-photo.png') 0 0 no-repeat;
      margin: -23px -20px 0 -20px;
      position: relative;
      height: 200px;
      a { color: white; }
      .alert{
        margin: 16px;
        width: 652px;
        float: left;
        a {color: $text-black;}
      }
      .group-logo {
        width: 100px;
        height: 100px;
        background: image-url('default-logo.png') no-repeat top center white;
        position: absolute;
        border: 4px solid white;
        top: 146px;
        left: 16px;
      }
      .group-title {
        position: absolute;
        bottom: 0px;
        left: 138px;
        width: 842px;
      }
      .home-title{
        font-size: 30px;
        max-width: 632px;
        display: block;
      }
      .group-category{
        position: absolute;
        right: 22px;
        bottom: 8px;
        max-width: 168px;
        text-align: right;
        a{
          font-size: 14px;
          background: rgba(0,0,0,0.5);
          padding: 3px 10px;
          display: block;
        }
      }
    }
    .upload-button {
      position: relative;
      cursor: pointer;
      width: 32px;
      height: 32px;
      float: right;
      .edit-icon {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        cursor: pointer;
      }
      input {
        position: relative;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        width: 32px;
        height: 32px;
      }
    }
    .logo-upload{
      margin: -4px;
    }
    .group-description{
      float: left;
      margin: 16px 0 -8px 0;
      width: 100%;
    }
    .logo-placeholder {
      float: left;
      width: 118px;
      height: 34px;
    }
    .main-content{
      width: 700px;
      float: left;
    }
    .sidebar {
      width: 220px;
      float: left;
      margin-left: 20px;
    }
    .group-options {
      width: 200px;
      .dropdown-menu {
        min-width: 216px;
        margin-top: 0;
        left: 0;
      }
    }
    #group-actions {
      margin: 20px 0 15px 0;
    }
    .heart-icon {color: red;}

    #members-panel {
      h4 a{color: $text-black;}
      .dropdown-menu {
        min-width: 205px;
        margin-top: 0;
      }
      .memberships_link {
        margin-bottom: 10px;
      }
    }
    #request-membership {
      form { display: inline; }
      .btn {
        width: 170px;
        color: $mid-grey;
      }
    }
    #membership-requests {
      #approve { font-size: $font-tiny; }
      .membership-user-name {
        color: #777;
        display: inline-block;
        width: 146px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    #setup_next_steps {
      background-color: #D9EDF7;
      border-color: #BCE8F1;
      color: #3A87AD;
      ol {
        margin-left: 20px;
      }
      padding-bottom: 10px;
    }

    #request-membership {
      margin-bottom: 10px;
      text-align: center;
      .btn {
        width: 195px;
        color: $mid-grey;
      }
      form { display: inline; }
      #request-new-membership { width: 220px; }
    }
    #request-membership-disabled { text-align: center; }

    #setup-next-steps {
      background-color: #D9EDF7;
      border-color: #BCE8F1;
      color: #3A87AD;
      padding-bottom: 10px;
      ol { margin-left: 20px; }
    }

    #sub-groups-panel {
      .group-link a:hover { color: $dark-grey; }
    }

    .previous-discussions-panel {
      .previous-decision-title {
        &:hover { color: $dark-grey; }
        float: right;
        width: 164px;
      }

      ul.previous-decisions {
        margin-bottom: 0px;
        padding-top: 5px;
      }

      li.previous-decision { padding: 0 0 12px 0; }

      .motion-sparkline {
        float: left;
        padding: 2px 10px 0 0;
      }
    }
  }
}

#group_email_subject { width: 510px; }
#group_email_body { width: 510px; }

// group title (on almost all pages)
.group-title {
  margin: 0 0 8px;
  h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
  }
  .home-title {
    color: #727272;
    display: inline;
  }
}

#group-privacy-label {
  font-size: .8em;
}

.name-separator {
  display: inline-block;
  @include ie7-inline-block();
  width: 15px;
  position: relative;
  bottom: 2px;
  font-size: 0.5em;
  text-align: center;
}

form.group-settings{
  textarea{
    box-sizing:border-box;
    height: 122px;
  }
  input[type="text"] {
    box-sizing:border-box;
    height: 2em;
  }
  input#group_form_submit { margin-top: 62px; }
  label span:before { content: '- '; }
  .control-label{ font-weight: bold; }
  .tab-content{ padding-left: 5px; }
  .what-can-members-do{
    label.control-label{ margin-bottom: 5px; }
    .control-group{
      margin-bottom: 0;
      margin-top: 5px;
    }
  }
  .disabled { color:#ccc; }
}
