body.group_requests {
  abbr {
    border-bottom: none;
    color: $mid-grey;
  }
  p, li { font-size: $font-medium-large; }
  #informal-group { background-color: #FFE6C2; }
  &.create, &.new {
    form {
      input[type="email"], input[type="text"] {
        font-size: 18px;
        line-height: 22px;
        height: 22px;
        margin-top: 6px;
      }
      label { font-size: 18px; }
      .btn {
        font-weight: 700;
        margin-top: 15px;
      }
      .control-group { margin-bottom: 16px; }
      textarea {
        font-size: 18px;
        height: 140px;
        line-height: 22px;
        margin-top: 6px;
      }
    }
    h6 { font-weight: 400; }
    .info-box {
      margin: 0px 0 0 50px;
      padding: 25px;
      width: 260px;
      h2 { font-weight: 400; }
    }
    #intro { margin-bottom: 30px; }
    #organisation {
      background-color: #DEF1DE;
      p {
        margin-top: 14px;
        font-style: italic;
        span { font-weight: 700; }
      }
    }
  }
  .beta-desc, .full-release-desc { margin-bottom: 20px; }
  .full-release {
    h2 {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
    }
  }
  .attributes {
    list-style: disc;
    margin-left: 0;
    margin-bottom: 10px;
    padding: 10px 10px 10px 30px;
    border-radius: 4px;
    li {
      margin-bottom: 20px;
      line-height: 1.2;
    }
  }
}
