//= depend_on 'default-cover-photo.png'
//= depend_on 'default-logo-medium.png'
//= depend_on 'cover-photo-gradient.png'

.group-max-size-warning, .group-max-size-reached {
  margin-bottom: 3em;
}


body.groups {
  &.edit, &.new, &.create, &.update {
    .described-label {
      i {
        color: $mid-grey;
      }
    }
  }
  &.show {
    .discussion-preview .discussion-title { margin-top: 7px; }
    .discussion-preview.showing-group .discussion-title { margin-top: 0; }
    .group-heading {
      background: image-url('default-cover-photo.png') 0 0 no-repeat;
      margin: -23px -15px 0 -15px;
      position: relative;
      height: 200px;
      max-width: 1170px;
      background-position-y: bottom;
      background-position-x: center;
      a { color: white; }
      .alert{
        margin: 16px;
        float: left;
        a {color: $text-black;}
      }
      .group-logo {
        width: 108px;
        height: 108px;
        background: image-url('default-logo-medium.png') no-repeat top center white;
        position: absolute;
        border: 4px solid white;
        top: 146px;
        left: 16px;
        z-index: 100;
      }
      .group-title {
        position: absolute;
        bottom: 0px;
        left: 138px;
        @media (max-width: 768px) { left: 10px; }
      }
      .home-title{
        font-size: 30px;
        max-width: 632px;
      }
      .group-category{
        display: inline-block;
        margin-left: 5px;
        max-width: 168px;
        text-align: right;
        a{
          font-size: 14px;
          background: rgba(0,0,0,0.5);
          padding: 3px 10px;
          display: block;
        }
      }
    }
    .upload-button {
      position: relative;
      cursor: pointer;
      width: 32px;
      height: 32px;
      float: right;
      .edit-icon {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        cursor: pointer;
      }
      input {
        position: relative;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        width: 32px;
        height: 32px;
      }
    }
    .logo-upload{
      margin: -4px;
    }
    .group-description{
      margin: 16px 0 5px 0;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .logo-placeholder {
      float: left;
      width: 118px;
      height: 34px;
    }
    .main-content{
      width: 100%;
    }
    .sidebar {
      width: 220px;
      float: left;
      margin-left: 20px;
    }
    #group-actions {
      margin: 20px 0 15px 0;
      .options{margin: 0;}
    }
    .heart-icon {color: red;}
    #request-membership {
      form { display: inline; }
      .btn {
        width: 170px;
        color: $mid-grey;
      }
    }
    #membership-requests {
      #approve { font-size: $font-tiny; }
      .membership-user-name {
        color: #777;
        display: inline-block;
        width: 146px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    #setup_next_steps {
      background-color: #D9EDF7;
      border-color: #BCE8F1;
      color: #3A87AD;
      ol {
        margin-left: 20px;
      }
      padding-bottom: 10px;
    }

    #request-membership {
      margin-bottom: 10px;
      text-align: center;
      .btn {
        width: 195px;
        color: $mid-grey;
      }
      form { display: inline; }
      #request-new-membership { width: 220px; }
    }
    #request-membership-disabled { text-align: center; }

    #setup-next-steps {
      background-color: #D9EDF7;
      border-color: #BCE8F1;
      color: #3A87AD;
      padding-bottom: 10px;
      ol { margin-left: 20px; }
    }

    #sub-groups-panel {
      .group-link a:hover { color: $dark-grey; }
    }

    .panel-notifications p { margin: 5px 0 0 0;}

    .notifications-panel {
      margin-top: 10px
    }
    .previous-discussions-panel {
      .previous-decision-title {
        &:hover { color: $dark-grey; }
      }

      ul.previous-decisions {
        margin-bottom: 0px;
        padding-top: 5px;
      }

      li.previous-decision { padding: 0 0 12px 0; }

      .motion-sparkline {
        float: left;
        padding: 2px 10px 0 0;
      }
    }

    .follow{
      margin-bottom: 1.2em;
    }
    .pagination{
      margin-top: 0px;
    }

    .discussions{
      margin-bottom: 20px;
    }
  }
}

.group-link-name{
  font-weight: bold;
  margin-top: 0.3em;
}
.sub-group .group-link-name {
  padding-left: 1em;
  font-weight: normal;
  margin-top: 0;
}

#group_email_subject { width: 510px; }
#group_email_body { width: 510px; }

// group title (on almost all pages)
.group-title {
  margin: 0 0 8px;
  h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
  }
  .home-title {
    color: #727272;
    display: inline;
  }
}

#group-privacy-label {
  font-size: .8em;
}

#group_email_body{
  height: 200px;
}

.name-separator {
  display: inline-block;
  width: 15px;
  position: relative;
  bottom: 2px;
  font-size: 0.5em;
  text-align: center;
}

form.group-settings{
  textarea{
    box-sizing:border-box;
    height: 122px;
  }
  input[type="text"] {
    box-sizing:border-box;
    height: 2em;
  }
  label span:before { content: '- '; }
  .control-label{ font-weight: bold; }
  .tab-content{ padding: 1em 0.5em; }
  .what-can-members-do{
    label.control-label{ margin-bottom: 5px; }
    .control-group{
      margin-bottom: 0;
      margin-top: 5px;
    }
  }
  .disabled { color:#ccc; }
  .hint{
    margin-top: 1em;
  }
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.panel a {
  color: #777777;
  &:hover { color: #555555; }
}

.membership_requests{
  textarea{  height: 200px; }
}

body.start_group {
  h2 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
  }
  form textarea, form textarea.form-control { height: 100px; }
  .pricing {
    font-size: 22px;
    text-align: right;
    font-weight: 300;
  }
}
