.pages-nav-logo{
  display: block;
  width: 136px;
  height: 36px;
  background: image-url("logo-orange.png") 0 0 no-repeat;
}
.app-logo{
  width: 93px;
  margin: 9px 0 0 10px;
  height: 28px;
  background: 0 0 no-repeat;
}
input.group-dropdown-search {
  padding: 5px;
  width: 100%;
}

.dropdown-menu {
  a {
    clear: both;
    color: #555;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 15px;
  }

  li > a:hover, .active > a, .active > a:hover {
    background-color: #08c;
    text-decoration: none;
  }
  h3 {
    font-weight: 400;
    font-size: 14px;
    padding-top: 2px;
    color: #968D90;
  }
}

.navbar-nav{
  margin: 0;
}

.navbar {
  .navbar-header{ width: 100%; }
  .fa{
    height: 22px;
  }
  .activity-count {
    font-size: $font-tinywiny;
    padding: 2px 3px;
    position: absolute;
    left: 21px;
    bottom: 19px;
    background-color: #08C;
  }
  .nav-item-icon {
    padding-right: 5px;
    opacity: 0.8;
    &.inbox-icon { padding-right: 0; }
  }
  ul.nav-bar-list {
    list-style: none;
  }

  li {
    margin-top: 2px;
    .caret {
      border-top: 4px solid $light-grey;
      opacity: 1;
    }
    &.left-side { }

  }

  li > a.nav-logo-link {
    display: block;
    text-decoration: none;
  }

  li > a {
    color: #727272;
    display: block;
    padding: 13px 10px 6px;
    line-height: 18px;
    &:focus { text-decoration: none; }
  }

  li > a:hover{
    color: #999999;
    text-decoration: none;
    .caret { border-top: 4px solid white; }
    span.nav-item-icon{ opacity: 1; }
  }

  li > ul.dropdown-menu a:hover { color: white; }

  li#contribute {
    float: right;
  }

  li#logo-home {
    float: left;
    margin-top: 1px;
  }

  li#help {
    float: right;
  }

  li#search {
    form {
      float: right;
      margin: 0;
      padding-right: 8px;

      body { color: #fff; }
      .control-group {
        display: inline-block;
        margin-bottom: 8px;
        input {
          border-left: none;
          &[type="text"]:focus {
            border-left: none;
          }
        }

      }
      .input-prepend {
        margin-bottom: 0;
        margin-top: 6px;
      }
    }
  }

  li#inbox-container{
    float: left;
    position: relative;
  }
  li#notifications-container{
    float: left;
    width: 40px;
  }
  .visible-xs{
    z-index: 1000;
  }
}

.navbar-form{
  margin-top: 6px;
  margin-bottom: 0;
}

li#sign-in {
  float: right;
}

li.dropdown#user {
  float: right;
  max-width: 300px;
  height: 45px;
  padding-top: 2px;
  #header-user-image {
    position: relative;
    bottom: 5px;
    margin-right: 5px;
  }
  .nav-link { padding-top: 12px; }
  .dropdown-menu {
    min-width: 128px;
    a {
      margin-top: 4px;
      padding: 3px 18px;
      .fa {
        font-size: 16px;
        margin-right: 5px;
      }
      .fa-envelope { font-size: 14px; }
    }
  }
}
.user-options{
  .fa {
    font-size: 16px;
    margin-right: 5px;
  }
  .fa-envelope { font-size: 14px; }
  li { width: 100%; }
}

li.dropdown#groups {
  .dropdown-toggle {
    width: 40px;
    @media (min-width: 768px) { width: 120px; }
    float: left;
  }
  .link-container a { display: inline; }
  .discussion-activity-count {
    display: inline;
    float: right;
    margin-left: 10px;
  }
  .dropdown-menu {
    min-width: 350px;
    padding-bottom: 0;
  }
}

#group-dropdown-items {
  overflow-y: auto;
  max-height: 390px;
  width: 100%;
}
li#inbox {
  a {min-width: 250px}
}
li.group-item {
  background-color: white;
}
li.group-item.all-groups {
  padding: 0 0 2px 0px;
  border-bottom: 1px solid $light-grey;
  a { color: $mid-grey; }
  background-color: #eee;
}

li#groups ul.dropdown-menu li.group-item.group-links {
  border-top: 1px solid #E7E7E7;
  width: 50%;
  float: left;
  a {
    font-size: 14px;
    padding: 12px;
    text-align: center;
    color: #08C;
    &:hover {
      background-image: none;
      background-color: #fff;
      text-decoration: underline;;
   }
  }
  .new-group { border-right: 1px solid rgb(221, 221, 221); }
}

.fa { font-size: 18px; }
.fa-inbox { font-size: 24px; }
.fa-bell { padding-top: 2px; }
.fa-group {
  margin-right: 3px;
  padding-top: 2px;
}
.fa-heart-o { font-size: 20px; }
.fa-star { font-size: 14px; }
.fa-search {
  color: #adadad;
  font-size: 15px;
}

.activity-count { background-color: #08C;}


#inbox-container { margin-top: 0; }

#contribute a {
  height: 20px;
  padding-top: 10px;
}

.development-warning {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: pink;
  height: 28px;
  width: 44px;
  padding-top: 12px;
  text-align: center;
  font-weight: 700;
  border: 2px solid white;
}

  .form-control {
    @include box-shadow(0, 1px, 1px, 0, red inset);
  }

input#search_form_query {
  border-right: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  height: 36px;
  &:focus {
    border-color: #ccc;
    @include box-shadow(none);
  }
}

.input-group-addon {
  background-color: transparent;
}

.navbar-collapse { float: left; }

#group-dropdown-items a {
  padding: 3px 15px;
}

.navbar-fixed-top {
  border-bottom: 1px solid #dbdbdb;
  @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
}
