.help {
  h1 {
    font-size: 36px;
    margin: 1em 0;
    border-bottom: 1px solid;
  }
  h2 {
    font-size: 28px;
    margin: 2em 0;
  }
  h3{
    font-size: 18px;
    line-height: 1.2;
    margin: 1em 0;
  }
  h4 {
    color: #999999;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1em;
  }
  p {
    font-size: 15px;
    margin-bottom: 1.5em;
    line-height: 1.4;
  }
  section {
    padding-top: 30px;
    margin-top: 10px;
  }

  .anchor {
    padding-top: 70px;
    margin-top: -50px;
  }

  #sidenav {
    .nav.nav-tabs {
      max-width: 230px;
      .active {
        a {
          background-color: #08c;
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        }
      }
      li {
        a:hover {
          background-color: #08C;
          color: #ffffff;
        }
        &.sub {
          font-size: 0.9em;
          a {
            color: #777777;
            padding-left: 20px;
            &:hover { color: #fff; }
          }
        }
      }
    }
  }
  #help-header { margin-top: 10px; }

  #get-started, #progress-resources, #how-to-contribute {
    list-style: decimal;
    margin: 0 0 30px 20px;
    li {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  #what-is-loomio {
    padding-top: 75px;
    margin-top: -75px;
  }

  #how-to { margin-bottom: 50px; }

  #contents {
    padding-top: 55px;
    margin-top: -55px;
    ul { margin-bottom: 24px; }
    .single-item {
      font-size: 16px;
      font-weight: 600;
      a { margin-bottom: 10px; }
    }
    li { margin-bottom: 10px; }
    .top-level {
      font-size: 16px;
      font-weight: 600;
    }
    margin-bottom: 20px;
  }

  .screenshot { margin-bottom: 30px; }


  .permissions-subhead { font-style: italic; }

  .after-group-setup { margin-top: 40px; }

  .import-contacts-permission { float: right; }

  .deactivation {
    li { margin-bottom: 10px }
    font-size: 15px;
    list-style: circle;
    margin-left: 20px;
  }

  #bottom-links { margin: 30px 0 0 0; }

  .feedback-discussion-link { float: right; }
}

.help-container { padding: 0 40px; }
/*Styles applied to both in-app help and marketing site*/
.help, .pages.purpose{
  #help-content {
    h2 {
      margin-bottom: .3em;
      .blue{ color: #0088cc; }
    }
    iframe { margin-top: 0; }
    img, iframe {
      border: 1px solid #eee;
      max-width: 100%;
    }
    .example, .extra-margin{ margin-top: 32px}
    .positions {
      img {
        border: none;
        margin: 0 4px 15px 0;
        width: 30px;
      }
      span { font-weight: 700; }
      margin-bottom: 50px;
    }
  }
}
/*Styles only applied to in-app help page*/
.help{
}
/*Styles only applied to marketing site*/
.pages.about #video-tutorial{
  .span5, .span7 {width: 47%;}
}
