.activity-count {
  font-size: $font-tinywiny;
  position: relative;
  bottom: 8px;
  left: 16px;
  color: white;
  background-color: #08C;
}

.pie .activity-count {
  bottom: 1px;
  margin-left: 8px;
  z-index: 2;
}

#inbox-head {
  #inbox-description { padding-top: .7em; }
 }

.inbox-preferences {
  padding-top: .7em;
  img {
    margin-bottom: 3px;
  }
  text-align: right;
  a {
    color: $dark-grey;
  }
}


.inbox-group {
  h3 {
    margin: 0.7em 0 0.3em 0;
    a {
      color: $dark-grey;
    }
  }
  .mark-all-as-read {
    a{
      margin-right: .9em;
    }
    text-align: right;
    margin-top: 1.2em;
  }
}

ul.inbox-list{
  li {
    a {
      color: $dark-grey;
    }
    .more-unread-items {
      text-decoration: underline;
    }
    line-height: 2em;
    padding: .5em 0;

    .discussion-icon{
      text-align: center;
      color: #fff;
      top: 0.2em;
      left: 0.3em;
      background: #7EC6DC;
      border-radius: 0.2em;
      position: relative;
      &:before {
        position:absolute;
        content: "";
        bottom: -0.3em;
        right: 0.4em;
        width:0em;
        height:0em;
        border-bottom:0.4em solid transparent;
        border-left:0.4em solid #7EC6DC;
      }
    }
    .icon {
      position: relative;
      font-size: .9em;
      .motion-sparkline{
        margin: 1px 0 0 .3em;
        line-height: 4em;
      }
      width: 2em;
      margin: 0 0.5em;
      display: inline-block;
      height: 1.7em;
      .activity-badge{
        color: #fff;
        font-weight: 700;
        bottom: 4px;
        position: relative;
        text-align: center;
      }
      .activity-container {
        width: 2em;
        left: .28em;
        text-shadow: 1px 1px 2px #666;
        font-weight: 700;
        position: absolute;
        text-align: center;
        span {
          color: #fff;
        }
      }
    }

    .mark-as-read-btn, .unfollow-btn a {
      display: block;
      width: 100%;
      font-size: 1.2em;
      text-align: center;
    }
    &:hover {
      background: $even-lighter-grey;
    }
    border-top: 1px solid $lighter-grey;
    .time {
      color: $dark-grey;
      span {
        line-height: 0;
      }
      text-align: right;
    }
  }
}
