body.invitations {
  &.new, &.create {
    #invitees { height: 50px; }
    #group_setup_message_body { height: 185px; }
    .email-validation-help { color: $error-color }
  }

  #invitations-header {
    h1 { margin: 0 0 10px 20px; }
  }

  .parent-members {
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    float: right;
    margin-top: 9px;
    max-height: 335px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px;
    width: 288px;
    margin-bottom: 40px;
  }

  .invite-member-checkbox-container {
   label {
     display: inline;
     padding-left: 10px;
     position: relative;
     top: 4px;
    }
  }

  .invite-by-email {
    margin-right: 80px;
    margin-bottom: 20px;
  }

  .invite-to-group { margin-left: 20px; }

  .invitation-options { margin-bottom: 20px; }

  .invite-to-discussion-info {
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 470px;
  }
}
