//= depend_on "logo-orange.png"
//= depend_on "navbar-logo.png"
//= depend_on "navbar-logo-beta.jpg"

$pages-background: #F2F1ED;
$app-background: #DBDBDB;
$text-on-bg: $mid-grey;
.pages-nav-logo{
  display: block;
  width: 136px;
  height: 36px;
  background: image-url("logo-orange.png") 0 0 no-repeat;
}
.app-logo{
  width: 93px;
  margin: 9px 0 0 10px;
  height: 28px;
  background: image-url("navbar-logo.png") 0 0 no-repeat;
}
.app-logo.beta{
  background: image-url("navbar-logo-beta.jpg") 0 0 no-repeat;
}
