//= depend_on 'ajax-loader.gif'
html, body { overflow-x: hidden; }

body {
  background-color: $app-background;
  color: $text-black;
  margin-top: 50px;
}

body.pages{
  margin-top: 0;
}

code{
  padding: 1px 4px;
  overflow: auto;
  word-break: normal;
  word-wrap: normal;
}

form {
  input, select, textarea {
    color: #252525;
  }
  textarea, textarea.form-control {
    margin-bottom: 0;
    height: 200px;
  }
  .error{
    color: $error-color;
  }
  .field_with_errors label {
    color: $error-color
  }
  .field_with_errors input {
    border-color: $error-color
  }
  .field_with_errors textarea {
    border-color: $error-color
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.4em;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h3 {
  font-size: 18px;
  line-height: 27px;
}
h4 {
  font-size: 14px;
  line-height: 18px;
}
h5 {
  font-size: 12px;
  line-height: 18px;
}
h6 {
  font-size: 11px;
  line-height: 18px;
}
h2, h3 {
  margin: 15px 0 9px 0;
}

.panel h4{
  margin-bottom: 0;
}

hr { margin: 1px; }

ul { list-style: none; }

ul, ol, li {
  margin: 0;
  padding: 0;
}
.container{
  background-color: $container;
  max-width: 970px;
}
.navbar-default{ background-color: white;}
.alert { margin-top: 14px; }
.alert a.close{ padding-left: 0.5em; }
.btn-left {
  text-align: left;
  padding-left: 1em;
}

.btn-right {
  text-align: right;
  padding-right: 1em;
}

.btn i{
  width: 1.3em;
}
.box-lt-blue { background-color: #E7F5F8; }
.box-lime { background-color: #E9F1D9; }
.box-yellow { background-color: #FCF7D7; }
.box-orange { background-color: #FEEED5; }
.btn-lt-blue {
  background-color: hsl(190, 57%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4eb9ce", endColorstr="#2b8ca0");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#4eb9ce), to(#2b8ca0));
  background-image: -moz-linear-gradient(top, #4eb9ce, #2b8ca0);
  background-image: -ms-linear-gradient(top, #4eb9ce, #2b8ca0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4eb9ce), color-stop(100%, #2b8ca0));
  background-image: -webkit-linear-gradient(top, #4eb9ce, #2b8ca0);
  background-image: -o-linear-gradient(top, #4eb9ce, #2b8ca0);
  background-image: linear-gradient(#4eb9ce, #2b8ca0);
  border-color: #2b8ca0 #2b8ca0 hsl(190, 57%, 36%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}
.btn-lime {
  background-color: hsl(114, 46%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#65c25b", endColorstr="#409437");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#65c25b), to(#409437));
  background-image: -moz-linear-gradient(top, #65c25b, #409437);
  background-image: -ms-linear-gradient(top, #65c25b, #409437);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #65c25b), color-stop(100%, #409437));
  background-image: -webkit-linear-gradient(top, #65c25b, #409437);
  background-image: -o-linear-gradient(top, #65c25b, #409437);
  background-image: linear-gradient(#65c25b, #409437);
  border-color: #409437 #409437 hsl(114, 46%, 36%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}
.btn-yellow {
  background-color: hsl(49, 100%, 41%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fed623", endColorstr="#d1aa00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fed623), to(#d1aa00));
  background-image: -moz-linear-gradient(top, #fed623, #d1aa00);
  background-image: -ms-linear-gradient(top, #fed623, #d1aa00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fed623), color-stop(100%, #d1aa00));
  background-image: -webkit-linear-gradient(top, #fed623, #d1aa00);
  background-image: -o-linear-gradient(top, #fed623, #d1aa00);
  background-image: linear-gradient(#fed623, #d1aa00);
  border-color: #d1aa00 #d1aa00 hsl(49, 100%, 37%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}
.btn-grey { color: $mid-grey; }

#start-group-btn {
  font-size: 24px;
  padding: 15px;
  margin-bottom: 22px}

.cf {
  zoom: 1;
  &:after { clear:both; }
  &:before, &:after {
    content:"";
    display:table;
  }
}

.character-counter {
  color: $mid-grey;
  text-align: right;
  position: relative;
  bottom: 15px;
  right: 0px;
  height: 12px;
  font-size: $font-small;
}

.discussion-with-motion-divider {
  height: 1px;
  background: #aaa;
}

.field_with_errors {
  display: inline;
}
span.error {
  color: $error-color;
  display: block;
  margin-bottom: 1em;
}
.inline-help { color: $error-color; }
.hint {
  clear: both;
  padding: 1em 0;
}
.helper-text p {
  color: $mid-grey;
  font-size: $font-small;
}

.hidden {
  display: none;
}

.loading {
  background: image-url('ajax-loader.gif') no-repeat;
  background-position: 300px 200px;
  line-height: 33.5em;
  text-indent: -9999px;
}

.page-container {
  margin-top: 30px;
  min-height: 600px;
}
.shadow{
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  text-rendering: optimizelegibility;
  color: white;
}
ul.selector-list {
  &.bordered { border-top: 1px solid $light-grey }
  li.selector-item {
    background-color: $unhighlighted;
    border-bottom: 1px solid $lighter-grey;
    color: $dark-grey;
    font-weight: normal;
    a.selector-link {
      display: block;
      &:hover {
        background-color: $selector;
        text-decoration: none;
      }
    }
    .unread {
      background-color: $highlighted;
      a {
        color: #333;
        .proposal-title { color: black; }
      }
    }
  }
}
.panel{
  img{max-width: 100%;}
}

.validate-length {
  display: inline-block;
}

.word-break {
  /* The following styles prevent unbroken strings from breaking the layout */
  overflow: auto;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  -moz-binding: url('xbl.xml#wordwrap'); /* Firefox (using XBL) */
}

// edit description dropdown for group and discussion
.description-body .translate-link {
  color: $mid-grey;
  text-decoration: underline;
  font-size: $font-medium;
  &:hover { color: $dark-grey }
}

#cancel-add-description:hover { color: $dark-grey; }
a.btn-icon:hover { color: $dark-grey; }

.row-fluid.pages-information { min-height: 400px; }

.footer {
  border-top: 2px solid $lighter-grey;
  margin-top: 40px;
  padding: 10px 0 34px 0;
  a {
    color: $dark-grey;
    padding: 0 3px;
  }
  .dropup {
    display: inline;
    a{text-decoration: none;}
    a:hover span{text-decoration: underline;}
    .caret {
      margin-top: 10px;
      border-bottom: 0;
      border-top: 4px solid black;
    }
  }
  .footer-links{
    text-align: right;
  }
}

.nowrap { white-space: nowrap; }

.info-box {
  border-radius: 4px;
  background-color: #DEF1DE;
  color: #555555;
  margin-top: 30px;
  padding: 15px;
  width: 240px;
  h3 {
    color: $text-black;
    font-weight: 400;
  }
  td { padding: 5px; }
  ul {
    list-style: disc;
    margin-left: 20px;
  }
}

#button-container { margin-top: 5px; }

#search.nav-item {
  .icon-search { position: relative; }
  .submit-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    opacity: 0;
  }
}

.edit-icon {
  float: right;
  font-size: 20px;
  width: 32px;
  height: 32px;
  background: white;
  i{padding: 6px 8px 6px 7px;}
}
.delete-icon{
  float: right;
  margin-left: 3px;
}

.comment-actions{
  float: right;
  a{color: $light-grey;}
  a:hover{color: $link-blue;}
  .fa{ font-size: 16px; }
}

.edit-icon-small {
  font-size: 14px;
  width: 14px;
  height: 14px;
  i{padding: 0;}
}

.edit-icon-labelled {
  float: right;
  font-size: 14px;
}
.edit-icon-placeholder {
  width: 32px;
  height: 32px;
  float: right;
}

.modal ul{
  list-style: disc;
  li{
    margin-left: 20px;
  }
  margin-bottom: 20px;
}

#select-locale {
  width: 180px;
  margin-bottom: 4px;
}

.main-container {
  background: #fff;
}

.checkbox { padding-left: 20px; }

.btn { margin-bottom: 5px; }

.filter{ display: inline; }

.pagination-centered{ text-align: center; }

form{
  .radio, .checkbox{
    margin: 0;
    line-height: 20px;
  }
  .checkbox label{
    padding-left: 0;
    padding-bottom: 1em;
  }
  .radio label{
    padding-bottom: 1em;
  }
}

.tooltip.bottom .tooltip-arrow{ top: 0 !important; }

[dir='RTL'] { text-align: right; }
[dir='LTR'] { text-align: left; }
.text-left[dir='RTL'] { text-align: left; }

body.groups, body.discussions {
  .volume-dropdown .dropdown-menu {
    li > a { white-space: normal; }
    li > a:hover{
      color: white;
      background-color: #08c;
    }
    width: 320px;
    @media (max-width: 480px) { margin-left: -31px; }
    @media (min-width: 992px) { margin-left: -130px; }
  }
}
