body.network_membership_requests{
  table{ width: 100%; }
  .group{ max-width: 28em; }
  td{ vertical-align: top; padding: 2em 0; border-bottom: 1px solid #eee;}
  h2{ margin-top: 2em;  border-bottom: 1px solid #eee; }
}
body.networks.groups{
  .network-group{clear: both;}
  .network-group-name{max-width: 65%; float: left; margin-bottom: 0.5em;}
  .network-group-size{text-align: right; float: right;}
}