.bold-name {
  font-weight: bold;
  color: #333;
}

.notification-item a {
  white-space: normal;
  font-size: 0.9em;
  color: $dark-grey
}

.notification-item .avatar-canvas {
  margin-right: 7px;
  margin-top: 2px;
}

.notification-item .notification-content {
  overflow: hidden;
  display: block;
}

.notification-item-footer {
  font-size: 0.85em;
  display: block;
  color: $mid-grey;
}

.navbar {
  #notifications-container .a {
    padding-left: 0px;
  }
  #notifications-container .dropdown-menu {
    width: 320px;
    @media (max-width: 768px) { margin-left: -140px; }
    padding-bottom: 0;
  }
  #notifications-container .dropdown-menu a {
    min-height: 42px;
    padding-left: 5px;
  }
  #notifications-container .dropdown-menu h3 {
    padding-top: 0;
    margin-top: 0;
    padding-left: 5px;
  }
  #notifications-container .divider {
    border-color: $light-grey;
  }
  #notifications-container .notification-item:hover {
    background-color: $selector;
    a, .bold-name, .notification-item-footer {
      color: $dark-grey;
      background-color: $selector;
    }
  }
  #notifications-container .notifications-placeholder {
    padding: 10px 15px;
    color: $dark-grey;
  }
  #notification-dropdown-items {
    overflow-y: auto;
    max-height: 390px;
    .notification-item {
      background-color: $unhighlighted;
    }
    .notification-item.unread {
      background-color: $highlighted;
    }
    border-top: 1px solid #E7E7E7;
    li{  margin-top: 0; }
  }
  #notifications-see-more {
    border-top: 1px solid #E7E7E7;
    margin-top: 0;
    a {
      display: block;
      padding: 8px;
      text-align: center;
      color: #08c;
      min-height: 18px;
    }
    a:hover {
      color: white;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}

.navbar #notifications-container .dropdown-menu #notifications-see-more a { min-height: 18px; }

li.notification-item.selector-item {
  border-bottom: 1px solid #e7e7e7;
}

body.notifications.index .container {
  li.notification-item {
    background-color: white;
    padding: 5px 10px;
  }
  li.notification-item:hover {
    background-color: $selector;
  }
}
