body.public_groups {
  &.index, &.find {
    .btn { margin-left: 10px; }
    .add-on {
      background-color: transparent;
      position: relative;
      border-left: 0;
    }
    .alphabetise {
      margin-top: 26px;
      text-align: right;
      padding-bottom: 4px;
     }
    .featured-header {
      font-size: 16px;
      font-weight: 700;
    }
    .featured-row { margin-bottom: 20px; }
    .header-row { margin-bottom: 30px; }
    h1 {
      float: left;
      margin-bottom: 0px;
      margin-right: 20px;
    }
    h2 { color: $mid-grey; }
    .search-header {
      float: left;
      margin-right: 14px;
    }
    .input-append { margin: 6px; }
    form {
      margin-bottom: 0;
      .control-group {
        display: inline-block;
        margin-bottom: 0px;
      }
      #query {
        @include border-radius(4px);
        -moz-border-top-right-radius: 0;
          -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
          -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
        width: 200px;
        border-right: 0;
        &:focus {
          border: 1px solid #cccccc;
          border-right: 0;
          @include box-shadow(0,0,0,0, transparent);
        }
      }
      .submit-search {
        position: absolute;
        top: 0;
        left: 0;
        width: 26px;
        opacity: 0;
      }
    }
    .span2.featured-image {
      width: 11.89362%;
    }
    .icon-container {
      border: 1px solid #ccc;
      @include border-radius(2px);
      padding: 2px 4px 1px 5px;
      .sort-by-alphabet-icon, .sort-by-alphabet-icon-desc { opacity: .7; }
      &:hover { border: 1px solid $mid-grey; }
    }
    .public-groups-container {
      a {
        color: #333;
        font-weight: bold;
        text-decoration: none;
      }
      li {
        padding: 10px;
        &:hover { background-color: $selector; }
      }
      .group-details {
        display: inline-block;
      }
      .group-name {
        color: $link-blue;
        font-weight: 700;
        float: left;
        margin-right: 8px;
      }
    }
  }
}
