body.searches {
    &.show {
    #explanation { text-align: right; }
    h2 { font-size: 22px; }
    .search-group {
      h2 { margin: 0.5em 0 0.3em 0; }
      ul.search-list {
        li {
          background: $even-lighter-grey;
          border-top: 1px solid $lighter-grey;
          line-height: 2em;
          padding: .5em 0;
          &:hover { background-color: $selector; }
          .description {
            color: $mid-grey;
            font-size: $font-medium;
          }
          .icon {
            display: inline-block;
            @include ie7-inline-block();
            font-size: .9em;
            height: 1.7em;
            margin: 0 0.5em;
            width: 2em;
            .activity-count {
              bottom: 3px;
              position: relative;
              text-align: center;
            }
            .motion-sparkline {
              line-height: 4em;
              margin: 1px 0 0 1px;
            }
          }
          .large-icon { margin: 6px 9px; }
          .span11 { margin-left: -10px; }
          .title { font-size: $font-medium-large; }
          #search-results .title a{
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
