.pages .navbar-inner {
  background-image: none;
  background-color: #FFF;
  padding: 18px 24px;
}
.pages .navbar-container {
  width: 960px;
  margin: 0 auto;
}
.pages .brand {
  img { width: 90%; }
}
