body.subscriptions {
  color: $text-black;
  h1 { margin: 6px 0 20px 0; }
  h2{font-size: 22px;}
  p, label{
    font-size: 1.2em;
    line-height: 24px;
  }
  .iconrow img{ float: right; }
  .iconrow{ margin-top: 20px; }
  span.nowrap{ white-space: nowrap; }
  img#colablove{ margin-right: 10px; }
  .small{font-size: 90%; clear:both;}
  .input-prepend{float: right}
  .input-mini{width: 100px;}
  #lovenote{color: green;}
  .btn-success{margin: 1em 0;}
}
