.group-notification-levels select, option {
  font-family: 'FontAwesome',"HelveticaNeue", "Helvetica Neue", "Arial", sans-serif;
}

body.users.show {
  p.email, p.username {
    font-size: 1.4em;
    margin-top: .4em;
  }
  .span8 { margin-left: 0; }

  #user-groups-list{ margin-top: 40px; }
  li {
    list-style-type: none;
    margin-bottom: 5px;
  }
}

.edit_user label.checkbox{
  font-weight: normal;
}

body.users {
  &.profile, &.update, &.deactivation_instructions, 
    &.about_deactivation {
    form { margin-top: 10px; }
    #profile-submit{ margin-bottom: 2em;}
    ul.user-image-options {
      h3 { margin: 0 0 0 30px; }
      li {
        margin: 0 0 10px 0;
        padding: 0px 0px;
        width: 270px;
        a {
          cursor: pointer;
          float: left;
          padding: 8px 8px;
        }
        .medium-user-image.image-canvas {
          float: left;
          width: 28px;
        }
        .option-label {
          float: left;
          line-height: 32px;
          padding-left: 10px;
          text-decoration: underline;
          width: 140px;
        }
        #uploaded-avatar {
          bottom: 36px;
          filter: alpha(opacity=0);
          height: 36px;
          margin: 0;
          opacity: 0;
          position: relative;
          width: 150px;
        }
        &.clearfix:hover { background-color: $selector; }
      }
    }

    #user_deactivation_response_body {
      height: 150px;
      width: 495px;
      margin-left: 10px;
    }
    .deactivation-info { margin-left: 10px; }
    .deactivation-text { 
      margin: 50px auto; }
      ul#info {
        list-style-type: disc;
        margin-left: 20px;
        li { padding: 5px; }
      }
    .deactivate-account { margin-top: 40px; }
    .profile-link {
      margin-top: 50px;
      text-align: center;
    }
  }
}

.per-group-email-settings{
  margin-left: 1.5em;
  label{
    min-height: 30px;
  }
  .checkbox input[type="checkbox"]{
    height: 16px;
    margin-top: 4px;
  }
}

.per-group-email-settings.disabled{
  color: #ccc;
}

.set-group-volume span{ font-weight: normal; }
.set-group-volume { margin: 0 0 1.5em 1.5em; }
.set-group-volume label { line-height: 24px; margin-left: 5px; }

