.members-card{
  @include card;
}

.members-card__avatar{
  float: left;
  margin: 0 2px 2px 0;
}

.members-card__invite-members {
  clear: both;
  padding-top: 10px;
}

.members-card__invite-members-btn{
  @include lmoBtnFeatured;
  @include lmoBtnBlock;
  @include lmoBtnIcon;
}

.members-card__manage-members {
  @include cardMinorAction;
}
