.blank
  %section.members-card{ng-if: 'canViewMemberships()', aria-labelledby: 'members-card-title'}
    %h2#members-card-title.lmo-card-heading{ translate: 'group_page.members'}
    .members-card__list
      .members-card__avatar{ng-repeat: 'membership in group.memberships() | orderBy: "-admin" | limitTo:10'}
        %user_avatar{user: 'membership.user()', coordinator: 'membership.admin', size: 'medium'}
      .lmo-placeholder{translate: 'group_page.members_placeholder', ng-if: 'showMembersPlaceholder()' }
    .members-card__invite-members{ng-if: '::canAddMembers()'}
      %a.btn.btn-success.btn-block.lmo-btn-icon{href: '', ng_click: 'invitePeople()'}
        %i.fa.fa-lg.fa-plus>
        %span{translate: 'group_page.invite_people' }
    .members-card__manage-members.card-minor-action
      %a{lmo-href-for: 'group', lmo-href-action: 'memberships'}
        %span{translate: 'group_page.all_members', translate-value-count: '{{group.membershipsCount}}'}
