.group-page-members
  .dropdown.context-menu.pull-right{ng-if: 'isAdminOf(group)'}
    %a.dropdown-toggle{href: ''}
      %i.fa.fa-lg.fa-chevron-down
    %ul.dropdown-menu
      %li
        %a{href: '/g/{{group.key}}/memberships', translate: 'group_page.options.manage_members'}

  .card-title{ translate: 'group_page.members' }

  .group-member-list
    .group-member-list-item{ng-repeat: 'member in group.members()'}
      .group-member-list-avatar.lg{data-username: '{{member.label}}' }
        %user_avatar{user: 'member'}
    .group-member-list-show-more.show-more.card-minor-action
      %a{href: '/g/{{group.key}}/memberships', translate: 'common.action.show_more'}
    .members-invite{ng_controller: 'InvitationsController', ng-if: '::canAddMembers()'}
      .row
        .col-xs-12.col-sm-6
          %a.btn.btn-success.btn-block.btn-icon{href: '#', ng_click: 'openForm()'}
            %i.fa.fa-lg.fa-plus>
            %span.cuke-group-invite-people{translate: 'group_page.invite_people' }
