%section.group-page-members{aria-labelledby: 'members-card-title'}
  .dropdown.context-menu.pull-right{ng-if: 'isAdminOf(group)'}
    %a.dropdown-toggle{href: ''}
      .sr-only{translate: 'group_page.member_options'}
      %i.fa.fa-lg.fa-chevron-down{aria-hidden: 'true'}
    .dropdown-menu
      %ul.dropdown-menu-items
        %li.dropdown-menu-item
          %a.dropdown-menu-item-label{href: '/g/{{group.key}}/memberships', translate: 'group_page.options.manage_members'}

  %h2#members-card-title.lmo-card-heading{ translate: 'group_page.members'}

  .group-member-list
    .group-member-list-item{ng-repeat: 'member in group.members() | limitTo:5'}
      .group-member-list-avatar.lg{data-username: '{{member.label}}' }
        %user_avatar{user: 'member'}
    .group-page__members-placeholder.group-page-placeholder{translate: 'group_page.members_placeholder', ng-if: 'showMembersPlaceholder()' }
  .group-member-list-show-more.show-more.card-minor-action
    %a{href: '/g/{{group.key}}/memberships', translate: 'common.action.show_more'}
  .members-invite{ng-if: '::canAddMembers()'}
    %a.btn.btn-success.btn-block.lmo-btn-icon{href: '', ng_click: 'invitePeople()'}
      %i.fa.fa-lg.fa-plus>
      %span{translate: 'group_page.invite_people' }
