%section.group-page-members{role: 'region', aria-labelledby: 'members-card-title'}
  .dropdown.context-menu.pull-right{ng-if: 'isAdminOf(group)'}
    %a.dropdown-toggle{href: ''}
      .sr-only{translate: 'group_page.member_options'}
      %i.fa.fa-lg.fa-chevron-down{aria-hidden: 'true'}
    %ul.dropdown-menu
      %li
        %a{href: '/g/{{group.key}}/memberships', translate: 'group_page.options.manage_members'}

  #members-card-title.card-title{ translate: 'group_page.members', role: 'heading' }

  .group-member-list
    .group-member-list-item{ng-repeat: 'member in groupPage.group.members() | limitTo:5'}
      .group-member-list-avatar.lg{data-username: '{{member.label}}' }
        %user_avatar{user: 'member'}
    .group-member-list-show-more.show-more.card-minor-action
      %a{href: '/g/{{group.key}}/memberships', translate: 'common.action.show_more'}
    .members-invite{ng_controller: 'InvitationsController', ng-if: '::canAddMembers()'}
      %a.btn.btn-success.btn-block.btn-icon{href: '#', ng_click: 'openForm()'}
        %i.fa.fa-lg.fa-plus>
        %span{translate: 'group_page.invite_people' }
