%md-dialog.announcement-modal.lmo-modal__narrow
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi.mdi-bullhorn
      %h1.lmo-h1{translate: "announcement.form.{{announcement.modelName()}}_title"}
      %material_modal_header_cancel_button
  %md-dialog-content
    %announcement_form{announcement: "announcement"}
  %md-dialog-actions
    %announcement_form_actions{announcement: "announcement"}
