#github-link
  %a{:href => "https://github.com/enspiral/loomio",
     :id   => "fork_me"}
    %img{:src => "/assets/fork_me.png",
         :alt => "Fork me on GitHub"}
%h1.header
  Loomio
.main-navigation
  .navbar
    .navbar-inner
      .container
        %a.btn.btn-navbar{ 'data-toggle' => "collapse", 'data-target' => ".nav-collapse" }
          - page_id = params[:id]
          %ul.nav
            %li{ class: css_class_active(page_id, 'home') }
              %a{:href => "/"} Home
            %li{ class: css_class_active(page_id, 'how_it_works') }
              %a{:href => page_path('how_it_works')} How it works
            %li{ class: css_class_active(page_id, 'get_involved') }
              %a{:href => page_path('get_involved')} Get involved
            %li{ class: css_class_active(page_id, 'about') }
              %a{:href => page_path('about')} About
            %li{ class: css_class_active(page_id, 'blog') }
              %a{:href => "http://loomio.org/blog/were-opening-the-door-wider/"} Blog
            %li{ class: css_class_active(page_id, 'contact') }
              %a{:href => page_path('contact')} Contact
          %ul.nav.pull-right
            %li{ class: css_class_active(page_id, 'sign_in') }
              %a{ :href => "#app-login",  "data-toggle" => "modal"} Sign in
        #app-login.modal.hidden
          .modal-header
            %button.close{"data-dismiss" => "modal"}×
            %h1 Sign in
            / = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            / = form_for(:user) do |f|
            /   .modal-body
            /     = render user_session_path

            / = f.label :email, "Email"
            / = f.email_field :email
            / = f.label :password, "Password"
            / = f.password_field :password
            / / - if devise_mapping.rememberable?
            / = f.check_box :remember_me
            / = f.label :remeber_me, "Remember me", class: "checkbox-label"
            / / = render :partial => "devise/shared/links"
            / %p
            /   Don't have an account?  We're currently in closed testing and not accepting public sign-ups (yet!).
            / %p
            /   If you belong to a group that is using Loomio but you don't have your own Loomio account, please contact the person in your organization who set up Loomio and ask them to add you to the group.
          / .modal-footer
          /   = link_to "Cancel", "#", "data-dismiss" => "modal", class: "btn btn-small btn-grey"
          /   = f.submit "Sign in", class: "btn btn-primary btn-small", :id => "sign-in-btn", :data => { :disable_with => "Signing in" }