.content
  .row
    .span6
      .inner-container
        %h2 Where did Loomio come from?
        %p
          Something interesting happened in 2011. Millions of people all over the world took part in a wave of pro-democracy movements, demanding a change in the way our biggest institutions operate.
        %p
          Loomio is what happened when a bunch of activists from the Occupy movement and businesspeople from a social enterprise network called Enspiral realised that they were using different approaches to work towards the same aim: a more sustainable and equitable world.
        %p
          The Loomio project is about individual voices contributing to collective action: enabling all people to have a say in decisions that affect them in all aspects of life – in their community, their workplace, and the world. 
        %p
          Loomio is being built by a team of passionate volunteers in Wellington, New Zealand, and a wider network of friends and supporters all over the world. We’re operating on a non-profit basis, but recognise that Loomio needs to be self-sufficient long term to have as much positive social impact as possible. We’re currently figuring out the fairest way of charging groups who have a budget to pay for helpful tools, so we can help groups who are doing great stuff in the community with no budget. 
    .span6
      .inner-container
        %h2 Who’s using Loomio?
        %p
          Loomio is currently being used by about 260 groups. Here’s a few examples:
        %ul.about
          %li
            The 
            %a{ :href => "http://concernedcitizens.co.nz", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://concernedcitizens.co.nz']);"}
              Concerned Citizens Trust
            is using Loomio to collectively approve exhibition proposals at their Open-Source Community Gallery.
          %li
            %a{ :href => "http://enspiral.com", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://enspiral.com']);"}
              Enspiral
            is using Loomio to make business decisions and collaboratively write their employment contracts.
          %li
            <a href="http://devblog.joindiaspora.com/2012/09/19/community-check-in-how-are-we-doing/" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://devblog.joindiaspora.com/2012/09/19/community-check-in-how-are-we-doing/']);">Diaspora</a>, 
            one of the biggest open-source software development projects ever, is using Loomio to transition to a community-driven model.
          %li
            Loomio is being used to make decisions about the development of Loomio itself.
        %br
        %br
        %h3
          “Loomio gives an opportunity for community developers to express their own thoughts, ideas, and needs. That room for discussion has helped the community get on the same page about what’s important.”
        %p
          – Sean Tilley, Community Manager, Diaspora.
