.container
  %section.first#about-us
    .inner-container
      .row
        .subhead
          %h1 About us
      .row
        .col-md-6
          %p Loomio emerged when activists from the Occupy movement teamed up with the social enterprise network <a href="http://enspiral.com">Enspiral</a>, realising that they were using different approaches to work towards the same aim.
          %p Loomio is being built by a core team in Wellington, New Zealand, and a wider network of friends and supporters all over the world. This video is a presentation by one of the team members that explains some of the background of the project.
        .col-md-6.video
          <iframe width="426" height="239" src="//www.youtube.com/embed/wSj81OxhdBg" frameborder="0" allowfullscreen></iframe>
  .container
    %section#people
      .inner-container
        .row
          %h2 People
          %h3.intro-subhead Loomio Cooperative members
          %p The Loomio Cooperative is made up of 12 worker-members and a network of amazing contributors and advisors. Everyone involved brings a diverse range of skills and experiences, each contributing their own perspective to a powerful shared vision.

        .row
          %h3 Richard Bartlett
        .row
          .col-md-7.offset1.blurb
            %p Rich has a background in open-source engineering, education and community organising. This diverse skill-set sees him contributing to each facet of the Loomio project, including coding, coordination and communications.
          .col-md-3.person-img
            =image_tag "people/rich.jpg"
        .row
          %blockquote.col-md-9.offset1
            “I gave up my engineering business in October 2011 when the global Occupy movement touched down in Civic Square in Wellington. It was the first time I had met people that shared my anger and concern about the inability of institutions to respond rationally to existential threats like ecosystem collapse, resource depletion, extreme inequality, and runaway climate-change. Occupy was my first taste of the transformative power of decentralised collaborative decision-making. The incredible surge of optimism I felt at Occupy has continued unabated throughout Loomio.” ￼￼￼￼

        .row
          %h3 Jesse Doud
        .row
          .col-md-7.offset1.blurb
            %p After a formal background in English literature, Jesse decided to do something productive and learned how to code. Fueled with a passion for community building and sustainable transport through years of volunteer wrenching at bicycle collectives, he ended a bike tour of New Zealand at Loomio.
          .col-md-3.person-img
            =image_tag "people/jesse.jpg"
        .row
          %blockquote.col-md-9.offset1
            “What really excites me is the effect Loomio can have on those who feel alienated or are genuinely disenfranchised by organizations that have power over their lives. An introduction to good group decision-making can be transformative. Loomio, as an open-source, simple, beautiful tool, is one avenue to this discovery that I’m proud to be a part of.”

        .row
          %h3 Rob Guthrie
        .row
          .col-md-7.offset1.blurb
            %p Rob is an experienced software engineer who has been programming and developing software since he was a young kid on a Commodore 64. He’s since found Enspiral and has been enjoying a mixture of contract and startup software development.
          .col-md-3.person-img
            =image_tag "people/rob.jpg"
        .row
          %blockquote.col-md-9.offset1
            “I’ve always been excited by computers and the internet, particularly the open source software movement. I consider it a shining light of what is possible with the internet. We have a big vision grounded in providing an exceptionally easy user experience. I love working with this team, it’s a real pleasure.”

        .row
          %h3 Mix Irving
        .row
          .col-md-7.offset1.blurb
            %p Mix has dabbled with code, making websites in notepad, modelling bio-mechanics with mathematics, supporting high-schoolers learning python, and crafting death-rays with laser-cutters. He’s studied people through neuroscience, revolutionary education and some art school. His interests converged recently in Loomio.
          .col-md-3.person-img
            =image_tag "people/mix.jpg"
        .row
          %blockquote.col-md-9.offset1
            “Loomio stretches my imagination and ability like little else. It’s one of the most exciting bits of social catalysis to be working on. Also, the people are lovely.”

        .row
          %h3 MJ Kaplan
        .row
          .col-md-7.offset1.blurb
            %p Based in Providence, Rhode Island, MJ re-focused her work on collaborative social innovation and social enterprise after a remarkable year of related research in New Zealand in 2013. She brings experience in strategy development, collaboration, and change management honed through a consulting practice she founded and led. MJ teaches at Brown University and is passionate about supporting young social entrepreneurs. She is also actively engaged in growing the ecosystem to enable social businesses to flourish in Providence and globally.
          .col-md-3.person-img
            =image_tag "people/mj.jpg"
        .row
          %blockquote.col-md-9.offset1
            “I never expected to join the Loomio team, but it feels like the perfect fit. My whole career has focused on facilitating ways for diverse groups of people to commit to shared ideals and actions. Loomio enables this across time and space which makes it so much easier to bring people affected by decisions into the conversation. The team is as glorious as the tool. It’s a hugely talented group that is committed to respectful and impactful ways of working together as we create this powerful venture.”

        .row
          %h3 Alanna Krause
        .row
          .col-md-7.offset1.blurb
            %p Alanna has a diverse background, having worked in the government and private sectors in the US, Asia, and Europe before settling in New Zealand. Her skills are at the intersection of technology and people, with a special passion for new- paradigm horizontal management, communications, and business systems.
          .col-md-3.person-img
            =image_tag "people/alanna.jpg"
        .row
          %blockquote.col-md-9.offset1
            “Loomio is the manifestation of my most deeply held values around community, collaboration, and humanistic interaction, both in terms of the tool itself and how we operate as a team. I have already seen the way Loomio transforms how groups work together, and in a world full of possibilities this is the project really capturing my passion. Call me an idealist, but I honestly believe it can change the world.” ￼￼￼￼

        .row
          %h3 Jon Lemmon
        .row
          .col-md-7.offset1.blurb
            %p Jon brings a powerful combination of technical experience, communication skills, and passion for community. He has over 6 years experience working on software in the web, film and music industries, and has further experience coordinating and engaging in community-based events and social activism.
          .col-md-3.person-img
            =image_tag "people/jon.jpg"
        .row
          %blockquote.col-md-9.offset1
            “I feel incredibly lucky to be working on Loomio. I am challenged every day, I am surrounded by the most inspiring people I have ever met, and most importantly, I am able to channel my passion and intelligence into building an infrastructure for empowering scalable positive social change. I love this team and this project and there is nothing I’d rather be doing.”

        .row
          %h3 Chelsea Robsinson
        .row
          .col-md-7.offset1.blurb
            %p With a background in science, Chelsea studied the key success factors of collaborative governance methods from around the world. Bringing together theory, passion and practice, she has led the design of collaboration and team development processes in community groups and government alike. Through co-founding Generation Zero, with a mission to get New Zealand carbon zero, she realised that the way decisions are being made is a huge roadblock to greener, more just economies & communities.
          .col-md-3.person-img
            =image_tag "people/chelsea.jpg"
        .row
          %blockquote.col-md-9.offset1
            “Loomio is a place where I feel like we’re making accessible the ancient, useful magic of building community. The work we do cuts to the core of confronting personal ego, and extends right out to relevant daily issues for managers, policy makers and heads of state. Everything from the open-source code, to the co-operative legal structure, to the international partnerships, means this is a real shot at prototyping a new way of governing.”

        .row
          %h3 Hannah Salmon
        .row
          .col-md-7.offset1.blurb
            %p Hannah is a Rails developer and teammate on Loomio's development team. She is also an artist with a background in creative activism. As an illustrator, DIY publisher, community-space coordinator and developer she has been involved with various projects that challenge the distinctions between art, life and activism in an attempt to spur positive social change.
          .col-md-3.person-img
            =image_tag "people/hannah.jpg"
        .row
          %blockquote.col-md-9.offset1
            “Loomio feels like the most exciting and important thing I could possibly be doing. Loomio seeks to foster collaboration, build community and challenge obstacles to communication and participation in decision-making. To me, the values that underpin Loomio are the key to transformative social change. I feel so privileged to have the opportunity to participate in this project and to be part of an amazing team, the members of which I am learning from and am inspired by every day.”

        .row
          %h3 Simon Tegg
        .row
          .col-md-7.offset1.blurb
            %p Simon brings experience in research, data analysis and visualisation. He is driven to make information more accessible to stakeholders to enable better decision-making. This line of work brings him into contact with policy development, community projects, business analytics and marketing.
          .col-md-3.person-img
            =image_tag "people/simon.jpg"
        .row
          %blockquote.col-md-9.offset1
            “Loomio (and the team behind it) combines people-knowledge and technical- knowledge in a way you don’t see very often. It's a thrill to work with people at the top of both of these games, and with them build a tool that people in faraway places have already found hugely valuable.” ￼￼￼￼￼￼
        .row
          %h3 Aaron Thornton
        .row
          .col-md-7.offset1.blurb
            %p Aaron has worked in the IT industry for more than eight years since completing a BSc in computer Science at VUW. He brings a calm and focused attitude to the team.
          .col-md-3.person-img
            =image_tag "people/aaron.jpg"
        .row
          %blockquote.col-md-9.offset1
            “I was initially attracted to the Loomio project by a need to combine my passion to work on social good projects and the opportunity to upskill in a dynamic like-minded team committed to agile processes. Aside from the coding, I have owned and operated a cafe with my partner and travelled extensively throughout the world. The experiences I encountered and the inequalities I felt encouraged and validated the need for my current undertakings with Loomio. With a very complimentary skill set and the infusion of collaborative ability attained by developing Loomio, I feel I have found the people and the project to pour my soul into.”

        .row
          %h3 Malcolm Shearer
        .row
          .col-md-7.offset1.blurb
            %p In one life Malcolm works on organisational systems and process re-engineering, in another, he’s engaged in community organising. His job now is to find ways to pull these things together, working for Loomio is one way that comes about.
          .col-md-3.person-img
            =image_tag "people/malcolm.jpg"
        .row
          %blockquote.col-md-9.offset1

            “I left the financial world when I was searching for a project that focussed more on social outcomes, and this project fit the bill. I’m helping build robust business systems so that Loomio can deliver on its potential for global social impact. I love Loomio’s ability to empower people and the way it helps communities to corale their collective thoughts and turn them into real-world action.”

        .row
          %h3.intro-subhead Member Board
          %p The Loomio Board provides strategic guidance and expertise in financial transparency and accountability.

        .row
          %h3 Matthew Bartlett
        .row
          .col-md-7.offset1.blurb
            %p Matthew's background is in web development, design, book publishing, project management and social activism. He is passionate about evidence-based decision-making and collaborative design, and brings that focus to Loomio — iteratively improving the software to make using it a beautiful experience.
          .col-md-3.person-img
            =image_tag "people/matthew.jpg"
        .row
          %blockquote.col-md-9.offset1
            “I’m totally enthused about every aspect of the Loomio project. It is such an inspiring team to work with, and the values-driven approach — ‘walking the talk’ — really appeals to me. Loomio is bringing real democracy into ordinary people’s lives; empowering groups to take control of their destinies.”

        .row
          %h3 Michael Elwood-Smith
        .row
          .col-md-7.offset1.blurb
            %p Michael brings over 20 years of international business experience to the Loomio Establishment Board, primarily within the ICT industry in New Zealand and Europe. He has recently completed a six-year stint as an advisor at CreativeHQ, Wellington’s leading business incubator where he mentored high- growth potential startup companies aspiring to enter global markets. Michael works with select New Zealand-based companies to establish offshore markets, optimise business performance and accelerate growth. ￼￼￼￼
          .col-md-3.person-img
            =image_tag "people/michael.jpg"
        .row
          %blockquote.col-md-9.offset1
            “The Loomio team is tackling a problem at the very core of the world’s greatest problems. I love working with courageous people as they bring their energy and enthusiasm to change the world, with clear purpose and ethical values. Early indications of real need and interest will likely soon turn into strong market demand and the need for Loomio to scale rapidly, without losing the essence of the value proposition. It is a journey worth taking. This is where I hope I can be of some help.”

        .row
          %h3 Ben Knight
        .row
          .col-md-7.offset1.blurb
            %p Ben has a research background in cognitive neuroscience and the evolution of collective intelligence, and a practical background in community coordination, social justice organising, media and communications.
          .col-md-3.person-img
            =image_tag "people/ben.jpg"
        .row
          %blockquote.col-md-9.offset1
            “One of the things I found most inspiring about the Occupy movement was seeing the real-world outcomes of the collective wisdom that emerges when people participate as equals. To me, Loomio is all about building tools to make it easy for as many people as possible to put their heads together, to come up with better solutions than anyone would have come up with on their own. There’s nothing I’d rather be working on, and no team I’d rather be working with.”

        .row
          %h3 Vivien Maidaborn
        .row
          .col-md-7.offset1.blurb
            %p Vivien brings a depth of experience in organisational systems, decision making processes and social change acumen. She has been CEO of CCS Disability Action and Relationships Aotearoa, and is the founder of the socialenterprise Lifemark.
          .col-md-3.person-img
            =image_tag "people/viv.jpg"
        .row
          %blockquote.col-md-9.offset1
            "Working at Loomio is such an exciting adventure on so many levels. We are making it possible for people to have a voice, to participate in generating collective wisdom, and to take tested ideas into action. We are co-creating new ways of approaching authority, accountability and choice in the workplace, but I am perhaps most inspired by the feeling we are creating tools for a more generative and generous future where everyone can be involved in making the decisions that affect them."

  .container
    %section
      .inner-container
        .row 
          =image_tag("retreat-photo.jpg")
        .row#contact-us
          %h2 Contact
          %h3 Interested? Get in touch!
          %p If you’d like to find out more about the project, <a href="#{contact_path}">drop us a line</a>.

  .container
    %section
      .inner-container
        .row#compliance
          .col-md-12
            %h2 Legal stuff
            %p
              Loomio is made with love by the fine humans of the
              %strong Loomio Co-operative Limited,
              a worker-owned and New Zealand registered co-operative company located at:
            %p
              Enspiral Space
              %br
              Level 2, 18-24 Allen Street,
              %br
              Te Aro Wellington CBD,
              %br
              6011 Aotearoa / New Zealand
            %p
              Our payment processor obliges us to tell you that delivery is instantaneous, and no refunds will be given.
