.container
  %section.first#purpose
    .inner-container
      .row-fluid
        .subhead
          %h1 Purpose
      .row-fluid
        .span1 &nbsp;
        .span2
          =image_tag("circlelogo.png")
        .span6
          %h2.buffer Creating a world where it’s easy for anyone to participate in decisions that affect them.
          %p With the right collaborative process, groups generate better ideas, decisions and actions than any individual would by themselves.
          %p Loomio breaks down the barriers to participation in decision-making at every level: in neighbourhoods, community organisations, businesses, social movements, and local and national governance.
          %p.no-bottom-margin Collaborative decision-making balances individual autonomy with the collective good.

  %section#principles
    .inner-container
      .row-fluid
        .subhead
          %h1 Principles
      .row-fluid#coop
        .span1 &nbsp;
        .span2
          =image_tag("coop.png")
        .span6
          %h2 Cooperative social enterprise
          %h3 Loomio is a social enterprise collectively owned by the people building it.
          %p Social enterprise creates social and environmental benefit in a way that generates sustainable revenue. Unlike a traditional profit-maximising company, revenue is not an end in itself, but a means towards achieving a core social purpose.
          %p A worker-owned cooperative structure is a powerful way to live our values of collaboration and collective ownership. This legal structure embodies our commitment to democracy in the workplace and connects us to a global movement based on cooperation.
      .divider
      .row-fluid
        .span1 &nbsp;
        .span2
          =image_tag("independent.png")
        .span6
          %h2 Independent and neutral
          %h3 We are committed to remaining independent so we can provide a neutral place for any group to come together.
          %p We’re immensely proud of our diverse and growing user community: community organisations, businesses, educators, government departments, social activist groups, and families.
          %p Loomio needs to remain independent to support this diversity. We will never do anything to compromise our autonomy or core purpose. We will never sell your data.
      .divider
      .row-fluid#free
        .span1 &nbsp;
        .span2
          =image_tag("free.png")
        .span6
          %h2 Open-source collaboration
          %h3 Loomio is free software, meaning that anyone has the freedom to run, read, learn from, modify and redistribute the code.
          %p Loomio couldn’t be anything other than open-source.
          %p Peer-production is transforming the way communities create value, laying the foundation for a new economy of abundance. Open collaboration unlocks collective wisdom on a scale we’ve never seen before, producing invaluable public resources like Wikipedia and Linux.
          %p Free software is about the freedom of the user, not the price of the service. Groups with a budget contribute financially for the use of Loomio. This means we can gift it to groups without a budget.
      .divider
      .row-fluid#adaptive
        .span1 &nbsp;
        .span2
          =image_tag("adaptive.png")
        .span6
          %h2.squish Adaptive, reflexive, user-driven
          %h3 Loomio uses Loomio to develop Loomio.
          %p Development of Loomio is iterative, self-reflexive and adaptive, driven by the collective wisdom of the user community. We’re developing an open participatory design methodology that will allow anyone affected by Loomio to have a say in how it works.
      .divider
      .row-fluid
        .span1 &nbsp;
        .span2
          =image_tag("transparency.png")
        .span6
          %h2 Transparency
          %h3 Our community of users and contributors must be confident that we’re doing what we say we are.
          %p.no-bottom-margin We’re committed to remaining open and accountable to our community by sharing information about our internal decision-making, social impact results and finances. Communicating this information effectively is an ongoing challenge that we look forward to undertaking with our community.

.container
  %section#help-content
    .inner-container#how-it-works
      .row-fluid
        .span1
          &nbsp;
        .span10
          = render 'help/how_it_works'
      .row-fluid
        .span1
          &nbsp;
        .span10
          %h2 Build shared understanding
          %p As the conversation progresses and new information comes to light, you can change your position as many times as you like until the proposal closes. If the group isn’t in love with the first proposal, anyone can suggest a better one and keep moving forward. Through this dynamic process, the collective wisdom of your group can generate better ideas than anyone would have come up with on their own.

.container
  %section#about-us
    .inner-container
      .row-fluid
        .subhead
          %h1 About us
      .row-fluid
        .span6
          %p Loomio emerged when activists from the Occupy movement collided with businesspeople from the social enterprise network <a href="http://enspiral.com">Enspiral</a> and realised that they were using different approaches to work towards the same aim.
          %p Loomio is being built by a core team in Wellington, New Zealand, and a wider network of friends and supporters all over the world. This video is a presentation by one of the team members that explains some of the background of the project.
        .span6
          <iframe src="https://player.vimeo.com/video/53696972?title=0&amp;byline=0&amp;portrait=0" width="426" height="239" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .divider
      .row-fluid
        .span6
          =image_tag("retreat-photo.jpg")
        .span6
          %h2 Contact
          %h3 Interested? Get in touch!
          %p If you’d like to find out more about the project, drop us a line at <a href="mailto:contact@loomio.org">contact@loomio.org</a>
          %p If you’d rather speak to someone directly, you can call Ben on +6421 0232 5433.
