.container
  .section#about-us
    .inner-container
      .row-fluid
        .subhead
          %h1 About us
      .row-fluid
        .span6
          %p Loomio emerged when activists from the Occupy movement collided with businesspeople from the social enterprise network <a href="http://enspiral.com">Enspiral</a> and realised that they were using different approaches to work towards the same aim.
          %p Loomio is being built by a core team in Wellington, New Zealand, and a wider network of friends and supporters all over the world. This video is a presentation by one of the team members that explains some of the background of the project.
        .span6
          <iframe src="https://player.vimeo.com/video/53696972?title=0&amp;byline=0&amp;portrait=0" width="426" height="239" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .divider
      .row-fluid
        .span6
          =image_tag("retreat-photo.jpg")
        .span6
          %h2 Contact
          %h3 Interested? Get in touch!
          %p If you’d like to find out more about the project, drop us a line at <a href="mailto:contact@loomio.org">contact@loomio.org</a>
          %p If you’d rather speak to someone directly, you can call Ben on +6421 0232 5433.
