= render "header_logged_out"

.container
  .section
    .inner-container
      .row-fluid
        .span2 &nbsp;
        .span8
          %h2 Blog is temporarily down
          %p Our blog is currently disabled. Sorry, we'll have it back up again soon!
          %p= link_to "Read more about Loomio", "/"
