.container
  .section
    .inner-container
      .row-fluid
        .subhead
          %h2 Browser not supported

      .row-fluid
        %p
          Oops! It seems the browser you are using is too old and unable to run on this website.
        %p
          Any new version of the browsers listed below should work fine, they are free and easy to download/install.
        %p
          Sorry for any inconvenience!

        %ul#browser-icons
          %a{href: "http://www.mozilla.org/en-US/firefox/new/"}
            %li
              Firefox
              =image_tag '/assets/firefox.png'
          %a{href: "https://www.google.com/chrome"}
            %li
              Google Chrome
              =image_tag '/assets/chrome.png'
          %a{href: "http://www.apple.com/safari/"}
            %li
              Safari
              =image_tag '/assets/safari.png'
          %a{href: "http://www.opera.com/"}
            %li
              Opera
              =image_tag '/assets/opera.png'
          %a{href: "http://windows.microsoft.com/en-US/internet-explorer/products/ie/home"}
            %li
              Internet Explorer
              =image_tag '/assets/ie.png'


