.content
  .row
    .span12
      .inner-container      
        %h2 We’d love to hear from you
        %p
          Interested? Get in touch! If you’d like to get involved or just want to find out more, drop us a line at
          %a{ :href => "mailto:contact@loom.io"} 
            contact@loom.io
        %p
          If you’d rather speak to someone directly, you can call Ben on +6421 0232 5433.
        %p
          =image_tag("retreat-photo.jpg", :width => "100%")