.container
  %section.first
    .inner-container
      .row-fluid
        .subhead
          %h1#hero The world needs a better way to make decisions together
          %h2.subheader We're building it.
        %p
          %strong [mailchimp and thunderclap]
      .divider
      .row-fluid
        %p
          %strong Loomio is free and open software for collaborative decision-making. We’re crowdfunding to build a new platform to deliver on a big vision: everyone should be able to participate in decisions that affect them.
        %p
          %strong Crowdfunding launches March 11. We can’t do this without you.
        %p Loomio fills a critical gap. Social media has made it so easy to communicate that one person can reach thousands in a matter of hours. But when it’s time to move beyond talking and take collective action, there’s no easy way.
        %p We’ve built a prototype already being used by thousands of amazing groups around the world. Loomio has been released in more than a dozen languages, and is being used in communities, schools, workplaces, and social movements.
        %p But to really change things on a large scale, Loomio needs to be so easy to use that good decision-making becomes second nature. A platform for truly inclusive decision making has to be accessible to everyone.
        %p
          %strong We’ve taken all the learning from thousands of early users and designed a whole new platform to deliver on our big vision of a more democratic world at every level: Loomio 1.0.
        .divider
        %figure
          =image_tag('loomio1.png')

        %ul#points
          %li It’s totally mobile, opening it up to developing countries where millions of people only have access to the internet through mobile devices.
          %li It’s being built with the best in open technologies so it’s fast, responsive and beautiful.
          %li Because it’s open source, you can host the data yourself, so it’s safe no matter what your security requirements are.
          %li And we’ve made it super easy and accessible, so anyone can use it.

        %p We’ve done all the research and design, now we just have to fund the development needed to release it to the world. An amazing team has come together to make this happen.
        %p We’re crowdfunding so that the project will be driven by the community of people who want it to happen, not by advertisers or corporate interests. Public infrastructure for decision-making needs to be open-source and held in the commons.

        %h3 We’re launching March 11. We can’t make Loomio 1.0 without your help.

        %a{href: '[mailchimp and thunderclap]'}

        %h3 More Information
        %p
          %strong Contact us
        %p
          Press inquiries:
          %span
            = mail_to 'press@loomio.org'
        %p
          Technical inquiries:
          %span
            = mail_to 'tech@loomio.org'
        %p
          General inquiries:
          %span
            = mail_to 'contact@loomio.org'
        %p Find out how the current prototype works, and sign your group up to use it now.
        %p Loomio is a worker-owned cooperative social enterprise based in Wellington, New Zealand. Find out about our purpose and and our story and our team.
        %p
          Keep up to date on the
          %a{href: blog_path}
            Loomio Blog
          ,
          %a{href: 'https://www.facebook.com/Loomio'}
            Facebook
          , and
          %a{href: 'https://www.twitter.com/loomio'}
            Twitter
          \. See case studies, press, and videos.
