.container
  %section.first
    .inner-container
      .row-fluid
        .subhead
          .span12
            %h1#hero
              Real democracy needs to
              %br
              include everyone.
            %h2.subheader Let's make it happen together.
            %br
            %br
      .row-fluid
        .span8.offset2
          %p We're crowdfunding a <b>free open-source platform</b> for anyone, anywhere to <b>participate in decisions</b> that affect them.
          %br
      .row-fluid
        .span4.offset2
          %button.btn.btn-block.btn-large.btn-success
            1. Join the Thunderclap
          %br
          %p Thunderclap will auto-share the campaign for you the day we launch.
        .span4
          %button.btn.btn-block.btn-large.btn-primary
            2. Join the mailing list
          %br
          %p We'll let you know when we launch the campaign.
  
  %section
    .inner-container
      .row-fluid
        .span8.offset2
          %h2
            Loomio is free open-source software
            %br
            for anyone, anywhere 
            %br 
            to participate in decisions that affect them.
            %br
            %br

      .row-fluid
        .span8.offset2
          =image_tag('sneak-peak-reduced.png')
          %br
          %br
          %h3
            Crowdfunding launches March 11th 2014.
            %br
            We can’t do it without you.
          %br
          %p Real democracy is about collaboration: groups of people getting together and making decisions that work for everyone.

          %p Loomio fills a critical gap. Social media has made it so easy to communicate that one person can reach thousands in a matter of hours. But a decision is what turns talk into action, and there's no easy way to make decisions together online.

          %p
            We've taken all the learning from thousands of groups using our beta prototype and
            %strong designed a whole new mobile platform
            for truly inclusive decision-making: Loomio 1.0
          .divider
          =image_tag('loomio1.png')
          .divider

          %h2 Help us build a truly inclusive platform
          %br
          %h3
            %i.fa-mobile
            It needs to be
            %strong mobile,
            to include people in places where computers and internet are scarce.
          %p
            So we’re building a platform that works on any device, built with best in open mobile technology: Ruby on Rails, AngularJS, HTML5
          .divider
          %h3
            It needs to be
            %strong easy,
            to include all kinds of people.
          %p
            So we’ve designed it to be as easy to use as email, so you don’t need to be a computer geek to participate.
          .divider
          %h3
            It needs to be
            %strong safe,
            to include people discussing sensitive topics.
          %p
            So we’re making it really easy to set up and run your own independent version, so your privacy is entirely under your own control.
          .divider
          %h3
            It needs to be
            %strong accessible,
            to include people of all abilities.
          %p
            So we’re making it work great with screen-readers and other assistive technologies.
          .divider
          %h3
            It needs to be
            %strong open,
            to include everyone.
          %p So we’re building 100% free and open source. We're building public infrastructure for decision-making, held in the commons. 


  %section
    .inner-container
      .row-fluid

        .span8.offset2
          %h2
            We’re launching March 11th 2014.
            %br
          %br
          %p We’ve done all the research and design, now we just have to fund the development needed to release it to the world. 
          %p We’re crowdfunding so that the project will be driven by the community of people who want it to happen, not by advertisers or corporate interests.


          %h2
            We can’t make Loomio 1.0 without you.
            %br
          %br
      .row-fluid
        .span4.offset2
          %button.btn.btn-block.btn-large.btn-success
            1. Join the Thunderclap
          %br
          %p Thunderclap will auto-share the campaign for you the day we launch.
        .span4
          %button.btn.btn-block.btn-large.btn-primary
            2. Join the mailing list
          %br
          %p We'll let you know when we launch the campaign.

  %section
    .inner-container
      .row-fluid
        .span8.offset2
          %h3 More Information
          %p 
            An amazing team of open-source developers and social justice activists in Wellington, New Zealand, has come together to make this happen. 
            = link_to "Find out more.", about_path
          %p
            %strong Contact us
          %p
            Press inquiries:
            %span
              = mail_to 'press@loomio.org'
          %p
            Technical inquiries:
            %span
              = mail_to 'tech@loomio.org'
          %p
            General inquiries:
            %span
              = mail_to 'contact@loomio.org'
          %p
            Keep up to date on the
            %a{href: blog_path}
              Loomio Blog,
            %a{href: 'https://www.facebook.com/Loomio'}
              Facebook,
            and
            %a{href: 'https://www.twitter.com/loomio'}
              Twitter.