.container
  .row
    .col-md-10.col-md-offset-1.col-xs-12
      .col-md-12.crowdfunding-celebration-container
        .crowdfunding-celebration-header
          .media
            .pull-left
              = image_tag('community.png', class: 'media-object')
            .media-body
              %h1 Loomio Crowdfunding 2014

        .intro
          %p In March 2014, we ran an ambitious crowdfunding campaign to help pay for the development of Loomio 1.0. More than 1,600 people contributed over $125,000 USD, which paid for a couple of people to work on the project full time.

          %p Now, as of November 2014, we’re excited to announce that we’ve done everything we said we would! We’ve invited the first "pre-release" testers in to try out the new Loomio and we’re looking forward to releasing it to the general public in early 2015.

        %h2 Thank you!

        = image_tag('team.png', class: 'img-responsive img-team')

        %p This project couldn’t exist without the support of thousands of people from all over the world. Below are the 1649 supporters that pitched in to make the crowdfunding campaign a success.

        .contribution-level
          %h3 $10,000 Founding Donor

          .media
            .pull-left
              %img.img-francios.media-object{src: 'http://placekitten.com/g/80/80', alt: 'Francois'}
            .media-body
              %p <b>Francois Bouregard</b> - Ben can check with Francois to see what kind of acknowledgement he’d like, e.g. maybe a photo + a one-line quote about why he is excited about Loomio. Or maybe he would prefer to not have anything?

        .contribution-level
          %h3 $1,000+ Contributors

          .row
            .col-xs-4.contributors-list
              Ajay Mehta <br>
              Slow Boat Music Ltd.<br>
              Alanna Krause<br>
              Brian Cartmell<br>
            .col-xs-4.contributors-list
              Alli and John Knight<br>
              Shamubeel Eaqub<br>
              Wikimedia Foundation<br>
          .special-artwork
            %h4 Limited Edition Artwork
            %p As part of their reward, these contributors received a signed print of a Loomio-themed artwork by our amazing-illustrator and developer Hannah Salmon.
            %a{href: 'http://placekitten.com/g/400/250', target: '_blank', alt: 'Artwork'}
              %img{src: 'http://placekitten.com/g/400/250', alt: 'Artwork'}


        .contribution-level
          %h3 $500+ Contributors
          .row
            .col-xs-4.contributors-list
              Ajay Mehta <br>
              Slow Boat Music Ltd.<br>
              Alanna Krause<br>
              Brian Cartmell<br>
            .col-xs-4.contributors-list
              Alli and John Knight<br>
              Shamubeel Eaqub<br>
              Wikimedia Foundation<br>

        .contribution-level
          %h3 $100+ Contributors
          .row
            .col-xs-4.contributors-list
              Ajay Mehta <br>
              Slow Boat Music Ltd.<br>
              Alanna Krause<br>
              Brian Cartmell<br>
            .col-xs-4.contributors-list
              Alli and John Knight<br>
              Shamubeel Eaqub<br>
              Wikimedia Foundation<br>
              Alli and John Knight<br>
            .col-xs-4.contributors-list
              Ajay Mehta <br>
              Slow Boat Music Ltd.<br>
              Alanna Krause<br>
              Brian Cartmell<br>

        .contribution-level
          %h3 $50+ Contributors
          .row
            .col-xs-4.contributors-list
              Ajay Mehta <br>
              Slow Boat Music Ltd.<br>
              Alanna Krause<br>
              Alli and John Knight<br>
              Alli and John Knight<br>
              Brian Cartmell<br>
            .col-xs-4.contributors-list
              Alli and John Knight<br>
              Shamubeel Eaqub<br>
              Alli and John Knight<br>
              Alli and John Knight<br>
              Alli and John Knight<br>
              Wikimedia Foundation<br>
            .col-xs-4.contributors-list
              Ajay Mehta <br>
              Slow Boat Music Ltd.<br>
              Alanna Krause<br>
              Brian Cartmell<br>

        .contribution-level
          %h3 $10+ Contributors
          .row
            .col-xs-4.contributors-list
              Ajay Mehta <br>
              Slow Boat Music Ltd.<br>
              Alli and John Knight<br>
              Alanna Krause<br>
              Alli and John Knight<br>
              Brian Cartmell<br>
            .col-xs-4.contributors-list
              Alli and John Knight<br>
              Alli and John Knight<br>
              Shamubeel Eaqub<br>
              Wikimedia Foundation<br>
              Alli and John Knight<br>
            .col-xs-4.contributors-list
              Ajay Mehta <br>
              Slow Boat Music Ltd.<br>
              Alanna Krause<br>
              Brian Cartmell<br>
