= render '/pages/pages_header'

.content
  .row
    .span6
      .inner-container
        %h2 Want to use Loomio?
        %p
          Loomio is in closed beta. This means we’re still in development, and have limited resources for user support. 
        %p
          We’re currently bringing on ‘learning partner’ groups one at a time. These are groups who are keen to try out a new tool and give us feedback about how they think it should be developed.
        %p
          If your group would like early access, 
          %a{ :href => "/request_new_group", :onclick =>"javascript:_gaq.push(['_trackEvent','outbound-article','http://loom.io/request_new_group']);", :title => "Contact"}
            click here to get in the door
          ! If you’d rather wait until Loomio is ready for public release,
          <a href="http://eepurl.com/lE3Uz" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://eepurl.com/lE3Uz']);">click here to get on the waiting list</a>.

    .span6
      .inner-container
        %h2 Want to help the project?
        %p
          Loomio has been entirely developed by volunteers. We believe in the project’s potential to have great positive social impact; it’s going to need resources to get there.
        %h3 Volunteers
        %p
          If you’re keen to get involved with the project, 
          %a{ :href => page_path('contact'), :title => "Contact"}
            get in touch
          and tell us about your skills and interests! 
        %h3 Developers
        %p
          Loomio is an open source project developed in Ruby on Rails. If you know Rails or have experience with front-end web development, 
          <a href="https://github.com/enspiral/loomio/wiki" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://github.com/enspiral/loomio/wiki']);" title="Loomio on Github">click here to start contributing!</a>
