.container#top
  .section#first
    .inner-container
      .row-fluid
        .span3 &nbsp;
        .span6
          =link_to image_tag("logo-426px-mauve-matte.png"), "/"
          %h2 collaborative decision-making

.container
  .section
    .inner-container
      .row-fluid
        .span6
          %h2.buffer Loomio is a collaborative decision-making tool.
          %p Loomio aims to make participation in decision-making easy for any group. 
          %p
            %a{href: purpose_path} Purpose
            \-
            %a{href: how_it_works_path} How it Works
            \-
            %a{href: about_us_path} About Us
          %p 
            We're in 'private beta', which means we're manually approving sign-ups. If you want to get involved early, you can
            %a{href: request_new_group_path} sign up to be a beta tester
        .span6
          %h4.buffer &nbsp;
          <iframe class="no-bottom-margin" src="https://player.vimeo.com/video/51331688?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ff9933" width="426" height="264" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
