.content
  .row
    .span12
      .inner-container
        %h2 An online tool for collaborative decision-making.
        %p
          "Groups of all sizes make better decisions when all voices are heard, so we’re building a system that makes it easy and efficient for anyone to participate in decisions that affect them."
        %br
  .row
    .span6
      .inner-container
        %h3 Exciting News!
        %p
          After nine months of hard work developing Loomio, we’re excited to move into a new phase where we can start bringing new groups on board.
        %p
          We’ve learned a lot from our first 1000 users and we’re really proud of what we’ve built so far – a user-friendly tool that makes it easy and efficient for groups to make good decisions together online.
        %p
          If you’re part of a group that wants to get in the door and start making good decisions together online,
          %a{ :href => "http://loom.io/request_new_group" } click here!
    .span6
      %p#loomio-project-iframe
        <iframe src="http://player.vimeo.com/video/51331688?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ff9933" width="460" height="288" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>