.container
  %section.first
    .inner-container
      .row
        .col-md-6.homevideo
          <iframe class="no-bottom-margin" src="https://player.vimeo.com/video/81429221?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="383" height="287" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        .col-md-6
          %h2.frontpage-text Loomio is a user-friendly tool for group decision-making.

          %p Creating a world where it’s easy for anyone to participate in decisions that affect them.

          %p
            %strong Want to try it out?

          #button-container
            = link_to "Start a group!", start_group_path, class: 'btn btn-success btn-lg', id: 'start-group-btn'

        .row.homesection
          %hr
          %h2 Groups using Loomio
        .row.featured-row
          .col-md-2.featured-image
            =link_to image_tag("diaspora.jpg"), @diaspora_group
          .col-md-9.flush
            %h3
              =link_to "Diaspora Community", @diaspora_group
            %p
              The Diaspora Project works with the goal of establishing a decentralized social platform. It is Free and Open Source software, and community-driven.
        .row.featured-row
          .col-md-2.featured-image
            =link_to image_tag("blag.jpg"), @blag_group
          .col-md-9.flush
            %h3
              =link_to "Big Live Arts Group", @blag_group
            %p
              Developing a supportive and critically engaged community within the performing arts industry, anchored by principles of diversity, inclusion, openness and transparency.
        .row.featured-row
          .col-md-2.featured-image
            =link_to image_tag("loomio-community.jpg"), @loomio_community_group
          .col-md-9.flush
            %h3
              =link_to "Loomio Community", @loomio_community_group
            %p
              A public group for the international community of Loomio users and supporters to get together, discuss and collaborate.
        %p.discovergroups
          =link_to "Discover more public groups using Loomio!", public_groups_path

        .row.homesection
          %hr
          %h2 How Loomio works
          =image_tag("how-loomio-works.png")
