.content
  .row
    .span6
      .inner-container
        %h2 Loomio is easy
        %p
          A group starts an online discussion about any topic. Clear proposals emerge from the discussion. These proposals are then considered by the whole group, and each member is guided towards making a clear decision. It’s easy to see how the group feels, and concerns can be discussed and addressed before the best course of action is planned.
        %p
          Group members can be anywhere, and can participate at any time. Every parameter of the discussion/decision-making process can be adapted to fit the particular group and decision faced.
    .span6
      %br
      %p
        <iframe width="450" height="338" src="http://www.youtube.com/embed/bIEyNNcXbZA" frameborder="0" allowfullscreen></iframe>