.container
  .section#how-it-works
    .inner-container
      .row-fluid
        .subhead
          %h1 How it works
      .row-fluid
        .span6
          %h2 Loomio is easy
          %p Check out the video for a quick demonstration of how it works.
        .span6
          <iframe src="https://player.vimeo.com/video/52025402?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="426" height="319" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .divider
      .row-fluid
        .span6
          %h2 Getting started
          %p On the left, the group discusses a topic, exchanging ideas and information. When there’s a decision for the group to make, it comes up on the right.
        .span6
          %a{"data-toggle" => "modal", href: "#hiw1"}
            =image_tag("how-it-works-overview-ss.jpg")
          .modal.hide#hiw1
            .modal-body
              %a{"data-dismiss" => "modal"}
                =image_tag("how-it-works-overview-big.jpg")
      .divider
      .row-fluid
        .span6
          %h2 Have a discussion
          %p The topic and any relevant background information sit at the top of the page. Use the comment box to add your voice to the discussion.
        .span6
          %a{"data-toggle" => "modal", href: "#hiw2"}
            =image_tag("how-it-works-discussion-ss.jpg")
          .modal.hide#hiw2
            .modal-body
              %a{"data-dismiss" => "modal"}
                =image_tag("how-it-works-discussion-big.jpg")
      .divider
      .row-fluid
        .span6
          %h2 Make a decision
          %p When the conversation has gone on for a while, anyone can make a proposal. When you’re ready to have your say, click one of the four decision buttons:
          .positions
            =image_tag("hand-yes.png", class: "pull-left")
            %p Agree means you’re happy with the proposal.
            .clearfix
            =image_tag("hand-abstain.png", class: "pull-left")
            %p Abstain means you’re unsure, or you’re happy for the group to decide without you.
            =image_tag("hand-no.png", class: "pull-left")
            %p Disagree means you think there might be a better alternative, but you’re willing to go with the group’s decision.
            =image_tag("hand-block.png", class: "pull-left")
            %p Block means you’ve got serious objections and you’ll be extremely unhappy if this proposal goes ahead.
        .span6
          %a{"data-toggle" => "modal", href: "#hiw3"}
            =image_tag("how-it-works-decision-ss.jpg")
          .modal.hide#hiw3
            .modal-body
              %a{"data-dismiss" => "modal"}
                =image_tag("how-it-works-decision-big.jpg")
      .divider
      .row-fluid
        .span6
          %h2 See how everyone feels
          %p  When you’ve made your decision, you’ll be prompted to give a brief summary statement explaining why you feel that way. Underneath the pie, you can see how other people in the group have decided. These short statements make it really easy to catch up with where the discussion is up to.
        .span6
          %a{"data-toggle" => "modal", href: "#hiw4"}
            =image_tag("how-it-works-position-ss.png")
          .modal.hide#hiw4
            .modal-body
              %a{"data-dismiss" => "modal"}
                =image_tag("how-it-works-position-big.jpg")
      .divider
      .row-fluid
        .span6
          %h2 Build shared understanding
          %p  As the conversation progresses and new information comes to light, you can change your position as many times as you like until the proposal closes. If the group isn’t in love with the first proposal, anyone can suggest a better one and keep moving forward.
          %p Through this dynamic process, the collective wisdom of your group can generate better ideas than anyone would have come up with on their own.
        .span6
          =image_tag("mascot-wide.gif", class: "no-bottom-margin")
