<!DOCTYPE html>
<html>
  <head>
    <base href="http://loom.io" />
    <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
    <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/flick/jquery-ui.css' rel='stylesheet' type='text/css'>
    <title>Loom.io</title>
    <link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/assets/application.js" type="text/javascript"></script>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="Lgkb6hWKamdlpif7Iwa8zeUQr7r0HF/h2NhsngssuqA=" name="csrf-token" />
  </head>
  <body style="padding-top: 0">

    <div class='container'>
      <div class='content'>
        <div class='row'>
        <img src='assets/roughlogo.jpg' width='100%' alt='logo'>
        <hr />
          <div class='span-two-thirds'>
            <p><strong>What-io?</strong></p>
            <p>Loomio is a free open-source web application that helps groups make better decisions together.</p>
            <hr />
            <p><strong>Why?</strong></p>
            <p>Right now, the world is suffering because groups of humans are making bad decisions.
            Decision making processes are failing globally and locally.
            The right tool will help groups, big and small, achieve better outcomes.</p>

            <p>Most groups use one of two basic models to make decisions: top-down or bottom-up.
            Top-down decision making gets things done quickly. There's a chain of command, so once a decision is made it can be implemented right away.
            But this can lead to people feeling alienated from the decision-making process, and leave good ideas ignored.</p>

            <p>In bottom-up decision making, everyone has a say. People feel invested in the process, good ideas dont get ignored,
            marginalised voices are heard, and everyone affected by a decision has input. But bottom-up decision making can be difficult to facilitate.
            If a group decides everything through face to face discussions, only one person can speak at a time,
            and people who attend the most meetings or have the loudest voice might end up having more sway.
            It can be frustratingly time-consuming and inefficient.</p>
            <hr />

            <p><strong>The best of both worlds.</strong></p>
            <p>By using technology we can enable groups to make decisions in fundamentally new ways.
            We can avoid the false tradeoff between speed and participation and say yes to both.</p>

            <p>In the age of the internet, we don't all have to be in the same place at the same time to work together.
            Loomio turns a messy online discussion into a clear, visual picture of how the group feels
            Everyone can talk at once and all voices are heard, while the group stays focused and concise.
            Loomio will adapt to any group that needs to make decisions together. From households, to neighbourhoods, from businesses to community groups, and even government.
            Loomio helps groups move together.</p>




          </div>

          <div class='span-one-third'>
            <p><strong>Get involved</strong></p>
            <p>We want to nurture a vibrant community of passionate people to help us, using the tool itself to make decisions about how it is developed.</p>
            <p>We'll be putting out a call for support very shortly.</p>
            <p>If you want to be kept in the loop, you <a href="mailto:contact@loom.io">drop us a line</a> or</p>
            <p><a class="alert-message info" href="http://blog.loom.io">read the blog</a></p>
            <hr />
            <p><small>pre-alpha users, you can <a href='/users/sign_in'>sign in here</a></small></p>

          </div>

          <p style="clear:both">&nbsp;</p>
          <hr />
        </div>


      </div>

    </div>
  </body>
</html>

