.container
  %section.first
    .inner-container
      .row
        .col-md-6.col-md-offset-3
          %h1 Pricing

          %p
            We're developing a pricing model that's in line with our social mission:
            %strong making it easy for anyone, anywhere to participate in decisions that affect them.

          %p We're excited about this challenge, and we might get in touch to talk with you about what would work for your group.

          %p Never fear, anyone can sign up for free and no-one will be kicked out if they can't pay.

          %p
            &hearts;