.container
  %section.first#purpose
    .inner-container
      .row-fluid
        .span12#intro
          .subhead
            %h1 Pricing
          %p Money shouldn’t be a barrier to good collaborative decision-making. Your contribution means we can keep Loomio independent, free of advertising, and driven by our community.

      .row-fluid
        .span4.offset2
          .payment-model-box#organisation
            %h2 Group subscription
            %p#description Groups with a budget pay a subscription for using the tool.
            = render("groups/subscriptions/pricing_table")
        .span4
          .payment-model-box#informal-group
            %h2 Individual contribution
            %p#description Groups without the means to pay a subscription use the Pay What You Can model: their members are invited to make a voluntary contribution.
        .span12
          #button-container
            = link_to "Start a group", selection_group_requests_path, class: "btn btn-success btn-large"
