.container
  .section.first
    .inner-container
      .row-fluid
        .span1
          &nbsp;
        .span10
          %h1.buffer Pricing
          %p Loomio is a cooperative social enterprise, working to make everyday democracy accessible to as many people as possible. To achieve this vision we’re developing an ethical payment model to resource the software development. 

          %p Groups fit into one of two categories, depending on their means:

      .divider
      .row-fluid
        .span1
          &nbsp;
        .span5
          %h2 Subscription
          %p Formal groups, like businesses, local government organisations, incorporated societies, and other formally constituted organisations, pay a small monthly subscription based on the number of users and length of subscription.
        .span1
          &nbsp;
        .span5
          %h2 Pay What You Can
          %p Groups without a budget, like social movements, informal networks, and family groups are welcome to use Loomio without paying a set subscription. The members of these groups are invited to make a contribution within their means.
      .divider
      .row-fluid
        .span1
          &nbsp;
        .span10
          %h1.buffer Additional services
          %p Members of the Loomio consulting team have deep experience in facilitation, co-creative work practices, community development and collaborative decision-making. 
      .row-fluid
        .span1
          &nbsp;
        .span10
          %h3 Setup support
          %p As you’re getting your new group set up, we can work closely with you to find the best structure for your group and develop an effective strategy for engaging your members.
          %h3 Facilitation services 
          %p We also offer a wide array of additional services to ensure your success in developing new collaborative processes in your group, including training, communications design, online and in-person facilitation, and strategy development.
      .row-fluid
        .span1
          &nbsp;
        .span10
          %p These services can be provided for an hourly fee or fixed price depending on your needs. If you'd like to discuss what we can do to help your group, get in touch with Alanna: alanna@loomio.org.

