.container
  %section.first#purpose
    .inner-container
      .row-fluid
        .span12#intro
          .subhead
            %h1 Funding Loomio
      .content-container
        .row-fluid
          .span2.icons
            = image_tag "loomio-users.png"
            /image_tag("markdown_on.png", class: 'markdown-icon markdown-on')
          .span10
            %h2 Loomio users choose how much to pay
            %p Loomio has a flexible funding model, because we believe that money shouldn't be a barrier to people participating in decision-making.
            %p Groups choose a monthly fee that is right for them, based on their means.

        .row-fluid
          .span2.icons
            = image_tag "colablove.png", id: 'colablove'
          .span10
            %h2 Sliding-scale payment plans
            %p Small businesses, government departments, and large NGO's typically pay about $2 per head monthly.
            %p Groups without a budget adjust their monthly fee to fit their needs, down to $0 a month if need be! Members of these groups will occasionally be invited to make an individual contribution.

        .row-fluid
          .span12
            #button-container
              = link_to "Start a group", new_group_request_path, class: "btn btn-success btn-large"

