.container
  .row.content
    .col-md-6.col-md-offset-3
      %h1 Pricing

      %p
        We're developing a pricing model that's in line with our social mission:
        %strong making it easy for anyone, anywhere to participate in decisions that affect them.

      %h3 Loomio for organisations

      %p
        If you're using Loomio in a company, formal organisation or workplace, you'll be charged a monthly subscription of US$2 per person after a
        %strong 30-day free trial.
      %p
        More than 100 members? We have plans for larger organisations.
        %a#pricing-page-contact-link{href: contact_path} Contact us.


      %h3 Loomio for communities
      %p Money will never be a barrier for people using Loomio to do great stuff in their communities. If your group doesn't have the budget to pay for software, you don't need to pay a subscription. However, we may occasionally ask your group members for a donation.
      %p
      %p
        %a.btn.btn-success.btn-lg#pricing-page-start-link{href: new_group_request_path} Get started
