.container
  %section.first
    .inner-container
      .row
        .col-md-6.col-md-offset-2
          %h1 Pricing

          %p
            We're developing a pricing model that's in line with our social mission:
            %strong making it easy for anyone, anywhere to participate in decisions that affect them.

          %p We're excited about this challenge, and we might get in touch to talk with you about what would work for your group.

          %p Never fear, anyone can sign up for free and no-one will be kicked out if they can't pay.

          %p We're committed to the principle that money will never be a barrier to people using Loomio to do great stuff in the world.

          %p
            &hearts; If you want to talk to us about paying for Loomio,
            %a{href: contact_path} get in touch.
        .col-md-3
          = image_tag "mascot-medium-lefthand.gif"