.container
  .section
    .inner-container
      .row-fluid
        .span2 &nbsp;
        .span8
          %h2 Privacy Policy

          %p We don't want you to get a surprise that you've shared something you intended to keep private. You have full control over the visibility of your data.

          %p You have the ability to make your groups private, in which case only group members can view the content of your discussions and decisions. Private groups are not visible in search.

          %p Regardless of your group privacy settings, your email address is only visible to members of your group, not to the public.

          %p Access to your data is tightly controlled internally, and we will never view the content of your private discussions without your explicit consent. We do collect non-directly-identifiable usage information to help us improve the software, in accordance with our social mission. All usage information is stored in a secure data warehouse facility.

          %p You own your data. If you ever want to stop using Loomio, you will be able to download your data - ask our team and we will extract the data for you.

          %p Your data is not shared to any third parties without your explicit consent by either communication or by API authentication.

          %p We reserve the right to change this policy from time to time. Any amended policy is effective upon posting to this website, and we’ll make every effort to tell you about these changes via email.