.container
  %section.first#purpose
    .inner-container
      .row-fluid
        .span12#intro
          .subhead
            %h1 Services
      .content-container
        .row-fluid
          .span2.icons
            = image_tag "loomio-users.png"
            /image_tag("markdown_on.png", class: 'markdown-icon markdown-on')
          .span9#content
            %h2 You choose how much you pay
            %p Groups with a budget typically choose a monthly rate of <strong>$2 &ndash; $5 per person</strong>.<span>(e.g. businesses, government departments, community organisations)</span>
            %p If your group is flat broke, you can even choose $0!
        .divider
        .row-fluid
          .span2.icons
            = image_tag "colablove.png", id: 'colablove'
          .span5
            %h3  What you&rsquo;re getting
            %p Make better decisions together, with more participation, less time in meetings and fewer emails.
          .span5
            %h3 What you&rsquo;re giving
            %p Your contribution means we can give Loomio away to groups doing great work in their communities.
        .row-fluid
          .span12
            #button-container
              = link_to "Start a group", new_group_request_path, class: "btn btn-success btn-large"
