.container
  .row-fluid
    .span12
      %section.first
        .inner-container
          %h1 Loomio crowdfunding deal
          .subtitle Sign up with us during our crowdfunding campaign for a special deal to kickstart your collaboration.

          .description
            %p If your organisation wants to make it easy for more people to be involved in important discussions and decisions, campaigns and projects but your current approach results in overwhelming email, long meetings, or expensive travel, we can help.

            %p We offer a version of Loomio customised to look like your group. We also provide expertise to get your online collaboration up and running.

            %p Realise the power of people in your organisation making better decisions together.

          .package
            .package-titlearea
              %h2 Kickstart collaboration
              .package-price $5000
              %p Customised Loomio platform tailored to your organisation plus help from our online collaboration experts makes it easy to engage, collaborate and make powerful decisions together.
            .package-content
              .row-fluid
                .span6
                  %h3 Customised online space
                  %ul
                    %li Your own branding
                    %li Custom domain name
                    %li Unlimited storage
                    %li Up to 250 people
                .span6
                  %h3 Collaboration consultant
                  %ul
                    %li Personal coach at setup
                    %li Initial training for your internal champions
                    %li Online facilitation as you get started
              .package-btn
                = link_to "https://love.loomio.org" do
                  .package-btn-main
                    Claim your deal!
                  .package-btn-sub
                    (Select the $5000 reward on the crowdfunding page)
              = link_to "or talk to us", "/contact/services", class: 'package-link'
