%div{style: "text-align: center;"}
  %h1{style: "color: #333; font-size: 2.2em; padding-top:10px; padding-bottom:10px;"} Sorry! Loomio is temporarily down...
  %p{style: "font-size: 1.15em;"}
    We're just in the process of switching Loomio over to better/faster/stronger servers.
    %br
    Please accept our apologies for the inconvenience. We'll be back up and running shortly!