%div{style: "text-align: center;"}
  .row
    .offset2.span8
      %h1{style: "color: #333; font-size: 2.2em; padding-top:10px; padding-bottom:10px;"} Loomio has been temporarily relocated to
      %h1{style: "margin-top: -10px; font-size: 2.2em; padding-top:10px; padding-bottom:10px;"}
        %a{style: "color: #0099FF;", href: "http://loomio-production.herokuapp.com/"} http://loomio-production.herokuapp.com/
      %p{style: "font-size: 1.15em;"}
        Please visit the above link if you wish to use Loomio.
      %p{style: "font-size: 1.15em;"}
        Really sorry for the inconvenience! We're in the process of moving servers. Everything should be back to normal within the next 24 to 48 hours. Once the move is complete, the site will be located at www.loomio.org.
        Rest assurred that we're doing this now so that we don't have to do it again in the future. =)