.content
  .row
    .span10.offset1
      .inner-container
        =image_tag("Loomio-values-sketch.jpg")
  %hr
  .row.values-panel
    .span10.offset1
      .inner-container
        %h2 Creating a world where it’s easy for everyone to have a say in decisions that affect them. 
        %h3 This is the primary reason Loomio exists, and everything we do is weighed against this principle.

        %p
          At the core of Loomio is the commitment to create a more equitable and sustainable world through collaborative decision-making. When all voices are heard and diverse perspectives are focused into a collaborative process, the group’s collective wisdom can generate better ideas, decisions, and actions than any individual could on their own.

        %p
          Loomio is about breaking down barriers to more participation in decision-making at every level: in neighbourhoods, community organisations, businesses, social movements, and local and national governments.

        %p
          Loomio aims to balance the freedom and autonomy of individuals with the collective good and shared interests of all.
  %hr
  .row.values-panel
    .span2.offset1
      =image_tag("coop.jpg")
    .span7
      .inner-container
        %h2 Cooperative social enterprise
        %h3 Loomio is a social enterprise organised in a cooperative structure: the perfect way to live our word on collaboration and collective ownership. Loomio is collectively owned by the people working on Loomio.

        %p
          Unlike a traditional profit-maximizing company, social enterprise is about creating social and environmental benefit in a way that generates sustainable revenue. Revenue is never an end in itself, but a means toward achieving maximum positive impact by providing the resources for a sustainable and scalable social good project.

        %p
          The cooperative strikes a balance between generating a sustainable livelihood for people working on the project, and re-investment in the project and other socially and environmentally beneficial projects.
  %hr
  .row.values-panel
    .span2.offset1
      =image_tag("transparency.jpg")
    .span7
      .inner-container
        %h2 Transparency
        %h3 Every stakeholder – from our users to the public, to our partners – must believe beyond a shadow of a doubt that we’re doing what we say we are.

        %p Transparency means sharing information about our processes, financials, our feature development, and social impact results. It is an ongoing process of opening up, to share what we are learning and be accountable to public scrutiny.

        %p Transparency also includes taking on the challenge of how we communicate information in ways that work for our service users and wider stakeholders. We will be keen to get your feedback as we begin this journey
  %hr
  .row.values-panel
    .span2.offset1
      =image_tag("independent.jpg")
    .span7
      .inner-container
        %h2 Independent and neutral
        %h3 We are committed to remaining independent, providing a neutral space for respectful discussion and decision-making for any group.

        %p Loomio is immensely proud of our diverse and growing user community. We’re currently providing services to community activists, businesses large and small, creatives, researchers, educators, political organisations, neighbourhood groups, municipalities, government departments, charitable organisations and families.

        %p Supporting this level of diversity requires an ongoing commitment to remaining an independent and autonomous entity. Therefore we are funding Loomio’s development without selling control over the project.

        %p We are in it for the long haul and are not looking to be acquired.
  %hr
  .row.values-panel
    .span2.offset1
      =image_tag("free.jpg")
    .span7
      .inner-container
        %h2 Free and open technology
        %h3 Loomio harnesses the power of information technology to reduce the cost of participation in decision-making, translating information exchange into real-world action.

        %p Loomio is primarily a social technology with a digital interface. Loomio supports real-world social interaction.

        %p Loomio is free software, meaning that anyone can run, read, learn from, modify and redistribute the code. Free is about the code not the price, though we do gift the service to groups without a budget like community networks and open source projects.

        %p We are committed to open code but private data: we will never sell your information.
  %hr
  .row.values-panel
    .span2.offset1
      =image_tag("adaptive.jpg")
    .span7
      .inner-container
        %h2 Adaptive, reflexive, user-driven
        %h3 Loomio uses Loomio to develop Loomio.

        %p This means the development is iterative, self-reflexive and adaptive, driven by the collective wisdom of the user community. We are developing a participatory design methodology that will eventually allow anyone that is affected by the tool to have a say in how it works.