.container
  %section.first
    .inner-container
      .row-fluid
        .subhead
          %h1 Crypto Contributions
      .row-fluid
        %p
          Interested in contributing with cryptocurrency?
          %br
          Simply use one of the addresses below to send a donation to our wallet!
      .row-fluid.wallet.bitcoin
        = image_tag 'wallets/bitcoin.png'
        .account-key
          .target 
            %span.title Address:
            %span.address 1NZUad77HN5KwHCmQGZGN1VpCyrqXYSpYK
      .row-fluid.wallet.dogecoin
        = image_tag 'wallets/doge.png'
        .account-key
          .target 
            %span.title Address: 
            %span.address DHJoYGW291W1SPYHegEbnjCr4qChibsebL