.container
  %section.first
    .inner-container
      .row
        .span6.offset3
          %h2 #{@invitation.inviter_name} invited you to join #{@invitation.group_name}
          %p You'll need to sign up or sign in to continue.
      = render 'form'
