.container
  %section.first
    .inner-container
      .row
        .span6.offset3
          %h2= t(:"join_group.header", who: @invitation.inviter_name, group_name: @invitation.group_name)
      = render 'form'
