%h2=t :"invitation.no_invitations_left"
%br
%p= t :'groups.max_size_reached_html', size: @group.org_max_size, link: contact_url
%br
= link_to t(:back), group_path(@group), class: 'btn btn-info btn-lg'
