#invitation-container
  %h3= "#{@inviter.name} has invited you to participate in group discussion and decision-making for #{@group.name}."
  .p
    %a{:href => new_user_path, :id => 'create-account'}
      Click here
    to create an account and start participating.
  .p#sign-in
    If you already have an account, you can
    <a href="#{new_user_session_path}">sign in here</a>.

