.container
  .section.first
    .inner-container
      .row
        .span6.offset3
          %h1 Welcome to Loomio
          %p Your request to start a new group on Loomio has been approved! You'll need to set up a new account before you can create your group.
      = render 'form'
