.lmo-one-column-layout
  %loading{ng-if: "!managePollPage.poll"}
  %main.manage-poll-page.lmo-row{ng-if: "managePollPage.poll"}
    %group_theme{ng-if: "managePollPage.poll.group()", group: "managePollPage.poll.group()", discussion: "managePollPage.poll.discussion()", compact: "true"}
    .manage-poll-page__main-content.lmo-flex
      %poll_common_manage_card{poll: "managePollPage.poll"}
