%md-dialog.lmo-modal__narrow.confirm-modal
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "{{confirm.text.title}}"}
      %dismiss_modal_button{ng-if: "!confirm.forceSubmit"}
  %md-dialog-content
    %p{translate: "{{confirm.text.helptext}}", ng-if: "confirm.text.helptext"}
    %p{ng-include: "fragment", ng-if: "fragment"}
  %md-dialog-actions.lmo-md-actions
    %div{ng-if: "confirm.forceSubmit"}
    %md-button{ng-if: "!confirm.forceSubmit", ng-click: "$close()", type: "button", translate: "common.action.cancel"}
    %md-button.md-primary.md-raised.confirm-modal__submit{ng-click: "submit() || $close()", translate: "{{confirm.text.submit || 'common.action.ok'}}"}
