.group-form
  %form{ng-submit: "submit()",  ng-disabled: "group.processing", name: "groupForm" }
    .lmo-disabled-form{ng-show: "isDisabled"}
    .modal-header
      %modal_header_cancel_button
      %h1.lmo-h1{translate: "{{i18n.heading}}"}

    .modal-body
      .group-form__basic
        %md-input-container.lmo-input-container.group-form__name
          %label{for: "group-name", translate: "{{i18n.group_name}}"}
          %input.lmo-primary-form-input#group-name{placeholder: "{{ 'group_form.group_name_placeholder' | translate }}", ng-required: true, ng-model: "group.name", maxlength: "255"}
          %validation_errors{subject: "group", field: "name"}

        %md-input-container.lmo-input-container.group-form__description
          %label{for: "group-description", translate: "group_form.description"}
          %textarea.lmo-textarea.lmo-primary-form-input#group-description{placeholder: "{{ 'group_form.description_placeholder' | translate }}", msd-elastic: "true", ng-model: "group.description"}

        .group-form__privacy-statement
          {{privacyStatement()}}

        .group-form__privacy
          %label{translate: "group_form.privacy"}

        %md-input-container
          %md-radio-group{ng-model: "group.groupPrivacy", ng-change: "groupPrivacyChanged()"}
            %md-radio-button{value: "open", ng-if: "!group.isSubgroupOfSecretParent()"}
              %span
                %strong{translate: "common.privacy.open"}
                %span.lmo-separator
                {{ privacyStringFor("open") }}
            %md-radio-button{value: "closed"}
              %span
                %strong{translate: "common.privacy.closed"}
                %span.lmo-separator
                {{ privacyStringFor("closed") }}
            %md-radio-button{value: "secret"}
              %span
                %strong{translate: "common.privacy.secret"}
                %span.lmo-separator
                {{ privacyStringFor("secret") }}

      %button.lmo-link.group-form__advanced-link{type: "button", ng-show: "!expanded", ng-click: "expandForm()", translate: "group_form.advanced_settings"}

      .group-form__advanced{ng-show: "expanded"}

        .group-form__membership-granted{ng-if: "group.privacyIsOpen()"}
          %label{translate: "group_form.how_do_people_join"}

          %md-input-container.group-form__joining
            %md-radio-group{ng-model: "group.membershipGrantedUpon"}
              %md-radio-button{value: "request"}
                %span{translate: "group_form.membership_granted_upon_request"}
              %md-radio-button{value: "approval"}
                %span{translate: "group_form.membership_granted_upon_approval"}

        .group-form__permissions.lmo-form-group
          %label{translate: "group_form.permissions"}

          %md-checkbox.group-form__allow-public-threads{ng-model: "buh.allowPublicThreads", ng-change: "allowPublicThreadsClicked()", ng-if: "group.privacyIsClosed() && !group.isSubgroupOfSecretParent()"}
            %span{translate: "group_form.allow_public_threads"}

          %md-checkbox.group-form__parent-members-can-see-discussions{ng-if: "group.isSubgroup() && group.privacyIsClosed()", ng-model: "group.parentMembersCanSeeDiscussions"}
            %span{translate: "group_form.parent_members_can_see_discussions", translate-value-parent: "{{group.parent().name}}"}

          %md-checkbox.group-form__members-can-add-members{ng-model: "group.membersCanAddMembers"}
            %span{translate: "group_form.members_can_add_members"}

          %md-checkbox.group-form__members-can-create-subgroups{ng-if: "group.isParent()", ng-model: "group.membersCanCreateSubgroups"}
            %span{translate: "group_form.members_can_create_subgroups"}

          %md-checkbox.group-form__members-can-start-discussions{ng-model: "group.membersCanStartDiscussions"}
            %span{translate: "group_form.members_can_start_discussions"}

          %md-checkbox.group-form__members-can-edit-discussions{ng-model: "group.membersCanEditDiscussions"}
            %span{translate: "group_form.members_can_edit_discussions"}

          %md-checkbox.group-form__members-can-edit-comments{ng-model: "group.membersCanEditComments"}
            %span{translate: "group_form.members_can_edit_comments"}

          %md-checkbox.group-form__members-can-raise-motions{ng-model: "group.membersCanRaiseMotions"}
            %span{translate: "group_form.members_can_raise_motions"}

          %md-checkbox.group-form__members-can-vote{ng-model: "group.membersCanVote"}
            %span{translate: "group_form.members_can_vote"}

    .modal-footer
      %md-button.md-raised.pull-left{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
      %md-button.md-raised.md-primary.group-form__submit-button{type: "submit", translate: "{{i18n.submit}}"}
