.lmo-md-actions
  %outlet{name: "before-outcome-submit", model: "outcome"}
  %md-button.md-raised.md-primary.poll-common-outcome-form__submit{ng-click: "submit()", translate: "poll_common_outcome_form.submit", aria-label: "{{poll_common_outcome_form.submit | translate}}"}
