.thread-notification-level {
  display: inline-block;
}

.thread-group{
  margin: 14px 22px;
  padding-top: 10px;
}

.thread-group__name a{
  font-weight: bold;
  color: $grey-on-grey;
  line-height: 30px;
}

.thread-group__icon img{
  @include smallIcon;
}

.thread-container .lmo-dropdown-menu-right{
  right: -16px;
}

.attachments {
  margin: 0 10px;
}

.attachment-new {
  width: 34px;
  height: 34px;
  border: 1px solid $border-color;
  @include roundedCorners;
}

.attachment-new input {
  width: 34px;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.cover-file-upload {
  pointer-events: none;
  position: relative;
  bottom: 38px;
  padding: 0px;
  left: 4px;
}

.progress.active {
  float: left;
}

@media (min-width: $small-max-px) {
  .lmo-column-left {
    display: inline-block;
    width: 52%;
  }

  .lmo-column-right {
    float: right;
    clear: right;
    width: calc(48% - 10px);
  }
}

@media (min-width: $medium-max-px) {
  .lmo-column-left {
    display: inline-block;
    width: 60%;
  }

  .lmo-column-right {
    float: right;
    clear: right;
    width: calc(40% - 10px);
  }
}

@media (max-width: $small-max-px) {
  .thread-page__main-content {
    @include displayFlex;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .context-panel           { order: 10; }
  .start-proposal-card     { order: 20; }
  .current-proposal-card   { order: 30; }
  .previous-proposals-card { order: 40; }
  .activity-card           { order: 50; }
  .comment-form            { order: 60; }
  .before-column-right     { order: 70; }
  .members-card            { order: 80; }
  .after-column-right      { order: 90; }
}
