.loading-wrapper.lmo-two-column-layout
  %loading{ng-if: "!threadPage.discussion"}
  %main.thread-page{ng-if: "threadPage.discussion"}
    %group_theme{group: "threadPage.discussion.group()", compact: "true"}

    .lmo-thread-column-left
      %section.thread-context{aria-label: "{{ 'thread_context.aria_label' | translate }}"}
        .thread-actions.pull-right
          %star_toggle{thread: "threadPage.discussion"}
          %span{uib-dropdown: "true",  ng-if: "threadPage.showContextMenu()"}
            %button.thread-context__dropdown-button.lmo-btn--nude{uib-dropdown-toggle: "true"}
              .sr-only{translate: "thread_context.thread_options"}
              %i.fa.fa-fw.fa-chevron-down
            .thread-context__dropdown.uib-dropdown-menu.lmo-dropdown-menu
              %ul.lmo-dropdown-menu-items
                %li.lmo-dropdown-menu-item{ng-if: "threadPage.canChangeVolume()"}
                  %a.thread-context__dropdown-options-notifications.lmo-dropdown-menu-item-label{href: "true", ng-click: "threadPage.openChangeVolumeForm()", translate: "thread_context.notifications"}

                %li.lmo-dropdown-menu-item{ng-if: "threadPage.canEditThread()"}
                  %a.thread-context__dropdown-options-edit.lmo-dropdown-menu-item-label{href: "true", ng-click: "threadPage.editThread()", translate: "thread_context.edit_thread"}
                %li.lmo-dropdown-menu-item{ng-if: "threadPage.canMoveThread()"}
                  %a.thread-context__dropdown-options-move.lmo-dropdown-menu-item-label{href: "true", ng-click: "threadPage.moveThread()", translate: "thread_context.move_thread"}
                %li.lmo-dropdown-menu-item
                  %a.thread-context__dropdown-options-print{lmo-href-for: "threadPage.discussion", lmo-href-action: "print", target: "_blank"}
                    %span{translate: "thread_context.print_thread"}
                %li.lmo-dropdown-menu-item{ng-if: "threadPage.canDeleteThread()"}
                  %a.thread-context__dropdown-options-delete.lmo-dropdown-menu-item-label{href: "true", ng-click: "threadPage.deleteThread()", translate: "thread_context.delete_thread"}


        %h1.lmo-h1#thread-context__heading{in-view: "threadPage.showLintel(!$inview)"}
          {{threadPage.discussion.title}}
        %h1{ng-if: "threadPage.translation"}
          %translation{translation: "threadPage.translation", field: "title"}

        .thread-context__details
          %span{translate: "discussion.started_by", translate-value-name: "{{::threadPage.discussion.authorName()}}"}
          %timeago.nowrap{timestamp: "::threadPage.discussion.createdAt" }>
          %translate_button.lmo-card-minor-action{model: "threadPage.discussion", showdot: "true"}>
          %span{aria-hidden: "true"}·
          %span{ng-if: "threadPage.discussion.edited()"}
            %button.thread-context__edited-link.lmo-btn-link{ng-click: "threadPage.showRevisionHistory()", translate: "discussion.edited"}>
            %span{aria-hidden: "true"}·
          %span.nowrap.discussion-privacy__is-private{ng-show: "threadPage.discussion.private"}>
            %i.fa.fa-lock>
            %span{translate: "common.privacy.private"}
          %span.nowrap.discussion-privacy__is-public{ng-show: "!threadPage.discussion.private"}>
            %i.fa.fa-globe>
            %span{translate: "common.privacy.public"}

        .thread-context__description.lmo-markdown-wrapper{marked: "threadPage.discussion.description", aria-label: "{{ 'thread_context.aria_label' | translate }}" }
        %translation{ng-if: "threadPage.translation && threadPage.discussion.description", translation: "threadPage.translation", field: "description"}
        %a.lmo-card-minor-action{href: "true", ng-click: "threadPage.editThread()", translate: "thread_context.edit_thread", ng-if: "threadPage.canEditThread()"}

    .lmo-thread-column-right
      %section.start-proposal-card{in-view: "threadPage.proposalButtonInView($inview)", in-view-options: "{debounce: 200}", ng-if: "threadPage.canStartProposal()", aria-label: "{{ 'start_proposal_card.title' | translate }}"}
        %h2.lmo-card-heading{translate: "common.models.proposal"}
        .lmo-placeholder.lmo-hint-text.table-cell{translate: "start_proposal_card.helptext"}
        .start-proposal-card__start-proposal-button
          %start_proposal_button.table-cell.thread-start-proposal-button{discussion: "threadPage.discussion"}
      %current_proposal_card{in-view: "threadPage.proposalInView($inview)", in-view-options: "{debounce: 200}", ng-if: "threadPage.discussion.hasActiveProposal()", proposal: "threadPage.discussion.activeProposal()"}
      %previous_proposals_card{discussion: "threadPage.discussion"}
      %thread_volume_card{thread: "threadPage.discussion"}

    .lmo-thread-column-left
      %activity_card{discussion: "threadPage.discussion"}
      %comment_form{discussion: "threadPage.discussion"}

    %thread_lintel
    .clearfix
