.thread-notification-level {
  display: inline-block;
}

.thread-group{
  margin: 14px 22px;
  padding-top: 10px;
}

.thread-group__name a{
  font-weight: bold;
  color: $grey-on-grey;
  line-height: 30px;
}

.thread-group__icon img{
  @include smallIcon;
}

.thread-container .lmo-dropdown-menu-right{
  right: -16px;
}

.attachments {
  margin: 0 10px;
}

.attachment-new {
  width: 34px;
  height: 34px;
  border: 1px solid $border-color;
  @include roundedCorners;
}

.attachment-new input {
  width: 34px;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.cover-file-upload {
  pointer-events: none;
  position: relative;
  bottom: 38px;
  padding: 0px;
  left: 4px;
}

.progress.active {
  float: left;
}

.thread-page__main-content--small {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: $small-max-px) {
  .thread-page__context,
  .thread-page__proposals,
  .thread-page__activity,
  .thread-page__members,
  .thread-page__comment-form,
  .thread-page__outlet {
    width: 100%;
  }
}
