@import "bootstrap/mixins";
@import "settings";
@import "mixins";

body.public_groups {
  &.index, &.find {
    .btn { margin-left: 10px; }
    .add-on {
      background-color: transparent;
      position: relative;
      border-left: 0;
    }
    h1 { margin-bottom: 0px; }
    .input-append { margin-left: 60px; }
    form {
      margin-bottom: 0;
      .control-group {
        display: inline-block;
        margin-bottom: 0px;
      }
      #query {
        @include border-radius(4px);
        -moz-border-top-right-radius: 0;
          -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
          -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
        width: 200px;
        border-right: 0;
        &:focus {
          border: 1px solid #cccccc;
          border-right: 0;
          @include box-shadow(0,0,0,0, transparent);
        }
      }
      .submit-search {
        position: absolute;
        top: 0;
        left: 0;
        width: 26px;
        opacity: 0;
      }
    }

    .public-groups-container {
      a {
        color: #333;
        font-weight: bold;
        text-decoration: none;
      }

      li {
        padding: 10px;
        &:hover { background-color: $selector ! important; }
      }

      .group-details {
        display: inline-block;
        width: 800px;
      }
      .group-members-count {
        display: inline;
        float: right;
      }
      .group-name {
        color: #08c;
        display: inline;
        font-weight: bold;
        padding-right: 10px;
      }
      .group-description {
        display: inline;
      }

      .row-fluid { padding: 5px 0; }
      .span10 { padding: 0; }
      .span2 { text-align: right; }

    }
  }
}
