.poll-proposal-vote-form__radio-button {
  margin-right: 20px;
}

.poll-proposal-vote-form__radio-button .md-container {
  // display radio button floated to right of container
  right: 0;
  left: auto;
}

.poll-proposal-vote-form__radio-button .md-label {
  margin-left: 0;
}

.poll-proposal-vote-form__actions {
  @include displayFlex;
  justify-content: flex-end;
  align-items: center;
}
