%form{ng-submit: "submit()"}
  .lmo-disabled-form{ng-show: "isDisabled"}
  .modal-header
    %modal_header_cancel_button{ng-if: "!preventClose", aria-hidden: "true"}
    %h1.lmo-h1{translate: "sign_up_form.title"}

  .modal-body
    .sign-up-form__email
      %validation_errors{subject: "registration", field: "name"}
      %label{for: "name", translate: "sign_up_form.name_label"}
      %input.form-control#user-email{placeholder: "{{ 'sign_up_form.name_placeholder' | translate }}", ng-required: true, ng-model: "registration.name"}

    .sign-up-form__email
      %validation_errors{subject: "registration", field: "email"}
      %label{for: "email", translate: "sign_up_form.email_label"}
      %input.form-control#user-email{placeholder: "{{ 'sign_up_form.email_placeholder' | translate }}", ng-required: true, ng-model: "registration.email"}

    .sign-up-form__password
      %validation_errors{subject: "registration", field: "password"}
      %label{for: "password", translate: "sign_up_form.password_label"}
      %input.form-control#user-password{type: "password", ng-required: true, ng-model: "registration.password"}

    .sign-up-form__password-confirmation
      %validation_errors{subject: "registration", field: "passwordConfirmation"}
      %label{for: "password_confirmation", translate: "sign_up_form.password_confirmation_label"}
      %input.form-control#user-password-confirmation{type: "password", ng-required: true, ng-model: "registration.passwordConfirmation"}

    .sign-up-form__honeypot.hidden
      %input{type: "text", ng-model: "registration.honeypot"}

    .sign-up-form__providers{ng-if: "providers.length > 0"}
      %hr
      %h3.lmo-h3{translate: "sign_in_form.oauth.title"}
      .sign-up-form__provider{ng-repeat: "provider in providers"}
        %button.btn.btn-default.btn-block{type: "button", ng-click: "redirectTo(provider.href)"}
          %span{translate: "sign_in_form.oauth.{{provider.name}}"}

  .modal-footer
    %button.lmo-btn--cancel{ng-if: "!preventClose", ng-click: "$close()", type: "button", translate: "common.action.cancel"}
    %button.lmo-btn--submit.sign-up-form__submit-button{type: "submit", translate: "sign_up_form.sign_up"}
    .clearfix
    .sign-up-form__sign-in.pull-right
      %span{translate: "sign_up_form.sign_in_message"}>
      %a{href: "", ng-click: "openSignInModal()", translate: "sign_up_form.sign_in"}
