%a.selector-list-item-link{ng-href: '{{event.link()}}'}
  .media-left
    %user_avatar{user: "actor"}
  .media-body
    %span> {{ actor.name }}
    %span{translate:  "notifications.comment_liked" }>
    %span> {{ event.discussion().title }}
