%md-dialog.install-microsoft-modal.lmo-modal__narrow
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "install_microsoft.modal_title"}
      %dismiss_modal_button
  %md-dialog-content
    %install_microsoft_form{group_identity: "groupIdentity"}
  %md-dialog-actions
    %install_microsoft_form_actions{group_identity: "groupIdentity"}
