.discussion-form__formatting-help {
  margin-right: 10px;
  cursor: pointer;
  line-height: 48px;
}

.discussion-form__context-container {
  align-items: flex-end;
}

.discussion-form__attachments {
  margin-left: -5px;
}

.discussion-form__attachment-errors {
  padding: 6px 6px 0 6px;
}

.discussion-form__attachment-form {
  margin-right: 10px;
}

.discussion-form__helptext {
  margin-bottom: 15px;
}

@media (max-width: $small-max-px){
  .discussion-form__formatting-help { display: none; }
}
