.group-form
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-input-container.md-block
    %label{translate: "{{titleLabel()}}"}
    %input.lmo-primary-form-input#group-name.group-form__name{type: "text", placeholder: "{{'group_form.group_name_placeholder' | translate}}", ng-required: "true", ng-model: "group.name", ng-model-options: "{ allowInvalid: true }", md-maxlength: "255"}
    %validation_errors{subject: "group", field: "name"}

  %lmo_textarea{model: "group", field: "description", placeholder: "'group_form.description_placeholder' | translate", label: "'group_form.description' | translate"}

  .group-form__privacy-statement.lmo-hint-text {{privacyStatement()}}

  %section.group-form__section.group-form__privacy
    %h3.lmo-h3{translate: "group_form.privacy"}
    %md-radio-group{ng-model: "group.groupPrivacy"}
      %md-radio-button.md-checkbox--with-summary{ng-repeat: "privacy in privacyOptions()", class: "group-form__privacy-{{privacy}}", ng-value: "privacy", aria-label: "{{privacy}}"}
        .group-form__privacy-title
          %strong{translate: "common.privacy.{{privacy}}"}
        .group-form__privacy-subtitle {{ privacyStringFor(privacy) }}

  .group-form__advanced{ng-show: "group.expanded"}
    %section.group-form__section.group-form__joining.lmo-form-group{ng-if: "group.privacyIsOpen()"}
      %h3.lmo-h3{translate: "group_form.how_do_people_join"}
      %md-radio-group{ng-model: "group.membershipGrantedUpon"}
        %md-radio-button{ng-repeat: "granted in ['request', 'approval']", class: "group-form__membership-granted-upon-{{granted}}", ng-value: "granted"}
          %span{translate: "group_form.membership_granted_upon_{{granted}}"}

    %section.group-form__section.group-form__permissions
      %h3.lmo-h3{translate: "group_form.permissions"}
      %group_setting_checkbox.group-form__allow-public-threads{group: "group", setting: "allowPublicThreads", ng-if: "group.privacyIsClosed() && !group.isSubgroupOfSecretParent()"}
      %group_setting_checkbox.group-form__parent-members-can-see-discussions{group: "group", setting: "parentMembersCanSeeDiscussions", translate-values: "{parent: group.parent().name}", ng-if: "group.isSubgroup() && group.privacyIsClosed()"}
      %group_setting_checkbox.group-form__members-can-add-members{group: "group", setting: "membersCanAddMembers"}
      %group_setting_checkbox.group-form__members-can-announce{group: "group", setting: "membersCanAnnounce"}
      %group_setting_checkbox.group-form__members-can-create-subgroups{group: "group", setting: "membersCanCreateSubgroups", ng-if: "group.isParent()"}
      %group_setting_checkbox.group-form__members-can-start-discussions{group: "group", setting: "membersCanStartDiscussions"}
      %group_setting_checkbox.group-form__members-can-edit-discussions{group: "group", setting: "membersCanEditDiscussions"}
      %group_setting_checkbox.group-form__members-can-edit-comments{group: "group", setting: "membersCanEditComments"}
      %group_setting_checkbox.group-form__members-can-raise-motions{group: "group", setting: "membersCanRaiseMotions"}
      %group_setting_checkbox.group-form__members-can-vote{group: "group", setting: "membersCanVote"}

    %section.group-form__section.group-form__features{ng-if: "showGroupFeatures()"}
      %h3.lmo-h3{translate: "group_form.features"}
      .group-form__feature{ng-repeat: "name in featureNames"}
        %md-checkbox.md-checkbox--with-summary{id: "{{name}}", ng-model: "group.features[name]"}
          %span{for: "{{name}}", translate: "group_features.{{name}}"}

  %group_form_actions{group: "group", ng-if: "!modal"}
