.loading-wrapper.lmo-one-column-layout
  %loading{ng-if: "!membershipsPage.group"}
  %main.memberships-page{ng-if: "membershipsPage.group"}
    .lmo-group-theme-padding
    %group_theme{group: "membershipsPage.group"}
    .lmo-card
      .memberships-page__top-bar.lmo-flex.lmo-flex__space-between.lmo-flex__baseline
        %h2.md-title{translate: "memberships_page.members"}
        %md-button.md-primary.md-raised.memberships-page__invite{ng-click: "membershipsPage.invitePeople()", ng-if: "membershipsPage.canAddMembers()"}
          %span{translate: "group_page.invite_people"}
      %md-input-container.md-block.memberships-page__search-filter{md-no-float: "true"}
        %input.membership-page__search-filter{ng-model: "membershipsPage.fragment", ng-model-options: "{debounce: 300}", ng-change: "membershipsPage.fetchMemberships()", placeholder: "{{'memberships_page.fragment_placeholder' | translate}}"}
        %i.mdi.mdi-magnify
      %memberships_panel{memberships: "membershipsPage.memberships", group: "membershipsPage.group"}
      .lmo-flex.lmo-flex__space-between
        %outlet.lmo-flex{layout: "row", name: "after-memberships-panel", model: "membershipsPage.group"}
        %div{ng-if: "membershipsPage.group.membershipsCount <= 25"}
        %div{ng-if: "membershipsPage.group.membershipsCount > 25"}
          %md-button.md-primary.md-raised{ng-click: "membershipsPage.invitePeople()", ng-if: "membershipsPage.canAddMembers()"}
            %span{translate: "group_page.invite_people"}
    %pending_invitations_card{group: "membershipsPage.group"}
