.loading-wrapper.lmo-one-column-layout
  %loading{ng-if: "!membershipsPage.group"}
  %main.memberships-page{ng-if: "membershipsPage.group"}
    .lmo-group-theme-padding
    %group_theme{group: "membershipsPage.group"}
    .lmo-card
      .memberships-page__top-bar.lmo-flex.lmo-flex__space-between.lmo-flex__baseline
        %h2.md-title{translate: "memberships_page.members"}
        %md-button.md-primary.md-raised{ng-click: "membershipsPage.invitePeople()"}
          %span{translate: "group_page.invite_people"}
      .memberships-page__search-filter
        %input.membership-page__search-filter.form-control{ng-model: "membershipsPage.fragment", ng-model-options: "{debounce: 300}", ng-change: "membershipsPage.fetchMemberships()", placeholder: "{{'memberships_page.fragment_placeholder' | translate}}"}
        %i.fa.fa-lg.fa-search
      %admin_memberships_panel{ng-if: "membershipsPage.canAdministerGroup()", memberships: "membershipsPage.memberships", group: "membershipsPage.group"}
      %memberships_panel{ng-if: "!membershipsPage.canAdministerGroup()", memberships: "membershipsPage.memberships", group: "membershipsPage.group"}
    %pending_invitations_card{group: "membershipsPage.group"}
