.loading-wrapper.lmo-one-column-layout
  %loading{ng-if: "!membershipRequestsPage.group"}
  %main.membership-requests-page{ng-if: "membershipRequestsPage.group"}
    .lmo-group-theme-padding
    %group_theme{group: "membershipRequestsPage.group"}
    .membership-requests-page__pending-requests
      %h2.lmo-h2{translate: "membership_requests_page.heading"}
      %ul{ng-if: "membershipRequestsPage.group.hasPendingMembershipRequests()"}
        %li.lmo-flex.membership-requests-page__pending-request{layout: "row", ng-repeat: "request in membershipRequestsPage.pendingRequests() track by request.id"}
          %user_avatar.lmo-margin-right{user: "request.actor()", size: "medium"}
          .lmo-flex{layout: "column"}
            %span.membership-requests-page__pending-request-name
              %strong {{request.actor().name}}
            .membership-requests-page__pending-request-email
              {{request.email}}
            .membership-requests-page__pending-request-date
              %timeago{timestamp: "request.createdAt"}
            .membership-requests-page__pending-request-introduction
              {{request.introduction}}
            .membership-requests-page__actions
              %md-button.membership-requests-page__ignore{ng-click: "membershipRequestsPage.ignore(request)", translate: "membership_requests_page.ignore"}
              %md-button.md-primary.md-raised.membership-requests-page__approve{ng-click: "membershipRequestsPage.approve(request)", translate: "membership_requests_page.approve"}
      .membership-requests-page__no-pending-requests{ng-if: "!membershipRequestsPage.group.hasPendingMembershipRequests()", translate: "membership_requests_page.no_pending_requests"}
    .membership-requests-page__previous-requests
      %h3.lmo-card-heading{translate: "membership_requests_page.previous_requests"}
      %ul{ng-if: "membershipRequestsPage.group.hasPreviousMembershipRequests()"}
        %li.lmo-flex.membership-requests-page__previous-request{layout: "row", ng-repeat: "request in membershipRequestsPage.previousRequests() track by request.id"}
          %user_avatar.lmo-margin-right{user: "request.actor()", size: "medium"}
          .lmo-flex{layout: "column"}
            %span.membership-requests-page__previous-request-name
              %strong {{request.actor().name}}
            .membership-requests-page__previous-request-email
              {{request.email}}
            .membership-requests-page__previous-request-response
              %span{translate: "membership_requests_page.previous_request_response", translate-value-response: "{{request.formattedResponse()}}", translate-value-responder: "{{request.responder().name}}"}>
              %span> · 
              %timeago{timestamp: "request.respondedAt"}
            .membership-requests-page__previous-request-introduction
              {{request.introduction}}
      .membership-requests-page__no-previous-requests{ng-if: "!membershipRequestsPage.group.hasPreviousMembershipRequests()", translate: "membership_requests_page.no_previous_requests"}
