.membership-requests-page {
  @include lmoRow;
}

.membership-requests-page__pending-requests,
.membership-requests-page__previous-requests {
  @include card;
  ul {
    list-style: none;
    padding-left: 0px;
  }
}

.membership-requests-page__actions {
  height: 60px;
  margin-top: 5px;
  button { margin-right: 10px; }
}

.membership-requests-page__pending-request-email,
.membership-requests-page__pending-request-date,
.membership-requests-page__previous-request-email,
.membership-requests-page__previous-request-response {
  color: $grey-on-white;
  font-size: 12px;
}

.membership-requests-page__previous-request {
  margin: 16px 0;
}
