.selector-list{
  list-style-type: none;
  padding: 0;
}
.lmo-dropdown-menu .selector-list{
  max-height: 600px;
  overflow-y:scroll;
}
.selector-list .timeago, .smart-time{
  color: $grey-on-white;
  @include fontTiny;
}
.selector-list-header {
  @include fontWeightMedium;
  @include fontSmall;
  text-transform: uppercase;
  color: $grey-on-white;
  margin: 12px 0 0 0;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 1px solid $border-color;
}
.selector-list-header .lmo-dropdown-menu {
  padding: 0 0 10px 0;
}
.selector-list-item {
  border-bottom: 1px solid #eee;
  width: 100%;
  clear: both;
}
.selector-list-item-top-line {
  border-top: 1px solid #eee;
}
.selector-list-item-no-bottom-line {
  border-bottom: none;
}

.selector-list-item i{
  color: $grey-on-white;
}
.selector-list-item-link{
  display: block;
  padding: 13px;
  color: $primary-text-color;
}
.selector-list-item-link:hover{
  display: block;
  text-decoration: none;
  background-color: $list-hover-color;
}

.selector-list .media{ margin-top: 0; }
.selector-list .media-left { margin-right: 8px; }

.is-subgroup-true .selector-list-item-link{
  padding-left: 53px;
}
.is-unread .selector-list-item-discussion-title{
  font-weight: bold;
}
.selector-list-item-unread-comment-count {
  font-weight: normal;
  padding-left: 8px;
  @include fontSmall;
}
.selector-list-item-proposal {
  margin: 5px 0;
  .time-left {
    @include fontSmall;
  }
}
.selector-list-item-discussion-title {
  color: $primary-text-color;
  @include fontMedium;
  margin-bottom: 5px;
}
a .selector-list-item-proposal-details {
  color: $grey-on-white;
  @include fontSmall;
  margin-bottom: 5px;
  line-height: 16px;
}
.selector-list-item-group-name{
  vertical-align: middle;
  color: $primary-text-color !important;
  font-size: 15px;
}

.selector-list-item-group-logo{
  @include boxSmall;
  @include roundedCorners;
}

.selector-list-item-thread-group-name{
  color: $grey-on-white;
  @include fontSmall;
}
