<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
%h4 Hi,
%p="#{@user.name} (#{@user.email}) has requested access to your group #{@group.name}."
%p
  You can approve or decline it at:
  =link_to("#{@group.name} - Loomio", group_url(@group) + "#users")
%br
%p Thanks!
</body>
</html>
