.proposal-positions-panel__list {
  margin-top: 10px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.proposal-positions-panel__change-your-vote{
  @include fontSmall;
  span{ text-decoration: underline; }
}

.proposal-positions-panel__pie-chart {
  width: 200px;
  height: 200px;
}
