.proposal-positions-panel
  %h4.lmo-card-subheading{translate: 'proposal_positions_panel.heading'}

  %proposal_pie_chart{proposal: 'proposal'}

  %ul.proposal-positions-panel__list
    %li.proposal-positions-panel__vote.media{ng_repeat: 'vote in curatedVotes()'}
      .media-left
        .thread-item-vote-icon{class: 'thread-item-vote-icon-{{vote.position}}'}
      .media-body
        %span.proposal-positions-panel__name-and-position{translate: "new_vote_item.{{vote.positionVerb()}}", translate-value-name: '{{vote.authorName()}}'}
        %span{ng-if: '!vote.hasStatement()'}.
        %span{ng-if: 'vote.hasStatement()'}: {{::vote.statement}}
        %a.proposal-positions-panel__change-your-vote{href: '', ng-click: 'changeVote()', ng-show: 'proposal.isActive() && voteIsMine(vote)'}
          %i.fa.fa-exchange{aria-hidden: 'true'}>
          %span{translate: 'proposal_positions_panel.change_your_vote'}
