.proposal-positions-panel
  %h4.lmo-card-subheading{translate: 'proposal_positions_panel.heading'}

  .proposal-pie-chart.media
    .proposal-pie-chart__pie.media-left
      %pie_chart.proposal-positions-panel__pie-chart{votes: 'proposal.voteCounts'}
    .proposal-pie-chart__legend.media-body
      %label.sr-only{translate: 'proposal_expanded.current_votes'}
      %table
        %tbody
          %tr{ng-repeat: 'position in proposal.positions'}
            %td
              .proposal-pie-chart__icon{class: 'proposal-pie-chart__icon--{{position}}'}
                &nbsp;
            %td
              .proposal-pie-chart__label
                {{ "proposal_position_"+position | translate}} ({{ proposal.voteCounts[position] }})
  .proposal-pie-chart__participation-statement{translate: 'proposal_pie_chart.participation_statement', translate-value-percentage: '{{proposal.percentVoted()}}', translate-value-number: '{{proposal.numberVoted()}}', translate-value-total: '{{proposal.groupSizeWhenVoting()}}'}

  %ul.proposal-positions-panel__list
    %li.proposal-positions-panel__vote.media{ng_repeat: 'vote in curatedVotes() track by vote.id'}
      .media-left
        .thread-item-vote-icon{class: 'thread-item-vote-icon-{{vote.position}}'}
      .media-body
        %span.proposal-positions-panel__name-and-position{translate: "new_vote_item.{{vote.positionVerb()}}", translate-value-name: '{{vote.authorName()}}'}
        %span{ng-if: '!vote.hasStatement()'}.
        %span{ng-if: 'vote.hasStatement()'}: {{::vote.statement}}
        %a.proposal-positions-panel__change-your-vote{href: '', ng-click: 'changeVote()', ng-show: 'proposal.isActive() && voteIsMine(vote)'}
          %i.fa.fa-exchange{aria-hidden: 'true'}>
          %span{translate: 'proposal_positions_panel.change_your_vote'}
