.user-avatar--coordinator {
  border: 2px solid $loomio-orange !important;
}
.user-avatar-media {
  display: flex;
  align-items: center;
}

.user-avatar-media__name {
  margin-left: 8px;
  font-weight: bold;
}

.user-avatar__profile-link {
  cursor: pointer;
  &:hover,
  &:active,
  &:visited {
    color: $primary-text-color;
    text-decoration: none !important;
  }
}

.user-avatar{
  border-radius: 100%;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  img { width: 100%; }
  i { line-height: 28px; }
}

.user-avatar__initials {
  border-radius: 100%;
  color: $primary-text-color;
  text-decoration: none !important;
}

.user-avatar__initials--small{
  border: 1px solid $border-color;
  font-size: 12px;
  line-height: 30px;
}

.user-avatar__initials--medium{
  border: 1px solid $border-color;
  font-size: 20px;
  line-height: 50px;
}

.user-avatar__initials--large,
.user-avatar__initials--large-circular {
  border: 1px solid $border-color;
  font-size: 32px;
  line-height: 80px;
}

.user-avatar__initials--featured {
  border: 1px solid $border-color;
  font-size: 50px;
  line-height: 175px;
}
