.user-avatar{class: "lmo-box--{{size}}", aria-hidden: "true", ng-class: "{'user-avatar--coordinator': coordinator}", title: "{{user.name}}"}
  %a.user-avatar__profile-link{lmo-href-for: "user"}
    %div{class: "lmo-box--{{size}} user-avatar__initials user-avatar__initials--{{size}}", aria-hidden: "true", ng-if: "user.avatarKind == 'initials'"}
      {{user.avatarInitials}}
    %img{class: "lmo-box--{{size}}", ng-if: "user.avatarKind == 'gravatar'", gravatar-src-once: "user.gravatarMd5", gravatar-size: "{{gravatarSize()}}", alt: "{{::user.name}}"}
    %img{class: "lmo-box--{{size}}", ng-if: "user.avatarKind == 'uploaded'", alt: "{{user.name}}", ng-src: "{{::user.avatarUrl}}"}
