%form{ng-submit: 'submit()'}
  .lmo-disabled-form{ng-show: 'isDisabled'}
  .modal-header
    %button{type: 'button', class: 'close', ng-click: '$close()'}
      %span{aria-hidden: 'true'} &times;
      %span.sr-only{translate: 'common.action.cancel'}
    %h1.lmo-h1{translate: 'profile_page.deactivate_user.title'}

  .modal-body
    %h4.lmo-h4{translate: 'profile_page.deactivate_user.question'}
    %textarea.form-control{ng-model: 'user.deactivationResponse', placeholder: "{{ 'profile_page.deactivate_user.placeholder' | translate }}"}
  .modal-footer
    %button.btn.btn-danger{type: 'submit', translate: 'profile_page.deactivate_user.submit'}
    %button.btn.btn-warning{ng-click: '$close()', type: 'button', translate: 'common.action.cancel'}
