.poll-count-form
  %poll_common_tool_tip{poll: "poll"}

  %poll_common_select_group{poll: "poll"}

  %md-input-container.md-block
    %label{translate: "poll_common_form.title"}
    %input.lmo-primary-form-input.poll-count-form__title{type: "text", placeholder: "{{'poll_count_form.title_placeholder' | translate}}", ng-model: "poll.title", md-maxlength="200"}
    %validation_errors{subject: "poll", field: "title"}

  %md-input-container.md-block
    %label{translate: "poll_common_form.details"}
    %textarea.lmo-primary-form-input.poll-count-form__details{ng-model: "poll.details", placeholder: "{{'poll_count_form.details_placeholder' | translate}}", mention-field: "true"}
    %outlet{name: "after-count-form-textarea", model: "poll"}

  .md-input-compensate
    %poll_common_attachment_form{poll: "poll"}

  %poll_common_closing_at_field{poll: "poll"}
  .md-input-compensate
    %poll_common_notify_group{model: "poll"}
    %poll_common_notify_on_participate{poll: "poll"}
  %poll_common_form_actions{poll: "poll", submit: "submit", back: "back"}
