.poll-count-form
  %poll_common_form_fields{poll: "poll"}

  %poll_common_closing_at_field{poll: "poll"}

  .md-input-compensate
    -# %poll_common_notify_group{model: "poll", notify-action: "{{poll.notifyAction()}}"}
    %poll_common_notify_on_participate{poll: "poll"}
    %notify_input{model: "poll"}
