.poll-proposal-chart-preview__stance--agree{
  background-image: url(/img/agree.svg?v=20260721)
}

.poll-proposal-chart-preview__stance--yes {
  background-image: url(/img/agree.svg?v=20260721)
}

.poll-proposal-chart-preview__stance--no {
  background-image: url(/img/disagree.svg?v=20260721)
}

.poll-proposal-chart-preview__stance--disagree {
  background-image: url(/img/disagree.svg?v=20260721)
}

.poll-proposal-chart-preview__stance--block {
  background-image: url(/img/block.svg?v=20260721)
}

.poll-proposal-chart-preview__stance--abstain {
  background-image: url(/img/abstain.svg?v=20260721)
}
