.lmo-blank
  %section.group-progress-card.lmo-card{ng-if: "show()"}>
    .group-progress-card__row
      %h2.group-progress-card__title.lmo-card-heading{translate: "loomio_onboarding.group_progress_card.title"}
      %dismiss_modal_button.group-progress-card__dismiss

    %ul.group-progress-card__list
      %li.group-progress-card__list-item{ng-click: "activity.click()", ng-repeat: "activity in activities", ng-class: "{'group-progress-card__complete': activity.complete()}"}
        %i.mdi.mdi-24px.mdi-checkbox-marked{ng-if: "activity.complete()"}>
        %i.mdi.mdi-24px.mdi-checkbox-blank-outline{ng-if: "!activity.complete()"}>
        %span.group-progress-card__activity-text {{ translationFor(activity.translate) }}

    .group-progress-card__celebration-message{ng-if: "setupComplete()"}
      %span> 🎉
      %strong{translate: "loomio_onboarding.group_progress_card.celebration_message"}>
      %a.lmo-pointer{ng-click: "$close()", translate: "loomio_onboarding.group_progress_card.dismiss_this_card"}

    %a.lmo-pointer.group-progress-card__learn-more{ng-href: "https://help.loomio.org/", translate: "loomio_onboarding.group_progress_card.learn_more"}
