.poll-proposal-votes-panel
  %h3.lmo-card-subheading{translate: "poll_common.votes"}
  .poll-proposal-votes-panel__no-votes{ng-if: "!hasSomeVotes()", translate: "poll_proposal_votes_panel.no_votes_yet"}
    No votes have been placed yet.
  .poll-proposal-votes-panel__has-votes{ng-if: "hasSomeVotes()"}
    %md-select.md-no-underline{ng-model: "fix.votesOrder", ng-change: "changeOrder()"}
      %md-option{ng-repeat: "opt in sortOptions", ng-value: "opt", translate: "poll_proposal_votes_panel.{{opt}}"}
    .poll-proposal-votes-panel__stance.lmo-flex{ng-repeat: "stance in stances() track by stance.id"}
      -# {{stance.createdAt}}
      -# {{stance.pollOption().priority}}
      %img.poll-proposal-votes-panel__stance-icon{ng-src: "/img/{{stance.pollOption().name}}.svg"}
      .poll-proposal-votes-panel__stance-content
        %strong> {{stance.participant().name}}
        %span{translate: "poll_proposal_options.{{stance.pollOption().name}}_verb"}
        %span{ng-if: "stance.reason"} : {{stance.reason}}
    %md-button{ng-if: "moreToLoad()", ng-click: "loadMore()"} load more
