Hi there
\
Great news! Your request to set up a new group on Loomio has been approved!
\
\
= "Click the following link to set up your group (#{@group.name}) on Loomio: "
= group_invitation_url @group, @token
\
\
Love,
=link_to "Loomio", "http://loomio.org"