Hi there
\
= "Congrats! Your group (#{@group.name}) has been invited to Loomio."
\
\
= "Click the following link to set up your group on Loomio: "
= group_invitation_url @group, @token
\
\
Love,
Loomio
