/* let's only use semantic names for our colours */
$grey-on-grey:  #666;
$grey-on-white: #767676;
$primary-text-color: #262626;
$border-color: #dcdcdc;
$list-hover-color: #E0E0E0;
$list-hover-transparent-color: rgba(224,224,224,0.8);
$background-color: #ebebeb;
$card-background-color: #fff;
$highlight-red: #D0021B;
$link-color: #337ab7;

$item-highlight-color: #FFFFE8;
$progress-bar-color: #176EE3;
$loomio-orange: #F6A82B;

$navbar-height: 44px;
$tiny-max:      480;
$small-max:     768;
$medium-max:    992;
$tiny-max-px:   $tiny-max   + px;
$small-max-px:  $small-max  + px;
$medium-max-px: $medium-max + px;
$max-container-size: 1120px;

$agree-color: hsl(148, 40, 52);
$abstain-color: hsl(37, 92, 61);
$disagree-color: hsl(352, 79, 70);
$block-color: hsl(7, 68, 49);

$agree-border-color: darken($agree-color, 10%);
$disagree-border-color: darken($disagree-color, 10%);
$abstain-border-color: darken($abstain-color, 10%);
$block-border-color: darken($block-color, 10%);

@mixin fontTiny {
  font-size: 12px;
  line-height: 14px;
}

@mixin fontSmall {
  font-size: 13px;
  line-height: 19px;
}

@mixin fontMedium {
  font-size: 15px;
  line-height: 23px;
}

@mixin fontMedLarge {
  font-size: 18px;
  line-height: 25px;
}

@mixin fontLarge {
  font-size: 20px;
  line-height: 28px;
}

@mixin fontGrande {
  font-size: 24px;
  line-height: 32px;
}

@mixin fontHelvetica {
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight:400;
  font-stretch:normal;
}
@mixin fontHelveticaLight {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight:300;
  font-stretch:normal;
}
@mixin fontHelveticaBold {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold",
    "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma",
    "Geneva", "Arial", sans-serif;
  font-weight:600;
  font-stretch:normal;
}

@mixin fontHelveticaMedium{
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight:500;
  font-stretch:normal;
}

@mixin truncateText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin roundedCorners {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@mixin smallIcon {
  @include roundedCorners;
  width: 30px;
  height: 30px;
}

@mixin boxTiny {
  width: 20px;
  height: 20px;
}

$boxSmallSize: 30px;
@mixin boxSmall {
  width: $boxSmallSize;
  height: $boxSmallSize;
}


$boxMediumSize: 50px;
@mixin boxMedium {
  width: $boxMediumSize;
  height: $boxMediumSize;
}

$boxLargeSize: 80px;
@mixin boxLarge {
  width: $boxLargeSize;
  height: $boxLargeSize;
}

$boxFeaturedSize: 175px;
@mixin boxFeatured {
  width: $boxFeaturedSize;
  height: $boxFeaturedSize;
}

@mixin card{
  @include cardNoPadding;
  @include cardPadding;
}

@mixin cardNoPadding {
  @include roundedCorners;
  @include box_shadow(1);
  border: 1px solid $border-color;
  background: #fff;
  margin-bottom: 10px;
  i{ color: $grey-on-white; }
}

$thinPaddingSize: 10px;
$cardPaddingSize: 15px;
@mixin cardPadding {
  padding: $cardPaddingSize;
}

@mixin thinRoundedBorder {
  border: 1px solid $border-color;
  @include roundedCorners;
}

@mixin fontReset{
  color: $primary-text-color;
  text-transform: none;
  @include fontHelvetica;
  @include fontMedium;
  margin: 0;
  padding: 0;
}

@mixin box_shadow ($level) {

  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

}

@mixin cardMinorAction {
  @include fontHelveticaLight;
  color: $grey-on-white;
  margin: 20px 0 0 0;
  display: block;
  text-decoration: underline;
  clear: both;
}


@mixin displayFlex {
  display: flex;
  /*display: -webkit-box;*/
  /*display: -moz-box;*/
  display: -ms-flexbox;
  display: -webkit-flex;
}

@mixin lmoRow {
  @media (min-width: $tiny-max-px){
    /* outer padding on all but tiny screens */
    padding-left: 10px;
    padding-right: 10px;
  }
}

.lmo-version {
  color: #666;
  font-size: 11px;
}
