body {
  @include fontHelvetica;
  @include fontMedium;
  background-color: #f1f1f1;
  word-break: break-word;
}

h1 {
  @include fontHelveticaLight;
  @include fontGrande;
  padding: 0;
  margin: 0;
  color: $primary-text-color;
}

h2 {
  @include fontHelveticaLight;
  @include fontLarge;
  margin: 8px 0;
}
h3, h4 {
  @include fontHelveticaMedium;
  @include fontSmall;
  text-transform: uppercase;
  color: $kinda-dark-grey;
  margin-top: 22px;
}

h4{
  text-transform: none;
}

/* use .first if your heading is the first child */
.first{
  margin-top: 0;
}
.last{
  /* utility class to use when you want to fix up
     the margins on your card, e.g. if the last
     element in the card is a paragraph */
  margin-bottom: -10px;
}