body {
  @include fontHelvetica;
  @include fontMedium;
  background-color: #f1f1f1;
}

h1 {
  @include fontHelveticaLight;
  @include fontGrande;
  padding: 0;
  margin: 0;
  color: $primary-text-color;
}

h2 {
  @include fontHelveticaLight;
  @include fontLarge;
  margin: 8px 0;
}
h2.first{
  margin-top: 0;
}

h3, h4 {
  @include fontHelveticaMedium;
  @include fontSmall;
  text-transform: uppercase;
  color: #545454;
  margin-top: 22px;
}
h3.first{
  margin: 0 0 5px 0;
}

h4{
  text-transform: none;
}