.menu-image { padding: 15px; }

#header{
  z-index: 1000;
  background: white;
  height: 48px;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 0 10px #aaa;
  width: 100%;
  position: fixed;
}
.container#main{
  padding-top: 48px;
  z-index: 0;
  min-width: 320px;
}
.container#main.inboxPinned {
  @media (min-width: $screen-sm-min){
    margin-left: $sidebar-width;
    max-width: $container-sm - $sidebar-width;
  }
  @media (min-width: $screen-md-min){
    max-width: $container-md - $sidebar-width;
  }
  @media (min-width: $screen-lg-min){
    max-width: $container-lg - $sidebar-width;
  }
}

.loomio-nav {
  position: relative;
}
.loomio-nav-items{
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.loomio-nav-items li{
  float: left;
}
.loomio-nav-items li.open a{ border-bottom: 4px solid $loomio-orange; }
.loomio-nav-items li.open li a{ border-bottom: none; }
a.loomio-nav-btn{
  width: 40px;
  height: 40px;
  margin: 4px;
  display: block;
}
.loomio-nav-btn i{
  color: $meta-text-color;
  font-size: 26px;
  line-height: 40px;
}
.loomio-nav-logo {
  width: 40px;
  height: 40px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/lbow_round_34.png);
}
.loomio-nav-dropdown{
  top: 44px;
  padding: 0;
  margin: 0 -10px;
  min-width: 320px;
  @media (min-width: $screen-xs-min){
    margin: 0;
    width: 320px;
  }
}

#inbox-dropdown{ left: 49px; }
#search-dropdown{ left: 96px; }
.inboxPinned #search-dropdown{ left: 48px; }
#notifications-dropdown{ right: 47px; }
@media (max-width: 380px){
  #inbox-dropdown, #search-dropdown{ left: 0; }
  #notifications-dropdown, #user-options-dropdown{right: 10px;}
}

.fa-xlg{ font-size: 26px; }
#user-options-dropdown a{
  color: $kinda-dark-grey;
}
#user-options-dropdown .media-left{
  width: 40px;
  vertical-align: middle;
  text-align: center;
}
#user-options-dropdown .media-body{ vertical-align: middle; }


.loomio-nav-btn.has-badge{
  position: relative;
}
.loomio-nav-btn.has-badge .badge{
  position: absolute;
  top: 0;
  right: 0;
  background: #4A90E2;
}

.selector-list{
  list-style-type: none;
  padding: 0;
}
.dropdown-menu .selector-list{
  max-height: 600px;
  overflow-y:scroll;
}
#sidebar .selector-list{
 height: 100%;
 overflow: scroll;
 position: fixed;
 width: 320px;
 background: white;
 border: 1px solid $thread-border-color;
}
#sidebar .selector-list{
  padding-top: 54px;
}
.selector-list-header {
  padding: 0 15px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.selector-list-item {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  @media (max-width: 320px){ padding: 15px 20px; }
  width: 100%;
  clear: both;
}
.selector-list-item-link{
  display: block;
  margin: -8px;
  padding: 8px;
  color: $primary-text-color;
}
.selector-list-item-link:hover{
  display: block;
  text-decoration: none;
  background-color: $list-hover-color;
}
.selector-list .media{ margin-top: 0; }
.selector-list .media-left { margin-right: 8px; }
.selector-list-item.is-active{
  background-color: $item-highlight-color;
  border-left: 4px solid $loomio-orange;
}
.is-subgroup-true .selector-list-item-link{
  padding-left: 40px;
}
.selector-list-item.is-read{
  background-color: $light-grey;
}
.selector-list-item-proposal {
  margin: 5px 0;
  .time-left {
    color: #FAA82C;
    @include fontHelvetica;
    @include fontSmall;
  }
}
.selector-list-item-discussion-title {
  color: $text-color;
  @include fontHelvetica;
  @include fontMedium;
  margin-bottom: 5px;
}
.is-unread .selector-list-item-discussion-title{
  font-weight: bold;
}
a .selector-list-item-proposal-details {
  color: $meta-text-color;
  @include fontHelvetica;
  @include fontSmall;
  margin-bottom: 5px;
  line-height: 16px;
}
.selector-list-item-group-name{
  vertical-align: middle;
}
.selector-list-item-group-logo{
  width: 32px;
  height: 32px;
}
.selector-list-item-thread-group-name{
  color: $meta-text-color;
  @include fontHelvetica;
  @include fontSmall;
}

.navbar-search-input{
  padding: 5px;
  @media (max-width: 320px){ padding: 5px 15px; }
}

