$navbarGrey: #CCC;

.menu-image { padding: 15px; }
.bordered-icon { 
  border: 1px solid $navbarGrey;
  border-radius: 5px;
}


#sidebar{
  width: 320px;
  float: left;
}
#sidebar .drawer{
 height: 100%;
 overflow: scroll;
 position: fixed;
 width: 320px;
 background: white;
 border-right: 1px solid $thread-border-color;
}
#header{
  z-index: 1000;
  background: white;
  height: 44px;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 0 10px #aaa;
}
.open-sidebar #header{
  position: fixed;
  float: left;
  margin-left: 320px;
}
main{
  padding-top: 54px;
  z-index: 0;
}
.open-sidebar main{
  width: 720px;
  float: left;
}
.open-sidebar main .container{
  padding-left: 330px;
}

.loomio-nav {
  margin-top: 7px;
  position: relative;
}

.loomio-nav-dropdown{
  top: 34px;
  margin: 0 -10px;
  min-width: 320px;
  @media (min-width: $screen-xs-min){
    margin: 0;
    width: 320px;
  }
}

.loomio-nav-items{
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.loomio-nav-items li{
  float: left;
}

.loomio-nav-items i{
  color: $navbarGrey;
  font-size: 24px;
  line-height: 34px;
  padding: 0 20px;
}

.loomio-nav-logo {
  width: 30px;
  height: 30px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/lbow_square_30.png);
}

.drawer {
  list-style-type: none;
  padding: 0;
  height: 600px;
  overflow-y:scroll;
}

.drawer-header {
  padding: 0 15px;
}
.drawer-item {
  a:hover{
    text-decoration: none;
  }
  border-top: 1px solid #ddd;
  padding: 15px;
  width: 100%;
}

.drawer-item-proposal {
  margin: 5px 0;
  .time-left {
    color: #FAA82C;
    @include fontHelvetica;
    @include fontSmall;
  }
}

.drawer-item-discussion-title {
  color: $text-color;
  @include fontHelvetica;
  @include fontMedium;
  margin-bottom: 5px;
}

a .drawer-item-proposal-details {
  color: $meta-text-color;
  @include fontHelvetica;
  @include fontSmall;
  margin-bottom: 5px;
  line-height: 16px;
}

.drawer-item-group-name {
  color: $meta-text-color;
  @include fontHelvetica;
  @include fontSmall;
}
