
.menu-image { padding: 15px; }

#header{
  z-index: 1000;
  background: white;
  height: 48px;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 0 10px #aaa;
  width: 100%;
  position: fixed;
}
.sidebar-is-open .sidebar-spacer{
  margin-left: $sidebar-width;
}
.sidebar-is-open .container#main{
  @media (min-width: $screen-sm-min){ max-width: $container-sm - $sidebar-width; }
  @media (min-width: $screen-md-min){ max-width: $container-md - $sidebar-width; }
  @media (min-width: $screen-lg-min){ max-width: $container-lg - $sidebar-width; }
}
<<<<<<< HEAD
.container#main{
=======
.sidebar-is-open #header .container{
  margin-left: 0;
}
#sidebar{
  width: $sidebar-width;
  float: left;
}
main{
>>>>>>> ef22ee95f0312317adcb26b65ca1c1ce822050ab
  padding-top: 48px;
  z-index: 0;
  min-width: 320px;
}

.loomio-nav {
  position: relative;
}
.loomio-nav-items{
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.loomio-nav-items li{
  float: left;
}
a.loomio-nav-btn{
  width: 40px;
  height: 40px;
  margin: 4px;
  display: block;
}
.loomio-nav-items i{
  color: $meta-text-color;
  font-size: 26px;
  line-height: 40px;
}
.loomio-nav-logo {
  width: 40px;
  height: 40px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/lbow_round_34.png);
}
.loomio-nav-dropdown{
  top: 46px;
  margin: 0 -10px;
  min-width: 320px;
  @media (min-width: $screen-xs-min){
    margin: 0;
    width: 320px;
  }
}
.loomio-nav-btn.has-badge{
  position: relative;
}
.loomio-nav-btn.has-badge .badge{
  position: absolute;
  top: 0;
  right: 0;
  background: #4A90E2;
}


.drawer {
  list-style-type: none;
  padding: 0;
  height: 600px;
  overflow-y:scroll;
  width: 100%;
}
#sidebar .drawer{
 height: 100%;
 overflow: scroll;
 position: fixed;
 width: 320px;
 background: white;
 border: 1px solid $thread-border-color;
}
#sidebar .drawer{
  padding-top: 54px;
}
.drawer-header {
  padding: 0 15px;
}
.drawer-item {
  a:hover{
    text-decoration: none;
  }
  border-top: 1px solid #ddd;
  padding: 15px;
  width: 100%;
}
.drawer-item.is-active{
  background-color: $item-highlight-color;
  border-left: 4px solid $loomio-orange;
}
.drawer-item.is-read{
  background-color: $light-grey;
}
.drawer-item-proposal {
  margin: 5px 0;
  .time-left {
    color: #FAA82C;
    @include fontHelvetica;
    @include fontSmall;
  }
}
.drawer-item-discussion-title {
  color: $text-color;
  @include fontHelvetica;
  @include fontMedium;
  margin-bottom: 5px;
}
.is-unread .drawer-item-discussion-title{
  font-weight: bold;
}
a .drawer-item-proposal-details {
  color: $meta-text-color;
  @include fontHelvetica;
  @include fontSmall;
  margin-bottom: 5px;
  line-height: 16px;
}
.drawer-item-group-name {
  color: $meta-text-color;
  @include fontHelvetica;
  @include fontSmall;
}

