$grid-gutter-width: 32px;
$card-gutter: 6px;
$margin: 12px;
$padding: 18px;

#header {
  background-color: red;
}

#main-container {
  /*background-color: wheat;*/
}

#sidebar {
  display: none;
  background-color: green;
  position: fixed;
  margin-top: -6px;
  @include screen-size(medium-up) {
    display: block;
  }

  // TODO remove
  width: 300px;
  min-height: 700px;
}

#main-content {
  /*background-color: yellow;*/
  @extend .container;
}

.l-row {
  @include make-row($margin);
  padding: 0 $padding;
}

.l-column {
  @include make-xs-column(12, 6px);
}

.l-right { float: right; }


