@import 'utilities/bootstrap-utils';
@import 'utilities/colors';
@import 'utilities/fonts';
@import 'utilities/grid-settings';
@import 'utilities/icons';
@import 'utilities/page-settings';
@import 'utilities/media_queries';


@import 'atoms/add-comment-form';
@import 'atoms/avatars';
@import 'atoms/buttons';
@import 'atoms/card';
@import 'atoms/card-page';
@import 'atoms/edit-content';
@import 'atoms/iconic-title';
@import 'atoms/media-header';
@import 'atoms/pie-chart';
@import 'atoms/toolbar';

@import 'molecules/navbar';
@import 'molecules/inbox';
@import 'molecules/motion';

@import 'molecules/motion';

.decision-buttons{
  i{font-size: 3em;}
  text-align: center;
}

#js-mini-motion.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: white;
  border-bottom: 1px solid #888888;
}

button{
  font-weight: bold;
  color: white;
}

body {font-family: 'OpenSans';}
