.pie-chart-legend-item{

}
.pie-chart-legend-item-yes{
  border-left: 20px solid #90D490;
}

.pie-chart-legend-item-abstain{
  border-left: 20px solid #F0BB67;
}

.pie-chart-legend-item-no{
  border-left: 20px solid #D49090;
}

.pie-chart-legend-item-block{
  border-left: 20px solid #dd0000;
}
