
.proposal-card {
  background-color: #fff;
}

.proposal-card-started-by {
  @include metaText;
  margin-bottom: 5px;
}
.proposal-card-collapsed{
  a{
    display: block;
    color: $primary-text-color;
    margin: 0 -15px;
    padding: 15px;
  }
  a:hover{
    background-color: $list-hover-color;
    text-decoration: none;
  }
}
.proposal-card-collapsed h2{
  font-size: 18px;
  line-height: 20px;
}
.proposal-card-collapsed-outcome{
  color: $meta-text-color;
}
.proposal-card-collapsed-expand{
  clear: both;
  margin-top: 1em;
  @include metaText;
  text-decoration: underline;
}
.pie-chart-pie {
  width: 120px;
  height: 120px;
}
.pie-chart-legend {
  @include metaText;
  padding-top: 36px;
}

.pie-chart-legend-item{
  margin: 5px;
  padding-left: 5px;
  line-height: 15px;
}

.pie-chart-legend-item-yes{
  border-left: 15px solid #90D490;
}

.pie-chart-legend-item-abstain{
  border-left: 15px solid #F0BB67;
}

.pie-chart-legend-item-no{
  border-left: 15px solid #D49090;
}

.pie-chart-legend-item-block{
  border-left: 15px solid #dd0000;
}
