.proposal-card {
  padding: 15px;
  background-color: #fff;

  h3 {
    @include fontHelveticaBold;
    @include fontMedium;
    color: $meta-text-color;
  }
}

.proposal-card-started-by {
  @include metaText;
}

.proposal-card {
  border-top: 1px solid #ccc;
}

.proposal-card-body {
  padding-left: 5px;
  white-space: nowrap;
}

.proposal-closed {
  padding: 3px;
  margin: 0 5px;
  background: #ccc;
  border-radius: 5px;
}

.proposal-card-vote-icon {
  width: 23px;
  height: 23px;
}

.proposal-card-closing-at {

}

.pie-chart {

}

.pie-chart-pie {
  width: 120px;
  height: 120px;
}
.pie-chart-legend {
  color: $meta-text-color;
  @include fontMedium;
  @include fontHelvetica;
}

.pie-chart-legend-item{
  margin: 5px;
  padding-left: 5px;
  line-height: 15px;
}

.pie-chart-legend-item-yes{
  border-left: 15px solid #90D490;
}

.pie-chart-legend-item-abstain{
  border-left: 15px solid #F0BB67;
}

.pie-chart-legend-item-no{
  border-left: 15px solid #D49090;
}

.pie-chart-legend-item-block{
  border-left: 15px solid #dd0000;
}
