// colors
$white: #ffffff;
$black: #000000;
$desktop-grey: #E6E4E1;
$teal: #53C68F;
$yellow: #E0D06E;
$pink: #F0AEAF;
$red: #E43739;
$dark-teal: #44A979;

// fonts
body, h1, h2, h3, h4, h5 { font-family: 'OpenSans'; }

// elements
body { background: $desktop-grey; }
a {
  color: $teal;
  text-decoration: none;
}