
.thread-container {
  border: 1px solid $thread-border-color;
}

.thread-discussion {
  padding: 15px;
  background-color: #fff;
  h1 {
    @include fontHelveticaBold;
    @include fontGrande;
    padding: 0;
    margin: 0;
    color: #333333;
  }
}

.thread-origin {
  @include fontSmall;
  color: #777777;
}

.thread-origin-icon{}
.thread-origin-details{}

.thread-discussion-context {

}

.thread-actions-and-meta {
  @include fontSmall();
  color: $meta-text-color;
  margin-bottom: 5px;
}

.thread-liked-by-sentence {
  @include fontSmall();
  color: $meta-text-color;
}

.thread-proposals {
  background-color: #fff;
  border-top: 1px solid $thread-border-color;
  h2 {
    @include fontLarge;
    @include fontHelveticaBold;
  }
}

.thread-proposal {
  padding: 15px;
  background-color: #fff;
}

.thread-proposal-started-by {
  @include metaText
}

.thread-proposal-description {
}

.thread-events {
  padding: 15px;
  background-color: #F5F5F5;
  border-top: 1px solid $thread-border-color;
}

.thread-event {
  margin-bottom: 25px;
}

.thread-event-body {
  margin-bottom: 10px;
}

.thread-comment-author {
  margin-bottom: 10px;
  .avatar-initials{
    width: 30px;
    height: 30px;
  }
  .avatar-image img{
    width: 30px;
    height: 30px;
  }

}
.thread-comment-author-name {
  @include fontHelveticaBold;
  color: #333333;
}
