%form.start-group-form{name: 'startGroupForm', ng_submit: 'submit()', ng-disabled: 'group.processing'}
  .lmo-disabled-form{ng-show: 'isDisabled'}
  .modal-header
    %button{type: 'button', class: 'close', ng-click: '$close()'}
      %span{aria-hidden: true} &times;
      %span.sr-only{translate: 'common.action.cancel'}
    %h1.lmo-h1.modal-title{ng-if: 'group.isParent()', translate: 'start_group_form.heading'}
    %h1.lmo-h1.modal-title{ng-if: 'group.isSubgroup()', translate: 'start_group_form.heading_when_subgroup'}

  .modal-body
    %form_errors{record: 'group'}

    .group-helptext{ng-if: 'group.isParent()', translate: 'start_group_form.group_helptext'}

    .form-group
      %label{for: 'group-name', ng-if: 'group.isParent()', translate: 'start_group_form.name_label'}
      %label{for: 'group-name', ng-if: 'group.isSubgroup()', translate: 'start_group_form.subgroup_name_label'}
      %input.start-group-form__name.form-control#group-name{ng-model: 'group.name', ng-required: 'true'}

    .group-payment-notice{ng-if: 'group.isParent()', translate: 'start_group_form.group_payment_reminder'}

  .modal-footer
    %button.btn.btn-primary.start-group-form__submit{type: 'submit', translate: 'start_group_form.submit'}
    %button.btn.btn-warning{type: 'button', ng-click: '$close()', translate: 'common.action.cancel'}
