.poll-common-form__options-label {
  padding: 0 2px;
  color: rgba(0,0,0,0.38);
}
.poll-common-form__add-option {
  align-items: flex-start;
  padding: 0 !important;
}

.poll-common-form__options {
  margin-top: -20px;
  margin-bottom: 0;
}
