%section.discussions-card.lmo-card--no-padding{aria-labelledby: "threads-card-title"}
  .discussions-card__header
    %h3#threads-card-title.discussions-card__title.lmo-card-heading{ng-if: "!searchOpen"}
      %span{ng-if: "filter == 'show_opened'", translate: "group_page.open_discussions"}
      %span{ng-if: "filter == 'show_closed'", translate: "group_page.closed_discussions"}
    %md-input-container.discussions-card__search.md-block.md-no-errors{ng-class: "{'discussions-card__search--open': searchOpen}", md-no-float: "true"}
      %i.mdi.mdi-close.md-button--tiny.lmo-pointer{ng-click: "closeSearch()", ng-if: "searchOpen"}
      %input{ng-model: "fragment", placeholder: "{{'group_page.search_threads' | translate}}", ng-change: "searchThreads()", ng-model-options: "{debounce: 250}"}
    %md-button.md-button--tiny{ng-if: "!searchOpen", ng-click: "openSearch()"}
      %i.mdi.mdi-magnify
    .lmo-flex__grow
    .discussions-card__filter.discussions-card__filter--open.lmo-link.lmo-pointer{ng-if: "!searchOpen && filter == 'show_closed'", ng-click: "init('show_opened')", translate: "group_page.show_opened", translate-value-count: "{{group.openDiscussionsCount}}"}
    .discussions-card__filter.discussions-card__filter--closed.lmo-link.lmo-pointer{ng-if: "!searchOpen && filter == 'show_opened' && group.closedDiscussionsCount > 0", ng-click: "init('show_closed')", translate: "group_page.show_closed", translate-value-count: "{{group.closedDiscussionsCount}}"}
    %md-button.md-primary.md-raised.discussions-card__new-thread-button{ng-if: "canStartThread()", ng_click: "startDiscussion()", title: "{{ 'navbar.start_thread' | translate }}"}
      %span{translate: "navbar.start_thread"}

  .discussions-card__content
    .discussions-card__list--empty{ng-if: "isEmpty()"}
      %p.lmo-hint-text{translate: "group_page.no_threads_here"}
      %p.lmo-hint-text{ng-if: "!canViewPrivateContent()", translate: "group_page.private_threads"}

    .discussions-card__list{ng-if: "!fragment"}
      %section.thread-preview-collection__container{ng-if: "discussions.any() || pinned.any()"}
        %thread_preview_collection.thread-previews-container--pinned{ng-if: "pinned.any()", query: "pinned", limit: "loader.numRequested || 25", order: "title"}
        %thread_preview_collection.thread-previews-container--unpinned{ng-if: "discussions.any()", query: "discussions", limit: "loader.numRequested || 25"}
      .lmo-show-more{ng-if: "!loader.exhausted && !loader.loadingMore"}
        %button.discussions-card__show-more{ng-hide: "loading()", ng-click: "loader.loadMore()", translate: "common.action.show_more"}
      .lmo-hint-text.discussions-card__no-more-threads{translate: "group_page.no_more_threads", ng-if: "loader.numLoaded > 0 && loader.exhausted"}
      %loading{ng-if: "loader.loadingMore"}
    .discussions-card__list{ng-if: "fragment"}
      %section.thread-preview-collection__container{ng-if: "searched.any()"}
        %thread_preview_collection.thread-previews-container--searched{query: "searched"}
    %loading{ng-show: "loading()"}
