.lmo-navbar {
  .navbar__logo-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 32px;
  }

  .md-toolbar-tools {
    background-color: #fff;
    box-shadow: $whiteframe-shadow-4dp;

    max-height: 48px;
    justify-content: space-between;
  }

  .md-sidenav-left.md-closed, md-sidenav.md-closed {
    box-shadow: none;
  }

  .md-toolbar-tools a { color: $primary-text-color; }

  .navbar__left, .navbar__right {
    display: flex;
    align-items: center;
    flex-grow: 0;
  }
  .navbar__middle{
    flex-grow: 1;
    height: 100%;
    a, img { height: 100%; }
    img { padding: 8px; }
  }

  .navbar__left {
    justify-content: flex-start;
  }

  .navbar__right {
    justify-content: flex-end;
  }

  .navbar__sidenav-toggle {
    cursor: pointer;
    color: black;
    margin-right: 16px;
  }

  .navbar__logo {
    height: 30px;
  }

  @media (max-width: $tiny-max-px) {
    .navbar__middle { display: none; }
    .navbar__right { flex-grow: 1; }
  }
}
