%header.lmo-navbar
  %md_toolbar
    .md-toolbar-tools
      .navbar__left
        %md_icon_button.navbar__sidenav-toggle{ng-show: "isLoggedIn()", ng-click: "toggleSidebar()", aria-label: "{{ 'navbar.toggle_sidebar' | translate }}"}
          %i.mdi.mdi-menu

      .navbar__middle.lmo-flex.lmo-flex__horizontal-center
        %a.lmo-pointer{lmo-href: "/dashboard", ng-href: "/dashboard"}
          %img{ng-src: "{{logo()}}"}

      .navbar__right
        .lmo-flex--row{ng-if: "isLoggedIn()"}
          %navbar_search
          %notifications
          %user_dropdown
        %md-button.md-primary.md-raised.navbar__sign-in{ng-if: "!isLoggedIn()", ng-click: "signIn()"}>
          %span{translate: "navbar.sign_in"}
