a.search-result, a.search-result:hover{
  text-decoration: none;
  color: $primary-text-color;
}

.search-result-group-name {
  @include fontSmall;
  color: $grey-on-grey;
}

.search-result-title {
  @include fontMedium;
}
