.search-result.lmo-flex.lmo-flex__space-between.lmo-flex__center
  .search-result-item
    .search-result-title {{ result.title }}
    .search-result-group-name{ng-if: "result.resultGroupName"} {{ result.resultGroupName }}
  %timeago{timestamp: "result.lastActivityAt"}>
