/ = render '/application/mailer_doctype'
/ %html
/   %h1= t("email.trial_follow_up.header", group_name: "Laughing Lamas")

/   %p= t("email.trial_follow_up.hi")

/   %p= t("email.trial_follow_up.intro_html")

/   %p= t :thanks
