/ = render '/application/mailer_doctype'
/ %html
/   %h1= t("email.trial_expiry.header", group_name: "Laughing Lamas")

/   %p= t("email.trial_expiry.hi")

/   %p= t("email.trial_expiry.intro_html")

/   %p= t :thanks
