= "You're almost done!"
\
= "Please click this verification link to finalise your request:"
\
= verify_group_request_url(@group_request, token: @token)
\
= "If you did not request to join Loomio please ignore this email."
