.md-block.poll-common-anonymous.poll-common-checkbox-option
  .poll-common-checkbox-option__text.md-list-item-text
    %h3{translate: "poll_common_anonymous.anonymous"}
    %p.md-caption{ng-if: "poll.anonymous", translate: "poll_common_anonymous.helptext_on"}
    %p.md-caption{ng-if: "!poll.anonymous", translate: "poll_common_anonymous.helptext_off"}
  %md-checkbox{ng-model: "poll.anonymous"}
