.group-page .main-container{
  max-width: $group-page-max-width;
  margin: 0 auto;
  /* over-riding bootstrap */
  .media:first-child{
    margin-top: 10px;
  }
}

.group-page-cover{
  position: absolute;
  top: $navbar-height;
  width: 100%;
  height: 160px;
  background: url('http://placehold.it/640x160') no-repeat center center $light-grey;
  background-size: cover;
}
.group-page-header{
  width: 100%;
  position: relative;
  min-height: 225px;
}
.group-page-header .btn{
  @include fontSmall;
}
.group-page-logo{
  position: relative;
  top: 100px;
  width: 108px;
  height: 108px;
  background: url('http://placehold.it/100x100') no-repeat top center white;
  border: 4px solid #fff;
}
.group-page-header-name-and-actions{
  margin-top: 60px;
}
.group-page-name {
  float: left;
  max-width: 50%;
  margin-left: 108px + 15px;
  a{color: $primary-text-color;}
}
.group-page-privacy{
  float: left;
  margin-left: 15px;
}
.group-page-notifications{
  float: right;
  .btn { @include fontHelveticaBold; }
}
.group-page-actions-divider {
  float: right;
  height: 2em;
  width: 1px;
  background: $meta-text-color;
  margin-left: 5px;
  margin-right: 2px;
}
.group-page-actions{
  float: right;
  .btn { @include fontHelveticaBold; }
}

.group-page-description,
.group-page-threads,
.group-page-members,
.group-page-subgroups{
  @include card;
}

.discussions-new-thread{
  margin-top: 10px;
}
.members-invite{
  margin-top: 10px;
}
.group-member-list-avatar{
  float: left;
  margin: 0 10px 10px 0;
}

.group-thread-list{
  border-top: 1px solid $border-color;
}
.group-thread-list-item{
  border-bottom: 1px solid $border-color;
  min-height: 48px;
  padding: 8px 0;
}
.group-thread-list-group-name, .group-thread-list-time{
  @include metaText;
}
.group-thread-list-item .time-and-icon{
  padding-top: 10px;
}

.subgroup-list-item{
  clear: both;
}
.subgroup-list-item-logo{
  width: 50px;
  height: 50px;
  background: url('http://placehold.it/50x50');
}
.subgroup-list-item-name{
  font-weight: bold;
}
