.group-page .main-container{
  max-width: $large-max-width;
  margin: 0 auto;
  /* over-riding bootstrap */
  .media:first-child{
    margin-top: 10px;
  }
}

.group-page__cover{
  position: absolute;
  top: $navbar-height;
  left: 0;
  width: 100%;
  height: 320px;
  background: url('http://placehold.it/640x160') no-repeat center center #f5f5f5;
  background-size: cover;
}

.group-page__description {
  @include card;
}

.group-page__header{
  width: 100%;
  position: relative;
  min-height: 335px;
}

.group-page__header .btn{
  @include fontSmall;
}

.group-page__logo{
  position: relative;
  top: 215px;
  width: 108px;
  height: 108px;
  background: url('http://placehold.it/100x100') no-repeat top center white;
  border: 4px solid #fff;
}

.group-page__name-and-actions{
  margin-top: 175px;
}

.group-page__nonmember-actions { float: right; }
.group-page__member-actions .btn { @include fontHelveticaBold; }

.group-page__name {
  float: left;
  max-width: 50%;
  margin-left: 108px + 15px;
  a{color: $primary-text-color;}
}

.group-page__privacy{
  float: left;
  margin-left: 15px;
}

.group-page__upload-photo {
  position: relative;
  left: 5px;
  top: 5px;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px 4px $grey-on-grey;
}
