.group-page .main-container{
  max-width: $large-max-width;
  margin: 0 auto;
  /* over-riding bootstrap */
  .media:first-child{
    margin-top: 10px;
  }
}

.group-page__cover{
  position: absolute;
  top: $navbar-height;
  width: 100%;
  height: 160px;
  background: url('http://placehold.it/640x160') no-repeat center center #f5f5f5;
  background-size: cover;
}

.group-page__header{
  width: 100%;
  position: relative;
  min-height: 225px;
}

.group-page__header .btn{
  @include fontSmall;
}

.group-page__logo{
  position: relative;
  top: 100px;
  width: 108px;
  height: 108px;
  background: url('http://placehold.it/100x100') no-repeat top center white;
  border: 4px solid #fff;
}

.group-page__name-and-actions{
  margin-top: 60px;
}

.group-page__member-actions .btn { @include fontHelveticaBold; }

.group-page__name {
  float: left;
  max-width: 50%;
  margin-left: 108px + 15px;
  a{color: $primary-text-color;}
}
.group-page__privacy{
  float: left;
  margin-left: 15px;
}
.group-page__description,
.group-page__threads,
.group-page-members{
  @include card;
}

.group-page__new-thread{
  float: right;
  margin-top: -5px;
  margin-bottom: 10px;
  .btn { @include fontSmall; }
}
.members-invite{
  margin-top: 10px;
}
.group-member-list-show-more{
  padding-top: 8px;
}
.group-member-list-avatar{
  float: left;
  margin: 0 2px 2px 0;
}

.group-thread-list-empty {
  padding: 20px 0;
  text-align: center;
}
.group-thread-list{
  border-top: 1px solid $border-color;
  clear: both;
}
.group-thread-list-item{
  border-bottom: 1px solid $border-color;
  min-height: 48px;
  padding: 8px 0;
}
.group-thread-list-group-name, .group-thread-list-time{
  @include fontSmall;
  color: $grey-on-white;
}
.group-thread-list-item .time-and-icon{
  padding-top: 10px;
}

.subgroups-card{
  @include card;
}
.subgroups-card__list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.subgroups-card__list-item{
  clear: both;
  min-height: 50px;
  margin-bottom: 12px;
}
.subgroups-card__list-item-logo{
  width: 50px;
  height: 50px;
  background: url('http://placehold.it/50x50');
  float: left;
}
.subgroups-card__list-item-name{
  @include fontHelveticaBold;
  margin-left: 60px;
}
.subgroups-card__list-item-description{
  margin-left: 60px;
}
