.loading-wrapper.container.main-container
  %loading{ng-if: '!groupPage.group'}
  %main.group-page{ng-if: 'groupPage.group'}
    .group-page__cover{style:'background-image:url({{groupPage.group.coverUrl()}})'}
    %main.container.main-container
      %section.group-page__header{aria-label: "{{ 'group_page.header.aria_label' | translate }}"}
        .group-page__logo{style:'background-image:url({{groupPage.group.logoUrl()}})', alt: "{{ 'group_page.group_logo' | translate }}"}
        .group-page__name-and-actions
          .group-page__name
            %h1.lmo-h1
              %a{ng_show: 'groupPage.group.parentId', href: '/g/{{groupPage.group.parent().key}}'}
                {{groupPage.group.parentName()}}
              %span{ng_show: 'groupPage.group.parentId'}> \-
              {{groupPage.group.name}}
          %group_privacy_dropdown{group: 'groupPage.group'}
          .group-page__member-actions.lmo-btn-group.lmo-btn-group-right{ng-if: 'groupPage.isMember()'}
            .lmo-btn-wrapper
              %group_actions_dropdown{group: 'groupPage.group'}
            .lmo-btn-wrapper
              %notification_volume_dropdown{translate-root: 'group_page', group: 'groupPage.group'}
          .group-page__nonmember-actions{ng-if: '!groupPage.isMember()'}
            %a.btn.btn-success.btn-block.lmo-btn-icon{href: '', ng-click: 'groupPage.joinGroup()'}
              %i.fa.fa-lg.fa-plus{aria-hidden: 'true'}>
              %span{translate: 'group_page.join_group' }
          .clearfix
      .row
        .col-sm-8
          %section.group-page__description{aria-labelledby: 'description-card-title'}
            %h2#description-card-title.lmo-card-heading{ translate: 'group_page.description'}
            .group-page__description-placeholder.group-page-placeholder.lmo-hint-text{translate: 'group_page.description_placeholder', ng-if: 'groupPage.showDescriptionPlaceholder()' }
            .group-page__description-text.lmo-last{ btf-markdown: 'groupPage.group.description' }
          %discussions_card{group: 'groupPage.group'}
        .col-sm-4
          %members_card{group: 'groupPage.group'}
          %subgroups_card{group: 'groupPage.group'}
