%form{ng-submit: 'submit()'}
  .modal-header
    %h3.pull-left {{ 'invitation.invite_people' | translate }}
    %a.close.pull-right{href: '', ng-click: 'cancel($event)'} ×
    .clearfix
  .modal-body
    %h4{translate: 'invitation.find_people'}
    %input.form-control#invitable-email{type: 'email', ng-model: 'fragment', typeahead: 'invitable for invitable in getInvitables($viewValue)', typeahead-template-url: 'generated/components/group_page/invitable_menu.html', typeahead-on-select: 'addInvitation($item)', typeahead-wait-ms: '300'}
    .invitation-instructions{ng_hide: 'hasInvitations()'}
      {{ 'invitation.instructions' | translate }}
    .current-invitations{ng_show: 'hasInvitations()'}
      %h4 {{ 'invitation.to' | translate }}:
      .current-invitations{ng_repeat: 'invitation in invitations'}
        %span {{::invitation.name}}
        %span{ng-if: 'invitation.subtitle'} ({{::invitation.subtitle}})

      %h4 {{ 'invitation.invitation_message' | translate }}
      %textarea.form-control{ng-model: 'message'}

  .modal-footer
    %button.btn.btn-primary.cuke-group-invitation-submit{type: 'submit', translate: 'invitation.send_invite'}
    %button.btn.btn-warning{ng-click: 'cancel($event)', translate: 'common.action.cancel'}
