%h1= t :'user_mailer.merge_verification.confirm_page.confirm'
%p= t :'user_mailer.merge_verification.confirm_page.body_html', target_email: @target_user.email, source_email: @source_user.email
= form_with(url: merge_users_merge_url(:source_id => @source_user.id, :target_id => @target_user.id, :hash => @hash), method: :post, class: "application-form") do
  = button_tag(t(:"user_mailer.merge_verification.confirm_page.merge"), class: "btn--accent--raised mt-12")
