%md-dialog.auth-modal
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.material-icons lock_open
      %h1.lmo-h1{translate: "auth_form.sign_in_to_loomio"}
      %material_modal_header_cancel_button
  .md-dialog-content
    %auth_form{prevent-close: "preventClose"}
