- @title = "User submitted a bad request (400)"
%h1= @error_title       || "Sorry, we weren't able to understand that request."
%p=  @error_description || "This may be because of bad user input. Please check and try again."
