- @title = "This page was not found (404)"
%h1= @error_title       || "Sorry, the page you were looking for doesn't exist."
%p=  @error_description || "You may have mistyped the address or the page may have moved."
