- @title = "Please upgrade your browser (417)"
%h1 Yikes! You're on a very old web browser!
%p Unfortunately loomio won't work on your browser. However, it's possible to fix this problem!
%a{href: "http://browser-update.org/update-browser.html"} Update your browser
