- @title = "Please update your web browser (417)"
%h1 Oh no! Your web browser is out of date
%p
  How to upgrade your browser:
  %ul
    %li Use your "system update" or "software update" feature of your OS or device
    %li
      Alternatively, install a new browser such as
      %a{href: "http://firefox.com"} Firefox,
      or
      %a{href: "https://google.com/chrome"} Chrome
    %li
      It's most likely you need to upgrade to use Loomio, but, if you think you're seeing this message in error,
      %a{href: "/dashboard?skip_browser_upgrade=1"} proceed to Loomio
      with your current browser.
%p Stuck? Email contact@loomio.org for support.
