- @title = "Please update your web browser (417)"
%h1 Your web browser is too old for Loomio
%p To fix this, try upgrading your browser from the "About" menu or use your device's software update service found in "Settings".
%p
  Alternatively, install a new browser such as
  %a{href: "https://www.firefox.com"} Firefox
  or
  %a{href: "https://www.google.com/chrome/"} Google Chrome
%p
  If you're unable to update or use another browser, you can use the
  %a{href: "/dashboard?old_client=1"} old version of Loomio
  but for the best experience you need to upgrade your browser.
