- @title = "Please upgrade your browser (417)"
%h1 Yikes! You're on a very old web browser.
%p Unfortunately loomio won't work on your browser. However, it's possible to fix this problem!
%a{href: "//outdatedbrowser.com/en"} Update your browser
%p Something wrong? Email us! contact@loomio.org
