- @title = "The change you wanted was rejected (422)"
%h1= @error_title       || "The change you wanted was rejected."
%p=  @error_description || "Maybe you tried to change something you didn't have access to."
