- @title = "Too many requests (429)"
%h1= @error_title       || "Sorry, you have exceeded the maximum allowed requests per minute for this action."
%p=  @error_description || "Please wait a little while and try again."
