- @title = "We're sorry, but something went wrong (500)"
%h1= @error_title       || "We're sorry, but something went wrong."
%p=  @error_description || "We've been notified about this issue and we'll take a look at it shortly."
