= render '/groups/title', group: @group

%h1 Members

%table.memberships.table.table-striped
  %thead
    %th Photo
    %th Name
    %th Email
    %th Admin
    %th Remove
  %tbody
    -@memberships.each do |membership|
      -user = membership.user
      %tr{id: "membership-for-user-#{user.id}"}
        %td=render 'avatar', user: user, size: "small", kind: nil, id: nil
        %td=user.name
        %td=user.email
        %td
          - if membership.admin?
            = link_to t(:remove_admin), 
              remove_admin_group_membership_path(@group, membership), 
              method: :post, 
              class: :btn,
              :confirm => t(:confirm_remove_admin, which_user: user.name)
          - else
            = link_to t(:make_admin), 
              make_admin_group_membership_path(@group, membership), 
              method: :post, 
              class: :btn,
              :confirm => t(:confirm_make_admin, which_user: user.name)
        %td=link_to 'Remove', 
            group_membership_path(@group, membership), 
            method: :delete, 
            class: 'btn btn-danger',
            :confirm => 'Are you sure you want to remove this user from the group?'

%p 
  Want to 
  =link_to 'Invite People', new_group_invitation_path(@group)
  to the group? 
