body {
  @include fontHelvetica;
  @include fontMedium;
  background-color: $background-color;
  word-break: break-word;
}

h1, h2, h3, h4{
  @include fontReset; /* Y U SO RESET? */
}

input, select, textarea{
  margin-bottom: 10px;
}

textarea{
  min-height: 100px;
}

input[type="file"]{
  /*This is a hack for now to fix the mobile layout. The file input should be hidden.*/
  max-width: 200px;
}

strong{
  @include fontHelveticaBold;
}

.main-container{
  padding-top: 48px;
  z-index: 0;
  min-width: 320px;
}

.btn {
  @include box_shadow(1);
  border: none;

  &:hover {
    @include box_shadow(2);
  }

  &:focus {
    outline-style: none;
  }
}

a {
  color: $link-color; }
