/* let's only use semantic names for our colours */
$grey-on-grey:  #666;
$grey-on-white: #767676;
$primary-text-color: #262626;
$border-color: #dcdcdc;
$list-hover-color: #E0E0E0;
$list-hover-transparent-color: rgba(224,224,224,0.8);
$background-color: #ebebeb;
$card-background-color: #fff;
$highlight-red: #D0021B;

$item-highlight-color: #FFFFE8;
$progress-bar-color: #176EE3;
$loomio-orange: #F6A82B;

$main-max-width: 640px;
$large-max-width: 960px;
$navbar-height: 45px;

@mixin fontTiny {
  font-size: 12px;
  line-height: 14px;
}

@mixin fontSmall {
  font-size: 13px;
  line-height: 15px;
}

@mixin fontMedium {
  font-size: 14px;
  line-height: 20px;
}

@mixin fontCrapName{
  font-size: 15px;
  line-height: 20px;
}

@mixin fontLarge {
  font-size: 20px;
  line-height: 24px;
}

@mixin fontGrande {
  font-size: 24px;
  line-height: 27px;
}


@mixin fontHelvetica {
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight:400;
  font-stretch:normal;
}
@mixin fontHelveticaLight {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight:300;
  font-stretch:normal;
}
@mixin fontHelveticaBold {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold",
    "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma",
    "Geneva", "Arial", sans-serif;
  font-weight:600;
  font-stretch:normal;
}

@mixin fontHelveticaMedium{
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight:500;
  font-stretch:normal;
}

@mixin roundedCorners {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@mixin smallIcon {
  @include roundedCorners;
  width: 32px;
  height: 32px;
}

@mixin card{
  @include roundedCorners;
  border: 1px solid $border-color;
  padding: 17px 17px;
  background: #fff;
  margin-bottom: 8px;
  i{ color: $grey-on-white; }
  .card-minor-action{
    margin: 10px 0 0 0;
    clear: both;
  }
}

@mixin thinRoundedBorder {
  border: 1px solid $border-color;
  @include roundedCorners;
}

@mixin fontReset{
  color: $primary-text-color;
  text-transform: none;
  @include fontHelvetica;
  @include fontMedium;
  margin: 0;
  padding: 0;
}

#turn-off-angular {
  z-index: 100;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 100px;
  background-color: pink
}
