.menu-image { padding: 15px; }

.underlined-link {
  text-decoration: underline;
}

.debug {
  border: 1px solid #000;
}

.font-bold {
  font-weight: bold;
}

/* use .first if your heading is the first child */
.first{
  margin-top: 0;
}

.lmo-last{
  /* utility class to use when you want to fix up
     the margins on your card, e.g. if the last
     element in the card is a paragraph */
  margin-bottom: -10px;
}

.lmo-validation-error {
  color: $highlight-red;
  display: block;
  @include fontSmall;
}

.nowrap{
  white-space: nowrap;
}

.table-cell {
  display: table-cell;
}

.fat-finger{
  /*utility class to increase the target size of a link*/
  min-width: 30px;
  min-height: 30px;
  display: block;
  text-align: right;
  cursor: pointer;
  line-height: 32px;
  i{ line-height: 32px; }
}

.action{
  color: $grey-on-grey;
  text-decoration: underline;
}

.small-action{
  color: $grey-on-grey;
  text-decoration: underline;
  @include fontSmall;
}

.option-icon {
  /* a helper class to display inline icons and avatars */
  margin: 5px 5px 5px 0;
  display: inline-block;
}
.lmo-btn-icon{
  text-align: left;
}

.btn-success.lmo-btn-icon i.fa{ color: #fff; }

.lmo-btn-icon i.fa{ padding-right: 2px; }

.btn.lmo-btn-icon{ padding: 6px 12px 6px 9px;}

.lmo-btn-nude{
  box-shadow: none;
  color: $grey-on-grey;
  background-color: transparent;
}

.lmo-btn-nude:hover{
  box-shadow: none;
  background-color: $list-hover-color;
}

.label-with-details{
  font-weight: bold;
}

.label-with-details-label:after{
  content: ": ";
}

.label-with-details-details{
  font-weight: normal;
}

label.label-with-details{
  margin-left: 5px;
}

.fa-volume-off-padded{margin: 0 6px 0 3px;}

.form-card{
  @include card;
  max-width: 480px;
  margin: 10px auto;
}

.form-group{
  margin-top: 20px;
}

.font-bold {
  font-weight: bold;
}

.page-loading {
  color: $grey-on-grey;
  text-align: center;
  padding: 10px;
}

.lmo-h1{
  @include fontHelveticaBold;
  @include fontGrande;
  padding: 0;
  margin: 0;
}
.lmo-h1-medium{
  @include fontHelveticaMedium;
  @include fontGrande;
}
.lmo-h2 {
  @include fontHelveticaBold;
  @include fontLarge;
  margin: 8px 0;
}
.lmo-h3{
  @include fontHelveticaMedium;
  @include fontSmall;
  color: $grey-on-white;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.lmo-h4{
  @include fontHelveticaMedium;
  @include fontSmall;
  color: $grey-on-white;
  margin-top: 22px;
}

.lmo-card-heading{
  @include fontHelveticaMedium;
  @include fontSmall;
  text-transform: uppercase;
  color: $grey-on-white;
  margin-top: 0;
  margin-bottom: 10px;
}

.lmo-card-subheading{
  @include fontSmall;
  @include fontHelveticaMedium;
  text-transform: uppercase;
  color: $grey-on-white;
  margin-top: 1.5em;
}

.lmo-link {
  color: $grey-on-white;
  text-decoration: underline;
}

.lmo-vertical-spacer {
  padding: 5px 0;
}

.lmo-vertical-spacer-lg {
  padding: 15px 0;
}

.lmo-btn-group-right{
  float: right;
}

.lmo-btn-group-right .lmo-btn-wrapper{
  float: right;
}

.lmo-placeholder {
  font-style: italic;
  padding: 10px 0;
}

.lmo-hint-text{
  font-style: italic;
  color: $grey-on-white;
}

.lmo-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lmo-width-75 {
  width: 75%
}
