.install-slack-card.lmo-card{ng-if: "show()"}
  %h2.lmo-card-heading{ng-if: "groupIdentity()", translate: "install_slack.card.installed_title"}
  %h2.lmo-card-heading{ng-if: "!groupIdentity()", translate: "install_slack.card.install_title"}
  .lmo-flex
    %img.install-slack-card__logo{src: "/img/slack-icon-color.svg"}
    %div{ng-if: "groupIdentity()"}
      %p.install-slack-card__helptext.lmo-hint-text{translate: "install_slack.card.installed_helptext", translate-value-channel: "{{groupIdentity().slackChannelName()}}", translate-value-team: "{{groupIdentity().slackTeamName()}}"}
      %a.lmo-pointer{ng-if: "canRemoveIdentity()", ng-click: "remove()", translate: "install_slack.card.remove_identity"}
    %p.install-slack-card__helptext.lmo-hint-text{ng-if: "!groupIdentity()", translate: "install_slack.card.install_helptext"}
  .lmo-md-actions
    %outlet{name: "install-slack-card-footer"}
    %md-button.md-primary.md-raised{translate: "install_slack.card.install_slack", ng-click: "install()", ng-if: "!groupIdentity()"}
