%form{ng-submit: "submit()"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "remove_app_form.title", translate-value-name: "{{application.name}}"}
      %modal_header_cancel_button{aria-hidden: "true"}

  %md-dialog-content.md-dialog-content
    %span{translate: "remove_app_form.question", translate-value-name: "{{application.name}}"}

    .lmo-flex.lmo-flex__space-between.remove-app-form__actions
      %button.lmo-btn--cancel{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
      %button.lmo-btn--danger{type: "submit", translate: "remove_app_form.submit"}
