%md-dialog.signed-out-modal
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "signed_out_modal.title"}
  .md-dialog-content
    %span{translate: "signed_out_modal.message"}

    .lmo-md-actions
      %div
      %button.lmo-btn--submit{ng-click: "submit()", translate: "signed_out_modal.ok"}
