%form{ng-submit: "submit()"}
  .modal-header
    %h1.lmo-h1{translate: "signed_out_modal.title"}
  .modal-body
    %span{translate: "signed_out_modal.message"}
  .modal-footer
    %button.lmo-btn--submit{type: "submit", translate: "signed_out_modal.ok"}
