%section.members-card.lmo-card.lmo-no-print{aria-labelledby: "members-card-title", ng-if: "canViewMemberships()"}
  %h2#members-card-title.lmo-card-heading{ translate: "group_page.members"}
  %memberships_panel{memberships: "model.membership()", group: "model"}
