members_card {
  order: 60;
}
.members-card {
  @include card;
}

.members-card__member {
  padding: 4px 0 !important;
}

.members-card__avatar-link {
  color: $primary-text-color;
  &:hover {
    color: $primary-text-color;
    text-decoration: none;
  }
}

.members-card__manage-members {
  @include cardMinorAction;
}
