.poll-meeting-time
  %span{ng-if: "!sameYear(name)"}> {{ displayYear(name, zone) }}
  %span> {{ displayDate(name, zone) }}
  %span> {{ displayDay(name, zone) }}
  %span{ng-if: "!fullDayDate(name)"}> {{ displayTime(name, zone) }}
