%md-dialog.group-modal.lmo-modal__narrow
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi.mdi-account-multiple
      .group-form__title{ng-switch: "currentStep"}
        .group-form__group-title{ng-switch-when: "create"}
          %h1.lmo-h1{ng-if: "group.isNew() && group.parentId", translate: "group_form.start_subgroup_heading"}
          %h1.lmo-h1{ng-if: "group.isNew() && !group.parentId", translate: "group_form.start_group_heading"}
          %h1.lmo-h1{ng-if: "!group.isNew()", translate: "group_form.edit_group_heading"}
        .group-form__invitation-title{ng-switch-when: "announce"}
          %h1.lmo-h1{translate: "announcement.form.group_announced.title"}
      %dismiss_modal_button
  %md-dialog-content.md-body-1.lmo-slide-animation{ng-switch: "currentStep"}
    %group_form.animated{ng-switch-when: "create", group: "group", modal: "true"}
    %announcement_form.animated{ng-switch-when: "announce", announcement: "announcement"}
    %dialog_scroll_indicator
  %md-dialog-actions{ng-if: "currentStep == 'create'"}
    %group_form_actions{group: "group"}
