%md-dialog.remove-membership-form
  %form
    %md-toolbar
      .md-toolbar-tools.lmo-flex__space-between
        %h1.lmo-h1{translate: "cancel_invitation_form.heading"}
        %material_modal_header_cancel_button
    .md-dialog-content
      %p{translate: "cancel_invitation_form.question"}
      .lmo-md-actions
        %md-button{ng-click: "$close()", translate: "common.action.cancel"}
        %md-button.md-primary.md-raised.memberships-page__remove-membership-confirm{ng-click: "submit()", translate: "cancel_invitation_form.submit"}
