%table.memberships-panel
  %tr.memberships-panel__row
    %td.memberships-panel__spacer-cell
    %td.memberships-panel__spacer-cell
    %td.memberships-panel__header-cell{translate: "memberships_page.coordinator_label"}
    %td.memberships-panel__header-cell{translate: "memberships_page.remove_member_label"}
  %tr.memberships-panel__row{ng-repeat: "membership in memberships() | orderBy: '-admin' track by membership.id", data-username: "{{membership.user().username}}"}
    %td.memberships-panel__avatar-cell
      %user_avatar{user: "membership.user()", size: "medium", coordinator: "membership.admin"}
    %td.memberships-panel__member-info-cell
      %a{lmo-href-for: "membership.user()"} {{::membership.user().name}}
      %div @{{::membership.user().username}}
    %td.memberships-panel__admin-checkbox-cell
      %input.memberships-page__make-coordinator{type: "checkbox", ng-model: "membership.admin", ng-change: "toggleAdmin(membership)", ng-disabled: "!canToggleAdmin(membership)"}
    %td.memberships-panel__remove-member-cell
      %button.memberships-page__remove-link{href: "", ng-click: "openRemoveForm(membership)", ng-show: "canRemoveMembership(membership)"}
        %i.material-icons remove_circle
