.loading-wrapper.lmo-one-column-layout
  %main.install-slack-page
  .lmo-card
    .install-slack-page__tableau
      %img.install-slack-page__logo.install-slack-page__third-party-logo{src: "/img/slack-icon.svg"}
      %img.install-slack-page__logo.install-slack-page__loomio-logo{src: "/img/mascot.png"}
    %h1.lmo-h1{translate: "install_slack_page.heading"}
    %p.poll-common-helptext{translate: "install_slack_page.why_should_i"}
    %ul
      %li{translate: "install_slack_page.it_does_this"}
      %li{translate: "install_slack_page.and_also_this"}
      %li{translate: "install_slack_page.and_also_also_this"}

    .install-slack-page__add-to-group{ng-if: "group.id"}
      %h2.lmo-h2{translate: "install_slack_page.add_to_group"}
      %p.poll-common-helptext{translate: "install_slack_page.add_to_group_helptext"}
      %md-select{ng-model: "group", aria-label: "{{ 'install_slack_page.group_id' | translate }}"}
        %md-option{ng-repeat: "group in groups()", ng-value: "group"}
          {{ group.name }}

      .poll-common-form-actions.lmo-flex
        %md-button{translate: "install_slack_page.start_new_group", ng-click: "toggleExistingGroup()"}
        %md-button.md-primary.md-raised{translate: "install_slack_page.install_slack", ng-click: "submit()"}

    .install-slack-page__create-new-group{ng-if: "!group.id"}
      %h2.lmo-h2{translate: "install_slack_page.create_new_group"}
      %p.poll-common-helptext{translate: "install_slack_page.create_new_group_helptext"}

      %md-input-container.md-block
        %label{translate: "install_slack_page.group_name"}
        %input.lmo-primary-form-input{type: "text", placeholder: "{{ 'install_slack_page.group_name_placeholder' | translate }}", ng-model: "group.name"}

      .poll-common-form-actions.lmo-flex
        %div{ng-if: "!groups().length"}
        %md-button{ng-if: "groups().length", translate: "install_slack_page.use_existing_group", ng-click: "toggleExistingGroup()"}
        %md-button.md-primary.md-raised{translate: "install_slack_page.install_slack", ng-click: "submit()"}
