.thread-item__vote-icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.thread-item__vote-icon--yes {
  background-image: url(/img/green_thumb_22.png);
}

.thread-item__vote-icon--abstain {
  background-image: url(/img/yellow_thumb_22.png);
}

.thread-item__vote-icon--no {
  background-image: url(/img/pink_thumb_22.png);
}

.thread-item__vote-icon--block {
  background-image: url(/img/red_flag_22.png);
}
