.announcement-chip {
  align-items: center;
  height: 32px;
  img {
    width: 32px;
    height: 32px;
  }
}

.announcement-chip__content {
  font-size: 14px;
  line-height: 16px;
}

.announcement-chip__placeholder .material-icons {
  border-radius: 100%;
  font-size: 28px;
  padding: 2px;
  background: $light-grey-on-white;
  color: $primary-text-color;
}

.announcement-chip__avatar {
  margin-right: 8px;
  img {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.md-autocomplete-suggestions li[md-virtual-repeat] {
  display: flex;
  align-items: center;
}
