.announcement-chip {
  align-items: center;
  width: 100%;
  height: 32px;
  img {
    width: 32px;
    height: 32px;
  }
}

.announcement-chip__avatar {
  margin-right: 8px;
  img {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.md-autocomplete-suggestions li[md-virtual-repeat] {
  display: flex;
  align-items: center;
}
