.lmo-textarea{file-drop: "drop"}
  .lmo-relative.lmo-textarea-wrapper{ng-if: "!dragging"}
    %md-input-container.md-block.md-no-errors{md-no-float: "true"}
      %label{ng-if: "label"} {{label}}
      %outlet{name: "before-lmo-textarea", model: "model"}
      %textarea.lmo-textarea.lmo-primary-form-input{max-rows: 5, ng-disabled: "isDisabled", name: "body", placeholder: "{{placeholder}}", ng-model: "model[field]", md-maxlength: "{{maxlength}}", maxlength: "{{maxlength}}", mentio: true, mentio-trigger-char: "'@'", mentio-items: "mentionables", mentio-template-url: "generated/components/thread_page/comment_form/mentio_menu.html", mentio-search: "fetchByNameFragment(term)"} 
    .lmo-md-actions
      .lmo-flex
        %validation_errors{ng-if: "model.errors[field]", subject: "model", field: "{{field}}"}
        %validation_errors{ng-if: "model.errors.file", subject: "model", field: "file"}
        .lmo-textarea__helptext{ng-if: "!(model.errors[field] || model.errors.file)"} {{helptext}}
      .lmo-flex.lmo-flex__center
        %md-menu.lmo-pointer{ng-if: "model.documentsApplied"}
          %md-button.md-button--tiny{md-menu-origin: "true", ng-click: "addDocument($mdMenu)", md-prevent-menu-close: "true"}
            %i.mdi.mdi-attachment
          %md-menu-content
            %document_form.lmo-textarea__document-form
        %emoji_picker
        .md-char-counter{ng-if: "maxlength"}
          {{ modelLength() }} / {{ maxlength }}
  %outlet{name: "after-lmo-textarea", model: "model"}
  %document_list{model: "model", show-edit: "true", ng-if: "model.documentsApplied"}
  .lmo-textarea__footer
