.lmo-textarea md-input-container {
  margin-bottom: 0;
}
textarea.lmo-textarea, textarea.lmo-textarea:focus  {
  border: 1px solid #d3d3d3;
  box-shadow: inset 0 1px 2px #d3d3d3;
  background-color: #fdfdfd;
}

.lmo-textarea__helptext {
  margin-left: 5px;
  @include md-caption;
  color: $grey-on-white;
}

.lmo-textarea__footer {
  clear: both;
}

.lmo-textarea .md-char-counter {
  font-size: 14px;
}

.lmo-textarea__document-form {
  padding: 16px;
  min-width: 320px;
  max-width: 500px;
}
