.container#main
  .row
    .col-xs-12
      .group-page-container
        .group-page-header
          .group-page-cover{style:'background-image:url({{group.coverUrl()}})'}
          .group-page-logo.hidden-xs{style:'background-image:url({{group.logoUrl()}})'}
          .group-page-buttons.pull-right
            .group-member-options{ng-if: 'isMember()'}
              %notification_volume_dropdown{translate-root: 'group_page', group: 'group'}
              %group_options_dropdown{group: 'group'}
            .group-nonmember-options{ng-if: '!isMember()'}
              %a.btn.btn-success.btn-block.btn-icon{href: '#', ng-click: 'joinGroup()'}
                %i.fa.fa-lg.fa-plus>
                %span{translate: 'group_page.join_group' }
          .group-page-name-and-privacy
            .group-page-name
              %h1
                %a.cuke-group-parent-name{ng_show: 'group.parentId', href: '/g/{{group.parent().key}}'}
                  {{group.parentName()}}
                %span{ng_show: 'group.parentId'}> >
                %a.cuke-group-name{href: '/g/{{group.key}}'}
                  {{group.name}}
            %group_privacy_dropdown{group: 'group'}
        .group-page-description
          %h3.first{ translate: 'group_page.description' }
          .group-description.last{ btf-markdown: 'group.description' }
        %discussions_card{group: 'group'}
        %members_card{group: 'group'}
        %subgroups_card{group: 'group'}
