.add-community-form__oops {
  text-align: center;
}

.add-community-form__error-icon {
  color: lighten($loomio-orange, 20%);
  font-size: 100px !important;
}

.add-community-form__retry-button {
  margin-top: 16px;
}

.add-community-form__options {
  margin: 24px 0;
  clear: both;
}
