.add-community-form__existing {
  padding-bottom: 25px;
}

.add-community-form__community {
  align-items: center;
  width: 100%;
}

.add-community-form__existing {
  max-height: 250px;
  overflow: auto;
}

.add-community-form__community-icon {
  width: 48px;
  height: 48px;
}

.add-community-form__community-icon--slack {
  padding: 5px;
}

.add-community-form__community-icon--facebook {
  padding: 10px;
}

.add-community-form__channels {
  height: 300px;
  overflow: auto;
}

.add-community-form__header {
  align-items: center;
  margin-bottom: 20px;
}

.add-community-form__logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.add-community-form__name {
  font-weight: bold;
  margin-right: 10px;
}

.add-community-form__h4 {
  margin-top: 0;
}

.add-community-form__options {
  height: 300px;
  overflow: auto;
}

.add-community-form__header {
  align-items: center;
  margin-bottom: 20px;
}

.add-community-form__logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.add-community-form__name {
  font-weight: bold;
  margin-right: 10px;
}
