.add-community-form
  %h3.lmo-h3{translate: "add_community_form.existing_communities"}
  .add-community-form__existing
    .add-community-form__community{ng-repeat: "community in communities()"}
    .add-community-form__none-existing.poll-common-helptext{ng-if: "!communities()", translate: "add_community_form.no_communities"}

  %h3.lmo-h3{translate: "add_community_form.connect_new_community"}
  %md-list.md-block.add-community-form__new
    %md-list-item.poll-common-share-form__slack
      %md-button.lmo-flex.poll-common-share-form__community{layout: "row", ng-click: "addCommunity('slack')"}
        %img.poll-common-share-form__community-icon.poll-common-share-form__community-icon--slack{src: "/img/slack-icon.svg"}
        %h4.lmo-h4.poll-common-share-form__h4{translate: "add_community_form.add_slack"}

    %md-list-item.poll-common-share-form__facebook
      %md-button.lmo-flex.poll-common-share-form__community{layout: "row", ng-click: "addCommunity('facebook')"}
        %img.poll-common-share-form__community-icon.poll-common-share-form__community-icon--facebook{src: "/img/facebook-icon.svg"}
        %h4.lmo-h4.poll-common-share-form__h4{translate: "add_community_form.add_facebook"}
