.poll-poll-form__add-option-field,
.poll-poll-form__option-text {
  flex-grow: 1;
}

.poll-poll-form__add-option {
  align-items: flex-start;
}

.poll-poll-form__option-button {
  display: flex;
}

.poll-poll-form__option-icon {
  margin: auto;
}
