.poll-poll-form
  %poll_common_tool_tip{poll: "poll"}

  %md-input-container.md-block
    %label{translate: "poll_common_form.title"}
    %input.lmo-primary-form-input.poll-poll-form__title{type: "text", placeholder: "{{translations.titlePlaceholder}}", ng-model: "poll.title", md-maxlength="250"}
    %validation_errors{subject: "poll", field: "title"}

  %md-input-container.md-block
    %label{translate: "poll_common_form.details"}
    %textarea.lmo-primary-form-input.poll-poll-form__details{ng-model: "poll.details", placeholder: "{{translations.detailsPlaceholder}}", mention-field: "true"}
    %outlet{name: "after-poll-form-textarea", model: "poll"}

  .md-input-compensate
    %poll_common_attachment_form{poll: "poll"}

  %poll_common_form_options{poll: "poll"}

  .md-input-compensate
    %poll_common_closing_at_field.md-block{poll: "poll"}

  .md-input-compensate
    .md-block.poll-poll-form__multiple-choice.poll-common-checkbox-option
      .poll-common-checkbox-option__text.md-list-item-text
        %h3{translate: "poll_poll_form.multiple_choice"}
        %p.md-caption{translate: "poll_poll_form.multiple_choice_explained"}
      %md-checkbox{ng-model: "poll.multipleChoice", aria-label: "{{ 'poll_poll_form.multiple_choice' | translate }}"}

  %poll_common_notify_group{model: "poll"}
  %poll_common_form_actions{poll: "poll", submit: "submit", back: "back"}
