%md-dialog.membership-modal.lmo-modal__narrow
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi.mdi-account-settings
      %h1.lmo-h1{translate: "membership_form.modal_title.{{membership.target().constructor.singular}}", translate-value-poll-type: "{{membership.target().pollType}}"}
      %dismiss_modal_button
  %md-dialog-content
    %membership_form{membership: "membership"}
  %md-dialog-actions
    %membership_form_actions{membership: "membership"}
