%md-dialog.remove-membership-form
  %form
    %md-toolbar
      .md-toolbar-tools.lmo-flex__space-between
        %h1.lmo-h1{translate: "remove_membership_form.title"}
        %material_modal_header_cancel_button
    .md-dialog-content
      %p{translate: "remove_membership_form.question", translate-value-name: "{{membership.userName()}}", translate-value-group: "{{membership.group().name}}"}
      .lmo-md-actions
        %md-button{ng-click: "$close()", translate: "common.action.cancel"}
        %md-button.md-primary.md-raised.memberships-page__remove-membership-confirm{ng-click: "submit()", translate: "remove_membership_form.submit"}
