.poll-dot-vote-vote-form__option{
  padding: 0 !important;
}

.poll-dot-vote-vote-form__input-container {
  width: 100%;
  min-height: 48px;
  display: flex;
}

.poll-dot-vote-vote-form__dot-input {
  width: 35px !important;
  text-align: center;
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type=number] {
    -moz-appearance: textfield;
  }
}

.poll-dot-vote-vote-form__dot-button {
  background: none;
  border: 0;
  color: $grey-on-white;
  width: 32px;
  height: 32px;
  &[disabled] {
    opacity: 0;
  }
}

.poll-dot-vote-vote-form__dot-input-field {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  min-height: 48px;
  margin-left: auto;
  margin-top: 16px;
}

.poll-dot-vote-vote-form__dot-input {
  margin-left: 4px;
  margin-right: 4px;
  order: 0 !important;
  text-align: center;
  position: relative;
  top: 4px;
}
