%form.poll-dot-vote-vote-form{ng-submit: "submit()"}
  %h3.lmo-card-subheading{translate: "poll_common.your_response"}
  .lmo-hint-text
    .poll-dot-vote-vote-form__too-many-dots{ng-if: "tooManyDots()", translate: "poll_dot_vote_vote_form.too_many_dots"}
    .poll-dot-vote-vote-form__dots-remaining{ng-if: "!tooManyDots()", translate: "poll_dot_vote_vote_form.dots_remaining", translate-value-count: "{{dotsRemaining()}}"}
  %md-list.poll-common-vote-form__options
    %md-list-item.poll-dot-vote-vote-form__option.poll-common-vote-form__option{ng-repeat: "choice in stanceChoices track by choice.poll_option_id"}
      %md-input-container.poll-dot-vote-vote-form__input-container
        %p.poll-dot-vote-vote-form__chosen-option--name.poll-common-vote-form__border-chip.poll-common-bar-chart__bar{ng-style: "styleData(choice)"} {{ optionFor(choice).name }}
        .poll-dot-vote-vote-form__dot-input-field
          %button.poll-dot-vote-vote-form__dot-button{type: "button", ng-click: "adjust(choice, -1)", ng-disabled: "choice.score == 0"}
            .mdi.mdi-24px.mdi-minus-circle-outline
          %input.poll-dot-vote-vote-form__dot-input{type: "number", ng-model: "choice.score", min: "0", step: "1"}
          %button.poll-dot-vote-vote-form__dot-button{type: "button", ng-click: "adjust(choice, 1)", ng-disabled: "dotsRemaining() == 0"}
            .mdi.mdi-24px.mdi-plus-circle-outline
  %validation_errors{subject: "stance", field: "stanceChoices"}
  %poll_common_add_option_button{poll: "stance.poll()"}

  %poll_common_stance_reason{stance: "stance"}

  .poll-common-form-actions.lmo-flex.lmo-flex__space-between
    %show_results_button{ng-if: "stance.isNew()"}
    %div{ng-if: "!stance.isNew()"}
    %md-button.md-primary.md-raised.poll-common-vote-form__submit{type: "submit", ng-disabled: "tooManyDots()", translate: "poll_common.vote", aria-label: "{{ 'poll_poll_vote_form.vote' | translate }}"}
