#angular-feedback-card{ng-show: '!hidden', aria-hidden: 'true'}
  %a{href: lmo-href: '{{angularUrl}}', target: '_blank'}
    %span{translate: 'angular.switch_back'}
  %br
  %a{lmo-href: '{{feedbackUrl}}', target: '_blank'}
    %span{translate: 'angular.give_feedback'}
  %br
  %a.lmo-version{lmo-href: '{{versionUrl}}', target: '_blank'} {{version}}
