%li{ng-class: "{'lmo-active': !notification.viewed}"}
  %a.notification{class: "navbar-notifications__{{notification.kind}}", href: "{{notification.url}}", ng-click: "broadcastThreadEvent(notification)"}
    .notification__avatar.lmo-box--small
      %user_avatar{ng-if: "actor()", user: "actor()", size: "small", aria-hidden: "true"}
      .thread-item__proposal-icon{ng-if: "!actor()"}
    .notification__content
      %span{ng-bind-html: "contentFor(notification)"}>
      %timeago{timestamp: "notification.createdAt" }>
      .notifications__publish-outcome{ng-if: "notification.translationValues.publish_outcome", translate: "notifications.publish_outcome"}
