%form.delete-thread-form{ng-submit: "submit()"}
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "delete_thread_form.title"}
      %material_modal_header_cancel_button
  .md-dialog-content.md-body-1
      %p{translate: "delete_thread_form.body"}
    .lmo-md-actions
      %md-button{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
      %md-button.md-primary.md-raised.delete_thread_form__submit{type: "submit", translate: "delete_thread_form.confirm"}
