.poll-common-outcome-panel.lmo-action-dock-wrapper{ng-if: "poll.outcome()"}
  %h3.lmo-card-subheading{translate: "poll_common.outcome"}
  .poll-common-outcome-panel__authored-by
    %span{translate: "poll_common_outcome_panel.authored_by", translate-value-name: "{{poll.outcome().authorName()}}"}
    %timeago{timestamp: "::poll.outcome().createdAt" }>
  %p.lmo-markdown-wrapper{marked: "poll.outcome().statement", ng-if: "!poll.outcome().translation"}
  %translation{model: "poll.outcome()", field: "statement", ng-if: "poll.outcome().translation"}
  %document_list{model: "poll.outcome()"}
  .lmo-md-actions
    %reactions_display{model: "poll.outcome()", load: "true"}
    %action_dock{model: "poll.outcome()", actions: "actions"}
