.detect-locale
  = link_to t(:'frontpage.view_this_in_your_language',
              language: Translation.language(I18n.locale)),
              "?locale=#{I18n.locale}"

  = link_to "×", '#', class: "close", id: "js-dismiss-detect-language"

:javascript
  $('body').on('click', '#js-dismiss-detect-language', function(e) {
    $('.detect-locale').hide();
    }
  );
