.thread-previews
  %outlet{name: "before-thread-previews", model: "query"}
  .blank{ng-repeat: "thread in query.threads() | limitTo: limit | orderBy:[importance, '-lastActivityAt'] track by thread.key"}
    %thread_preview{thread: "thread"}
