.install-slack-invite-preview {
  padding: 8px;
  background: white;
  border: 1px solid $border-color;
  margin-bottom: 16px;
}

.install-slack-invite-preview__avatar img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.install-slack-invite-preview__content {
  margin-bottom: 5px;
}

.install-slack-invite-preview__loomio-bot {
  color: #3D3C40;
  font-size: 15px;
  line-height: 18px;
}

.install-slack-invite-preview__app {
  color: #A3A3A3;
  font-size: 12px;
  line-height: 18px;
}

.install-slack-invite-preview__title-timestamp {
  color: #9e9ea6;
  font-size: 12px;
  line-height: 18px;
}

.install-slack-invite-preview__message {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 22px;
}

.install-slack-invite-preview__bar {
  width: 4px;
  background: #E8E8E8;
  margin-right: 12px;
  border-radius: 8px;
}

.install-slack-invite-preview__author {
  color: #9e9ea6;
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 15px;
}

.install-slack-invite-preview__poll-title {
  color: #007AB8;
  font-weight: 500;
  margin-bottom: 5px;
  cursor: pointer;
}

.install-slack-invite-preview__poll-details {
  margin-bottom: 5px;
  font-size: 15px;
}

.install-slack-invite-preview__view-it {
  color: #007AB8;
  font-size: 15px;
  cursor: pointer;
}

.install-slack-invite-preview__timestamp {
  color: #717274;
  font-size: 12px;
  line-height: 14px;
  padding: 12px 0 8px;
  cursor: pointer;
}

.install-slack-invite-preview__option {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(160,160,162,.5);
  color: #565759;
  max-width: 150px;
  font-size: 13px;
  font-weight: 500;
  height: 30px;
  padding: 0 10px;
  margin: 0 8px 8px 0;
  text-shadow: none;
  border-radius: 4px;
}
