%header
  %md-toolbar
    .md-toolbar-tools
      %md_icon_button{ng-show: "isLoggedIn()", ng-click: "openSidebar()"}
        %md_icon.fa.fa-lg.fa-bars

      %h2
        %span {{ title }}

      .buh
        %img.lmo-navbar__logo{src: "/img/logo.png"}

      %navbar_search
      
      %notifications

      .buh{ng-if: "!isLoggedIn()"}
          %button.lmo-navbar__sign-in{ng-click: "signIn()"}>
            %span{translate: "navbar.sign_in"}
