%header.lmo-navbar{role: "banner"}
  %section.lmo-navbar-item-container.lmo-navbar-item-container--left{role: "navigation"}
    %md_icon_button{ng-show: "isLoggedIn()", ng-click: "openSidebar()"}
      %md_icon.fa.fa-lg.fa-bars
    .lmo-navbar__item.lmo-navbar__logo
      %img{src: "/img/logo.png"}
      %span{ng-if: "!officialLoomio"}
        {{hostName}}
  .lmo-navbar-item-container.lmo-navbar-item-container--right
    %section.lmo-navbar-item-container__sub.lmo-navbar-item-container__sub--left{role: "search"}
      .lmo-navbar__item.lmo-navbar-search
        %navbar_search{ng-show: "isLoggedIn()"}
    %section.lmo-navbar-item-container__sub.lmo-navbar-item-container__sub--right{aria-label: "{{ 'navbar.user_actions' | translate }}"}
      .lmo-navbar__logged-in{ng-if: "isLoggedIn()"}
        .lmo-navbar__item.lmo-navbar__item--notifications{ng-if: "isLoggedIn()"}
          %notifications
        .lmo-navbar__item.lmo-navbar__item--user{ng-if: "isLoggedIn()"}
          %navbar_user_options
      .lmo-navbar__logged-out{ng-if: "!isLoggedIn()"}
        %button.lmo-navbar__sign-in{ng-click: "signIn()"}>
          %span{translate: "navbar.sign_in"}
