%header
  %md-toolbar
    .md-toolbar-tools
      .navbar__left
        %md_icon_button.navbar__sidenav-toggle{ng-show: "isLoggedIn()", ng-click: "toggleSidebar()"}
          %md_icon.fa.fa-lg.fa-bars

      .navbar__middle
        .navbar__logo-container{flex: "grow"}
          %img.navbar__logo{src: "/img/logo.png"}

      .navbar__right
        %navbar_search

        %notifications

        .buh{ng-if: "!isLoggedIn()"}
          %button.navbar__sign-in{ng-click: "signIn()"}>
            %span{translate: "navbar.sign_in"}
