.lmo-navbar{
  @include box_shadow(2);
  z-index: 1000;
  background: white;
  padding: 0 6px;
  width: 100%;
  position: fixed;
  top: 0;
}

.lmo-navbar-item-container{
  display: inline-block;
  .fa-group {
    font-size: 1.1em;
  }

  .fa-bell-o {
    font-size: 1.2em;
  }

  .fa-bell {
    font-size: 1.2em;
  }
}

.lmo-navbar-item-container--left{
  width: 42%;
}

.lmo-navbar-item-container--right{
  text-align: right;
  width: 58%;
}

.lmo-navbar-item-container__sub{
  display: inline-block;
}

.lmo-navbar__item{
  display: inline-block;
  margin: 0;
}

.lmo-navbar__logo {
  position: absolute;
  top: 5px;
  left: 50%;
}

.lmo-navbar__logo img {
  height: 30px;
  position: relative;
  right: 44px;
}

.lmo-navbar__sign-in {
  @include lmoBtnFeatured;
}

.lmo-navbar__item--selected {
  a{ color: $primary-text-color; }
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 4px;
    background: $loomio-orange;
  }
}

.lmo-navbar__item--user {
  .lmo-navbar__btn{
    padding: 7px 6px;
  }
}

.lmo-navbar__btn{
  box-shadow: none;
  background: transparent;
  border: none;
  border-radius: 0;
  line-height: 23px;
  padding: 10px 6px 11px;
  &:hover {
    background: $list-hover-color;
  }
  &:hover, &:focus {
    box-shadow: none;
  }
}

.lmo-navbar__btn-icon{
  color: $grey-on-white;
  font-size: 19px;
  &:hover, &:focus { text-decoration: none; }
}

.lmo-navbar__btn-label{
  @include fontMedium;
  padding: 5px;
  @media (max-width: 650px){display: none;}
}

.lmo-navbar__btn.has-badge{
  position: relative;
}

.lmo-navbar__btn.has-badge .badge {
  font-size: 10px;
  position: absolute;
  left: 16px;
  top: 2px;
  background: #4A90E2;
  border-radius: 10px;
  border: 2px solid white;
  padding: 5px;
  color: white;
  line-height: 5px;
  text-align: center;
}

@media (max-width: $medium-max-px) {
  .lmo-navbar__item {
    display: inline-block;
    text-align: center;
    .lmo-navbar__btn {
      width: 100%;
      &:hover, &:focus {
        background: $list-hover-color;
        &.has-badge .badge { border: 2px solid $list-hover-color; }
      }
    }
  }

  .lmo-navbar-item-container--left{
    width: 39%;
    .lmo-navbar__item {
      width: 33%;
    }
  }

  .lmo-navbar-item-container--right{
    width: 61%;

    .lmo-navbar-item-container__sub--left{
      width: 59%;
    }

    .lmo-navbar-item-container__sub--right{
      text-align: center;
      width: 41%;
    }

    .lmo-navbar__item--notifications {
      width: 50%;
      .lmo-navbar__btn{
        padding: 10px 5px 11px;
      }
    }

    .lmo-navbar__item--user {
      width: 50%;
      .lmo-navbar__btn{
        padding: 5px 5px 3px;
      }
      .user-avatar {
        display: inline-block;
      }
    }
  }
}
