%header.lmo-navbar{role: "banner"}
  %section.lmo-navbar__item-container.lmo-navbar__item-container--left{role: "navigation"}
    %md_icon_button.lmo-navbar__item{ng-show: "isLoggedIn()", ng-click: "openSidebar()"}
      %md_icon.fa.fa-lg.fa-bars
  %section.lmo-navbar__item-container.lmo-navbar--center
    .lmo-navbar__item.lmo-navbar__logo
      %img{src: "/img/logo.png"}
  %section.lmo-navbar__item-container.lmo-navbar--right.lmo-navbar__logged-in{ng-if: "isLoggedIn()"}
    .lmo-navbar__item.lmo-navbar-search{role: "search"}
      %navbar_search
    .lmo-navbar__item.lmo-navbar__item--notifications
      %notifications
    .lmo-navbar__item.lmo-navbar__item--user
      %navbar_user_options
  %section.lmo-navbar__item-container.lmo-navbar--right.lmo-navbar__logged-out{ng-if: "!isLoggedIn()"}
      %button.lmo-navbar__sign-in{ng-click: "signIn()"}>
        %span{translate: "navbar.sign_in"}
