.md-toolbar-tools {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  z-index: 2;
}

.navbar__sidenav-toggle {
  color: black;
  margin-right: 16px;
}

.lmo-navbar__logo {
  height: 30px;
}