%header.lmo-navbar
  %md_toolbar
    .md-toolbar-tools
      .navbar__left
        %md_icon_button.navbar__sidenav-toggle{aria-hidden: "true", ng-show: "isLoggedIn()", ng-click: "toggleSidebar()", aria-label: "{{ 'navbar.toggle_sidebar' | translate }}"}
          %i.mdi.mdi-menu

      .navbar__middle.lmo-flex.lmo-flex__horizontal-center
        %a.lmo-pointer{lmo-href: "/dashboard"}
          %img{ng-src: "{{logo()}}"}

      .navbar__right
        %navbar_search{ng-show: "isLoggedIn()"}
        %notifications{ng-show: "isLoggedIn()"}
        %user_dropdown{ng-show: "isLoggedIn()"}
        %md-button.md-primary.md-raised.navbar__sign-in{ng-if: "!isLoggedIn()", ng-click: "signIn()"}>
          %span{translate: "navbar.sign_in"}
