%blank.lmo-navbar
  %header{ng-if: "showNavbar"}
    %md_toolbar
      .md-toolbar-tools.lmo-relative
        .navbar__left
          %md_icon_button.navbar__sidenav-toggle{aria-hidden: "true", ng-show: "isLoggedIn()", ng-click: "toggleSidebar()", aria-label: "{{ 'navbar.toggle_sidebar' | translate }}"}
            %i.fa.fa-lg.fa-bars

        .navbar__middle
          %a{lmo-static-href: "/", aria-label: "{{ 'navbar.logo_title' | translate }}"}
            .navbar__logo-container
              %img.navbar__logo{src: "/img/logo.png", alt: "Loomio logo"}

        .navbar__right
          %navbar_search{ng-show: "isLoggedIn()"}

          %notifications{ng-show: "isLoggedIn()"}

          .buh{ng-if: "!isLoggedIn()"}
            %button.navbar__sign-in{ng-click: "signIn()"}>
              %span{translate: "navbar.sign_in"}
