%header.lmo-navbar
  %md_toolbar
    .md-toolbar-tools.lmo-relative
      .navbar__left
        %md_icon_button.navbar__sidenav-toggle{ng-click: "toggleSidebar()", aria-label: "{{ 'navbar.toggle_sidebar' | translate }}"}
          %img.navbar__icon{ng-src: "{{iconSrc()}}", aria-hidden: "true"}
          -# %i.material-icons &#xE5D2;
        %h1 {{title()}}

      .navbar__right
        %navbar_search{ng-show: "isLoggedIn()"}
        %notifications{ng-show: "isLoggedIn()"}
        %md-button.md-primary.md-raised.navbar__sign-in{ng-if: "!isLoggedIn()", ng-click: "signIn()"}>
          %span{translate: "navbar.sign_in"}
