.navbar-search {
  padding: 5px;
}

.navbar-search__input-wrapper{
  position: relative;
}

.navbar-search__input {
  position: relative;
  background-color: $background-color;
  color: $primary-text-color;
  display: inline-block;
  height: auto;
  margin-bottom: 0px;
  @media (min-width: $screen-xs-min){width: 200px;}
}

.navbar-search__input::-webkit-input-placeholder,
.navbar-search__input:-moz-placeholder,
.navbar-search__input::-moz-placeholder,
.navbar-search__input:-ms-input-placeholder {
   color: $grey-on-grey;
}

.navbar-search__input-icon {
  position: absolute;
  top: 6px;
  right: 6px;
  color: $grey-on-white;
}

.navbar-search__results {
  @include thinRoundedBorder;
  position: absolute;
  background-color: white;

  width: 100%;
  top: $navbar-height;
  right: 93px; /*overridden on small screens by media query below*/
  text-align: left;
  max-width: 320px;
  margin-top: 5px;
  box-shadow: 5px 5px 10px #ccc;
  overflow-y: scroll;
  max-height: 91vh;
  z-index: 1;
}

.no-results-found {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px
}

.navbar-search__list-item {
  background: white;
}

@media (max-width: $medium-max-px) {
  .navbar-search__input{
    width: 100%;
  }

  .navbar-search__results {
    right: 0px;
    left: 0px;
    margin: 2px 8px;
    min-width: 250px;
    max-width: none;
  }
}
