.inbox-page{
  @include lmoRow;
}

.inbox-page__group {
  margin-bottom: $cardPaddingSize * 2;
}

.inbox-page__heading{
  margin: 20px 0 20px 13px;
}

.inbox-page__no-threads, .inbox-page__no-groups {
  margin-left: $cardPaddingSize;
}

.inbox-page__group-name a{
  @include fontWeightMedium;
  @include fontMedium;
  line-height: 30px;
  color: $grey-on-grey;
  padding-left: $thinPaddingSize;
}

.inbox-page__group-name-container {
  padding: 0 $cardPaddingSize;
}
