.lmo-one-column-layout
  %main.inbox-page
    .thread-preview-collection__container
      %h1.lmo-h1-medium.inbox-page__heading{translate: "inbox_page.unread_threads"}
      .inbox-page__threads
        .inbox-page__no-threads{ng-show: "!inboxPage.hasThreads() && !inboxPage.noGroups()"}
          %span{translate: "inbox_page.no_threads"}>
          %span
           🙌
        .inbox-page__no-groups{ng-show: "inboxPage.noGroups()"}
          %p{translate: "inbox_page.no_groups.explanation"}>
          %button.lmo-btn-link--blue{translate: "inbox_page.no_groups.start", ng-click: "inboxPage.startGroup()"}>
          %span{translate: "inbox_page.no_groups.or"}>
          %span{translate: "inbox_page.no_groups.join_group"}>
        .inbox-page__group{ng-repeat: "group in inboxPage.groups() | orderBy: 'name' track by group.id"}
          %section{ng-if: "inboxPage.views.groups[group.key].any()", role: "region", aria-label: "{{ 'inbox_page.threads_from.group' | translate }} {{group.name}}"}
            .inbox-page__group-name-container
              %img.selector-list-item-group-logo.pull-left{ng-src: "{{group.logoUrl()}}", aria-hidden: "true"}>
              %h2.inbox-page__group-name
                %a{href: "/g/{{group.key}}"} {{group.name}}
            .inbox-page__groups.thread-previews-container
              %thread_preview_collection{query: "inboxPage.views.groups[group.key]", limit: "inboxPage.threadLimit"}
