.cover-photo-form
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %div
      %h1.lmo-h1{translate: "cover_photo_form.heading"}
      %dismiss_modal_button
  .md-dialog-content.md-body-1
    %md-button.lmo-flex{ng-click: "selectFile()"}
      .user-avatar.lmo-box--small.lmo-margin-right
        .user-avatar__initials--small
          %i.mdi.mdi-camera.mdi-24px
      %span{translate: "cover_photo_form.upload_link"}
    %input.hidden{file-select: "upload"}
    %p.lmo-hint-text{translate: "cover_photo_form.image_size_helptext"}
