.edit-content {
  color: #BBB;
  margin-top: 4px;
  font-size: 0.9em;
}

.edit-content:hover {
  color: #BBB;
  text-decoration: none;
  
  .edit-content__text {
    text-decoration: underline;
  }
}

