.toolbar {
  @include make-row();
}

.toolbar__button--first {
  // border-right: 1px solid #888;
}

.toolbar__button {
  @include make-xs-column(6);
  text-align: center;
  line-height: 2em;
  font-weight: 700;
}

// Non-block elements
.toolbar-container {
  @extend .container;
  background-color: #EEE;
  @include box-shadow(0px 0px 2px #888888);
}
