.start-menu.lmo-no-print
  .start-menu__modal-backdrop.modal-backdrop{ng-show: "startMenuOpen", uib-modal-window: true, ng-click: "toggleStartMenu()"}
  .start-menu__options.start-menu__over-modal{ng-show: "startMenuOpen", role: "region", aria-label: "{{'start_menu.label' | translate}}"}
    .start-menu__option--invite-people{ng-show: "hasAnyGroups()"}
      %start_menu_option{text: "invite_people", icon: "user", action: "invitePeople", hotkey: "pressedI"}
    %start_menu_option{text: "start_group", icon: "group", action: "startGroup", hotkey: "pressedG"}
    .start-menu__option--start-thread{ng-show: "hasAnyGroups()"}
      %start_menu_option{text: "start_thread", icon: "pencil", action: "startThread", hotkey: "pressedT"}

  %button.start-menu__start-button.start-menu__menu-button.start-menu__over-modal{ng-click: "toggleStartMenu()", title: "{{'start_menu.title' | translate}}"}
    %i.fa.fa-plus.fa-2x{ng-if: "!startMenuOpen"}
    %i.fa.fa-times.fa-2x{ng-if: "startMenuOpen"}
