.start-menu
  .start-menu__modal-backdrop.modal-backdrop{ng-show: "startMenuOpen", uib-modal-window: true, ng-click: "toggleStartMenu()"}
  %ul.start-menu__options.start-menu__over-modal{ng-show: "startMenuOpen"}
    %start_menu_option{text: "invite_people", icon: "user", action: "invitePeople", group: "currentGroup", hotkey: "pressedI"}
    %start_menu_option{text: "start_group", icon: "group", action: "startGroup", group: "currentGroup", hotkey: "pressedG"}
    %start_menu_option{text: "start_thread", icon: "pencil", action: "startThread", group: "currentGroup", hotkey: "pressedT"}

  %button.start-menu__start-button.start-menu__menu-button.start-menu__over-modal{ng-click: "toggleStartMenu()", title: "{{'start_menu.title' | translate}}"}
    %i.fa.fa-plus.fa-2x{ng-if: "!startMenuOpen"}
    %i.fa.fa-times.fa-2x{ng-if: "startMenuOpen"}
