.start-menu__option
  %a{href: "", ng-click: "openModal()"}
    .start-menu__option-text{translate: "start_menu.{{text}}"}
    .start-menu__option-icon.start-menu__menu-button
      %i.fa.fa-lg{class: "fa-{{icon}}"}
