.start-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: right;
}

.start-menu__modal-backdrop {
  z-index: 500;
}

.start-menu__start-button {
  background: $loomio-orange;
  width: 50px;
  height: 50px;
  padding: 12px 14px;
  float: right;
  color: white;
  border: none;
  &:hover, &:focus { color: white; }
}

.start-menu__menu-button {
  @include box_shadow(2);
  border-radius: 100%;
  cursor: pointer;
  &:hover {
    @include box_shadow(3);
  }
}

.start-menu__over-modal {
  position: relative;
  z-index: 501;
}

.start-menu__option-text {
  display: inline-block;
  background: rgba(0,0,0,0.7);
  padding: 3px 5px;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.start-menu__option-icon {
  display: inline-block;
  background: white;
  width: 35px;
  height: 35px;
  padding: 7px 9px;
  margin: 10px 7px;
  i { color: rgb(51,51,51); }
}
