%section.group-page__threads{aria-labelledby: 'threads-card-title'}
  .group-page__new-thread
    %a.btn.btn-success.lmo-btn-icon{href: '', ng_click: 'openDiscussionForm()', title: "{{ 'navbar.start_thread' | translate }}"}
      %i.fa.fa-plus{aria-hidden: 'true'}>
      %span{translate: 'navbar.start_thread'}

  %h2#threads-card-title.lmo-card-heading{ translate: 'group_page.discussions'}
  .group-page__threads-placeholder.lmo-hint-text{translate: 'group_page.discussions_placeholder', ng-if: 'showThreadsPlaceholder()' }
  .group-thread-list
    .group-thread-list-empty{ng-if: '!loadMoreExecuting && group.organisationDiscussions().length == 0'}
      .group-thread-list-empty-reason{translate: 'group_page.thread_list.empty.{{whyImEmpty()}}'}
      .group-thread-list-empty-access{ng-if: 'howToGainAccess()'}
        %span{translate: 'group_page.thread_list.empty.{{howToGainAccess()}}'}
        %a{translate: 'group_page.thread_list.empty.request_membership_link', ng-if: 'howToGainAccess() == "request_membership"', href: '', ng-click: 'requestToJoin()'}

    .group-thread-list-item{ng-repeat: 'discussion in group.organisationDiscussions() | orderBy: ["-lastActivityAt"] | limitTo:loaded'}
      .time-and-icon.pull-right
        %smart_time.group-thread-list-time{time: 'discussion.lastActivityAt' }>
        %span.group-thread-list-icon
          %i.fa.fa-lg.fa-comments{aria-hidden: 'true'}

      .group-thread-list-thread-title
        %a{href: '/d/{{discussion.key}}'} {{ discussion.title }}
      .group-thread-list-group-name{ng-if: 'discussion.group().isSubgroup()'}
        %a{href: '/g/{{discussion.group().key}}'} {{ discussion.groupName() }}
    %loading{ng-show: 'loadMoreExecuting'}

    / Hiding this for now.
    .discussions-show-more.card-minor-action{ng-if: 'false'}
      %a{ng-hide: 'loadMoreExecuting || !group.hasDiscussions', ng-click: 'loadMore()', href: '', translate: 'common.action.show_more'}
