%md-dialog.contact-user-modal
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %div
      %h1.lmo-h1{translate: "contact_request_form.modal_title", translate-value-name: "{{user.name}}"}
      %dismiss_modal_button
  .md-dialog-content
    %contact_request_form{user: "user"}
