%md-dialog.auth-modal
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %div
      %h1.lmo-h1{translate: "contact_message_form.contact_us"}
      %dismiss_modal_button
  .md-dialog-content
    %contact_form
