.auth-signup-form__welcome {
  text-align: center;
}

.auth-signup-form__name {
  margin-top: 40px;
  margin-bottom: 0px;
}

.auth-signup-form__consent {
  padding-left: 4px;
  text-align: left;
}

.auth-signup-form__avatar img {
  height: 80px;
  background: white;
}
