.auth-signup-form{ng-if: "!allow()"}
  %h2.lmo-h2{translate: "auth_form.invitation_required"}
.auth-signup-form{ng-if: "allow()"}
  .auth-signup-form__welcome
    %auth_avatar{user: "user"}
    %h2.lmo-h2{translate: "auth_form.welcome", translate-value-site-name: "{{vars.site_name}}"}
    %p{translate: "auth_form.sign_up_helptext"}

  %md-input-container.md-block.auth-signup-form__name
    %label{translate: "auth_form.name"}
    %input.lmo-primary-form-input{type: "text", md-autofocus: "true", placeholder: "{{auth_form.name_placeholder | translate}}", ng-model: "vars.name", ng-required: "true"}
    %validation_errors{subject: "user", field: "name"}

  .auth-signup-form__consent{ng-if: "termsUrl"}
    %md-checkbox.auth-signup-form__legal-accepted{ng-model: "vars.legalAccepted"}
    %span{translate: "auth_form.i_accept", translate-values: "{termsUrl: termsUrl, privacyUrl: privacyUrl}"}
    %validation_errors{subject: "user", field: "legalAccepted"}

  %md-button.md-primary.md-raised.auth-signup-form__submit{ng-disabled: "!vars.name || (termsUrl &&!vars.legalAccepted)", translate: "auth_form.create_account", ng-click: "submit()"}

  %div{vc-recaptcha: "true", size: "invisible", key: "recaptchaKey", ng-if: "useRecaptcha()", on-success: "submitForm(response)"}
