.poll-score-form
  %poll_common_form_fields{poll: "poll"}
  %poll_common_form_options{poll: "poll"}
  %poll_common_closing_at_field.md-input-compensate.md-block{poll: "poll"}

  .md-input-compensate
    %poll_common_settings{poll: "poll"}
