.thread-lintel{ng-show: 'show'}
  %img.thread-lintel__logo{src: '{{discussion.group().logoUrl()}}'}
  .thread-lintel__title
    {{ discussion.title }}

  .thread-lintel__last-read-caret{style: 'left: {{lastReadPercent}}%'}
  .thread-lintel__progress-wrap.thread-lintel__progress
    .thread-lintel__progress-bar.thread-lintel__progress{style: 'width: {{positionPercent}}%'}
