.thread-lintel {
  margin: 0 auto;
  border: 1px solid $border-color;
  max-width: $main-max-width;
  background-color: $card-background-color;
  @include fontMedium;
  clear: both;
}

.thread-lintel__left {
  float: left;
  padding: 7px 0 7px 15px;
}

.thread-lintel__right {
  float: right;
  padding: 7px 15px 7px 0px;
}

.thread-lintel__title {
  @include fontHelveticaBold;
  line-height: 30px;
  cursor: pointer;
}

.thread-lintel__proposal {
  font-weight: 400px;
  cursor: pointer;
}

.thread-lintel__proposal-pie-chart {
  float: left;
  padding-right: 5px;
}

.thread-lintel__progress {
  width: 100%;
  height: 2px;
}

.thread-lintel__progress-wrap {
  margin: 0 0;
  overflow: hidden;
  position: relative;
}

.thread-lintel__progress-bar {
  @include transition(width, 0.5s, ease-in-out);
  width: 0%;
  background: $progress-bar-color;
  left: 0;
  position: absolute;
  top: 0;
}
