.thread-lintel {
  margin: 0 auto;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  max-width: $main-max-width;
  background-color: $card-background-color;
  @include fontHelveticaBold;
  @include fontMedium;
  clear: both;
}

.thread-lintel__logo {
  width: 30px;
  height: 30px;
  float: left;
  margin: 7px;
}

.thread-lintel__title {
  line-height: 30px;
  padding: 7px 0;
}

.thread-lintel__go-to-end {
  float: right;
  @include fontHelveticaLight;
  @include fontMedium;
  color: $grey-on-white;
}

.thread-lintel__progress {
  width: 100%;
  height: 2px;
}

.thread-lintel__progress-wrap {
  margin: 0 0;
  overflow: hidden;
  position: relative;
}

.thread-lintel__progress-bar {
  @include transition(width, 0.5s, ease-in-out);
  width: 0%;
  background: $progress-bar-color;
  left: 0;
  position: absolute;
  top: 0;
}
