.thread-lintel{ng-show: 'show()'}
  %img.thread-lintel__logo{ng-src: '{{discussion.group().logoUrl()}}'}
  .thread-lintel__title
    {{ discussion.title }}

  .thread-lintel__progress-wrap.thread-lintel__progress
    .thread-lintel__progress-bar.thread-lintel__progress{style: 'width: {{positionPercent}}%'}
