.thread-lintel {
  margin: 0 auto;
  padding: 5px 10px;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  max-width: $main-max-width;
  background-color: $card-background-color;
  @include fontHelveticaBold;
  @include fontMedium;
}

.thread-lintel__logo {
  width: 30px;
  height: 30px;
}

.thread-lintel__title {
  vertical-align: middle;
  clear: none;
}

.thread-lintel__go-to-end {
  float: right;
  @include fontHelveticaLight;
  @include fontMedium;
  color: $meta-text-color;
}

.thread-lintel__progress {
  width: 100%;
  height: 2px;
}

.thread-lintel__progress-wrap {
  margin: 0 0;
  overflow: hidden;
  position: relative;
}

.thread-lintel__progress-bar {
  width: 0%;
  background: $progress-bar-color;
  left: 0;
  position: absolute;
  top: 0;
}
