%section.group-help-card
  %h2.lmo-card-heading Help
  <iframe width="269" height="150" src="https://www.youtube.com/embed/B1gLEAKPkOc" frameborder="0" allowfullscreen></iframe>
  .group-help-card__articles
    .media
      .media-left
        %img.group-help-card__article-thumbnail{src: '/img/efficient-meetings-thumbnail.png', alt: 'Weaving in agenda points'}
      .media-body
        %a.group-help-card__article-title{href: 'http://blog.loomio.org/2015/07/16/more-efficient-in-person-meetings-with-loomio/', title: 'More efficient in person meetings with loomio'}
          %strong More efficient in-person meetings with Loomio
        %p Find a balance between in-person meetings and online collaboration.
    .media
      .media-left
        %img.group-help-card__article-thumbnail{src: '/img/caring-work.png', alt: 'Caring work environment'}
      .media-body
        %a.group-help-card__article-title{href: 'http://blog.loomio.org/2015/08/05/feelings-magic-gendered-work-processes-structures-of-a-collaborative-workplace/', title: 'Feelings, magic, gendered work'}
          %strong Feelings, magic & gendered work
        %p Processes & structures of a collaborative workplace
