%table{style: "width: 100%"}
  - @info.poll.stance_data.keys.each_with_index do |key, index|
    %tr
      %td= key
    %tr
      %td
        %table{style: "width: #{percentage_for(@info.poll, key)}%"}
          %tr
            %td{height: '40px', style: "background-color: #{Poll::COLORS.dig('poll', index)}"}
