- if poll.multiple_choice
  = render "poll_mailer/common/multiple_choice_vote", poll: poll, recipient: recipient
- else
  = render "poll_mailer/common/single_choice_vote", poll: poll, recipient: recipient, action_name: action_name
