.notify-input {
  margin: 24px 0;
}

.notify-input__label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38) !important;
}

.notify-input__chips md-chip {
  height: 40px;
  padding: 4px;
  padding-right: 28px !important;
}
