.subscription-success-modal__mascot {
  float: left;
  height: 150px;
  padding: 0 25px 25px 0;
  @media (max-width: 450px) { display: none; }
}

.subscription-success-modal__message {
  margin-top: 20px;
}

.subscription-success-modal__contact-link {
  @include lmoBtnLink;
  color: $link-color;
}
