.subscription-success-modal
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1.modal-title{translate: "subscription_success_modal.heading"}

  .modal-body
    %img.subscription-success-modal__mascot{src: "/img/mascot.png"}
    .subscription-success-modal__message
      %p{translate: "subscription_success_modal.receipt"}
      %p
        %span{translate: "subscription_success_modal.change_subscription"}
        %span
          %button.subscription-success-modal__contact-link{translate: "subscription_success_modal.contact_link", ng-click: "openIntercom()"}
      %p{translate: "subscription_success_modal.sign_off"}

  .modal-footer.lmo-clearfix
    %button.lmo-btn--submit{type: "button", ng-click: "$close()", translate: "subscription_success_modal.ok_got_it"}
