<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
%p Hi there,
%p="Just so you know, the motion " + link_to("[" + @group.name + "] " + @motion.name, @motion) + " has just been blocked by #{@user.name} (#{@user.email})."
</body>
</html>
