= render '/application/mailer_doctype'
%html
  %p= t("email.proposal_closed.intro", proposal_name: @motion.name)

  %p= link_to(t("email.proposal_closed.specify_outcome"), discussion_url(@motion.discussion, proposal: @motion))
