= render '/application/mailer_doctype'
%html
  %p Your proposal #{@motion.name} has closed.

  %p #{link_to('Please click here to specify an outcome.', discussion_url(@motion.discussion, proposal: @motion))}
