<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
%h4 Hi,
%p="#{@motion.name} was created in #{@group.name}"
%p
  You can vote and discuss it at:
  =link_to('Tautoko', motion_url(@motion))
%br
%p Thanks!
</body>
</html>
