%li.motion{data:{motion_id: item.id}}
  = link_to item do
    .row
      .col-xs-1
        .icon
          -values = item.vote_counts.values
          .motion-sparkline
            -if values.sum == 0
              0,0,0,0,1
            -else
              =values.join(',')

      .col-xs-11
        %span.title= item.name
        %span.description= truncate(render_rich_text(item.description,item.uses_markdown), length: 180, omission: '...', separator: " ", :escape => false) unless item.description.blank?
