%li.motion.row-fluid{data:{motion_id: item.id}}
  = link_to item do
    .span1
      .icon
        -values = item.vote_counts.values
        .motion-sparkline
          -if values.sum == 0
            0,0,0,0,1
          -else
            =values.join(',')

    .span11
      %span.title= item.name
      %span.description= "- #{truncate(item.description, length: 180, omission: '...', separator: " ")}" unless item.description.blank?
