%li.motion.row{data:{motion_id: item.id}}
  = link_to item do
    .col-md-1
      .icon
        -values = item.vote_counts.values
        .motion-sparkline
          -if values.sum == 0
            0,0,0,0,1
          -else
            =values.join(',')

    .col-md-11
      %col-md-.title= item.name
      %col-md-.description= "- #{truncate(item.description, length: 180, omission: '...', separator: " ")}" unless item.description.blank?
