.dropdown.group-page-actions
  %button.btn.lmo-btn-nude.dropdown-toggle{href: '#'}
    %span{translate: 'group_page.options.label'}>
    %i.fa.fa-lg.fa-chevron-down{aria-hidden: 'true'}

  .dropdown-menu.dropdown-menu-with-labels.dropdown-menu-right{role: 'menu'}
    .dropdown-heading{translate: 'group_page.options_label', role: 'heading'}
    %ul.dropdown-menu-items
      %li.dropdown-menu-item{ng-if: 'groupActions.canEditGroup()'}
        %a{href: '/g/{{::group.key}}/edit'}
          .dropdown-menu-item-label{translate: 'group_page.options.edit_group'}
          .dropdown-menu-item-details
      %li.dropdown-menu-item
        %a{href: '#', ng-click: 'groupActions.openLeaveGroupModal()'}
          .dropdown-menu-item-label{translate: 'group_page.options.leave_group'}
        .dropdown-menu-item-details
      %li.dropdown-menu-item{ng-if: 'groupActions.canDeactivateGroup()'}
        %a{href: '#', ng-click: 'groupActions.openDeactivateGroupModel()'}
          .dropdown-menu-item-label{translate: 'group_page.options.deactivate_group'}
        .dropdown-menu-item-details


