.group-page-actions{dropdown: ''}
  %button.btn.lmo-btn-nude{dropdown-toggle: ''}
    %span{translate: 'group_page.options.label'}>
    %i.fa.fa-lg.fa-angle-down{aria-hidden: 'true'}

  .dropdown-menu.dropdown-menu-with-labels.dropdown-menu-right{role: 'menu'}
    .dropdown-heading{translate: 'group_page.options_label', role: 'heading'}
    %ul.dropdown-menu-items
      %li.dropdown-menu-item{ng-if: 'groupActions.canEditGroup()'}
        %a.group-page-actions__edit-group-link{href: '', ng-click: 'groupActions.editGroup()'}
          .dropdown-menu-item-label{translate: 'group_page.options.edit_group'}
          .dropdown-menu-item-details
      %li.dropdown-menu-item{ng-if: 'groupActions.canAdministerGroup()'}
        %a.group-page-actions__manage-memberships-link{lmo-href-for: 'group', lmo-href-action: 'memberships'}
          .dropdown-menu-item-label{translate: 'group_page.options.manage_members'}
        .dropdown-menu-item-details
      %li.dropdown-menu-item{ng-if: 'groupActions.canManageGroupSubscription()'}
        %a.group-page-actions__manage-subscription-link{ng-if: 'group.subscriptionKind == "paid"', ng-click: 'groupActions.manageSubscriptions()'}
          .dropdown-menu-item-label{translate: 'group_page.options.manage_subscription'}
        %a.group-page-actions__manage-subscription-link{ng-if: 'group.subscriptionKind == "gift"', ng-click: 'groupActions.choosePlan()'}
          .dropdown-menu-item-label{translate: 'group_page.options.manage_subscription'}
        .dropdown-menu-item-details
      %li.dropdown-menu-item
        %a.group-page-actions__leave-group{href: '', ng-click: 'groupActions.leaveGroup()'}
          .dropdown-menu-item-label{translate: 'group_page.options.leave_group'}
        .dropdown-menu-item-details
      %li.dropdown-menu-item{ng-if: 'groupActions.canArchiveGroup()'}
        %a.group-page-actions__archive-group{href: '', ng-click: 'groupActions.archiveGroup()'}
          .dropdown-menu-item-label{translate: 'group_page.options.deactivate_group'}
        .dropdown-menu-item-details
