.mute-explanation-modal
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1.mute-explanation-modal__title{translate: "mute_explanation_modal.mute_thread"}
      %material_modal_header_cancel_button
  .md-dialog-content.md-body-1
    .mute-explanation-modal__mute-explanation{translate: "mute_explanation_modal.body_html"}
    .mute-explanation-modal__muted-threads-image
      %img{src: "/img/muted-threads-sidebar.png", alt: "{{ 'mute_explanation_modal.image_alt' | translate }}"}

    .lmo-md-actions
      %md-button.mute-explanation-modal__cancel{type: "button", ng-click: "$close()", translate: "common.action.cancel"}
      %md-button.md-raised.md-primary.mute-explanation-modal__mute-thread{type: "button", ng-click: "muteThread()", translate: "mute_explanation_modal.mute_thread"}
