.auth-signup-form__welcome {
  text-align: center;
}

.auth-signup-form__avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid $border-color;
  box-shadow: -1px 1px 2px $border-color;
  margin: auto;
  background: $background-color;
}

.auth-signup-form__avatar img {
  height: 80px;
  padding: 0 6px;
  background: white;
}
