.proposal-actions-dropdown.dropdown.pull-right
  %button.btn.lmo-btn-nude.dropdown-toggle.proposal-actions-dropdown__btn{href:''}
    %i.fa.fa-chevron-down
  .dropdown-menu.dropdown-menu-right{role: 'menu'}
    %ul.dropdown-menu-items
      %li.dropdown-menu-item{ng-if: 'canEditProposal()'}
        %a.dropdown-menu-item-label.proposal-actions-dropdown__edit-link{ng_click: 'editProposal()'}
          %span{translate: 'proposal_expanded.edit_proposal'}

      %li.dropdown-menu-item{ng-if: '!canEditProposal() && canCloseOrExtendProposal()'}
        %a.dropdown-menu-item-label.proposal-actions-dropdown__extend-link{href:'#', ng_click: 'extendProposal()'}
          %span{translate: 'proposal_expanded.extend_proposal'}

      %li.dropdown-menu-item{ng-if: 'canCloseOrExtendProposal()'}
        %a.dropdown-menu-item-label.proposal-actions-dropdown__close-link{href:'#', ng_click: 'closeProposal()'}
          %span{translate: 'proposal_expanded.close_proposal'}
