.lmo-blank
  %loading{ng-if: "loadExecuting"}
  .add-members-modal{ng-if: "!loadExecuting"}
    .lmo-disabled-form{ng-show: "isDisabled"}
    .modal-header
      %modal_header_cancel_button
      %h1.lmo-h1.modal-title{translate: "add_members_modal.heading", translate-values: "{name: group.parentName()}"}

    .modal-body
      .add-members-modal__empty-list{ng-if: "!canAddMembers()"}
        %p{translate: "add_members_modal.no_members_to_add", translate-value-parent: "{{group.parentName()}}"}

      .add-members-modal__list{ng-if: "canAddMembers()"}
        %label.add-members-modal__list-item{ng-repeat: "member in members()"}
          %input{type: "checkbox", checklist-model: "selectedIds", checklist-value: "member.id"}
          %user_avatar{user: "member", size: "small"}
          %strong {{member.name}}
          &nbsp;
          (@{{member.username}})

    .modal-footer.lmo-clearfix
      %button.lmo-btn--cancel{type: "button", ng-click: "$close()", translate: "common.action.close"}
      %button.lmo-btn--submit.add-members-modal__submit{type: "button", ng-click: "submit()", translate: "add_members_modal.add_members", ng-if: "canAddMembers()"}
