%md-dialog.lmo-blank
  %loading{ng-if: "loadExecuting"}
  .add-members-modal{ng-if: "!loadExecuting"}
    %md-toolbar
      .md-toolbar-tools.lmo-flex__space-between
        %h1.lmo-h1.modal-title{translate: "add_members_modal.heading", translate-values: "{name: group.parentName()}"}
        %material_modal_header_cancel_button
    .md-dialog-content
      .lmo-disabled-form{ng-show: "isDisabled"}
      .add-members-modal__empty-list{ng-if: "!canAddMembers()"}
        %p{translate: "add_members_modal.no_members_to_add", translate-value-parent: "{{group.parentName()}}"}

      .add-members-modal__list{ng-if: "canAddMembers()"}
        %label.add-members-modal__list-item{ng-repeat: "member in members() | orderBy: 'username' track by member.id"}
          %input{type: "checkbox", checklist-model: "selectedIds", checklist-value: "member.id"}
          %user_avatar{user: "member", size: "small"}
          %strong {{member.name}}
          &nbsp;
          (@{{member.username}})

      .lmo-md-actions
        %md-button{type: "button", ng-click: "reopenInvitationsForm()", translate: "common.action.back"}
        %md-button.md-primary.md-raised.add-members-modal__submit{type: "button", ng-click: "submit()", translate: "add_members_modal.add_members", ng-if: "canAddMembers()"}
