.lmo-one-column-layout
  %main.groups-page
    .row.groups-page__heading
      %h1.lmo-h1-medium{translate: "groups_page.page_header"}
      %button.groups-page__new-group{ng-click: "groupsPage.startGroup()"}
        %i.fa.fa-lg.fa-plus>
        %span{translate: "navbar.user_options.new_group"}
    .groups-page__groups
      %ul.groups-page__parent-groups
        %li.groups-page__parent-group{ng-repeat: "group in groupsPage.parentGroups() | orderBy: 'name' track by group.id"}
          .groups-page__parent-group-header.clearfix
            %img.groups-page__parent-group-logo{ng-src: "{{group.logoUrl()}}", aria-hidden: "true"}>
            %h2.groups-page__parent-group-name{id: "{{group.key}}"}
              %a{lmo-href-for: "group"} {{group.name}}
          %ul.groups-page__subgroups{ng-if: "group.subgroups().length > 0"}
            %li.groups-page__subgroup{ng-repeat: "subgroup in group.subgroups() | orderBy: 'name' track by subgroup.id"}
              %a{lmo-href-for: "subgroup"} {{subgroup.name}}
