.team-link-modal__caution {
  font-size: 13px;
  color: #767676;
}

.team-link-modal__flex {
  @include displayFlex;
  align-items: flex-start; // | flex-end | center | baseline | stretch;
}

.team-link-modal__shareable-link {
  width: 100%;
  margin-right: 10px;
}
