.activity-card {
  padding: $cardPaddingSize 0;
}

.activity-card__settings {
  md-select {
    margin: 0;
  }
  padding: $cardPaddingSize;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.activity-card__load-more-sensor {
  height: 1px;
}
.activity-card__load-more{
  @include fontSmall;
  display: flex;
  align-items: center;
  color: $grey-on-grey;
  line-height: 30px;
  padding: 0 10px;
  background-color: $background-color;
  margin-bottom: 20px;
  margin-left: $cardPaddingSize;
  margin-right: $cardPaddingSize;
  cursor: pointer;
  i {
    margin-right: 4px;
    font-size: 16px;
  }
}

.activity-card__last-read-activity {
  visibility: hidden; /* can't display none because scrolling won't work */
  line-height: 0px;
  margin: -10px 0;
}

.activity-card__new-activity {
  visibility: visible;
  margin: 0px 0 25px 0;
  padding-bottom: 3px;
  border-bottom: 1px solid $loomio-orange;
  text-align: right;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.3px;
  color: $loomio-orange;

}

.activity-card__activity-list{
  list-style: none;
  padding: 0;
}
