%section.activity-card{aria-labelledby: "activity-card-title"}
  .activity-card__settings{ng-show: "eventWindow.anyLoaded()"}
    %md-select.md-no-underline{ng-model: "position", ng-change: "init(position)"}
      %md-option{value: "beginning", translate: "activity_card.beginning"}
      %md-option{value: "unread",    translate: "activity_card.unread", ng-disabled: "!eventWindow.anyUnread()"}
      %md-option{value: "latest",    translate: "activity_card.latest"}
    %md-select.md-no-underline{ng-model: "renderMode", ng-change: "init()"}
      %md-option{value: "chronological", translate: "activity_card.chronological"}
      %md-option{value: "nested", translate: "activity_card.nested"}

  %div{ng-if: "debug()"}
    first: {{eventWindow.firstInSequence()}}
    last:  {{eventWindow.lastInSequence()}}
    total: {{eventWindow.numTotal()}}
    -
    min: {{eventWindow.min}}
    max: {{eventWindow.max}}
    per: {{per}}
    -
    firstLoaded: {{eventWindow.firstLoaded()}}
    lastLoaded:  {{eventWindow.lastLoaded()}}
    loadedCount: {{eventWindow.numLoaded()}}
    -
    read: {{discussion.readItemsCount()}}
    unread: {{discussion.unreadItemsCount()}}
    firstUnread {{discussion.firstUnreadSequenceId()}}
    initialSequenceId: {{initialSequenceId(initialPosition())}}
    requestedSequenceId:  {{discussion.requestedSequenceId}}
    position: {{initialPosition()}}

  %loading_content.lmo-card-left-right-padding{ng-if: "loader.loading", block-count: 2}
  .activity-card__content{ng-if: "!loader.loading"}
    %a.activity-card__load-more.lmo-flex.lmo-flex__center.lmo-no-print{href: "", ng-show: "eventWindow.anyPrevious() && !eventWindow.loader.loadingPrevious", ng-click: "eventWindow.showPrevious()", tabindex: "0"}
      %i.mdi.mdi-autorenew>
      %span{translate: "discussion.load_previous", translate-value-count: "{{eventWindow.numPrevious()}}"}
    %loading.activity-card__loading.page-loading{ng-show: "eventWindow.loader.loadingPrevious"}
    %ul.activity-card__activity-list
      %li.activity-card__activity-list-item{ng_repeat: "event in eventWindow.windowedEvents() track by event.id"}
        %thread_item{event: "event", event_window: "eventWindow"}
    .activity-card__load-more-sensor.lmo-no-print{in-view: "$inview && !eventWindow.loader.loadingMore && eventWindow.anyNext() && eventWindow.showNext()", in-view-options: "{throttle: 200}"}
    %loading.activity-card__loading.page-loading{ng-show: "eventWindow.loader.loadingMore"}

  %add_comment_panel{ng-if: "eventWindow", event_window: "eventWindow", parent_event: "discussion.createdEvent()"}
