.proposal-collapsed {
  position: relative;
  display: block;
  color: $primary-text-color;
  padding: 15px 17px;
}

.proposal-collapsed__flex {
  @include displayFlex;
}

.proposal-collapsed__body {
  margin-left: 10px;
  width: 100%;
  overflow: hidden;
}

.proposal-collapsed-title {
  padding-top: 5px;
}

.proposal-collapsed:hover {
  background-color: $list-hover-color;
  text-decoration: none;
}

.proposal-collapsed__outcome {
  color: $grey-on-white;
  img { max-width: 100%; }
}

.proposal-collapsed__closed-at {
  padding-left: 5px;
}

.proposal-collapsed__outcome {
  @include fontSmall;
  color: $primary-text-color;
  margin-top: 5px;
}

.proposal-collapsed__outcome span {
  display: inline-block;
}

.proposal-collapsed__outcome img.emojione {
  width: 20px;
  height: 20px;
}
