.loading-wrapper.lmo-two-column-layout
  %loading{ng-if: "!groupPage.group"}
  %main.group-page.lmo-row{ng-if: "groupPage.group"}
    %outlet{name: "before-group-page", model: "groupPage.group"}
    %group_theme{group: "groupPage.group", home-page: "true"}
    .lmo-row
      .lmo-group-column-left
        %description_card{group: "groupPage.group"}
        %discussions_card{group: "groupPage.group", page_window: "groupPage.pageWindow"}
      .lmo-group-column-right
        %outlet{name: "before-group-page-column-right", model: "groupPage.group"}
        %membership_requests_card{group: "groupPage.group"}
        %members_card{group: "groupPage.group", ng-if: "groupPage.canViewMemberships()"}
        %group_previous_proposals_card{group: "groupPage.group", ng-if: "!groupPage.usePolls"}
        %group_previous_polls_card{group: "groupPage.group", ng-if: "groupPage.showPreviousPolls()"}
        %subgroups_card{group: "groupPage.group"}
        %group_help_card{group: "groupPage.group"}
