.loading-wrapper.lmo-two-column-layout
  %loading{ng-if: "!groupPage.group"}
  %main.group-page{ng-if: "groupPage.group"}
    %group_theme{group: "groupPage.group", home-page: "true"}
    .lmo-row
      .lmo-group-column-left
        %section.group-page__description{aria-labelledby: "description-card-title"}
          %h2#description-card-title.lmo-card-heading{ translate: "group_page.description"}
          .group-page__description-placeholder.lmo-placeholder.lmo-hint-text{translate: "group_page.description_placeholder", ng-if: "groupPage.showDescriptionPlaceholder()" }
          .group-page__description-text.lmo-last.lmo-markdown-wrapper{ marked: "groupPage.group.description" }
        %discussions_card{group: "groupPage.group"}
      .lmo-group-column-right
        %trial_card{group: "groupPage.group"}
        %gift_card{group: "groupPage.group"}
        %membership_requests_card{group: "groupPage.group"}
        %members_card{group: "groupPage.group"}
        %group_previous_proposals_card{group: "groupPage.group"}
        %subgroups_card{group: "groupPage.group"}
        %group_volume_card{group: "groupPage.group"}
        %group_help_card{group: "groupPage.group"}
