!!!
%html{'ng-app' => 'loomioApp'}
  %head
    %title Loomio
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/

    = stylesheet_link_tag    "/css/app.css", :media => "all"
    = csrf_meta_tags

  %body
    -#%base{href: '/next/'}
    .container{'ng-view' => ''}
    = javascript_include_tag "/js/app.js"
