!!!
%html{'ng-app' => 'loomioApp'}
  %head
    %title Loomio
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: '/css/app.css', media: 'screen', rel: 'stylesheet', type: 'text/css'}
  %body
    -#%base{href: '/next/'}
    .container{'ng-view' => ''}
    %script{ src: '/js/app.js', type: 'text/javascript'}
