.lmo-one-column-layout
  %main.start-group-page.lmo-row
    %loading{ng-if: "!startGroupPage.group"}
    .start-group-page__main-content.lmo-flex.lmo-card{ng-if: "startGroupPage.group", layout: "column"}
      %h1.lmo-card-heading{translate: "group_form.start_group_heading"}
      %group_form{group: "startGroupPage.group"}
