.proposal-expanded{ng-show: "proposal", id: "proposal-{{proposal.key}}"}
  %proposal_actions_dropdown{proposal: "proposal", ng-if: "showActionsDropdown()"}
  %a.proposal-expanded__proposal-name-link{lmo-href-for: "proposal"}
    %h3.proposal-expanded__proposal-name
      {{proposal.name}}
    %h3{ng-if: "translation"}
      %translation{translation: "translation", field: "name"}

  .proposal-expanded__started-by
    %span{translate: "proposal_expanded.started_by", translate-values: "{'name': proposal.authorName()}"}
    %span{aria-hidden: "true"}>·
    %a{lmo-href-for: "proposal"}
      %proposal_closing_time{proposal: "proposal"}>
    %translate_button.lmo-link-color{model: "proposal", showdot: "true"}

  .proposal-expanded-description.lmo-markdown-wrapper{marked: "proposal.cookedDescription()" }

  .proposal-expanded__attachments{ng-repeat: "attachment in proposal.attachments() | orderBy:'createdAt' track by attachment.id"}
    %attachment_preview{attachment: "attachment", mode: "context"}

  %translation{ng-if: "translation && proposal.description", translation: "translation", field: "description"}
  %proposal_outcome_panel{ng-if: "showOutcomePanel()", proposal: "proposal"}
  %translation{ng-if: "translation && proposal.outcome", translation: "translation", field: "outcome"}

  %position_buttons_panel{proposal: "proposal"}
  %proposal_positions_panel{proposal: "proposal"}

  %a.proposal-expanded__collapse.pull-right{href: "", ng-click: "collapse()", translate: "proposal_expanded.collapse", ng-show: "canCollapse"}
  .clearfix
