.proposal-expanded__proposal-name-link:hover{
  text-decoration: none !important;
}

.proposal-expanded {
  background-color: #fff;
}

.proposal-expanded__proposal-name{
  @include md-title;
  margin-bottom: 0.4em;
}

.proposal-expanded__collapse{
  @include fontSmall;
  color: $grey-on-white;
  text-decoration: underline;
}

.proposal-expanded__started-by {
  @include fontSmall;
  color: $grey-on-white;
  margin-bottom: 15px;
}

.proposal-expanded-votes {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.proposal-expanded__attachments {
  margin-top: 16px;
}
