.modal-body.donation-modal__body {
  padding: 0px;
}

.donation-modal__go-to-group-button {
  @include lmoBtnDefault;
  float: left;
}

.donation-modal__confirm-button {
  @include lmoBtnOffer;
  @include lmoBtnIcon;
  float: right;
}

.donation-modal__loomio-team {
  width: 100%;
  overflow: hidden;
}

.donation-modal__message {
  padding: 10px 15px 0 15px;
}

@media (max-width: 480px) {
  .donation-modal__confirm-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .donation-modal__go-to-group-button {
    display: block;
    width: 100%;
  }
}
