.group-page-notifications{dropdown: '', on-toggle: 'toggled(open)'}
  %a.group-page-notifications-button.btn.btn-icon.btn-default.btn-block.dropdown-toggle{href: '#'}
    %i.fa.fa-lg.fa-volume-up{ng_show: 'membership.followingByDefault'}>
    %i.fa.fa-lg.fa-volume-off.fa-volume-off-padded{ng_hide: 'membership.followingByDefault'}>
    %span{translate: 'group_page.notifications_label'}
  .dropdown-menu.dropdown-menu-with-labels.dropdown-menu-right{role: 'menu'}
    %h3.dropdown-heading{translate: 'group_page.notifications_label'}
    %ul.dropdown-menu-items

      %li.dropdown-menu-item{ng_click: 'followGroup(true)'}
        .dropdown-menu-item-label
          %i.fa.fa-lg.fa-volume-up>
          %span{translate: 'group_page.notifications.following'}
          %i.fa.fa-lg.fa-check{ng_show: 'membership.followingByDefault'}
        .dropdown-menu-item-details
          %span{translate: 'group_page.notifications.following_details'}

      %li.dropdown-menu-item{ng_click: 'followGroup(false)'}
        .dropdown-menu-item-label
          %i.fa.fa-lg.fa-volume-off>
          %span{translate: 'group_page.notifications.not_following'}
          %i.fa.fa-lg.fa-check{ng_hide: 'membership.followingByDefault'}
        .dropdown-menu-item-details
          %span{translate: 'group_page.notifications.not_following_details'}
