- first_name = @recipient.name.split(' ').first

= "Hi #{first_name}, thanks for trying Loomio!"
\
I just wanted to reach out to welcome you to the Loomio community and offer any support I can, so don’t hesitate to get in touch.
\
I’m interested to hear what problem you are trying to solve with Loomio?
\
Warm regards,
Chelsea
