- first_name = @recipient.name.split(' ').first

%p= "Hi #{first_name}, thanks for trying Loomio!"

%p I just wanted to reach out to welcome you to the Loomio community and offer any support I can, so don’t hesitate to get in touch.
%p I’m interested to hear what problem you are trying to solve with Loomio?

%p
  Warm regards,
  %br
  Chelsea
