- first_name = @recipient.name.split(' ').first

%p= "Hi #{first_name}, thanks for trying Loomio!"

%p
  Now that you’ve finished setup, you can
  = link_to "invite people", new_group_invitation_url(@group)
  to join your group.
%p
  If you’re looking for some pointers on how to get the most out the tool, check out the
  = link_to "How It Works page", help_url
  for a quick introduction.

%p If you’ve got any questions or feedback, just reply to this email. I’d love to hear from you!

%p
  Best wishes,
  %br
  Rich

%p on behalf of the Loomio team