- first_name = @recipient.name.split(' ').first

= "Hi #{first_name}, thanks for trying Loomio!"
\
Now that you’ve finished setup, you can invite people to join your group:
= new_group_invitation_url(@group)
\
If you’re looking for some pointers on how to get the most out the tool, check out the How It Works page for a quick introduction:
= help_url
\
If you’ve got any questions or feedback, just reply to this email. I’d love to hear from you!
\
Best wishes,
Rich
\
on behalf of the Loomio team