.dropdown-menu{
  min-width: 320px;
  padding: 15px;
}

.dropdown-menu-with-selector-list{
  padding: 0;
}

.dropdown-menu label {
  font-weight: normal;
  cursor: pointer;
}

.dropdown-menu-with-labels a{
  color: $primary-text-color;
}

.dropdown-menu-with-labels .fa-check{
  margin-left: 5px;
}

.dropdown-menu-items{
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu-item{
  cursor: pointer;
  margin-bottom: 13px;
}

.dropdown-menu-item:last-of-type{
  margin-bottom: 0px;
}

form .dropdown-menu-item{
  margin-right: -26px;
}

.dropdown-menu-item a, .dropdown-menu-item label{
  display: block;
  margin: -13px;
  padding: 13px;
  color: $primary-text-color;
}

.dropdown-menu-item a:hover, .dropdown-menu-item label:hover{
  display: block;
  text-decoration: none;
  background-color: $list-hover-color;
}

.dropdown-menu-item-icon{
  float: left;
  width: 52px;
  margin-left: -13px;
  text-align: center;
}


.disabled .dropdown-menu-item{
  cursor: auto;
}

.dropdown-menu-item.lmo-last{
  margin-bottom: 0;
}

li .dropdown-menu-item-label{
  font-weight: bold;
  line-height: 24px;
  i{
    font-weight: normal;
    width: 18px;
    color: $primary-text-color;
  }
}

.disabled .dropdown-menu-item{
  color: $grey-on-grey;
}

.dropdown-heading{
  @include fontHelveticaMedium;
  @include fontSmall;
  text-transform: uppercase;
  color: $grey-on-white;
  margin: -3px 0 13px 0;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 1px solid $border-color;
}

.dropdown-menu-right{
  right: 0;
}

.dropdown{
  position: relative;
  @media (max-width: $screen-xs-min){
    position: static;
    .dropdown-menu{
      top: auto;
      right: 0px;
      left: 0px;
      margin: 2px 8px;
      min-width: 250px;
      max-width: none;
    }
  }
}
