.auth-inactive-form
  %p.lmo-hint-text{translate: "auth_form.account_inactive", translate-value-email: "{{user.email}}"}
  %md-button.md-raised.md-primary.auth-inactive-form__submit{ng-click: "contactUs()", translate: "contact_message_form.contact_us"}
