.poll-common-card-header.lmo-flex.lmo-flex__space-between
  .poll-common-card-header.lmo-flex
    %i.mdi.mdi-24px{class: "{{icon()}}"}
    %h2.lmo-card-heading.poll-common-card-header__poll-type{translate: "poll_types.{{poll.pollType}}"}
  %poll_common_actions_dropdown.pull-right{poll: "poll", ng-if: "pollHasActions()"}
