.flash-root{aria-live: 'assertive', role: 'alert'}
  .flash-root__container{ng-show: 'display()', ng-animate: "'enter'", class: 'alert-{{flash.level}}'}
    .flash-root__message
      %loading.flash-root__loading{ng-if: 'loading()'}
      {{ flash.message | translate:flash.options }}
