.flash-root{aria-live: 'assertive', role: 'alert'}
  .flash-root__container{ng-show: 'display()', ng-animate: "'enter'", class: 'alert-{{flash.level}}'}
    .flash-root__message{ng-if:'loading()'}
      %loading.flash-root__loading
      %span{translate: 'common.action.loading'}
    .flash-root__message{ng-if:'!loading()'}
      {{ flash.message | translate:flash.options }}
