.flash-root {
  bottom: 20px;
  left: 20px;
  min-width: 220px;
  position: fixed;
  z-index: 200;
}

.flash-container {
  background-color: $primary-text-color;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  padding: 15px;
  width: 100%;
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}
