.flash-root {
  bottom: 20px;
  left: 20px;
  min-width: 220px;
  position: fixed;
  z-index: 2000;
}

.flash-root__container {
  background-color: $primary-text-color;
  color: white;
  font-size: 15px;
  line-height: 20px;
  padding: 15px;
  width: 100%;
  border-radius: 6px;
}

.flash-root__loading.page-loading {
  padding: 0 12px 0 0;
  display: inline-block;
  color: white;
}
