.poll-common-accordion
  .lmo-card--no-padding
    %h2.lmo-card-heading.lmo-card-heading-padding{translate: "poll_common_accordion.title"}
    %ng-repeat{ng-repeat: "poll in pollCollection.polls()"}
      .poll-common-accordion__poll
        %poll_common_collapsed{poll: "poll", ng-if: "selectedPollId != poll.id", ng-click: "selectPoll(poll)"}
        %poll_common_card{poll: "poll", ng-if: "selectedPollId == poll.id"}
    %a.poll-common-accordion__all-activity.lmo-card-minor-action.lmo-card-padding{href: "#", translate: "poll_common_accordion.all_activity"}
