%li.visible-xs{dropdown: '', on-toggle: 'toggleInbox(open)'}
  %a.loomio-nav-btn.has-badge.dropdown-toggle.cuke-nav-inbox-btn{href: '#'}
    / lets put unread counts in here:
    %span.badge
    %i.fa.fa-lg.fa-fw.fa-inbox
    %span.hide Inbox
  .dropdown-menu.loomio-nav-dropdown#inbox-dropdown{role: 'menu'}
    %inbox{ng_show: 'showInbox'}
