%li.pull-right{dropdown: '', ng-if: 'userLoggedIn()'}
  %a.lmo-navbar-btn.dropdown-toggle{href: '#'}
    %i.fa.fa-lg.fa-fw.fa-bell
  .lmo-navbar-dropdown.dropdown-menu#notifications-dropdown{role: 'menu'}
    .navbar-notifications
      %ul.selector-list
        %li.selector-list-header
          %h3{translate: "notifications.header"}
          %li.selector-list-item.media{ng_repeat: 'notification in currentUser.notifications()', ng-controller: "NotificationItemController", ng-include: "'generated/modules/navbar/notification_items/'+notification.event().kind+'.html'" }

