%header.lmo-navbar
  %nav.loomio-nav.clearfix{role: 'navigation'}
    %ul.loomio-nav-items
      %li
        %a.loomio-nav-btn{href: '/'}
          .loomio-nav-logo
      %navbar_inbox
      %navbar_search
      %navbar_user_options
      %navbar_notifications{ng-controller: 'NavbarNotificationsController'}
      %navbar_start_discussion
  %flash{modal: 'false'}
