.lmo-navbar{
  z-index: 1000;
  background: white;
  height: 48px;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 0 10px #aaa;
  width: 100%;
  position: fixed;
}

.loomio-nav {
  position: relative;
}

.loomio-nav-items{
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.loomio-nav-items li{
  float: left;
}
.loomio-nav-items li.open a{ border-bottom: 4px solid $loomio-orange; }
.loomio-nav-items li.open li a{ border-bottom: none; }
a.loomio-nav-btn{
  width: 40px;
  height: 40px;
  margin: 4px;
  display: block;
}
.loomio-nav-btn i{
  color: $meta-text-color;
  font-size: 26px;
  line-height: 40px;
}
.loomio-nav-logo {
  width: 40px;
  height: 40px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/lbow_round_34.png);
}
.loomio-nav-dropdown{
  top: 44px;
  padding: 0;
  margin: 0 -10px;
  min-width: 320px;
  @media (min-width: $screen-xs-min){
    margin: 0;
    width: 320px;
  }
}

#inbox-dropdown{ left: 49px; }
#search-dropdown{
  left: 48px;
  @media (max-width: $screen-xs-max){
    left: 96px;
  }
}
#notifications-dropdown{ right: 47px; }
@media (max-width: 380px){
  #inbox-dropdown, #search-dropdown{ left: 0; }
  #notifications-dropdown, #user-options-dropdown{right: 10px;}
}

.fa-xlg{ font-size: 26px; }
#user-options-dropdown a{
  color: $kinda-dark-grey;
}

#user-options-dropdown .media-left{
  width: 40px;
  vertical-align: middle;
  text-align: center;
}
#user-options-dropdown .media-body{ vertical-align: middle; }


.loomio-nav-btn.has-badge{
  position: relative;
}

.loomio-nav-btn.has-badge .badge{
  position: absolute;
  top: 0;
  right: 0;
  background: #4A90E2;
}

.navbar-search-input{
  padding: 5px;
  @media (max-width: 320px){ padding: 5px 15px; }
}

