.search-result
  .search-result-discussion-title {{result.discussion.title}}
  .search-result-group-name {{result.discussion.group_full_name }}
  .search-result-discussion-blurb {{result.discussion.blurb}}

  .search-result-proposals{ng-repeat: 'proposal in result.proposals'}
    .search-result-proposal-title {{proposal.name'}}
    .search-result-proposal-blurb{btf-markdown: 'proposal.blurb'}

  .search-result-comments{ng-repeat: 'comment in result.comments'}
    .navbar-search-comment-blurb{btf-markdown: 'comment.blurb'}
    .navbar-search-comment-author{btf-markdown: 'comment.author'}

  -#.navbar-search-priority Priority {{ result.priority }}
  -#.navbar-search-query Query {{ result.query }}
