.navbar-search {
  height: 40px;
  max-width: $main-max-width;
  margin: 0 auto;
  position: relative;
}

.navbar-search-input-wrapper{
}

.navbar-search-input {
  color: #999999;
  position: relative;
  top: 2px;
  width: 100%;
  background-color: $background-color;
}

.navbar-search-input-icon {
  position: absolute;
  top: 15px;
  right: 10px;
}

.navbar-search-results {
  @include thinRoundedBorder;
  position: absolute;
  background-color: white;

  top: 38px;
  text-align: left;
  max-width: $main-max-width;
  box-shadow: 2px 2px 2px #ccc;
  overflow-y: scroll;
  max-height: 800px;
}

.navbar-search-list-item {
  background: white;
}

.search-result {
  padding: 10px;
}

.search-result-item {
  padding-bottom: 10px;
}

.search-result-group-name {
  @include fontSmall;
  color: $kinda-dark-grey;
  padding-bottom: 5px;
}

.search-result-title {
  @include fontMedium;
  padding-bottom: 5px;
}

.search-result-child-title {
  @include fontSmall;
  padding-bottom: 5px;
}

.search-result-blurb {
  @include fontSmall;
  color: $kinda-dark-grey;
}
