.modal-dialog.modal-confirm-gift-plan-modal {
  max-width: 450px;
  width: auto;
}

.confirm-gift-plan-modal__cancel-button {
  float: left;
}

.confirm-gift-plan-modal__submit-button {
  color: #fff;
  background-color: #4185DE;
  color: #fff;
  &:hover { color: #fff; }
  &:focus { color: #fff; }
}