.confirm-gift-plan-modal
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1.modal-title{translate: 'confirm_gift_plan_modal.heading'}

  .modal-body
    .confirm-gift-plan-modal__body
      %span{translate: 'confirm_gift_plan_modal.body'}

  .modal-footer.lmo-clearfix
    %button.confirm-gift-plan-modal__submit-button{type: 'button', ng-click: 'submit()', translate: 'confirm_gift_plan_modal.got_it'}
    %button.confirm-gift-plan-modal__cancel-button{type: 'button', ng-click: '$close()', translate: 'common.action.cancel'}

