%ul.selector-list
  %li.selector-list-header{ng-click: 'logDiscussions()'}
    %a.action.pull-right{href: ''}
      4 unread
    .dropdown.inbox-filter
      %a.action.dropdown-toggle{href: ''}
        %span{translate: 'inbox.latest'}>
        %i.fa.fa-lg.fa-caret-down
      .dropdown-menu.dropdown-menu-with-labels
        %ul.dropdown-menu-items
          %li.dropdown-menu-item
            %span{translate: 'inbox.latest'}
          %li.dropdown-menu-item
            %span{translate: 'inbox.unread'}

  %li.selector-list-item.is-read{ng-repeat: 'discussion in currentUser.inboxDiscussions() | orderBy: "-lastActivityAt"'}
    %a.cuke-inbox-item.selector-list-item-link{href: '/d/{{ discussion.key}}'}
      .selector-list-item-time-and-title
        .pull-right
          %timeago{timestamp: 'discussion.lastActivityAt'}
        .selector-list-item-discussion-title
          {{discussion.title}} {{discussion.unreadItemsCount()}}
      .media.selector-list-item-proposal{ng-if: 'discussion.activeProposal()', ng-init: 'proposal = discussion.activeProposal()'}
        .media-left
          %mini_proposal_pie_chart{proposal: 'proposal'}
        .selector-list-item-proposal-details.media-body
          {{ proposal.name }}
          .time-left
            %span{translate: 'inbox.closing_in'}>
            %timeago{timestamp: 'proposal.closingAt'}>
      .selector-list-item-thread-group-name
        {{::discussion.group().fullName()}}
