%ul.selector-list
  %li.selector-list-header{ng-click: 'logDiscussions()'}
    %h3{translate: 'inbox.latest_threads'}
  %li.selector-list-item{ng-repeat: 'discussion in currentUser.inboxDiscussions() | orderBy:["activeProposalClosedAt", "-lastActivityAt"]'}
    %a.cuke-inbox-item.selector-list-item-link{href: '/d/{{ discussion.key}}'}
      .brief-time.pull-right
        .time-ago{timestamp: 'discussion.lastActivityAt'}
      .selector-list-item-discussion-title
        {{discussion.title}}
      .media.selector-list-item-proposal{ng-if: 'discussion.activeProposal()', ng-init: 'proposal = discussion.activeProposal()'}
        .media-left
          %mini_proposal_pie_chart{proposal: 'proposal'}
        .selector-list-item-proposal-details.media-body
          {{ proposal.name }}
          .time-left
            %span{translate: 'inbox.closing_in'}>
            %timeago{timestamp: 'proposal.closingAt'}>
      .selector-list-item-thread-group-name
        {{::discussion.group().fullName()}}
      %timeago{timestamp: 'discussion.lastActivityAt'}>
