.comment-form-attachments input {
  display: none;
}

.comment-form {
  @include card;
  /*make room for the "turn off angular" link */
  margin-bottom: 5em;
  position: relative;
}

.comment-form-button {
  margin-left: 10px;
}

.comment-form-container{
  width: 100%;
}

.comment-form__privacy-notice {
  font-size: 13px;
  color: #767676;
}

.comment-form-attachments{
  display: inline-block;
  margin-left: 10px;
}

.thread-comment-form-actions {
  clear: both;
  padding: 10px 0;
}
