.delete-comment-form
  %form{ng-submit: 'submit()',  ng-disabled: 'comment.processing', name: 'deleteCommentForm' }
    .modal-header
      %button{type: 'button', class: 'close', ng-click: '$close()'}
        %span{aria-hidden: true} &times;
        %span.sr-only{translate: 'common.action.cancel'}
      %h3.modal-title{translate: 'comment_form.delete_comment'}
    .modal-body
      .comment-form-delete-message{translate: 'comment_form.confirm_delete_message'}
    .modal-footer
      %button.btn.btn-danger.delete-comment-form__delete-button{type: 'submit', translate: 'comment_form.confirm_delete'}
      %button.btn{type: 'button', ng-click: '$close()', translate: 'common.action.cancel'}
