.modal-header
  %button{type: 'button', class: 'close', ng-click: 'cancel()'}
    %span{aria-hidden: true} &times;
    %span.sr-only{translate: 'common.action.cancel'}
  %h3.modal-title{translate: 'comment_form.delete_comment'}
.modal-body
  .comment-form-delete-message{translate: 'comment_form.confirm_delete_message'}
  %button{type: 'button', ng-click: 'delete()'}
    %span{translate: 'comment_form.confirm_delete'}
