.modal-dialog.modal-angular-welcome-modal {
  max-width: 400px;
}

.angular-welcome-modal__feature {
  display: flex;
  margin: 10px 0;
  line-height: 20px;
}

.angular-welcome-modal__feature img {
  margin: 2px 10px 0 0;
  width: 22px;
  height: 22px;
}
