.angular-welcome-modal
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1.modal-title{translate: "angular_welcome_modal.heading"}

  .modal-body
    %p{translate: "angular_welcome_modal.context"}
    .angular-welcome-modal__feature
      %img{src: "/img/emojis/emojione/1f48e.png"}
      .angular-welcome-modal__feature-description{translate: "angular_welcome_modal.cleaner"}
    .angular-welcome-modal__feature
      %img{src: "/img/emojis/emojione/26a1.png"}
      .angular-welcome-modal__feature-description{translate: "angular_welcome_modal.interactive"}
    .angular-welcome-modal__feature
      %img{src: "/img/emojis/emojione/1f4f1.png"}
      .angular-welcome-modal__feature-description{translate: "angular_welcome_modal.mobile_ready"}
    .angular-welcome-modal__feature
      %img{src: "/img/emojis/emojione/1f60e.png"}
      .angular-welcome-modal__feature-description{translate: "angular_welcome_modal.accessible"}
    .angular-welcome-modal__feature
      %img{src: "/img/emojis/emojione/1f984.png"}
      .angular-welcome-modal__feature-description{translate: "angular_welcome_modal.emojis"}

  .modal-footer.lmo-clearfix
    %button.lmo-btn--primary.angular-welcome-modal__close-button{type: "button", ng-click: "$close()", translate: "angular_welcome_modal.ok_got_it"}
