%md-dialog.membership-request-form
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "membership_request_form.heading"}
      %dismiss_modal_button
  %md-dialog-content
    .membership-request-form__visitor{ng-if: "!isLoggedIn()"}
      %md-input-container.md-block
        %label{for: "membership-request-name", translate: "membership_request_form.name_label"}
        %input.membership-request-form__name#membership-request-name{ng-model: "membershipRequest.name", ng-required: "true"}

      %md-input-container.md-block
        %label{for: "membership-request-email", translate: "membership_request_form.email_label"}
        %input.membership-request-form__email#membership-request-email{ng-model: "membershipRequest.email", ng-required: "true"}
        %validation_errors{subject: "membershipRequest", field: "email"}

    .membership-request-form__reason
      %md-input-container.md-block
        %label{for: "membership-request-introduction", translate: "membership_request_form.introduction_label"}
        %textarea.lmo-textarea.membership-request-form__introduction#membership-request-introduction{ng-model: "membershipRequest.introduction", ng-required: "false", md-maxlength: "250"}

  %md-dialog-actions.lmo-md-actions
    %md-button.membership-request-form__cancel-btn{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
    %md-button.md-raised.md-primary.membership-request-form__submit-btn{ng-click: "submit()", translate: "membership_request_form.submit_button"}
