.poll-common-action-panel__anonymous-message.lmo-hint-text
  %span{translate: "poll_common_action_panel.anonymous", ng-if: "poll.customFields.denonymize_after_close"}
  %span{translate: "poll_common_action_panel.anonymous_until_close", ng-if: "!poll.customFields.denonymize_after_close"}
