.loading-wrapper.lmo-two-column-layout
  %loading{ng-if: "!groupPage.group"}
  %main.group-page.lmo-row{ng-if: "groupPage.group"}
    %outlet{name: "before-group-page", model: "groupPage.group"}
    %group_theme{group: "groupPage.group", home-page: "true"}
    .lmo-row
      .lmo-group-column-left
        %vue-component{name: "GroupPageDescriptionCard", v-props-group: "groupPage.group"}
        %vue-component{name: "GroupPageDiscussionsCard", v-props-group: "groupPage.group"}
      .lmo-group-column-right
        %outlet{name: "before-group-page-column-right", model: "groupPage.group"}
        %vue-component{name: "CurrentPollsCard", v-props-model: "groupPage.group"}
        %membership_requests_card{group: "groupPage.group"}
        %membership_card{group: "groupPage.group"}
        %membership_card{group: "groupPage.group", pending: "true"}
        %vue-component{name: "SubgroupsCard", v-props-group: "groupPage.group"}
        %document_card{group: "groupPage.group"}
        %vue-component{name: "PollCommonIndexCard", v-props-model: "groupPage.group", v-props-limit: "5", v-props-view-more-link: "true"}
        %outlet{name: "after-slack-card", model: "groupPage.group"}
        %install_slack_card{group: "groupPage.group"}
