.btn-teal {
  color: white;
  background-color: $teal;
  border-color: $teal;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  padding: 6px 26px;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: darken($teal, 10%);
    border-color: darken($teal, 10%);
  }

}

.btn-orange {
  color: white;
  background-color: $orange;
  border-color: $orange;
  background-image: none;
  text-shadow: none;
  box-shadow: none;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: darken($orange, 10%);
    border-color: darken($orange, 10%);
  }

}
