.brdr--rounded { border-radius: 20px; }
.brdr--light-gray { border: thin solid $light-gray; }
.brdr--mid-gray   { border: thin solid $mid-gray; }
.brdr--dark-gray  { border: thin solid $dark-gray; }
.brdr--off-white  { border: thin solid $off-white; }
