@import "cutestrap/cutestrap";
@import "pricing_table";
@import "pages/header";
@import "pages/about";

h1, h2, h3 {
  line-height: 4.1rem;
}

img { border-radius: 10px; }

a:visited { color: #4076D4; }

@media (max-width: 768px) {
  .marketing__hero-button { text-align: center; }
}

.marketing__content {
  padding-top: 30px;
}

.marketing__section {
  align-items: center;
  justify-content: center;
  margin: 0 0 50px;
}

.marketing__section--no-margin {
  align-items: center;
  justify-content: center;
}

.marketing__loomio-process {
  padding-top: 0px
}

.marketing__loomio-on-devices {
  max-width: 850px;
  margin: auto;
}

.marketing__case-study {
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  p {
    margin-bottom: 10px;
    padding: 0; }
}

.marketing__case-study-image.column--light {
  margin: auto;
  max-width: 180px;
}

.marketing__about-us {
  align-items: center;
  justify-content: center;
}

.marketing__about-us-image {
  max-width: 100px;
}

.marketing__button {
  background-color: #3B94E8;
  &:hover { background-color: #3B94E8; }
}

.marketing__header-button {
  max-height: 40px;
  padding: 0px 10px;
}

.marketing__press {
  padding: 1rem;
}

.marketing__press-testimonial {
  margin-bottom: 40px;
}

.marketing__press-logo {
  max-width: 200px;
  margin: 0 auto 20px;
}

.marketing__footer {
  background-color: #efefef;
}

.marketing__footer-section {
  justify-content: space-around;
}

.marketing__footer-item {
  list-style-type: none;
  a { text-decoration: none; }
}

.marketing__rule {
  z-index: -1;
}
