.main--landing {
  section {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  h1, h2 {
    line-height: 120%;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 30px;
  }

  p, li, blockquote {
    line-height: 140%;
  }

  small {
    font-size: 13px;
  }
}

.btn--base--landing {
  @extend .btn--primary;

  border-radius: 6px;
  text-transform: uppercase;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .75px;
  display: inline-block;

}

.btn--primary--landing {
  @extend .btn--base--landing;
}

.btn--primary--action--landing {
  @extend .btn--base--landing;
  background-color: white;
  color: $accent-color;
  border: 1px solid $accent-color;
}

.btn--secondary--action--landing {
  @extend .btn--base--landing;
  color: white;
  background: $accent-color;

  &:hover {
    background-color: rgba($accent-color, 0.8);
  }
}

.price-box {
  background-color: rgba($accent-color, 0.15);
  margin: 0 20px 20px;
  padding-bottom: 20px;
  border-radius: 6px;
  width: 300px;

  h2 {
    margin: 0;
    background-color: $accent-color;
    border-radius: 6px 6px 0 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
  }

  &.primary {
    background-color: rgba($primary-color, 0.15);

    h2 {
      background-color: $primary-color;
    }
  }

  .invitation {
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
  }
}

.ticks--pricing {
  list-style: outside none;
  margin: 0 0 30px;
  padding-left: 1em;
  text-indent: -1em;
  li {
    margin-bottom: 10px;
    font-size: 15.5px;
  }
  li:before {
    content: '✓  ';
  }
}
