.closing-at-field
  .not-a-form-group
    %label{for: "proposal-close-date-field", translate: "proposal_form.closes"}
    %timeago{timestamp: "proposal.closingAt"}>
    .closing-at-group
      %input.closing-at-field__date#proposal-close-date-field{type: "date", min: "{{dateToday}}", ng-model: "closingDate"}

      %select.closing-at-field__time{ng-model: "closingHour"}
        %option{ng-repeat: "hour in hours", value: "{{hour}}", ng-selected: "hour == closingHour"}
          {{ times[hour] }}

      %span.closing-at-field__zone
        {{ timeZone }}
