%form.proposal-form{ng-submit: "submit()", ng-disabled: "proposal.processing"}
  .lmo-disabled-form{ng-show: "isDisabled"}
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1{ng-if: "proposal.isNew()", translate: "proposal_form.start_a_proposal"}
    %h1.lmo-h1{ng-if: "!proposal.isNew()", translate: "proposal_form.edit_proposal"}

  .modal-body
    %p{ng-if: "proposal.isNew()", translate: "proposal_form.what_does_a_proposal_do"}
    %p{ng-if: "!proposal.isNew()", translate: "proposal_form.editing_title_and_description_forbidden"}

    %form_errors{record: "proposal"}

    %fieldset{ng-disabled: "!proposal.canBeEdited()"}
      .lmo-form-group
        %label{for: "proposal-title-field", translate: "proposal_form.title_label"}
        %textarea.proposal-form__title-field.form-control.lmo-primary-form-input#proposal-title-field{msd-elastic: "true", rows: 1, placeholder: "{{ 'proposal_form.title_placeholder' | translate }}", ng-model: "proposal.name", ng-model-options: "{debounce: 600}", ng-change: "storeDraft()", ng-required: "false", maxlength: "255"}
        %validation_errors{subject: "proposal", field: "name"}

      .lmo-form-group
        %label{for: "proposal-details-field", translate: "proposal_form.details_label"}
        %textarea.lmo-textarea.proposal-form__details-field.form-control.lmo-primary-form-input#proposal-details-field{msd-elastic: "true", ng-model: "proposal.description", ng-model-options: "{debounce: 600}", ng-change: "storeDraft()", placeholder: "{{ 'proposal_form.details_placeholder' | translate }}"}

      %closing_at_field{proposal: "proposal"}

  .modal-footer
    %button.lmo-btn--submit.proposal-form__start-btn{ng-if: "proposal.isNew()", type: "submit", translate: "proposal_form.start_proposal"}
    %button.lmo-btn--submit.proposal-form__save-changes-btn{ng-if: "!proposal.isNew()", type: "submit", translate: "common.action.save_changes"}
    %button.lmo-btn--cancel.proposal-form__cancel-btn{ng-click: "$close($event)", type: "button", translate: "common.action.cancel"}
