.proposal-form__proposal_ideas {
  @include fontTiny;
  text-align: right;
  font-style: italic;
}

.proposal-form__attachments {
  margin-left: -5px;
}

.proposal-form__attachment-errors {
  padding: 6px 6px 0 6px;
}

.proposal-form__attachment-form {
  margin-right: 10px;
}
