%form.proposal-form{ng-submit: "submit()", ng-disabled: "proposal.processing"}
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{ng-if: "proposal.isNew()", translate: "proposal_form.start_a_proposal"}
      %h1.lmo-h1{ng-if: "!proposal.isNew()", translate: "proposal_form.edit_proposal"}
      %material_modal_header_cancel_button{aria-hidden: "true"}
  .md-dialog-content.md-body-1
    %p{ng-if: "proposal.isNew()", translate: "proposal_form.what_does_a_proposal_do"}
    %p{ng-if: "!proposal.isNew()", translate: "proposal_form.editing_title_and_description_forbidden"}

    %form_errors{record: "proposal"}

    %fieldset{ng-disabled: "!proposal.canBeEdited()"}
      .lmo-form-group
        %label{for: "proposal-title-field", translate: "proposal_form.title_label"}
        .lmo-relative
          %input.proposal-form__title-field.form-control.lmo-primary-form-input#proposal-title-field{placeholder: "{{ 'proposal_form.title_placeholder' | translate }}", ng-model: "proposal.name", ng-required: "false", maxlength: "255"}
        %validation_errors{subject: "proposal", field: "name"}
        .proposal-form__proposal_ideas{ng-if: "proposal.isNew()"}
          %a.proposal-form__proposal_ideas_link{href: "{{nineWaysArticleLink()}}", title: "{{ 'proposal_form.proposal_ideas_title' | translate }}", target: "_blank"}
            %span{translate: "proposal_form.proposal_ideas"}

      .lmo-form-group
        %label{for: "proposal-details-field", translate: "proposal_form.details_label"}
        %outlet{name: "before-proposal-form-textarea", model: "proposal"}
        .lmo-relative.lmo-textarea-wrapper
          %textarea.lmo-textarea.proposal-form__details-field.form-control.lmo-primary-form-input#proposal-details-field{msd-elastic: "true", ng-model: "proposal.description", placeholder: "{{ 'proposal_form.details_placeholder' | translate }}", mentio: "true", mentio-trigger-char: "'@'", mentio-items: "mentionables", mentio-template-url: "generated/components/thread_page/comment_form/mentio_menu.html", mentio-search: "fetchByNameFragment(term)", ng-model-options: "{debounce: 150}"}
          %emoji_picker.lmo-action-dock{target-selector: "descriptionSelector"}
        %outlet{name: "after-proposal-form-textarea", model: "proposal"}

      .proposal-form__attachments
        %attachment_form.proposal-form__attachment-form{model: "proposal", ng-if: "proposal.discussion().groupId", show-label: "true"}
        %validation_errors.proposal-form__attachment-errors{subject: "proposal", field: "file"}
        %label.lmo-form-labelled-input
          %attachment_preview{attachment: "attachment", mode: "thumb", ng-repeat: "attachment in proposal.newAttachments() | orderBy: 'id' track by attachment.id"}
        .clearfix

      %closing_at_field{proposal: "proposal"}
      %validation_errors{subject: "proposal", field: "closingAt"}

    .lmo-md-action
      %md-button.md-primary.md-raised.proposal-form__start-btn{ng-if: "proposal.isNew()", type: "submit", translate: "proposal_form.start_proposal"}
      %md-button.md-primary.md-raised.proposal-form__save-changes-btn{ng-if: "!proposal.isNew()", type: "submit", translate: "common.action.save_changes"}
