= render 'event_mailer/common/notification_with_title', event: @event, message: @event.eventable.introduction
= link_to t(:"email.membership_request.button_text"), group_membership_requests_url(@event.eventable.group, @utm_hash), class: "base-mailer__button base-mailer__button--accent"
= render 'event_mailer/common/footer', event: @event
