.poll-common-stance-reason
  %lmo_textarea.poll-common-vote-form__reason{model: "stance", field: "reason", label: "'poll_common.reason' | translate", placeholder: "'poll_common.reason_placeholder' | translate", maxlength: "500"}
