.outcome-created
  %p.thread-item__body.lmo-markdown-wrapper{ng-if: "!translation", marked: "eventable.statement"}
  %translation.thread-item__body{ng-if: "translation", translation: "translation", field: "statement"}

  .lmo-md-actions
    %reactions_display{model: "eventable"}
    %action_dock{model: "eventable", actions: "actions"}
