.thread-item {
  margin-bottom: 25px;
}

.thread-item__header {
  /* these styles break with BEM but they keep the translations clean*/
  strong {
    color: $primary-text-color;
    @include md-body-2;
  }
  span span {
    color: $primary-text-color;
  }
}

.thread-item__headline {
  min-height: 28px;
}

.thread-item__title {
  color: $grey-on-white;
  display: inline-block;
  & > span { padding-right: 5px; }
}

.thread-item__title-link {
  color: $primary-text-color;
}

.thread-item__footer {
  @include fontSmall();
  color: $grey-on-white;
  clear: both;
}

.thread-item__actions {
  margin-right: 3px;
  display: inline-block;
}

.thread-item__action {
  @include lmoBtnLink;
  color: $link-color;
}

.thread-item__action--view-edits {
  @include lmoBtnLink;
  color: $grey-on-white;
}

.thread-item__timestamp {
  display: inline-block;
}
