-# .thread-item{id: "{{event.sequenceId}}", ng_include: "'thread_page/activity_card/'+ event.kind+ '.html'"}
.thread-item.lmo-flex.lmo-relative{layout: "row", id: "{{event.sequenceId}}"}
  .thread-item__avatar.lmo-margin-right
    %user_avatar{user: "event.actor()", size: "small", ng-if: "event.actor()"}
  .thread-item__body.lmo-flex.lmo-flex__horizontal-center{layout: "column"}
    .thread-item__headline.lmo-flex.lmo-flex__center.lmo-flex__grow{layout: "row"}
      %h3.thread-item__title{id: "event-{{event.id}}"}
        %span{translate: "thread_item.{{event.translateKey()}}", translate-value-author: "{{event.actorName()}}", translate-value-title: "{{event.title()}}", translate-value-poll-type: "{{pollType()}}"}
        %span{aria-hidden: "true"}>·
        %timeago.timeago--inline{timestamp: "event.createdAt"}
    %thread_item_directive.thread-item__directive{event: "event"}
