.lmo-one-column-layout
  %main.email-settings-page{ng-if: "emailSettingsPage.user"}
    .lmo-page-heading
      %h1.lmo-h1-medium{translate: "email_settings_page.header"}
    .email-settings-page__email-settings
      .email-settings-page__global-settings
        %form{ng-submit: "emailSettingsPage.submit()"}
          .email-settings-page__global-settings
            %md-checkbox.md-checkbox--with-summary.email-settings-page__daily-summary#daily-summary-email{ng-model: "emailSettingsPage.user.emailCatchUp"}
              %strong{for: "daily-summary-email", translate: "email_settings_page.daily_summary_label"}
              .email-settings-page__input-description{translate: "email_settings_page.daily_summary_description"}

            %md-checkbox.md-checkbox--with-summary.email-settings-page__on-participation#on-participation-email{ng-model: "emailSettingsPage.user.emailOnParticipation"}
              %strong{for: "on-participation-email", translate: "email_settings_page.on_participation_label"}
              .email-settings-page__input-description{translate: "email_settings_page.on_participation_description"}

            %md-checkbox.md-checkbox--with-summary.email-settings-page__mentioned#mentioned-email{ng-model: "emailSettingsPage.user.emailWhenMentioned"}
              %strong{for: "mentioned-email", translate: "email_settings_page.mentioned_label"}
              .email-settings-page__input-description{translate: "email_settings_page.mentioned_description"}

            %md-checkbox.md-checkbox--with-summary.email-settings-page__promotions#email-promotions{ng-model: "emailSettingsPage.user.emailNewsletter", ng-if: "emailSettingsPage.newsletterEnabled"}
              %strong{for: "email-newsletter", translate: "email_settings_page.email_newsletter"}
              .email-settings-page__input-description{translate: "email_settings_page.email_newsletter_description"}


          %md-button.md-primary.md-raised.email-settings-page__update-button{type: "submit", ng-disabled: "isDisabled", translate: "email_settings_page.update_settings"}

      .email-settings-page__specific-group-settings
        %h3.lmo-h3{translate: "email_settings_page.specific_groups"}
        %md-list.email-settings-page__groups
          %md-list-item.email-settings-page__group.lmo-flex.lmo-flex__space-between
            .lmo-box--medium.lmo-margin-right.lmo-flex.lmo-flex__center.lmo-flex__horizontal-center
              %i.mdi.mdi-account-multiple-plus.mdi-24px
            .email-settings-page__default-description{translate: "{{emailSettingsPage.defaultSettingsDescription()}}"}
            %md-button.md-accent.email-settings-page__change-default-link{ng-click: "emailSettingsPage.changeDefaultMembershipVolume()", translate: "common.action.edit"}
          %md-list-item.email-settings-page__group.lmo-flex.lmo-flex__space-between{ng-repeat: "group in emailSettingsPage.user.formalGroups() track by group.id"}
            %group_avatar.lmo-margin-right{group: "group", size: "medium"}
            .email-settings-page__group-details.lmo-flex__grow
              %strong.email-settings-page__group-name
                %span{ng-if: "group.isSubgroup()"}>
                  {{group.parentName()}} -
                %span {{group.name}}
              .email-settings-page__membership-volume{translate: "change_volume_form.{{emailSettingsPage.groupVolume(group)}}_label"}
            .email-settings-page__edit
              %md-button.md-accent.email-settings-page__edit-membership-volume-link{ng-click: "emailSettingsPage.editSpecificGroupVolume(group)", translate: "email_settings_page.edit"}
        %a.email-settings-page__learn-more-link{href: "https://help.loomio.org/en/user_manual/users/email_settings/", target: "_blank", translate: "email_settings_page.learn_more"}
