.undecided-panel
  %a.undecided-panel__show-undecided-link{href: '', ng-click: 'showUndecided()', ng-show: '!undecidedPanelOpen'} Show undecided members
  %ul.undecided-panel__list{ng-if: 'undecidedPanelOpen'}
    %li{ng-repeat: 'user in proposal.undecidedMembers() track by user.id'} {{user.name}}
  %a.undecided-panel__hide-undecided-link{href: '', ng-click: 'undecidedPanelOpen = false', ng-show: 'undecidedPanelOpen'} Hide undecided members
