a.poll-common-preview {
  @include displayFlex;
  @include listTransition;
  width: 100%;
  text-decoration: none;
  padding: 8px 0;
}

.poll-common-preview__body {
  margin-left: 16px;
  overflow: auto;
}
