%a.poll-common-preview{href: "", lmo-href-for: "poll"}
  %poll_common_chart_preview{poll: "poll"}
  .poll-common-preview__body
    .md-subhead
      %strong> {{formattedPollType(poll.pollType)}}:
      %span> {{poll.title}}
    .md-caption.lmo-grey-on-white
      %span{translate: "poll_common_collapsed.by_who", translate-value-name: "{{poll.author().name}}"}>
      %span>·
      %poll_common_closing_at{poll: "poll"}
