%form.poll-poll-vote-form
  %h3.lmo-card-subheading{translate: "poll_common.your_response"}
  .poll-common-vote-form__options
    .poll-poll-vote-form__options{ng-if: "!stance.poll().multipleChoice"}
      %md-radio-group{ng-model: "vars.pollOptionId"}
        %md-radio-button.poll-common-vote-form__option.poll-common-vote-form__radio-button.poll-common-vote-form__border-chip{ng-repeat: "option in stance.poll().pollOptions()", ng-style: "{'border-color': option.color}", ng-value: "option.id"}
          %span.poll-common-vote-form__option-name {{option.name}}
    %md-list.poll-poll-vote-form__options{ng-if: "stance.poll().multipleChoice"}
      %md-list-item.poll-common-vote-form__option{ng-repeat: "option in stance.poll().pollOptions()"}
        %p.poll-common-vote-form__option-name.poll-common-vote-form__border-chip{ng-style: "{'border-color': option.color}"} {{option.name}}
        %md-checkbox.md-block.poll-common-vote-form__checkbox{ng-model: "pollOptionIdsChecked[option.id]"}
  %validation_errors{subject: "stance", field: "stanceChoices"}

  .poll-common-vote-form__reason
    %md-input-container.md-block
      %label{translate: "poll_common.reason"}
      %input.lmo-primary-form-input{type: "text", placeholder: "{{translations.reasonPlaceholder}}", ng-model: "stance.reason", md-maxlength: "250"}
      %validation_errors{subject: "stance", field: "reason"}

  %poll_common_participant_form{stance: "stance"}

  .poll-common-form-actions
    %show_results_button{ng-if: "stance.isNew()"}
    %md-button.md-primary.md-raised{ng-click: "submit()", translate: "poll_common.vote", aria-label: "{{ 'poll_poll_vote_form.vote' | translate }}"}
