.change-picture-form__options-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.change-picture-form__option a,
.change-picture-form__option button {
  color: $grey-on-white;
  text-decoration: underline;
}
