.poll-common-votes-panel__stance{ng-if: "stance.reason"}
  %user_avatar.lmo-flex__no-shrink{user: "stance.participant()", size: "small"}
  .poll-common-votes-panel__stance-content
    .poll-common-votes-panel__stance-name-and-option
      %strong> {{ participantName() }}
    .poll-common-votes-panel__stance-reason{ng-if: "stance.reason"}
      %span.lmo-markdown-wrapper{ng-if: "!stance.translation", richtext: "stance.reason", format: "stance.reasonFormat"}
      %translation{ng-if: "stance.translation", model: "stance", field: "reason"}
