%form.membership-request-form{ng-submit: "submit()", ng-disabled: "membership_request.processing"}
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1{translate: "membership_request_form.heading"}

  .modal-body
    %fieldset
      .lmo-form-group
        %label{for: "membership-request-name", translate: "membership_request_form.name_label"}
        %input.membership-request-form__name.form-control#membership-request-name{ng-model: "membershipRequest.actor().name", ng-required: "true", ng-disabled: "true"}

      .lmo-form-group
        %label{for: "membership-request-email", translate: "membership_request_form.email_label"}
        %input.membership-request-form__email.form-control#membership-request-email{ng-model: "membershipRequest.actor().email", ng-required: "true", ng-disabled: "true"}

      .lmo-form-group
        %label{for: "membership-request-introduction", translate: "membership_request_form.introduction_label"}
        %textarea.lmo-textarea.membership-request-form__introduction.form-control#membership-request-introduction{ng-model: "membershipRequest.introduction", ng-required: "false"}

  .modal-footer
    %button.membership-request-form__submit-btn{type: "submit", translate: "membership_request_form.submit_button"}
    %button.membership-request-form__cancel-btn{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
