.new-motion{
  .back-to-discussion{
    .back-arrow{
      float: left;
      font-size: 4em;
      margin: -20px 12px 0 -2px;
    }
  }
}

.new-position{
  margin-top: $card-margin;
}

.proposal-description{
  @include make-row($card-gutter);
  margin-bottom: $card-margin;
  @include screen-size(medium-up) {
    @include make-xs-column(6);
    padding-left: 0;
  }
}

.pie {
  @include make-row($card-gutter);
  margin-bottom: $card-margin;
  margin-right: $card-margin;
  @include screen-size(medium-up) {
    @include make-xs-column(5);
    float: right;
  }
  .pie-graph {
    margin: 0 auto;
    text-align: center;
    width: 66.67%;
    @include screen-size(medium-up) {
      width: 100%;
    }
  }
}

.decision-tools{
  @include make-row($card-gutter);
  text-align: center;
  margin-bottom: $card-margin;
  @include screen-size(medium-up) {
    @include make-xs-column(6);
    padding-left: 0;
  }
  .vote {
    @include screen(small-medium) {
      @include make-xs-column(3);
    }
    @include screen-size(medium-up) {
      float: left;
      margin-right: 16px;
    }
  }

}

.vote_count {
  @include make-row($card-gutter);
  @include screen-size(medium-up) {
    @include make-xs-column(6);
    padding-left: 0;
  }
}


.new-position{
  .agree{ @include make-xs-column(12); }
  .abstain{ @include make-xs-column(12); }
  .disagree{ @include make-xs-column(12); }
  .block{ @include make-xs-column(12); }
}
