.new-motion{
  .back-to-discussion{
    .back-arrow{
      float: left;
      font-size: 4em;
      margin: -20px 12px 0 -2px;
    }
  }
}

.new-position{
  margin-top: $card-gutter;
}

.proposal-description{
  @include make-xs-column(7);
  @include screen-size(medium-up) {
    @include make-xs-column(6)
  }
}

.pie-chart{
  @include make-xs-column(5);
  @include screen-size(medium-up) {
    @include make-xs-column(6)
  }
}

.decision-buttons{
  .agree{ 
    @include make-xs-column(3);
    color: #90D490; 
    cursor: pointer;
  }
  .abstain{ 
    @include make-xs-column(3);
    color: #F0BB67;
    cursor: pointer;
  }
  .disagree{ 
    @include make-xs-column(3);
    color: #D49090;
    cursor: pointer;
  }
  .block{ 
    @include make-xs-column(3);
    color: #DD0000;
    cursor: pointer;
   }
}

.new-position{
  .agree{ @include make-xs-column(12); }
  .abstain{ @include make-xs-column(12); }
  .disagree{ @include make-xs-column(12); }
  .block{ @include make-xs-column(12); }
}