.new-motion{
  .back-to-discussion{
    .back-arrow{
      float: left;
      font-size: 4em;
      margin: -20px 12px 0 -2px;
    }
  }
}

.new-position{
  margin-top: $card-margin;
}

.proposal-description{
  @include make-xs-column(12);
  margin-bottom: $card-margin;
  @include screen-size(medium-up) {
    @include make-xs-column(6)
  }
}

.pie-row{
  @include make-row($card-gutter);
  margin-bottom: $card-margin;
  margin-right: $card-margin;
  @include screen-size(medium-up) {
    @include make-xs-column(5);
    float: right;
  }
  .pie-chart {
    margin: 0 auto;
    width: 66.67%;
    @include screen-size(medium-up) {
      width: 100%;
    }
  }
}

.decision-tools{
  @include make-row($card-gutter);
  text-align: center;
  margin-bottom: $card-margin;
  .vote {
    @include make-xs-column(3);
    padding: 0 10px;
    @include screen-size(medium-up) {
      @include make-xs-column(1.5);
    }
  }

}

.media__details--vote_count {
  @extend .media__details;
  @include screen-size(medium-up) {
    @include make-row($card-gutter);
  }
}


.new-position{
  .agree{ @include make-xs-column(12); }
  .abstain{ @include make-xs-column(12); }
  .disagree{ @include make-xs-column(12); }
  .block{ @include make-xs-column(12); }
}
