.new-motion{
  .back-to-discussion{
    .back-arrow{
      float: left;
      font-size: 4em;
      margin: -20px 12px 0 -2px;
    }
  }
}

.new-position{
  margin-top: $card-gutter;
}

.proposal-description{
  @include make-xs-column(12);
  margin-bottom: $card-gutter;
  @include screen-size(medium-up) {
    @include make-xs-column(6)
  }
}

.pie-chart{
  @include make-row($card-gutter);
  margin-bottom: $card-gutter;
  @include screen-size(medium-up) {
    @include make-xs-column(5)
  }
}

.decision-buttons{
  @include make-row($card-gutter);
  .vote {
    @include make-xs-column(3);
    padding: 0 10px;
  }
}

.new-position{
  .agree{ @include make-xs-column(12); }
  .abstain{ @include make-xs-column(12); }
  .disagree{ @include make-xs-column(12); }
  .block{ @include make-xs-column(12); }
}