@import 'sass-bootstrap/lib/navs';
@import 'sass-bootstrap/lib/navbar';

.navbar {
  margin-bottom: 0;
  color: #555;
  font-size: 34px;
  line-height: 36px;
  padding: 5px 14px;
  @include make-row();
  a{color: #555;}
  a:hover{text-decoration: none}
}
.navbar__logo {
  width: 38px;
  vertical-align: top;
}
.nav-buttons{
  @include make-xs-column(9, $card-margin);
  i { padding-right: 20px; }
  padding-top: 2px;
  text-align: right;
}
.search{
  float: right;
  input{
    width: 200px;
  }
}

.modifier {
  @include make-xs-column(3, $card-margin);
  .icon-drag{
    margin-left: -0.8em;
    margin-right: 0.2em;
  }
  .icon-ios7-arrow-left{
    margin-left: -0.3em;
  }
}
