%h2 Oops! Your group is full
%br
%p Please get in touch and we will be happy to expand your group: <a href="mailto:contact@loomio.org">contact@loomio.org</a>
%br
= link_to 'Back to group', group_path(@group), class: 'btn btn-info btn-large'