%ul
  %li
    to:
    =email.to
  %li
    from:
    =email.from
  %li
    reply_to:
    =email.reply_to

  %li
    template name:
    =email.email_template.name

%h2=email.subject

=email.render_body.html_safe
