.lmo-one-column-layout
  %main.start-thread-page.lmo-row
    .start-thread-page__main-content.lmo-flex.lmo-card.lmo-relative{layout: "column"}
      .lmo-disabled-form{ng-if: "isDisabled"}
      .poll-common-start-poll__header.lmo-flex
        %h2.lmo-card-heading.poll-common-card-header__poll-type{translate: "start_thread_page.start_a_thread"}
      %discussion_form.lmo-flex__grow{discussion: "startThreadPage.discussion"}
