.lmo-one-column-layout
  %main.start-thread-page.lmo-row
    .start-thread-page__main-content.lmo-flex.lmo-card.lmo-relative{layout: "column"}
      .lmo-disabled-form{ng-if: "isDisabled"}
      %h2.lmo-card-heading{translate: "discussion_form.new_discussion_title"}
      %discussion_form.lmo-flex__grow{discussion: "startThreadPage.discussion"}
