%section.gift-card
  %h2.lmo-card-heading{translate: 'gift_card.heading'}
  %p{translate: 'gift_card.body', translate-value-name: '{{group.name}}'}
  %button.gift-card__confirm-button.btn.btn-block.lmo-btn-icon{ng-click: 'makeDonation()'}
    %i.fa.fa-lg.fa-gift>
    %span{translate: 'gift_card.make_a_contribution'}
