.modal-dialog.modal-choose-plan-modal {
  max-width: 800px;
  width: auto;
}

.choose-plan-modal__header {
  margin-left: 10px;
  margin-bottom: 20px;
}

.choose-plan-modal__pricing-table {
  max-width: 760px;
  margin: 0 auto;
}

.choose-plan-modal__option {
  background-color: #e2e1de;
  min-height: 300px;
  padding: 15px 15px;
  position: relative;
  h2 {
    text-align: center;
  }
  ul {
    list-style: none !important;
    line-height: 26px;
    i {
      font-size: 16px;
    }
  }
}

.choose-plan-modal__option--gift {
  p {
    text-align: center;
  }
}

.choose-plan-modal__col {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  width: 33%;
  min-width: 250px;
  float: left;
}

.choose-plan-modal__free-trial, .choose-plan-modal__get-started {
  text-align: center;
  span{
    font-weight: bold;
  }
}
.choose-plan-modal__option--standard{
  background-color: rgba(255, 117, 0, 0.41);
  border: 1px solid #b16a1a;
}
.choose-plan-modal__price {
  left: 30%;
  position: absolute;
  bottom: 50px;
  font-weight: bold;
  strong {
    font-size: 30px;
    line-height: 36px;
  }
  span {
    font-weight: normal;
  }
}

.choose-plan-modal__gift-price {
  font-weight: bold;
  position: absolute;
  bottom: 50px;
  width: 200px;
}

.choose-plan-modal__select {
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.choose-plan-modal__select-button {
  position: absolute;
  bottom: 10px;
  left: 30%;
  background-color: #4185DE;
  color: #fff;
  width: 90px;
  &:hover { color: #fff }
  &:visited { color: #fff }
  &:visited { color: #fff }
}

.choose-plan-modal__features-list {
  padding-left: 30px;
  i { margin-right: 5px; }
}

.choose-plan-modal__support {
  text-align: left;
  img {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
}
