@mixin box-shadow($h-offset, $v-offset, $blur-distance, $color) {
  @each $target in -moz-box-shadow -webkit-box-shadow box-shadow {
    #{$target}: $h-offset $v-offset $blur-distance $color;
  }
}

@mixin border-radius($radius) {
  @each $target in -moz-border-radius -webkit-border-radius border-radius {
    #{$target}: $radius;
  }
}

@mixin debug {
  border: 1px solid red;
}

