// twitter-bootstrap
$baseFontSize: 14px;
$baseLineHeight: 18px;

// application
$font-tinywiny: 0.7em;
$font-tiny: 0.8em;
$font-small: 0.9em;
$font-medium: 1em;
$font-medium-large: 1.2em;
$font-large: 1.3em;
$font-xlarge: 1.5em;

// colors
$lighter-grey: #EAEAEA;
$light-grey: #BBB;
$mid-grey: #777;
$dark-grey: #555;

$header-color: #F2F2F2;
$header-titles-color: #555;
$navbar-text-color: #BFBFBF;

$error-color: firebrick;

$comment-color: white;
$current-proposal: white;

$main-background: #F7F7ED;
/*$container: #FdFdFd;*/
$container: white;
$sub-selector-panel: #efefef;
$selector-panel: #ebebeb;
$selector: #e0eaf1;
$highlighted: #edeff5;
$unhighlighted: white;
$group-activity: #ABBEE6;
