// twitter-bootstrap
$baseFontSize: 14px;
$baseLineHeight: 18px;

// application
$font-tinywiny: 0.7em;
$font-tiny: 0.8em;
$font-smaller: 0.85em;
$font-small: 0.9em;
$font-medium: 1em;
$font-medium-large: 1.2em;
$font-large: 1.3em;
$font-xlarge: 1.5em;
$font-xxlarge: 1.7em;

// colors
$even-lighter-grey: #FAFAFA;
$lighter-grey: #E6E6E6;
$light-grey: #BBB;
$mid-grey: #777;
$dark-grey: #555;



// $header-link-color: #5E91C9;
$header-link-color: #4786CC;

$loomio-orange: #ffa600;
$header-color: #F2F2F2;
$navbar-text-color: #BFBFBF;

$error-color: firebrick;

$comment-color: white;
$current-proposal: white;

$main-background: #F7F7F7;

$container: white;
$sub-selector-panel: #efefef;
$selector-panel: #ebebeb;
$selector: #e0eaf1;
$highlighted: #f6f6f6;
$unhighlighted: white;
// $group-activity: #ABBEE6;
$group-activity: #75A0CF;

