// twitter-bootstrap
$baseFontSize: 16px;
$baseLineHeight: 20px;

// application
$font-tinywiny: 0.7em;
$font-tiny: 0.8em;
$font-small: 0.9em;
$font-medium: 1em;
$font-large: 1.2em;

// colors
$light-grey: #BBB;
$mid-grey: #888;
$dark-grey: #555;
$header-color: #F7F7cf;
$header-dark-color: #E7E7Bf;
$navbar-text-color: #FBA82C;
$error-color: firebrick;
$block-color: #F3D8D4;
$comment-color: #EEE
