// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
body.admin_group_requests table.index_table thead tr th:nth-child(7) {
  width: 100px !important;
}

.admin-panel-paginate-toggle {
	float: right;
	margin-top:	-36px;
}
