@import "settings";
@import "bootstrap";
@import "mixins";

// loom-btn($background, $color)

.loom-btn {
  @include loom-btn(#fff, #777);
  @include gradient-vertical(#fff, #eee);
  border: 2px solid #e5e5e5;
  text-shadow: none;
  }
.loom-btn.green {
  @include loom-btn($green, #fff);
  }
.loom-btn.blue {
  @include loom-btn($blue, #fff);
  }
.loom-btn.loomio-orange {
  @include loom-btn($loomio-orange, #fff);
  }
.loom-btn.orange {
  @include loom-btn($orange, #fff);
  }
.loom-btn.grey {
  @include loom-btn(#c5c5c5, #555);
  text-shadow: 1px 1px 1px #fff;
  }
.loom-btn.red {
  @include loom-btn($red, #fff);
  }
.loom-btn.white {
  @include loom-btn(#fff, #777);
  @include gradient-vertical(#fff, #eee);
  border: 2px solid #e5e5e5;
  text-shadow: none;
}

.loom-btn.disabled {
  @include loom-btn(#f2f2f2, #666);
  text-shadow: none;
  border: 2px solid #eee;
  }

.loom-btn.active {
  @include loom-btn(#999, #fff);
  }