@import "settings";
@import "bootstrap/mixins";
@import "mixins";


//contributions page

body.contributions {
  margin-top: 1em;
  .input-append { margin-bottom: 0; }
  .input-prepend { margin-bottom: 5px; }
  .span5#actions {
    margin-left: 3em;
    form { margin: .6em 0 0 0.2em; }
    #any-amount {
      margin-top: .4em;
      .btn {
        margin-right: .2em;
        padding: 4px 12px;
      }
      div, select { margin-left: .6em; }
      h3 {
        font-weight: 400;
        margin-bottom: .4em;
      }
      select { width: 70px; }
    }
    .btn {
      font-size: 16px;
      margin-left: .2em;
      margin-top: 0;
      padding: 6px 14px;

    }
    #container {
      background: #D6EAF1;
      border-left: 1px solid #eee;
      @include border-radius(4px);
      padding: 1em;
    }
    #one-time {
      margin-top: 1.4em;
      .btn { margin-top: 0; }
    }
  }
  .span5#description {
    img { width: 380px; }
    p {
      font-size: 18px;
      line-height: 24px;
    }
    span { font-weight: 700;}
    #thanks { margin: 2em 0 .2em; }
  }
  .row { margin-top: 1.6em;
    &#currency-desc {
      color: #999999;
      margin-top: .6em;
      text-align: right;
    }
  }
}
