@import "settings";

body.dashboard {
  &.show {
    .sub-panel ul {
      a:hover { color: $dark-grey }
      li { line-height: 21px; }
      .sub-group .group-link-name { padding-left: 20px; }
    }
  }
  .icon .motion-sparkline {
	float: right;
	margin-top: 10px;
	margin-right: 9px;
  }
}
