@import "settings";
@import "bootstrap/mixins";
@import "mixins";

ul.button-list {
  float: right;
  li {margin-bottom: 8px;}
}

body.dashboard.show {
  ul.selector-list {
    margin: 3px 0 25px;
  }
  li.new-discussion-link {
    padding: 5px 0 0 0;
    a{
      color: $mid-grey;
      text-decoration: underline;
    }
  }
}
/*.info-help {*/
  /*margin-left: 6px;*/
  /*height: 19px;*/
  /*width: 16px;*/
  /*-moz-opacity: .5;*/
  /*filter:alpha(opacity=50);*/
  /*opacity: 0.5;*/
  /*background-image:url("/assets/dark-info.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position-y: 3px;*/
  /*display: inline-block;*/
  /*@include ie7-inline-block();*/
  /*cursor: pointer;*/
  /*position: relative;*/
  /*bottom: 3px;*/
/*}*/
/*.info-help:hover {*/
  /*opacity: 1;*/
/*}*/
