.side-panel{
  display: block;
  //margin-left: 20px;
  #group-list{
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

/*.dashboard-motion-description p { font-size: 14px; }*/
/*.motions-list{*/
  /*padding-top: 6px;*/
  /*margin-bottom: 40px;*/
  /*border-bottom: 1px solid lightgrey;*/
  /*.icon-container {*/
    /*margin-top: 4px;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*.vote-icon {*/
      /*padding-top: 5px;*/
      /*padding-left: 5px;*/
      /*width: 20px;*/
      /*height: 30px;*/
      /*text-align: center;*/
      /*display: inline-block;*/
    /*}*/
  /*}*/
  /*.motion-row { cursor: hand; cursor: pointer; }*/
  /*#motion-header{*/
    /*#motion-title{ font-size: 16px; }*/
    /*line-height: 18px;*/
    /*margin-left: 4px;*/
    /*padding-top: 2px;*/
    /*.group-name {*/
      /*font-size: 14px;*/
      /*a {color: grey;}*/
    /*}*/
  /*}*/
  /*.close-info {*/
    /*font-size: 13px;*/
    /*text-align: right;*/
    /*padding-top: 8px;*/
    /*color: grey;*/
  /*}*/
  /*.alert-info {*/
    /*width: 59px;*/
    /*display: inline;*/
    /*.vote-alert-icon {*/
      /*background: url("vote-icon.png");*/
      /*background-size: 25px;*/
      /*background-position-y: 8px;*/
      /*background-position-x: -4px;*/
      /*background-repeat: no-repeat;*/
    /*}*/
    /*.vote-disabled-icon {*/
      /*background: url("vote-icon-disabled.png");*/
      /*background-size: 25px;*/
      /*background-position-y: 8px;*/
      /*background-position-x: -4px;*/
      /*background-repeat: no-repeat;*/
    /*}*/
     /*.discussion-alert-icon {*/
      /*background: url("discussion.png");*/
      /*background-size: 25px;*/
      /*background-position-y: 8px;*/
      /*background-position-x: -2px;*/
      /*background-repeat: no-repeat;*/
    /*}*/
     /*.discussion-disabled-icon {*/
      /*background: url("discussion-disabled.png");*/
      /*background-size: 25px;*/
      /*background-position-y: 8px;*/
      /*background-position-x: -2px;*/
      /*background-repeat: no-repeat;*/
    /*}*/
   /*.vote-icon-container{*/
      /*display: inline-block;*/
      /*margin-left: -6px;*/
      /*margin-top: -3px;*/
      /*height: 30px;*/
      /*width: 20px;*/
    /*}*/
   /*.discussion-icon-container{*/
      /*display: inline-block;*/
      /*margin-left: 6px;*/
      /*margin-top: -3px;*/
      /*height: 30px;*/
      /*width: 20px;*/
    /*}*/
  /*}*/
  /*#activity-count {*/
    /*font-size: 9px;*/
    /*display: inline;*/
    /*margin-left: 16px;*/
  /*}*/
  /*.action-links{*/
    /*a{color: grey}*/
    /*margin-top: -5px;*/
    /*font-size: 11px;*/
  /*}*/
  /*.expanded-area{ margin-left: 60px; }*/
  /*.pie {*/
    /*height: 170px;*/
    /*width: 400px;*/
    /*float: left;*/
  /*}*/
  /*#dash_percentage_to_vote {*/
    /*margin-top: 10px;*/
    /*padding-bottom: 10px;*/
  /*}*/
/*}*/
