@import "settings";
/*@import "bootstrap";*/
@import "mixins";

/** discussion new form*/
body.discussions.new {
  .notify-group-checkbox {
    margin-bottom: 15px;
  }
  .btn { display: block; }
}

/** discussion show form*/
body.discussions.show {
  .discussion-title {
    width: 438px;
    color: $dark-grey;
    padding: 5px 10px 5px 10px;
    h1 {
      padding: 0px;
      line-height: 1.2em;
    }
  }
}
/*  proposal panel  */
li .motion { padding: 5px 15px; }
.close-date {
  font-size: $font-tiny;
  color: $mid-grey;
}
li.selector-item.current-proposal {
  background-color: $current-proposal;
  table.jqplot-table-legend { background-color: $current-proposal; }
}
li.preview a {
  padding: 10px 15px;
  text-decoration: none;
}

/*** comments, positions & proposals in History ***/
#content-history {
  #new-comment-form {
    border-top: 1px solid $light-grey;
    margin-bottom: 0px;
    padding: 10px 0 10px 5px;
    background-color: $comment-color;
  }

  #comment-list li {
    overflow: hidden;
  }

  #new-comment-form img {
    float:left;
    margin-right: 10px;
  }

  #new-comment {
    margin: 0 0 5px 0px;
    width: 385px;
    max-width: 385px;
    height: 80px;
    color: $dark-grey;
  }

  #post-new-comment {
    margin: 5px 5px 5px 45px;
  }

  #new-comment-form .medium-user-avatar.avatar-canvas {
    margin-right: 10px;
  }

  ul.history-list {
    list-style: none;
    border-bottom: 1px solid $light-grey;
    margin: 0 0 3px 0;
  }
  li.history-item {
    border-top: 1px solid $light-grey;
  }

  /* comment */
  .comment{
    padding: 5px 10px 5px 5px;
    color: $dark-grey;
    font-size: $font-small;
    background-color: $comment-color;
    width: 443px;
  }

  /* Apply word break only to paragraphs in comment-body */
  .comment-body p{
    /* The following styles prevent unbroken strings from breaking the layout */
    word-wrap: break-word;
  }

  /* Indentation for markdown lists */

  .comment-body ul, .comment-body ol, .comment-body li {
    margin-left: 10px;
    font-size: 14px;
    word-wrap: break-word;
  }
  .comment-body ul, .comment-body li{
    padding: 3px 0px;
  }

  .comment-body{
    h1, h2, h3, h4, h5, h6, h7{
      display: block;
      padding: 4px 0px;
    }
    h1{
      font-size: 1.4em;
    }
    h2{
      font-size: 1.3em;
    }
    h3{
      font-size: 1.2em;
    }
    h4{
      font-size: 1.1em;
    }
  }

  /** Code block padding (Stops avatars destroying indentation) */
  pre{
    display: block;
    margin: 10px 0px;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
  }

  .comment-avatar {
    margin: 0 10px 0 0;
    float: left;
    width: 8%;
  }

  .comment img {
    float: left;
  }

  .comment .comment-username{
    font-weight: bold;
  }
  .comment .comment-label{
    color: $dark-grey;
  }
  .comment .comment-time{
    color: $dark-grey;
    font-size: $font-small;
  }
  .comment .comment-likes{
    color: $dark-grey;
    font-size: $font-small;
  }

  /* position */
  .position .position-icon{
    float: left;
    padding-right: 0.4em;
    display: block;
    height: 18px;
  }

  .position .position-message{
    color: $mid-grey;
    font-style: italic;
  }


  /* proposal */
  .proposal-icon {
    float: left;
    padding-right: 0.4em;
    display: block;
    height: 18px;
    width: 18px;
    background-image:url('/assets/proposal.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
  }
  .proposal{
    background: $comment-color;
    color: $mid-grey;
  }
  .proposal .tool-bar-item-proposal {
    float: left;
    display: inline;
    height: 19px;
    width: 22px;
    background-position: 2px 1px;
  }
  .proposal-info {
  }
  .proposal .proposal-text{
    color: $mid-grey;
    font-style: italic;
  }
  .proposal.current{
    background: $current-proposal;
  }
}

// Discussion preview list panel
//
// NOTE: this code is shared with the group show page and
//       the dashboard page.
//

.discussion-preview {
  a {
    color: $dark-grey;
    // display: block;
    // padding: 5px 5px 5px 15px;
  }
  a:hover {
    text-decoration: none;
  }
  .discussion-title {
    display: inline;
    float: left;
    width: 480px;
  }
  .group-name {
    font-size: $font-small;
    color: $mid-grey;
    width: 480px;
  }
  .notification-info {
    float: right;
  }
  .latest-comment-time {
    color: $mid-grey;
    display: inline;
    float: right;
    padding-right: 10px;
  }
  .discussion-icon-container {
    display: inline;
    float: right;
    background-image: url("discussion-25.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 20px;
  }
  .enabled-icon {
    -moz-opacity: 1.0;
    filter:alpha(opacity=100);
    opacity: 1.0;
   }
  .disabled-icon {
    -moz-opacity: 0.2;
    filter:alpha(opacity=20);
    opacity: 0.2
  }
  .activity-count {
    margin-left: 18px;
    height: 14px;
    font-size: $font-tinywiny;
    position: relative;
    bottom: 9px;
  }
  .discussion-link {
    position: relative;
    z-index: 2;
  }
}
