@import "settings";
/*@import "bootstrap";*/
@import "mixins";

/** discussion new (new loomio) modal*/
form.new_discussion {
  .helper-text.align-with-input { margin-top: 20px }
}

/** discussion show form*/
body.discussions.show {
  .group-title {
    margin-bottom: 10px;
  }
  .selector-panel {
    background-color: $selector-panel;
    @include border-radius(8px);
    border: 1px solid $light-grey;
    margin-bottom: 20px;
    min-height: 59px;
    padding-top: 2px;
    h2.panel-header {
      padding-left: 10px;
      float: left;
      min-height: 3px;
    }
    .dropdown {
      float: right;
      padding: 2px 10px;
      li {
        background-color: white;
        border: none;
        a {
          text-shadow: none;
        }
      }
    }
  }
  #discussion-title {
    float: left;
  }
  h1#discussion-title {
    color: $dark-grey;
  }
  #edit-discussion-title {
    float: left;
    form {
      margin-bottom: 0px;
      width: 830px;
    }
    form .control-group #discussion-input {
      width: 820px;
      font-size: $font-xlarge;
      margin-bottom: 2px;
    }
    .control-group { margin-bottom: 0px; }
    .character-counter { bottom: 0; }
    .save-buttons {
      position: relative;
      bottom: 5px;
    }
    #cancel-edit-title {
      margin-left: 10px;
      color: $mid-grey;
      text-decoration: underline;
      position: relative;
      font-size: $font-tiny;
    }
    #cancel-edit-title:hover {
      color: $dark-grey;
    }
  }

  #discussion-panel-content {
    background-color: white;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 20px;
    margin-bottom: 5px;
  }

  #discussion-context {
    min-height: 40px;
    border-bottom: 1px solid $light-grey;
    padding: 10px 0px 10px 50px;
  }

  .header-text {
    color: $mid-grey;
    line-height: 2.0em;
  }
}

#content-proposal {
  width: 468px;
  .proposal-btn {
    float: right;
    margin-top: 8px;
  }
}
.content-proposal-body {
  padding: 10px 20px 10px 50px;
}
li .motion {
  padding: 0 5px 0px 0px;
  .close-date {
    font-size: $font-tiny;
    color: $mid-grey;
  }
}
li .motion-preview {
  a {
    padding: 10px 15px;
    text-decoration: none;
  }
}

/*** comments, positions & proposals in History ***/
#content-history {
  width: 469px;
  border-right: 1px solid $light-grey;

  #content-history-body {
    padding: 10px 20px 10px 8px;
  }

  #new-comment-form {
    margin-bottom: 0px;
    padding: 0 0 10px 0;
    background-color: $comment-color;
  }

  #comment-list li {
    overflow: hidden;
  }

  #new-comment-form img {
    float:left;
    margin-right: 10px;
  }

  #new-comment {
    margin: 0 0 5px 0px;
    width: 385px;
    height: 80px;
    color: $dark-grey;
  }

  #post-new-comment {
    margin: 5px 5px 5px 45px;
  }

  ul.history-list {
    list-style: none;
    margin: 0 0 3px 0;
  }

  /* comment */
  .comment{
    padding: 0 10px 0 0px;
    color: $dark-grey;
    font-size: $font-small;
    background-color: $comment-color;
    width: 450px;
  }

  /* Apply word break only to paragraphs in comment-body */
  .comment-body p{
    /* The following styles prevent unbroken strings from breaking the layout */
    word-wrap: break-word;
  }

  /* Indentation for markdown lists */

  .comment-body ul, .comment-body ol, .comment-body li {
    margin-left: 10px;
    font-size: 14px;
    word-wrap: break-word;
  }
  .comment-body ul, .comment-body li{
    padding: 3px 0px;
  }

  .comment-body{
    h1, h2, h3, h4, h5, h6, h7{
      display: block;
      padding: 4px 0px;
    }
    h1{
      font-size: 1.4em;
    }
    h2{
      font-size: 1.3em;
    }
    h3{
      font-size: 1.2em;
    }
    h4{
      font-size: 1.1em;
    }
  }

  /** Code block padding (Stops avatars destroying indentation) */
  pre{
    display: block;
    margin: 10px 0px;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
  }

  .comment-avatar {
    position: relative;
    top: 8px;
  }

  .comment-container {
    display: inline-block;
    width: 400px;
    padding: 5px 0;
    margin-left: 40px;
    border-bottom: 1px solid $light-grey;
  }
  .comment-container.with-avatar {
    margin-left: 0;
  }
  .comment.position {
    width: 400px;
  }
  .comment img {
    float: left;
  }

  .comment .comment-username{
    font-weight: bold;
  }
  .comment .comment-label{
    color: $dark-grey;
  }
  .comment .comment-time{
    color: $dark-grey;
    font-size: $font-small;
  }
  .comment .comment-likes{
    color: $dark-grey;
    font-size: $font-small;
  }

  /* position */
  .position .position-icon{
    float: left;
    padding-right: 0.4em;
    display: block;
    height: 18px;
  }

  .position .position-message{
    color: $mid-grey;
    font-style: italic;
  }


  /* proposal */
  .proposal-icon {
    float: left;
    padding-right: 0.4em;
    display: block;
    height: 18px;
    width: 18px;
    background-image:url('/assets/proposal.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
  }
  .proposal{
    background: $comment-color;
    color: $mid-grey;
  }
  .proposal .proposal-text{
    color: $mid-grey;
    font-style: italic;
  }
  .proposal.current{
    background: $current-proposal;
  }
}

// Discussion preview list panel
//
// NOTE: this code is shared with the group show page and
//       the dashboard page.
//

li.selector-item .discussion-preview a.selector-link {
  padding: 0 5px 0 0;
}
.discussion-preview {
  .group-activity-indicator {
    width: 5px;
    height: 52px;
    float: left;
    background-color: $unhighlighted;
    margin-right: 5px;
  }
  .unread-group-activity { background-color: $group-activity; }
  .discussion-container {
    position: relative;
    top: 6px;
  }
  a {
    color: $dark-grey;
  }
  a:hover {
    text-decoration: none;
  }
  .vote-icon {
    float: left;
    width: 20px;
    padding-right: 7px;
    position: relative;
    top: 6px;
  }
  .discussion-title {
    display: inline;
    float: left;
  }
  .group-name {
    font-size: $font-small;
    color: $mid-grey;
    width: 340px;
  }
  .discussion-date-info {
    display: inline;
    float: right;
    font-size: $font-small;
    padding: 10px 10px 0 0;
  }
  .discussion-date-info .latest-comment-time {
    display: inline;
  }
  .discussion-date-info .proposal-close-date {
    display: inline;
  }
  .pie {
    float: right;
    width: 36px;
    height: 36px;
    z-index: 1;
    /*margin-left: 4px;*/
  }
  .enabled-icon {
    -moz-opacity: 1.0;
    filter:alpha(opacity=100);
    opacity: 1.0;
   }
  .activity-icon { float: right; }
  .discussion-icon.activity-icon { margin: 8px 6px 0 0; }
  .pie-icon.activity-icon { margin: 8px 4px 0 8px; }
  .disabled-icon {
    -moz-opacity: 0.2;
    filter:alpha(opacity=20);
    opacity: 0.2
  }
  .activity-count {
    margin-left: 18px;
    height: 14px;
    font-size: $font-tinywiny;
    position: relative;
    bottom: 9px;
    z-index: 2;
  }
  .pie .activity-count {
    bottom: 1px;
    margin-left: 24px;
  }
  .discussion-link {
    position: relative;
    z-index: 2;
  }
}
