@import "settings";
/*@import "bootstrap";*/
@import "mixins";

/** new discussion **/
body.discussions.new {
  .btn { display: block; }
}

/** new discussion form*/

body.discussions.new {
  #discussion_notify_group_upon_creation { margin-bottom: 30px; }
  .btn { display: block; }
}

.content-discussion {
  position: relative;
  bottom: 20px;
}
.discussion-title {
  font-size: $font-large;
  color: $dark-grey;
}


/*** comments, positions & proposals in History ***/
#content-history {
  padding-top: 20px;
  width: 480px;
  margin-bottom: 30px;
  border-right: 1px solid $light-grey;

  #new-comment-form{
    margin-bottom: 8px;
    margin-right: 20px;
  }
  #new-comment{
    width: 450px;
    max-width: 450px;
    height: 80px;
    color: $dark-grey;
  }
  #new-comment-submit{
    margin-top: -4px;
    text-align: right;
    .submit{
      margin-bottom: 15px;
    }
  }
  ul {
    list-style: none;
    margin-left: 0px;
  }
  li { padding: 1px; }

  /* comment */
  .comment{
    margin-right: 20px;
    padding: 8px;
    font-size: $font-small;
    color: $dark-grey;
    background-color: $comment-color;
  }
  .comment .comment-username{
    font-weight: bold;
    float: left;
  }
  .comment .comment-body{
    margin-left: 0.4em;
    display: inline;
  }
  .comment .comment-time{
    color: $dark-grey;
    font-size: 0.75em;
  }
  .comment .comment-likes{
    color: $dark-grey;
    font-size: 0.75em;
  }

  /* position */
  .position .position-icon{
    float: left;
    padding-right: 0.4em;
    display: block;
    height: 18px;
  }
  .position .position-message{
    padding-left: 0.4em;
    display: inline;
  }

  /* proposal */
  .proposal{
    background: $comment-color;
    color: $mid-grey;
  }
  .proposal .proposal-label{
      color: $mid-grey;
      margin-left: 0.4em;
      display: inline;
  }
  .proposal .proposal-text{
    color: $dark-grey;
    margin-left: 0.4em;
    font-style: italic;
  }
  .proposal.current{
    background: #FFF;
  }
  .panel {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}


/*** proposal ***/

#content-proposal{
  padding-top: 20px;
  padding-left: 19px;
  margin-left: 0px;
  width: 430px;
  #new-proposal {
    .btn { margin-bottom: 20px; }
  }
  #no-current-proposal {
    .btn { margin-bottom: 58px; }
  }
  .label{
    text-transform: lowercase;
    font-weight: normal;
  }
  #closing-info{
    font-size: $font-tiny;
  }
  #proposed-by {
    font-size: $font-tiny;
    margin-bottom: 30px;
  }
  #description {
    p{
      font-size: $font-small;
      color: $dark-grey;
    }
    .see-more{
      font-size: $font-tinywiny;
      position: relative;
      bottom: 10px;
    }
  }
  #percentage-to-vote {
    font-size: $font-tiny;
    margin-bottom: 10px;
  }
  #graph{
    height: 250px;
    margin-left: -20px;
  }
  #new_vote{ padding-left: 0px; }
  #vote-form{ height: 100px; }
  #vote-statement{ margin-left: 0px; padding-left: 0px; }
  .inputError { margin-left: 0px; height: 65px; }
  .control-group { padding-top: 0px; padding-bottom: 0px; }
  #vote-buttons{
    position: relative;
    bottom: 15px;
    margin-bottom: 15px;
    .btn.vote {
      @include box-shadow(1px, 1px, 4px, $mid-grey);
      @include border-radius(5px);
      padding: 3px;
    }
  }
  #votes-table {
    #statement {
      font-size: $font-tiny;
      display: block;
      margin-left: 30px;
      color: #000;
      padding-bottom: 4px;
    }
    .position-row {
      padding-bottom: 3px;
      padding-top: 2px;
      .member-row {
        min-height: 24px;
        .position {
          float: left;
          margin-top: 2px;
          display: inline-block;
          /*@include ie7-inline-block();*/
          height: 20px;
        }
        .member-name {
          float: left;
          display: inline-block;
          /*@include ie7-inline-block();*/
          padding-top: 4px;
          margin-left: 10px;
        }
      }
    }
    .no-position-row {
      min-height: 29px;
      #no-position {
        padding-left: 4px;
        float: left;
        display: inline-block;
        /*@include ie7-inline-block();*/
        height: 20px;
      }
      .member-no-position {
        float: left;
        display: inline-block;
        /*@include ie7-inline-block();*/
        padding: 2px;
        padding-left: 8px;
        margin-left: 6px;
      }
    }
  }

  #previous-proposals {
    color: $mid-grey;
  }

  .motion-row {
    color: $mid-grey;
    .close-date {
      font-size: $font-tiny;
    }
  }
}

.comment-word-break {
  /* The following styles prevent unbroken strings from breaking the layout */
  display: inline;
  overflow: auto;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  -moz-binding: url('xbl.xml#wordwrap'); /* Firefox (using XBL) */
}
