.presence-required.input { margin-left: 0px; display: inline; }
.clearfix { padding-top: 0px; padding-bottom: 0px; }

/** new proposal form*/
#new-proposal-title {
  .input { margin-left: 0px; }
  .clearfix { padding-top: 0px; padding-bottom: 0px; }
  .character-counter {
    color: #999999;
    font-size: 12px;
    margin-right: 200px;
    text-align: right;
    margin-top: -32px;
    height: 12px;
    width: 408px;
  }
}

#discussion-title {
  padding-top: 4px;
  font-size: 20px;
}

#discussion-panel {
  padding-top: 20px;
  padding-right: 20px;

  #new-comment-form{
    margin-bottom: 8px;

    #new-comment{
      width: 450px;
      height: 80px;
      font-size: 13px;
      line-height: 16px;
      color: black;
    }

    #new-comment-submit{
      margin-top: -2px;
      text-align: right;
      .submit{
        font-size: 13px;
        margin-top: 8px;
      }
    }
  }

  .comment{
    background-color: #EEE;
    margin-bottom: 2px;
    padding: 4px;

    p, span {
      font-size: 13px;
      margin-bottom: 0px;
      line-height: 16px;
    }
    .comment-username{
      font-weight: bold;
    }
    .comment-time{
      font-size: 11px;
      color: grey;
    }
    .comment-likes{
      font-size: 11px;
      color: grey;
    }
  }

  .position{
    .clear { clear: both; }
    .position-icon{
      float: left;
    }
    .position-message{
      float: left;
      margin-top: 2px;
      margin-left: 2px;
      font-size: 12px;
    }
  }

  .proposal{
    background: #EEE;
    color: #777;
    margin-bottom: 6px;
    .proposal-author{ font-weight: bold; }
    .proposal-label{ color: #777; }
    .proposal-text{ font-style: italic; }
  }
  .proposal.current{ background: #FFFFFF; }
}


/*** motion panel - discussion:show page ***/

#motion-panel{
  padding-top: 20px;
  padding-left: 19px;
  border-left: 1px solid lightgrey;
  margin-left: 0px;
  width: 430px;
  #proposal-container {
    .new-proposal {
      .btn {
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
  .current-proposal {
    font-size: 14px;
  }

  .motion-placeholder { padding-top: 300px }

  #motion-details {
    .label{
      text-transform: lowercase;
      font-weight: normal;
    }
    h2 { display: inline }
    #info {
      #proposed-by {
        margin-top: 8px;
      }
      p {
        font-size: 12px;
        line-height: 16px;
        color: #888;
        margin-bottom: 0px;
      }
      #closing-info {
        line-height: 16px;
        p {
          display: inline;
        }
        #admin-buttons{
          text-align: right;
          margin-top: 20px;
          .btn {
            font-size: 12px;
            line-height: 12px;
            padding-top: 3px;
            padding-bottom: 3px;
          }
        }
      }
    }
    #discussion{ padding-top: 10px; color: #555; }
    #description{
      p{font-size: 1.0em;}
      margin-top: 30px;
      color: #555;
    }
    #still-to-vote{
      padding-top: 20px;
      padding-bottom: 20px;
      #still-to-vote-list { margin-top: 5px; }
    }
    #graph{
      height: 250px;
      margin-left: -20px;
    }
    #new_vote{ padding-left: 0px; }
    #vote-form{
      margin-top: 10px;
      #vote-statement{ margin-left: 0px; padding-left: 0px; }
      .input { margin-left: 0px; height: 65px; }
      .clearfix { padding-top: 0px; padding-bottom: 0px; }
      .character_counter {
        float: right;
        color: #999999;
        font-size: 12px;
        margin-top: -20px;
      }
    }
    #vote-buttons{
      margin-top: -25px;
      .btn.vote {
        border-radius: 5px;
        webkit-border-radius: 5px;
        moz-border-radius: 5px;
        box-shadow: 1px 1px 4px #999999;
        webkit-box-shadow: 1px 1px 4px #999999;
        moz-box-shadow: 1px 1px 4px #999999;
        padding: 3px;
        height: 40px;
      }
    }
    #votes-table {
      margin-top: 20px;
      font-size: 14px;
      .position-row {
        padding-top: 2px;
        padding-bottom: 3px;
        line-height: 14px;
        .member-row {
          min-height: 24px;
          .icon-container {
            float: left;
            margin-top: 2px;
            display: inline-block;
            height: 20px;
          }
          .member-name {
            float: left;
            display: inline-block;
            padding-top: 4px;
            margin-left: 10px;
            color: #888;
          }
          .btn-edit-delete .btn {
            padding-top: 4px;
            padding-bottom: 4px;
          }
        }
        .statement {
          font-size: 12px;
          display: block;
          margin-left: 30px;
          color: #000;
          padding-bottom: 4px;
        }
      }
      .no-position-row {
        width: 100%;
        min-height: 29px;
        .icon-no-position {
          padding-left: 4px;
          float: left;
          margin-top: 4px;
          display: inline-block;
          height: 20px;
        }
        .member-no-position {
          float: left;
          display: inline-block;
          padding: 2px;
          padding-left: 8px;
          margin-left: 6px;
          color: #888;
        }
      }
    }

    #previous-proposals-container {
      font-size: 14px;
      color: #888;
    }
  }

  .motion-row {
    color: #888;
    .close-date {
      line-height: 14px;
      font-size: 12px;
    }
  }
}

/*  New & Edit motion form */

#motion-form{
  .input { margin-left: 0px; display: inline-block; }
  .clearfix { padding-top: 0px; margin-bottom: 0px; }
  #closing-inputs {
    height: 40px;
    #input_date{ width: 140px; display: inline-block; }
    select { width: 100px; display: inline-block; }
  }
  #description { margin-top: 45px; }
}
