@import "bootstrap/mixins";
@import "settings";
@import "mixins";

/** discussion new (new loomio) modal*/
form.new_discussion {
  .helper-text.align-with-input { margin-top: 20px }
}

/** discussion show form*/
body.discussions.show {
  .group-title {
    margin-bottom: 10px;
  }
  .selector-panel {
    background-color: $selector-panel;
    @include border-radius(8px);
    border: 1px solid $light-grey;
    margin-bottom: 20px;
    min-height: 59px;
    padding-top: 2px;
    h2.panel-header {
      padding-left: 10px;
      float: left;
      min-height: 3px;
    }
    .dropdown {
      float: right;
      padding: 2px 10px;
      li {
        background-color: white;
        border: none;
        a {
          text-shadow: none;
        }
      }
    }
  }
  #discussion-title {
    float: left;
  }
  h1#discussion-title {
    color: $dark-grey;
  }
  #edit-discussion-title {
    float: left;
    form {
      margin-bottom: 0px;
      width: 830px;
    }
    form .control-group #discussion-input {
      width: 820px;
      font-size: $font-xlarge;
      margin-bottom: 2px;
    }
    .control-group { margin-bottom: 0px; }
    .character-counter { bottom: 0; }
    .save-buttons {
      position: relative;
      bottom: 5px;
    }
    #cancel-edit-title {
      margin-left: 10px;
      color: $mid-grey;
      text-decoration: underline;
      position: relative;
      font-size: $font-tiny;
    }
    #cancel-edit-title:hover {
      color: $dark-grey;
    }
  }

  #discussion-panel-content {
    background-color: white;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 20px;
    margin-bottom: 5px;
  }

  #discussion-context {
    min-height: 40px;
    border-bottom: 1px solid $light-grey;
    padding: 10px 0px 10px 50px;
  }

  .right-context {
    width: 230px;
  }

  .discussion-author-info {
    font-size: $font-small;
    color: $mid-grey;
    width: 170px;
    background-color: #EEE;
    padding: 5px;
    float: right;
  }

  .header-text {
    color: $mid-grey;
    line-height: 2.0em;
  }
}

#content-proposal {
  .proposal-btn {
    float: right;
    margin-top: 8px;
  }
}
.content-proposal-body {
  padding: 10px 10px 10px 50px;
}
.content-proposal-body ul.selector-list { border-top: 1px solid $light-grey; }
li .motion {
  .close-date {
    font-size: $font-tiny;
    color: $mid-grey;
  }
}
li s hard.motion-preview {
  a {
    padding: 10px 15px;
    text-decoration: none;
  }
}

  /* Markdown styling */
.comment-body, .model-description {
  p {
    word-wrap: break-word;
  }
  ul, ol, li {
    margin-left: 10px;
    font-size: 14px;
    word-wrap: break-word;
  }
  ul, li {
    padding: 3px 0px;
  }
  h1, h2, h3, h4, h5, h6, h7{
    display: block;
    padding: 4px 0px;
  }
  h1{
    font-size: 1.4em;
  }
  h2{
    font-size: 1.3em;
  }
  h3{
    font-size: 1.2em;
  }
  h4{
    font-size: 1.1em;
  }
}

/** Code block padding (Stops avatars destroying indentation) */
pre{
  display: block;
  margin: 10px 0px;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}


/*** comments, positions & proposals in History ***/
#content-history {
  border-right: 1px solid $light-grey;
  min-height: 660px;
  padding-right: 10px;

  #content-history-body {
    padding: 10px 0px 10px 8px;
  }

  #new-comment-form {
    margin-bottom: 0px;
    padding: 0 0 10px 0;
    background-color: $comment-color;
  }

  #comment-list li {
    overflow: hidden;
  }

  #new-comment-form img {
    float:left;
    margin-right: 10px;
  }

  #new-comment {
    margin: 0 0 5px 0px;
    height: 80px;
    color: $dark-grey;
    width: 380px;
  }

  #post-new-comment {
    margin: 5px 5px 5px 45px;
  }

  ul.history-list {
    list-style: none;
    margin: 0 15px 3px 0;
  }
  ul.history-list .divider {
    margin-left: 45px;
    border-bottom: 1px solid $light-grey;
  }
  li.empty-list-message {
    margin-left: 45px;
  }

  /* comment */
  .comment{
    color: $dark-grey;
    font-size: $font-small;
    background-color: $comment-color;
    margin-top: 5px;
  }

  /* Apply word break only to paragraphs in comment-body */
  .comment-body p{
    /* The following styles prevent unbroken strings from breaking the layout */
    word-wrap: break-word;
  }

  .comment-container {
    width: 388px;
    float: left;
    margin-left: 45px;
    padding-bottom: 5px;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 5px;
  }

  .comment-container.with-avatar {
    margin-left: 10px;
    float: left;
  }

  .comment-avatar {
    height: 35px;
    margin-right: 0px;
  }

  .comment.position {
    width: 388px;
  }
  .comment img {
    float: left;
  }

  .comment .comment-username{
    font-weight: bold;
  }
  .comment .comment-label{
    color: $dark-grey;
  }
  .comment .comment-time{
    color: $dark-grey;
    font-size: $font-small;
  }
  .comment .comment-likes{
    color: $dark-grey;
    font-size: $font-small;
  }

  /* position */
  .position .position-icon{
    float: left;
    padding-right: 0.4em;
    display: block;
    height: 18px;
  }

  .position .position-message{
    color: $mid-grey;
    font-style: italic;
  }


  /* proposal */
  .proposal-icon {
    float: left;
    padding-right: 0.4em;
    display: block;
    height: 18px;
    width: 18px;
    background-image:url('/assets/proposal.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
  }
  .proposal{
    background: $comment-color;
    color: $mid-grey;
  }
  .proposal .proposal-text{
    color: $mid-grey;
    font-style: italic;
  }
  .proposal.current{
    background: $current-proposal;
  }
}

// Discussion preview list panel
//
// NOTE: this code is shared with the group show page and
//       the dashboard page.
//

.group-activity-indicator {
  margin: 0 0 0 -6px;
  width: 4px;
  height: 47px;
  float: left;
  background-color: $container;
}
.unread-group-activity {background-color: $group-activity;}

.popover-motion-name { color: black; }
.popover-content { padding-top: 8px; }
.popover-close-date { 
  font-weight: normal;
  display: inline;
  font-size: $font-tiny;
  position: relative;
  left: 5px;
  bottom: 2px;
}
.popover-engagement { margin-bottom: 8px; }
.popover-current-position-icon {
  position: relative;
  bottom: 3px;
  display: inline;
}
ul.popover-activity-list {
  max-height: 180px;
  overflow-y: auto;
}
li.popover-item {
  padding-left: 5px;
  .vote-time { font-size: $font-tiny; }
}
li.selector-item .discussion-preview:hover {
  background-color: $selector;
}
.discussion-preview {
  float: left;
  width: 620px;
  height: 47px;
  background-color: $unhighlighted;
  a {
    color: $dark-grey;
  }
  a:hover {
    text-decoration: none;
  }
  a.selector-discussion-link {
    width: 573px;
    float: left;
    padding: 5px 0 5px 5px;
  }
  .selector-pie-link {
    width: 42px;
    height: 47px;
    cursor: pointer;
    float: right;
    .pie {
      margin: 6px 3px;
    }
    .preview-pie-button {
      border: none;
      padding: 0;
    }
  }
  .vote-icon {
    float: left;
    width: 20px;
    padding-right: 7px;
    position: relative;
    top: 6px;
  }
  .discussion-title {
    display: inline;
    float: left;
  }
  .group-name {
    font-size: $font-small;
    color: $mid-grey;
    width: 340px;
  }
  .discussion-date-info {
    display: inline;
    float: right;
    font-size: $font-small;
    padding: 10px 10px 0 0;
  }
  .discussion-date-info .latest-comment-time {
    display: inline;
  }
  .discussion-date-info .proposal-close-date {
    display: inline;
  }
  .pie {
    float: right;
    width: 36px;
    height: 36px;
    z-index: 1;
  }
  .activity-icon { float: right; }
  .discussion-icon.activity-icon { margin: 8px 6px 0 0; }
  .pie-icon.activity-icon { margin: 10px 10px 0 0; }
  .activity-count {
    font-size: $font-tinywiny;
    position: relative;
    bottom: 8px;
    left: 16px;
    color: white;
    background-color: $group-activity;
  }
  .pie .activity-count {
    bottom: 1px;
    margin-left: 8px;
    z-index: 2;
  }
  .discussion-link {
    position: relative;
    z-index: 2;
  }
}
.popover-motion-name {
  font-weight: normal;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid white;
}
.popover-header {
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid $light-grey;
}
.popover-item {
  padding: 5px 0 5px 0;
  border-bottom: 1px solid $light-grey;
  min-height: 40px;
}
