.doorkeeper {
  max-width: 450px;
  margin: auto;
  text-align: center;

  .doorkeeper-tableau {
    height: 200px;
  }

  .doorkeeper-logo {
    width: 100px;
    height: 100px;
    position: relative;
    background: white;
    box-shadow: 0 0 0 3px white, 0 0 0 4px #ccc, 0 0 0 6px white, 0 0 0 8px #ccc;
  }

  .doorkeeper-loomio-logo {
    top: 15px;
    right: 20px;
  }

  .doorkeeper-third-party-logo {
    top: 75px;
    left: 20px;
    z-index: 1;
  }

  .actions {
    text-align: center;
  }

  .actions form {
    display: inline-block;
    padding: 0 10px;
  }

}
