@import 'unstructured/settings';

img{max-width: 500px;}

blockquote{
  margin: 0 3em;
  p { max-width: 34em; }
}
hr{
  max-width: 40em;
  margin-left: 0;
}
h1, h2, h3, h4, h5, h6{
  max-width: 40em;
  margin: .2em 0;
}
p{
  max-width: 40em;
  margin-bottom: 0;
}
p.unsubscribe{
  font-size: 0.8em;
  border-top: 1px solid #CCCCCC;
  padding-top: 5px;
  max-width: 50em;
}
table{
  max-width: 40em;
  border-collapse: collapse;
  margin-bottom: 1em;
  img{
    margin-right: .4em;
    width: 40px;
  }
}
.cell-border-bottom{ border-bottom: 1px solid #CCCCCC;}
th{
  text-align: right;
  vertical-align: top;
  padding-right: 0.5em;
}
.agreed, .yes { color: #90D490;}
.abstained, .abstain { color: #F0BB67; }
.disagreed, .no { color: #D49090;}
.blocked, .block { color: #dd0000; }

.yes-link{
  font-weight: bold;
  margin: 0 5px 0 0;
}
.abstain-link{
  font-weight: bold;
  margin: 0 5px;
}
.no-link{
  font-weight: bold;
  margin: 0 5px;
}
.block-link{
  font-weight: bold;
  margin: 0 5px;
}

.positions-title, .closes-in-text, .have-say-title, .activity-email-subsection{
  color: #555;
  margin: 1em 0 .2em 0;
}

.author-action { margin: 1em 0 .2em 0; }
.motion-name {
  max-width: none;
  font-weight: bold;
}

.comment{
  padding-left: 25px;
  max-width: 40em;
  img {
    max-width: 40em;
  }
}
.proposal-position{
  padding: 0 0.5em;
  font-weight: bold;
}

.proposal-text {
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}

.outcome-header {
  font-size: 1.2em;
  margin: 14px 0 0;
}
.outcome-subheader {
  font-weight: 700;
  font-size: 1em;
  margin: 14px 0 0;
}

.proposal-outcome p { margin: 0; }

.proposal-details {
  margin: 0;
  color: $dark-grey;
}

.nowrap{ white-space: nowrap; }

p.campaign {
  background-color: $lighter-grey;
  padding: 10px;
  margin-top: 14px;
}
