body{font: 1em/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;}
img{max-width: 500px;}
blockquote{
  margin: 0 3em;
  p { max-width: 34em; }
}
hr{
  max-width: 40em;
  margin-left: 0;
}
h1, h2, h3, h4, h5, h6{
  max-width: 25em;
}
p{
  margin: 0 0 1em 0;
  max-width: 40em;
}
p.unsubscribe{
  font-size: 0.8em;
  border-top: 1px solid #CCCCCC;
  padding-top: 5px;
  max-width: 50em;
}
table{
  max-width: 40em;
  border-collapse: collapse;
  margin-bottom: 1em;
}
td .border-bottom{ border-bottom: 1px solid #999;}
th{
  text-align: right;
  vertical-align: top;
  padding-right: 0.5em;
}
.agreed{ color: #90D490;}
.abstained{ color: #F0BB67; }
.blocked{ color: #dd0000; }
.disagreed{ color: #D49090;}
.comment{
  padding-left: 25px;
  max-width: 40em;
  img {
    max-width: 40em;
  }
}
.proposal-position{
  padding: 0 0.5em;
  font-weight: bold;
}
.nowrap{ white-space: nowrap; }
