body.error_rainchecks {
  .content {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
  }
  #error-container{
    width: 940px;
    margin:10px auto;
    h1 {
      font-size: 20px;
    }
    input {
      width: 30%;
    }
  #error-raincheck-submit {
    width: 10%;
    }
  }
}
