h1 {
  line-height: 1.5em;
}
#error-head{
  background-color: #292929;
}
.content {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
}
#header {
    height: 150px;
}
#error-container{
  width: 940px;
  margin:0px auto;
}

