@import "twitter/bootstrap";
@basefont: 18px;
@baseline: 24px;
body {
  padding-top: 58px;
}
form {
  input, select, textarea{
    background: white;
    width: 350px;
   }
  textarea{ height: 200px; }
}

.hidden {
  display: none;
}

.topbar {
  //font-family: 'Cuprum', sans-serif;
  .brand{ font-size: 24px; padding: 8px 15px 4px 15px; margin-left: -20px;}
  ul.dropdown-menu{
    li{text-shadow: none;}
  }
}

.alert-message{
  a.close, a.close:hover{
    -khtml-opacity: 1;
    margin-top: 2px;
  }
}

table.jqplot-table-legend {
  width: auto;
  border: none;
  td {
    border: none;
    line-height: 20px;
    padding: 0 5px 0 5px;
    }
}
#tooltip, .graph_tooltip{
  padding: 3px 10px;
  background: #333;
  color: #fff;
  display: none;
  opacity: 0.8;
  font-size: 0.9em;
  width: 100px;
  text-align: center;
  box-shadow: 1px 1px 4px #999999;
  -webkit-box-shadow: 1px 1px 4px #999999;
  -moz-box-shadow: 1px 1px 4px #999999;
}
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
