// Place all the styles related to the admin/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

body.group_requests {
  &.new, &.create {
    textarea { height: 80px; }
  }
}