// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "settings";
@import "mixins";
@import "bootstrap/mixins";

#group-form {
  form {
    width: 550px;
    .inputError { display: inline-block; }
    #group_name { width: 390px; }
    #setting-label {
      margin-bottom: 4px;
      color: $mid-grey;
    }
    .privacy-settings {
      select {
        width: 182px;
        margin-bottom: 15px;
      }
      .input { text-align: right; }
    }
  }
}

/**** Group page ****/

#discussions {
  padding-bottom: 30px;
}

#add-member-popup-btn {
  margin-bottom: 5px;

}

#invite-group-members {
  .modal-body {
    max-height: 300px;
    overflow-y: scroll;
  }
  form {
    margin-bottom: 0px;
    input.btn { margin: 0px; }
  }
}

.invite-member-checkbox-container {
  input, label { display: inline }
}

#user_email_input {
  display: inline;
  #user_email {
    width: 290px;
  }
}
input#user_email{
  margin-bottom: 5px;
}

.user-name {
  font-size: $font-small;
  width: 180px;
  display: inline-block;
}
.admin-controls {
  float: right;
  width: 112px;
  text-align: right;
  font-size: $font-tiny;
  display: inline;
  .close {
    padding-left: 8px;
    position: relative;
    bottom: 2px;
  }
  a { color: $light-grey; }
}

form#new_membership, #membership-requested {
  margin-bottom: 5px;
}

/**** Private group form ****/

#private-message {
  color: $mid-grey;
  text-align: center;
  width: 50%;
  margin: 0px auto;
}

// Discussion list panel
//
// NOTE: this code is shared with the group show page and
//       the dashboard page.
//
.discussion {
  cursor: pointer;
  color: $mid-grey;
  #group-name {
    font-size: $font-tiny;
    a { color: $mid-grey; }
    margin-top: -0.3em;
    padding-left: 5px;
  }
  #discussion-title {
    padding-left: 5px;
    a {
      display: inline-block;
      @include ie7-inline-block();
      width: 500px;
    }
  }
  #proposal-container {
    padding-left: 7px;
    padding-bottom: 7px;
    min-height: 30px;
    color: $light-grey;
  }
  #vote-icon {
    padding-top: 4px;
    display: inline-block;
    height: 16px;
    width: 20px;
    float: left;
  }
  #no-vote-space { width: 20px; }
  #proposal-title-container {
    margin-left: 12px;
    display: inline-block;
    width: 400px;
  }
  #proposal-label {
    font-size: $font-tiny;
    font-style: italic;
  }
  #proposal-title {
    font-size: $font-tiny;
    color: $mid-grey;
  }
  #proposal-close-date {
    margin-top: -0.4em;
    font-size: 0.7em;
  }
  #comment-info {
    display: inline-block;
    margin-top: -4px;
    float: right;
    padding-right: 5px;
    font-size: $font-tinywiny;
    text-align: right;
  }
  #total-comments {
    margin-top: -9px;
  }
  #alert-info {
    float: right;
  }
  #discussion-icon-container {
    background-size: 25px;
    background-repeat: no-repeat;
    width: 32px;
    height: 30px;
  }
  .discussion-enabled-icon {
    background-image: url("discussion.png");
  }
  .discussion-disabled-icon {
    background-image: url("discussion-disabled.png");
  }
  #activity-count {
    margin-left: 18px;
    height: 10px;
    font-size: 0.5em;
    padding: 0.4em;
    padding-top: 0.1em;
  }
}

/**** group dashboard ****/

ul#group-list {
  .group-link{
    width: 90%;
    display: inline-block;
  }
  .group-link.disabled{
    a{
      color: grey;
    }
  }
  li{
    padding-bottom: 4px;
    font-size: $font-small;
    line-height: 16px;
    list-style-type: none;
    ul {
      margin-left: 0px;
      margin-bottom: 0px;
      li {
        margin-top: 2px;
        font-size: $font-tiny;
        padding-left: 17px;
        padding-bottom: 0px;
        background: url('list-item-bullet-tree.png') no-repeat top left;
      }
    }
  }
  margin-left: 4px;
  a.new_motion {
    float: right;
    margin-right: 5px;
    margin-top: -2px;
    font-weight: bold;
    font-size: 17px;
  }
}
