@import "settings";
@import "mixins";


body.group_setup {
  .nav-tabs > li > a:hover{
    border-color: transparent;
  }
  &.finish {
    .recipient-list {
      max_height: 300px;
      overflow:scroll;
    }
    #finished { float: right; }
  }
  &.setup {
    .control-label { display: block; }
    #group_setup_group_description { height: 130px; }
    // the following two lines added to cope with a bootstrap tab bug
    // trimming off the start and end of the inputs
    .radio { padding-left: 22px; }

    #next, #send_invites {
      float: right;
      margin-left: 5px;
    }
    .more-help{
      background: ghostwhite;
      padding: 1.5em;
      border: 1px solid rgba(0, 0, 0, 0.1);
      @include box-shadow (1px, 1px, 1px, rgba(0,0,0,0.2));
      @include border-radius (6px);
      ul{
        list-style: circle;
        list-style-position:inside;
        li{
          margin-bottom: 0.25em;
        }
      }
    }
    /*#wizard-tabs { min-height: 510px; }*/
    .character-counter { 
      top: 5px;
      left: 12px;
    }
  }
}
