// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$token-input-line-height: 10px;
$token-input-font-size: 10px;
$token-input-width: 278px;

.clear-both {
  clear: both;
  height: 15px;
}

/**** Group admin ****/
#group {
  #right-panel {
    #membership-requested { width: 200px; }
  }
}

#group-form {
  form {
    width: 550px;
    .input { margin-left: 0px; display: inline; }
    .clearfix { padding-top: 0px; margin-bottom: 10px; display: block; }
    #group_name { width: 390px; }
    .privacy-settings {
      .setting { padding-top: 20px; }
      select { width: 150px; }
      .input { text-align: right; }
    }
  }
}

/**** Group page ****/
.group-title {
  color: #888;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #BBB;
  .btn { float: right; margin: -12px 0 0 10px; }
}

#discussions {
  margin-top: 8px;
  /*margin-left: 10px;*/
  padding-bottom: 30px;
  .discussion {
    padding-right: 5px;
    .discussion-title {
      padding-left: 7px;
      padding-top: 3px;
      display: inline;
    }
    .proposal-container {
      padding-left: 7px;
      padding-bottom: 7px;
      font-size: 13px;
      line-height: 16px;
      height: 30px;
      color: #BBB;
      /*background-color: #EEE;*/
      .vote-icon {
        display: inline-block;
        height: 16px;
        float: left;
      }
      .proposal-title-container {
        margin-left: 12px;
        display: inline-block;
        width: 400px;
        float: left;
        .proposal-label {
          font-style: italic;
          color: #BBB;
        }
        .proposal-title {
          color: #888;
        }
      }
      .proposal-stats {
        display: inline;
        float: left;
        width: 180px;
        text-align: right;
        .proposal-close-date {
        }
        .proposal-engagement {
          color: #BBB;
          float: right;
        }
      }
    }
  }
  .alert-info {
    width: 32px;
    height: 20px;
    display: block;
    float: right;
    .discussion-enabled-icon {
      background: url("discussion.png");
      background-size: 20px;
      background-position-y: 13px;
      background-position-x: -2px;
      background-repeat: no-repeat;
    }
    .discussion-disabled-icon {
      background: url("discussion-disabled.png");
      background-size: 20px;
      background-position-y: 13px;
      background-position-x: -2px;
      background-repeat: no-repeat;
    }
    .discussion-icon-container{
      display: block;
      margin-left: 6px;
      margin-top: -7px;
      height: 30px;
      width: 20px;
    }
  }
  #activity-count {
    height: 12px;
    font-size: 7px;
    display: inline;
    margin-left: 12px;
  }
}

#sidebar {
  #subgroups {
    padding-bottom: 20px;
  }
  #user_email_input {
    display: inline;
    .input {
      display: inline;
      margin-left: 0px;
    }
    #user_email {
      width: 270px;
      margin-top: 5px;
    }
  }
  #user-form{
    #member-email-input { padding-top: 10px; }
    #user-list{ padding-top: 4px; }
  }
  #request-list {
    margin-top: 8px;
  }
  input#user_email{
    margin-bottom: 5px;
  }
  #button-invite {
    padding-top: 8px;
    text-align: left;
    input {
      margin: 0px;
    }
  }
  #member-requests{ margin-top: 5px; display: inline; }
  #users-list {
    width: 270px;
    margin-top: 15px;
  }
  .btn-edit-delete {
    .btn {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
  #editable-user-row{ margin-top: -10px; }
  #uneditable-user { display: inline; }
  #uneditable-tag-list { display: inline; }
  .uneditable-tag {
    border: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 10px;
    padding: 2px;
    padding-left: 3px;
    line-height: 10px;
    background-color: #EFF2F7;
    display: inline;
    margin-left: 3px;
    }
  div.token-input-dropdown-facebook {
  }
  ul.token-input-list-facebook {
    line-height: $token-input-line-height;
    font-size: $token-input-font-size;
    width: $token-input-width !important;
    border-color: whitesmoke;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-top: -2px;
  }
  ul.token-input-list-facebook li {
    line-height: 10px;
    border: 0px;
    padding-bottom: 2px;
  }
  ul.token-input-list-facebook p {
    line-height: $token-input-line-height;
    font-size: 9px;
    color: #888;
  }
  div.token-input-dropdown-facebook p {
    line-height: $token-input-line-height;
    font-size: $token-input-font-size;
  }
  .token-input-input-token-facebook input {
    line-height: $token-input-line-height;
    font-size: $token-input-font-size;
    height: auto;
    width: 50px !important;
  }
  ul.membership-row li {
    display: block;
    font-size: 14px;
    float: left;
  }
  ul.membership-row li.membership-admin-functions {
    float:right;
  }
  .unstyled.membership-row.tags {
    float: left;
  }
}

/**** group dashboard ****/
.group-panel {
  margin-top: 9px;
}

/* TODO: this is also being used by the home dashboard.
 *       it should probably be moved to generic.css
 */
ul#group-list {
  margin-bottom: 2px;
  .group-link{
    width: 90%;
    display: inline-block;
  }
  .group-link.disabled{
    a{
      color: grey;
    }
  }
  li{
    font-size: 14px;
    line-height: 16px;
    margin-top: 4px;
    list-style-type: none;
    ul {
      margin-left: 0px;
      li {
        margin-top: 2px;
        font-size: 12px;
        padding-left: 17px;
        background: url('list-item-bullet-tree.png') no-repeat top left;
      }
    }
  }
  margin-left: 4px;
  a.new_motion {
    float: right;
    margin-right: 5px;
    margin-top: -2px;
    font-weight: bold;
    font-size: 17px;
  }
}

