// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "settings";
@import "bootstrap/mixins";
@import "mixins";

// group title (on almost all pages)
.group-title {
  margin-bottom: 10px;
  hr {
    margin: 5px 13px;
    /*border-top: 1px solid #CCC*/
  }
  h1 {
    float: left;
    line-height: 1.2em;
  }
  h1 page-title a {
    color: $dark-grey;
  }
  .home-title {
    display: inline;
    color: $dark-grey;
  }
  #privacy {
    display: inline;
    margin: 0 10px;
    position: relative;
    top: 2px;
  }
  .group-options {
    display: inline;
    position: relative;
    float: right;
  }
  .group-options a {
    font-size: 0.9em;
  }
  .group-options .icon-cog {
    opacity: 0.65;
    position: relative;
    top: 1px;
  }
  .group-options .options-dropdown-icon {
    position: relative;
    bottom: 1px;
    padding-right: 2px;
    padding-left: 10px;
  }
  .privacy-dropdown {
    display: inline;
    width: 100px;
  }
  .privacy-dropdown .dropdown-menu {
    margin-top: 8px;
  }
}

#group_email_subject {
  width: 510px;
}
#group_email_body {
  width: 510px;
}


#group-form {
  form {
    .inputError {
      display: inline-block;
      @include ie7-inline-block();
    }
    #group-name-error { float: right; }
    #group-name-label { display: inline; }
    #group-name { display: block; }
    .control-group { margin-bottom: 0px; }
    .character-counter { bottom: 11px; }
    hr {
      margin: 5px 0px 10px 0px;
    }
  }
  #group_name { width: 390px; }
  .setting-label {
    margin-bottom: 4px;
    color: $mid-grey;
  }
  .settings {
    margin-bottom: 20px;
  }
  .privacy-settings input {
    display: inline;
    float: left;
    margin-right: 10px;
    margin-left: 15px;
  }
  .explanation {
    position: relative;
    right: 40px;
    top: 1px;
  }
}

/**** Group page ****/

body.groups.show {
  .discussion-preview .discussion-title {margin-top: 7px;}
  .discussion-preview.showing-group .discussion-title {margin-top: 0}
}
.sub-panel {
  background-color: $sub-selector-panel;
  @include border-radius(8px);
  border: 1px solid $light-grey;
  margin-bottom: 20px;
  padding: 6px 6px;
  h3 {
    font-size: $font-medium;
    color: $header-titles-color;
    display: inline;
    line-height: 1.8em;
    margin-bottom: 5px;
  }
  .edit_group .btn {
    float: right;
  }
  ul.group-links, ul#users-list, ul#dashboard-groups-list {
    margin: 0 0 8px 5px;
    li {
      line-height: 1.6em;
      background-color: $sub-selector-panel;
    }
  }
  .dropdown { float: right; }
  .dropdown li {
    background-color: white;
    line-height: 1em;
  }
  .dropdown li a {
    color: $dark-grey;
    text-shadow: none;
    text-decoration: none;
  }
  .dropdown li a:hover { color: white; }
}

/*group panel*/
.sub-panel#groups{
  h3 { display: block; }
  ul {
    .sub-group a{ padding-left: 20px; }
  }
}

/*request membership panel*/
#request-membership {
  form { display: inline; }
  .btn {
    width: 150px;
    color: $mid-grey;
  }
  margin-bottom: 10px;
}
/* description panel */
.sub-panel#group-description-panel {
  #description-edit-form {
    margin-bottom: 0px;
    #description-input {
      width: 270px;
      height: 90px;
      margin-bottom: 2px;
    }
    .character-counter {
      width: 278px;
      top: 0;
    }
    .control-group { margin-bottom: 0px; }
  }
}
.edit-description {
  color: $mid-grey;
  text-decoration: underline;
}
.edit-description:hover {
  color: $dark-grey;
}
#add-member-popup-btn {
  margin-bottom: 5px;
}

/* sub groups panel */
#sub-groups {
  h3 { display: block; }
  .group-link a:hover {
    color: $dark-grey;
  }
}

/* membership request panel */
#member-requests { display: inline; }

/* add member panel */
#add-members {
  .btn#invite {
    margin-top: 0px;
    width: 60px;
    float: right;
  }
  #cancel-add-members {
    color: $mid-grey;
    padding-right: 10px;
    float: right;
    position: relative;
    top: 6px;
    font-size: $font-tiny;
  }
  li { padding: 0px; }
}

#invite-group-members {
  .modal-body {
    max-height: 300px;
    overflow-y: scroll;
  }
  form {
    margin-bottom: 0px;
    input.btn { margin: 0px; }
  }
}

.invite-member-checkbox-container {
  input, label { display: inline }
}

#user_email_input {
  display: inline;
  #user_email {
    width: 270px;
  }
}
input#user_email{
  margin-bottom: 5px;
}
.member-request-message{
  color: $dark-grey;
  a{ text-decoration: underline; }
}
// #new_user { padding-bottom: 14px; }

/* membership panel */
.dropdown#members { padding-left: 5px; }

.user-name { float: left; }
.membership-count {
  float: right;
  font-size: $font-small;
  color: white;
  background-color: $light-grey;
  margin: 2px;
}
.membership-user-name {
  color: $mid-grey;
  float: left;
}
#users-list .admin-controls {
  float: right;
  width: 98px;
  text-align: right;
  font-size: $font-tiny;
  color: $mid-grey;
  .close {
    float: right;
    padding-left: 8px;
    position: relative;
    bottom: 2px;
    color: $mid-grey;
    opacity: 0.6;
    text-decoration: none;
  }
  a:hover {
    color: $dark-grey;
  }
  .close:hover {
    color: black;
  }
}

/**** Private group form ****/
#private-message {
  color: $mid-grey;
  text-align: center;
  width: 50%;
  margin: 0px auto;
}

