@import "settings";
@import "bootstrap/mixins";
@import "mixins";

body.groups {
  &.show {
    .discussion-preview .discussion-title { margin-top: 7px; }
    .discussion-preview.showing-group .discussion-title { margin-top: 0 }

    #group-description-panel {
      #description-edit-form {
        margin-bottom: 0px;

        #description-input {
          width: 270px;
          height: 90px;
          margin-bottom: 2px;
        }

        .character-counter {
          width: 278px;
          top: 0;
        }

        .control-group { margin-bottom: 0px; }
      }
    }

    #sub-groups-panel {
      .group-link a:hover { color: $dark-grey; }
    }

    #members-panel {
      .membership-count {
        font-size: $font-small;
        color: white;
        background-color: $light-grey;
        margin: 2px;
      }

      .membership-user-name { float: left; }

      #users-list .admin-controls {
        float: right;
        text-align: right;
        font-size: $font-tiny;
        color: $mid-grey;
      }
    }
    .invite-member-checkbox-container {
      label {
        display: inline;
        padding-left: 10px;
        position: relative;
        top: 4px;
      }
    }
  }
}

// group title (on almost all pages)
.group-title {
  margin: 0;
  h1 {
    font-size: 24px;
    margin-bottom: 0;
  }

  .home-title {
    display: inline;
    color: $dark-grey;
  }

  .group-options {
    display: inline;
    position: relative;
    float: right;

    .icon-cog {
      opacity: 0.65;
      margin-top: 2px;
    }

    .options-dropdown-icon {
      position: relative;
      bottom: 1px;
      padding-right: 2px;
      padding-left: 10px;
    }
  }

  .privacy-dropdown {
    display: inline;
    width: 120px;
    bottom: 5px;

    .dropdown-menu a{
      padding-left: 5px;
    }

    li.privacy-item
      i {
        display: inline-block;
        width: 15px;
      }

      button {
        border: none;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        margin-bottom: 0px;
        box-shadow: none;
        width: 180px;
        padding-left: 25px;
        text-align: left;
        &:hover {
          color: white;
          background-color: #08c;
        }
      }

    form {
      margin: 0px;
      display: inline;
    }
  }
}

// used on dashboard.show and groups.show
.sub-panel {
  @include border-radius(8px);
  background-color: $sub-selector-panel;
  border: 1px solid $light-grey;
  margin-bottom: 20px;
  padding: 6px 6px;

  h4 {
    line-height: 1.8em;
    margin-bottom: 5px;
  }

  a { color: $mid-grey; }

  ul
    &.group-links, &#users-list, &#dashboard-groups-list {
    margin-top: 8px;
    li {
      line-height: 1.6em;
      background-color: $sub-selector-panel;
    }
  }

  .dropdown {
    float: right;
    li {
      background-color: white;
      line-height: 1em;
    }
    li a {
      color: $dark-grey;
      text-shadow: none;
      text-decoration: none;
      &:hover { color: white; }
    }
  }
}

// edit description dropdown form
.edit-description {
  color: $mid-grey;
  text-decoration: underline;
  &:hover { color: $dark-grey }
}
