@import "settings";
@import "bootstrap/mixins";
@import "mixins";

body.groups {
  &.view_payment_details {
    color: #000;
    h1 { margin: 6px 0 22px 0; }
    p {
      font-size: 1.2em;
      font-weight: 300;
      line-height: 24px;
    }
    #contact-us {
      // color: #005681;
      display: block;
    }
    #footer {
      font-size: 1.2em;
      font-weight: 700;
      margin-top: 20px;
      line-height: 24px;
     }
    #payment-options { margin-top: 16px; }
    .payment-option-container {
      border-radius: 4px;
      display: inline-block;
      font-size: 1.1em;
      @include ie7-inline-block();
      margin-right: 4px;
      padding: 14px 12px 12px;
      width: 132px;
      .flat-btn {
        border-radius: 4px;
        box-shadow: 1px 1px 2px 1px #888;
        color: #FFF;
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        margin: 12px 0 0 0;
        padding: 8px;
        text-align: center;
        vertical-align: middle;
      }
    }
    #us-dollars {
      margin: 10px 54px 0 0;
      text-align: right;
      color: $mid-grey;
    }
  }
  &.show {
    .discussion-preview .discussion-title { margin-top: 7px; }
    .discussion-preview.showing-group .discussion-title { margin-top: 0; }
    #button-container { margin-top: 5px; }
    #group-description-panel {
      #description-edit-form {
        margin-bottom: 0px;
        #description-input {
          width: 270px;
          height: 90px;
          margin-bottom: 2px;
        }
        .character-counter {
          width: 278px;
          top: 0;
        }
        .dropdown-menu a {
          padding-left: 5px;
        }
        form {
          margin: 0;
          display: inline;
        }
      }
    }
    .group-options {
      width: 200px;
      .dropdown-menu {
        min-width: 216px;
        margin-top: 0;
        left: 0;
      }
    }

    .invite-member-checkbox-container {
      label {
        display: inline;
        padding-left: 10px;
        position: relative;
        top: 4px;
      }
    }

    #members-panel {
      .dropdown-menu {
        min-width: 205px;
        margin-top: 0;
      }
      #group-member-options {
        float: right;
        height: 14px;
        line-height: 16px;
        margin-top: 1px;
      }
      .membership-count {
        background-color: $light-grey;
        color: white;
        font-size: $font-small;
        margin: 2px;
        float: right;
      }
    }
    #request-membership {
      form { display: inline; }
      .btn {
        width: 170px;
        color: $mid-grey;
      }
    }
    #membership-requests {
      #approve { font-size: $font-tiny; }
      .membership-user-name {
        color: #777;
        display: inline-block;
        width: 146px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    #setup_next_steps {
      background-color: #D9EDF7;
      border-color: #BCE8F1;
      color: #3A87AD;
      ol {
        margin-left: 20px;
      }
      padding-bottom: 10px;
    }

    #request-membership {
      margin-bottom: 10px;
      .btn {
        width: 195px;
        color: $mid-grey;
      }
      form { display: inline; }
      #request-new-membership { width: 220px; }
    }

    #setup-next-steps {
      background-color: #D9EDF7;
      border-color: #BCE8F1;
      color: #3A87AD;
      padding-bottom: 10px;
      ol { margin-left: 20px; }
    }

    #sub-groups-panel {
      .group-link a:hover { color: $dark-grey; }
    }
  }
}

#group_email_subject { width: 510px; }
#group_email_body { width: 510px; }

// group title (on almost all pages)
.group-title {
  margin: 0;
  h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .home-title {
    color: $dark-grey;
    display: inline;
  }
  .privacy-dropdown {
    display: inline;
    width: 120px;
    bottom: 5px;
  }
  .privacy-dropdown .dropdown-menu a { padding-left: 5px; }
  li.privacy-item i {
    display: inline-block;
    width: 15px;
  }
  .privacy-dropdown form {
    margin: 0px;
    display: inline;
  }
  li.privacy-item button {
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    margin-bottom: 0px;
    box-shadow: none;
    width: 180px;
    padding-left: 25px;
    text-align: left;
  }
  li.privacy-item button:hover {
    color: white;
    background-color: #08c;
  }
}

.name-separator {
  display: inline-block;
  @include ie7-inline-block();
  width: 15px;
  position: relative;
  bottom: 1px;
  font-size: 0.6em;
  text-align: center;
}
