@import "settings";
@import "bootstrap/mixins";
@import "mixins";


body.group_requests {
  abbr {
    border-bottom: none;
    color: $mid-grey;
  }
  p { font-size: $font-medium-large; }
  #informal-group { background-color: #D8EBF1; }
  &.create, &.new {
    form {
      input[type="email"], input[type="text"] {
        font-size: 18px;
        line-height: 22px;
        height: 22px;
        margin-top: 6px;
      }
      label { font-size: 18px; }
      .btn {
        font-weight: 700;
        margin-top: 15px;
      }
      .control-group { margin-bottom: 16px; }
      textarea {
        font-size: 18px;
        line-height: 22px;
        margin-top: 6px;
      }
    }
    h6 { font-weight: 400; }
    .info-box {
      margin: 0px 0 0 50px;
      padding: 25px;
      width: 250px;
      h2 { font-weight: 400; }
    }
    #intro { margin-bottom: 30px; }
    #organisation {
      background-color: #DEF1DE;
      p {
        margin-top: 14px;
        font-style: italic;
        span { font-weight: 700; }
      }
    }
  }
}
