// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "settings";
@import "bootstrap/mixins";
@import "mixins";

// group title (on almost all pages)
.group-title {
  margin-bottom: 20px;
  hr {
    margin: 5px 13px;
    border-top: 1px solid #CCC
  }
  h1 {
    float: left;
    line-height: 1.2em;
  }
  #page-title {
    display: inline;
    color: $dark-grey;
  }
  #privacy {
    display: inline;
    margin: 10px;
    position: relative;
    top: 2px;
  }
  .group-options {
    display: inline;
    position: relative;
    float: right;
  }
  .group-options a {
    color: #777;
    font-size: 0.9em;
  }
  .group-options .icon-cog {
    opacity: 0.65;
    position: relative;
    top: 1px;
  }
  .group-options .options-dropdown-icon {
    position: relative;
    bottom: 1px;
    padding-right: 2px;
    padding-left: 10px;
  }
}

#group_email_subject {
  width: 510px;
}
#group_email_body {
  width: 510px;
}


#group-form {
  form {
    .inputError {
      display: inline-block;
      @include ie7-inline-block();
    }
    #group-name-error { float: right; }
    #group-name-label { display: inline; }
    #group-name { display: block; }
    .control-group { margin-bottom: 0px; }
    .character-counter { bottom: 11px; }
    hr {
      margin: 5px 0px 10px 0px;
    }
  }
  #group_name { width: 390px; }
  .setting-label {
    margin-bottom: 4px;
    color: $mid-grey;
  }
  .settings {
    margin-bottom: 20px;
  }
  .privacy-settings input {
    display: inline;
    float: left;
    margin-right: 10px;
    margin-left: 15px;
  }
  .explanation {
    position: relative;
    right: 40px;
    top: 1px;
  }
}

/**** Group page ****/

body.groups.show .discussion-preview .discussion-title { margin: 8px 0 8px 0; }
li.selector-item.no-discussions, li.selector-item.no-proposals {
}
li.tool-bar-item.no-image a {
  padding: 5px 10px 6px 10px;
}
li.tool-bar-item.no-image:hover  {
  background-color: #ccc;
}
li.tool-bar-item#proposal {
  background-image:url('/assets/proposal.png');
  background-position: 10px 4px;
}
li.tool-bar-item#proposal:hover {
  background-position: 10px -49px;
}
li.tool-bar-item#discussion {
  background-image:url('/assets/discussion-white.png');
  background-position: 10px -59px;
}

li.tool-bar-item#discussion:hover {
  background-position: 10px 4px;
}

.sub-panel {
  background-color: $sub-selector-panel;
  @include border-radius(8px);
  border: 1px solid $light-grey;
  margin-bottom: 20px;
  padding: 6px 9px;
  h3 {
    font-size: $font-medium;
    color: $header-titles-color;
    display: inline;
    line-height: 1.8em;
  }
  .btn {
    color: $mid-grey;
  }
  .edit_group .btn {
    float: right;
  }
  ul {
    border-top: none;
    list-style: none;
    margin: 6px 0 8px 0;
  }
  li {
    line-height: 1.6em;
    background-color: $sub-selector-panel;
    a { color: $mid-grey; }
  }
  .dropdown { float: right; }
  .dropdown li {
    background-color: white;
    line-height: 1em;
  }
  .dropdown li a {
    color: $dark-grey;
    text-shadow: none;
    font-size: $font-small;
  }
  .dropdown li a:hover { color: white; }
}

/*request membership panel*/
#request-membership {
  form { display: inline; }
  .btn {
    width: 150px;
    color: $mid-grey;
  }
  margin-bottom: 10px;
}
/* group description panel */
#group-description {
  color: $dark-grey;
  .group-description {
    font-size: $font-small;
    width: 260px;
    float: left;
    display: inline;
    padding: 2px 0 2px 2px;
  }
}
#add-group-description {
  form { margin-bottom: 0px }
  #description-input {
    width: 270px;
    height: 90px;
    margin-bottom: 2px;
  }
  .character-counter {
    width: 278px;
    position: relative;
    bottom: 0px;
    margin-bottom: 8px;
  }
  .control-group { margin-bottom: 0px; }
}
#cancel-add-description {
  color: $mid-grey;
  padding-right: 10px;
  float: right;
  position: relative;
  top: 5px;
  font-size: $font-tiny;
}
#add-description {
  color: $mid-grey;
}

#add-member-popup-btn {
  margin-bottom: 5px;
}

/* sub groups panel */
#sub-groups {
  .new_motion_link {
    float: right;
    padding-right: 10px;
  }
}
/* membership request panel */
#member-requests { display: inline; }

/* add member panel */
#add-members {
  #add-members-btn {
    float: left;
    width: 135px;
    text-align: left;
  }
  #add-members-btn .btn-text {
    padding-left: 5px;
    display: inline;
  }
  .btn#invite {
    margin-top: 0px;
    width: 60px;
    float: right;
  }
  #cancel-add-members {
    color: $mid-grey;
    padding-right: 10px;
    float: right;
    position: relative;
    top: 6px;
    font-size: $font-tiny;
  }
  li { padding: 0px; }
}

#invite-group-members {
  .modal-body {
    max-height: 300px;
    overflow-y: scroll;
  }
  form {
    margin-bottom: 0px;
    input.btn { margin: 0px; }
  }
}

.invite-member-checkbox-container {
  input, label { display: inline }
}

#user_email_input {
  display: inline;
  #user_email {
    width: 270px;
  }
}
input#user_email{
  margin-bottom: 5px;
}
#new_user { padding-bottom: 14px; }

/* membership panel */
.dropdown#members { padding-left: 5px; }

.user-name { float: left; }
#membership-count {
  display: inline;
  float: right;
  font-size: $font-small;
  color: white;
  background-color: $light-grey;
  margin: 2px;
}
.membership-user-name {
  color: $mid-grey;
  float: left;
  display: inline;
}
.admin-controls {
  float: right;
  width: 98px;
  text-align: right;
  font-size: $font-tiny;
  display: inline;
  .close {
    padding-left: 8px;
    position: relative;
    bottom: 2px;
    color: $mid-grey;
    opacity: 0.6;
  }
  .close:hover {
    color: black;
  }
  a { color: $mid-grey; }
}


/**** Private group form ****/
#private-message {
  color: $mid-grey;
  text-align: center;
  width: 50%;
  margin: 0px auto;
}

/* dashboard */
#dashboard-groups-list {
  margin: 0 0 0 10px;
}
.sub-panel a { color: $mid-grey; }
.sub-group {
  font-size: $font-small;
  padding-left: 20px;
}


/*.info-help {*/
  /*margin-left: 6px;*/
  /*height: 19px;*/
  /*width: 16px;*/
  /*-moz-opacity: .5;*/
  /*filter:alpha(opacity=50);*/
  /*opacity: 0.5;*/
  /*background-image:url("/assets/dark-info.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position-y: 3px;*/
  /*display: inline-block;*/
  /*@include ie7-inline-block();*/
  /*cursor: pointer;*/
  /*position: relative;*/
  /*bottom: 3px;*/
/*}*/
/*.info-help:hover {*/
  /*opacity: 1;*/
/*}*/
