// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "settings";
@import "bootstrap/mixins";
@import "mixins";

#group-form {
  form {
    width: 550px;
    .inputError {
      display: inline-block;
      @include ie7-inline-block();
    }
    #group_name { width: 390px; }
    #setting-label {
      margin-bottom: 4px;
      color: $mid-grey;
    }
    .privacy-settings {
      padding-bottom: 10px;
      select {
        width: 182px;
        margin-bottom: 10px;
      }
      .input { text-align: right; }
    }
  }
}

/**** Group page ****/

li.no-discussions, li.no-proposals {
  padding: 5px 10px;
  background-color: $highlighted
}
.tick {
  padding-left: 5px;
  position: relative;
  bottom: 4px;
}
#tool-bar-item-discussion {
  padding-left: 30px;
  background-image:url('/assets/discussion.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: 10px;
  background-position-y: 6px;
}

#tool-bar-item-discussion:hover {
  background-position-y: -17px;
}
/*request membership panel*/
#request-membership {
  form { display: inline; }
  .btn {
    width: 150px;
    color: $mid-grey;
  }
  margin-bottom: 10px;
}
/* group description panel */
#group-description {
  color: $dark-grey;
  .group-description {
    font-size: $font-small;
    width: 260px;
    float: left;
    display: inline;
    padding: 2px 0 2px 2px;
  }
}
#add-group-description {
  form { margin-bottom: 0px }
  #description-input {
    width: 270px;
    height: 90px;
    margin-bottom: 2px;
  }
  .character-counter {
    width: 278px;
    position: relative;
    bottom: 0px;
    margin-bottom: 8px;
  }
  .control-group { margin-bottom: 0px; }
}
#cancel-add-description {
  color: $mid-grey;
  padding-right: 10px;
  float: right;
  position: relative;
  top: 5px;
}
#add-description {
  color: $mid-grey;
}

#add-member-popup-btn {
  margin-bottom: 5px;
}

/* sub groups panel */
#sub-groups {
  .new_motion_link {
    float: right;
    padding-right: 10px;
  }
}

/* add member panel */
#add-members {
  .btn {
    float: left;
    width: 150px;
    text-align: left;
  }
  .btn#invite {
    margin-top: 0px;
    width: 60px;
    float: right;
  }
  #cancel-add-members {
    color: $mid-grey;
    padding-right: 10px;
    float: right;
    position: relative;
    top: 6px;
  }
  li { padding: 0px; }
}

#invite-group-members {
  .modal-body {
    max-height: 300px;
    overflow-y: scroll;
  }
  form {
    margin-bottom: 0px;
    input.btn { margin: 0px; }
  }
}

.invite-member-checkbox-container {
  input, label { display: inline }
}

#user_email_input {
  display: inline;
  #user_email {
    width: 270px;
  }
}
input#user_email{
  margin-bottom: 5px;
}
#new_user { padding-bottom: 14px; }

/* membership panel */
.dropdown#members { padding-left: 5px; }

#membership-count {
  display: inline;
  float: right;
  font-size: $font-small;
  color: white;
  background-color: $light-grey;
  margin: 2px;
}
.user-name {
  color: $mid-grey;
  width: 178px;
  display: inline-block;
  @include ie7-inline-block();
}
.admin-controls {
  float: right;
  width: 98px;
  text-align: right;
  font-size: $font-tiny;
  display: inline;
  .close {
    padding-left: 8px;
    position: relative;
    bottom: 2px;
    color: $mid-grey;
    opacity: 0.6;
  }
  .close:hover {
    color: black;
  }
  a { color: $mid-grey; }
}


/**** Private group form ****/
#private-message {
  color: $mid-grey;
  text-align: center;
  width: 50%;
  margin: 0px auto;
}

/* dashboard */
.sub-panel a { color: $mid-grey; }
.sub-group {
  font-size: $font-small;
  padding-left: 20px;
}


/*.info-help {*/
  /*margin-left: 6px;*/
  /*height: 19px;*/
  /*width: 16px;*/
  /*-moz-opacity: .5;*/
  /*filter:alpha(opacity=50);*/
  /*opacity: 0.5;*/
  /*background-image:url("/assets/dark-info.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position-y: 3px;*/
  /*display: inline-block;*/
  /*@include ie7-inline-block();*/
  /*cursor: pointer;*/
  /*position: relative;*/
  /*bottom: 3px;*/
/*}*/
/*.info-help:hover {*/
  /*opacity: 1;*/
/*}*/
