// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "settings";
@import "bootstrap/mixins";
@import "mixins";

#group-form {
  form {
    width: 550px;
    .inputError {
      display: inline-block;
      @include ie7-inline-block();
    }
    #group_name { width: 390px; }
    #setting-label {
      margin-bottom: 4px;
      color: $mid-grey;
    }
    .privacy-settings {
      select {
        width: 182px;
        margin-bottom: 15px;
      }
      .input { text-align: right; }
    }
  }
}

/**** Group page ****/

.group-description {
  color: $dark-grey;
  font-size: $font-tiny;
}
#add-group-description {
  #description-input {
    width: 290px;
    margin-bottom: 5px;
  }
}
.empty-placeholder {
  border: 1px dashed $light-grey;
  @include border-radius(4px);
  padding: 6px;
  font-size: $font-small;
}
#discussions {
  padding: 4px;
  .btn { margin-bottom: 15px; }
  h4 {
    color: $mid-grey;
    font-size: $font_tiny;
    float: left;
  }
  .info-help {
    margin-left: 8px;
    height: 19px;
    width: 16px;
    background-image:url("/assets/info.png");
    background-repeat: no-repeat;
    background-position-y: 1px;
    display: inline-block;
    @include ie7-inline-block();
    cursor: pointer;
  }
  .info-help:hover {
    background-image:url("/assets/dark-info.png");
  }
}

#add-member-popup-btn {
  margin-bottom: 5px;

}

#invite-group-members {
  .modal-body {
    max-height: 300px;
    overflow-y: scroll;
  }
  form {
    margin-bottom: 0px;
    input.btn { margin: 0px; }
  }
}

.invite-member-checkbox-container {
  input, label { display: inline }
}

#user_email_input {
  display: inline;
  #user_email {
    width: 290px;
  }
}
input#user_email{
  margin-bottom: 5px;
}

.user-name {
  font-size: $font-small;
  width: 180px;
  display: inline-block;
  @include ie7-inline-block();
}
.admin-controls {
  float: right;
  width: 112px;
  text-align: right;
  font-size: $font-tiny;
  display: inline;
  .close {
    padding-left: 8px;
    position: relative;
    bottom: 2px;
    color: $mid-grey;
    opacity: 0.6;
  }
  .close:hover {
    color: black;
  }
  a { color: $mid-grey; }
}

form#new_membership, #membership-requested {
  margin-bottom: 5px;
}

#membership-count {
  display: inline;
  float: right;
  font-size: $font-small;
  color: #999;
  padding-right: 8px
}

/**** Private group form ****/

#private-message {
  color: $mid-grey;
  text-align: center;
  width: 50%;
  margin: 0px auto;
}

// Discussion list panel
//
// NOTE: this code is shared with the group show page and
//       the dashboard page.
//
.discussion:hover {
  background-color: rgb(237, 239, 245);
  background-color: rgba(237, 239, 245, 0.98);
}
.discussion {
  color: $mid-grey;
  position: relative;
  #group-name {
    font-size: $font-tiny;
    a {
      color: $mid-grey;
      position: relative;
      z-index: 2;
    }
    margin-top: -0.3em;
    padding-left: 5px;
  }
  .full-discussion-title {
    padding-left: 5px;
    font-size: 0.8em;
    .discussion-title {
      display: inline-block;
      /*@include ie7-inline-block();*/
      width: 500px;
    }
  }
  #proposal-container {
    padding-left: 7px;
    padding-bottom: 7px;
    min-height: 30px;
    color: $light-grey;
  }
  #vote-icon {
    padding-top: 4px;
    display: inline-block;
    /*@include ie7-inline-block();*/
    height: 16px;
    width: 20px;
    float: left;
  }
  #no-vote-space { width: 20px; }
  #proposal-title-container {
    margin-left: 12px;
    display: inline-block;
    /*@include ie7-inline-block();*/
    width: 400px;
  }
  #proposal-label {
    font-size: $font-tiny;
    font-style: italic;
  }
  #proposal-title {
    font-size: $font-tiny;
    color: $mid-grey;
  }
  #proposal-close-date {
    margin-top: -0.4em;
    font-size: 0.7em;
  }
  #comment-info {
    display: inline-block;
    /*@include ie7-inline-block();*/
    margin-top: -4px;
    float: right;
    padding-right: 5px;
    font-size: $font-tiny;
    text-align: right;
  }
  #total-comments {
    margin-top: -9px;
  }
  #alert-info {
    float: right;
  }
  .discussion-icon-container {
    background-size: 25px;
    background-repeat: no-repeat;
    width: 32px;
    height: 30px;
    background-image: url("discussion.png");
  }
  .enabled-icon { opacity: 1.0 }
  .disabled-icon { opacity: 0.4 }

  #activity-count {
    margin-left: 18px;
    height: 10px;
    font-size: 0.6em;
    padding: 0.4em;
    padding-top: 0.1em;
  }
  .discussion-link {
    position: relative;
    z-index: 2;
  }
}

/**** group dashboard ****/


ul#group-list {
  .group-link{
    width: 90%;
    display: inline-block;
    @include ie7-inline-block();
  }
  .group-link.disabled{
    a{
      color: grey;
    }
  }
  li{
    padding-bottom: 4px;
    font-size: $font-small;
    line-height: 16px;
    list-style-type: none;
    ul {
      margin-left: 0px;
      margin-bottom: 0px;
      li {
        margin-top: 2px;
        font-size: $font-tiny;
        padding-left: 17px;
        padding-bottom: 0px;
        background: url('list-item-bullet-tree.png') no-repeat top left;
      }
    }
  }
  margin-left: 4px;
  a.new_motion {
    float: right;
    margin-right: 5px;
    margin-top: -2px;
    font-weight: bold;
    font-size: 17px;
  }
}
