// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear-both {
  clear: both;
  height: 15px;
}

ul.token-input-list-facebook {
  width: 490px !important;
  font-size: 11px;
  line-height: 15px;
}

ul.token-input-list-facebook li {
  line-height: 15px;
}

ul.token-input-list-facebook p {
  line-height: 15px;
  font-size: 11px;
}

div.token-input-dropdown-facebook p {
  line-height: 15px;
  font-size: 11px;
}

.token-input-input-token-facebook input {
  height: auto;
  line-height: 15px;
  font-size: 11px;
}
#group {
  h1 { margin-bottom: 15px; }
  #membership-requested { width: 200px; }
}

#group-form {
  form {
    width: 500px;
    label { text-align: left; }
    .privacy-settings {
      label { width: 300px; }
      select { width: 150px; }
      .input { text-align: right; }
    }
    /*#group_name_input .input { margin-left: 0px; }*/
    /*.radio-hint {*/
      /*font-size: .8em;*/
    /*}*/

    /*.choice {*/
      /*border-bottom: 1px lightgrey solid;*/
    /*}*/
  }
}

#user_email_input {
  display: inline;
  .input {
    display: inline;
    margin-left: 0px;
  }
  #user_email {
    width: 250px;
  }
}
