@import "settings";
@import "mixins";

.dropdown-menu {
  a {
    clear: both;
    color: #555;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 15px;
    white-space: nowrap;
  }
  li > a:hover, .active > a, .active > a:hover { 
    text-decoration: none;
  }
  h3 { padding-left: 15px; }
}

.main-container {
  margin: auto;
  background-color: $container;
  min-height: 100%;
  padding: 54px 20px 20px 20px;
}



.logged-in-navigation {
  .nav-item-icon {
    padding-right: 5px;
    opacity: 0.8;
  }
  ul.nav-bar-list {
    list-style: none; 
  }

  li.nav-item {
    margin-top: 10px;
    .caret {
      border-top: 4px solid $light-grey;
      opacity: 1;
    }
  }
  li.nav-item a.nav-logo-link {
    padding: 0px 8px 1px 0px;
    display: block;
    margin-bottom: 9px;
  }
  li.nav-item a.nav-link {
    color: $mid-grey;
    display: block;
    padding: 8px 8px;
    line-height: 18px;
  }
  li.nav-item a.nav-link:hover{
    color: $mid-grey;
    text-decoration: none;
    .caret { border-top: 4px solid #333; }
    span.nav-item-icon{ opacity: 1; }
  }

  li.nav-item ul.dropdown-menu a { color: $dark-grey; font-weight: bold; }
  li.nav-item ul.dropdown-menu a:hover { color: $link-blue; background: none; }

  li.nav-item#logo-home {
    float: left;
    margin-top: 8px;
  }

  li.nav-item#notifications-container {
    float: left;
  }

  li.nav-item#sign-in {
    float: right;
  }

  li.nav-item.dropdown h3 {
    padding-left: 15px;
  }
  li.nav-item.dropdown#user {
    float: right;
    margin-top: 5px;

    .avatar-canvas { border: none; }

    a.nav-link { padding: 3px;}

    .caret { margin-right: 4px; margin-top: 12px; }
    #header-user-image {
      position: relative;
      margin-right: 5px;
      @include border-radius(3px);
    }
    #user-name-dropdown { padding: 3px; display: inline-block; }
  }
  li.nav-item.dropdown#groups {
    float: left;
    #activity-count {
      font-size: $font-tinywiny;
      padding: 0px 3px;
      position: absolute;
      left: 31px;
      bottom: 17px;
    }
    .link-container a { display: inline; }
    .discussion-activity-count {
      display: inline;
      float: right;
      margin-left: 10px;
    }
  }

  /* group dropdown items */
  #group-dropdown-items {
    overflow-y: auto;
    max-height: 390px;
    min-width: 350px;
    h3 { 
      padding-left: 20px; border-bottom: 1px solid $light-grey;
    }
  }
  li#groups ul.dropdown-menu {
    background-color: #eee;
    a { min-width: 250px; }
  }
  li.group-item {
    background-color: white;
  }
  li.group-item.sub-group a,  {
    padding-left: 20px;
    font-size: $font-small;
  }
  li.group-item.all-groups {
    padding: 0 0 2px 0px;
    border-bottom: 1px solid $light-grey;
    a { color: $mid-grey; }
    background-color: #eee;
  }
  li.group-item.new-group {
    border-top: 1px solid $light-grey;
    a { color: $mid-grey; }
    background-color: #eee;
  }

  li.nav-item#help {
    float: right;
    padding-right: 14px;

    .help-question { padding-right: 10px; }
  }
  #notification-dropdown-items {
    background: #fff;
    a { color: $link-blue; }
  }
}
