@import "settings";

// topbar
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("title-bar-gradient.jpg");
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  z-index: 3;
}
.navbar-inner {
  border-radius: 0px;
  background-color: $header-color;
  background-image: none;
}
.container {
  margin: auto;
  padding: 70px 20px 20px 20px;
  background-color: $container;
  box-shadow: 0px 3px 7px #555;
  min-height: 100%
}
header {
  width: 940px;
  margin: 0px auto;
}
.dropdown-menu .divider { margin: 0px }

 /*sign in link (user not logged in) */
.navbar-wrapper .sign-in {
  float: right;
  a {color: $light-grey; }
  margin-top: 10px;
}
.sign-in:hover {
  a {
    color: white;
    text-decoration: none;
  }
}

/* navigation*/
.navbar {
  .nav{ padding-top: 2px; }
  div > ul a, .nav a{
    text-decoration: none;
  }
  .dropdown-menu {
    padding-top: 8px, 0px;
  }
  ul.secondary-nav {
    margin: 0px;
    position: relative;
  }
  margin-bottom: 0;
}

/* notifications styling in notifications.css.scss */

/* loomio dashboard link */
.navbar h1 {
  float: left;
  font-size: 0px;
  line-height: 0px;
  position: relative;
  a {
    display: block;
    height: 36px;
    padding: 4px 6px 0px;
  }
}

/* user dropdown */
.dropdown#user {
  float: right;
  #header-user-image {
    border: 1px solid #555;
    position: relative;
    bottom: 4px;
    margin-right: 5px;
  }
}

/* group dropdown */
li#my-groups {
  float: left;
  .group-icon {
    float: left;
    height: 20px;
    width: 32px;
    background-repeat: no-repeat;
    background-image:url("/assets/group.png");
    opacity: 0.8;
    position: relative;
    left: 7px;
  }
  a.dropdown-toggle { padding: 9px; }
  #activity-count {
    height: 10px;
    font-size: 0.7em;
    padding: 0.4em;
    padding-top: 0.1em;
    margin-left: 0px;
    position: relative;
    right: 3px;
    bottom: 5px;
  }
  #activity-count.span {margin-left: 0px;}
  .link-container a { display: inline; }
  .discussion-activity-count {
    display: inline;
    float: right;
    margin-left: 10px;
  }
}

li#my-groups a.dropdown-toggle:hover{
  color: white;
  .group-icon{ opacity: 1; }
}

/* group dropdown items */
li.group-item .group-name {
  float: left;
  display: inline;
}
li.new-group a { color: #08C; }
li.new-group:hover { a { color: white; } }

/*li.group-item { padding-left: 20px }*/
li.group-item.all-groups {
  padding: 0 0 2px 0px;
  border-bottom: 1px solid $light-grey;
  a { color: $mid-grey; }
}
li.group-item.sub-group { padding-left: 20px }

li.group-item:hover {
  background-color: #08C;
  background-color: #08c;
  a { color: white; }
}
