@import "settings";

// topbar
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("title-bar-gradient.jpg");
  background-repeat: repeat-x;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  z-index: 3;
}
.navbar-inner {
  border-radius: 0px;
  background-color: $header-color;
  background-image: none;
}
.navbar { margin-bottom: 0 }
.container {
  margin: auto;
  padding: 70px 20px 20px 20px;
  background-color: $container;
  box-shadow: 0px 3px 7px #555;
  min-height: 100%
}
header {
  width: 940px;
  margin: 0px auto;
}
.nav-item-icon {
  padding-right: 5px;
  opacity: 0.8;
}

ul.nav-bar-list { list-style: none; }

li.nav-item {
  .caret {
    border-top: 4px solid $light-grey;
    opacity: 1;
    /*margin-top: 11px;*/
  }
}
li.nav-item a.nav-logo-link {
  padding: 3px 8px 1px 8px;
  display: block;
}
li.nav-item a.nav-link {
  color: $light-grey;
  display: block;
  padding: 8px 8px;
  line-height: 18px;
}
li.nav-item a.nav-link:hover{
  color: white;
  text-decoration: none;
  .caret { border-top: 4px solid white; }
  span.nav-item-icon{ opacity: 1; }
}

li.nav-item ul.dropdown-menu a { color: $dark-grey; }
li.nav-item ul.dropdown-menu a:hover { color: white; }

li.nav-item#logo-home {
  float: left;
}

li.nav-item#notifications-container {
  float: left;
}

li.nav-item#sign-in {
  float: right;
}

li.nav-item#feedback {
  float: right;
}

li.nav-item.dropdown#user {
  float: right;
  #header-user-image {
    border: 1px solid #555;
    position: relative;
    bottom: 1px;
    margin-right: 5px;
  }
}

li.nav-item.dropdown#groups {
  float: left;
  #activity-count {
    font-size: $font-tinywiny;
    padding: 0px 3px;
    position: absolute;
    left: 31px;
    bottom: 17px;
  }
  /*#activity-count.span {margin-left: 0px;}*/
  .link-container a { display: inline; }
  .discussion-activity-count {
    display: inline;
    float: right;
    margin-left: 10px;
  }
}
/* group dropdown items */
li#groups ul.dropdown-menu { background-color: #eee; }
li.group-item {
  background-color: white;
  a { padding-right: 8px; }
}
li.group-item.all-groups {
  padding: 0 0 2px 0px;
  border-bottom: 1px solid $light-grey;
  a { color: $mid-grey; }
  background-color: #eee;
}
li.group-item .group-name {
  float: left;
  display: inline;
}
li.group-item.sub-group a { padding-left: 30px }
li.group-item.new-group {
  border-top: 1px solid $light-grey;
  a { color: $mid-grey; }
  background-color: #eee;
}
