@import "settings";
@import "bootstrap/mixins";
@import "mixins";

.dropdown-menu {
  a {
    clear: both;
    color: #555;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 15px;
    white-space: nowrap;
  }

  li > a:hover, .active > a, .active > a:hover {
    background-color: #08c;
    text-decoration: none;
  }
  h3 {
    font-weight: 400;
    font-size: 14px;
    padding-top: 2px;
    color: #968D90;
  }
}

.main-container {
  margin: auto;
  background-color: $container;
  min-height: 100%;
  padding: 40px 20px 20px 20px;
}

.toolbar-navigation {
  .nav-item-icon {
    padding-right: 5px;
    opacity: 0.8;
    &.inbox-icon { padding-right: 0; }
  }
  ul.nav-bar-list {
    list-style: none;
  }

  li.nav-item {
    margin-top: 2px;
    .caret {
      border-top: 4px solid $light-grey;
      opacity: 1;
    }
    &.left-side { }
  }
  li.nav-item a.nav-logo-link {
    padding: 7px 10px 1px 0px;
    display: block;
  }

  li.nav-item a.nav-link {
    color: #727272;
    display: block;
    padding: 13px 10px 6px;
    line-height: 18px;
    &:focus { text-decoration: none; }
  }

  li.nav-item a.nav-link:hover{
    color: #999999;
    text-decoration: none;
    .caret { border-top: 4px solid white; }
    span.nav-item-icon{ opacity: 1; }
  }

  li.nav-item ul.dropdown-menu a:hover { color: white; }

  li.nav-item#contribute {
    float: right;
  }

  li.nav-item#logo-home {
    float: left;
    margin-top: 1px;
  }

  li.nav-item#help {
    float: right;
  }

  li.nav-item#search {
    form {
      float: right;
      margin: 0;
      padding-right: 8px;
      .add-on {
        background-color: #F4F4F4;
        border-right: none;
        display: inline-block;
        @include ie7-inline-block();
        @include box-shadow(0, 1px, 1px, 0, rgba(0,0,0,.07) inset);
      }
      body { color: #fff; }
      .control-group {
        display: inline-block;
        @include ie7-inline-block();
        margin-bottom: 8px;
        input {
          border-left: none;
          &[type="text"]:focus {
            border-left: none;
          }
        }
        input#search_form_query {
          background-color: #F4F4F4;
          font-size: 14px;
          line-height: 18px;
          height: 18px;
          margin-top: 0;
          @include box-shadow(-1px, 1px, 1px, 0, rgba(0, 0, 0, 0.075) inset);
          &:focus {
            border-color: #ccc;
            @include box-shadow(0, 1px, 1px, 0, rgba(0,0,0,.07) inset);
          }
        }
      }
      .input-prepend {
        margin-bottom: 0;
        margin-top: 6px;
      }
    }
  }

  li.nav-item#inbox-container{
    float: left;
    position: relative;
  }
  li.nav-item#notifications-container {
    float: left;
  }

  li.nav-item#sign-in {
    float: right;
  }

  li.nav-item.dropdown#user {
    float: right;
    max-width: 300px;
    max-height: 30px;
    #header-user-image {
      position: relative;
      bottom: 5px;
      margin-right: 5px;
    }
    .nav-link { padding-top: 12px; }
    .dropdown-menu {
      border: none;
      margin: 7px 8px 0;
      min-width: 128px;
      @include box-shadow(0, 3px, 5px, 0, rgba(0, 0, 0, 0.075));
      a {
        margin-top: 4px;
        padding: 3px 18px;
        .fa {
          font-size: 16px;
          margin-right: 5px;
          opacity: .8;
        }
        .fa-envelope { font-size: 14px; }
      }
    }
  }
  li.nav-item.dropdown#groups {
    float: left;
    #activity-count {
      font-size: $font-tinywiny;
      padding: 0px 3px;
      position: absolute;
      left: 31px;
      bottom: 17px;
    }
    .link-container a { display: inline; }
    .discussion-activity-count {
      display: inline;
      float: right;
      margin-left: 10px;
    }
    .dropdown-menu {
      padding-bottom: 0;
    }
  }

  /* group dropdown items */
  #group-dropdown-items {
    overflow-y: auto;
    max-height: 390px;
    min-width: 350px;
  }
  li#inbox {
    a {min-width: 250px}
  }
  li#groups ul.dropdown-menu {
    a { min-width: 250px; }
  }
  li.group-item {
    background-color: white;
  }
  li.group-item.sub-group a {
    padding-left: 20px;
    font-size: $font-small;
  }
  li.group-item.all-groups {
    padding: 0 0 2px 0px;
    border-bottom: 1px solid $light-grey;
    a { color: $mid-grey; }
    background-color: #eee;
  }
  li.group-item.new-group {
    border-top: 1px solid #E7E7E7;
    a {
      display: block;
      padding: 8px;
      text-align: center;
      color: #08C;
      &:hover {
        color: white;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }

  .fa { font-size: 18px; }
  .fa-inbox { font-size: 24px; }
  .fa-group { margin-right: 3px; }
  .fa-star { font-size: 14px; }
  .fa-search {
    color: #adadad;
    font-size: 15px;
  }

  .activity-count { background-color: #08C;}

}

#inbox-container { margin-top: 0; }

.toolbar-navigation #contribute a {
  height: 20px;
}

.navbar-fixed-top .navbar-inner {

}
