@import "settings";

// topbar
.navbar-wrapper{
	position: fixed;
	width: 100%;
  background-image: url("title-bar-gradient.jpg");
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
	z-index: 1;
}
.navbar-inner{
	border-radius: 0px;
	background-color: $header-color;
	background-image: none;
}
.container{
  margin: 0px auto;
	padding-top: 70px;
}
header{
	width: 940px;
	margin: 0px auto;
}
.dropdown-menu .divider { margin: 0px }
.dropdown.open .dropdown-toggle { padding-bottom: 10px; }

/* navigation*/
.navbar {
	/* dropdown font-size */
  div > ul a, .nav a{
    font-size: $font-small;
    text-decoration: none;
	}
  .dropdown-menu {
    padding-top: 8px, 0px;
  }
  /* loomio link */
  h1 {
    float: left;
    font-size: 0px;
    line-height: 0px;
		a{
			display: block;
			height: 36px;
			padding: 4px 6px 0px;
		}
		a:hover{
			background-color: #383737;
		}
  }
  /* group dropdown nav */
  .group-container{
    #title {
      display: inline-block;
      /*this code is needed for positioning when the notification badge is enabled do NOT delete (AARON 14/6/2012)*/
      /*position: relative;*/
      /*right: 35px;*/
    }
    #group-icon {
      float: left;
      height: 20px;
      width: 30px;
      margin-left: 10px;
      background-position-y: 3px;
      background-size: 28px;
      background-repeat: no-repeat;
      background-image:url("/assets/group.png");
      opacity: 0.8;
      display: inline-block;
    }
    #activity-count {
      height: 10px;
      font-size: 0.7em;
      padding: 0.4em;
      padding-top: 0.1em;
      position: relative;
      right: 36px;
    }
    a.dropdown-toggle {
      display: inline-block;
      padding-left: 0px;
      padding-bottom: 3px;
    }
  }

  ul.nav.group-nav { margin-top: 5px; }

  .group-nav{
    li.dropdown.group-container:hover{
      a.dropdown-toggle { color: white; }
      #group-icon{ opacity: 1; }
    }
    li.group-item{
      .link-container{
        display: inline-block;
        width: 70%;
        padding-right: 20px;
        padding-left: 8px;
        a { padding-left: 5px; }
      }
      .notification-container{
        display: inline-block;
        float: right;
        padding-top: 5px;
        padding-right: 8px;
        .span { margin-left: 0px; }
      }
    }
    li.group-item {
        background-color: white;
    }
    li.group-item:hover {
        background-color: #08C;
    }
  }
  ul.nav.secondary-nav { margin-top: 5px; }
}
