@import "settings";
@import "mixins";

// Help page
.help {
  h1 { font-size: 36px; }
  h2 {
    font-size: 28px;
    margin-bottom: .3em;
    margin-top: 2em;
  }
  p {
    font-size: 16px;
    margin-bottom: 2em;
  }
  section { margin: 3em 0 3em; }
  .span8 {
    margin: 0;
    width: 680px;
    section#feedback {
      margin: 6em 0 0;
      h2 { margin-top: 0; }
      .row-fluid { text-align: left; }
    }
    section#how-it-works {
      margin: 0;
      padding-top: 3em;
      .divider{margin-top: 0em; border-bottom: 1px solid #eee}
      #video_tutorial p { margin-left: 14%; }
    }
  }
  .span3#sidenav {
    .nav.nav-tabs {
      width: 185px;
      .active {
        a {
          background-color: #08c;
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        }
      }
      li {
        a:hover {
          background-color: #08C;
          color: #ffffff;
        }
        &.sub {
          font-size: 0.9em;
          a {
            color: #777777;
            padding-left: 20px;
            &:hover { color: #fff; }
          }
        }
      }
    }
  }
}

//Renders in help and on frontpage
section#how-it-works {
  img, iframe { border: 1px solid #eee; }
  iframe { margin-top: 0; }
  p {
    margin: 0 10% 18px;
    text-align: left;
  }
  .divider{
    margin-top: 3em
  }
  #make_a_decision {
    .positions {
      margin: 0 14% 0;
      img {
        border: none;
        margin: 0 4px 0 0;
        width: 30px;
      }
      p { margin: 0 0 18px; }
      span { font-weight: 700; }
    }
  }
  .row-fluid {
    margin-bottom: 2em;
    text-align: center;
    &:first-child { margin-bottom: 0; }
  }
  #video_tutorial p { margin-left: 18%; }
}
