h8 { font-size: 20px; }
h7 { font-size: 16px; line-height: 20px; display: block; }

.side-pannel{
  display: block;
  margin-left: 20px;
  #group-list{
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

