h8 { font-size: 20px; }
h7 { font-size: 14px; line-height: 16px; }
.side-pannel{
  background-color: whitesmoke;
  border-radius: 6px;
  /*border-style: solid; border-width: 1px; border-color: lightgrey;*/
  box-shadow: 1px 1px 4px #999999;
  -webkit-box-shadow: 1px 1px 4px #999999;
  -moz-box-shadow: 1px 1px 4px #999999;
  margin-left: 0px;
  padding: 10px;
  min-height: 600px;
}

