.side-pannel{
  display: block;
  margin-left: 20px;
  #group-list{
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.dashboard-motion-description p { font-size: 14px; }
.motions-list{
  padding-top: 6px;
  margin-bottom: 40px;
  border-bottom: 1px solid lightgrey;
  .vote-icon {
    padding-top: 10px;
    padding-left: 8px;
    width: 13px;
    text-align: left;
  }
  #motion-header{
    #motion-title{ font-size: 16px; }
    line-height: 18px;
    .group-name {
      font-size: 14px;
      a {color: grey;}
    }
  }
  .close-info {
    font-size: 13px;
    text-align: right;
    padding-top: 8px;
    color: grey;
  }
  .toggle-button{
    padding-top: 6px;
    font-weight: bold;
    color: #999999;
    text-align: center;
  }
  .action-links{
    a{color: grey}
    margin-top: -5px;
    font-size: 11px;
  }
  .expanded-area{ margin-left: 60px; }
  .pie {
    height: 170px;
    width: 400px;
    float: left;
  }
  #dash_percentage_to_vote {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .closed{
    background-color: #F9F9F9;
    #motion-title{ font-weight: normal; }
  }
  .voting{
    background-color: #FFFFFF;
    #motion-title{ font-weight: bold; }
  }
}

#public-homepage.container {
  position: relative;
  margin-top: -58px;

  h1 {
    margin-bottom: 10px;
    height: 180px;
    background-color: #000;
    background-image: url(logo_500.jpg);
    background-position: 5px top;
    background-repeat: no-repeat;

    span {
      display: none;
    }
  }

  ul {
    list-style: none;
    margin-left: 0;
  }

  #whatio {
    width: 434px;
    line-height: 25px;

    em {
      display: block;
      margin-top: 5px;
      font-size: 30px;
      font-style: normal;
    }
  }

  .content {
    border-top: 1px solid #ccc;
    padding-top: 15px;
  }

  #presentation {
    width: 600px;
    float: left;
  }

  #controls {
    width: 300px;
    float: right;

    p.light {
      color: #808080;
    }
  }

  a#fork_me {
    position: absolute;
    top: 0;
    right: 0;
  }

  form {
    input {
      width: 290px;
    }
    input[type="checkbox"] {
      width: auto;
    }
    label {
      width: 300px;
      text-align: left;
      float: none;
      font-size: 14px;
      line-height: 18px;
    }
  }
}