body.invitations{

  p, label{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  h3{
    font-size: 21px;
    margin-bottom: 18px
  }
}