@import "settings";
@import "bootstrap/mixins";

body.landing {
  background-color: #F7F7ED;
  margin-top: -70px;
  h1 { display: block; }
  /*background: url(http://static.tumblr.com/thpaaos/kT3kqnqrm/container-bg.png);*/
  /*background-image: url(http://static.tumblr.com/thpaaos/YbJkqnqr6/bg.jpg);*/
  #github-link {
    position: absolute;
    right: 0px;
    float: right;
  }
  #demo-container{
    padding: 40px 90px;
  }
  #demo{
    background-color:white;
  }
  #demo-content{
    border-bottom: 1px solid #eee;
  }
  #demo-content h2{
    margin: 20px 0 10px 0;
  }
  #demo-content p, #demo-content a{
    margin: 20px 0;
  }
  #demo-head h1{
    margin-bottom: 3px;
  }
  #demo-head p{
  }
  .header {
    margin-top: 20px;
    height: 150px;
    background-image: url(loomio-orange.png);
    background-position: 5px top;
    background-repeat: no-repeat;
		text-indent: -999em;
    span {
      display: none;
    }
  }
	footer{
		float: left;
	}
	#loomio-project-iframe{
		border-top:1px solid #eee;
		border-bottom:1px solid #eee;
		padding: 20px 0px;
	}
  .content {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #FFF;
    //height: 680px;
    float:left;
    @include border-radius(8px);
    box-shadow: 1px 1px 4px #999999;
    -webkit-box-shadow: 1px 1px 4px #999999;
    -moz-box-shadow: 0px 0px 4px #999999;


    h2 {
      color: grey;
      padding-bottom: 10px;
    }

    ul {
      list-style: none;
      margin-left: 0;
      margin-bottom: 5px;
    }

    #whatio {
      width: 434px;
      line-height: 25px;

      em {
        display: block;
        margin-top: 5px;
      }
    }

    #presentation {
      width: 560px;
      float: left;
    }

    #controls {
      width: 300px;
      float: right;

      p.light {
        color: #808080;
      }
    }

    #footer {
      width: 100%;
      float: left;
    }

    #icon-links {
      /*margin-left: -10px;*/
      float: right;
      display: inline;
    }

    a#fork_me {
      position: absolute;
      top: 0;
      right: 0;
    }
    #mc_embed_signup{
      width: 300px;
    }
    #mc_embed_signup form {
        margin: 0;
        padding: 0;
    }
    #mc_embed_signup input.email{
        width: 100%;
    }
    #mc_embed_signup label {
        color:#404040;
    }
		#sign-in-form{
			margin: 20px 0px 40px;
		}
    form {
      input {
        width: 290px;
        margin-bottom: 10px;
      }
      input[type="checkbox"] {
        width: auto;
        margin-right: 5px;
        display: inline-block;
      }
      label {
        width: 300px;
        text-align: left;
        float: none;
        margin-bottom: 5px;
      }
      .sign-in-button {
				margin-top: 15px;
				float: right;
			}
			#user_remember_me{
				margin:0px;
			}
    }
  }
}

body.landing.browser_not_supported {
  .notice { padding-bottom: 25px; }

  ul#browser-icons{
    li {
      float: left;
      height: 120px;
      margin: 5px;
      padding: 5px;
      width: 160px;
    }
    li:hover{
      background-color: #F7F7ED;
      @include border-radius(4px);
    }
    li:hover{
      p.browser-title, p.visit-site{
        background-color: $light-grey;
        color: white;
      }
    }
    a{
      color: $mid-grey;
    }
    img {
      display: block;
      height: 80px;
      margin: 0 auto 10px;
    }
    p{
      font-size:$font-tiny;
    }
    p.browser-title, p.visit-site{
      text-align: center;
      color: $dark-grey;
      background-color: $lighter-grey;
      @include border-radius(4px);
    }
    p.browser-description{
      height: 100px;
    }
  }
}

body.dashboard.show {
  .notification-info { margin-top: 8px; }
  #dashboard-main-section { padding-left: 20px; }
}
