@import "settings";
@import "bootstrap";
@import "mixins";
// TODO: // * define site color variables
// * mixin for gradient

// CSS reset - does this exist elsewhere?
ul, ol, li {
  margin: 0;
  padding: 0;
}

html { height: 100%; }

body {
  background-color: $main-background;
  height: 100%;
}

// typography

/*selector panel header*/
h1 {
    font-size: $font-large;
    color: $header-titles-color;
    font-weight: normal;
    line-height: 1.8em;
    display: inline;
}
/*group title panel*/
h2 {
	font-size: $font-large;
  color: $mid-grey;
  a { color: $mid-grey; }
  a:hover { color: $mid-grey; }
  font-weight: normal;
  line-height: 1.2em;
  display: inline;
}
/*sub panel header*/
h3 {
  font-weight: normal;
	font-size: $font-medium;
}

h4 {
  font-weight: normal;
  font-size: $font-small;
}
h5 {
  font-size: $font-tiny;
}

.sub_group{
	font-size: $font-tiny;
}

// structural elements (containers etc.)

.selector-panel {
  background-color: $selector-panel;
  @include border-radius(8px);
  border: 1px solid $light-grey;
  margin-bottom: 20px;
  min-height: 59px;
  padding-top: 2px;
  h1.panel-header {
    padding-left: 10px;
    float: left;
  }
  .dropdown {
    float: right;
    padding: 2px 10px;
    li {
      background-color: white;
      border: none;
      a {
        text-shadow: none;
        font-size: $font-small;
      }
    }
  }
  ul.tool-bar-list {
    border-top: 1px solid $light-grey;
    list-style: none;
    background-color: white-smoke;
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    height: 25px;
    margin: 0;
  }
  li.tool-bar-item {
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-repeat: no-repeat;
    height: 25px;
    border-right: 1px solid $light-grey;
    float: left;
  }
  li.tool-bar-item a {
    padding: 5px 10px 6px 30px;
    position: relative;
    top: 3px;
    color: $mid-grey;
    text-decoration: none;
    font-size: $font-small;
  }
  li.tool-bar-item:hover {
    a { color: $white; }
    background-color: #ccc;
  }
  ul.selector-list {
    border-top: 1px solid $light-grey;
    list-style: none;
    margin: 0 0 3px 0;
  }
  li.selector-item {
    background-color: $unhighlighted;
    color: $dark-grey;
    border-bottom: 1px solid $light-grey;
    font-weight: normal;
  }
  .undecided, .unread {
    background-color: $highlighted;
    a { color: black; }
    a .proposal-title { color: black; }
  }
  li.empty-list-message {
    padding: 5px 10px;
    background-color: $highlighted;
  }
  li.selector-item a.selector-link {
    display: block;
    padding: 5px 5px 5px 15px;
  }
  li.selector-item a.selector-link:hover {
    background-color: $selector;
    text-decoration: none;
    /*cursor: pointer;*/
    /*a {*/
    /*}*/
  }
  .pagination {
    a {
      color: $mid-grey;
      border: 1px solid $light-grey;
      border-left-width: 0;
    }
    margin: 2px 0 5px 0;
  }
  .pagination li.page a {
    background-position: 16px 10px;
  }
  .pagination ul{
    border-top: 0px;
  }
  .pagination li.next_page, li.prev {
    a {
      text-indent: -100em;
      overflow: hidden;
      padding: 0 5px;
    }
  }
  .pagination li.prev a {
    background: url(previous.png) no-repeat;
    background-position: 16px 10px;
  }
  .pagination li.next_page a {
    background: url(Next.png) no-repeat;
    background-position: 16px 10px;
  }
}

.sub-panel {
  background-color: $sub-selector-panel;
  @include border-radius(8px);
  border: 1px solid $light-grey;
  margin-bottom: 20px;
  padding: 6px 9px;
  h3 {
    font-size: $font-medium;
    color: $header-titles-color;
    display: inline;
    line-height: 1.8em;
  }
  .btn {
    float: right;
    color: $mid-grey;
  }
  ul {
    border-top: none;
    list-style: none;
    margin: 6px 0 8px 0;
  }
  li {
    line-height: 1.6em;
    background-color: $sub-selector-panel;
    a { color: $mid-grey; }
  }
  .dropdown { float: right; }
  .dropdown li {
    background-color: white;
    line-height: 1em;
  }
  .dropdown li a {
    color: $dark-grey;
    text-shadow: none;
    font-size: $font-small;
  }
  .dropdown li a:hover { color: $white; }
}

// group title
.group-title {
  margin-bottom: 12px;
  .dropdown {
    display: inline;
    float: right;
  }
  #privacy {
    display: inline;
    position: relative;
    bottom: 5px;
  }
}

.alert {
  position: relative;
  bottom: 20px;
}

.word-break {
  /* The following styles prevent unbroken strings from breaking the layout */
  overflow: auto;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  -moz-binding: url('xbl.xml#wordwrap'); /* Firefox (using XBL) */
}

// misc (move stuff out of here..)
.helper-text p {
  color: $mid-grey;
  font-size: $font-small;
}
.helper-text h4 {
  color: $mid-grey;
  font-weight: bold;
  margin-bottom: 5px;
}
.loading {
  background: url(ajax-loader.gif) no-repeat;
  background-position: 300px 200px;
  line-height: 33.5em;
  text-indent: -9999px;
}
.field_with_errors { display: inline; }
.inputError {
  display: inline-block;
  @include ie7-inline-block();
}
.presence-error-message {
  font-size: $font-small;
  display: inline;
  margin-left: 5px;
  color: $error-color;
}
.character-counter {
  color: $mid-grey;
  text-align: right;
  position: relative;
  bottom: 20px;
  right: 0px;
  height: 12px;
  font-size: $font-small;
}

form {
  label {
		font-size: $font-small;
    color: $dark-grey;
    margin-bottom: 4px;
  }

  input, select, textarea {
		font-size: $font-small;
		height: auto;
    width: 370px;
    margin-bottom: 15px;
    display: block;
  }

  textarea {
    height: 200px;
  }

  input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline;
  }

  .checkbox-label {
    margin-left: 5px;
    display: inline;
  }
  .divider {
    width: 300px;
    border: 1px solid $lighter-grey;
    margin-bottom: 5px;
  }
  .long-divider {
    width: 400px;
    border: 1px solid $lighter-grey;
    margin-bottom: 5px;
  }
}

.hidden {
  display: none;
}

table.jqplot-table-legend {
  background-color: $unhighlighted;
  width: auto;
  border: none;
  td {
    border: none;
    line-height: 16px;
    padding: 0 5px;
  }
}

.name-separator {
  display: inline-block;
  @include ie7-inline-block();
  width: 15px;
  position: relative;
  bottom: 1px;
  font-size: 0.6em;
  text-align: center;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/* bootstrap UI CSS overrides - better IE7 compatibility */
.popover-inner {
  background: black;
}
.selector-panel {
  ul.tool-bar-list {
    background-color: #f6f6f6;
  }
}
.modal-backdrop {
  top: 0;
}
.modal {
  opacity: 100%;
  filter:alpha(opacity=100);
}
.modal-header h3 {
  display: inline;
  width: 80%;
}
