@import "settings";
@import "bootstrap";
@import "mixins";
// TODO: // * define site color variables
// * mixin for gradient

// CSS reset - does this exist elsewhere?
ul, ol, li {
  margin: 0;
  padding: 0;
}
ul { list-style: none; }
.dropdown-menu a { color: #555; }

html { height: 100%; }

body {
  background-color: $main-background;
  height: 100%;
}
hr {
  margin: 1px;
}

// typography
h1 {
	font-size: $font-xlarge;
  color: $mid-grey;
  a { color: $mid-grey; }
  a:hover { color: $mid-grey; }
  font-weight: normal;
  line-height: 1.6em;
  display: inline;
}
h2 {
    font-size: $font-large;
    color: $header-titles-color;
    font-weight: normal;
    line-height: 1.6em;
    display: inline;
}
h3 {
  font-weight: bold;
	font-size: $font-medium-large;
}

h4 {
  font-weight: normal;
  font-size: $font-small;
}
h5 {
  font-size: $font-tiny;
}

// structural elements (containers etc.)
.inner-container { margin-top: 70px; }
.group-link.clearfix {
  .group-link-name { float: left; }
  .group-link-activity { float: right; }
  .button-icon { padding: 0 }
}

.sub-panel li .group-link a {
  text-decoration: none;
}
.sub_group {font-size: $font-tiny;}

// #start-new-discussion { margin: 0 0 20px 2px; }
.main-content { margin-top: 20px; }
#discussion-list {
  margin-bottom: 10px;
}

#new_discussion .control-label {
  display: block;
}
.see-more {
  font-size: $font-small;
  position: relative;
  bottom: 10px;
  display: block;
}
.model-description { padding-bottom: 10px; }
.description-body {
  color: $dark-grey;
  margin-bottom: 10px;
}
#description-edit-form {
  margin-bottom: 0px;
  #description-input {
    width: 600px;
    height: 90px;
    margin-bottom: 5px;
  }
  .control-group { margin-bottom: 0px; }
  #add-description-submit { float: left; }
  #cancel-add-description {
    float: left;
    margin-left: 10px;
    color: $mid-grey;
    text-decoration: underline;
    position: relative;
    top: 5px;
    font-size: $font-tiny;
  }
  #cancel-add-description:hover {
    color: $dark-grey;
  }
}

li.empty-list-message {
  padding: 5px 0px;
}
.discussion-with-motion-divider { border-bottom: 2px solid $light-grey; }

#show-closed-motions {
  margin-bottom: 10px;
}

#closed-motions-page .selector-list { padding-bottom: 20px; }
#closed-motions-page li.selector-item.loading { background-position: 270px 160px; }
#closed-motions {
  width: 750px;
  margin-left: -375px;
  min-height: 550px;
}

/**** Structural elements ****/
ul.selector-list.bordered { border-top: 1px solid $light-grey }
li.selector-item {
  background-color: $unhighlighted;
  color: $dark-grey;
  font-weight: normal;
  border-bottom: 1px solid $light-grey;
}
.discussion-preview.unread {
  background-color: $highlighted;
  a { color: black; }
  a .proposal-title { color: black; }

}
li.selector-item a.selector-link {
  display: block;
  padding: 5px 5px 5px 15px;
}
li.selector-item a.selector-link:hover {
  background-color: $selector;
  text-decoration: none;
  .group-activity-indicator.unread-group-activity { background-color: $group-activity; }
}
.pagination {
  a {
    color: $mid-grey;
    border: 1px solid $light-grey;
    border-left-width: 0;
  }
  margin: 2px 0 5px 0;
}
.pagination li.page a {
  background-position: 16px 10px;
}
.pagination ul{
  border-top: 0px;
}
.pagination li.next_page, li.prev {
  a {
    text-indent: -100em;
    overflow: hidden;
    padding: 0 5px;
    width: 29px;
  }
}
.pagination li.prev a {
  background: url(previous.png) no-repeat;
  background-position: 16px 10px;
}
.pagination li.next_page a {
  background: url(Next.png) no-repeat;
  background-position: 16px 10px;
}

.alert {
  position: relative;
  bottom: 20px;
}

// misc (move stuff out of here..)

.helper-text p {
  color: $mid-grey;
  font-size: $font-small;
}
.helper-text h4 {
  color: $mid-grey;
  font-weight: bold;
  margin-bottom: 5px;
}
.loading {
  background: url(ajax-loader.gif) no-repeat;
  background-position: 300px 200px;
  line-height: 33.5em;
  text-indent: -9999px;
}
.field_with_errors { display: inline; }
.inputError {
  display: inline-block;
  @include ie7-inline-block();
}
.control-label {
  display: inline;
}
.label-right{
  float: right;
}
.label-group-activity {
  background-color: $group-activity;
  font-weight: normal;
  font-size: $font-tiny;
}
.group-presence-error-message {
  float: right;
  position: relative;
  color: $error-color;
}

.presence-error-message {
  float: right;
  position: relative;
  color: $error-color;
}
.character-counter {
  color: $mid-grey;
  text-align: right;
  position: relative;
  bottom: 15px;
  right: 0px;
  height: 12px;
  font-size: $font-small;
}

//*** color coded urgency labels ***
.color-urgent { background-color: #CA3232; }
.color-warning { background-color: #F89406; }
.color-ok { background: #016B01; }

form {
  label {
		font-size: $font-small;
    color: $dark-grey;
    margin-bottom: 4px;
  }

  input, select, textarea {
		font-size: $font-small;
		height: auto;
    width: 370px;
    margin-bottom: 15px;
    display: block;
  }

  textarea {
    height: 200px;
  }

  /* this is a little mess that needs to be resolved*/
  input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline;
  }

  .checkbox input{
    margin-top: 0px;
  }

  .checkbox-label {
    margin-left: 5px;
    display: inline;
  }
}

.hidden {
  display: none;
}

.name-separator {
  display: inline-block;
  @include ie7-inline-block();
  width: 15px;
  position: relative;
  bottom: 1px;
  font-size: 0.6em;
  text-align: center;
}

/* Markdown (Global so it's not specific to just Comments etc) */
code{
  padding: 1px 4px;
  overflow: auto;
  word-break: normal;
  word-wrap: normal;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

.word-break {
  /* The following styles prevent unbroken strings from breaking the layout */
  overflow: auto;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  -moz-binding: url('xbl.xml#wordwrap'); /* Firefox (using XBL) */
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/* bootstrap UI CSS overrides - better IE7 compatibility */
.popover-inner {
  background: black;
}
.selector-panel {
  ul.tool-bar-list {
    background-color: #f6f6f6;
  }
}
.modal-backdrop {
  top: 0;
}
.modal {
  opacity: 100%;
  filter:alpha(opacity=100);
  form {
    margin: 0;
  }
}
.modal-header h3 {
  display: inline;
  width: 80%;
}


ul.loomio-process-flow {
  height: 100px;
  margin: 0 auto 20px auto;
  border: 1px solid $light-grey;
  @include border-radius(8px);
  /*box-shadow: 2px 2px 2px $light-grey;*/
  background-color: white;
  text-align: center;
  padding: 0;
  li.process-flow-item {
    float: left;
    padding: 0 72px;
  }
  li.process-flow-item .process-flow-icon {
    background-repeat: no-repeat;
    margin: 20px auto 0 auto;
    height: 40px;
    width: 40px;
  }
  li.process-flow-item#start { padding: 0 48px; }
  li.process-flow-item#start .process-flow-icon {
    background-image:url('/assets/loomio-40.png');
    width: 107px;
  }
  li.process-flow-item#enguage .process-flow-icon {
    background-image:url('/assets/discussion-40.png');
    opacity: 0.6;
  }
  li.process-flow-item#decide .process-flow-icon {
    background-image:url('/assets/pie-40.png');
  }
  li.process-flow-item#act .process-flow-icon {
    background-image:url('/assets/action.png');
  }
  li.process-flow-item h1 {
    line-height: 1em;
    font-size: 1.6em;
    color: $mid-grey;
  }
  li.process-flow-arrow {
    display: inline-block;
    float: left;
    background-image:url('/assets/process-flow-arrow.png');
    background-repeat: no-repeat;
    height: 100px;
    width: 32px;
  }
}

/**** buttons ****/
.btn-app {
  line-height: 18px;
  padding: 4px 8px 4px 8px;
  width: 180px;
  font-size: $font-medium;
  text-align: left;
}
.group-options .btn-app.dropdown-toggle{ width: 110px }
.btn-grey { color: $mid-grey; }
a.btn-icon:hover { color: $dark-grey; }

/**** icons ****/
.button-icon{
  display: inline-block;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  padding: 0px 5px 0px 0;
  vertical-align: text-bottom;
}

.large-icon{
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 6px 13px 0 13px;
  float: left;
}
.header-bar-icon{
  position: relative;
  bottom: 2px;
}

.button-icon.dot-icon {
  background-image:url('/assets/dot-18.png');
  float: right;
}
// .button-icon.topic-icon {
//   background-image:url('/assets/topic-18.png');
// }
// .button-icon.member-icon {
//   background-image:url('/assets/member-18.png');
// }
// .button-icon.group-icon {
//   background-image:url('/assets/group-18.png');
// }
// .button-icon.pie-icon {
//   background-image:url('/assets/pie-18.png');
// }
.large-icon.topic-icon {
    background-image:url('/assets/topic-24.png');
}
.large-icon.discussion-icon.enabled-icon  {
    background-image:url('/assets/discussion-24.png');
}
.large-icon.discussion-icon.disabled-icon  {
    background-image:url('/assets/discussion-light-24.png');
}
.large-icon.decision-icon {
    background-image:url('/assets/pie-24.png');
}
.large-icon.group-icon {
  background-image:url('/assets/group-24.png');
  margin: 0px;
}
.large-icon.notification-icon {
  background-image:url('/assets/notification-24.png');
  margin: 0;
}
.large-icon.pie-icon {
  background-image: url("pie-light-24.png");
}
