@import "settings";
@import "bootstrap";
@import "mixins";

// TODO:
// * define site color variables
// * mixin for gradient

body {
  background-color: white;
}

// typography
h3, h4, h5, h6{
	line-height: 1.8;
}
h1 {
	font-weight:normal;
}

h2 {
  color: #555;
	font-size: $font-large;
}

h3 {
	color: #888;
	font-size: $font-medium;
}

h4 {
   color: #888;
	 font-size: $font-small;
}

h5 {
  color: #888;
}

h7 {
  color: grey;
}
.sub_group{
	font-size: $font-tiny;
}
section.main-content h1 {
  font-size: 1.2em;
  line-height: 1em;
  color: #888;
  border-bottom: 1px solid lightgrey;
}

// structural elements (containers etc.)

.panel {
  @include box-shadow(1px, 1px, 3px, #ccc);
  @include border-radius(4px);
  border: 1px solid lightgrey;
  margin: 5px 3px 6px 3px;
  padding: 8px;
}

.side-panel {
  h1 {
    font-size: 1em;
    line-height: 20px;
    font-weight: normal;
    color: #555;
    background-color: #eee;
    padding: 0.25em;
    margin-bottom: 0.25em;
  }
}

// navigation

// topbar

.topbar-wrapper {
  .secondary-nav {
    margin-top: 3px;
    .feedback {
      font-size: $font-tiny;
      padding-top: 2px;
      margin-right: 15px;
      text-shadow: none;
    }
  }
}

.topbar {
  a {
    color: #FBA82C;
    text-shadow: none;
  }
	div > ul a, .nav a{
		padding: 18px 10px 6px;
	}
  .topbar-inner {
    background-image: -moz-linear-gradient(top, #F7F7ED, #F7F7E2);
    background-image: -webkit-linear-gradient(top, #F7F7ED, #F7F7E2);
    background-image: -o-linear-gradient(top, #F7F7ED, #F7F7E2);
    background-image: linear-gradient(top, #F7F7ED, #F7F7E2);
  }

  h1 {
    height: 36px;
    margin: 5px 0 0 0;
    padding: 0px;
    float: left;
    font-size: 0px;
    line-height: 0px;

    a img {
      margin: 0 0 1px 0;
    }
    a:hover img {
      margin: 1px 0 0 0;
    }
  }

  ul.dropdown-menu{
    li {
      text-shadow: none;
    }
  }
}


// misc (move stuff out of here..)

.header-space {
  margin-top: 15px;
}

.sub-header-space {
  margin-top: 10px;
}

.padding {
  padding-top: 30px
}

.style-grey {
  color: grey;
}

.previous {
  background-color: #EFEFDF;
}

.presence-required {
  display: inline;
}

.btn-edit-delete {
  float: right;
  display: inline;
}

.blocked {
  background-color: #F3D8D4;
}

.closed {
  background-color: #F7F7ED;
}

.voting{
  background-color: white;
}

.general-button {
  //margin-left: 3px;
  //margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.error-message {
  display: inline-block;
  margin-left: 5px;
  color: firebrick;
  margin-top: -2px;
}

.btn.small {
}

.group-title {
  color: #888;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  .btn {
    float: right;
    margin: 4px 0 0 10px;
  }
}

form {
  label {
		font-size: $font-small;
    width: 400px;
    text-align: left;
    float: none;
    color: #888;
    margin-bottom: 4px;
    display: block;
		padding: 0px;
  }

  input, select, textarea {
		font-size: $font-small;
		height: auto;
    width: 400px;
    margin-left: 0px;
    margin-bottom: 15px;
    display:block;
  }

  textarea {
    height: 200px;
  }

  input[type="checkbox"] {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline;
  }

  input[type="submit"] {
    margin-top: 10px;
  }

  .checkbox-label {
    margin-left: 5px;
    display: inline;
  }
	.privacy-settings{
		border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    margin-bottom: 10px;
    padding-bottom: 20px;
	}
}

.hidden, .hide {
  display: none;
}

.alert-message{
  a.close, a.close:hover{
    -khtml-opacity: 1;
    margin-top: 2px;
  }
}

table.jqplot-table-legend {
  background-color: white;
  width: auto;
  border: none;
  td {
    border: none;
    line-height: 16px;
    padding: 0 5px 0 5px;
  }
}

#tooltip, .graph_tooltip{
  padding: 3px 10px;
  background: #333;
  color: #fff;
  display: none;
  opacity: 0.8;
  width: 100px;
  text-align: center;
  @include box-shadow(1px, 1px, 4px, #999);
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
