@import "bootstrap";
@basefont: 1em;
@baseline: 1.4;

// TODO:
// * define site color variables 
// * move px to em where possible
// * mixin for gradient
// * mixins should be refactored to their own file
//     refactor application.css first (remove require-tree)

@mixin box-shadow($h-offset, $v-offset, $blur-distance, $color) {
  @each $target in -moz-box-shadow -webkit-box-shadow box-shadow {
    #{$target}: $h-offset $v-offset $blur-distance $color;
  }
}

@mixin border-radius($radius) {
  @each $target in -moz-border-radius -webkit-border-radius border-radius {
    #{$target}: $radius;
  }
}

@mixin debug {
  border: 1px solid red;
}

body {
  background-color: white;
}

// typography

h1 {
}

h2 { 
  color: #555;
}

h3 {
}
  
h4 { 
  color: #888; 
} 

h5 { 
  color: #888; 
}

h7 { 
  color: grey; 
}

section.main-content h1 {
  font-size: 1.2em; 
  line-height: 1em;
  color: #888; 
  border-bottom: 1px solid lightgrey;
}

// structural elements (containers etc.)

.panel {
  @include box-shadow(1px, 1px, 3px, #ccc);
  @include border-radius(4px);
  border: 1px solid lightgrey;
  margin: 5px 3px 6px 3px;
  padding: 8px;
}

.side-panel {
  h1 {
    font-size: 16px; 
    line-height: 20px; 
    font-weight: normal; 
    color: #555; 
    background-color: #eee;
    padding: 0.25em;
    margin-bottom: 0.25em;
  }
}

// navigation


// topbar

.topbar-wrapper {
  .secondary-nav {
    margin-top: 3px;
    .feedback {
      font-size: 0.8em;
      padding-top: 2px;
      margin-right: 15px;
      text-shadow: none;
    }
  }
}

.topbar {
  a {
    color: #FBA82C;
    text-shadow: none;
  }

  .topbar-inner {
    background-image: -moz-linear-gradient(top, #F7F7ED, #F7F7E2);
    background-image: -webkit-linear-gradient(top, #F7F7ED, #F7F7E2);
    background-image: -o-linear-gradient(top, #F7F7ED, #F7F7E2);
    background-image: linear-gradient(top, #F7F7ED, #F7F7E2);
  }
  
  h1 {
    height: 36px;
    margin: 5px 0 0 0;
    padding: 0px;
    float: left;
    font-size: 0px;
    line-height: 0px;
   
    a img {
      margin: 0 0 1px 0;
    }
    a:hover img { 
      margin: 1px 0 0 0;
    }
  } 
  
  ul.dropdown-menu{
    li {
      text-shadow: none;
    }
  }
}


// misc (move stuff out of here..)

.header-space {
  margin-top: 15px;
}

.sub-header-space {
  margin-top: 10px; 
}

.padding { 
  padding-top: 30px 
}

.style-grey { 
  color: grey;
}

.previous { 
  background-color: #EFEFDF;
}

.presence-required {
  display: inline;
}

.btn-edit-delete {
  float: right;
  display: inline;
}

.blocked { 
  background-color: #F3D8D4;
}

.closed { 
  background-color: #F7F7ED;
}

.voting{ 
  background-color: white; 
}

.general-button {
  margin-left: 3px;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.error-message {
  display: inline-block;
  margin-left: 5px;
  color: firebrick;
  margin-top: -2px;
}

.btn.small { 
}

.group-title {
  color: #888;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #BBB;
  .btn {
    float: right; 
    margin: -12px 0 0 10px; 
  }
}

form {
  label {
    width: 400px;
    text-align: left;
    float: none;
    color: #888;
    margin-bottom: 4px;
    display: block;
  }
  
  input, select, textarea {
    width: 400px;
    margin-left: 0px;
    margin-bottom: 15px;
    display:block;
  }
  
  textarea { 
    height: 200px;
  }

  input[type="checkbox"] {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline;
  }
  
  input[type="submit"] {
    margin-top: 10px;
  }
  
  .checkbox-label { 
    margin-left: 5px; 
    display: inline;
  }
}

.hidden {
  display: none;
}

.alert-message{
  a.close, a.close:hover{
    -khtml-opacity: 1;
    margin-top: 2px;
  }
}

table.jqplot-table-legend {
  background-color: white;
  width: auto;
  border: none;
  td {
    border: none;
    line-height: 16px;
    padding: 0 5px 0 5px;
  }
}

#tooltip, .graph_tooltip{
  padding: 3px 10px;
  background: #333;
  color: #fff;
  display: none;
  opacity: 0.8;
  width: 100px;
  text-align: center;
  @include box-shadow(1px, 1px, 4px, #999);
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
