@import "settings";
@import "bootstrap";
@import "mixins";

body {
  background-color: $main-background;
  height: 100%;
  color: $dark-grey;
}

code{
  padding: 1px 4px;
  overflow: auto;
  word-break: normal;
  word-wrap: normal;
}

form {
  input, select, textarea { width: 100%; }
  textarea {
    margin-bottom: 0;
    height: 200px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h3 {
  font-size: 18px;
  line-height: 27px;
}
h4 {
  font-size: 14px;
  line-height: 18px;
}
h5 {
  font-size: 12px;
  line-height: 18px;
}
h6 {
  font-size: 11px;
  line-height: 18px;
}
h2, h3 {
  margin: 15px 0 9px 0;
}

hr { margin: 1px; }

html { height: 100%; }

ul { list-style: none; }

ul, ol, li {
  margin: 0;
  padding: 0;
}

.alert { margin: 10px 0; }

.btn-app {
  line-height: 18px;
  padding: 4px 8px 4px 8px;
  width: 180px;
  font-size: $font-medium;
  text-align: left;
}

.btn-grey { color: $mid-grey; }

.cf {
  zoom: 1;
  &:after { clear:both; }
  &:before, &:after {
    content:"";
    display:table;
  }
}

.character-counter {
  color: $mid-grey;
  text-align: right;
  position: relative;
  bottom: 15px;
  right: 0px;
  height: 12px;
  font-size: $font-small;
}

.discussion-with-motion-divider {
  height: 1px;
  background: #aaa;
}

.field_with_errors { display: inline; }

.inline-help { color: $error-color; }

.helper-text p {
  color: $mid-grey;
  font-size: $font-small;
}

.hidden {
  display: none;
}

.loading {
  background: url(ajax-loader.gif) no-repeat;
  background-position: 300px 200px;
  line-height: 33.5em;
  text-indent: -9999px;
}

.main-content { margin-top: 20px; }

.page-container { margin-top: 30px; }

ul.selector-list {
  &.bordered { border-top: 1px solid $light-grey }

  li.selector-item {
    background-color: $unhighlighted;
    border-bottom: 1px solid $light-grey;
    color: $dark-grey;
    font-weight: normal;

    a.selector-link {
      display: block;
      padding: 5px 5px 5px 15px;

      &:hover {
        background-color: $selector;
        text-decoration: none;
      }
    }
    .unread {
      background-color: $highlighted;
      a {
        color: #333;
        .proposal-title { color: black; }
      }
    }
  }
}

.sub-panel {
  background-color: $sub-selector-panel;
  border: 1px solid $light-grey;
  @include border-radius(8px);
  margin-bottom: 20px;
  padding: 6px;

  h4 {
    line-height: 1.8em;
    margin-bottom: 5px;
  }

  a { color: $mid-grey; }

  .dropdown {
    float: right;
    li {
      background-color: white;
      line-height: 1em;
    }
    li a {
      color: $dark-grey;
      text-decoration: none;
      text-shadow: none;
      &:hover { color: white; }
    }
  }
}

.validate-length {
  display: inline-block;
  @include ie7-inline-block();
}

.word-break {
  /* The following styles prevent unbroken strings from breaking the layout */
  overflow: auto;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  -moz-binding: url('xbl.xml#wordwrap'); /* Firefox (using XBL) */
}

// edit description dropdown for group and discussion
.edit-description {
  color: $mid-grey;
  text-decoration: underline;
  &:hover { color: $dark-grey }
}
#cancel-add-description:hover { color: $dark-grey; }
