@import "settings";
@import "bootstrap";
@import "mixins";

// TODO:
// * define site color variables
// * mixin for gradient

body {
  background-color: white;
}

// typography
h1 {
	font-weight: normal;
  line-height: 1.2em;
}

h2 {
  font-weight: normal;
	font-size: $font-large;
  line-height: 1.2em;
}

h3 {
  font-weight: normal;
	font-size: $font-medium;
}

h4 {
  font-weight: normal;
  font-size: $font-small;
}

.sub_group{
	font-size: $font-tiny;
}

// structural elements (containers etc.)
.general-form {
  width: 100%;
  h1 {
    font-size: $font-large;
    color: $dark-grey;
    margin-bottom: 0.5em;
  }
}
.center-content {
  margin-left: auto;
  margin-right: auto;
  width: 68%;
}
#content-left {
  .selector-panel {
    background-color: #FCFCFC;
  }
  .selector-panel h1 {
    font-size: $font-medium;
  }
  ul {
    /*border-top: 1px solid $light-grey;*/
    border-top: none;
    list-style: none;
    margin-top: 3px;
    margin-left: 0px;
    margin-bottom: 8px;
  }
  li {
    padding-left: 10px;
    line-height: 1.6em;
    background-color: white;
    border-bottom: none;
  }
  a { font-color: $mid-grey; }
}

.selector-panel {
  background-color: $header-color;
  @include border-radius(8px);
  border: 1px solid $light-grey;
  margin-bottom: 20px;
  padding-top: 2px;
  .content {
    padding: 8px;
  }
  h1 {
    font-size: $font-large;
    color: $header-titles-color;
    margin-left: 5px;
    padding-left: 8px;
    display: inline;
    line-height: 2em;
  }
  .btn {
    margin-right: 10px;
    margin-top: 3px;
    padding-top: 4px;
    padding-bottom: 7px;
    float: right;
    width: 150px;
    border-color: $light-grey;
    color: $mid-grey;
    text-shadow: none;
  }
  ul {
    border-top: 1px solid $light-grey;
    list-style: none;
    margin-top: 3px;
    margin-left: 0px;
    margin-bottom: 8px;
  }
  li {
    background-color: #fbfbfb;
    color: $dark-grey;
    border-bottom: 1px solid $light-grey;
  }
}

.panel {
  @include border-radius(4px);
  border: 1px solid $light-grey;
  margin: 5px 0px 6px 0px;
  padding: 8px;
}

/*.edit-delete-buttons {*/
  /*float: right;*/
  /*.btn {*/
    /*font-size: $font-tiny;*/
    /*margin-left: 4px;*/
  /*}*/
/*}*/

// group title
.group-title {
  color: $mid-grey;
  a { color: $mid-grey; }
  padding-bottom: 0.3em;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 20px;
  .btn {
    float: right;
    font-size: $font-tinywiny;
    margin-left: 4px;
  }
  .dropdown {
    float: right;
  }
  ul.dropdown-menu{
    li {
      text-shadow: none;
      font-size: $font-tiny;
      color: $navbar-text-color;
    }
    .divider{
      margin: 4px 1px;
    }
  }
}


.alert {
  position: relative;
  bottom: 20px;
}

.word-break {
  /* The following styles prevent unbroken strings from breaking the layout */
  overflow: auto;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  -moz-binding: url('xbl.xml#wordwrap'); /* Firefox (using XBL) */
}

// misc (move stuff out of here..)
.bordered {
  border-top: 1px solid $light-grey;
}

.presence-required {
  display: inline;
}

.blocked {
  background-color: $block-color;
}

li.undecided, .unread{
  background-color: white;
  color: black;
}

.field_with_errors { display: inline; }
.inputError {
  display: inline-block;
  @include ie7-inline-block();
}
.presence-error-message {
  font-size: $font-small;
  display: inline;
  margin-left: 5px;
  color: $error-color;
}
.character-counter {
  color: $mid-grey;
  text-align: right;
  position: relative;
  bottom: 20px;
  width: 410px;
  height: 12px;
  font-size: $font-small;
}

form {
  label {
		font-size: $font-small;
    margin-bottom: 4px;
  }

  input, select, textarea {
		font-size: $font-small;
		height: auto;
    width: 400px;
    margin-bottom: 15px;
    display: block;
  }

  textarea {
    height: 200px;
  }

  input[type="checkbox"] {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline;
  }

  .checkbox-label {
    margin-left: 5px;
    display: inline;
  }
	.privacy-settings{
		border-bottom: 1px solid $light-grey;
    border-top: 1px solid $light-grey;
    margin-bottom: 15px;
    padding-bottom: 20px;
	}
}

.hidden {
  display: none;
}

table.jqplot-table-legend {
  background-color: white;
  width: auto;
  border: none;
  td {
    border: none;
    line-height: 16px;
    padding: 0 5px 0 5px;
  }
}

#tooltip, .graph_tooltip{
  padding: 3px 10px;
  background: $dark-grey;
  color: #fff;
  display: none;
  opacity: 0.8;
  width: 100px;
  text-align: center;
  @include box-shadow(1px, 1px, 4px, $mid-grey);
}

.name-separator {
  display: inline-block;
  @include ie7-inline-block();
  width: 15px;
  position: relative;
  bottom: 1px;
  font-size: 0.6em;
  text-align: center;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
