.icon { width: 50px; vertical-align: top }
.icon img { width: 40px }
.pie-icon { width: 50px; vertical-align: top; padding-top: 10px }
table { width: 600px }
.content { width: 550px }
.light-discussion { width: 600px; border-top: 1px solid #000; margin-top: 2em; padding-top: 1em; }
.motion-pie { float: right }
hr { margin: 1em 0 }
