//Motion row
div.motion{
  background: #333;
  margin-bottom: 8px;
  box-shadow: 1px 1px 2px #999999; 
  -webkit-box-shadow: 1px 1px 2px #999999;
  -moz-box-shadow: 1px 1px 2px #999999;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  a{display: block; padding: 5px; margin-bottom: 0;}
  .name{
    background: #ececec;
    p{color: #333}
    }
  .group{
    a, a:visited, a:active {color:#fff}
  }
  .facilitator{
    color: #fff;
    background: #444;
    span{display:inline-block; padding: 5px; }
  }
}

#graph {
  width: 400px;
}

//Show page
#description{
  padding-left: 15px;
  h6 { line-height: 24px; text-transform: none;}
  .btn.small{font-size: 12px; float: right}
}
#votes{
  h2{float:left; width: 100px;}
  .btn.primary{ float:left; margin-top: 6px;}
} 
