@import "settings";
@import "mixins";

/*  New & Edit motion form */

#new-motion{
  h2.new-title { color: $dark-grey; }
}
#motion-form{
  .input { margin-left: 0px; }
  .clearfix { padding-top: 0px; margin-bottom: 0px; }
  .control-group { margin-bottom: 0 }
  .character-counter { bottom: 16px; }
  #motion-name { display: block }
  #closing-inputs {
    #input_date{ width: 140px; display: inline-block; }
    select { width: 100px; display: inline-block; }
  }
  #description { margin-top: 15px; }
  #close-date-label { display: block; }
  .date-error-message {
    font-size: $font-small;
    line-height: 1em;
    display: inline-block;
    width: 200px;
    margin-left: 5px;
    color: $error-color;
  }
  .helper-text {
    margin-top: 17px;
  }
}


/*** motion preview ***/

.motion-preview:hover {
  background-color: $selector;
}

.motion-preview {
  a {
    display: block;
  }
  a:hover {
    text-decoration: none;
  }
  .vote-icon {
    float: left;
    width: 20px;
    position: relative;
    top: 6px;
    padding-right: 7px;
  }
  .proposal-title-container {
    color: $mid-grey;
    float: left;
    width: 470px;
  }
  .proposal-title {
    font-size: $font-medium;
    color: $dark-grey;
  }
  .proposal-outcome {
    font-size: $font-small;
  }
  .proposal-close-date {
    font-size: $font-small;
    display: inline;
    float: left;
  }
  .proposal-group-name {
    font-size: $font-small;
    position: relative;
    left: 4px;
  }
  .engagement {
    font-size: $font-small;
    color: $mid-grey;
    float: right;
    width: 36px;
    text-align: center;
    margin-top: 9px;
  }
  .enguagement-label {
    font-size: $font-tinywiny;
    position: relative;
    bottom: 4px;
  }
  .pie {
    float: right;
    width: 36px;
    height: 36px;
    z-index: 1;
  }
  .activity-count {
    float: right;
    height: 14px;
    font-size: $font-tinywiny;
    z-index: 2;
    position: relative;
    left: 40px;
  }
}

/*** proposal (discussion page)***/


#motion-title {
  h2 {
    float: left;
    padding-right: 10px;
  }
}
#content-proposal{
  h3 { font-weight: normal; }
  margin-left: 0px;
  .proposal-title-container {
    width: 305px;
  }
  .label{
    text-transform: lowercase;
    font-weight: normal;
  }
  .closing-info{
    font-size: $font-small;
  }
  #outcome-statement {
    color: $dark-grey;
    margin: 10px 0px;
    textarea {
      width: 390px;
      max-width: 390px;
      height: 40px;
      max-height: 80px;
    }
    .control-group { margin-bottom: 0px; }
    .character-counter {
      bottom: 10px;
      width: 250px;
      float: right;
      margin-bottom: 0px;
    }
    .statement-display {
      padding: 5px;
      background-color: $lighter-grey;
      font-size: 1em;
    }
    .button_to { margin: 0px; }
    .outcome-edit-button {
      margin: 0px;
      float: right;
      display: inline;
      position: relative;
      top: 0px;
      right: 0px;
    }
    .outcome-label {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 7px;
    }
    .no-outcome { font-style: italic; }
  }
  .proposed-by {
    font-size: $font-tiny;
    margin-bottom: 20px;
  }
  .description { width: 403px; }
  .description p{
    //font-size: $font-small;
    color: $dark-grey;
  }
  .percentage-to-vote {
    font-size: $font-small;
    margin-bottom: 10px;
  }
  .new_vote{ padding-left: 0px; }
  .vote-form{
    height: 100px;
  }
  #vote-statement .statement { width: 520px; }
  #vote-statement .character-counter { width: 528px; }
  .inputError { margin-left: 0px; height: 65px; }
  .control-group { padding-top: 0px; padding-bottom: 0px; }
  .vote-buttons .btn {
    float: left;
    width: 40px;
    @include box-shadow(1px, 1px, 3px, $mid-grey);
    border: 1px solid $light-grey;
    @include border-radius(5px);
    padding: 3px;
    margin: 10px 10px 15px 0;
  }
  .votes-table { padding-bottom: 10px; }
  .votes-table .position-row {
    padding-bottom: 3px;
    padding-top: 2px;
  }
  .votes-table .statement {
    font-size: $font-tiny;
    float: left;
    color: #000;
    display: inline;
  }
  .votes-table .position {
    float: left;
    height: 20px;
    width: 30px;
    text-align: center;
  }
  .votes-table .btn {
    float: right;
    font-size: $font-tiny;
    margin-left: 4px;
    width: 20px;
    padding: 2px 5px;
  }
  .toggle-yet-to-vote{
    color: $mid-grey;
    font-size: $font-tiny;
    margin: 10px 0 0 5px;
  }
}

.motion .pie {
    height: 250px;
}
table.jqplot-table-legend {
  width: auto;
  border: none;
  td {
    border: none;
    line-height: 16px;
    padding: 0 5px;
  }
}
