//Motion row
div.motion{
  &.voted_no{background: fadeout(#d49090, 80%); }
  &.voted_yes{background: fadeout(#90d490, 80%); }
  &.voted_abstain{background: fadeout(#F0BB67, 80%); }
  &.voted_block{background: fadeout(#Ff0000, 80%); }
  margin-bottom: 1.6em;
  font-size: 0.7em;
  line-height: 1.2em;
  box-shadow: 1px 1px 4px #999999;
  -webkit-box-shadow: 1px 1px 4px #999999;
  -moz-box-shadow: 1px 1px 4px #999999;
  a{display: block; padding: 5px; margin-bottom: 0;}
  .border{ border: solid 1px #ccc; min-height: 200px; }
  .name{
    font-weight: bold;
    }
  .group{
    height: 2.0em;
    a{display: block; float: left; padding: 4px; margin-bottom: 0;}
    text-align: left;
    background: #ececec;
    a, a:visited, a:active {color: #999;}
  }
  .description{ padding: 7px; cursor: pointer;}
  /*.toggle_motion_expand{font-size: 1.8em; font-weight: bold; color: #ccc;float: right; padding: 2px 10px; cursor: pointer;}*/
  /*.toggle_motion_expand:hover{color: #999;}*/
  .expanded{
    /*box-shadow: 1px 1px 4px #999999;*/
    /*-webkit-box-shadow: 1px 1px 4px #999999;*/
    /*-moz-box-shadow: 1px 1px 4px #999999;*/
    /*background: #fff;*/
    /*.graph_tooltip{display: none;}*/
    /*.pie {height: 150px;}*/
    /*.motion_actions{*/
      /*.btn{width: 100%; clear: both; margin-bottom: 10px;}*/
      /*.btn.small{font-size: 1em; line-height: 1.2em; padding: 3px;}*/
      /*.btn.primary a{color:#fff;}*/
    /*}*/
  }
}
.grey-row{
  background-color: #F9F9F9;
}

.border-row{
  border-top: 1px solid grey;
}
.motions-list{
  font-size: 16px;
  margin-left: 0px;
  border-bottom: 1px solid grey;
  .other-info{
    font-size: 14px;
  }
  .toggle-button{
    font-weight: bold;
    color: #999999;
  }
  .dashboard-motion-description{
    font-size: 12px;
    margin-left: 80px;
  }
  .pie {height: 175px;}
  .motion_actions{
    margin-top: 60px;
    .btn{width: 60px; clear: both; margin-top: 5px;}
    .btn.small{font-size: 0.8em; line-height: 1.2em; padding: 3px;}
    .btn.primary a{color:#fff;}
  }
  #motion-row{
    margin-top: 6px;
  }
}

#closed-motion-list{
  margin-top: 40px
}

#description_text{
  p{font-size: 1.0em;}
  margin-top: 40px;
}
#motion_description{
  p{font-size: 1.0em;}
  margin-top: 40px;
}
#votes-table table{
  font-size: 14px;
  .vote-statement{
    max-width: 300px;
  }
  margin-top: 50px;
}
#no-votes-msg{
  font-size: 14px;
}
#stats{
  float: right;
  margin-left: 25px;
  p{text-align: right; padding-right: 15px;}
}
#graph {
  width: 400px;
  height: 250px;
}
#vote-buttons{
  margin-left: 20px;
  .btn.vote{border-radius: 5px;
            webkit-border-radius: 5px;
            moz-border-radius: 5px;
            box-shadow: 1px 1px 4px #999999;
            webkit-box-shadow: 1px 1px 4px #999999;
            moz-box-shadow: 1px 1px 4px #999999;
            padding: 3px;
            height: 50px;
            }
}
#vote-form{
  margin-top: 10px
}
//Show page
#description{
  h2, .buttons{line-height: 1.2em;}
  h5 { line-height: 20px; color: #888;}
  h6 { line-height: 20px; text-transform: none;}
  .btn.small{font-size: 12px; }
}
