@import "settings";
@import "mixins";

/*  New & Edit motion form */
#motion-form{
  .input { margin-left: 0px; display: inline-block; }
  .clearfix { padding-top: 0px; margin-bottom: 0px; }
  #closing-inputs {
    height: 40px;
    #input_date{ width: 140px; display: inline-block; }
    select { width: 100px; display: inline-block; }
  }
  #description { margin-top: 31px; }
  .date-error-message {
    font-size: $font-small;
    line-height: 1em;
    display: inline-block;
    width: 200px;
    margin-left: 5px;
    color: $error-color;
  }
}


/*** motion preview ***/

.motion-preview:hover {
  background-color: $selector;
}

.motion-preview {
  padding: 0px 10px;
  a {
    display: block;
  }
  a:hover {
    text-decoration: none;
  }
  .vote-icon {
    float: left;
    padding: 10px;
    width: 20px;
  }
  .proposal-title-container {
    color: $mid-grey;
    float: left;
    padding: 5px;
    width: 470px;
  }
  .proposal-title {
    font-size: $font-medium;
    color: $dark-grey;
  }
  .proposal-close-date {
    font-size: $font-small;
    display: inline;
    float: left;
  }
  .proposal-group-name {
    font-size: $font-small;
    position: relative;
    left: 4px;
  }
  .engagement {
    font-size: $font-small;
    color: $mid-grey;
    float: right;
    width: 36px;
    text-align: center;
    margin-top: 9px;
  }
  .enguagement-label {
    font-size: $font-tinywiny;
    position: relative;
    bottom: 4px;
  }
  .pie {
    float: right;
    width: 44px;
    height: 44px;
    margin-right: 8px;
    z-index: 1;
  }
  .activity-count {
    height: 14px;
    font-size: $font-tinywiny;
    z-index: 2;
    position: relative;
    left: 56px;
    top: 3px;
  }
}

/*** proposal (discussion page)***/


#motion-title {
  h2 {
    float: left;
    padding-right: 10px;
  }
}
#content-proposal{
  padding-left: 19px;
  margin-left: 0px;
  .proposal-title-container {
    width: 320px;
  }
  .label{
    text-transform: lowercase;
    font-weight: normal;
  }
  .closing-info{
    font-size: $font-small;
  }
  .proposed-by {
    font-size: $font-tiny;
    margin-bottom: 20px;
  }
  .description { width: 430px; }
  .description p{
    font-size: $font-small;
    color: $dark-grey;
  }
  .description .see-more{
    font-size: $font-tinywiny;
    position: relative;
    bottom: 10px;
  }
  .percentage-to-vote {
    font-size: $font-small;
    margin-bottom: 10px;
  }
  .new_vote{ padding-left: 0px; }
  .vote-form{
    height: 100px;
  }
  #vote-statement .statement { width: 520px; }
  #vote-statement .character-counter { width: 528px; }
  .inputError { margin-left: 0px; height: 65px; }
  .control-group { padding-top: 0px; padding-bottom: 0px; }
  .vote-buttons .btn {
    float: left;
    width: 40px;
    @include box-shadow(1px, 1px, 4px, $mid-grey);
    @include border-radius(5px);
    padding: 3px;
    margin: 10px 10px 15px 0;
  }
  .votes-table { padding-bottom: 10px; }
  .votes-table .position-row {
    padding-bottom: 3px;
    padding-top: 2px;
  }
  .votes-table .statement {
    font-size: $font-tiny;
    float: left;
    color: #000;
    display: inline;
  }
  .votes-table .position {
    float: left;
    height: 20px;
    width: 30px;
    text-align: center;
  }
  .votes-table .btn {
    float: right;
    font-size: $font-tiny;
    margin-left: 4px;
    width: 20px;
    padding: 2px 5px;
  }
}
