//Motion row
div.motion{
  &.voted_no{background: fadeout(#d49090, 80%); }
  &.voted_yes{background: fadeout(#90d490, 80%); }
  &.voted_abstain{background: fadeout(#F0BB67, 80%); }
  &.voted_block{background: fadeout(#Ff0000, 80%); }
  margin-bottom: 1.6em;
  font-size: 0.7em;
  line-height: 1.2em;
  box-shadow: 1px 1px 4px #999999;
  -webkit-box-shadow: 1px 1px 4px #999999;
  -moz-box-shadow: 1px 1px 4px #999999;
}

.bordered{ border-top: 1px solid lightgrey; }
.centered{ text-align: center; }
.header-sapce{ margin-top: 15px; }
.sub-header{ margin-top: 10px; }
.padding{ padding-top: 30px }

/*** Show Motions Page ***/
#motion{
  #admin-buttons{
    margin-top: 20px;
    margin-left: 20px;
  }
  #discussion{ padding-top: 10px; color: #555; }
  #description{
    p{font-size: 1.0em;}
    margin-top: 30px;
    color: #555;
  }
  #votes-table table{
    font-size: 14px;
    .vote-statement{
      max-width: 300px;
      color: black;
    }
    margin-top: 50px;
    #no-votes-msg{ font-size: 14px; }
  }
  #still-to-vote{ padding-top: 30px; padding-bottom: 20px }
  #graph{ height: 300px; }
  #percentage-to-vote { margin-left: 20px }
  #vote-buttons{
    margin-left: 20px;
    .btn.vote{
      border-radius: 5px;
      webkit-border-radius: 5px;
      moz-border-radius: 5px;
      box-shadow: 1px 1px 4px #999999;
      webkit-box-shadow: 1px 1px 4px #999999;
      moz-box-shadow: 1px 1px 4px #999999;
      padding: 3px;
      height: 40px;
      }
  }

  /*Hidden vote form on show motions page*/
  #vote-form{
    margin-top: 10px;
    #vote-statement{ margin-left: 0px; padding-left: 0px; }
  }
}

/*** Dashboard Page ***/
.motions-list{
  padding-top: 6px;
  margin-bottom: 40px;
  border-bottom: 1px solid lightgrey;
  .vote-icon {
    padding-top: 10px;
    padding-left: 8px;
    width: 13px;
    text-align: left;
  }
  #motion-header{
    #motion-title{ font-size: 16px; }
    line-height: 18px;
    .group-name {
      font-size: 14px;
      a {color: grey;}
    }
  }
  .close-info {
    font-size: 13px;
    text-align: right;
    padding-top: 8px;
    color: grey;
  }
  .toggle-button{
    padding-top: 6px;
    font-weight: bold;
    color: #999999;
    text-align: center;
  }
  .action-links{
    a{color: grey}
    margin-top: -5px;
    font-size: 11px;
  }
  .expanded-area{ margin-left: 60px; }
  .dashboard-motion-description{
    font-size: 14px;
    line-height: 1.4em;
    margin-top: 10px;
  }
  .pie {
    height: 170px;
    width: 400px;
    float: left;
  }
  #vote-buttons{
    padding-top: 5px;
    width: 140px;
    .sml-vote-btn{
      border-radius: 1px;
      webkit-border-radius: 5px;
      moz-border-radius: 5px;
      box-shadow: 1px 1px 4px #999999;
      webkit-box-shadow: 1px 1px 4px #999999;
      moz-box-shadow: 1px 1px 4px #999999;
      padding: 5px;
      padding-top: 10px;
      padding-bottom: 3px;
    }
  }
  #vote-form{
    margin-left: 0px;
    input { font-size: 14px; width: 190px; }
  }
  .closed{
    background-color: #F9F9F9;
    #motion-title{ font-weight: normal; }
  }
  .voting{
    background-color: #FFFFFF;
    #motion-title{ font-weight: bold; }
  }
}

/*** New & Edit motion ***/
#motion-form{
  padding-top: 10px;
  #input_date{ width: 140px; }
  select{ width: 100px;}
  #closing-inputs{ padding-bottom: 10px; }
}

/*** Shared properties ***/

#percentage-to-vote{ padding-bottom: 10px; }

#discussion-panel{
  padding-top: 20px;
  padding-right: 20px;

  #new-comment-form{
    margin-bottom: 8px;

    #new-comment{
      width: 450px;
      height: 80px;
      font-size: 13px;
      line-height: 16px;
      color: black;
    }

    #new-comment-submit{
      text-align: right;
      .submit{
        font-size: 13px;
        margin-top: 8px;
      }
    }
  }

  .comment{
    background-color: #EEE;
    margin-bottom: 2px;
    padding: 4px;

    p{
      font-size: 13px;
      margin-bottom: 0px;
      line-height: 16px;
    }
    .comment-time{
      font-size: 12px;
      color: grey;
    }
  }
}

#votes-panel{
  padding-top: 20px;
  padding-left: 19px;
  border-left: 1px solid lightgrey;
  margin-left: 0px;
  width: 430px;
}

#closed-motion-list{
  margin-top: 40px;
  padding-bottom: 50px;
}

h2 { font-size: 18px; line-height: 18px; font-weight: normal; color: #555; } /* Main Header */
h4 { font-size: 16px; line-height: 20px; font-weight: normal; color: #888; } /* Item grey */
h5 { font-size: 14px; line-height: 18px; font-weight: normal; color: #888; }
h6 { font-size: 14px; line-height: 18px; font-weight: normal; color: #888; } /* other details CAPS */
h7 { font-size: 12px; line-height: 16px; color: grey; }


.group-tags .btn {
  font-size: 12px;
  margin-bottom: 5px;
}

.group-tags .btn.not-used {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.group-tags .btn.active, .group-tags .btn :active {
  background: rgba(0, 0, 255, 0.7);
  color: white;
  text-shadow: none;
}

.tag-separator {
  color: #DDD;
}
