@import "settings";

.notification-item.unread {
  background-color: rgb(237, 239, 245);
}
.notification-item a {
  white-space: normal;
  /*line-height: 16px;*/
  font-size: 0.9em;
  color: $dark-grey
}
.notification-item-footer {
  font-size: 0.85em;
  display: block;
  color: $mid-grey;
}

.bold-name {
  font-weight: bold;
  color: #333;
}

.navbar {
  #notifications-container .dropdown-menu {
    width: 350px;
    height: 450px;
  }
  #notifications-container .dropdown-menu h3 {
    padding-left: 15px;
    color: #333;
  }
  #notification-items {
    overflow-y: auto;
    height: 390px;
  }
  #notifications-see-more {
    border-top: 1px solid $light-grey;
  }
  #notifications-see-more a {
    padding: 0px;
    padding-top: 8px;
    text-align: center;
    color: $dark-grey;
    font-weight: bold;
  }
  #notifications-see-more a:hover {
    text-decoration: underline;
  }
}

body.notifications.index .container {
  li {
    background-color: white;
    padding: 5px 10px;
  }
}
