.poll-mailer-common-responses__poll-option {
  border-left: 5px solid;
  padding-left: 10px;
}

.poll-mailer-common-responses__reason p {
  margin: 10px 0;
}

.poll-mailer-common__discussion-info {
  margin-top: 20px;
}

.poll-mailer-common__avatar {
  vertical-align: top;
}

.poll-mailer-common-avatar__initials {
  margin-right: 10px;
  border: 1px solid #dcdcdc;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
}

.poll-mailer-common-avatar__image {
  margin-right: 10px;
  width: 30px;
  float: left;
}

.poll-mailer-common-footer {
  margin-top: 20px;
  clear: both;
  color: #666;
  font-size: small;
}

.poll-mailer-common-footer__text {
  margin-bottom: 20px;
}

.poll-mailer__select-ui {
  width: 20px;
}

.poll-mailer-count__option-icon {
  width: 18px;
}

.poll-mailer-count__option-icon--small {
  width: 18px;
}

.poll-mailer-proposal__option-icon {
  width: 55px;
}

.poll-mailer-proposal__option-icon--small {
  width: 24px;
}

.poll-mailer__create-outcome-button {
  background-color: #5cb85c;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  max-width: 80px;
  padding: 12px 30px;
}

.poll-mailer__vote-button {
  /*border: 1px solid #70c9f8;*/
  border: 2px solid black;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  /*background-color: #70c9f8;*/
  /*color: white;*/
}

.poll-mailer__vote-buttons-list {
}

.poll-mailer__text-align-center {
  text-align: center;
}

.poll-mailer-proposal__chart-legend {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}

.poll-mailer-proposal__chart-legend td {
  border-bottom: 2px solid;
  padding-top: 10px;
}

.poll-mailer-meeting__table {
  width: 100%;
}

.poll-mailer-meeting__cell {
  padding: 5px;
  text-align: center;
}

.poll-mailer-meeting__check-cell {
  width: 80px;
  text-align: center;
  height: 25px;
}

.poll-mailer-meeting__cell--inactive {
  background: #D8D8D8;
}

.poll-mailer-meeting__cell--active {
  background: #70C9F8;
}

.poll-mailer-meeting__cell--active img {
  width: 25px;
  padding: 10px 0;
}

.poll-mailer-meeting__participant-name {
  padding-right: 16px;
}
