.pricing-table {
  margin: 0 auto;
  max-width: 750px;
}

.pricing-table__wrapper {
  padding-top: 24px;
}

.pricing-table__header {
  margin-left: 10px;
  margin-bottom: 20px;
}

.pricing-table__option {
  background-color: #e2e1de;
  padding: 12px;
  position: relative;
  margin-right: 20px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    padding-bottom: 0;
  }
  ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    li { margin-bottom: 7px; }
    i { font-size: 16px; }
  }
  p {
    padding: 0;
    text-align: center; }
}


.pricing-table__plan-description {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 25px;
}


.pricing-table__contact-us, .pricing-table__get-started {
  text-align: center;
  span{
    font-weight: bold;
  }
}

@media all and (max-width: 599px) {
  .pricing-table__option {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .pricing-table__option--standard {
    order: 1; }
}

.pricing-table__option--standard {
  background-color: #f8b365;
  order: 2;
  margin-left: 0 ! important; }

.pricing-table__option--plus { order: 3; }

.pricing-table__price {
  font-weight: bold;
  text-align: center;
  strong {
    font-size: 30px;
    line-height: 36px;
  }
  span {
    font-weight: normal;
  }
}

.pricing-table__contact-us {
  margin-top: 3rem;
}
