.pricing-table {
  margin: 0 auto;
  max-width: 750px;
}

.pricing-table__header {
  margin-left: 10px;
  margin-bottom: 20px;
}

.pricing-table__option {
  background-color: #e2e1de;
  min-height: 300px;
  padding: 15px 15px;
  position: relative;
  h2 {
    text-align: center;
  }
  ul {
    list-style: none !important;
    line-height: 26px;
    i {
      font-size: 16px;
    }
  }
}

.pricing-table__option--gift {
  p {
    text-align: center;
  }
}

.pricing-table__col {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  width: 250px;
  float: left;
}

.pricing-table__free-trial, .pricing-table__get-started {
  text-align: center;
  span{
    font-weight: bold;
  }
}
.pricing-table__option--standard{
  background-color: rgba(255, 117, 0, 0.41);
  border: 1px solid #b16a1a;
}
.pricing-table__price {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  text-align: center;
  width: 90%;
  strong {
    font-size: 30px;
    line-height: 36px;
  }
  span {
    font-weight: normal;
  }
}

.pricing-table__gift-price {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 200px;
}

.pricing-table__get-started {
  margin-left: 10px;
}
