@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "unstructured/settings";
@import "unstructured/avatar";
@import "unstructured/icons";
@import "unstructured/motion_graph";

h1 { margin-bottom: 20px; }

.col-md-3 { width: 25%; }

.print-container {
  max-width: 970px;
  margin: 10px auto;
}

.title {
  border-bottom: 1px solid $lighter-grey;
  margin-bottom: 20px;
  padding-bottom: 15px
}

ul {
  li { list-style-type: none; }
  padding: 0px;
}

.context {
  border-bottom: 2px solid $lighter-grey;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.groups-title {
  display: inline-block;
  h3 { display: inline; }
}

.print-details { text-align: right; }

.discussion-details {
  color: $mid-grey;
  font-size: 12px;
  margin-top: 10px;
}

.proposal-description {
  margin-bottom: 10px;
}

.proposal-details {
  li {
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
  }
  margin-bottom: 40px;
}

.votes { display: inline; }

.motion-graph {
  .legend {
    width: 150px;
    margin: 3em 0;
    padding-top: 0px;
  }
}

.activity, .positions {

  li { margin-bottom: 15px; }

  .new-comment { min-height: 35px; }

  .timestamp {
    color: $mid-grey;
    font-size: 12px;
    margin-top: -7px;
    white-space: pre;
  }
}
.positions-list { margin-bottom: 25px; }

.activity-icon {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid black;
}

.attachments {
  li { margin-bottom: 10px; }
}
