// @import "settings";
// @import "bootstrap/mixins";
// @import "mixins";
// @import "color";
// @import "buttons";


// body {
//   background-color: $ash;
// }

// .navbar {
//   text-align: left;
//   border: none;
//   background-color: white;
//   margin-bottom: 28px;
//   box-shadow: 0 1px 2px 0px #C8C8C8;
//   .content-container {
//     padding: 15px 0 36px;
//     margin-bottom: 25px;
//   }
//   li a{
//     color: $charcoal;
//     font-size: 16px;
//     font-family: 'OpenSans';
//   }
//   li a.btn {
//     color: white;
//     padding: 6px 20px;
//     margin: 10px;
//   }
//   i { font-size: 22px; }
//   .navbar-brand {
//       padding: 0;
//     img {
//       width: 90%;
//       padding: 4px 15px 0;
//     }
//   }
// }

// .content-container {
//   padding: 52px 26px;
//   // @include screen-size(small-up) {
//   //   width: 960px;
//   //   margin: 0 auto;
//   // }
//   background: #FFF;
//   border-radius: 10px;
// }

.navbar-inner {
  background-image: none;
  background-color: #FFF;
  padding: 18px 24px;
}
.navbar-container {
  width: 960px;
  margin: 0 auto;
}
.brand {
  img { width: 90%; }
}









