.errors__return-home {
  display: none;
}

.errors__content {
  text-align: center;
}

.slack-authorized {
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}

.slack-authorized__square {
  width: 100px;
  height: 100px;
  background: white;
  box-shadow: 0 0 0 3px white, 0 0 0 4px #ccc, 0 0 0 6px white, 0 0 0 8px #ccc;
  border-radius: 2px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.slack-authorized__button {
  border-radius: 5px;
  background: #00D177;
  color: white;
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
}
