@import "settings";
@import "mixins";

body.users.show {
  p.email, p.username {
    font-size: 1.4em;
    margin-top: .4em;
  }
  .span8 { margin-left: 0; }
}

body.users.settings {
  ul.user-image-options {
    margin-left: -30px;
    h3 { margin: 0 0 0 30px; }
    li {
      margin: 0 0 10px 0;
      padding: 0px 0px;
      width: 250px;
      a {
        cursor: pointer;
        color: $mid-grey;
        float: left;
        padding: 8px 8px;
      }
      .medium-user-image.image-canvas {
        float: left;
        width: 28px;
      }
      .option-label {
        float: left;
        line-height: 32px;
        padding-left: 10px;
        text-decoration: underline;
        width: 140px;
      }
      #uploaded-avatar {
        bottom: 36px;
        filter: alpha(opacity=0);
        height: 36px;
        margin: 0;
        opacity: 0;
        position: relative;
        width: 150px;
      }
      &.clearfix:hover { background-color: $selector; }
    }
  }
}

// app-wide classes for user avataars
.avatar-canvas {
  background: $selector;
  border: 1px solid #B9B9B9;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: $mid-grey;
  text-align: center;
  float: left;
  margin-right: 3px;
  font-weight: bold;
}

.large-user-avatar {
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
  font-size: 70px;
  line-height: 149px
}

.med-large-user-avatar {
  width: 70px;
  height: 70px;
  font-size: 22px;
  line-height: 64px;
}

.medium-user-avatar {
  width: 35px;
  height: 35px;
  margin-right: 7px;
  font-size: 14px;
  line-height: 32px;
}

.small-user-avatar {
  width: 24px;
  height: 24px;
  font-size: 10px;
  line-height: 22px;
}
