// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "settings";
@import "mixins";

.user-image {
  float: left;
  display: block;
  width: 170px;
  height: 170px;
  padding: 0 5px;
  text-align: center;
}

.large-user-image-initial-wrapper {
  background: lightgrey;
  border: 1px solid #B9B9B9;
  width: 170px;
  height: 170px;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  display: block;
  color: black;
  padding: 0 5px;
  text-align: center;
  float: left;
}

.medium-user-image-initial-wrapper {
  background: lightgrey;
  border: 1px solid #B9B9B9;
  width: 33px;
  height: 33px;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  display: block;
  color: black;
  text-align: center;
  float: left;
}

.small-user-image-initial-wrapper {
  background: lightgrey;
  border: 1px solid #B9B9B9;
  width: 23px;
  height: 23px;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  display: block;
  color: black;
  padding: 0 0px;
  text-align: center;
  float: left;
}

.user-image-option .medium-user-image-initial-wrapper {
  margin: 5px 4px 0px 0px;
}

.large-user-image-initials {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 170px;
}

.medium-user-image-initials {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 33px;
}

.small-user-image-initials {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}

.change-avatar-wrapper {
  width: 203px;
  display: block; 
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  float: left;
  margin-left: 25px;
}

.change-avatar-label {
  bottom: 0;
  text-align: center;
  line-height: 25px;
  margin-bottom: 4px;
  background: grey;
  display: block;
  height: 25px;
}

.clear-both {
  clear: both;
  display: block;
  height: 10px;
}

.user-image-option {
  display: block;
  height: 45px;
  padding: 0px 5px;
  margin-bottom: 4px;
  background: #F5F0F0;
  float: left;
  width: 193px;
}

.user-image-option.option-upload {
  text-align: center;
}

.user-image-option a {
  line-height: 40px;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.change-user-image-initials {
  width: 33px;
  line-height: 35px;
}

#user_uploaded_avatar {
  display: none;
}

.user-image-option a#fake_upload_image_button {
  margin-top: 5px;
  line-height: 25px;
}