// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "settings";
@import "mixins";

.avatar-canvas {
  background: $selector;
  border: 1px solid #B9B9B9;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: $mid-grey;
  text-align: center;
  float: left;
  margin-right: 3px;
  font-weight: bold;
}

.large-user-avatar {
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
  font-size: 70px;
  line-height: 149px
}

.med-large-user-avatar {
  width: 70px;
  height: 70px;
  font-size: 22px;
  line-height: 64px;
}

.medium-user-avatar {
  width: 35px;
  height: 35px;
  margin-right: 7px;
  font-size: 14px;
  line-height: 32px;
}

.small-user-avatar {
  width: 24px;
  height: 24px;
  font-size: 10px;
  line-height: 22px;
}

body.users.settings {
  ul.user-image-options {
    margin-left: -30px;
    h3 { margin: 0 0 0 30px; }
  }
  ul.user-image-options li {
    padding: 0px 0px;
    margin: 0 0 10px 0;
    width: 250px;
    a {
      padding: 8px 8px;
      cursor: pointer;
      color: $mid-grey;
      float: left;
    }
    .medium-user-image.image-canvas {
      float: left;
      width: 28px;
    }
    .option-label {
      padding-left: 10px;
      text-decoration: underline;
      line-height: 32px;
      float: left;
      width: 140px;
    }
  }
  ul.user-image-options li.clearfix:hover {
    background-color: $selector
  }
}

#uploaded-avatar {
  position: relative;
  width: 150px;
  height: 36px;
  bottom: 36px;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

#user-email-popover {
  .avatar-canvas {
    margin: 0 10px 0 0;
    float: left;
  }
  .user-details {
    display: block;
    margin-left: 15px;
  }
}

#edit-name {
  margin: 18px 0px 20px;
  #edit-name-text {
    font-size: $font-large;
  }
  #edit-name-link {
    font-size: $font-medium;
  }
  #cancel-edit-name {
    margin: 15px 0 0 5px;
    color: $mid-grey;
    text-decoration: underline;
    position: relative;
    top: 5px;
    font-size: $font-small;
  }
  #cancel-edit-name:hover {
    color: $dark-grey;
  }
}
