%md-dialog.pin-thread-modal.poll.common-modal.lmo-modal__narrow
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi.mdi-pin
      %h1.lmo-h1{translate: "pin_thread_modal.title"}
      %material_modal_header_cancel_button
  .md-dialog-content
    .lmo-disabled-form{ng-if: "isDisabled"}
    %p.lmo-hint-text{translate: "pin_thread_modal.helptext"}
    %img.pin-thread-modal__image{src: "img/pinning.png"}
    %p.lmo-hint-text{translate: "pin_thread_modal.helptext_two"}
    .lmo-md-actions
      %div
      %md-button.md-primary.md-raised.pin-thread-modal__submit{translate: "common.ok_got_it", ng-click: "submit()"}
