
.poll-common-votes-panel__no-votes {
  color: $grey-on-white;
  font-style: italic;
}

.poll-common-votes-panel__header {
  display: flex;
  justify-content: space-between;
}

.poll-common-votes-panel__header md-select {
  margin-bottom: 0;
}

.poll-common-votes-panel__did-not-voter {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.poll-common-votes-panel__stance-name-and-option .poll-common-stance-choice {
  display: inline-block;
}
