%section
  .lmo-flex
    %i.material-icons.poll-common-share-form__icon public
    %h3.lmo-h3{translate: "poll_common_share_form.communities"}

  %md-list.md-block
    .poll-common-helptext{ng-if: "noCommunities()", translate: "poll_common_share_form.no_communities"}
    %md-list-item.poll-common-share-form__community.lmo-flex{ng-if: "!community.revoked", ng-repeat: "community in poll.communities()"}
      .lmo-flex__grow.lmo-flex{layout: "row"}
        %img.poll-common-share-form__community-icon{class: "poll-common-share-form__community-icon--{{community.communityType}}", ng-src: "/img/{{community.communityType}}-icon.svg"}
        .poll-common-share-form__h3.lmo-inline-action {{community.displayName()}}

      %md-button.lmo-inline-action{ng-click: "publish(community)", ng-if: "!poll.published && !poll.processing"}
        %i.material-icons redo
      %span.poll-common-share-form__reminded{ng-if: "poll.published", translate: "poll_common_share_form.reminded"}
      %md-button.lmo-inline-action{ng-click: "revoke(community)"}
        %i.material-icons clear

  %md-button.md-primary.md-raised{ng-click: "addCommunity('facebook')"}
    %span{translate: "poll_common_share_form.add_facebook_community"}
  %md-button.md-primary.md-raised{ng-click: "addCommunity('slack')"}
    %span{translate: "poll_common_share_form.add_slack_community"}
