- colours = [ "90D490", "F0BB67", "D49090", "dd0000", 'cccccc'].join('|')
.imgdiv
  %img.motion-pie{src: "https://chart.googleapis.com/chart?cht=p&chs=150x150&chd=t:#{motion_sparkline(motion)}&chco=#{colours}"}
