.poll-common-percent-voted.lmo-hint-text{ng-if: "poll.membersCount() > 0"}
  %span{translate: "poll_common_percent_voted.sentence", translate-value-numerator: "{{poll.stancesCount}}", translate-value-denominator: "{{poll.membersCount()}}", translate-value-percent: "{{poll.percentVoted()}}"}
