.loading-wrapper.container.main-container.lmo-one-column-layout
  %loading{ng-if: "!userPage.user"}
  %main.user-page.main-container.lmo-row{ng-if: "userPage.user"}
    .lmo-card.user-page__profile
      .user-page__content.lmo-flex{layout: "row"}
        %user_avatar.lmo-margin-right{user: "userPage.user", size: "featured"}
        .user-page__info
          %h1.lmo-h1 {{userPage.user.name}}
          .lmo-hint-text @{{userPage.user.username}}

          %p {{userPage.user.shortBio}}

      .user-page__groups
        %h2.lmo-h2.user-page__groups-title{translate: "common.groups"}
        %md-list
          %md-list-item.user-page__group.lmo-flex.lmo-flex__center{ng-repeat: "group in userPage.user.groups() | orderBy: 'fullName' track by group.id"}
            %img.md-avatar.lmo-box--small.lmo-margin-right{ng-src: "{{group.logoUrl()}}"}
            %a{lmo-href-for: "group"} {{group.fullName}}

        %loading{ng-if: "userPage.loadGroupsForExecuting"}
