.user-page__top-margin {
  margin-top: 62px;
}

.user-page__name {
  @include lmoH1;
}

.user-page__profile {
  @include card;
}

.user-page__left {
  float: left;
  padding-right: 20px;
}

.user-page__right {
  float: left;
}

.user-page__groups {
  line-height: 30px;
}
