%section.group-decisions-card.lmo-card--no-padding{aria-labelledby: "group-decisions-card__title"}
  %h2#group-decisions-card__title.lmo-card-heading.lmo-card-heading-padding{translate: "common.decisions"}
  %poll_common_accordion{poll_collection: "pollCollection"}
  %a.group-decisions-card__link.lmo-card-minor-action.lmo-card-padding{lmo-href-for: "group", lmo-href-action: "previous_polls"}
    %span{translate: "group_decisions_card.see_more", translate-value-count: "{{group.pollsCount}}"}
