%md-dialog.poll-common-modal
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi{class: "{{icon()}}"}
      %h1.lmo-h1{translate: "poll_common.start_poll"}
      %material_modal_header_cancel_button
  .md-dialog-content
    .lmo-disabled-form{ng-show: "isDisabled"}
    %poll_common_start_poll.lmo-slide-animation{poll: "poll"}
