%md-dialog.poll-common-modal
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.material-icons {{icon()}}
      %h1.lmo-h1{translate: "poll_common.start_poll"}
      %material_modal_header_cancel_button
  .md-dialog-content
    %poll_common_start_poll{poll: "poll"}
