.membership-requests-card{
  @include card;
}

md-list-item.membership-requests-card__request {
  padding: 0;
}

.membership-requests-card__request-link {
  margin: 0;
  padding: 8px 0;
  width: 100%;
  text-transform: none;
  text-align: left;
}

.membership-requests-card__requestor-name{
  @include md-body-2;
  color: $primary-text-color;
}

.membership-requests-card__requestor-introduction{
  @include fontSmall;
  color: $grey-on-white;
}
.membership-requests-card__pending-requests a{
  color: $grey-on-white;
}
.membership-requests-card__pending-requests a:hover{
  text-decoration: none;
}
