%h4.thread-mailer__attachments-header
  = t :attachments
%ul.thread-mailer__list
  - comment.attachments.each do |attachment|
    %li.thread-mailer__list-item
      %img{src: attachment.location, alt: attachment.filename}
