\
\--
= t :"email.thread_mailer.footer_text", hostname: ENV['CANONICAL_HOST']
= link
\
\
= t :"email.thread_mailer.change_preferences"
=raw email_preferences_url(@utm_hash.merge(unsubscribe_token: @recipient.unsubscribe_token))
