- colours = [ "00D177", "F6A82B", "F96168", "CE261B", 'cccccc'].join('|')
%img.thread-mailer__motion-pie-icon{src: URI.escape("https://chart.googleapis.com/chart?cht=p&chma=0,0,0,0|0,0&chs=100x100&chd=t:#{motion_sparkline(motion)}&chco=#{colours}")}
