%p= t('email.comment_replied_to.context', discussion_title: @discussion.title, author_name: @author.name)
= render_rich_text(@reply.body, @reply.uses_markdown)
= render "attachments", comment: @reply if @reply.attachments.any?
= render "footer", link: comment_url_helper(@reply)
