-if @recipient == @motion.author
  = t(:"email.thread_mailer.specify_outcome")
  = raw discussion_url(@motion.discussion, @utm_hash.merge(proposal: @motion, focus_outcome_input: "true"))
-else
  = t(:"email.thread_mailer.proposal_closed")
\
= render "motion_with_positions", no_title: false
