-if @recipient == @motion.author
  %p= t(:"email.thread_mailer.specify_outcome_html", link: discussion_url(@motion.discussion, @utm_hash.merge(proposal: @motion, focus_outcome_input: "true")))
-else
  %p= t(:"email.thread_mailer.proposal_closed")

= render 'motion_with_positions', no_title: false
