= t("email.proposal_closed.intro_html", proposal_name: @motion.name)
\
= t("email.proposal_closed.specify_outcome_and_notify_group_html")
= discussion_url(@motion.discussion, proposal: @motion, focus_outcome_input: "true").html_safe
