-if @recipient == @motion.author
  %p= t(:"email.thread_mailer.specify_outcome_html", link: discussion_url(@motion.discussion, proposal: @motion, focus_outcome_input: "true"))
-else
  %p= t(:"email.thread_mailer.proposal_closed")

= render 'motion_with_positions'

= render "footer", link: motion_url(@motion)
