%section
  .lmo-flex
    %h3.lmo-h3{translate: "poll_common_share_form.share_group"}
    %help_bubble{helptext: "poll_common_share_form.share_group_helptext"}

  .lmo-flex
    %md-input-container.md-block.lmo-flex__grow.poll-common-share-form__group-select
      %md-select{ng-model: "poll.groupId", ng-disabled: "poll.discussionId", aria-label: "{{ 'poll_common_share_group_form.loomio_group' | translate }}"}
        %md-option{ng-value: "null"}
          {{ 'poll_common_select_group.loomio_group_placeholder' | translate }}
        %md-option{ng-repeat: "group in groups() | orderBy:'fullName'", ng-value: "group.id"}
          {{ group.fullName }}
    %md-button.md-primary.md-raised.poll-common-share-form__button.poll-common-share-form__option-button{ng-disabled: "poll.groupId == groupId", ng-click: "submit()", aria-label: "{{ 'poll_common_share_form.set_group' | translate }}"}
      %span{translate: "poll_common_share_form.set_group"}
  %poll_common_notify_group{model: "poll", notify-action: "publish", ng-if: "poll.groupId != groupId"}

  %p.lmo-hint-text{ng-if: "groupId && groupId != poll.groupId", translate: "poll_common_share_form.move_group_helptext"}
  %p.lmo-hint-text{ng-if: "poll.discussionId", translate: "poll_common_share_form.cannot_move_poll_helptext", translate-value-discussion: "{{poll.discussion().title}}", translate-value-group: "{{poll.group().name}}"}
