%section
  .lmo-flex
    %h3.lmo-h3{translate: "poll_common_share_form.share_with_group"}
    %help_bubble{helptext: "poll_common_share_form.share_with_group_helptext"}

  %md-list.md-block
    .lmo-flex
      %md-select.lmo-flex__grow{ng-model: "currentGroupId", placeholder: "{{ 'poll_common_share_form.share_with_group_placeholder' | translate }}", ng-disabled: "!groups().length", aria-label: "{{ 'poll_common_share_group_form.loomio_group' | translate }}"}
        %md-option
          {{ 'poll_common_share_form.share_with_group_placeholder' | translate }}
        %md-option{ng-repeat: "group in groups()", ng-value: "group.id"}
          {{ group.fullName }}
      %md-button.md-primary.md-raised.poll-common-share-form__button{ng-click: "submit()", ng-disabled: "poll.groupId == currentGroupId"}
        %span{translate: "poll_common_share_form.update_group"}
