.container.main-container
  %main.groups-page
    .row.groups-page__heading
      .col-xs-8
        %h1.lmo-h1-medium{translate: 'groups_page.page_header'}
      .col-xs-4
        %a.btn.btn-success.groups-page__new-group{href: '/g/new'}
          %i.fa.fa-lg.fa-plus{aria-hidden: 'true'}>
          %span{translate: 'navbar.user_options.new_group'}

    .groups-page__groups
      %section.groups-page__group{ng-repeat: 'group in groupsPage.groups() | orderBy:groupsPage.groupName', aria-labelledby: '{{::group.key}}'}
        .groups-page__group-header.clearfix
          %img.groups-page__group-logo{ng-src: "{{::group.logoUrl()}}", aria-hidden: 'true'}>
          %h2.groups-page__group-name{id: '{{::group.key}}'}
            %a{href: '/g/{{::group.key}}'} {{::group.name}}
        %ul.groups-page__subgroups{ng-if: 'group.subgroups().length > 0'}
          %li.groups-page__subgroup{ng-repeat: 'subgroup in group.subgroups()'}
            %a{href: '/g/{{::subgroup.key}}'} {{::subgroup.name}}
