.groups-page{
  max-width: $main-max-width;
  margin: 0px auto;
}

.groups-page__heading{
  margin: 20px 13px;
  h1 {
    float: left;
  }
}

.groups-page__new-group{
  float: right;
}

.groups-page__groups {
  @include card;
  width: 100%;
}

.groups-page__parent-groups{
  padding: 0px;
  list-style: none;
}

.groups-page__parent-group{
  margin-bottom: 1em;
}

.groups-page__parent-group-logo{
  float: left;
  margin-right: 1em;
  width: 30px;
  height: 30px;
}

.groups-page__parent-group-name a {
  font-weight: bold;
  line-height: 30px;
  color: $primary-text-color;
  text-decoration: underline;
}

.groups-page__subgroups{
  list-style: none;
  margin: 0 0 0 5px;
}

.groups-page__subgroup a{
  text-decoration: underline;
  color: $primary-text-color;
}
