.groups-page-container {
  max-width: $main-max-width;
  margin: 10px auto;
}

.groups-page-group {
  @include card;
  width: 315px;
}

.groups-page-group-description {
  padding-top: 10px;
}

.groups-page-group-link {
  padding: 10px 0;
}

.clear-left {
  float: left;
  clear: left;
}

.clear-right {
  float: right;
  clear: right;
}
