= render 'next/navbar'
.inbox
  %ul
    - @discussions.each do |discussion|
      -if discussion.as_read_by(current_user).unread_comments_count > 0
        - state = 'unread'
      -else
        - state = 'read'
      %li.item{class: state}
        .item-row
          %a.left{href: next_discussion_path(discussion)}
            %h3.item__header= discussion.title
            .item__count
              =discussion.as_read_by(current_user).unread_comments_count

          .right
            .item__clear
              ×

          %a.left{href: next_discussion_path(discussion)}
            .item__byline= discussion.group.name
          .right
            .item__date
              3 days ago
