= simple_format t(:'email.reset_password.greeting', name: @resource.email)

%p= link_to t(:'email.reset_password.link_text'), edit_password_url(@resource, :reset_password_token => @token)

= simple_format t(:'email.reset_password.signoff', hostname: ENV['CANONICAL_HOST'])
