= simple_format t(:'email.reset_password.greeting', name: @resource.name)

%p= link_to t(:'email.reset_password.link_text'), edit_password_url(@resource, :reset_password_token => @token), data: {skip_click: :true}

= simple_format t(:'email.reset_password.signoff', hostname: ENV['CANONICAL_HOST'])
