= simple_format t(:'email.reset_password.greeting', name: @resource.name)

%p= link_to edit_password_url(@resource, :reset_password_token => @token), edit_password_url(@resource, :reset_password_token => @token)

= simple_format t(:'email.reset_password.signoff', hostname: ENV['CANONICAL_HOST'])
