.verify-email-notice.lmo-card
  Thanks for participating! Your email is not verified, so please check your email so we can keep everything together for you, trust you a little more, and let you start polls etc.
