.thread-previews
  %outlet{name: "before-thread-previews", model: "query"}
  .blank{ng-repeat: "thread in query.threads() | orderBy: order | limitTo: limit track by thread.key"}
    %thread_preview{thread: "thread"}
