.navbar-search {
  padding: 4px 5px;
}

.navbar-search-input-wrapper{
  position: relative;
}

.navbar-search-input {
  position: relative;
  background-color: $background-color;
  color: $primary-text-color;
  display: inline-block;
  margin-bottom: 0px;
  @media (min-width: $screen-xs-min){width: 250px;}
}

.navbar-search-input::-webkit-input-placeholder,
.navbar-search-input:-moz-placeholder,
.navbar-search-input::-moz-placeholder,
.navbar-search-input:-ms-input-placeholder {
   color: $grey-on-grey;
}

.navbar-search-input-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $grey-on-white;
}

.navbar-search-results {
  @include thinRoundedBorder;
  position: absolute;
  background-color: white;

  width: 100%;
  top: $navbar-height;
  text-align: left;
  max-width: 320px;
  margin-top: 2px;
  box-shadow: 5px 5px 10px #ccc;
  overflow-y: scroll;
  max-height: 91vh;
}

.no-results-found {
  text-align: center;
}

.navbar-search-list-item {
  background: white;
}

@media (max-width: 767px) {
  .navbar-search-input{
    width: 100%;
  }

  .navbar-search-results {
    right: 0px;
    left: 0px;
    margin: 2px 8px;
    min-width: 250px;
    max-width: none;
  }
}
