.navbar-user-options
  .dropdown
    %button.btn.lmo-btn-nude.dropdown-toggle.lmo-navbar__btn.lmo-navbar__btn-icon{href: '', tabindex: 5}
      .sr-only{translate: 'navbar.user_options.label'}
      %user_avatar{user: 'currentUser', size: 'sm'}
    .dropdown-menu.dropdown-menu-right.user-options-dropdown.dropdown-menu-with-icons
      %ul.dropdown-menu-items
        %li.dropdown-menu-item
          There is really nothing here yet
