.lmo-navbar{
  z-index: 1000;
  background: white;
  height: $navbar-height;
  border-bottom: 1px solid $border-color;
  padding: 3px 0px;
  width: 100%;
  position: fixed;
}

.lmo-navbar-flexbox{
  display: flex;
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
}

.lmo-navbar-logo {
  @media (min-width: 940px){ width: 120px; }
  padding: 0 5px;
  .lmo-navbar-btn {
    float: right;
  }
}

.lmo-navbar-logo-image {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/lbow_round_34.png);
}

.lmo-navbar-search {
  max-width: $main-max-width;
  flex-grow: 2;
  -webkit-flex-grow: 2;
  padding-left: 5px;
}

.lmo-navbar-search-input{
  margin-bottom: 0;
}

.lmo-navbar-buttons {
  width: 128px;
}

.lmo-navbar-item{
  display: inline-block;
  margin: 0 0 0 10px;
}

.lmo-navbar-item--selected {
  border-bottom: 4px solid $loomio-orange;
}

.lmo-navbar-btn{
  line-height: 40px;
}

.lmo-navbar-btn__icon{
  color: $grey-on-white;
  font-size: 19px;
}

.lmo-navbar-btn.has-badge{
  position: relative;
}

.lmo-navbar-btn.has-badge .badge{
  position: absolute;
  top: 0;
  right: 0;
  background: #4A90E2;
}
