.navbar-user-options
  .blank{dropdown: ''}
    %button.btn.lmo-btn-nude.lmo-navbar__btn.lmo-navbar__btn-icon{href: '', tabindex: 5, dropdown-toggle: ''}
      .sr-only{translate: 'navbar.user_options.label'}
      %user_avatar{user: 'currentUser', size: 'small'}
    .dropdown-menu.dropdown-menu-right.user-options-dropdown.dropdown-menu-with-icons
      %ul.dropdown-menu-items
        %li.dropdown-menu-item
          %a.navbar-user-options__profile-link{lmo-href: '/profile'}
            %i.fa.fa-lg.fa-cog>
            %span{translate: 'navbar.user_options.profile'}
        %li.dropdown-menu-item
          %a.navbar-user-options__email-settings-link{lmo-href: '/email_preferences'}
            %i.fa.fa-envelope>
            %span{translate: 'navbar.user_options.email_settings'}
        %li.dropdown-menu-item
          %a.navbar-user-options__sign-out-link{href: '', ng-click: 'signOut()'}
            %i.fa.fa-lg.fa-sign-out>
            %span{translate: 'navbar.user_options.sign_out'}
