.lmo-navbar{
  z-index: 1000;
  background: white;
  height: $navbar-height;
  border-bottom: 1px solid $border-color;
  padding: 3px 0px;
  width: 100%;
  position: fixed;
}

.lmo-navbar__left{
  float: left;
}

.lmo-navbar__right{
  float: right;
}

.lmo-navbar__center{
  text-align: center
}

.lmo-navbar__item{
  display: inline-block;
  margin: 0 0 0 2px;
  height: $navbar-height - 4px;
}

.lmo-navbar__item--selected {
  border-bottom: 4px solid $loomio-orange;
  a{ color: $primary-text-color; }
}

.lmo-navbar__btn{
  line-height: 23px;
  padding: 6px;
  background: transparent;
  border: none;
  &:hover, &:focus { background: $list-hover-color; }
}

.lmo-navbar__btn-icon{
  color: $grey-on-white;
  font-size: 19px;
  &:hover, &:focus { text-decoration: none; }
}

.lmo-navbar__btn-label{
  @include fontMedium;
  padding: 5px;
  @media (max-width: 650px){display: none;}
}

.lmo-navbar__btn.has-badge{
  position: relative;
}

.lmo-navbar__btn.has-badge .badge {
  font-size: 10px;
  position: absolute;
  left: 16px;
  top: 1px;
  background: #4A90E2;
  border-radius: 10px;
  padding: 5px;
  color: white;
  line-height: 5px;
  text-align: center;
}
