.lmo-navbar{
  @include box_shadow(2);
  z-index: 1000;
  background: white;
  border-bottom: 1px solid $border-color;
  padding: 0 6px;
  width: 100%;
  position: fixed;
}

.lmo-navbar-item-container{
  display: inline-block;
  .fa-group {
    font-size: 1.1em;
  }

  .fa-bell-o {
    font-size: 1.2em;
  }

  .fa-bell {
    font-size: 1.2em;
  }
}

.lmo-navbar-item-container--left{
  width: 42%;
}

.lmo-navbar-item-container--right{
  text-align: right;
  width: 58%;
}

.lmo-navbar-item-container__sub{
  display: inline-block;
}

.lmo-navbar__item{
  display: inline-block;
  margin: 0;
}

.lmo-navbar__item--selected {
  border-bottom: 4px solid $loomio-orange;
  a{ color: $primary-text-color; }
}

.lmo-navbar__item--user {
  .lmo-navbar__btn{
    padding: 6px;
  }
}

.lmo-navbar__btn{
  box-shadow: none;
  background: transparent;
  border: none;
  border-radius: 0;
  line-height: 23px;
  padding: 10px 6px 11px;
  &:hover, &:focus {
    background: $list-hover-color;
    box-shadow: none;
  }
}

.lmo-navbar__btn-icon{
  color: $grey-on-white;
  font-size: 19px;
  &:hover, &:focus { text-decoration: none; }
}

.lmo-navbar__btn-label{
  @include fontMedium;
  padding: 5px;
  @media (max-width: 650px){display: none;}
}

.lmo-navbar__btn.has-badge{
  position: relative;
}

.lmo-navbar__btn.has-badge .badge {
  font-size: 10px;
  position: absolute;
  left: 16px;
  top: 1px;
  background: #4A90E2;
  border-radius: 10px;
  padding: 5px;
  color: white;
  line-height: 5px;
  text-align: center;
}

@media (max-width: 480px) {
  .lmo-navbar-item-container--left{
    width: 39%;
    .lmo-navbar__item {
      width: 33%;
      display: inline-block;
      text-align: center;
    }
  }

  .lmo-navbar-item-container--right{
    width: 61%;

    .lmo-navbar-item-container__sub--left{
      width: 59%;
    }

    .lmo-navbar-item-container__sub--right{
      text-align: center;
      width: 41%;
    }

    .lmo-navbar__item--notifications {
      width: 50%;
      .lmo-navbar__btn{
        padding: 10px 5px 11px;
      }
    }

    .lmo-navbar__item--user {
      width: 50%;
      .lmo-navbar__btn{
        padding: 6px;
      }
    }
  }
}
