.lmo-navbar{
  z-index: 1000;
  background: white;
  height: $navbar-height;
  border-bottom: 1px solid $border-color;
  padding: 3px 0px;
  width: 100%;
  position: fixed;
}

.lmo-navbar-flexbox{
  display: flex;
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  -webkit-justify-content: center;
}

.lmo-navbar-search {
  max-width: $main-max-width;
  flex-grow: 2;
  -webkit-flex-grow: 2;
  padding-left: 5px;
}

.lmo-navbar-search-input{
  margin-bottom: 0;
}

.lmo-navbar-buttons {
  width: 128px;
}

.lmo-navbar-item{
  display: inline-block;
  margin: 0 0 0 2px;
}

.lmo-navbar-item--selected {
  border-bottom: 4px solid $loomio-orange;
  a { color: black;}
}

.lmo-navbar-btn{
  line-height: 24px;
  padding: 6px;
}

.lmo-navbar-btn__icon{
  color: $grey-on-white;
  font-size: 19px;
  &:hover { text-decoration: none; }
}

.lmo-navbar-btn__span{
  @include fontMedium;
  padding: 5px;
}

.lmo-navbar-btn.has-badge{
  position: relative;
}

.lmo-navbar-btn.has-badge .badge {
  font-size: 10px;
  position: absolute;
  left: 16px;
  top: 1px;
  background: #4A90E2;
  border-radius: 10px;
  padding: 5px;
  color: white;
  line-height: 5px;
  text-align: center;
}
