.lmo-navbar-item.hidden-xs
  %a.lmo-navbar-btn.lmo-navbar-btn__icon{href: '#', ng_click: 'openDiscussionForm()', title: "{{ 'navbar.start_thread' | translate }}"}
    %i.fa.fa-lg.fa-fw.fa-plus{aria-hidden: 'true'}
