.navbar-user-options
  .dropdown
    %button.btn.lmo-btn-nude.dropdown-toggle.lmo-navbar__btn.lmo-navbar__btn-icon{href: '#', tabindex: 5}
      .sr-only{translate: 'navbar.user_options.label'}
      %user_avatar{user: 'currentUser', size: 'sm'}
    .dropdown-menu.dropdown-menu-right.user-options-dropdown.dropdown-menu-with-icons
      %ul.dropdown-menu-items
        %li.dropdown-menu-item
          %a{href: '#', ng_click: 'openDiscussionForm()'}
            .dropdown-menu-item-icon
              %i.fa.fa-xlg.fa-plus{aria-hidden: 'true'}
            .dropdown-menu-item-label{translate: 'navbar.user_options.new_thread'}
        %li.dropdown-menu-item
          %a{href: '/g/new'}
            .dropdown-menu-item-icon
              %i.fa.fa-xlg.fa-group{aria-hidden: 'true'}
            .dropdown-menu-item-label{translate: 'navbar.user_options.new_group'}
