.blank
  .pull-right
    %smart_time{time: 'result.discussion().lastActivityAt'}>
  .search-result-item
    .search-result-title {{ result.discussion().title }}
    .search-result-group-name {{ result.discussion().groupName() }}
    .search-result-blurb{ng-if: 'result.discussionBlurb'}
      %span.search-result__leader{ng-if: 'showBlurbLeader()'} …
      %span.search-result__blurb{ng-bind-html: 'result.discussionBlurb'}
      %span.search-result__trailer{ng-if: 'showBlurbTrailer()'} …

  .search-result-item.media{ng-if: 'result.proposal()'}
    .media-left
      %pie_chart.lmo-box--small{votes: 'result.proposal().voteCounts'}
    .media-body
      .search-result-child-title {{ result.proposal().name }}
      .search-result-blurb{ng-bind-html: 'result.proposal_blurb'}

  .search-result-item.media{ng-if: 'result.comment()'}
    .media-left
      %user_avatar{user: 'result.comment().author()', size: 'small'}
    .media-body
      .search-result-child-title {{ result.comment().authorName() }}
      .search-result-blurb{ng-bind-html: 'result.comment_blurb'}
