%a.search-result.selector-list-item-link{ng-href: '/d/{{result.discussion.key}}', ng-click: 'clear(false)'}
  .pull-right
    %smart_time{time: 'result.discussion.last_activity_at'}>
  .search-result-item
    .search-result-title
      {{result.discussion.title}}
    .search-result-group-name {{result.discussion.group_full_name }}
    .search-result-blurb{ng-bind-html: 'result.discussion.blurb'}


  .search-result-item.media{ng-repeat: 'proposal in result.proposals track by proposal.id'}
    .media-left{ng-init: 'proposal.voteCounts = proposal.vote_counts'}
      %pie_chart.pie-chart--mini{votes: 'proposal.voteCounts'}
    .media-body
      .search-result-child-title {{proposal.name}}
      .search-result-blurb{ng-bind-html: 'proposal.blurb'}

  .search-result-item.media{ng-repeat: 'comment in result.comments track by comment.id'}
    .media-left
      .user-avatar
        .avatar-initials{ng-if: '::(comment.author.avatar_kind == "initials")'}
          {{::comment.author.avatar_initials}}
        .avatar-image{ng-if: '::(comment.author.avatar_kind != "initials")'}
          %img{alt: "{{::comment.author.name}}", ng-src: '{{::comment.author.avatar_url}}'}
    .media-body
      .search-result-child-title {{comment.author.name}}
      .search-result-blurb{ng-bind-html: 'comment.blurb'}
