%form{ng-submit: "submit()"}
  .modal-header
    %modal_header_cancel_button{aria-hidden: "true"}
    %h1.lmo-h1{translate: "revoke_app_form.title", translate-value-name: "{{application.name}}"}

  .modal-body
    %span{translate: "revoke_app_form.question", translate-value-name: "{{application.name}}"}
  .modal-footer
    %button.lmo-btn--danger{type: "submit", translate: "revoke_app_form.submit"}
    %button.lmo-btn--cancel{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
