  .lmo-md-actions
    %md-button.md-accent{ng-click: "$emit('$close')", translate: "common.action.cancel"}
    %md-button.md-primary.md-raised.announcement-form__submit{ng-disabled: "!announcement.notified.length", ng-click: "submit()", translate: "common.action.send"}
