.position-buttons-panel {
  margin-bottom: 5px;
}

.position-buttons-panel input {
  opacity: 0;
  margin-left: -13px;
}

.position-button {
  @include box_shadow(1);
  margin-right: 5px;
  display: inline-block;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
}

/*.vote-form input[type="radio"]:checked+label{*/
  /*@include box-shadow(2px 2px 3px rgba(0,0,0,0.5))*/
/*}*/

.position_buttons_panel__buttons {
  margin-top: 10px;
}

.position-button:hover {
  margin-top: -1px;
}

.position-button--dimmed{
  opacity: 0.3;
}
.position-button--yes{
  background-image: url(/img/green_thumb_button_inv_60.png);
  border-color: darken($agree-color, 15%);
}

.position-button--no {
  margin-left: 4px;
  background-image: url(/img/pink_thumb_button_inv_60.png);
  border-color: darken($disagree-color, 15%);
}

.position-button--abstain {
  margin-left: 4px;
  background-image: url(/img/yellow_thumb_button_inv_60.png);
  border-color: darken($abstain-color, 15%);
}

.position-button--block {
  margin-left: 4px;
  background-image: url(/img/red_flag_button_inv_60.png);
  border-color: darken($block-color, 15%);
}
