.position-buttons-panel {
  margin-bottom: 5px;
}

.position-buttons-panel input {
  opacity: 0;
  margin-left: -13px;
}

.position-button {
  margin-right: 15px;
  display: inline-block;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  border: none;
}

/*.vote-form input[type="radio"]:checked+label{*/
  /*@include box-shadow(2px 2px 3px rgba(0,0,0,0.5))*/
/*}*/

.position-button--dimmed{
  opacity: 0.3;
}
.position-button--yes{
  background-color: $agree-color;
  background-image: url(/img/agree_48.png);
}

.position-button--no {
  background-color: $disagree-color;
  background-image: url(/img/disagree_48.png);
  margin-left: 4px;
}

.position-button--abstain {
  background-color: $abstain-color;
  background-image: url(/img/abstain_48.png);
  margin-left: 4px;
}

.position-button--block {
  background-color: $block-color;
  background-image: url(/img/block_48.png);
  margin-left: 4px;
}
