%md-dialog.poll-common-modal
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %i.mdi{class: "{{icon()}}"}
      %h1.lmo-h1{ng-switch: "currentStep"}
        %span{translate: "poll_{{poll.pollType}}_form.edit_header", ng-switch-when: "save"}
        %span{translate: "announcement.form.poll.title", ng-switch-when: "announce"}
      %dismiss_modal_button
  %md-dialog-content.lmo-slide-animation
    %div{ng-switch: "currentStep"}
      %poll_common_directive.animated{poll: "poll", name: "form", ng-switch-when: "save"}
      %announcement_form.animated{announcement: "announcement", ng-switch-when: "announce"}
    %dialog_scroll_indicator
  %md-dialog-actions.lmo-slide-animation{ng-if: "currentStep =='save'"}
    %poll_common_form_actions.animated{poll: "poll"}
