.card
  .card__header
    .media
      .media__img.media__img--card
        %div{'ng-include' => "'next/templates/user/avatar'", 'ng-init' => "user = event.comment.author"}
      .media__text
        %h4.media__title
          {{event.comment.author.name}}
        .media__details
          {{event.comment.created_at | date:'medium' }}
  .card__content
    {{ event.comment.body }}
  .toolbar-container
    .toolbar
      .toolbar__button.toolbar__button--first
        %span.icon-thumbsup
        Like
      .toolbar__button.reply
        %a{href: '#'}
          %span.icon-ios7-chatbubble
          Reply
