.invitation-form
  .lmo-disabled-form{ng-show: 'isDisabled'}
  .modal-header
    %button{type: 'button', class: 'close', ng-click: '$close()'}
      %span{aria-hidden: 'true'} &times;
      %span.sr-only{translate: 'common.action.cancel'}
    %h1.lmo-h1.modal-title {{ 'invitation.invite_people' | translate }}
  .modal-body
    %label{translate: 'common.group', for: ' '}
    %select.form-control.invitation-form__group-dropdown{ng-model: 'group', ng-required: true, ng-options: 'group as group.fullName() for group in availableGroups()'}
    .lmo-wrap{ng-show: 'group.id'}
      %label{translate: 'invitation.instructions'}
      .invitation-form__invitables-input
        %input.form-control.invitation-form__invitable-input{type: 'text', ng-model: 'fragment', typeahead: 'invitable for invitable in getInvitables()', typeahead-template-url: 'generated/components/invitation_form/invitable_menu.html', typeahead-on-select: 'addInvitation($item)', typeahead-wait-ms: '300'}
        %loading.invitation-form__loading{ng-show: 'getInvitablesExecuting'}
      %form{name: 'emailValidation'}
        %input.hidden.form-control{type: 'email', ng-model: 'fragment'}

    .lmo-wrap{ng-show: 'hasInvitations()'}
      %label{translate: 'invitation.to'}
      .invitation-form__to{ng-repeat: 'invitation in invitations track by invitation.id'}
        %span {{invitation.name}}
        %span{ng-show: 'invitation.subtitle'} ({{invitation.subtitle}})

      %label{translate: 'invitation.invitation_message'}
      %textarea.form-control{ng-model: 'message'}

  .modal-footer
    %button.btn.btn-primary.invitation-form__submit{ng-click: 'submit()', ng-disabled: 'isDisabled', ng-show: 'hasInvitations()', translate: 'invitation.send_invite', translate-value-count: '{{invitationsCount()}}'}
    %button.btn.btn-warning{ng-click: '$close()', translate: 'common.action.cancel'}
