.invitation-form
  .modal-header
    %h3.pull-left {{ 'invitation.invite_people' | translate }}
    %a.close.pull-right{href: '', ng-click: '$close()'} ×
    .clearfix
  .modal-body
    %h4{translate: 'common.group'}
    %select.form-control.invitation-form__group-dropdown{ng-model: 'group', ng-required: true, ng-options: 'group as group.fullName() for group in availableGroups()'}
    .lmo-wrap{ng-show: 'group.id'}
      %h4{translate: 'invitation.instructions'}
      .invitation-form__invitables-input
        %input.form-control.invitation-form__invitable-input{type: 'text', ng-model: 'fragment', typeahead: 'invitable for invitable in getInvitables()', typeahead-template-url: 'generated/components/invitation_form/invitable_menu.html', typeahead-on-select: 'addInvitation($item)', typeahead-wait-ms: '300'}
        %loading.invitation-form__loading{ng-show: 'getInvitablesExecuting'}
      %form{name: 'emailValidation'}
        %input.hidden.form-control{type: 'email', ng-model: 'fragment'}

    .lmo-wrap{ng-show: 'hasInvitations()'}
      %h4{translate: 'invitation.to'}
      .current-invitations{ng-repeat: 'invitation in invitations'}
        %span {{invitation.name}}
        %span{ng-show: 'invitation.subtitle'} ({{invitation.subtitle}})

      %h4{translate: 'invitation.invitation_message'}
      %textarea.form-control{ng-model: 'message'}

  .modal-footer
    %button.btn.btn-primary.invitation-form__submit{ng-click: 'submit()', ng-disabled: 'isDisabled', ng-show: 'hasInvitations()', translate: 'invitation.send_invite', translate-value-count: '{{invitationsCount()}}'}
    %button.btn.btn-warning{ng-click: '$close()', translate: 'common.action.cancel'}
