.invitation-form
  .lmo-disabled-form{ng-show: 'isDisabled'}
  .modal-header
    %h1.lmo-h1.modal-title.pull-left {{ 'invitation.invite_people' | translate }}
    %a.close.pull-right{href: '', ng-click: '$close()'} ×
    .clearfix
  .modal-body
    %label{for: 'group-dropdown', translate: 'common.group'}
    %select.invitation-form__group-dropdown.form-control#group-dropdown{ng-model: 'group', ng-required: true, ng-options: 'group as group.fullName() for group in availableGroups()'}
    .lmo-wrap{ng-show: 'group.id'}
      %label{for: 'invitable-input', translate: 'invitation.instructions'}
      .invitation-form__invitables-input
        %input.invitation-form__invitable-input.form-control#invitable-input{type: 'text', ng-model: 'fragment', typeahead: 'invitable for invitable in getInvitables()', typeahead-template-url: 'generated/components/invitation_form/invitable_menu.html', typeahead-on-select: 'addInvitation($item)', typeahead-wait-ms: '300'}
        %loading.invitation-form__loading{ng-show: 'getInvitablesExecuting'}
      %form{name: 'emailValidation'}
        %input.hidden.form-control{type: 'email', ng-model: 'fragment'}

    .lmo-wrap{ng-show: 'hasInvitations()'}
      %strong{translate: 'invitation.to'}
      .invitation-form__current-invitations{ng-repeat: 'invitation in invitations track by invitation.id'}
        %span {{invitation.name}}
        %span{ng-show: 'invitation.subtitle'} ({{invitation.subtitle}})
      %button.invitation-form__add-message-button.lmo-btn-link{ng-show: 'messageFieldHidden', ng-click: 'showMessageField()', translate: 'invitation.add_custom_message'}
      .invitation-form__message-input{ng-show: '!messageFieldHidden'}
        %label{for: 'message_input', translate: 'invitation.invitation_message'}
        %textarea.form-control#message_input{ng-model: 'message'}

  .modal-footer
    %button.invitation-form__submit.btn.btn-primary{ng-click: 'submit()', ng-disabled: 'isDisabled', ng-show: 'hasInvitations()', translate: 'invitation.send_invite', translate-value-count: '{{invitationsCount()}}'}
    %button.btn.btn-warning{ng-click: '$close()', translate: 'common.action.cancel'}
