.closing-at-field__date {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0px 12px;
  margin-right: 5px;
}

.closing-at-field__time{
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.closing-at-field__zone {
  color: $grey-on-white;
}
