.start-group__success
  %h1 You're almost done! Check your email.
  %p We've sent an email to #{@email}. Please follow the link inside to setup your new group.

  %h3 Email has not arrived?
  %p Please allow upto five 5 minutes for the email to arrive and be sure to check your spam folder.

