.enable-angular
  %h1= t(:"start_group_form.enable_angular.header")
  %h2= t(:"start_group_form.enable_angular.subtitle")
  %form{action: '/enable_angular', method: 'post'}
    %button.btn.btn-primary.enable-angular-btn{type: 'submit'}= t(:"start_group_form.enable_angular.switch_to_angular")
  .helptext= t(:"start_group_form.enable_angular.helptext").html_safe
