.poll-dot-vote-vote-form__option{
  padding: 0 !important;
}

.poll-dot-vote-vote-form__input-container {
  width: 100%;
  @include displayFlex;
}

.poll-dot-vote-vote-form__number-input {
  margin-left: auto;
}
