.browser-warning
  %span{translate: "browser_warning.message", translate-value-name: "{{browser.name}}", translate-value-version: "{{browser.version}}", translate-value-site: "{{siteName}}"}>
  %a{href: "https://browser-update.org/update-browser.html", translate: "browser_warning.link"}
