.poll-common-stance-choice.poll-common-stance-choice--count
  %poll_common_stance_icon{stance_choice: "stanceChoice"}
  %span.poll-common-stance-choice__option-name{translate: "poll_count_options.{{stanceChoice.pollOption().name}}"}
