.memberships-panel__membership {
  margin: 12px 0;
  @media(max-width: $tiny-max-px) {
    &:not(:last-child) { border-bottom: 1px solid $border-color; }
  }
}

.memberships-panel__user {
  margin: 0 12px;
}
