%section
  .lmo-flex
    %h3.lmo-h3{translate: "poll_common_share_form.invite_visitor"}
    %help_bubble{helptext: "poll_common_share_form.invite_visitor_helptext"}

  %md-list.md-block
    %md-list-item.poll-common-share-form__emails{ng-if: "invitations().length", layout: "column"}
      .poll-common-share-form__visitor.lmo-flex{ng-repeat: "invitation in invitations() | orderBy: 'updatedAt'"}
        .poll-common-share-form__email.lmo-flex__grow {{invitation.recipientEmail}}
        %md-button.lmo-inline-action{ng-click: "remind(invitation)", ng-if: "!invitation.reminded && !invitation.processing"}
          %i.mdi.mdi-redo
        %loading{ng-if: "invitation.processing"}
        %span.poll-common-share-form__reminded{ng-if: "invitation.reminded", translate: "poll_common_share_form.reminded"}
        %md-button.lmo-inline-action{ng-if: "!poll.anyoneCanParticipate", ng-click: "revoke(invitation)"}
          %i.mdi.mdi-clear

    %md-list-item.poll-common-share-form__add-option{flex: "true", layout: "row"}
      %md-input-container.lmo-flex__grow{md-no-float: "true"}
        %input.poll-common-share-form__add-option-input{type: "text", ng-disabled: "newInvitation.processing", placeholder: "{{ 'poll_common_share_form.enter_email' | translate }}", ng-model: "newInvitation.recipientEmail"}
      %div
        %loading.lmo-inline-action{ng-if: "newInvitation.processing"}
        %md-button.md-primary.md-raised.poll-common-share-form__button.poll-common-share-form__option-button{ng-if: "!newInvitation.processing", ng-disabled: "!newInvitation.recipientEmail", ng-click: "submit()", aria-label: "{{ 'poll_common_share_form.add_email_placeholder' | translate }}"}
          %span{translate: "poll_common_share_form.send_email"}

    .lmo-validation-error {{ emailValidationError }}
