.poll-common-stance-choice.poll-common-stance-choice--meeting.lmo-flex--row.lmo-flex__center
  %poll_meeting_stance_icon.lmo-margin-right{score: "stanceChoice.score", show-no:"false"}
  %poll_meeting_time{name: "stanceChoice.pollOption().name"}
