.dropdown.group-page-privacy
  %a.btn.lmo-btn-nude.dropdown-toggle{href: '#'}
    .group-visibility-public{ng_show: 'group.visibleToPublic()'}
      .sr-only{translate: 'group_page.privacy.public'}
      .screen-only{aria-hidden:'true'}
        %i.fa.fa-lg.fa-globe>
        %span{translate: 'common.privacy.public'}
    .group-visibility-organization{ng_show: 'group.visibleToOrganization()'}
      .sr-only{translate: 'group_page.privacy.parent_members', translate-value-group-name: '{{group.name}}', translate-value-parent-group-name: '{{group.parentName()}}'}
      .screen-only{aria-hidden:'true'}
        %i.fa.fa-lg.fa-users
        %span{translate: 'common.privacy.organization'}
    .group-visibility-private{ng_show: 'group.visibleToMembers()'}
      .sr-only{translate: 'group_page.privacy.private'}
      .screen-only{aria-hidden:'true'}
        %i.fa.fa-lg.fa-lock>
        %span{translate: 'common.privacy.private'}
  .dropdown-menu.dropdown-menu-with-labels{role: 'menu', ng-class: '{disabled: !canEditGroup()}'}
    .dropdown-heading{translate: 'group_page.visibility_label', role: 'heading'}
    %form{novalidate: ''}
      %ul.dropdown-menu-items
        %li.dropdown-menu-item
          %label{for: 'visibleTo.members'}
            .dropdown-menu-item-label
              %i.fa.fa-lg.fa-lock{aria-hidden:'true'}>
              %input.sr-only{id: 'visibleTo.members', type: 'radio', ng-model: 'group.visibleTo', name: 'visibleTo', value: 'members', ng-change: 'savePrivacy()'}
              %span{translate: 'common.privacy.private'}
              %i.fa.fa-lg.fa-check{ng_show: 'group.visibleToMembers()'}
            .dropdown-menu-item-details
              %span{translate: 'group_page.privacy.private'}

        %li.dropdown-menu-item{ng_show: 'group.parentId'}
          %label{for: 'visibleTo.organization'}
            .dropdown-menu-item-label
              %i.fa.fa-lg.fa-users{aria-hidden:'true'}>
              %input.sr-only{id: 'visible_to.parent_members', type: 'radio', ng-model: 'group.visibleTo', name: 'visibleTo', value: 'parent_members', ng-change: 'savePrivacy()'}
              %span{translate: 'common.privacy.organization'}
              %i.fa.fa-lg.fa-check{ng_show: 'group.visibleToOrganization()'}
            .dropdown-menu-item-details
              %span{translate: 'group_page.privacy.parent_members', translate-value-group-name: '{{group.name}}', translate-value-parent-group-name: '{{group.parentName()}}'}

        %li.dropdown-menu-item.last
          %label{for: 'visibleTo.public'}
            .dropdown-menu-item-label
              %i.fa.fa-lg.fa-globe{aria-hidden:'true'}>
              %input.sr-only{id: 'visibleTo.public', type: 'radio', ng-model: 'group.visibleTo', name: 'visibleTo', value: 'public', ng-change: 'savePrivacy()'}
              %span{translate: 'common.privacy.public'}
              %i.fa.fa-lg.fa-check{ng_show: 'group.visibleToPublic()'}
            .dropdown-menu-item-details
              %span{translate: 'group_page.privacy.public'}
