.beta-banner
  .beta-banner__new-loomio
    = t :'beta_banner.new_loomio_html'
  = link_to angular_on_path, class: 'btn btn-default', method: :post do
    %strong.beta_banner__switch-over-text= t(:"beta_banner.button_text")
    .beta-banner__agree-icon
