#closed-motions.modal.hidden
  .modal-header
    %button.close ×
    %h2 Previous decisions
  .modal-body
    #closed-motions-page.hidden	
      - if @group
        %div{ class: "group_#{@group.id}" }
