- if show_contribution_icon?
  %li.nav-item#contribute
    %a.nav-link.enable-tooltip{:href => contributions_path(plan: "pwyc"), title: t(:'contribution.tooltip')}
      %span.header-bar-icon.nav-item-icon.large-icon.heart-icon
        ❤
