= t :'common.filter'
%a.btn.btn-small{href: toggle_unread_path, class: unread_toggle_class}
  = t :'common.unread'
%a.btn.btn-small{href: toggle_followed_path, class: followed_toggle_class}
  = t :'common.following'
