- flash.each do |type, message|
  %div.alert-message{ "data-alert" => "alert", :class => "alert alert-#{twitterized_type(type)}" }
    <a class="close" data-dismiss="alert" href="#">×</a>
    = message

/ - if !user_signed_in? && !on_landing_page && controller_name != "invitations" && controller_name != "users"
- if !user_signed_in? && (controller_name == "discussions" || controller_name == "groups")
  %div.alert-message{ "data-alert" => "alert", :class => "alert alert-warning" }
    = link_to "Sign in", new_user_session_path, style: "color: #C09853; font-weight: bold; text-decoration: underline;"
    to participate.
    You are currently logged out.

-#
-# SYSTEM MESSAGE
-#

- if current_user && (not current_user.has_read_system_notice?)
  .help-notice.alert-message{ "data-alert" => "alert", :class => "alert alert-danger" }
    = link_to "×", dismiss_system_notice_for_user_path,
      :class => "close dismiss-help-notice", "data-dismiss" => "alert"
    %p
      Hey there, <strong>Loomio is going to shut down temporarily</strong> for some upgrades. We'll be shutting the site down at approximately 1:30pm NZDT (UTC +13). The process should take less than half an hour, so we hope to be back up by 2:00pm NZDT.
    %p
      Thanks for your patience! Hope it's going well out there...
