/ - if show_loomio_org_marketing
%footer.footer
  .col-sm-5
    - unless current_user
      %select#select-locale
        = options_for_select linked_language_options, selected_language_option

    = link_to t(:translate, default: "help translate Loomio!"), 'https://www.loomio.org/d/hB1Oijwv/overview-of-the-translation-process-for-translators'

  .col-sm-7.footer-links
    = render "footer_links", target: 'blank'
/ - else
/   %footer.footer
/     .col-xs-12
/       = t :"footer.independent_install_html", hostname: ENV['CANONICAL_HOST'] || request.host
