%script
  dataLayer = [#{analytics_data_tag.to_json.html_safe}]
-account_id = ENV['TAG_MANAGER_ID']
/ Google Tag Manager
%noscript
  %iframe{height: "0", src: "//www.googletagmanager.com/ns.html?id=#{account_id}", style: "display:none;visibility:hidden", width: "0"}
:javascript
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer', "#{account_id}");
/ End Google Tag Manager
