%li.nav-item.dropdown.left-side#groups
  %a.nav-link{href: "#",  class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
    %i.fa.fa-group
    %span= t :groups
  %ul.dropdown-menu
    #group-dropdown-items
    %li.group-item.group-links
      =link_to t(:request_new_group), new_group_path, class: 'new-group'
      =link_to 'Find a group', public_groups_path, class: 'find-group'
