%li.nav-item.dropdown.left-side#groups
  %a.nav-link{href: "#",  class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
    %i.fa.fa-group
    %span= t :groups
  %ul.dropdown-menu
    #group-dropdown-items
    %li.group-item.new-group
      =link_to t(:request_new_group), new_group_path
