- member_group_ids = current_user.group_ids
- GroupsTree.for_user(current_user).each do |group|
  - li_class = "group-item"
  - orphan_group = group.is_subgroup? && (!member_group_ids.include? group.parent_id )
  - li_class += " sub-group" if group.is_subgroup? and member_group_ids.include? group.parent_id
  %li{class: li_class}
    %a.selector-link{ href: group_path(group) }
      .group-link.clearfix
        .group-link-name
          - if orphan_group
            -name = group.full_name
          -else
            -name = group.name
          = name
