%li.nav-item.dropdown#groups
  %a.nav-link{href: "#",  class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
    %span.header-bar-icon.nav-item-icon.large-icon.group-icon
    %span= t :groups
    %b.caret
  %ul.dropdown-menu
    #group-dropdown-items
      = render '/application/groups_tree'
    %li.group-item.new-group
      =link_to t(:request_new_group), request_new_group_path
