- if params[:id] == 'home'
  - scroll_trigger = "scroll-nav"

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{href: "/#top", class: scroll_trigger}
        =image_tag("top-bar-loomio.png")
      .nav-collapse
        %ul.nav
          %li
            %a{href: "/#why", class: scroll_trigger} Why
          %li
            %a{href: "/#how", class: scroll_trigger} How
          %li
            %a{href: "/#who", class: scroll_trigger} Who
        %ul.nav.pull-right
          %li
            %a{href: user_session_path} Sign In

.container#top
  .section#first
    .inner-container
      .row-fluid
        .span3 &nbsp;
        .span6
          =link_to image_tag("logo-426px-mauve-matte.png"), "/"
          %h2 collaborative decision-making
