.topbar-wrapper
  .topbar{:data => {:scrollspy =>'scrollspy', :dropdown =>'dropdown'}}
    .topbar-inner
      .container
        =link_to 'Loom.io', "/", :class => 'brand'
        -#%ul.nav
          -#%li= link_to "Groups", groups_path
        %ul.nav.secondary-nav
          -if @user = current_user
            %li.dropdown
              =link_to @user.name ? @user.name : @user.email, "#", :class => 'dropdown-toggle'
              %ul.dropdown-menu
                %li=link_to "Settings", user_settings_path
                %li.divider
                %li=link_to('Sign out', destroy_user_session_path, method: :delete)
          - else
            = link_to('Sign in', new_user_session_path)
