.help-notice.alert-message{ "data-alert" => "alert", :class => "alert alert-info" }
  = link_to "×", path,
    :class => "close dismiss-help-notice", "data-dismiss" => "alert"
  = simple_format message
  = link_to "Click here to dismiss this message", path,
    :class => "dismiss-help-notice", "data-dismiss" => "alert"
