%li.nav-item#inbox-container
  %a.nav-link{href: inbox_path}
    %span.header-bar-icon.nav-item-icon.large-icon.inbox-icon
    / %span#notifications-count.label.label-important


/ %li.nav-item.dropdown#notifications-container
/   %a#notifications-toggle.dropdown-toggle.nav-link{'data-toggle' => 'dropdown', :href => '#'}
/     %span.header-bar-icon.nav-item-icon.large-icon.notification-icon
/     %span#notifications-count.label.label-important