%ul.loomio-process-flow.clearfix
  %li.process-flow-item#start
    .process-flow-icon
    %h1= "start..."
  %li.process-flow-arrow
  %li.process-flow-item#enguage
    .process-flow-icon
    %h1= "engage"
  %li.process-flow-arrow
  %li.process-flow-item#decide
    .process-flow-icon
    %h1= "decide"
  %li.process-flow-arrow
  %li.process-flow-item#act
    .process-flow-icon
    %h1= "act"
