.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{href: '/'}
        =image_tag("top-bar-loomio.png")
      .nav-collapse
        %ul.nav
          %li
            %a{href: purpose_path} Purpose
          %li
            %a{href: how_it_works_path} How it Works
          %li
            %a{href: about_us_path} About Us
        %ul.nav.pull-right
          %li
            %a{href: user_session_path} Sign In
