%li.nav-item.dropdown.left-side#notifications-container
  %a#notifications-toggle.dropdown-toggle.nav-link{'data-toggle' => 'dropdown', :href => '#'}
    %i.fa.fa-bell
    %span#notifications-count.label.activity-count
  %ul.dropdown-menu
    %li
      %h3= t("notifications.header")
    %li#notification-dropdown-items
      %ul
        %li Loading
    %li#notifications-see-more= link_to t(:see_all_notifications), notifications_path
