%li.nav-item.dropdown.left-side#notifications-container
  %a#notifications-toggle.dropdown-toggle.nav-link{'data-toggle' => 'dropdown', :href => '#'}
    %i.fa.fa-bell
    %span#notifications-count.label.activity-count
  %ul.dropdown-menu
    %li
      %h3= t("notifications.header")
    %li#notification-dropdown-items
      %ul
        %li Loading
    %li#notifications-see-more= link_to t(:see_all_notifications), notifications_path

/ %li.nav-item.dropdown#help
/   %a.nav-link{href: "#", class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
/     %i.icon-star.icon-white
/     %span= t :"help.help"
/   %ul.dropdown-menu
/     %li= link_to t(:"help.how_it_works"), help_path(anchor: 'how-it-works'), target: "help"
/     %li= link_to t(:"help.getting_the_most"), help_path(anchor: 'getting-the-most-out-of-Loomio'), target: "help"
/     %li= link_to t(:"help.coordinating"), help_path(anchor: 'coordinating-your-Loomio-group'), target: "help"
/     %li= link_to t(:"help.get_in_touch"), help_path(anchor: 'get-in-touch'), target: "help"
/     %li= link_to t(:"help.join_the_community"), help_path(anchor: 'join-the-community'), target: "help"
