%li.nav-item#search
  =simple_form_for @search_form, url: search_path, method: :get, id: 'search-form' do |f|
    .input-prepend
      .add-on
        %i.icon-search
      = f.input :query, label: false, placeholder: "search", input_html: { class: 'input-medium' }
