= hidden_field_tag 'segment_data', segmentio_data.to_json, {id: 'segmentio'}

:javascript
  var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
  analytics.load("#{ENV['SEGMENTIO_LOAD_KEY']}");

  seg = $.parseJSON($('#segmentio').val());
  var href = window.location.href.split('\/').splice(3).join('\/');
  seg.page = (href === '') ? 'home' : href;
  analytics.identify(seg.user_id, seg);

/ analytics.trackLink($('a'), 'Clicked link', function (link) {
/   seg['link_class'] = $(link).prop('class')
/   seg['link_id'] = $(link).prop('id')
/   return seg
/ })

/ analytics.trackForm($('form'), 'Submitted form', function (form) {
/   seg['form_class'] = $(form).prop('class')
/   seg['form_id'] = $(form).prop('id')
/   return seg
/ })
