%meta{ property: 'og:title', content: "Loomio"}
%meta{ property: 'og:description', content: "Creating a world where it’s easy for anyone to participate in decisions that affect them." }
%meta{ property: 'og:type', content: 'website' }

= render 'social_metadata_details'
