- title ||= "Loomio"
- description ||= t(:tag_line)
%meta{'name' => 'description', :content => description}
%meta{ property: 'og:title', content: title }
%meta{ property: 'og:description', content: description }
%meta{ property: 'og:type', content: 'website' }

%meta{ property: 'og:image', content: root_url[0..-2]+image_path('FacebookTimeLineImage-01.png') }
%meta{ property: 'og:image:type', content: 'image/png' }
%meta{ property: 'og:image:width', content: '800' }
%meta{ property: 'og:image:height', content: '800' }

%meta{property:'fb:app_id', content:ENV['FB_APP_ID_META']}
