%h3
  detected_locale: #{detected_locale}
  selected_locale: #{selected_locale}
  javascript_locale:
  %span#js-lang

-#:javascript
  -#function js_locale() {
    -#var locale = navigator.language || navigator.userLanguage || 'en';
    -#return locale.split('-')[0];
  -#}

  -#function offer_alternative_locale() {
    -#var locale_selected = #{locale_selected?.inspect}
    -#return js_locale() != 'en'
  -#}

  -#if(offer_alternative_locale()) {
    -#document.getElementById('js-lang').innerHTML = lang
    
  -#}

