.container
  %section.first
    .inner-container
      .row-fluid
        .span2 &nbsp;
        .span8
          %h2.buffer TERMS OF SERVICE EXAMPLE TEXT
          %p With the right collaborative process, groups generate better ideas, decisions and actions than any individual would by themselves.
          %p Loomio breaks down the barriers to participation in decision-making at every level: in neighbourhoods, community organisations, businesses, social movements, and local and national governance.
          %p.no-bottom-margin Collaborative decision-making balances individual autonomy with the collective good.
