- if is_old_browser?
  .upgrade-browser{style: "padding: 8px 0; background-color: red; height: 32px; position:relative; z-index:999999999; text-align: center; color: #fff; font-family: sans-serif; font-weight: bold"}= raw t(:'errors.upgrade_browser')
