%li
  %a{href: profile_path}
    %i.fa.fa-cog
    = t :'common.profile'
%li
  %a{href: email_preferences_path}
    %i.fa.fa-envelope
    = t :'common.email_settings'
%li
  %a{href: help_path}
    %i.fa.fa-star
    = t :"help.help"

%li
  %a{href: destroy_user_session_path, 'data-method' => 'delete'}
    %i.fa.fa-sign-out
    = t :sign_out
