%li.nav-item.dropdown#user
  %a.nav-link{href: "#", class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
    = render 'base/avatar', user: current_user, size: "small", id: 'header-user-image'
    %span#user-name-dropdown
      = current_user.name
    %b.caret
  %ul.dropdown-menu
    %li
      %a{href: user_settings_path}
        %i.fa.fa-cog
        / = t(:user_settings)
        Profile
    %li
      %a{href: email_preferences_path}
        %i.fa.fa-envelope
        / = t(:email_preferences)
        Email settings
    %li
      %a{href: help_path}
        %i.fa.fa-star
        %span= t :"help.help"
    %li
      %a{href: destroy_user_session_path, method: :delete}
        %i.fa.fa-sign-out
        = t(:sign_out)
