%li.dropdown#user
  %a{href: "#", class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
    = render 'base/avatar', user: current_user, size: "small", id: 'header-user-image'
    -#%span#user-name-dropdown
      -#= current_user.name
    %b.caret
  %ul.dropdown-menu
    = render 'application/user_profile_options'
