%h1 Yikes! You're on a very old web browser!

%h2 Unfortunately loomio won't work on your browser. However, it's possible to fix this problem!

%h3
  %a{href: "http://browser-update.org/update-browser.html"}
    Update your browser

=image_tag 'mascot.gif'
