%md-dialog.change-password-form.lmo-modal__narrow
  .lmo-disabled-form{ng-show: "processing"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %div
      %h1.lmo-h1{ng-if: "user.hasPassword", translate: "change_password_form.change_password_title"}
      %h1.lmo-h1{ng-if: "!user.hasPassword", translate: "change_password_form.set_password_title"}
      %dismiss_modal_button

  .md-dialog-content
    %p.lmo-hint-text{ng-if: "user.hasPassword", translate: "change_password_form.change_password_helptext"}
    %p.lmo-hint-text{ng-if: "!user.hasPassword", translate: "change_password_form.set_password_helptext"}

    %md-input-container.md-block.change-password-form__password-container
      %label{translate: "sign_up_form.password_label"}
      %input.change-password-form__password{required: "true", type: "password", ng-model: "user.password"}
      %validation_errors{subject: "user", field: "password"}

    %md-input-container.md-block.change-password-form__password-confirmation-container
      %label{translate: "sign_up_form.password_confirmation_label"}
      %input.change-password-form__password-confirmation{required: "true", type: "password", ng-model: "user.passwordConfirmation"}
      %validation_errors{subject: "user", field: "passwordConfirmation"}

    .lmo-md-actions
      %md-button.md-accent{ng-click: "$close()", translate: "common.action.cancel"}
      %md-button.md-primary.md-raised.change-password-form__submit{ng-click: "submit()"}
        %span{ng-if: "user.hasPassword", translate: "change_password_form.change_password"}
        %span{ng-if: "!user.hasPassword", translate: "change_password_form.set_password"}
