.poll-dot-vote-form
  %poll_common_tool_tip{poll: "poll"}

  %md-input-container.md-block
    %label{translate: "poll_common_form.title"}
    %input.lmo-primary-form-input.poll-dot-vote-form__title{type: "text", placeholder: "{{translations.titlePlaceholder}}", ng-model: "poll.title", md-maxlength="250"}
    %validation_errors{subject: "poll", field: "title"}

  %md-input-container.md-block
    %label{translate: "poll_common_form.details"}
    %textarea.lmo-primary-form-input.poll-dot-vote-form__details{ng-model: "poll.details", placeholder: "{{translations.detailsPlaceholder}}", mention-field: "true"}
    %outlet{name: "after-poll-form-textarea", model: "poll"}

  .md-input-compensate
    %poll_common_attachment_form{poll: "poll"}

  %poll_common_form_options{poll: "poll"}

  .md-input-compensate
    %poll_common_closing_at_field.md-block{poll: "poll"}

  .md-input-compensate
    %md-input-container
      %label{translate: "poll_dot_vote_form.dots_per_person"}
      %input{type: "number", min: "0", ng-model: "poll.customFields.dots_per_person"}
      %validation_errors{subject: "poll", field: "dotsPerPerson"}

  .md-input-compensate
    %poll_common_notify_group{model: "poll"}

  %poll_common_form_actions{poll: "poll", submit: "submit", back: "back"}
