.poll-dot-vote-form__poll-option-names {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.poll-dot-vote-form__add-option {
  align-items: flex-start;
}

.poll-dot-vote-form__add-option-field {
  width: 100%;
}
