.announcement-form

  %div{ng-if: "invitingToGroup && !canInvite"}
    .announcement-form__invite.md-body-1
      %p{ng-if: "invitationsRemaining < 1", translate: "announcement.form.no_invitations_remaining", translate-values: "{upgradeUrl: upgradeUrl, maxMembers: maxMembers}"}
      %p{ng-if: "!subscriptionActive", translate: "discussion.subscription_canceled", translate-values: "{upgradeUrl: upgradeUrl}"}

  %div{ng-if: "!invitingToGroup || canInvite"}
    .announcement-form__invite
      %p.announcement-form__help.md-subhead{translate: "announcement.form.{{announcement.kind}}.helptext"}>
      %md-list
        %md-list-item.announcement-form__audience.md-whiteframe-1dp{ng-repeat: "audience in audiences()", ng-click: "loadAudience(audience)"}
          %i.mdi.mdi-18px.mdi-account-multiple.lmo-margin-right--small
          %span.md-body-1{translate: "announcement.audiences.{{audience}}", translate-values: "audienceValues()"}

        %md-autocomplete{md-search-text: "vars.query", md-autoselect: "true", md-selected-item: "vars.selected", md-autofocus: "true", md-selected-item-change: "addRecipient(recipient)", md-item-text: "recipient.email", placeholder: "{{'announcement.form.placeholder' | translate}}", md-items: "recipient in search(vars.query)", md-min-length: "3", md-delay: "150"}
          %md-item-template
            %announcement_chip{user: "recipient"}

      %div.lmo-flex.lmo-flex__space-between{ng-if: "showInvitationsRemaining"}
        %div.spacer
        %p.md-caption{translate: "announcement.form.invitations_remaining", translate-values: "{count: invitationsRemaining, upgradeUrl: upgradeUrl }"}

      %md-list.announcement-form__invited
        %div.md-subhead.announcement-form__num-notified{ng-switch: "announcement.recipients.length"}
          %p.lmo-text-right{ng-switch-when: "0", translate: "announcement.form.notified_empty"}
          %p.lmo-text-right{ng-switch-when: "1", translate: "announcement.form.notified_singular"}
          %p.lmo-text-right{ng-switch-default: "true", translate: "announcement.form.notified", translate-value-notified: "{{announcement.recipients.length}}"}
        %md-list-item.announcement-form__list-item{ng-repeat: "recipient in announcement.recipients track by recipient.emailHash"}
          %announcement_chip{user: "recipient", show-close: "true"}

    .announcement-form__share-link{ng-if: "!announcement.model.isA('discussion') && announcement.recipients.length == 0"}
      %p.announcement-form__help.md-subhead{ng-if: "announcement.model.isA('group')", translate: "invitation_form.shareable_link"}>
      .announcement-shareable-link__content.lmo-flex--column
        .lmo-flex--row.lmo-flex__center{ng-if: "canUpdateAnyoneCanParticipate() || announcement.model.anyoneCanParticipate"}
          %md-checkbox.announcement-form__checkbox{ng-model: "announcement.model.anyoneCanParticipate", ng-change: "announcement.model.save()", ng-if: "canUpdateAnyoneCanParticipate()"}
            %label{translate: "announcement.form.anyone_can_participate"}
        .lmo-flex--row.lmo-flex__center{ng-if: "announcement.model.anyoneCanParticipate || announcement.model.isA('group')"}
          %md-input-container.lmo-flex__grow.md-no-errors.announcement-form__shareable-link
            %input{value: "{{shareableLink}}", disabled: "true"}
          %md-button.md-accent.md-button--tiny.announcement-form__copy{title: "{{ 'common.copy' | translate }}", clipboard: "true", text: "shareableLink", on-copied: "copied()"}
            %span{translate: "common.copy"}
          %md-button.md-accent.md-button--tiny.announcement-form__reset{ng-click: "resetSharableLink()"}
            %span{translate: "common.reset"}
      %p.md-caption{translate: "invitation_form.shareable_link_explanation"}>

  %md-dialog-actions{ng-if: "canInvite"}
    .lmo-md-actions
      %div{ng-if: "announcement.recipients.length"}
        %p.md-subhead{ng-show: "invitingToGroup && tooManyInvitations()", translate: "announcement.form.too_many_invitations", translate-values: "{upgradeUrl: upgradeUrl}"}
      %md-button.md-accent.announcement-form__cancel{ng-if: "!announcement.recipients.length", ng-click: "$emit('$close')", translate: "common.action.close"}
      %md-button.md-primary.md-raised.announcement-form__submit{ng-disabled: "!announcement.recipients.length || (invitingToGroup && tooManyInvitations())", ng-click: "submit()", translate: "common.action.send"}
