.announcement-form
  %p.announcement-form__help.lmo-hint-text{translate: "announcement.form.{{announcement.modelName()}}_helptext"}>

  %p.lmo-hint-text{ng-if: "relevantDiscussion()"}
    %span{translate: "announcement.form.relevant_discussion_helptext", translate-value-title: "{{relevantDiscussion().title}}"}>
    %a.lmo-pointer{ng-click: "inviteToDiscussion()", translate: "announcement.form.invite_to_discussion"}>

  %md-chips.announcement-form__chips{ng-model: "announcement.notified", md-require-match: "true", md-transform-chip: "acceptChip($chip)"}
    %md-autocomplete{md-items: "$chip in search(query)", md-no-cache: "true", md-search-text: "query", placeholder: "{{'announcement.form.placeholder' | translate}}", md-min-length: "3", md-delay: "300"}
      %md-item-template
        %announcement_chip{chip: "$chip"}
    %md-chip-template
      %announcement_chip{chip: "$chip", ng-if: "$chip.type != 'FormalGroup'"}
      %md-menu.lmo-pointer{ng-if: "$chip.type == 'FormalGroup'"}
        %announcement_chip{md-menu-origin: "true", ng-click: "$mdMenu.open($event)", chip: "$chip"}
        %md-menu-content.announcement-form__menu-content
          %announcement_group_form{notified: "$chip"}
  .lmo-md-action
    %p.md-caption{ng-if: "announcement.totalInvited() > 0", translate: "announcement.form.invited_and_notified", translate-value-notified: "{{announcement.totalNotified()}}", translate-value-invited: "{{announcement.totalInvited()}}"}
    %p.md-caption{ng-if: "announcement.totalInvited() == 0", translate: "announcement.form.notified", translate-value-notified: "{{announcement.totalNotified()}}"}

  %announcement_member_list{ng-if: "announcement.expanded", model: "announcement.model()"}
