.announcement-form
  %p.announcement-form__help.md-subhead{translate: "announcement.form.{{announcement.modelName()}}_helptext"}>
  %md-list
    %md-list-item.announcement-form__audience.md-whiteframe-1dp{ng-repeat: "audience in announcement.model.audiences", ng-click: "loadAudience(audience)"}
      %i.mdi.mdi-24px.mdi-account-multiple
      %span.md-body-1{translate: "announcement.audiences.{{audience}}", translate-values: "announcement.model.audienceValues()"}

    %md-autocomplete{md-search-text: "query", md-autoselect: "true", md-autofocus: "true", md-selected-item-change: "addRecipient(recipient)", md-item-text: "recipient.email", placeholder: "{{'announcement.form.placeholder' | translate}}", md-items: "recipient in search(query)", md-min-length: "3", md-delay: "300"}
      %md-item-template
        %announcement_chip{user: "recipient"}


  %md-list
    %md-divider{ng-if: "announcement.recipients.length"}
    %div.md-subhead.announcement-form__num-notified{ng-switch: "announcement.recipients.length"}
      %p{ng-switch-when: "0"}
      %p.lmo-text-right{ng-switch-when: "1", translate: "announcement.form.notified_singular"}
      %p.lmo-text-right{ng-switch-default: "true", translate: "announcement.form.notified", translate-value-notified: "{{announcement.recipients.length}}"}
    %md-list-item.announcement-form__list-item{ng-repeat: "recipient in announcement.recipients track by recipient.emailHash"}
      %announcement_chip{user: "recipient", show-close: "true"}
