$chip-height: 40px;

.announcement-form {
  .md-chip-input-container, md-chip { float: none; }
}

.announcement-form__list-item {
  padding: 0 !important;
}

.announcement-form__label {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.38) !important;
}
