.announcement-form
  %p.announcement-form__help.lmo-hint-text{translate: "announcement.form.{{announcement.modelName()}}_helptext"}>

  %md-autocomplete{md-search-text: "query", md-autoselect: "true", md-autofocus: "true", md-selected-item-change: "addRecipient(recipient)", md-item-text: "recipient.email", placeholder: "enter names or email addresses...", md-items: "recipient in search(query)", md-min-length: "3", md-delay: "300"}
    %md-item-template
      %announcement_chip{user: "recipient"}

  %md-list
    %md-list-item.announcement-form__list-item{ng-repeat: "recipient in announcement.recipients | orderBy:'name' track by recipient.name"}
      %announcement_chip{user: "recipient", show-close: "true"}
