$chip-height: 40px;

.announcement-form {
  .md-chip-input-container, md-chip { float: none; }
}

.announcement-form__list-item {
  padding: 0 !important;
}

.announcement-form__copy {
  margin-bottom: 8px;
}

.announcement-form__invited {
  padding: 0;
}

.announcement-form__shareable-link {
  margin: 8px 0;
}

.announcement-form__help {
  margin: 8px 0;
}

.announcement-form__audience {
  height: 42px;
  min-height: 42px;
  margin-bottom: 8px;
  color: $primary-text-color;
}
.announcement-form__audience i {
  margin-right: 8px;
  opacity: 0.8;
}

.announcement-form__label {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.38) !important;
}
