.poll-closing-at-field
  %md-input-container
    %label{translate: "poll_proposal_form.closing"}
    %md-datepicker{ng-model: "closingDate", ng-min-date: "dateToday", md-hide-icons: "calendar"}>
  %md-input-container
    %md-select{ng-model: "closingHour"}
      %md-option{ng-repeat: "hour in hours", ng-value: "hour", ng-selected: "hour == closingHour"}
        {{ times[hour] }}
    %span.closing-at-field__zone
      {{ timeZone }}
