%a.selector-list-item-link{ng-href: '{{event.link()}}'}
  .media-left
    .thread-item-proposal-icon
  .media-body
    %span{translate: 'notifications.motion_closing_soon', translate-value-proposal: '{{event.proposal().name}}' }
