.poll-common-start-poll{ng-switch: "currentStep"}
  %poll_common_choose_type.animated{ng-switch-when: "choose", poll: "poll"}
  %poll_common_directive.animated{ng-switch-when: "save", poll: "poll", name: "form"}
  %poll_common_share_form.animated{ng-switch-when: "announce", poll: "poll"}
