.auth-signin-form
  %auth_avatar{user: "user"}
  %md-input-container.md-block.auth-signin-form__magic-link
    %h2.lmo-h2.align-center{ng-if: "user.name", translate: "auth_form.welcome_back", translate-value-name: "{{user.firstName()}}"}
    %h2.lmo-h2.align-center{ng-if: "!user.name", translate: "auth_form.welcome"}
    %p.lmo-hint-text{ng-if: "!user.name", translate: "auth_form.sign_up_helptext_with_token"}

  %md-input-container.md-block.auth-signup-form__name{ng-if: "!user.name"}
    %label{translate: "auth_form.name"}
    %input.lmo-primary-form-input{type: "text", md-autofocus: "true", placeholder: "{{auth_form.name_placeholder | translate}}", ng-model: "vars.name", ng-required: "true"}
    %validation_errors{subject: "user", field: "name"}

  .auth-signin-form__token.align-center{ng-if: "user.hasToken"}
    %validation_errors{subject: "user", field: "token"}
    %md-button.md-primary.md-raised.auth-signin-form__submit{ng-click: "submit()", ng-disabled: "!vars.name && !user.name", ng-if: "!user.errors.token"}
      %span{ng-if: "user.name", translate: "auth_form.sign_in_as", translate-value-name: "{{user.name}}"}
      %span{ng-if: "!user.name", translate: "auth_form.sign_in"}
    %md-button.md-primary.md-raised.auth-signin-form__submit{ng-click: "sendLoginLink()", ng-if: "user.errors.token"}
      %span{translate: "auth_form.login_link"}
    %p.md-caption{ng-if: "user.name"}
      %span{translate: "auth_form.set_password_helptext"}>
      %a.lmo-pointer{ng-click: "signInAndSetPassword()", translate: "auth_form.set_password_link"}

  .auth-signin-form__no-token{ng-if: "!user.hasToken"}
    %p.lmo-hint-text
      %span{translate: "auth_form.login_link_helptext", ng-if: "!user.hasPassword"}>
      %span{translate: "auth_form.login_link_helptext_with_password", ng-if: "user.hasPassword"}>

    .auth-signin-form__password{ng-if: "user.hasPassword"}
      %md-input-container.md-block
        %label{translate: "auth_form.password"}
        %input.lmo-primary-form-input#password{name: "password", type: "password", md-autofocus: "true", ng-required: true, ng-model: "user.password"}
        %validation_errors{subject: "user", field: "password"}

      .lmo-md-actions
        %md-button.auth-signin-form__login-link{ng-click: "sendLoginLink()", ng-class: "{'md-primary': !user.password}"}
          %span{translate: "auth_form.login_link"}
        %md-button.md-primary.md-raised.auth-signin-form__submit{ng-click: "submit()", ng-disabled: "!user.password", ng-if: "user.hasPassword"}
          %span{translate: "auth_form.sign_in"}

    .auth-signin-form__no-password{ng-if: "!user.hasPassword"}
      .lmo-md-actions
        %div
        %md-button.md-primary.md-raised.auth-signin-form__submit{ng-click: "sendLoginLink()"}
          %span{translate: "auth_form.login_link"}
