%md-dialog.leave-group-form
  %form{ng-submit: "submit()"}
    .lmo-disabled-form{ng-show: "isDisabled"}
    %md-toolbar
      .md-toolbar-tools.lmo-flex__space-between
        %h1.lmo-h1{translate: "leave_group_form.title"}
        %material_modal_header_cancel_button
    .md-dialog-content
      %p{ng-if: "canLeaveGroup()", translate: "leave_group_form.question"}
      %p{ng-if: "!canLeaveGroup()", translate: "leave_group_form.cannot_leave_group"}
      .lmo-md-actions
        %md-button{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
        %md-button.md-primary.md-raised.leave-group-form__submit{ng-if: "canLeaveGroup()", type: "submit"}
          %span{translate: "leave_group_form.submit"}
