=semantic_form_for(*form_args) do |f| #(form_object, form_path) #@vote, url: votes_path(motion_id: @vote.motion.id)) do |f|
  =f.input :position, as: :select, collection: Vote::POSITIONS
  =f.buttons
