= form_for [motion, vote] do |f|
  %h5.padding
    Position
    .left-format= f.select :position, Vote::POSITIONS
    Statement
    .left-format= f.text_field :statement
  .standard-button= f.submit "Update vote", class: "btn primary"
