.group-title
  %h1= link_to @motion.name, discussion_path(@motion.discussion)
.row#vote-form
  .span5
    = render 'form', motion: @motion, vote: @vote, form_title: t("vote_form.header")
  - if @motion.description.present?
    .span5.offset1
      %h3= t :proposal
      = simple_format @motion.description
