%form{ng-submit: "submit()"}
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "poll_common_close_form.close_{{poll.pollType}}"}
      %material_modal_header_cancel_button

  %md-dialog-content
    .md-dialog-content
      %span{translate: "poll_common_close_form.helptext"}

  %md-dialog-actions
    %md-button.md-primary.poll-common-close-form__submit{ng-click: "submit()", translate: "poll_common_close_form.close_{{poll.pollType}}"}
