%form{ng-submit: "submit()"}
  .lmo-disabled-form{ng-show: "isDisabled"}
  .modal-header.poll-common-modal-header
    %h1.lmo-h1{translate: "poll_common_close_form.close_{{poll.pollType}}"}
    %modal_header_cancel_button

  .modal-body
    %span{translate: "poll_common_close_form.helptext"}

  .modal-footer
    %md-button.md-primary.md-raised{ng-click: "submit()", translate: "poll_common_close_form.close_{{poll.pollType}}"}
