%form{ng-submit: "submit()"}
  .lmo-disabled-form{ng-show: "isDisabled"}
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1{translate: "sign_in_form.title"}

  .modal-body
    .sign-in-form__email
      %label{for: "email", translate: "sign_in_form.email"}
      %input.form-control#user-email{placeholder: "{{ 'sign_in_form.email_placeholder' | translate }}", ng-required: true, ng-model: "session.email"}
      %validation_errors{subject: "user", field: "email"}

    .sign-in-form__password
      %label{for: "password", translate: "sign_in_form.password"}
      %input.form-control#user-password{type: "password", ng-required: true, ng-model: "session.password"}

  .modal-footer
    %button.lmo-btn--cancel{ng-click: "$close()", type: "button", translate: "common.action.cancel"}
    %button.lmo-btn--submit.group-form__submit-button{type: "submit", translate: "sign_in_form.sign_in"}
