%md-dialog.poll-common-modal
  .lmo-disabled-form{ng-show: "isDisabled"}

  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %modal_header_cancel_button{ng-if: "!preventClose", aria-hidden: "true"}
      %h1.lmo-h1{translate: "sign_in_form.title"}

  %md-dialog-content
    %form.md-dialog-content{ng-submit: "submit()"}
      %validation_errors{subject: "session", field: "password"}
      .sign-in-form__email
        %label{for: "email", translate: "sign_in_form.email_label"}
        %input.form-control#user-email{placeholder: "{{ 'sign_in_form.email_placeholder' | translate }}", ng-required: true, ng-model: "session.email"}

      .sign-in-form__password
        %label{for: "password", translate: "sign_in_form.password_label"}
        %input.form-control#user-password{type: "password", ng-required: true, ng-model: "session.password"}

      .lmo-flex.lmo-flex__space-between
        .sign-in-form__remember-me
          %input#remember-me{type: "checkbox", ng-model: "session.rememberMe"}
          %label{for: "remember-me", translate: "sign_in_form.remember_me"}

        .sign-in-form__forgot-password
          %a{ng-click:"redirectTo('/users/password/new')", translate: "sign_in_form.forgot_password"}

      %hr
      %h3.lmo-h3{translate: "sign_in_form.oauth.title"}
      .sign-in-form__providers{ng-if: "providers.length > 0"}
        .sign-in-form__provider{ng-repeat: "provider in providers"}
          %button.md-button.md-raised{type: "button", ng-click: "redirectTo(provider.href)"}
            %i.fa.fa-lg{class: "fa-{{provider.name}}"}>
            %span{translate: "sign_in_form.oauth.{{provider.name}}"}

      .lmo-flex.lmo-flex__space-between
        %button.lmo-btn--cancel{ng-if: "!preventClose", ng-click: "$close()", type: "button", translate: "common.action.cancel"}
        %button.lmo-btn--submit.sign-in-form__submit-button{type: "submit", translate: "sign_in_form.sign_in"}
