.poll-common-outcome-form
  .lmo-disabled-form{ng-if: "isDisabled"}

  %md-input-container.md-block
    %label{translate: "poll_common.statement"}
    %lmo_textarea{model: "outcome", field: "statement", placeholder: "'poll_common_outcome_form.statement_placeholder' | translate"}
    %validation_errors{subject: "outcome", field: "statement"}

  %poll_common_notify_group{model: "outcome", notify-action: "publish"}
  %poll_common_calendar_invite{outcome: "outcome", ng-if: "datesAsOptions()"}

  .lmo-flex.lmo-flex__space-between
    %div
    %md-button.md-raised.md-primary.poll-common-outcome-form__submit{ng-click: "submit()", translate: "poll_common_outcome_form.submit", aria-label: "{{poll_common_outcome_form.submit | translate}}"}
