.loading-wrapper.lmo-one-column-layout
  %loading{ng-if: "!documentsPage.group"}
  %main.documents-page{ng-if: "documentsPage.group"}
    .lmo-group-theme-padding
    %group_theme{group: "documentsPage.group"}
    .lmo-card
      .documents-page__top-bar.lmo-flex.lmo-flex__space-between.lmo-flex__baseline
        %h2.lmo-h2.md-title{translate: "documents_page.title"}
        %md-button.md-primary.md-raised.documents-page__invite{ng-click: "documentsPage.addDocument()", ng-if: "documentsPage.canAdministerGroup()"}
          %span{translate: "documents_page.add_document"}
      %p.lmo-hint-text{ng-if: "!documentsPage.group.hasDocuments(true)", translate: "documents_page.no_documents"}
      .documents-page__documents{ng-if: "documentsPage.group.hasRelatedDocuments()"}
        %md-input-container.md-block.documents-page__search-filter{md-no-float: "true"}
          %input.membership-page__search-filter{ng-model: "documentsPage.fragment", ng-model-options: "{debounce: 300}", ng-change: "documentsPage.fetchDocuments()", placeholder: "{{'documents_page.fragment_placeholder' | translate}}"}
          %i.mdi.mdi-magnify.mdi-24px
        %p.lmo-hint-text{ng-if: "!documentsPage.hasDocuments()", translate: "documents_page.no_documents_from_fragment", translate-value-fragment: "{{documentsPage.fragment}}"}
        %document_management{group: "documentsPage.group", fragment: "documentsPage.fragment"}
    %loading{ng-if: "fetchDocumentsExecuting"}
