.edit-comment-form md-input-container {
  margin: 0;
}

.edit-comment-form md-input-container textarea {
  max-height: inherit;
  overflow: hidden;
}

.edit-comment-form .emoji-picker__menu {
  z-index: $z-low;
}
