//= depend_on "_variables.scss.erb"
@import "variables";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

img {
  height: auto;
  max-width: 100%;
}

pre {
  border: 0;
  font-weight: 400;
  margin: 0;
}

.icon {
  vertical-align: top;
  width: 50px;
}

.light-discussion {
  margin-bottom: 3em;
  width: 600px;
}

.light-discussion .icon img {
  width: 40px;
}

.light-discussion .description {
  margin-bottom: 1em;
}

.activity-feed {
  margin-top: 1em;
}

.content {
  width: 550px;
}

.mailer__header {
  text-align: center;
}

.mailer__header-logo {
  margin: 0 10px;
}

.mailer__header-logo-image {
  height: auto;
  margin: 25px 0 20px;
  max-height: 48px;
  max-width: 400px;
  width: auto;
}

.mailer-tag {
  border: 1px solid currentColor;
  border-radius: 16px;
  font-size: small;
  padding: 4px 8px;
}

.base-mailer__avatar-image {
  object-fit: cover;
}

.base-mailer__button {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 16px;
  text-decoration: none;
  white-space: nowrap;
}

.base-mailer__button--primary {
  background-color: $primary-color;
  color: $text-on-primary-color;
}

.base-mailer__button--accent {
  background-color: $accent-color;
  color: $text-on-accent-color;
}

.invite-people-mailer__value-proposition {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

.thread-mailer__list {
  margin-top: 0;
  padding: 0;
}

.thread-mailer__body img {
  margin-top: 15px;
}

.thread-mailer__footer {
  clear: both;
  font-size: small;
}

.thread-mailer__footer-logo {
  height: 24px;
}

.user-mailer__message-container {
  margin: 40px 0;
}

.user-mailer__code {
  font-size: 36px;
  letter-spacing: 15px;
}

ul[data-type="taskList"] {
  list-style-type: none;
  padding-left: 16px;
}

li[data-type="taskItem"] div,
li[data-type="taskItem"] p {
  display: inline-block;
}

.email-checkbox {
  border: 1px solid currentColor;
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  height: 16px;
  width: 16px;
}

blockquote {
  border-left: 4px solid currentColor;
  margin-left: 0;
  padding: 4px 4px 4px 8px;
}

mark {
  color: #000;
  padding: 0.2em 0.3em;
}

mark[data-color="red"] { background-color: #ef5350; }
mark[data-color="pink"] { background-color: #f48fb1; }
mark[data-color="purple"] { background-color: #ce93d8; }
mark[data-color="blue"] { background-color: #90caf9; }
mark[data-color="green"] { background-color: #a5d6a7; }
mark[data-color="yellow"] { background-color: #fff59d; }
mark[data-color="orange"] { background-color: #ffcc80; }
mark[data-color="brown"] { background-color: #bcaaa4; }
mark[data-color="grey"] { background-color: #e0e0e0; }

.email-table__cell,
.email-table__header,
.email-table__quota {
  padding: 4px 8px;
}

.email-table__cell {
  border-bottom: 1px solid currentColor;
}

.email-table__header {
  border-bottom: 2px solid currentColor;
}

.email-table__quota {
  border-top: 2px solid currentColor;
  font-style: italic;
}

.email-status--elected {
  font-weight: bold;
}

.email-status--eliminated {
  text-decoration: line-through;
}

.email-status--inactive {
  opacity: 0.65;
}

.email-status--tied {
  font-style: italic;
  font-weight: bold;
}

.poll-mailer__poll-option-container {
  border: 1px solid $primary-color;
}

.poll-mailer__option-indicator {
  color: $primary-color;
}

.poll-mailer__result-bar {
  background-color: $primary-color;
}

.poll-meeting-chart td {
  font-size: 0.8rem;
  height: 24px;
}

.poll-meeting-chart__cell {
  border-radius: 2px;
  height: 24px;
  padding: 0;
  width: 24px;
}

.poll-meeting-chart__cell--yes {
  background-color: #22b866;
}

.poll-meeting-chart__cell--maybe {
  background-color: #f5c401;
}

.poll-meeting-chart__meeting-time {
  font-family: monospace;
}

@media (prefers-color-scheme: dark) {
  .poll-mailer__poll-option-container {
    border-color: $dark-primary-color !important;
  }

  .poll-mailer__option-indicator {
    color: $dark-primary-color !important;
  }

  .poll-mailer__result-bar {
    background-color: $dark-primary-color !important;
  }

  .base-mailer__button--primary {
    background-color: $dark-primary-color !important;
    color: $dark-text-on-primary-color !important;
  }

  .base-mailer__button--accent {
    background-color: $dark-accent-color !important;
    color: $dark-text-on-accent-color !important;
  }
}
