.v-application.theme--auto {
background: #fff;
color: rgba(0,0,0,.87);
}

.theme--auto.v-app-bar.v-toolbar.v-sheet {
background-color: #f5f5f5;
}

.theme--auto.v-btn {
color: rgba(0,0,0,.87);
}

.theme--auto.v-footer {
background-color: #f5f5f5;
color: rgba(0,0,0,.87);
}

.theme--auto.v-sheet {
background-color: #fff;
border-color: #fff;
color: rgba(0,0,0,.87);
}

@media (prefers-color-scheme: dark) {
.theme--auto.v-application {
background: #121212;
color: #fff;
}
.theme--auto.v-app-bar.v-toolbar.v-sheet {
background-color: #272727;
}
.theme--auto.v-btn {
color: #fff;
}
.theme--auto.v-footer {
color: #fff;
}
.theme--auto.v-sheet {
background-color: #1e1e1e;
border-color: #1e1e1e;
color: #fff;
}
}
