.action-dock.lmo-flex.lmo-no-print{layout: "row"}
  .action-dock__action{ng-repeat: "action in actions", ng-if: "action.canPerform()"}
    %reactions_input{class: "action-dock__button--react", model: "model", ng-if: "action.name == 'react'"}
    %md-button.md-button--tiny{class: "action-dock__button--{{action.name}}", ng-if: "action.name != 'react'", ng-click: "action.perform()"}
      .sr-only{translate: "action_dock.{{ action.name }}"}
      %i.mdi{class: "{{ action.icon }}"}
      %i.mdi.mdi-plus.lmo-helper-icon{ng-if: "action.hasPlus && !action.active()"}
      %i.mdi.mdi-alert-circle-outline.action-dock--active.lmo-helper-icon{ng-if: "action.active()", md-colors: "{'color': 'warn'}"}
      %md-tooltip{md-delay: "500"}
        %div{translate: "action_dock.{{ action.name }}"}
        %div{ng-if: "action.active()", md-colors: "{'color': 'warn-200'}"}
          %i.mdi.mdi-alert-circle-outline.mdi-16px.lmo-margin-right
          %span{translate: "action_dock.{{ action.name }}_active", ng-if: "action.active()"}
