%form.poll-proposal-form
  .modal-header
    %modal_header_cancel_button
    %i.material-icons thumbs_up_down
    %h1.lmo-h1{ng-if: "poll.isNew()", translate: "poll_proposal_form.start_a_proposal"}
    %h1.lmo-h1{ng-if: "!poll.isNew()", translate: "poll_proposal_form.edit_proposal"}
  .modal-body
    .poll-proposal-form__tip{ng-if: "poll.isNew()"}
      %p{translate: "poll_proposal_form.tip"}
      .poll-proposal-form__learn-more
        %i.material-icons import_contacts
        %p{translate: "poll_proposal_form.learn_more"}

    %input{type: "hidden", ng-model: "poll.pollType"}

    %md-input-container.md-block
      %label{translate: "poll_proposal_form.title"}
      %input.lmo-primary-form-input{type: "text", placeholder: "{{translations.titlePlaceholder}}", ng-model: "poll.title", md-maxlength="250"}
      %validation_errors{subject: "poll", field: "title"}

    %md-input-container.md-block
      %label{translate: "poll_proposal_form.details"}
      %textarea.lmo-primary-form-input{ng-model: "poll.details", placeholder: "{{translations.detailsPlaceholder}}"}
      %validation_errors{subject: "poll", field: "details"}

    %md-list.md-block{ng-if: "poll.isNew()"}
      %label{translate: "poll_proposal_form.options"}
      %md-list-item{ng-repeat: "option in poll.pollOptionsAttributes track by option.name"}
        %img.poll-proposal-form__icon{ng-src: "/img/{{option.name}}.svg"}
        {{option.name}}

    %poll_common_closing_at_field.md-block{poll: "poll"}
    %poll_common_notify_group{model: "poll"}

  .modal-footer
    %md-button.md-primary.md-raised{ng-click: "submit()", ng-if: "!poll.isNew()", translate: "poll_proposal_form.update"}
    %md-button.md-primary.md-raised{ng-click: "submit()", ng-if: "poll.isNew()", translate: "poll_proposal_form.start"}
