.poll-proposal-form__tip {
  @include fontSmall;
  font-style: italic;
}

.poll-proposal-form__learn-more i {
  margin-right: 5px;
  font-size: 18px;
}

.poll-proposal-form__icon {
  width: 40px;
  margin-right: 10px;
}
