%form{ng-submit: 'submit()'}
  .lmo-disabled-form{ng-show: 'isDisabled'}
  .delete-thread-form
    .modal-header
      %button{type: 'button', class: 'close', ng-click: '$close()'}
        %span{aria-hidden: 'true'} &times;
        %span.sr-only{translate: 'common.action.cancel'}
      %h1.lmo-h1{translate: 'delete_thread_form.title'}

    .modal-body
      %span{translate: 'delete_thread_form.body'}
    .modal-footer
      %button.btn.btn-primary.delete_thread_form__submit{type: 'submit', translate: 'delete_thread_form.confirm'}
      %button.btn.btn-warning{ng-click: '$close()', type: 'button', translate: 'common.action.cancel'}