%form.group-form{name: 'groupForm', ng_submit: 'submit()', ng-disabled: 'group.processing'}
  .modal-header
    %button{type: 'button', class: 'close', ng-click: '$close()'}
      %span{aria-hidden: true} &times;
      %span.sr-only{translate: 'common.action.cancel'}
    %h1.lmo-h1.modal-title{translate: 'group_form.new_group_title', ng-if: 'group.isNew()'}
    %h1.lmo-h1.modal-title{translate: 'group_form.edit_group_title', ng-if: '!group.isNew()'}

  .modal-body
    %form_errors{record: 'group'}

    .group-helptext{translate: 'group_form.group_helptext', ng_show: 'group.isNew()'}

    .form-group
      %label{for: 'group-name', translate: 'group_form.name_label'}
      %input.form-control{ng-model: 'group.name', ng-required: 'true'}

    .group-payment-notice{translate: 'group_form.group_payment_reminder', ng-if: 'group.isNew()'}

  .modal-footer
    %button.btn.btn-primary{type: 'submit', translate: 'group_form.new_group_submit', ng-show: 'group.isNew()' }
    %button.btn.btn-primary{type: 'submit', translate: 'group_form.edit_group_submit', ng-hide: 'group.isNew()' }
    %button.btn.btn-warning{type: 'button', ng-click: '$close()', translate: 'common.action.cancel'}
