.loading-wrapper.container.main-container
  %loading{ng-unless: 'groupForm.group'}
  %form.form-card{ng-if: 'groupForm.group', ng_submit: 'groupForm.submit()'}
    %fieldset{ng_disabled: 'isDisabled'}
      %h1{ng_show: 'groupForm.group.isNew() && !groupForm.group.parentId', translate: 'group_form.new_group_title'}
      %h1{ng_show: 'groupForm.group.isNew() && groupForm.group.parentId', translate: 'group_form.new_subgroup_title', translate-value-parent-group-name: '{{group.parentName()}}'}
      %h1{ng_show: '!groupForm.group.isNew()', translate: 'group_form.edit_group_title'}
      .form-group
        %h2{translate: 'group_form.profile_label'}

        %label{for: 'group-name-field', translate: 'group_form.name_label'}
        %input#group-name-field.form-control{placeholder: "{{ 'group_form.name_placeholder' | translate }}", ng-model: 'groupForm.group.name', ng_required: 'true'}

        %label{for: 'group-description-field', translate: 'group_form.description_label'}
        %textarea#group-description-field.form-control{placeholder: "{{ 'group_form.description_placeholder' | translate }}", ng_model: 'groupForm.group.description'}

      .form-group
        %h2{translate: 'group_form.privacy.label'}

        %label{for: 'group-visible-to-members', translate: 'group_form.privacy.visible_to_members'}
        %select#group-visible-to-members-field.form-control{ng_model: 'groupForm.group.visibleTo', ng_required: true}
          %option{value: 'public', ng_show: '!group.parentIsHidden()', translate: 'group_form.privacy.public_visibility'}
          %option{value: 'parent_members', ng_show: 'groupForm.group.parentId', translate: 'group_form.privacy.organization_visibility'}
          %option{value: 'members', translate: 'group_form.privacy.private_visibility'}

        %label{for: 'group-membership-granted-upon', translate: 'group_form.privacy.membership_granted_upon'}
        %select#group-membership-granted-upon-field.form-control{ng_model: 'groupForm.group.membershipGrantedUpon', ng_required: true}
          %option{value: 'request', translate: 'group_form.privacy.membership_by_request'}
          %option{value: 'approval', translate: 'group_form.privacy.membership_by_approval'}
          %option{value: 'invitation', translate: 'group_form.privacy.membership_by_invitation'}

        %label{for: 'group-discussion-privacy-options', translate: 'group_form.privacy.discussion_privacy_options'}
        %select#group-discussion-privacy-options-field.form-control{ng_model: 'groupForm.group.discussionPrivacyOptions', ng_required: true}
          %option{value: 'public_only', translate: 'group_form.privacy.public_discussions' }
          %option{value: 'public_or_private', translate: 'group_form.privacy.public_or_private_discussions' }
          %option{value: 'private_only', translate: 'group_form.privacy.private_discussions'}

      .form-group
        %h2{translate: 'group_form.permissions.label'}
        %strong{translate: 'group_form.permissions.helptext'}

        .checkbox
          %label{for: 'group-members-can-add-members'}
            %input#group-members-can-add-members{type: 'checkbox', ng_model: 'groupForm.group.membersCanAddMembers'}
            %span{translate: 'group_form.permissions.members_can_add_members'}

        .checkbox
          %label{for: 'group-members-can-create-subgroups'}
            %input#group-members-can-create-subgroups{type: 'checkbox', ng_model: 'groupForm.group.membersCanCreateSubgroups'}
            %span{translate: 'group_form.permissions.members_can_create_subgroups'}

        .checkbox
          %label{for: 'group-members-can-start-discussions'}
            %input#group-members-can-start-discussions{type: 'checkbox', ng_model: 'groupForm.group.membersCanStartDiscussions'}
            %span{translate: 'group_form.permissions.members_can_start_discussions'}

        .checkbox
          %label{for: 'group-members-can-edit-discussions'}
            %input#group-members-can-edit-discussions{type: 'checkbox', ng_model: 'groupForm.group.membersCanEditDiscussions'}
            %span{translate: 'group_form.permissions.members_can_edit_discussions'}

        .checkbox
          %label{for: 'group-members-can-edit-comments'}
            %input#group-members-can-edit-comments{type: 'checkbox', ng_model: 'groupForm.group.membersCanEditComments'}
            %span{translate: 'group_form.permissions.members_can_edit_comments'}

        .checkbox
          %label{for: 'group-members-can-raise-motions'}
            %input#group-members-can-raise-motions{type: 'checkbox', ng_model: 'groupForm.group.membersCanRaiseMotions'}
            %span{translate: 'group_form.permissions.members_can_raise_motions'}

        .checkbox
          %label{for: 'group-members-can-vote'}
            %input#group-members-can-vote{type: 'checkbox', ng_model: 'groupForm.group.membersCanVote'}
            %span{translate: 'group_form.permissions.members_can_vote'}

      %button.btn.btn-primary{type: 'submit', translate: 'group_form.new_group_submit', ng_show: 'groupForm.group.isNew()'}
      %button.btn.btn-primary{type: 'submit', translate: 'group_form.edit_group_submit', ng_hide: 'groupForm.group.isNew()'}
