.document-form
  .lmo-hint-text.document-form__helptext{translate: "document.form.helptext"}

  %md-input-container.md-block.md-no-errors
    %label{translate: "document.form.title_label"}
    %input{ng-model: "document.title", placeholder: "{{'document.form.title_placeholder' | translate }}"}
    %validation_errors{subject: "document", field: "url"}

  .lmo-flex.lmo-flex__center{layout: "row"}
    %md-input-container.md-block.lmo-flex__grow.md-no-errors
      %label{translate: "document.form.url_label"}
      %input.lmo-flex__grow{ng-model: "document.url", ng-disabled: "disabled", placeholder: "{{'document.form.url_placeholder' | translate }}"}
      %validation_errors{subject: "document", field: "url"}
    %attachment_form.document-form__attachment-form{model: "model"}

  .lmo-md-action
    %md-button.md-primary.md-raised{ng-click: "submit()", translate: "common.action.save"}
