.document-form.lmo-slide-animation{ng-switch: "currentStep"}
  %document_choose_form.animated{ng-if: "!document.method", document: "document"}
  %document_url_form.animated{ng-if: "document.method && !document.url", document: "document"}
  %document_title_form.animated{ng-if: "document.url", document: "document"}
