.document-form.lmo-slide-animation{ng-switch: "currentStep"}
  %document_method_form.animated{ng-switch-when: "method", document: "document"}
  %document_url_form.animated{ng-switch-when: "url", document: "document"}
  %document_title_form.animated{ng-switch-when: "title", document: "document"}
