.row-fluid
  .span12.category
    - if category
      %h2= link_to_unless_current category.name, category_explore_path(category)
    -else
      %h2= heading



.row-fluid.groups-row
  .span6.col
    - groups.each_with_index do |group, index|
      - next unless index % 2 == 0
      =render 'group', group: group

  .span6.col
    - groups.each_with_index do |group, index|
      - next unless index % 2 == 1
      =render 'group', group: group
