%li.discussion.row{data:{discussion_id: item.id }}
  = link_to item do
    .col-xs-2
      .icon.discussion-icon
        %span.activity-badge.unread-comments-count{title: t(:'tooltip.unread_comments')}
          =item.comments_count

    .col-xs-10
      .title
        = item.title
