.row.groups-row
  .col-md-6
    - groups.each_with_index do |group, index|
      - next unless index % 2 == 0
      =render 'group', group: group

  .col-md-6
    - groups.each_with_index do |group, index|
      - next unless index % 2 == 1
      =render 'group', group: group

.row
  .col-md-12
    = paginate @groups
