.group
  .group-container
    %h1=link_to group.full_name, group
    %p.description=group.description
    -group.motions.public.last(5).each do |motion|
      .row-fluid
        .span1.motion-sparkline
          -values = motion.vote_counts.values
          -if values.sum == 0
            0,0,0,0,1
          -else
            =values.join(',')
        .span11.motion-summary=link_to motion.title, motion

    =link_to t(:'explore.go_to_group', group_name: group.full_name)
