%li.motion.row-fluid{data:{motion_id: item.id}}
  =link_to item do
    .span1
      .icon
        -values = item.vote_counts.values
        .activity-container
          %span.count.unread-votes-count
            - count = item.total_votes_count
            - if count > 0
              =count
        .motion-sparkline
          = motion_sparkline(item)

    .span11.title
      = item.title
