%li.motion.row{data:{motion_id: item.id}}
  =link_to item do
    .col-xs-2
      .icon
        -values = item.vote_counts.values
        .activity-container
          %span.count.unread-votes-count{title: t(:'tooltip.new_votes')}
            - count = item.total_votes_count
            - if count > 0
              =count
        .motion-sparkline
          = motion_sparkline(item)

    .col-xs-10
      .title
        = item.title
