.document-title-form.lmo-relative
  .lmo-disabled-form{ng-show: "isDisabled"}

  %md-input-container.md-block.md-no-errors{ng-if: "!document.isNew() && document.manualUrl"}
    %label{translate: "document.form.url_label"}
    %input.lmo-primary-form-input#document_title{ng-model: "document.url", placeholder: "{{'document.form.url_placeholder' | translate }}"}
    %validation_errors{subject: "document", field: "url"}

  .document-form__helptext.lmo-hint-text{ng-if: "document.isNew()", translate: "document.form.title_helptext"}
  %md-input-container.md-block.md-no-errors
    %label{translate: "document.form.title_label"}
    %input.lmo-primary-form-input#document_title{ng-model: "document.title", placeholder: "{{'document.form.title_placeholder' | translate }}"}
    %validation_errors{subject: "document", field: "title"}

  .lmo-md-actions
    %div{ng-if: "!document.isNew()"}
    %md-button.md-accent{ng-if: "document.isNew()", ng-click: "$emit('previousStep')", translate: "common.action.back", md-prevent-menu-close: "true"}
    %md-button.md-primary.md-raised{ng-click: "submit()", translate: "common.action.save", md-prevent-menu-close: "true"}
