%table
  %tr
    %td= render "base_mailer/avatar", user: poll.user
    %td
      %b=raw t(:"poll_mailer.#{poll.poll_type}.header.poll_created", actor: poll.user.name, title: poll.title) + ", " + poll.created_at.to_formatted_s(:long_ordinal)
