name: minitest

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  minitest:
    runs-on: ubuntu-latest
    env:
      PGDATABASE: loomio_test
      PGHOST: localhost
      PGPORT: 5432
      PGUSER: postgres
      RAILS_ENV: test
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - name: install libvips
      run: |
        sudo apt-get update
        sudo apt-get install -y libvips
    - name: git checkout
      uses: actions/checkout@v4
    - name: install ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4.7'
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: init db
      run: |
        createdb
        cp config/database.yml.postgresql config/database.yml
        bundle exec rake db:setup
    - name: run minitest
      run: |
        bundle exec rails test test/controllers/api/v1/*_controller_test.rb
        bundle exec rails test test/services/*_test.rb
