%md-menu.emoji-picker{ng-class: "{'emoji-picker--reaction': reaction}"}
  %button.md-button--nude.emoji-picker__toggle.lmo-flex{type: "button", tabindex: "-1", ng-click: "toggleMenu($mdMenu, $event)"}
    .sr-only{translate: "emoji_picker.search"}
    %i.mdi.mdi-emoticon
  %md-menu-content.emoji-picker__menu
    %md-input-container.md-block.md-no-errors.emoji-picker__search{ng-if: "!reaction"}
      %label
      %input{ng-model: "term", ng-change: "search(term)", placeholder: "{{'emoji_picker.search' | translate}}"}
    %md-menu-item.emoji-picker__selector{ng-repeat: "emoji in source"}
      %md-button.md-button--tiny.emoji-picker__link{ng-click: "select(emoji)", title: "{{::translate(emoji)}}"}
        .emoji-picker__icon
          %img.emojione{alt: "{{::translate(emoji)}}", ng-src: "{{::imgSrcFor(emoji)}}"}
