.emoji-picker__preview {
  text-transform: capitalize;
}
.emoji-picker__menu {
  @media(min-width: $tiny-max-px) { width: 208px; }
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 4px;
}

.emoji-picker__selector {
  width: 40px !important;
  height: 40px !important;
  min-height: 40px !important;
}
.emoji-picker__link {
  padding: 0 !important;
  height: 40px !important;
  margin: 0 !important;
}

.emoji-picker__icon {
  height: 40px;
}
.emoji-picker__hr {
  margin: 10px 0;
}

.emoji-picker__hovered-name {
  display: inline-block;
  max-width: 145px;
  word-break: normal;
  overflow: hidden;
  vertical-align: middle;
}

.emoji-picker__emojis {
  flex-wrap: wrap;
}


.emoji-picker__selector img.emojione {
  position: static;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.emoji-picker__search {
  width: 100%;
  margin-bottom: 0;
}

.emoji-picker__none-found {
  @include fontSmall;
  padding: 5px 0 10px;
  color: $grey-on-white;
  text-align: center;
}
