.donation-modal
  .modal-header
    %h1.lmo-h1.modal-title{translate: "donation_modal.heading"}

  .modal-body.donation-modal__body
    %img.donation-modal__loomio-team{src: "/img/team-photo.png", alt: "Loomio team photo"}
    %p.donation-modal__message{translate: "donation_modal.body"}

  .modal-footer.lmo-clearfix
    %button.donation-modal__confirm-button{type: "button", ng-click: "makeDonation()"}
      %i.fa.fa-lg.fa-gift>
      %span{translate: "donation_modal.contribute"}
    %button.donation-modal__go-to-group-button{type: "button", ng-click: "$close()", translate: "donation_modal.got_to_group"}