$card-margin: 12px;

.card {
  @include make-xs-column(12, $card-gutter);
  margin-bottom: $card-gutter;
  padding: $card-margin;
  background: #FFF;
  border: 1px solid #ddd;
  max-width: 600px;
  @include screen-size(medium-up) {
    margin-left: 100px;
  }
  h1 {font-size: 2em; margin: 0;}

  h2 {font-size: 2em; margin: 0;}
  h3 {font-size: 1.6em; margin: 0;}
  a {
    color: $teal;
    text-decoration: none;
  }
  &#top{margin-top: $card-margin;}
  .action { text-align: center; }
  .btn { min-width: 80px; }
}

.card__header {
  margin-bottom: $card-margin;
}
.card__header--standalone{
  margin-bottom: 0;
  i{font-size: 1.6em;}
}
.card__header--details {
  font-size: .5em;
  margin-bottom: $card-margin;
}
.card__content{
}
.card__show-more{
  margin-top: $card-margin;
}

.card__title--icon {
  font-size: .8em;
}

#create-a-proposal{
  text-align: center;
  a{font-weight: bold;}
}

.card__discussion-item {
  border-bottom: 1px solid #ddd;
  margin: $card-margin 0 0;
  padding: 0 0 $card-margin;
}

// Non-block elements
.card-row {
  @include make-row($card-margin);
}
// @media (min-width: @screen-sm-min) {
//   .media__img {
//       border: 20px solid green;
//     }
// }
