.card {
  @include make-xs-column(12, $card-gutter);
  margin-bottom: $card-gutter;
  padding: $card-gutter;
  background: #FFF;
  border-radius: 2px;
  @include box-shadow(0px 0px 2px #888888);
  max-width: 600px;
  @include screen-size(medium-up) {
    margin-left: 100px;
  }
  h1{font-size: 2em; margin: 0;}

  h2{font-size: 2em; margin: 0;}
  h3{font-size: 1.6em; margin: 0;}
  a{
    color: #BBB;
    text-decoration: none;
  }
  &#top{margin-top: $card-gutter;}
  .action{
    text-align: center;
  }
}

.card__header {
  margin-bottom: $card-gutter;
}
.card__header--standalone{
  margin-bottom: 0;
  i{font-size: 1.6em;}
}
.card__content{
}
.card__show-more{
  margin-top: $card-gutter;
}

#create-a-proposal{
  text-align: center;
  a{font-weight: bold;}
}

// Non-block elements
.card-row {
  @include make-row($card-gutter);
}
// @media (min-width: @screen-sm-min) {
//   .media__img {
//       border: 20px solid green;
//     }
// }
