/*.media-header, .media-header__info {
  overflow: hidden;
  zoom: 1;
}

*/


.media{
  margin-bottom: 2px;
}
.media__title {
  margin: 0;
}
.media__img {
  float: left;
  margin-right: $card-gutter;
}
.media__img--right {
  float: right;
  margin-left: $card-gutter;
}
.media__img--card {
  @include screen-size(medium-up) {
    position: absolute;
    top: 1px;
    left: -90px;
  }
}
.media__details {
  color: #AAA;
  font-size: 0.8em;
  margin-bottom: $card-gutter;
}
