.pie-chart { text-align: center;  }

#arcs{
	.none{
		fill: #EBEBEB;
	}
	.yes_votes{
		fill: #90D490;
	}
	.no_votes{
		fill: #D49090;
	}
	.abstain_votes{
		fill: #F0BB67;
	}
	.block_votes{
		fill: #DD0000;
	}
}
