.mentio-menu {
  box-shadow: $whiteframe-shadow-4dp;
  padding: 0;
}

.mentio-menu ul {
  margin: 0;
  padding: 0;
}

.mentio-menu__item {
  padding: 8px 8px;
  height: auto;
  cursor: pointer;
  &:not(:last-child) { border-bottom: 1px solid $border-color; }
  &:hover { background: $background-color; }
  &.active { background: $background-color; }
}

.mentio-menu__avatar {
  padding: 0;
}

.mentionable-name {
  @include fontMedium;
  font-weight: bold;
  line-height: 16px;
}

.mentionable-username {
  @include fontSmall;
}

.mentionable-content {
  display: table-cell;
}
