!!!
%html{lang: "en"}
  %head
    %title= AppConfig.theme[:site_name]
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag 'basic/all'
  %body
    %header
      %img{src: AppConfig.theme[:app_logo_src]}
    %main
      = yield
    %footer
    = javascript_include_tag 'angular_ahoy' if AppConfig.app_features[:ahoy_tracking]
