<html>
<head>
  <style>
    body {
      font-family: sans-serif;
      font-size: 16px
    }
    article {
      max-width: 600px
    }
  </style>
</head>
<body>
<article class="container">
<%= yield %>
</article>
</body>
</html>
