<!DOCTYPE html>
%html
%head
  %title= @title
  %link{rel: :stylesheet, href: "/stylesheets/error_page.css"}

%body>
  #error-container
    %a{href: "/", title: "Return Home"}
      %h1#header Loomio
    .content
      = yield
      %a{href: "/"} Return to your home page

  = render 'application/google_analytics', code: ENV['GOOGLE_TAG_MANAGER_ID']
