<!DOCTYPE HTML>
%html
  %head
    = stylesheet_link_tag 'email'
  %body
    .invite-people-mailer
      .invite-people-mailer__container
        .mailer__header
          .mailer__header-logo
            = image_tag "logo-orange-white-800.png", alt: "Loomio logo", class: "mailer__header-logo-image"
        .invite-people-mailer__body
          = yield
