<!DOCTYPE HTML>
%html
  %head
    = stylesheet_link_tag 'email'
  %body
    .invite-people-mailer
      .invite-people-mailer__container
        .mailer__header
          .mailer__header-logo
            = image_tag AppConfig.theme[:email_header_logo_src], alt: "Logo", class: "mailer__header-logo-image"
        .invite-people-mailer__body
          = yield
