!!!
%html{'ng-app' => 'LoomioApp'}
  %head
    %title Loomio Next
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/

    = stylesheet_link_tag    "next", :media => "all"
    = javascript_include_tag "next/application"
    = csrf_meta_tags

  %body
    %base{href: '/next/'}
    .container{'ng-view' => ''}
