.md-attachment-form--dragging {
}

.md-attachment-form__button {
  min-width: 32px;
}

.md-attachment-form__icon {
  font-size: 20px !important;
}

.md-attachment-form-progress-field {
  width: 200px;
  @media(max-width: $tiny-max-px) { width: 100px; }
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  text-align: center;
  position: relative;
}

.md-attachment-form-progress-text {
  position: absolute;
  overflow: auto;
  @include truncateText;
  left: 0;
  line-height: 35px;
  width: 100%;
  z-index: $z-low;
  color: #444;
}

.md-attachment-form__cancel {
  background: none;
  border: none;
  margin: 0;
  font-size: 30px;
  color: white;
  text-shadow: 0 0 3px black;
}

.md-attachment-form-progress-field .md-attachment-form__cancel {
  margin-top: -8px !important;
}

.md-attachment-form-progress-bar {
  background: $background-color;
  width: 100%;
  height: 35px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
}

.md-attachment-form-progress-bar .progress-bar {
  height: 100%;
  min-width: 0;
  background: $loomio-orange;
}
