.md-attachment-form
  %button.md-button--nude.md-attachment-form__button{file-drop: "drop", ng-class: "{'md-attachment-form--dragging': dragging}", type: "button", md-prevent-menu-close: "true", md-icon-button: "", ng-click: "selectFile()", ng-hide: "files", aria-label: "{{ 'comment_form.attachments.add_attachment' | translate }}"}
    %i.mdi.mdi-attachment.md-attachment-form__icon

  %input.md-attachment-form__file-input.hidden{type: "file", file-select: "upload"}
  .lmo-flex.lmo-flex__start{ng-repeat: "file in files"}
    .progress.active.md-attachment-form-progress-field
      %strong.md-attachment-form-progress-text {{ percentComplete }} %
      %md-progress-linear{md-mode: "determinate", value: "{{percentComplete}}"}
    %button.close.md-attachment-form-cancel.cancel-upload.md-attachment-form__cancel{type: "button", ng-click: "abort()"}
      %i.mdi.mdi-close
