.poll-ranked-choice-form
  %poll_common_form_fields{poll: "poll"}
  %poll_common_form_options{poll: "poll"}
  %poll_common_closing_at_field.md-input-compensate.md-block{poll: "poll"}

  .md-input-compensate
    %md-input-container.lmo-flex.lmo-flex__center{layout: "row"}
      .poll-common-checkbox-option__text.md-list-item-text.lmo-flex__grow
        %h3{translate: "poll_ranked_choice_form.minimum_stance_choices"}
        %p.md-caption{translate: "poll_ranked_choice_form.minimum_stance_choices_helptext"}
        %validation_errors{subject: "poll", field: "minimumStanceChoices"}
      %input.lmo-number-input{type: "number", min: "1", ng-model: "poll.customFields.minimum_stance_choices"}

  %poll_common_settings{poll: "poll"}
