%md-dialog.poll-common-delete-modal
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-toolbar
    .md-toolbar-tools.lmo-flex__space-between
      %h1.lmo-h1{translate: "poll_common_delete_modal.title"}
      %dismiss_modal_button

  %md-dialog-content.md-dialog-content
    %p{translate: "poll_common_delete_modal.question"}
  %md-dialog-actions.lmo-md-actions
    %md-button{ng-click: "$close()", translate: "common.action.cancel"}
    %md-button.md-warn.md-raised{ng-click: "submit()", translate: "common.action.delete"}
