.tag-form
  .lmo-disabled-form{ng-show: "isDisabled"}
  %md-input-container.md-block
    %label{for: "tag-name", translate: "loomio_tags.name_label"}
    %input.tag-form__name.lmo-primary-form-input{ng-model: "tag.name", placeholder: "Enter tag name..."}
    %validation_errors{subject: "tag", field: "name"}
  .tag-form__color-option-container
    .tag-form__color-option{ng-repeat: "color in tagColors", style: "background-color: {{color}}", ng-mouseup: "tag.color = color"}
      %i.mdi.mdi-check.mdi-24px{ng-if: "color == tag.color"}
  .lmo-md-actions
    %div{ng-if: "tag.isNew()"}
    .md-button.md-warn{ng-if: "!tag.isNew()", ng-click: "openDestroyForm()", translate: "loomio_tags.destroy_tag"}
    .md-button.md-primary.md-raised.tag-form__submit{ng-click: "submit()", translate: "common.action.save"}
