.tag-form__color-option-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.tag-form__color-option {
  display: flex;
  cursor: pointer;
  width: 31px;
  height: 31px;
  margin: 3px;
  border-radius: 4px;
  i {
    width: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
  }
}
