poll_common_manage_card {
  flex-grow: 1;
}

.poll-common-share-form .md-list-item-inner{
  padding: 0;
}
.poll-common-share-form md-list-item{
  padding: 0;
}


.poll-common-share-form__icon {
  margin-right: 5px;
  line-height: 20px !important;
}

.poll-common-share-form__shareable-link {
  flex-direction: row;
  width: 100%;
}

.poll-common-share-form__add-option {
  align-items: flex-start;
}

.poll-common-share-form__option-icon {
  margin: auto;
}

.poll-common-share-form__visitor {
  justify-content: space-between;
  width: 100%;
}

.poll-common-share-form__loomio-group {
  margin-top: -50px;
  flex-direction: column;
  align-items: flex-start;
}

.poll-common-share-form__emails {
  margin-top: -50px;
}

.poll-common-share-form__email {
  line-height: 48px;
}

.poll-common-share-form__reminded {
  line-height: 48px;
  font-size: 12px;
}

.poll-common-share-form__send-emails {
  margin-top: -40px;
  line-height: 24px;
  min-height: 24px;
  padding: 5px;
}

.poll-common-share-form__copy {
  line-height: 24px;
  min-height: 24px;
  order: 10;
  i { color: rgba(255,255,255,0.87); }
}
