.blank
  %section.group-help-card{ng-if: "showHelpCard()"}
    %h2.lmo-card-heading{translate: "group_help_card.title"}
    .group-help-card__video-wrapper
      .lmo-bank{ng-if: "showVideo"}
        <iframe width="269" height="150" src="https://www.youtube.com/embed/pF-wpXo8Rdw?showinfo=0&nologo=1" frameborder="0" allowfullscreen></iframe>
    .group-help-card__articles
      .media
        .media-left
          %img.group-help-card__article-thumbnail{src: "/img/10-tips.png", alt: "Weaving in agenda points"}
        .media-body
          %a.group-help-card__article-title{href: "http://blog.loomio.org/2015/09/10/10-tips-for-making-great-decisions-with-loomio/", title: "10 tips for making great decisions with Loomio", target: "_blank"}
            %span{translate: "group_help_card.ten_tips_article_title"}
      .media
        .media-left
          %img.group-help-card__article-thumbnail{src: "/img/conversation-to-action.png", alt: "Caring work environment"}
        .media-body
          %a.group-help-card__article-title{href: "http://blog.loomio.org/2015/09/18/9-ways-to-use-a-loomio-proposal-to-turn-a-conversation-into-action/", title: "9 ways to use a Loomio proposal to turn a conversation into action", target: "_blank"}
            %span{translate: "group_help_card.nine_ways_to_use_proposals"}
    %a.group-help-card__more-help.lmo-card-minor-action{lmo-href: "{{helpLink()}}", target: "_blank"}
      %span{translate: "common.more_help"}
