.discussion-fork-actions.lmo-drop-animation
  .discussion-fork-actions__notice.animated.lmo-card.lmo-flex--row.lmo-flex__center{ng-show: "discussion.isForking()"}
    %i.mdi.mdi-call-split.mdi-18px.lmo-margin-right
    %span.lmo-flex__grow{translate: "discussion_fork_actions.helptext"}
    %md-button.md-accent{ng-click: "discussion.forkedEventIds = []", translate: "common.action.cancel"}
    %md-button.md-primary.md-raised.discussion-fork-actions__submit{ng-click: "submit()", translate: "common.action.fork"}
