.md-block.poll-common-notify-group.poll-common-checkbox-option{ng-if: "model.group()"}
  .poll-common-checkbox-option__text.md-list-item-text
    %h3{translate: "poll_common_notify_group.notify_group"}
    %p.md-caption{ng-if: "model.makeAnnouncement", translate: "poll_common_notify_group.members_count", translate-value-count: "{{model.communitySize()}}"}
    %p.md-caption{ng-if: "!model.makeAnnouncement", translate: "poll_common_notify_group.members_helptext"}
  %md-checkbox{ng-model: "model.makeAnnouncement"}
