%md-button.md-icon-button.material-modal-header-cancel-button.modal-cancel{aria-label: "close", ng-click: "$close()"}
  %span.sr-only{translate: "common.action.cancel"}
  %i.mdi.mdi-24px.mdi-window-close
