%md-list.md-block.pending-email-form
  %md-list-item.pending-email-form__emails{ng-if: "emails.length", layout: "column"}
    .pending-email-form__email.lmo-flex.lmo-flex__space-between.lmo-flex__center{ng-repeat: "email in emails track by $index"}
      .pending-email-form__email-row.lmo-flex__grow {{email}}
      %md-button.lmo-inline-action{ng-click: "remove(email)"}
        %i.mdi.mdi-close

  %md-list-item.pending-email-form__add-option.lmo-flex__align-top{flex: "true", layout: "row"}
    %md-input-container.lmo-flex__grow{md-no-float: "true"}
      %input.pending-email-form__add-option-input{type: "text", placeholder: "{{ 'pending_email_form.enter_email' | translate }}", ng-model: "newEmail"}
    %md-button.pending-email-form__option-button.pending-email-form__add-button{ng-click: "addIfValid()", ng-disabled: "emails.length == 0", aria-label: "{{ 'pending_email_form.enter_email' | translate }}"}
      %i.mdi.mdi-plus
  .lmo-validation-error {{ emailValidationError }}

  .lmo-flex.lmo-flex__space-between
    %div
    %md-button.md-primary.md-raised.poll-common-share-form__button.poll-common-share-form__option-button{ng-disabled: "emails.length == 0", ng-click: "submit()", aria-label: "{{ 'pending_email_form.send_email' | translate }}"}
      %span{translate: "pending_email_form.send_email"}
