.poll-common-collapsed.lmo-card-padding
  %poll_common_chart_preview{poll: "poll"}
  .poll-common-collapsed__content
    .md-subhead.md-primary
      %strong> {{formattedPollType(poll.pollType)}}:
      %span> {{poll.title}}
    .md-caption.lmo-grey-on-white
      %span{translate: "poll_common_collapsed.by_who", translate-value-name: "{{poll.authorName()}}"}>
      %span>·
      %poll_common_closing_at{poll: "poll"}
